Repository nicsuzor/academicOps: changes, and which pre-commit hooks are due for each by the changed paths.
All: radon-complexity, radon-maintainability, test-architecture, pytest

radon-complexity:
  name: Check code complexity
  entry: uv run radon cc --min B --total-average
  language: system
  pass_filenames: true

radon-maintainability:
  name: Check maintainability index
  entry: uv run radon mi --min B
  language: system
  pass_filenames: true

test-architecture:
  name: Enforce test architecture rules
  entry: uv run python scripts/check_test_architecture.py
  language: system
  pass_filenames: false

pytest:
  name: Run tests (parallel)
  entry: uv run pytest -n auto -m "not slow and not integration and not endtoend"
  language: system
  pass_filenames: false
  stages:
  - pre-commit

consolidate: merge session-analyzer into session-insights
  INDEX.md
  commands/analyze-sessions.md
  skills/session-analyzer/SKILL.md
  skills/session-insights/SKILL.md
Due: none

add H18: Distinguish Script Processing from LLM Reading
  HEURISTICS.md
Due: none

improve transcript formatting
  lib/session_reader.py
  skills/transcript/SKILL.md
Due: radon-complexity, radon-maintainability, pytest

don't reference axioms
  HEURISTICS.md
  pyproject.toml
  reference-graph.csv
  skills/dashboard/dashboard.py
  skills/feature-dev/templates/dev-plan.md
  skills/feature-dev/templates/experiment-plan.md
  skills/feature-dev/templates/test-spec.md
  skills/feature-dev/templates/user-story.md
  skills/framework/SKILL.md
  skills/framework/workflows/01-design-new-component.md
  skills/framework/workflows/02-debug-framework-issue.md
  skills/framework/workflows/05-review-pull-request.md
  skills/framework/workflows/06-develop-specification.md
  skills/link-audit/SKILL.md
  skills/osb-drafting/templates/case-analysis.md
  skills/osb-drafting/templates/verification-checklist.md
Due: radon-complexity, radon-maintainability, pytest

docs(session-insights): add daily note format specification
  skills/session-insights/SKILL.md
Due: none

config: replace bmem with remote memory server over Tailscale
  .gitmodules
  config/claude/mcp.json
Due: none

wip: remove bmem, add remember skill
  AXIOMS.md
  BMEM-ARCHITECTURE.md
  BMEM-CLAUDE-GUIDE.md
  BMEM-FORMAT.md
  BMEM-OBSIDIAN-GUIDE.md
  CLAUDE.md
  FRAMEWORK.md
  GEMINI.md
  HEURISTICS.md
  commands/bmem-save.md
  config/claude/mcp.json
  hooks/prompt_router.py
  hooks/prompts/bmem-reminder.md
  pyproject.toml
  scripts/bmem_tools.py
  skills/bmem/SKILL.md
  skills/bmem/references/approved-categories-relations.md
  skills/bmem/references/detail-level-guide.md
  skills/bmem/references/observation-quality-guide.md
  skills/bmem/references/obsidian-compatibility.md
  skills/bmem/references/obsidian-format-spec.md
  skills/bmem/scripts/analyze_tags.py
  skills/bmem/scripts/bmem_fix.py
  skills/bmem/scripts/ensure_indexes.py
  skills/bmem/scripts/find_duplicates.py
  skills/bmem/scripts/validate_links.py
  skills/bmem/workflows/capture.md
  skills/bmem/workflows/prune.md
  skills/bmem/workflows/validate.md
  skills/framework/references/basic-memory-ai-guide.md
  skills/framework/references/basic-memory-mcp-tools.md
  skills/framework/references/basic-memory-sync-guide.md
  skills/remember/SKILL.md
  tests/integration/test_bmem_diagnostic.py
  tests/integration/test_bmem_skill.py
  tests/integration/test_bmem_yaml_escaping.py
  tests/test_bmem_default_project.py
  tests/test_bmem_retrieval.py
Due: radon-complexity, radon-maintainability, test-architecture, pytest

wip: update tests for bmem → memory migration
  tests/conftest.py
  tests/integration/test_ios_note_capture_e2e.py
  tests/test_email_workflow_tools.py
Due: radon-complexity, radon-maintainability, test-architecture, pytest

docs: add bmem migration instructions for parallel agents
  MIGRATION-BMEM.md
Due: none

chore: migrate Tier 1 files from bmem to memory server
  GEMINI.md
  INDEX.md
  README.md
  RULES.md
  agents/intent-router.md
  commands/diag.md
  commands/email.md
  commands/meta.md
  commands/pull.md
  commands/strategy.md
  commands/ttd.md
  scripts/transcribe_recording.sh
  skills/learning-log/SKILL.md
  skills/link-audit/SKILL.md
  skills/osb-drafting/SKILL.md
  skills/session-insights/SKILL.md
  tests/HOOK_TEST_PROTOCOL.md
  tests/README.md
Due: none

refactor: migrate Tier 2 files from bmem to memory server
  commands/parallel-batch.md
  commands/qa.md
  commands/task-viz.md
  hooks/autocommit_state.py
  hooks/request_scribe.py
  lib/session_analyzer.py
  scripts/migrate_log_entries.py
  setup.sh
  skills/dashboard/SKILL.md
  skills/extractor/SKILL.md
  skills/extractor/extractor.md
  tests/integration/conftest.py
  tests/integration/test_autocommit_data.py
  tests/integration/test_prompt_router_haiku_flow.py
  tests/integration/test_skill_delegation_pattern.py
  tests/integration/test_skill_invocation_e2e.py
  tests/integration/test_subagent_skill_invocation.py
  tests/test_request_scribe_hook.py
  tests/test_session_analyzer_dashboard.py
  tests/test_task_server_integration.py
  tests/tools/conftest.py
Due: radon-complexity, radon-maintainability, test-architecture, pytest

refactor: migrate Tier 3 core workflows from bmem to memory server
  .github/workflows/ios-note-capture.yml
  skills/dashboard/dashboard.py
  skills/extractor/tests/test_archive_integration.sh
  skills/framework/SKILL.md
  skills/framework/references/e2e-test-harness.md
  skills/framework/references/script-design-guide.md
  skills/framework/references/strategic-partner-mode.md
  skills/framework/tests/test_email_workflow_tools.py
  skills/tasks/SKILL.md
  skills/tasks/scripts/task_add.py
  skills/tasks/task_ops.py
  skills/tasks/tasks.md
  skills/tasks/workflows/email-capture.md
Due: radon-complexity, radon-maintainability, pytest

docs: mark bmem → memory migration complete in ROADMAP
  config/claude/mcp.json
Due: none

docs: restore remember skill workflows and references
  skills/remember/SKILL.md
  skills/remember/references/detail-level-guide.md
  skills/remember/references/obsidian-format-spec.md
  skills/remember/workflows/capture.md
  skills/remember/workflows/prune.md
  skills/remember/workflows/validate.md
Due: none

refactor: fragment-based MCP config for cross-platform outlook
  .gitignore
  config/claude/mcp-base.json
  config/claude/mcp-outlook-macos.json
  config/claude/mcp-outlook-proxy.json
  config/claude/mcp-outlook-windows.json
  setup.sh
Due: none

update
  skills/remember/workflows/prune.md
  skills/session-insights/SKILL.md
Due: none

chore: remove completed migration doc
  MIGRATION-BMEM.md
Due: none

docs: add ENFORCEMENT.md - mechanism ladder for agent behavior
  docs/ENFORCEMENT.md
Due: none

skill: add framework-review for periodic health checks
  skills/framework-review/SKILL.md
  skills/framework-review/resources/AXIOMS.md
  skills/framework-review/resources/ENFORCEMENT.md
Due: none

metadata
  skills/analyst/SKILL.md
Due: none

refactor: rewrite RULES.md as curated MoC
  RULES.md
Due: none

refactor: consolidate ENFORCEMENT.md into RULES.md
  HEURISTICS.md
  RULES.md
  commands/learn.md
  skills/framework-review/SKILL.md
  skills/framework/ENFORCEMENT.md
Due: none

test: add E2E tests for Gemini MCP and intent-router
  pyproject.toml
  tests/integration/test_gemini_mcp_e2e.py
  tests/integration/test_intent_router_e2e.py
Due: radon-complexity, radon-maintainability, test-architecture, pytest

test: remove xfail markers from intent-router tests
  tests/integration/test_intent_router_e2e.py
Due: radon-complexity, radon-maintainability, test-architecture, pytest

feat(transcript): generate both full+abridged, new filename convention
  RULES.md
  scripts/claude_transcript.py
  skills/session-insights/SKILL.md
  skills/transcript/SKILL.md
Due: radon-complexity, radon-maintainability, pytest

feat(email): add sent folder check and present-before-archive
  commands/email.md
  skills/tasks/workflows/email-capture.md
Due: none

add: Maps of Content for framework folders
  agents/agents.md
  commands/commands.md
  docs/docs.md
  hooks/hooks.md
  lib/lib.md
  scripts/scripts.md
  skills/skills.md
Due: none

add(skill): garden - incremental PKM maintenance
  skills/garden/SKILL.md
  skills/skills.md
Due: none

feat(router): v4 LLM-first intent routing with capabilities index
  INDEX.md
  agents/intent-router.md
  config/capabilities.md
  hooks/prompt_router.py
  hooks/prompts/intent-router.md
  skills/framework/workflows/01-design-new-component.md
  tests/test_prompt_router.py
Due: radon-complexity, radon-maintainability, test-architecture, pytest

update: task dedup, email workflow, skill cleanup
  INDEX.md
  docs/docs.md
  skills/excalidraw/SKILL.md
  skills/excalidraw/excalidraw.md
  skills/reference-map.md
  skills/remember.md
  skills/tasks/scripts/task_add.py
  skills/tasks/tasks.md
  skills/tasks/workflows/email-capture.md
  tests/README.md
  tests/manual_test_skill_discovery.md
Due: radon-complexity, radon-maintainability, pytest

feat(session-insights): extract user corrections with context for /learn
  skills/session-insights/SKILL.md
  skills/session-insights/mining-prompt.md
Due: none

feat(framework): add H23 memory synthesis heuristic and garden synthesize mode
  HEURISTICS.md
  skills/framework/SKILL.md
  skills/garden/SKILL.md
Due: none

update: framework improvements and intent router test
  AXIOMS.md
  agents/intent-router.md
  commands/meta.md
  config/capabilities.md
  config/claude/mcp-base.json
  config/claude/settings.json
  docs/OBSERVABILITY.md
  hooks/autocommit_state.py
  skills/framework/workflows/02-debug-framework-issue.md
  skills/learning-log/SKILL.md
  skills/session-insights/SKILL.md
  skills/session-insights/mining-prompt.md
  tests/integration/test_autocommit_data.py
  tests/integration/test_intent_router_accuracy.py
Due: radon-complexity, radon-maintainability, test-architecture, pytest

add context7
  config/capabilities.md
Due: none

chore(heuristics): add H7a - wikilinks in prose only
  HEURISTICS.md
Due: none

feat: add Cloudflare R2 prompt logging to UserPromptSubmit hook
  hooks/user_prompt_submit.py
  skills/dashboard/SKILL.md
  tests/hooks/test_cloudflare_logging.py
Due: radon-complexity, radon-maintainability, test-architecture, pytest

context7
  config/claude/settings.json
Due: none

feat: add cross-machine activity panel to dashboard
  skills/dashboard/dashboard.py
Due: radon-complexity, radon-maintainability, pytest

update settings
  config/claude/settings.json
Due: none

test: add success path test and fix mocks for cloudflare logging
  tests/hooks/test_cloudflare_logging.py
Due: radon-complexity, radon-maintainability, test-architecture, pytest

Path conditions:
  radon-complexity: any of: \.py$
  radon-maintainability: any of: \.py$
  test-architecture: any of: ^tests/.*\.py$
  pytest: any of: \.py$
