Repository nicsuzor/academicOps: changes, and which pre-commit hooks are due for each by the changed paths.
All: dprint, check-framework-integrity

.pre-commit-config.yaml:

# Pre-commit hooks for academicOps framework governance
# See https://pre-commit.com for more info

repos:
  # Markdown/JSON/TOML validation (dprint - check-only, no auto-fix)
  # Ruff check --fix auto-fixes what it can; ruff-format checks formatting
  - repo: local
    hooks:
      - id: dprint
        name: dprint check
        entry: uv run dprint check
        language: system
        types_or: [markdown, json, toml]
        pass_filenames: true

  # Markdown linting (catches issues dprint doesn't fix)
  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.12.1
    hooks:
      - id: markdownlint-cli2
        exclude: '^archived/'

  # Standard hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: '\.excalidraw$'
      - id: end-of-file-fixer
        exclude: '\.excalidraw$'
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
        args: ['--maxkb=500']

  # Python linting (auto-fix enabled)
  # Ruff check --fix auto-fixes what it can; ruff-format checks formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.4
    hooks:
      - id: ruff
        args: [--fix]
        exclude: '^archived/'
      - id: ruff-format
        args: [--check]
        exclude: '^archived/'

  # Framework integrity checks (index wikilinks, skill entries, workflow length)
  # Consolidates check-workflow-length + new index integrity validation
  - repo: local
    hooks:
      - id: check-framework-integrity
        name: framework integrity check
        entry: uv run python scripts/check_framework_integrity.py
        language: system
        pass_filenames: false
        files: '(WORKFLOWS|SKILLS)\.md$|workflows/.*\.md$|skills/.*/SKILL\.md$|commands/.*\.md$'

  # Type checking and full framework health checks run in CI only
  # (see .github/workflows/framework-health.yml)
  #
  # Moved to CI:
  # - basedpyright: full type analysis too slow for every commit
  # - check-skill-line-count: whole-repo scan, not file-scoped
  # - check-orphan-files: whole-repo scan, not file-scoped
  # - check-framework-integrity --full: slow full codebase wikilink scan
  # - audit_framework_health: comprehensive audit

feat(pkb): values alignment, cognitive science rationale, PR-based QA gate
  aops-core/HEURISTICS.md
  aops-core/RULES.md
  aops-core/agents/framework-ops.md
  aops-core/skills/remember/SKILL.md
  aops-core/skills/sleep/SKILL.md
  specs/sleep-cycle.md
  templates/github-workflows/sleep-cycle.yml
Due: dprint, check-framework-integrity

feat(pkb): quality exemplars from dogfooding + knowledge note dedup
  aops-core/skills/remember/procedures/consolidate.md
  aops-core/skills/remember/references/quality-exemplars.md
  aops-core/skills/sleep/SKILL.md
Due: dprint, check-framework-integrity

feat(ci): install script + workflow CI fixes
  scripts/install-brain-workflows.sh
  templates/github-workflows/pkb-quality-review.yml
  templates/github-workflows/transcript-extraction.yml
Due: none

feat(pkb): evaluation feedback loop — quality findings → procedure improvements
  aops-core/skills/remember/procedures/consolidate.md
  aops-core/skills/sleep/SKILL.md
Due: dprint, check-framework-integrity

fix(spec): sync sleep-cycle.md with SKILL.md — schedule, missing phases
  specs/sleep-cycle.md
Due: dprint

fix(cowork): ship MCP launch scripts in aops-cowork dist
  dist/aops-cowork/scripts/ensure-path.sh
  dist/aops-cowork/scripts/run-mcp.sh
  scripts/build.py
Due: none

fix(pkb): consolidation must delete superseded files, file in correct dirs
  aops-core/skills/remember/procedures/consolidate.md
Due: dprint

feat(session-insights): replace Gemini with Claude-native extraction pipeline
  archived/skills/session-insights/SKILL.md
  qa-review-session-insights.md
  session-insights-dogfood.md
  specs/session-insights-prompt.md
Due: dprint, check-framework-integrity

paths and workflows
  .github/workflows/agent-merge-prep.yml
  .github/workflows/axiom-review.yml
  .github/workflows/lint.yml
  .github/workflows/merge-prep-cron.yml
  .github/workflows/pr-pipeline.yml
  Makefile
  aops-core/lib/session_reader.py
  aops-core/lib/transcript_parser.py
  aops-core/scripts/transcript.py
  scripts/patch-cowork-mcp.sh
  specs/pr-pipeline.md
Due: dprint

feat(session-insights): Claude-native extraction pipeline (#449)
  aops-core/lib/insights_generator.py
  archived/skills/session-insights/SKILL.md
  archived/skills/session-insights/scripts/find_pending.py
  qa-review-session-insights.md
  session-insights-dogfood.md
  specs/session-insights-prompt.md
Due: dprint, check-framework-integrity

feat(review): add critic agent + strategic-review supervisor skill (v0.1)
  aops-core/SKILLS.md
  aops-core/agents/critic.md
  aops-core/skills/remember/procedures/consolidate.md
  aops-core/skills/strategic-review/SKILL.md
Due: dprint, check-framework-integrity

refactor(review-enforcement): consolidate critic, enforcer, qa agents into fewer canonical homes
  .agents/skills/critic/SKILL.md
  .agents/skills/enforcer/SKILL.md
  .agents/skills/qa/SKILL.md
  aops-core/SKILLS.md
  aops-core/agents/custodiet.md
  aops-core/agents/enforcer.md
  aops-core/skills/qa/SKILL.md
  aops-core/skills/remember/procedures/consolidate.md
  aops-core/skills/strategic-review/SKILL.md
Due: dprint, check-framework-integrity

refactor(agents): rename enforcer→pauli, custodiet→rbg, qa→marsha
  .agents/skills/enforcer/SKILL.md
  .agents/skills/qa/SKILL.md
  .markdownlint-cli2.jsonc
  aops-core/SKILLS.md
  aops-core/agents/custodiet.md
  aops-core/agents/enforcer.md
  aops-core/agents/marsha.md
  aops-core/agents/pauli.md
  aops-core/agents/rbg.md
  aops-core/skills/supervisor/SKILL.md
  dist/aops-claude/SKILLS.md
  dist/aops-claude/agents/custodiet.md
  dist/aops-claude/agents/enforcer.md
  dist/aops-claude/agents/marsha.md
  dist/aops-claude/agents/pauli.md
  dist/aops-claude/agents/rbg.md
  dist/aops-claude/lib/insights_generator.py
  dist/aops-claude/lib/session_reader.py
  dist/aops-claude/lib/transcript_parser.py
  dist/aops-claude/scripts/transcript.py
  dist/aops-claude/skills/qa/SKILL.md
  dist/aops-claude/skills/remember/procedures/consolidate.md
  dist/aops-claude/skills/strategic-review/SKILL.md
  dist/aops-claude/skills/supervisor/SKILL.md
  dist/aops-cowork/SKILLS.md
  dist/aops-cowork/agents/custodiet.md
  dist/aops-cowork/agents/enforcer.md
  dist/aops-cowork/agents/marsha.md
  dist/aops-cowork/agents/pauli.md
  dist/aops-cowork/agents/rbg.md
  dist/aops-cowork/skills/qa/SKILL.md
  dist/aops-cowork/skills/remember/procedures/consolidate.md
  dist/aops-cowork/skills/strategic-review/SKILL.md
  dist/aops-cowork/skills/supervisor/SKILL.md
Due: dprint, check-framework-integrity

feat(build): generate GHA agent prompts from canonical aops-core/agents/ sources
  .github/agents/autofix.agent.md
  scripts/build.py
Due: dprint

feat(project): context-map audit workflow and updated map for academicOps
  .agents/context-map.json
  aops-core/skills/project/instructions/init.md
  aops-core/skills/project/workflows/context-map-audit.md
  aops-core/skills/remember/procedures/consolidate.md
Due: dprint, check-framework-integrity

feat(build): generate reusable GHA workflows for dist repo
  scripts/build.py
Due: none

refactor(agents): address PR review — personality-only agents, DRY axioms, flexible pipeline
  .agents/skills/critic/SKILL.md
  .agents/skills/enforcer/SKILL.md
  .agents/skills/framework/references/enforcement-map.md
  .agents/skills/qa/SKILL.md
  aops-core/SKILLS.md
  aops-core/agents/marsha.md
  aops-core/agents/pauli.md
  aops-core/agents/rbg.md
  aops-core/lib/session_reader.py
  aops-core/lib/session_state.py
  aops-core/scripts/compliance_block.py
  aops-core/skills/strategic-review/SKILL.md
  dist/aops-claude/.claude-plugin/plugin.json
  dist/aops-claude/SKILLS.md
  dist/aops-claude/agents/marsha.md
  dist/aops-claude/agents/pauli.md
  dist/aops-claude/agents/rbg.md
  dist/aops-claude/lib/session_reader.py
  dist/aops-claude/lib/session_state.py
  dist/aops-claude/pyproject.toml
  dist/aops-claude/scripts/compliance_block.py
  dist/aops-claude/scripts/rbg_block.py
  dist/aops-claude/skills/strategic-review/SKILL.md
  dist/aops-cowork/.claude-plugin/plugin.json
  dist/aops-cowork/SKILLS.md
  dist/aops-cowork/agents/marsha.md
  dist/aops-cowork/agents/pauli.md
  dist/aops-cowork/agents/rbg.md
  dist/aops-cowork/skills/strategic-review/SKILL.md
  tests/lib/test_custodiet_block.py
Due: dprint, check-framework-integrity

fix(build): resolve basedpyright type error in generate_reusable_workflows
  scripts/build.py
Due: none

refactor(review-enforcement): consolidate critic, enforcer, qa agents into fewer canonical homes (#457)
  .agents/skills/critic/SKILL.md
  .agents/skills/enforcer/SKILL.md
  .agents/skills/qa/SKILL.md
  aops-core/SKILLS.md
  aops-core/agents/custodiet.md
  aops-core/agents/enforcer.md
  aops-core/skills/qa/SKILL.md
  aops-core/skills/remember/procedures/consolidate.md
  aops-core/skills/strategic-review/SKILL.md
Due: dprint, check-framework-integrity

fix(build): remove hardcoded model from generated GHA workflows
  scripts/build.py
Due: none

feat(project): context-map audit workflow and updated map (#460)
  .agents/context-map.json
  aops-core/skills/project/instructions/init.md
  aops-core/skills/project/workflows/context-map-audit.md
  aops-core/skills/remember/procedures/consolidate.md
Due: dprint, check-framework-integrity

fix(build): remove hardcoded model from generated GHA workflows (#462)
  scripts/build.py
Due: none

refactor(agents): rename enforcer→pauli, custodiet→rbg, qa→marsha
  .agents/skills/enforcer/SKILL.md
  .agents/skills/qa/SKILL.md
  .markdownlint-cli2.jsonc
  aops-core/SKILLS.md
  aops-core/agents/custodiet.md
  aops-core/agents/enforcer.md
  aops-core/agents/marsha.md
  aops-core/agents/pauli.md
  aops-core/agents/rbg.md
  aops-core/skills/strategic-review/SKILL.md
  aops-core/skills/supervisor/SKILL.md
Due: dprint, check-framework-integrity

refactor(agents): address PR review — personality-only agents, DRY axioms, flexible pipeline
  .agents/skills/critic/SKILL.md
  .agents/skills/enforcer/SKILL.md
  .agents/skills/framework/references/enforcement-map.md
  .agents/skills/qa/SKILL.md
  aops-core/SKILLS.md
  aops-core/agents/marsha.md
  aops-core/agents/pauli.md
  aops-core/agents/rbg.md
  aops-core/lib/session_reader.py
  aops-core/lib/session_state.py
  aops-core/scripts/compliance_block.py
  aops-core/skills/strategic-review/SKILL.md
  dist/aops-claude/scripts/rbg_block.py
  tests/lib/test_custodiet_block.py
Due: dprint, check-framework-integrity

fix(tests): update core agents list for rename (custodiet→rbg, qa→marsha)
  tests/test_plugin_structure.py
Due: none

feat(agents): add critic agent — 10-move strategic review specialist
  aops-core/agents/critic.md
Due: dprint

fix: re-apply agent rename (pauli/rbg/marsha) from PR #458 (#463)
  .agents/skills/critic/SKILL.md
  .agents/skills/enforcer/SKILL.md
  .agents/skills/framework/references/enforcement-map.md
  .agents/skills/qa/SKILL.md
  .markdownlint-cli2.jsonc
  aops-core/SKILLS.md
  aops-core/agents/custodiet.md
  aops-core/agents/enforcer.md
  aops-core/agents/marsha.md
  aops-core/agents/pauli.md
  aops-core/agents/qa.md
  aops-core/agents/rbg.md
  aops-core/lib/session_state.py
  aops-core/scripts/compliance_block.py
  aops-core/skills/strategic-review/SKILL.md
  aops-core/skills/supervisor/SKILL.md
  tests/lib/test_custodiet_block.py
  tests/test_plugin_structure.py
Due: dprint, check-framework-integrity

feat(agents): add critic agent — 10-move strategic review specialist (#464)
  aops-core/agents/critic.md
Due: dprint

feat(review): add critic agent + strategic-review supervisor skill (v0.1)
  aops-core/SKILLS.md
Due: dprint, check-framework-integrity

feat(review): add critic agent + strategic-review supervisor skill (v0.1) (#456)
  aops-core/SKILLS.md
Due: dprint, check-framework-integrity

clean up
  CHANGELOG.md
  CLAUDE.md
  coverage_report.txt
  coverage_report_v1.1.md
  docs/hooks.md
  docs/investigations/custodiet-truncation.md
  qa-review-session-insights.md
  scripts/archived/automated_test_harness.py
  scripts/archived/convert_mcp_to_gemini.py
  scripts/archived/scan_session_summaries.py
  scripts/archived/sync_brain_to_memory.py
  scripts/bin/fast-indexer
  scripts/brain-push.sh
  scripts/brain-sync.sh
  scripts/extract_fixtures.py
  scripts/format.sh
  scripts/hooks/lifecycle/queue-drain.sh
  scripts/hooks/lifecycle/stale-check.sh
  scripts/lib/incoming_processor.py
  scripts/systemd/README.md
  scripts/systemd/brain-sync.service
  scripts/systemd/brain-sync.timer
Due: dprint

remove dist tests
  tests/hooks/test_dist_protection.py
Due: none

feat(axioms): remove P#48 (Human Tasks Are Not Agent Tasks) + fix GHA agent axiom loading
  .agents/rules/AXIOMS.md
  .agents/rules/HEURISTICS.md
  .agents/skills/framework/enforcement-map.md
  .agents/workflows/manual-qa.md
  .github/agents/pr-reviewer.agent.md
  .github/agents/qa.agent.md
  aops-core/.claude-plugin/plugin.json
  aops-core/AXIOMS.md
  aops-core/RULES.md
  aops-core/agents/rbg.md
  aops-core/commands/critic.md
  aops-core/commands/enforcer.md
  aops-core/config/automode-rules.json
  aops-core/enforcement-map.md
  aops-core/skills/remember/procedures/consolidate.md
  polecat/defaults/claude-settings.json
  tests/manual/hydrator-tool-awareness-test-plan.md
Due: dprint, check-framework-integrity

feat(axioms): remove P#48 (Human Tasks Are Not Agent Tasks) + fix GHA agent axiom loading (#465)
  .agents/rules/AXIOMS.md
  .agents/rules/HEURISTICS.md
  .agents/skills/framework/enforcement-map.md
  .agents/workflows/manual-qa.md
  .github/agents/pr-reviewer.agent.md
  .github/agents/qa.agent.md
  aops-core/.claude-plugin/plugin.json
  aops-core/AXIOMS.md
  aops-core/RULES.md
  aops-core/agents/rbg.md
  aops-core/commands/critic.md
  aops-core/commands/enforcer.md
  aops-core/config/automode-rules.json
  aops-core/enforcement-map.md
  aops-core/skills/remember/procedures/consolidate.md
  polecat/defaults/claude-settings.json
  tests/manual/hydrator-tool-awareness-test-plan.md
Due: dprint, check-framework-integrity
