Repository nicsuzor/academicOps: changes, and which pre-commit hooks are due for each by the changed paths.
All: dprint, check-framework-integrity

.pre-commit-config.yaml:

# Pre-commit hooks for academicOps framework governance
# See https://pre-commit.com for more info

repos:
  # Markdown/JSON/TOML validation (dprint - check-only, no auto-fix)
  # Ruff check --fix auto-fixes what it can; ruff-format checks formatting
  - repo: local
    hooks:
      - id: dprint
        name: dprint check
        entry: uv run dprint check
        language: system
        types_or: [markdown, json, toml]
        pass_filenames: true

  # Markdown linting (catches issues dprint doesn't fix)
  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.12.1
    hooks:
      - id: markdownlint-cli2
        exclude: '^archived/'

  # Standard hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: '\.excalidraw$'
      - id: end-of-file-fixer
        exclude: '\.excalidraw$'
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
        args: ['--maxkb=500']

  # Python linting (auto-fix enabled)
  # Ruff check --fix auto-fixes what it can; ruff-format checks formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.4
    hooks:
      - id: ruff
        args: [--fix]
        exclude: '^archived/'
      - id: ruff-format
        args: [--check]
        exclude: '^archived/'

  # Framework integrity checks (index wikilinks, skill entries, workflow length)
  # Consolidates check-workflow-length + new index integrity validation
  - repo: local
    hooks:
      - id: check-framework-integrity
        name: framework integrity check
        entry: uv run python scripts/check_framework_integrity.py
        language: system
        pass_filenames: false
        files: '(WORKFLOWS|SKILLS)\.md$|workflows/.*\.md$|skills/.*/SKILL\.md$|commands/.*\.md$'

  # Type checking and full framework health checks run in CI only
  # (see .github/workflows/framework-health.yml)
  #
  # Moved to CI:
  # - basedpyright: full type analysis too slow for every commit
  # - check-skill-line-count: whole-repo scan, not file-scoped
  # - check-orphan-files: whole-repo scan, not file-scoped
  # - check-framework-integrity --full: slow full codebase wikilink scan
  # - audit_framework_health: comprehensive audit

add dispatch instructions
  plugins/orchestrate/agents/james.md
Due: dprint

polecat: boot dispatched workers as james by default
  lib/polecat/cli.py
  tests/polecat/test_container_invocation.py
Due: none

honesty handback
  plugins/orchestrate/hooks/messages/honesty.md
Due: dprint

honesty review full
  plugins/orchestrate/hooks/messages/honesty.md
Due: dprint

docs: add enforcement register, slim the enforcement spec
  specs/ENFORCEMENT-MAP.md
  specs/README.md
  specs/enforcement/enforcement.md
Due: dprint

Fix dispatch launch contract; drop dogfood recusal rule
  .agents/skills/dogfood/SKILL.md
  plugins/orchestrate/skills/dispatch/SKILL.md
Due: dprint, check-framework-integrity

docs: re-verify the enforcement register against v7.1
  specs/ENFORCEMENT-MAP.md
Due: dprint

update dockerfile
  Dockerfile
  tests/polecat/test_container_smoke.py
Due: none

update agy build
  Makefile
  build/clients/agy.py
  tests/test_build.py
Due: none

update dispatch instructions
  plugins/orchestrate/skills/dispatch/SKILL.md
Due: dprint, check-framework-integrity

remove agy plugins
  .agents/skills/triage/SKILL.md
  Dockerfile
  build/clients/agy.py
Due: dprint, check-framework-integrity

don't touch env var in mcp
  lib/polecat/defaults/docker_gemini_fixups.py
Due: none

undo that
  build/clients/agy.py
  lib/polecat/defaults/docker_gemini_fixups.py
Due: none

restore agy include sections to agents
  build/clients/agy.py
Due: none

feat(transcripts): co-locate session artifacts by task/PR ID
  lib/py/transcripts/domain/__init__.py
  lib/py/transcripts/domain/renderer.py
  lib/py/transcripts/runner.py
  tests/transcripts/test_domain.py
Due: none

feat(transcripts): fold run record into session transcript renderer
  lib/py/transcripts/domain/renderer.py
  lib/py/transcripts/model.py
  tests/transcripts/test_run_record_rendering.py
Due: none

fix(transcripts): fix XSS escaping, YAML injection, false delivery guard errors, and HTML completeness in renderer
  lib/py/transcripts/domain/renderer.py
Due: none

add note that pkb tools might be under 'services' mcp server
  plugins/pkb/README.md
  plugins/pkb/agents/pauli.md
  plugins/pkb/commands/q.md
  plugins/pkb/hooks/messages/pkb-context.md
  plugins/pkb/skills/brief/SKILL.md
  plugins/pkb/skills/hydrate/SKILL.md
  plugins/pkb/skills/reconcile/SKILL.md
  plugins/pkb/skills/remember/SKILL.md
Due: dprint, check-framework-integrity

longer honesty message
  plugins/orchestrate/hooks/messages/honesty.md
Due: dprint

disable stop hook on ida
  plugins/ida/hooks/handlers.py
Due: none

docs: resolve the dangling lesson-routing include and the add-rule dead ends
  .github/copilot-instructions.md
  lib/doctrine/lesson-routing.md
  plugins/ida/manifest/plugin.toml
  plugins/pkb/README.md
  plugins/pkb/skills/learn/SKILL.md
  plugins/pkb/skills/learn/lesson-routing.md
  plugins/rbg/README.md
Due: dprint, check-framework-integrity

rules: don't explain Nic's system back to him, don't front-run
  .agents/CORE.md
Due: dprint

docs: repoint references left dangling by the lib/doctrine dissolution
  .agents/skills/triage/SKILL.md
  plugins/ida/README.md
  plugins/orchestrate/README.md
  specs/ARCHITECTURE.md
  specs/enforcement/evidence-contract.md
Due: dprint, check-framework-integrity

docs: the rule channel has three delivery paths, not two
  specs/ENFORCEMENT-MAP.md
  specs/enforcement/enforcement.md
Due: dprint

polecat: an unset AOPS_SESSIONS is a loud failure, not a guessed root
  lib/polecat/cli.py
  lib/polecat/defaults/polecat.yaml.example
  plugins/orchestrate/README.md
  specs/polecat/tmux-interactive-driving.md
  tests/polecat/test_sessions_root.py
Due: dprint

polecat: verify seeds and record transcripts for claude as well as agy
  lib/polecat/cli.py
  specs/ENFORCEMENT-MAP.md
  specs/polecat/tmux-interactive-driving.md
  tests/polecat/test_delivery_guard.py
  tests/polecat/test_run_record.py
  tests/polecat/test_transcript_persistence.py
Due: dprint

update james model choice
  plugins/orchestrate/agents/james.md
Due: dprint

remember: route surfaced incidents to /pkb:learn and follow-ons to /pkb:brief
  plugins/pkb/skills/remember/SKILL.md
Due: dprint, check-framework-integrity

learn changes
  plugins/pkb/skills/learn/SKILL.md
Due: dprint, check-framework-integrity

add all agent includes for agy
  build/clients/agy.py
Due: none

fix(cron): pin repo-sync fetch to origin and force HTTPS for all git subprocesses
  scripts/repo-sync-cron.sh
Due: none

fix(transcripts): pull before pushing the sessions repo
  lib/py/transcripts/domain/sync.py
  tests/transcripts/test_sync.py
Due: none

fix(transcripts): bound the push in a retry loop against the cross-host race
  lib/py/transcripts/domain/sync.py
  tests/transcripts/test_sync.py
Due: none

update build for agy
  build/clients/agy.py
  build/testdata/lib/shared-dir/foo.md
  build/testdata/plugins/alpha/manifest/plugin.toml
  tests/test_build.py
Due: dprint

add tools
  build/clients/agy.py
Due: none

pass otel vars through to polecat
  Dockerfile
  lib/polecat/cli.py
  lib/polecat/defaults/polecat.yaml.example
  lib/polecat/env_contract.py
  tests/polecat/test_container_config.py
Due: none

revert change removing dir
  Dockerfile
Due: none

keep tmp install dir
  Dockerfile
Due: none

debug message
  Dockerfile
Due: none

bake antigravity-cli-settings.json into Dockerfile and remove from polecat setup_staging
  Dockerfile
  build/docker/antigravity-cli-settings.json
  lib/polecat/cli.py
  plugins/pkb/manifest/mcp.template.json
  tests/polecat/test_container_config.py
  tests/polecat/test_setup_staging.py
Due: dprint
