Repository nicsuzor/academicOps: changes, and which pre-commit hooks are due for each by the changed paths.
All: dprint, check-framework-integrity

dprint:
  name: dprint check
  entry: uv run dprint check
  language: system
  pass_filenames: true

check-framework-integrity:
  name: framework integrity check
  entry: uv run python scripts/check_framework_integrity.py
  language: system
  pass_filenames: false

finish rename
  .agents/templates/authoring-durable-doc.md
  .agents/templates/demo-functionality.md
  specs/ENFORCEMENT-MAP.md
  specs/enforcement/enforcement.md
  specs/transcript-pipeline.md
Due: dprint

ci: run CI on release-line pushes and gate the tag publish on pytest
  .github/workflows/build-extension.yml
  .github/workflows/lint.yml
  .github/workflows/pytest.yml
  .github/workflows/typecheck.yml
Due: none

fix(refs): make `make lint` green on v0.9.1
  .agents/skills/triage/SKILL.md
  plugins/aops/workflows/wf-decompose.md
  plugins/aops/workflows/wf-tdd-cycle.md
  pyproject.toml
  scripts/check_refs.py
  specs/ENFORCEMENT-MAP.md
  specs/enforcement/enforcement.md
  specs/transcript-pipeline.md
  tests/test_check_refs.py
Due: dprint, check-framework-integrity

fix(refs): make `make lint` green on v0.9.1 (#2558)
  .agents/skills/triage/SKILL.md
  plugins/aops/workflows/wf-decompose.md
  plugins/aops/workflows/wf-tdd-cycle.md
  pyproject.toml
  scripts/check_refs.py
  specs/ENFORCEMENT-MAP.md
  specs/enforcement/enforcement.md
  specs/transcript-pipeline.md
  tests/test_check_refs.py
Due: dprint, check-framework-integrity

ci: run CI on release-line pushes and gate the tag publish on pytest (#2557)
  .github/workflows/build-extension.yml
  .github/workflows/lint.yml
  .github/workflows/pytest.yml
  .github/workflows/typecheck.yml
Due: none

fix(specs): correct drifted line citations and unbacked rows in ENFORCEMENT-MAP.md (closes aops_373e4364)
  specs/ENFORCEMENT-MAP.md
Due: dprint

feat(rules): enforce no filesystem fallback and PKB target weight SSOT
  .agents/skills/dogfood/SKILL.md
  lib/axioms/halt-on-failure.md
  lib/axioms/synthesize-not-accrete.md
  plugins/aops/agents/pauli.md
  plugins/aops/skills/dump/SKILL.md
  plugins/aops/skills/hydrate/SKILL.md
  plugins/aops/skills/remember/SKILL.md
  plugins/aops/workflows/temp_e8ba6709-closed-task-harvest.md
  specs/ENFORCEMENT-MAP.md
Due: dprint, check-framework-integrity

feat(rules): enforce no filesystem fallback and PKB target weight SSOT (#2560)
  .agents/skills/dogfood/SKILL.md
  lib/axioms/halt-on-failure.md
  lib/axioms/synthesize-not-accrete.md
  plugins/aops/agents/pauli.md
  plugins/aops/skills/dump/SKILL.md
  plugins/aops/skills/hydrate/SKILL.md
  plugins/aops/skills/remember/SKILL.md
  plugins/aops/workflows/temp_e8ba6709-closed-task-harvest.md
  specs/ENFORCEMENT-MAP.md
Due: dprint, check-framework-integrity

refactor(learn): revoke the skill's remedy authority (aops_ae92a692)
  plugins/aops/README.md
  plugins/aops/skills/learn/SKILL.md
  specs/ENFORCEMENT-MAP.md
Due: dprint, check-framework-integrity

fix(scripts): launch named agents from WSL host with docker exec for containerized roles
  scripts/launch-named-agents.sh
Due: none

edits to brief
  plugins/aops/skills/brief/SKILL.md
Due: dprint, check-framework-integrity

feat(polecat): provide option to mount shared scratch space at /scratch
  lib/polecat/cli.py
  lib/polecat/defaults/polecat.yaml.example
  tests/polecat/test_container_config.py
Due: none

docs(specs): inventory instruction-authoring guidance and map consolidation into craft
  specs/meta/instruction-authoring-inventory.md
Due: dprint

refactor(craft): ship craft as a generic plugin skill
  .agents/skills/dogfood/SKILL.md
  plugins/aops/skills/craft/SKILL.md
  plugins/aops/skills/decompose/SKILL.md
  plugins/aops/skills/extrapolate/SKILL.md
  plugins/aops/skills/q/SKILL.md
  plugins/aops/skills/weave/SKILL.md
Due: dprint, check-framework-integrity

fix(pauli): task bodies enumerate outcomes and instruct rather than argue
  plugins/aops/agents/pauli.md
  plugins/aops/skills/decompose/SKILL.md
  specs/workflows/task-pipeline.md
  specs/workflows/three-source-template-discovery.md
Due: dprint, check-framework-integrity

fix(pauli): no meta-commentary or task links in bodies; route body writing through craft
  plugins/aops/agents/pauli.md
  plugins/aops/skills/decompose/SKILL.md
  plugins/aops/skills/q/SKILL.md
  plugins/aops/skills/remember/SKILL.md
Due: dprint, check-framework-integrity

feat(craft): encode research-adjudicated authoring standard with evidence base
  plugins/aops/skills/craft/SKILL.md
  plugins/aops/skills/craft/references/evidence.md
Due: dprint, check-framework-integrity

docs: delete instruction-authoring guidance craft now owns
  .agents/skills/field-test/SKILL.md
  .agents/templates/authoring-durable-doc.md
  specs/ARCHITECTURE.md
  specs/meta/instruction-authoring-inventory.md
  templates/plugin/agents/name.md
Due: dprint, check-framework-integrity

update decomposition instructions
  .agents/templates/wf-brief-composition-verify.md
  .agents/templates/wf-signoff-loop.md
  plugins/aops/README.md
  plugins/aops/skills/brief/SKILL.md
  plugins/aops/skills/extrapolate/SKILL.md
  plugins/aops/skills/weave/SKILL.md
  plugins/aops/skills/workflow-library/SKILL.md
  plugins/aops/workflows/INDEX.md
  specs/ENFORCEMENT-MAP.md
  specs/README.md
  specs/workflows/conceptual-review-workflow.md
  specs/workflows/research-decomposition.md
  specs/workflows/strategic-review.md
  specs/workflows/workflow.md
Due: dprint, check-framework-integrity

docs: radically simplify 27 instruction and spec files under the craft standard
  .agents/skills/debug/SKILL.md
  .agents/templates/wf-signoff-loop.md
  plugins.disabled/specs/email-to-tasks-workflow.md
  plugins/aops/agents/ida.md
  plugins/aops/skills/craft/SKILL.md
  plugins/aops/skills/reconcile/SKILL.md
  plugins/orchestrate/skills/session-trace/SKILL.md
  plugins/rbg/README.md
  plugins/tools/skills/analyst/SKILL.md
  plugins/tools/skills/diagram/SKILL.md
  plugins/tools/skills/new-project/instructions/init.md
  pyproject.toml
  specs/ARCHITECTURE.md
  specs/agents/agent-authority.md
  specs/agents/ida-supervision-migration.md
  specs/future/orchestrator-client-split-review.md
  specs/future/orchestrator-client-split.md
  specs/future/prompt-hydration.md
  specs/future/session-insights-prompt.md
  specs/future/sleep-cycle.md
  specs/polecat/polecat-system.md
  specs/polecat/spec-base-ref-resolution.md
  specs/polecat/spec-image-staleness-detection.md
  specs/polecat/spec-partial-work-tight-loop-delivery.md
  specs/polecat/tmux-interactive-driving.md
  specs/transcript-pipeline.md
  specs/workflows/conceptual-review-workflow.md
  specs/workflows/reconcile.md
  specs/workflows/research-decomposition.md
Due: dprint, check-framework-integrity

docs: cull agent-authority, dead references, and prose-pinning tests
  plugins/aops/README.md
  plugins/orchestrate/README.md
  plugins/orchestrate/agents/marsha.md
  pyproject.toml
  specs/ENFORCEMENT-MAP.md
  specs/README.md
  specs/agents/agent-authority.md
  specs/agents/ida-supervision-migration.md
  specs/agents/sara.md
  specs/enforcement/enforcement.md
  specs/enforcement/sign-off.md
  specs/enforcement/task-contract.md
  specs/enforcement/workflow.md
  specs/future/orchestrator-client-split-review.md
  specs/future/orchestrator-client-split.md
  tests/polecat/test_credential_claims.py
  tests/polecat/test_pc_agent_dispatch.py
  tests/policy.toml
  tests/test_build.py
  tests/test_cope.py
  tests/test_rbg_stop_gate.py
  tests/test_skill_status_vocabulary.py
Due: dprint

chore: delete 20 dead files across specs, plugins, lib, and tests
  .agents/agents/rex.md
  .agents/commands/issue-sweep.md
  .agents/rules/worktrees.md
  .agents/skills/triage/SKILL.md
  .agents/skills/triage/references/forensic-scope.md
  build/tools.py
  lib/clients/agy-mcp-services.json
  lib/clients/claude-automode.json
  lib/py/transcripts/domain/__init__.py
  lib/py/transcripts/domain/view.py
  plugins.disabled/specs/execution-flow-spec.md
  plugins/aops-debug/pyproject.yaml
  plugins/tools/skills/analyst/instructions/experiment_archival.md
  plugins/tools/skills/new-project/workflows/deploy-bot-to-repo.md
  pyproject.toml
  specs/README.md
  specs/future/hydrator-quality-escalation.md
  specs/future/session-handover-contract.md
  specs/future/session-handover-yaml.md
  specs/future/session-naming-convention.md
  specs/future/session-start-injection.md
  specs/future/teammate-subagent-return-defect.md
  templates/cloud_setup.sh
  tests/cope/build_copeset.py
  tests/cope/build_ruleset.py
  tests/cope/extract.py
  tests/cope/run_copeset.py
  tests/polecat/test_credential_claims.py
Due: dprint, check-framework-integrity

docs: tighten specs governing tasks, workflow templates, PKB, and axioms
  lib/axioms/AXIOMS-REVIEW.md
  lib/axioms/synthesize-not-accrete.md
  specs/enforcement/evidence-contract.md
  specs/enforcement/sign-off.md
  specs/enforcement/task-contract.md
  specs/enforcement/workflow.md
  specs/meta/doc-taxonomy.md
  specs/workflows/workflow.md
Due: dprint, check-framework-integrity

docs(ida,sara): establish dispatch boundary between Ida and Sara
  plugins/aops/agents/ida.md
  plugins/orchestrate/agents/sara.md
  specs/ENFORCEMENT-MAP.md
Due: dprint

docs(sync): clarify sessions git-sync comment
  lib/py/transcripts/domain/sync.py
Due: none

Add: record-surface rule to wf-fact-check — PKB is the durable record, repos get only completed work and required summaries
  plugins/aops/workflows/wf-fact-check.md
Due: dprint, check-framework-integrity

refactor(workflows): restructure the universal template library
  .agents/templates/wf-blind-dupe.md
  .agents/templates/wf-blind-proof.md
  plugins/aops/skills/decompose/SKILL.md
  plugins/aops/skills/remember/SKILL.md
  plugins/aops/workflows/INDEX.md
  plugins/aops/workflows/temp_007e629e-structural-map-extraction-template-aims-methodology-analytical-theory-contributi.md
  plugins/aops/workflows/temp_e8ba6709-closed-task-harvest.md
  plugins/aops/workflows/tpl_dispatch.md
  plugins/aops/workflows/wf-capstone-verify.md
  plugins/aops/workflows/wf-decompose.md
  plugins/aops/workflows/wf-fact-check.md
  plugins/aops/workflows/wf-harvest.md
  plugins/aops/workflows/wf-hydrate.md
  plugins/aops/workflows/wf-loop.md
  plugins/aops/workflows/wf-memory-capture.md
  plugins/aops/workflows/wf-prompt-repair.md
  plugins/aops/workflows/wf-qa-visual.md
  plugins/aops/workflows/wf-qa.md
  plugins/aops/workflows/wf-refine-loop.md
  plugins/aops/workflows/wf-signoff.md
  plugins/aops/workflows/wf-structural-map.md
  plugins/aops/workflows/wf-tdd.md
  plugins/aops/workflows/wf-verification.md
  plugins/aops/workflows/wf-visual-qa-loop.md
  plugins/orchestrate/skills/tick/SKILL.md
Due: dprint, check-framework-integrity

move agy and pc to skills
  plugins/aops/agents/ida.md
  plugins/aops/skills/agy/SKILL.md
  plugins/aops/skills/polecat/SKILL.md
Due: dprint, check-framework-integrity

fix(skills): use on-PATH polecat executable in polecat launcher skill
  plugins/aops/skills/polecat/SKILL.md
Due: dprint, check-framework-integrity

feat(lint): add no-em-dashes rule and autofix for no-horizontal-rules
  .markdownlint-cli2.jsonc
  .markdownlint-rules/no-em-dashes.js
  .markdownlint-rules/no-horizontal-rules.js
  tests/hooks/test_no_em_dashes.py
  tests/hooks/test_no_horizontal_rules.py
Due: none

don't use table-column-style in linter
  .markdownlint-cli2.jsonc
Due: none

fix(otel): unify Phoenix project naming to academicOps, decouple task IDs, and purge legacy arthur attributes
  .agents/skills/debug/SKILL.md
  .envrc
  lib/polecat/cli.py
  lib/polecat/defaults/polecat.yaml.example
  plugins/aops/README.md
  plugins/aops/skills/brief/SKILL.md
  plugins/aops/skills/workflow-library/SKILL.md
  plugins/orchestrate/hooks/claude_code_tracer.py
  plugins/orchestrate/skills/session-trace/SKILL.md
  plugins/orchestrate/skills/session-trace/scripts/phoenix_trace.py
  specs/ARCHITECTURE.md
  specs/ENFORCEMENT-MAP.md
  specs/agents/ida-supervision-migration.md
  specs/agents/sara.md
  specs/polecat/polecat-system.md
  specs/workflows/workflow.md
  tests/polecat/test_container_config.py
  tests/polecat/test_pc_agent_dispatch.py
  tests/polecat/test_project_aliases.py
  tests/test_build.py
  tests/test_orchestrate_tracer.py
Due: dprint, check-framework-integrity

rules
  lib/axioms/full-observability.md
  plugins/orchestrate/agents/james.md
  plugins/rbg/hooks/handlers.py
  plugins/rbg/hooks/messages/dark-roster.md
  plugins/rbg/hooks/messages/dark-roster.user.md
  plugins/rbg/hooks/messages/rule-check.md
Due: dprint

feat: show plugin/pkb versions and injected files in SessionStart hook
  plugins/orchestrate/hooks/handlers.py
Due: none

feat: show otel tracing config in SessionStart hook
  plugins/orchestrate/hooks/handlers.py
Due: none

feat(spec): establish task/filename naming standards, graph-relationship decisions, and canonical task body template
  .agents/rules/RULES.md
  plugins/aops/agents/ida.md
  plugins/aops/agents/pauli.md
  plugins/aops/skills/brief/SKILL.md
  plugins/aops/skills/craft/SKILL.md
  plugins/aops/skills/decompose/SKILL.md
  plugins/aops/skills/q/SKILL.md
  specs/ENFORCEMENT-MAP.md
  specs/enforcement/task-contract.md
  specs/meta/doc-taxonomy.md
  specs/meta/naming-and-decisions.md
  tests/polecat/test_image_staleness.py
Due: dprint, check-framework-integrity

Path conditions:
  dprint: any of: \.(md|markdown|mdown)$, \.json$, \.toml$
  check-framework-integrity: any of: (WORKFLOWS|SKILLS)\.md$|workflows/.*\.md$|skills/.*/SKILL\.md$|commands/.*\.md$
