Repository nicsuzor/academicOps: changes, and which pre-commit hooks are due for each by the changed paths.
All: radon-complexity, radon-maintainability, test-architecture, pytest

.pre-commit-config.yaml:

# Pre-commit hooks for academicOps
# Install: pre-commit install
# Run manually: pre-commit run --all-files
#
# PERFORMANCE OPTIMIZATION NOTES:
# - Tests only run when Python files are changed and staged (removed always_run: true)
# - This makes commits blazing fast when editing docs, configs, etc.
# - To run tests manually: pytest -m "not slow and not integration and not endtoend"
# - CI still runs full test suite on all commits
# - Tests run in parallel (requires: uv add --dev pytest-xdist)
# - Skips test architecture check on trivial commits
# - Uses faster ruff version

repos:
  # Ruff - Fast Python linter & formatter
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.0
    hooks:
      # Linter
      - id: ruff-check
        args: [--fix, --unsafe-fixes]
      # Formatter
      - id: ruff-format

  # MyPy - Static type checking
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.18.2
    hooks:
      - id: mypy
        additional_dependencies: []
        args: [--config-file=pyproject.toml]
        # Performance: Only check changed files, not whole project
        pass_filenames: true

  # Local custom hooks
  - repo: local
    hooks:
      # Radon - Complexity metrics
      - id: radon-complexity
        name: Check code complexity
        entry: uv run radon cc --min B --total-average
        language: system
        types: [python]
        pass_filenames: true

      - id: radon-maintainability
        name: Check maintainability index
        entry: uv run radon mi --min B
        language: system
        types: [python]
        pass_filenames: true

      # Test architecture - ONLY on test files
      - id: test-architecture
        name: Enforce test architecture rules
        entry: uv run python scripts/check_test_architecture.py
        language: system
        files: ^tests/.*\.py$
        pass_filenames: false

      # Pytest - PARALLEL execution for speed
      # Requires: pytest-xdist
      - id: pytest
        name: Run tests (parallel)
        entry: uv run pytest -n auto -m "not slow and not integration and not endtoend"
        language: system
        types: [python]
        pass_filenames: false
        stages: [pre-commit]

refactor(setup): Simplify to global ~/.claude/ setup only
  scripts/setup_academicops.sh
Due: none

experiment(prompts): Replace gh repo view verification with CLAUDE.md reference
  CLAUDE.md
  bots/agents/trainer.md
  commands/error.md
Due: none

refactor(skills): Remove gh repo view verification from skills
  skills/aops-bug/SKILL.md
  skills/github-issue/SKILL.md
Due: none

feat(trainer): Expand scope to include system capability gaps
  bots/agents/trainer.md
Due: none

docs: Update README and ARCHITECTURE to reflect current system
  ARCHITECTURE.md
  README.md
Due: none

fix(prompts): Remove /error command location restriction
  commands/error.md
Due: none

fix(prompts): Clarify /error always targets academicOps (not CLAUDE.md repo)
  commands/error.md
Due: none

feat(config): Store canonical settings.json in repo, symlink to ~/.claude/
  .claude/settings.json
  .gitignore
  ARCHITECTURE.md
Due: none

experiment(config): Document canonical settings.json symlink implementation
  experiments/2025-10-26_canonical-settings-symlink.md
Due: none

fix(hooks): Add symlinks for instruction files to bots/agents
  bots/agents/ANALYST.md
  bots/agents/DBT.md
  bots/agents/E2E-TESTING.md
  bots/agents/FAIL-FAST.md
  bots/agents/GIT-WORKFLOW.md
  bots/agents/HYDRA.md
  bots/agents/TESTING.md
  bots/agents/TESTS.md
Due: none

fix(prompts): Rename task-management skill to scribe with clarified operational modes
  .claude.disabled/commands/STRATEGIST.md
  .claude.disabled/commands/analyst.md
  .claude.disabled/commands/dev.md
  .claude.disabled/commands/log-failure.md
  .claude.disabled/commands/ops.md
  .claude.disabled/commands/trainer.md
  .claude.disabled/commands/ttd.md
  .claude.disabled/settings.json
  .claude.disabled/settings.local.json
  agents/STRATEGIST.md
  commands/STRATEGIST.md
  skills/scribe/SKILL.md
  skills/scribe/scripts/session_log.py
  skills/scribe/scripts/task_add.py
  skills/scribe/scripts/task_index.py
  skills/scribe/scripts/task_process.py
  skills/scribe/scripts/task_view.py
  skills/task-management/SKILL.md
  tests/test_hook_start.py
Due: radon-complexity, radon-maintainability, test-architecture, pytest

fix(config): Move settings.json to bots/config/ and remove .claude/ from repo
  .claude.disabled/commands/STRATEGIST.md
  .claude.disabled/commands/analyst.md
  .claude.disabled/commands/dev.md
  .claude.disabled/commands/log-failure.md
  .claude.disabled/commands/ops.md
  .claude.disabled/commands/trainer.md
  .claude.disabled/commands/ttd.md
  .claude.disabled/settings.local.json
  .gitignore
  bots/CLAUDE.md
  bots/config/settings.json
Due: none

fix(setup): Update paths to match new canonical locations
  scripts/setup_academicops.sh
Due: none

refactor: Flatten directory structure - move all config to root level
  agents/ANALYST.md
  agents/DBT.md
  agents/DEV.md
  agents/DEVELOPER.md
  agents/E2E-TESTING.md
  agents/FAIL-FAST.md
  agents/GIT-WORKFLOW.md
  agents/HYDRA.md
  agents/REVIEW.md
  agents/STRATEGIST.md
  agents/SUPERVISOR.md
  agents/TESTING.md
  agents/TESTS.md
  agents/TRAINER.md
  agents/_CORE.md
  agents/trainer.md
  bots/CLAUDE.md
  bots/scripts
  config/settings.json
  hooks/hook_debug.py
  hooks/hook_models.py
  hooks/load_instructions.py
  hooks/log_notification.py
  hooks/log_posttooluse.py
  hooks/log_precompact.py
  hooks/log_session_stop.py
  hooks/log_sessionend.py
  hooks/log_subagentstop.py
  hooks/log_todowrite.py
  hooks/log_userpromptsubmit.py
  hooks/stack_instructions.py
  hooks/validate_stop.py
  hooks/validate_tool.py
  prompts/pytest_practices.md
  scripts/setup_academicops.sh
Due: radon-complexity, radon-maintainability, pytest

fix(hooks): Update all paths from bots/* to root level
  config/settings.json
  hooks/load_instructions.py
Due: radon-complexity, radon-maintainability, pytest

fix(scribe): Use ~/.claude/ absolute paths instead of relative .claude/
  skills/scribe/SKILL.md
Due: none

fix(scribe): Remove broken task ID regex validation
  skills/scribe/scripts/task_process.py
Due: radon-complexity, radon-maintainability, pytest

experiment: Document TJA context loading fix
  experiments/2025-10-27_tja-context-loading.md
Due: none

experiment(prompts): Strengthen Axiom #1 to prevent proactive scope creep
  agents/_CORE.md
Due: none

feat(hooks): Add Stop/SubagentStop hook to request scribe invocation
  config/settings.json
  hooks/log_userpromptsubmit.py
  hooks/request_scribe_stop.py
Due: radon-complexity, radon-maintainability, pytest

fix(scribe): Add strategic capture guidelines and enforce personal repo usage
  skills/scribe/SKILL.md
Due: none

fix(hooks): Simplify markdown validation to blacklist approach
  hooks/validate_tool.py
Due: radon-complexity, radon-maintainability, pytest

fix(scribe): Restrict accomplishments to task progress only
  skills/scribe/SKILL.md
Due: none

fix(scribe): Add examples for non-task work capture format
  skills/scribe/SKILL.md
Due: none

fix(hooks): Soften stop hook wording to give agent discretion
  hooks/request_scribe_stop.py
Due: radon-complexity, radon-maintainability, pytest

feat(agents): Add end-of-session subagent for automated workflow
  agents/end-of-session.md
  hooks/request_scribe_stop.py
Due: radon-complexity, radon-maintainability, pytest

refine(end-of-session): Silent operation and stricter scribe capture rules
  agents/end-of-session.md
  hooks/request_scribe_stop.py
  skills/scribe/SKILL.md
Due: radon-complexity, radon-maintainability, pytest

feat(agents): Create SUPERVISOR agent for multi-stage quality-gated orchestration
  agents/SUPERVISOR.md
  docs/INSTRUCTION-INDEX.md
  experiments/2025-10-29_supervisor-multi-stage-quality-gates.md
  experiments/INDEX.md
Due: none

experiment(scribe): Add detail level guidelines for accomplishments vs project files
  experiments/2025-10-30_scribe-detail-balance.md
  skills/scribe/SKILL.md
Due: none

refactor(infrastructure): Implement paths.toml with core/ and docs/bots/ reorganization
  .vscode/bot.code-workspace
  .vscode/launch.json
  CLAUDE.md
  INSTALL.md
  README.md
  agents/trainer.md
  commands/trainer.md
  config/settings.json
  core/INSTRUCTIONS.md
  core/_CORE.md
  docs/bots/INDEX.md
  hooks/load_instructions.py
  hooks/stack_instructions.py
  paths.toml
  skills/analyst/SKILL.md
  tests/test_load_instructions_integration.py
Due: radon-complexity, radon-maintainability, test-architecture, pytest

test: Update test paths for core/ and docs/bots/ reorganization
  tests/integration/test_dogfooding.py
  tests/test_command_file_integrity.py
  tests/test_context_loading_integration.py
  tests/test_stop_hook_resilience.py
Due: radon-complexity, radon-maintainability, test-architecture, pytest

test: Fix script and command directory paths in tests
  tests/test_command_file_integrity.py
  tests/test_context_loading_integration.py
Due: radon-complexity, radon-maintainability, test-architecture, pytest

experiment(config): Restrict supervisor agent to orchestration-only tools
  config/settings.json
  experiments/2025-10-30_supervisor-tool-restrictions.md
Due: none

docs: Add commit hash to supervisor tool restrictions experiment
  experiments/2025-10-30_supervisor-tool-restrictions.md
Due: none

refactor(skills): Consolidate science skills and create comprehensive dev skill
  agents/DEVELOPER.md
  commands/dev.md
  docs/_CHUNKS/HYDRA.md
  docs/_CHUNKS/MATPLOTLIB.md
  docs/_CHUNKS/PYTHON-DEV.md
  docs/_CHUNKS/SEABORN.md
  docs/_CHUNKS/STATSMODELS.md
  docs/_CHUNKS/STREAMLIT.md
  skills/analyst/SKILL.md
  skills/analyst/references/MATPLOTLIB.md
  skills/analyst/references/PYTHON-DEV.md
  skills/analyst/references/SEABORN.md
  skills/analyst/references/STATSMODELS.md
  skills/analyst/references/assumptions_and_diagnostics.md
  skills/analyst/references/bayesian_statistics.md
  skills/analyst/references/effect_sizes_and_power.md
  skills/analyst/references/reporting_standards.md
  skills/analyst/references/statistical-analysis.md
  skills/analyst/references/test_selection_guide.md
  skills/analyst/scripts/assumption_checks.py
  skills/dev
  skills/git-commit/SKILL.md
  skills/git-commit/references/HYDRA.md
  skills/science-skills/matplotlib/references/api_reference.md
  skills/science-skills/matplotlib/references/common_issues.md
  skills/science-skills/matplotlib/references/plot_types.md
  skills/science-skills/matplotlib/references/styling_guide.md
  skills/science-skills/matplotlib/scripts/plot_template.py
  skills/science-skills/matplotlib/scripts/style_configurator.py
  skills/science-skills/seaborn/references/examples.md
  skills/science-skills/seaborn/references/function_reference.md
  skills/science-skills/seaborn/references/objects_interface.md
  skills/science-skills/statsmodels/references/discrete_choice.md
  skills/science-skills/statsmodels/references/glm.md
  skills/science-skills/statsmodels/references/linear_models.md
  skills/science-skills/statsmodels/references/stats_diagnostics.md
  skills/science-skills/statsmodels/references/time_series.md
Due: radon-complexity, radon-maintainability, pytest

otel
  agents/end-of-session.md
  config/settings.json
Due: none

experiment(agent): Create task-manager agent for email processing
  agents/task-manager.md
  config/settings.json
  experiments/2025-10-30_task-manager-agent-creation.md
Due: none
