Repository nicsuzor/academicOps: changes, and which pre-commit hooks are due for each by the changed paths.
All: radon-complexity, radon-maintainability, test-architecture, pytest

.pre-commit-config.yaml:

# Pre-commit hooks for academicOps
# Install: pre-commit install
# Run manually: pre-commit run --all-files
#
# PERFORMANCE OPTIMIZATION NOTES:
# - Tests only run when Python files are changed and staged (removed always_run: true)
# - This makes commits blazing fast when editing docs, configs, etc.
# - To run tests manually: pytest -m "not slow and not integration and not endtoend"
# - CI still runs full test suite on all commits
# - Tests run in parallel (requires: uv add --dev pytest-xdist)
# - Skips test architecture check on trivial commits
# - Uses faster ruff version

repos:
  # Ruff - Fast Python linter & formatter
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.0
    hooks:
      # Linter
      - id: ruff-check
        args: [--fix, --unsafe-fixes]
      # Formatter
      - id: ruff-format

  # MyPy - Static type checking
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.18.2
    hooks:
      - id: mypy
        additional_dependencies: []
        args: [--config-file=pyproject.toml]
        # Performance: Only check changed files, not whole project
        pass_filenames: true

  # Local custom hooks
  - repo: local
    hooks:
      # Radon - Complexity metrics
      - id: radon-complexity
        name: Check code complexity
        entry: uv run radon cc --min B --total-average
        language: system
        types: [python]
        pass_filenames: true

      - id: radon-maintainability
        name: Check maintainability index
        entry: uv run radon mi --min B
        language: system
        types: [python]
        pass_filenames: true

      # Test architecture - ONLY on test files
      - id: test-architecture
        name: Enforce test architecture rules
        entry: uv run python scripts/check_test_architecture.py
        language: system
        files: ^tests/.*\.py$
        pass_filenames: false

      # Pytest - PARALLEL execution for speed
      # Requires: pytest-xdist
      - id: pytest
        name: Run tests (parallel)
        entry: uv run pytest -n auto -m "not slow and not integration and not endtoend"
        language: system
        types: [python]
        pass_filenames: false
        stages: [pre-commit]

experiment(hooks): auto-commit task database changes via PostToolUse hook
  experiments/2025-11-03_autocommit-tasks-hook.md
  hooks/autocommit_tasks.py
Due: radon-complexity, radon-maintainability, pytest

fix(agents): Remove scribe invocation from end-of-session, add direct accomplishment filter
  agents/end-of-session.md
  experiments/2025-11-03_end-of-session-accomplishment-bloat.md
Due: none

chore(config): Add autocommit tasks hook and update workspace
  .vscode/bot.code-workspace
  config/settings.json
Due: none

experiment(prompts): Remove dev.md bloat, add explicit supervisor checklist requirements
  commands/dev.md
  docs/bots/BEST-PRACTICES.md
Due: none

fix(agents): Remove DRY violation by delegating to scribe Mode 4
  agents/end-of-session.md
  experiments/2025-11-03_end-of-session-accomplishment-bloat.md
  skills/scribe/SKILL.md
Due: none

experiment(agents): Add mandatory skill-first pattern to end-of-session
  agents/end-of-session.md
  experiments/2025-11-03_end-of-session-skill-first.md
Due: none

chore(docs): Remove obsolete FRAMEWORK-IMPROVEMENT-SUMMARY.md
  docs/bots/FRAMEWORK-IMPROVEMENT-SUMMARY.md
Due: none

experiment(hooks): Suppress stop hook reminder when agent asks question
  experiments/2025-11-03_stop-hook-ask-user-question-suppression.md
  hooks/request_scribe_stop.py
Due: radon-complexity, radon-maintainability, pytest

experiment(hooks): Add commit hash to experiment log
  experiments/2025-11-03_stop-hook-ask-user-question-suppression.md
Due: none

Revert "experiment(hooks): Add commit hash to experiment log"
  experiments/2025-11-03_stop-hook-ask-user-question-suppression.md
Due: none

Revert "experiment(hooks): Suppress stop hook reminder when agent asks question"
  experiments/2025-11-03_stop-hook-ask-user-question-suppression.md
  hooks/request_scribe_stop.py
Due: radon-complexity, radon-maintainability, pytest

fix(hooks): Disable stop hook reminder entirely
  hooks/request_scribe_stop.py
Due: radon-complexity, radon-maintainability, pytest

experiment(hooks): Add Axiom #1 reminder to UserPromptSubmit hook
  experiments/2025-11-03_axiom-1-userpromptsubmit-reminder.md
  hooks/log_userpromptsubmit.py
Due: radon-complexity, radon-maintainability, pytest

experiment(hooks): Add commit hash to experiment log
  experiments/2025-11-03_axiom-1-userpromptsubmit-reminder.md
Due: none

feat(instructions): add 3-tier instruction system for development contexts
  commands/dev.md
  commands/ttd.md
  core/DEBUGGING.md
  core/DEVELOPMENT.md
  core/STYLE.md
  core/TESTING.md
Due: none

experiment(task-manager): Delegate context loading to skills and enable MCP tools
  agents/task-manager.md
  commands/email.md
  experiments/2025-11-04_task-manager-skill-delegation.md
Due: none

experiment: Update experiment log with commit hash and line counts
  experiments/2025-11-04_task-manager-skill-delegation.md
Due: none

experiment(email): Add QUT focus and batch archiving to /email command
  experiments/2025-11-04_email-command-qut-focus-batch-archiving.md
Due: none

experiment(dev): Strengthen supervisor requirement in /dev command
  commands/dev.md
  experiments/2025-11-04_dev-command-supervisor-enforcement.md
Due: none

experiment: Update experiment log with commit hash
  experiments/2025-11-04_dev-command-supervisor-enforcement.md
Due: none

experiment(testing): Add interchangeable components pattern to test instructions
  agents/DEVELOPER.md
  experiments/2025-11-04_interchangeable-components-pattern.md
  skills/test-writing/SKILL.md
Due: none

experiment: Update experiment log with commit hash
  experiments/2025-11-04_interchangeable-components-pattern.md
Due: none

experiment(hook): Add $ACADEMICOPS_PERSONAL content directory exclusions to .md validation
  experiments/2025-11-05_md-hook-personal-exclusions.md
  hooks/validate_tool.py
Due: radon-complexity, radon-maintainability, pytest

fix(hooks): Add fail-fast validation for missing project _CORE.md
  experiments/2025-11-05_load-instructions-fail-fast.md
  hooks/load_instructions.py
Due: radon-complexity, radon-maintainability, pytest

update(scribe): Include direct links in task summaries
  skills/scribe/SKILL.md
Due: none

feat(infrastructure): Add instruction tree generator with repository scanner
  scripts/__init__.py
  scripts/generate_instruction_tree.py
  tests/test_instruction_tree.py
Due: radon-complexity, radon-maintainability, test-architecture, pytest

feat(infrastructure): Add markdown tree generator
  scripts/generate_instruction_tree.py
  tests/test_instruction_tree.py
Due: radon-complexity, radon-maintainability, test-architecture, pytest

feat(infrastructure): Add README.md update mechanism for instruction tree
  scripts/generate_instruction_tree.py
  tests/test_instruction_tree.py
Due: radon-complexity, radon-maintainability, test-architecture, pytest

test(instruction-tree): Add validation script to detect stale trees
  scripts/validate_instruction_tree.py
  tests/test_instruction_tree.py
Due: radon-complexity, radon-maintainability, test-architecture, pytest

docs(aops-trainer): Add instruction tree maintenance responsibility
  skills/aops-trainer/SKILL.md
  tests/test_instruction_tree.py
Due: radon-complexity, radon-maintainability, test-architecture, pytest

docs(readme): Add auto-generated instruction tree section
  README.md
Due: none

feat(instruction-tree): Extract descriptions from agent frontmatter
  scripts/generate_instruction_tree.py
  tests/test_instruction_tree.py
Due: radon-complexity, radon-maintainability, test-architecture, pytest

feat(instruction-tree): Extract descriptions from skill frontmatter
  scripts/generate_instruction_tree.py
  tests/test_instruction_tree.py
Due: radon-complexity, radon-maintainability, test-architecture, pytest

feat(instruction-tree): Extract descriptions from commands and hooks
  scripts/generate_instruction_tree.py
  tests/test_instruction_tree.py
Due: radon-complexity, radon-maintainability, test-architecture, pytest

feat(instruction-tree): Add descriptions to markdown output
  scripts/generate_instruction_tree.py
  tests/test_instruction_tree.py
Due: radon-complexity, radon-maintainability, test-architecture, pytest

feat(instruction-tree): Regenerate README with component descriptions
  README.md
  scripts/generate_instruction_tree.py
Due: radon-complexity, radon-maintainability, pytest

feat(aops-trainer): Add description maintenance and architectural analysis workflows
  skills/aops-trainer/SKILL.md
  tests/test_instruction_tree.py
Due: radon-complexity, radon-maintainability, test-architecture, pytest

new rules
  chunks/AGENT-BEHAVIOR.md
  commands/email.md
  config/settings.json
Due: none

feat(instruction-tree): Parse skill symlink dependencies
  scripts/generate_instruction_tree.py
  tests/test_instruction_tree.py
Due: radon-complexity, radon-maintainability, test-architecture, pytest

feat(instruction-tree): Parse command load_instructions.py dependencies
  scripts/generate_instruction_tree.py
  tests/test_instruction_tree.py
Due: radon-complexity, radon-maintainability, test-architecture, pytest
