Repository nicsuzor/academicOps: changes, and which pre-commit hooks are due for each by the changed paths.
All: dprint, check-framework-integrity

.pre-commit-config.yaml:

# Pre-commit hooks for academicOps framework governance
# See https://pre-commit.com for more info

repos:
  # Markdown/JSON/TOML validation (dprint - check-only, no auto-fix)
  # Ruff check --fix auto-fixes what it can; ruff-format checks formatting
  - repo: local
    hooks:
      - id: dprint
        name: dprint check
        entry: uv run dprint check
        language: system
        types_or: [markdown, json, toml]
        pass_filenames: true

  # Markdown linting (catches issues dprint doesn't fix)
  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.12.1
    hooks:
      - id: markdownlint-cli2
        exclude: '^archived/'

  # Standard hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: '\.excalidraw$'
      - id: end-of-file-fixer
        exclude: '\.excalidraw$'
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
        args: ['--maxkb=500']

  # Python linting (auto-fix enabled)
  # Ruff check --fix auto-fixes what it can; ruff-format checks formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.4
    hooks:
      - id: ruff
        args: [--fix]
        exclude: '^archived/'
      - id: ruff-format
        args: [--check]
        exclude: '^archived/'

  # Framework integrity checks (index wikilinks, skill entries, workflow length)
  # Consolidates check-workflow-length + new index integrity validation
  - repo: local
    hooks:
      - id: check-framework-integrity
        name: framework integrity check
        entry: uv run python scripts/check_framework_integrity.py
        language: system
        pass_filenames: false
        files: '(WORKFLOWS|SKILLS)\.md$|workflows/.*\.md$|skills/.*/SKILL\.md$|commands/.*\.md$'

  # Type checking and full framework health checks run in CI only
  # (see .github/workflows/framework-health.yml)
  #
  # Moved to CI:
  # - basedpyright: full type analysis too slow for every commit
  # - check-skill-line-count: whole-repo scan, not file-scoped
  # - check-orphan-files: whole-repo scan, not file-scoped
  # - check-framework-integrity --full: slow full codebase wikilink scan
  # - audit_framework_health: comprehensive audit

feat(orchestrate): add minimal sara agent definition
  plugins/orchestrate/agents/sara.md
Due: dprint

chore(dev): release 0.9.1
  .release-please-manifest.json
  CHANGELOG.md
  pyproject.toml
Due: dprint

fix(learn): sharpen root-cause validity rules and remedy fit
  plugins/aops-core/skills/learn/SKILL.md
Due: dprint, check-framework-integrity

fix(pkb): enforce two-step status mutation contract and forbid batch_update for demotions (Closes aops_bf223645)
  plugins/aops-core/skills/brief/SKILL.md
  plugins/aops-core/skills/enqueue/SKILL.md
  plugins/aops-core/skills/reconcile/SKILL.md
Due: dprint, check-framework-integrity

feat(scripts): add 4-pane tmux launcher script for persistent named agents
  scripts/launch-named-agents.sh
Due: none

feat(workflows): archive composed workflow templates across tiers for v0.9 reset (aops_f74b7e6c)
  .agents/templates/archive/authoring-durable-doc.md
  .agents/templates/archive/demo-functionality.md
  plugins/aops-core/workflows/INDEX.md
  plugins/aops-core/workflows/archive/academic-paper.md
  plugins/aops-core/workflows/archive/audit.md
  plugins/aops-core/workflows/archive/batch.md
  plugins/aops-core/workflows/archive/burst.md
  plugins/aops-core/workflows/archive/decision-briefing.md
  plugins/aops-core/workflows/archive/develop-specification.md
  plugins/aops-core/workflows/archive/email-capture.md
  plugins/aops-core/workflows/archive/email-reply.md
  plugins/aops-core/workflows/archive/email-triage.md
  plugins/aops-core/workflows/archive/external-batch-submission.md
  plugins/aops-core/workflows/archive/feature-dev.md
  plugins/aops-core/workflows/archive/finalize-report.md
  plugins/aops-core/workflows/archive/framework-gate.md
  plugins/aops-core/workflows/archive/interactive-followup.md
  plugins/aops-core/workflows/archive/investigation.md
  plugins/aops-core/workflows/archive/live-fix-loop.md
  plugins/aops-core/workflows/archive/pr-review.md
  plugins/aops-core/workflows/archive/reference-letter.md
  plugins/aops-core/workflows/archive/review-response.md
  plugins/aops-core/workflows/archive/simple-question.md
  plugins/aops-core/workflows/archive/task-tracking.md
  plugins/aops-core/workflows/archive/tdd.md
  plugins/aops-core/workflows/archive/worktree-merge.md
  tests/test_email_triage_workflow.py
Due: dprint, check-framework-integrity

feat(polecat): container seed construction and detached launch (aops_9160e382)
  lib/polecat/cli.py
  lib/polecat/entrypoint.sh
  lib/polecat/env_contract.py
  plugins/orchestrate/agents/pc.md
  tests/polecat/test_container_invocation.py
  tests/polecat/test_detached_mode.py
  tests/polecat/test_detached_mode_absent.py
  tests/polecat/test_entrypoint_seed_construction.py
  tests/polecat/test_print_timeout.py
  tests/polecat/test_run_record.py
  tests/polecat/test_task_headless.py
Due: dprint

ida instructions
  plugins/aops-core/agents/ida.md
  plugins/aops-core/errata.md
  plugins/aops-core/hooks/handlers.py
Due: dprint

fix(polecat): target worktree base HEAD for push/PRs and forward base branch env
  lib/polecat/cli.py
  lib/polecat/env_contract.py
  plugins/aops-core/skills/dump/SKILL.md
  specs/polecat/polecat-system.md
  tests/polecat/test_workspace_isolation.py
Due: dprint, check-framework-integrity

fix(tests): set PKB_MCP_URL in test_image_staleness base mocks
  tests/polecat/test_image_staleness.py
Due: none

fix(refs): correct plugins/pkb references to plugins/aops-core and set PKB_MCP_URL in test_detached_mode
  specs/agents/ida-supervision-migration.md
  tests/polecat/test_detached_mode.py
Due: dprint

style: remove unnecessary f-string prefix in test_workspace_isolation.py
  tests/polecat/test_workspace_isolation.py
Due: none

fix(refs): update plugins/aops-core paths to plugins/aops in ida-supervision-migration.md
  specs/agents/ida-supervision-migration.md
Due: dprint

feat(polecat): define project aliases in polecat.yaml and auto-canonicalize across polecat and OTEL
  lib/polecat/cli.py
  lib/polecat/defaults/polecat.yaml.example
  plugins/orchestrate/hooks/claude_code_tracer.py
  plugins/orchestrate/skills/session-trace/scripts/phoenix_trace.py
  plugins/orchestrate/tests/test_tracer.py
  tests/polecat/test_project_aliases.py
  tests/polecat/test_workspace_isolation.py
Due: none

feat(analyst): enforce canonical path resolution and ground-truth parity validation (#1428, #1429)
  plugins/tools/skills/analyst/SKILL.md
  plugins/tools/skills/analyst/instructions/exploratory-analysis.md
  plugins/tools/skills/analyst/instructions/research-documentation.md
  plugins/tools/skills/dbt/SKILL.md
  plugins/tools/skills/new-project/instructions/init.md
Due: dprint, check-framework-integrity

fix(specs): update prompt-hydration spec status from implemented to proposed (closes #2439)
  specs/future/prompt-hydration.md
Due: dprint

fix: spare HTML numeric metrics from redaction; update agent-authority spec (closes #2406, #2397, #2407)
  lib/py/transcripts/domain/secret_redaction.py
  specs/agents/agent-authority.md
  tests/transcripts/test_secret_redaction.py
Due: dprint

fix: spare HTML numeric metrics from redaction; update agent-authority spec (closes #2406, #2397, #2407) (#2546)
  lib/py/transcripts/domain/secret_redaction.py
  specs/agents/agent-authority.md
  tests/transcripts/test_secret_redaction.py
Due: dprint

fix(transcripts): redact quoted secrets with spaces, escaped quotes, and fullwidth colons (closes #2405)
  lib/py/transcripts/domain/secret_redaction.py
  tests/transcripts/test_secret_redaction.py
Due: none

fix(transcripts): redact quoted secrets with spaces, escaped quotes, and fullwidth colons (closes #2405) (#2547)
  lib/py/transcripts/domain/secret_redaction.py
  tests/transcripts/test_secret_redaction.py
Due: none

fix: prohibit direct runtime plugin edits and add strategic-review spec (closes #2390, #2424)
  .agents/CORE.md
  plugins/aops/skills/reconcile/SKILL.md
  plugins/orchestrate/agents/james.md
  plugins/orchestrate/skills/verify/SKILL.md
  specs/workflows/strategic-review.md
  tests/transcripts/test_secret_redaction.py
Due: dprint, check-framework-integrity

fix(specs): update supervision-split spec with shipped supervised-development doctrine (closes #2415)
  specs/agents/supervision-split.md
  specs/workflows/strategic-review.md
Due: dprint, check-framework-integrity

fix(agents): add held-turn contract and absorb-only gap-flags to ida, forbid sleep barriers in james (closes #2475, #2476, #2435)
  plugins/aops/agents/ida.md
  plugins/orchestrate/agents/james.md
Due: dprint

fix(agents): add held-turn contract and absorb-only gap-flags to ida, forbid sleep barriers in james (closes #2475, #2476, #2435) (#2550)
  plugins/aops/agents/ida.md
  plugins/orchestrate/agents/james.md
Due: dprint

move some skills
  plugins/aops/skills/enqueue/SKILL.md
  plugins/aops/skills/reconcile/SKILL.md
  plugins/aops/skills/strategic-review/SKILL.md
  plugins/orchestrate/skills/audit/SKILL.md
  plugins/orchestrate/skills/supervised-development/SKILL.md
  plugins/orchestrate/skills/tick/SKILL.md
  plugins/pkb/agents/test-arm1-mcpservers.md
  plugins/pkb/agents/test-arm2-no-mcpservers.md
  plugins/pkb/agents/test-arm3a-singular.md
  plugins/pkb/agents/test-arm3b-snake.md
  plugins/pkb/agents/test-arm4a-tools-builtin.md
  plugins/pkb/agents/test-arm4b-tools-mcp-explicit.md
  plugins/pkb/agents/test-arm4c-tools-and-mcpservers.md
Due: dprint, check-framework-integrity

fix: update broken references post-skill-reorganization and allow historical spec paths
  plugins/orchestrate/skills/session-trace/SKILL.md
  pyproject.toml
  specs/ARCHITECTURE.md
  specs/workflows/strategic-review.md
Due: dprint, check-framework-integrity

add triage
  .agents/templates/triage-open-issues.md
Due: dprint

delete useless files
  specs/agents/sara.md
  specs/agents/supervision-split.md
  specs/polecat/multi-repo-mounts.md
Due: dprint

fix(skills): harden brief and q skills against nine verified defects and adopt ideal brief spec
  plugins/aops/skills/brief/SKILL.md
  plugins/aops/skills/q/SKILL.md
Due: dprint, check-framework-integrity

docs(specs): update supervision-split to reference authoritative excalidraw map
  specs/agents/supervision-split.md
Due: dprint

feat(gates): implement pre-push/pre-PR task-body mandatory gate (closes #583, epic-50b5ade9.3, epic-50b5ade9.4)
  lib/hooks/task_body_gate.py
  plugins/orchestrate/hooks/handlers.py
  tests/test_task_body_gate.py
Due: none

feat: rename priority to intent, establish scoring authority, and author pauli prioritisation doctrine
  plugins/aops/agents/pauli.md
  plugins/aops/skills/brief/SKILL.md
  plugins/aops/skills/hydrate/SKILL.md
  plugins/aops/skills/q/SKILL.md
  plugins/aops/skills/reconcile/SKILL.md
  plugins/aops/skills/remember/SKILL.md
  plugins/aops/skills/strategize/SKILL.md
  plugins/orchestrate/skills/tick/SKILL.md
  plugins/tools/skills/diagram/SKILL.md
  plugins/tools/skills/new-project/instructions/init.md
  pyproject.toml
  specs/README.md
  specs/agents/ida-supervision-migration.md
  specs/enforcement/evidence-contract.md
Due: dprint, check-framework-integrity

feat: rename priority to intent, establish scoring authority, and author pauli prioritisation doctrine (#2555)
  plugins/aops/agents/pauli.md
  plugins/aops/skills/brief/SKILL.md
  plugins/aops/skills/hydrate/SKILL.md
  plugins/aops/skills/q/SKILL.md
  plugins/aops/skills/reconcile/SKILL.md
  plugins/aops/skills/remember/SKILL.md
  plugins/aops/skills/strategize/SKILL.md
  plugins/orchestrate/skills/tick/SKILL.md
  plugins/tools/skills/diagram/SKILL.md
  plugins/tools/skills/new-project/instructions/init.md
  pyproject.toml
  specs/README.md
  specs/agents/ida-supervision-migration.md
  specs/enforcement/evidence-contract.md
Due: dprint, check-framework-integrity

restore some templates
  .agents/templates/aops_cd98ee81-template-step-by-step-interactive-agent-instruction-tuning-workflow.md
  .agents/templates/kb_4d8dc3c6-wf-session-hook-forensics.md
  .agents/templates/kb_831042d0-wf-self-test.md
  .agents/templates/kb_d1f982cd-wf-design-new-component.md
  .agents/templates/temp_f4a9cb82-wf-agentic-e2e-certification.md
  .agents/templates/wf-brief-composition-verify.md
  .agents/templates/wf-constraint-check.md
  .agents/templates/wf-design-conversation.md
  .agents/templates/wf-handover.md
  .agents/templates/wf-map-then-wire.md
  .agents/templates/wf-signoff-loop.md
  plugins/aops/workflows/temp_007e629e-structural-map-extraction-template-aims-methodology-analytical-theory-contributi.md
  plugins/aops/workflows/temp_e8ba6709-closed-task-harvest.md
  plugins/aops/workflows/temp_prompt_repair.md
  plugins/aops/workflows/tpl_dispatch.md
  plugins/aops/workflows/wf-blind-dupe.md
  plugins/aops/workflows/wf-blind-proof.md
  plugins/aops/workflows/wf-capstone-verify.md
  plugins/aops/workflows/wf-decompose.md
  plugins/aops/workflows/wf-fact-check.md
  plugins/aops/workflows/wf-hydrate.md
  plugins/aops/workflows/wf-memory-capture.md
  plugins/aops/workflows/wf-qa.md
  plugins/aops/workflows/wf-refine-loop.md
  plugins/aops/workflows/wf-signoff-brief.md
  plugins/aops/workflows/wf-tdd-cycle.md
  plugins/aops/workflows/wf-verification.md
  plugins/aops/workflows/wf-visual-qa-loop.md
Due: dprint, check-framework-integrity

feat(specs): consolidate enforcement map with severity index and repo-local template
  .agents/templates/enforcement-table.md
  specs/ENFORCEMENT-MAP.md
  specs/enforcement/enforcement.md
Due: dprint

feat(specs): add short-form linked rule references to enforcement map column 1
  specs/ENFORCEMENT-MAP.md
  specs/enforcement/enforcement.md
Due: dprint

feat(specs): decouple underlying substantive norms from persona prompt carriers in enforcement map
  specs/ENFORCEMENT-MAP.md
Due: dprint
