Repository nicsuzor/academicOps: changes, and which pre-commit hooks are due for each by the changed paths.
All: dprint, check-framework-integrity

dprint:
  name: dprint check
  entry: uv run dprint check
  language: system
  pass_filenames: true

check-framework-integrity:
  name: framework integrity check
  entry: uv run python scripts/check_framework_integrity.py
  language: system
  pass_filenames: false

docs(priority): establish canonical P0–P4 definitions and reference from skills (task-afb598f2)
  aops-core/HEURISTICS.md
  aops-core/PRIORITY.md
  aops-core/commands/pull.md
  aops-core/skills/daily/SKILL.md
  aops-core/skills/planner/SKILL.md
Due: dprint, check-framework-integrity

fix(sleep): attach PKB MCP toolset to Phase 2/4 sub-agents
  aops-core/skills/sleep/SKILL.md
  templates/github-workflows/pkb-quality-review.yml
  templates/github-workflows/sleep-cycle.yml
  templates/github-workflows/transcript-extraction.yml
Due: dprint, check-framework-integrity

fix(insights): remove dead load_prompt_template referencing retired specs/
  aops-core/lib/insights_generator.py
Due: none

fix(agents): add PKB write tools and normalise frontmatter schema (#639, #679)
  aops-core/agents/james.md
  aops-core/agents/jr.md
  aops-core/agents/marsha.md
  aops-core/agents/pauli.md
  aops-core/agents/rbg.md
Due: dprint

spec: weight-calc substrate blind-spot spike (task-f20b70eb)
  docs/specs/weight-calc-substrate-blind-spot.md
  scripts/prototype_output.txt
  scripts/weight_calc_substrate_prototype.py
Due: dprint

feat(skills): /daily and /pull consume urgency signal (task-0e12ef8d)
  aops-core/commands/pull.md
  aops-core/skills/daily/SKILL.md
  aops-core/skills/daily/instructions/status-snapshot.md
Due: dprint, check-framework-integrity

feat(observability): align session/task IDs in artefact naming (task-c36a6b0c)
  aops-core/lib/session_naming.py
  aops-core/lib/session_paths.py
  aops-core/scripts/transcript.py
  specs/session-id-alignment.md
  tests/lib/test_session_naming.py
Due: dprint

feat(skills): add anti-inflation surface to /maintain and /daily (task-b4831821)
  aops-core/skills/daily/SKILL.md
  aops-core/skills/planner/SKILL.md
Due: dprint, check-framework-integrity

fix(daily): read existing completion signals before regenerating agenda (Closes #690)
  aops-core/skills/daily/SKILL.md
Due: dprint, check-framework-integrity

docs: reference new list_tasks project filter in skills
  aops-core/skills/aops/SKILL.md
  aops-core/skills/aops/references/decision-briefing-details.md
  aops-core/skills/planner/SKILL.md
  aops-core/skills/planner/workflows/decompose.md
  aops-core/skills/sleep/SKILL.md
Due: dprint, check-framework-integrity

feat(dump): cross-reference current epic in project file (#825)
  aops-core/skills/end_session/SKILL.md
Due: dprint, check-framework-integrity

fix(tests): F-group fixture race — temp_polecat_home FileExistsError
  tests/e2e/test_polecat_run.py
Due: none

fix(pkb): default new tasks to priority 3 instead of 2 (task-2b01a9e4)
  aops-core/commands/review-pr.md
  aops-core/skills/planner/SKILL.md
  polecat/pkb_bridge.py
  tests/polecat/test_pkb_bridge.py
Due: dprint, check-framework-integrity

fix(polecat): retry pkb_bridge _post once on chunked-read TimeoutError (aops-aaa98cf7)
  polecat/pkb_bridge.py
  tests/polecat/test_pkb_bridge_retry.py
Due: none

fix(rbg): criterion-substitution + unverified-keystone + sensitive-data scan
  aops-core/agents/rbg.md
  aops-core/skills/strategic-review/review-contexts/pr-code.md
  aops-core/skills/strategic-review/review-contexts/pr-framework.md
  tests/test_rbg_pr_review_rules.py
Due: dprint

fix(planner): consult CORE.md Component Topology before parent assignment (Closes #663) (#835)
  aops-core/skills/planner/SKILL.md
Due: dprint, check-framework-integrity

feat(sleep): mode-aware pacing with brain auto-merge (#712) (#833)
  aops-core/skills/sleep/SKILL.md
Due: dprint, check-framework-integrity

fix(hooks): point periodic-enforcer at aops-core:rbg (#817) (#832)
  aops-core/hooks/templates/enforcer-instruction.md
  aops-core/hooks/templates/enforcer-policy-context.md
  tests/hooks/test_gate_config.py
Due: dprint

fix(polecat): add Step 0 pre-push gate-recheck to worker template (#583) (#831)
  polecat/prompt_template.py
  tests/polecat/test_prompt_template.py
Due: none

docs(supervisor): document manual merge-prep trigger to skip bazaar wait (#830)
  aops-core/skills/supervisor/SKILL.md
  aops-core/skills/supervisor/instructions/supervision-loop.md
Due: dprint, check-framework-integrity

feat(dump,transcript): require framework reflection + output link + tasks-worked list
  aops-core/lib/transcript_parser.py
  aops-core/scripts/transcript.py
  aops-core/skills/end_session/SKILL.md
  aops-core/skills/end_session/transcript-metadata-schema.md
  tests/lib/test_dump_quality_bar.py
Due: dprint, check-framework-integrity

feat(supervisor): add WORKERS.md worker registry (#828)
  aops-core/skills/supervisor/WORKERS.md
Due: dprint

fix(supervisor): halt on infeasible dispatch — never silently swap worker types (#827)
  aops-core/skills/supervisor/SKILL.md
  aops-core/skills/supervisor/instructions/worker-dispatch.md
Due: dprint, check-framework-integrity

docs(supervisor): document uv run form for polecat in non-interactive shells (#826)
  aops-core/skills/supervisor/SKILL.md
  aops-core/skills/supervisor/instructions/supervision-loop.md
  aops-core/skills/supervisor/instructions/worker-dispatch.md
Due: dprint, check-framework-integrity

feat(pull): dispatch to specialist agent when assignee names one (Closes #733)
  aops-core/HEURISTICS.md
  aops-core/commands/pull.md
  tests/test_pull_specialist_dispatch.py
Due: dprint, check-framework-integrity

refactor(polecat): address gemini-code-assist review on PR #850
  polecat/cli.py
Due: none

feat(polecat): CLI/lifecycle polish — --force, sweep removal, lifecycle stubs, transcript surfacing
  aops-core/skills/daily/instructions/progress-sync.md
  polecat/cli.py
  scripts/repo-sync-cron.sh
Due: dprint

fix(tests): E-group — migrate claude CLI off retired flags
  tests/conftest.py
  tests/integration/test_deny_rules.py
Due: none

feat(enforcer): block (not defer) PRs that add gates without updating enforcement-map (Closes #803)
  aops-core/HEURISTICS.md
  aops-core/agents/rbg.md
  tests/test_enforcer_p65_blocking.py
Due: dprint

feat(heuristics): age is not a staleness signal — garden surfaces, never cancels (Closes #185)
  aops-core/HEURISTICS.md
  aops-core/skills/sleep/SKILL.md
  tests/test_aops_0f2235dc.py
Due: dprint, check-framework-integrity

feat(observability): session ID alignment + naming + git-sync (P3 group, 5 tasks) (#858)
  .agents/STATUS.md
  aops-core/lib/insights_generator.py
  aops-core/lib/session_naming.py
  aops-core/lib/session_paths.py
  aops-core/scripts/transcript.py
  aops-core/skills/aops/references/debug-details.md
  aops-core/skills/aops/references/learning-log-details.md
  aops-core/skills/sleep/SKILL.md
  scripts/audit_framework_health.py
  specs/session-id-alignment.md
  specs/session-log-observability-gaps.md
  tests/lib/test_session_naming.py
Due: dprint, check-framework-integrity

feat(polecat): add --force flag to run command (Closes task-bede0aab)
  polecat/cli.py
  tests/polecat/test_cli_run_force.py
Due: none

fix(session-writer): resolve worktree paths to main repo (Closes task-ea880699)
  aops-core/lib/transcript_parser.py
  tests/lib/test_infer_project_worktree.py
Due: none

fix(supervisor): mandatory host-check + ping-pkb gate for dispatch reliability (#836)
  aops-core/skills/supervisor/SKILL.md
  aops-core/skills/supervisor/instructions/supervision-loop.md
  aops-core/skills/supervisor/instructions/worker-dispatch.md
  polecat/cli.py
  tests/polecat/test_cli_ping_pkb.py
Due: dprint, check-framework-integrity

docs(priority): canonicalize P0–P4 definitions in TAXONOMY (Closes task-afb598f2)
  aops-core/commands/pull.md
  aops-core/skills/aops/templates/spec.md
  aops-core/skills/daily/SKILL.md
  aops-core/skills/daily/instructions/status-snapshot.md
  aops-core/skills/hydrator/workflows/email-capture.md
  aops-core/skills/hydrator/workflows/references/email-capture-details.md
  aops-core/skills/planner/SKILL.md
  aops-core/skills/remember/references/TAXONOMY.md
  tests/test_priority_definition_canonical.py
Due: dprint, check-framework-integrity

feat(heuristics): age is not a staleness signal — garden surfaces, never cancels (Closes #185) (#860)
  aops-core/HEURISTICS.md
  aops-core/skills/sleep/SKILL.md
  tests/test_aops_0f2235dc.py
Due: dprint, check-framework-integrity

feat(skills): /maintain anti-inflation surface for graph hygiene (#848)
  aops-core/skills/daily/SKILL.md
  aops-core/skills/planner/SKILL.md
Due: dprint, check-framework-integrity

fix(session-writer): dedupe timeline_events to prevent double-recording (Closes task-955f405d)
  aops-core/lib/transcript_parser.py
  tests/lib/test_timeline_events_dedupe.py
Due: none

fix(transcript): read hook gate results from CanonicalHookOutput.output (Closes task-fc938187)
  aops-core/lib/transcript_parser.py
  tests/lib/test_transcript_hook_output.py
Due: none

Path conditions:
  dprint: any of: \.(md|markdown|mdown)$, \.json$, \.toml$
  check-framework-integrity: any of: (WORKFLOWS|SKILLS)\.md$|workflows/.*\.md$|skills/.*/SKILL\.md$|commands/.*\.md$
