Repository nicsuzor/academicOps: changes, and which pre-commit hooks are due for each by the changed paths.
All: dprint, check-framework-integrity

dprint:
  name: dprint check
  entry: uv run dprint check
  language: system
  pass_filenames: true

check-framework-integrity:
  name: framework integrity check
  entry: uv run python scripts/check_framework_integrity.py
  language: system
  pass_filenames: false

add example
  plugins/ida/agents/ida.md
Due: dprint

address irrelevant gap instructions
  plugins/ida/agents/ida.md
  plugins/orchestrate/hooks/messages/honesty.md
Due: dprint

separate ida from orchestrate; strip harness-level dispatch instruction
  build/marketplace.toml
  plugins/ida/README.md
  plugins/ida/agents/ida.md
  plugins/ida/agents/pc.md
  plugins/ida/manifest/plugin.toml
  plugins/ida/skills/strategize/SKILL.md
  plugins/orchestrate/README.md
  plugins/orchestrate/agents/adversary.md
  plugins/orchestrate/agents/agy.claude.md
  plugins/orchestrate/agents/james.md
  plugins/orchestrate/agents/pc.md
  plugins/orchestrate/manifest/plugin.toml
  specs/ARCHITECTURE.md
  specs/ENFORCEMENT-MAP.md
  specs/agents/agent-authority.md
  specs/agents/supervision-split.md
  specs/polecat/polecat-system.md
  specs/polecat/supervisor.md
  tests/test_build.py
Due: dprint, check-framework-integrity

docs(session-trace): update skill instructions to search sessions by short slug
  plugins/orchestrate/skills/session-trace/SKILL.md
Due: dprint, check-framework-integrity

fix(polecat/permissions): grant unrestricted permissions and fix session_start handler
  lib/polecat/defaults/agy-settings.json
  lib/polecat/defaults/claude-config.json
  plugins/orchestrate/hooks/handlers.py
Due: dprint

fix(build/agy): restrict agy accepted tools to registered set in container
  build/tool_map.toml
  tests/test_build.py
Due: dprint

simplify instructions
  plugins/ida/agents/ida.md
  plugins/pkb/skills/learn/SKILL.md
Due: dprint, check-framework-integrity

add example
  .agents/agents/rex.md
Due: dprint

drop the agy wrapper agent; restore synchronous polecat runs
  build/marketplace.toml
  plugins/ida/README.md
  plugins/ida/agents/ida.md
  plugins/ida/agents/pc.md
  plugins/orchestrate/README.md
  plugins/orchestrate/agents/agy.claude.md
  specs/ARCHITECTURE.md
  specs/agents/agent-authority.md
Due: dprint

feat(polecat): read configs in a DRY way from polecat.yaml with no env var fallback
  lib/polecat/cli.py
  lib/polecat/defaults/polecat.yaml.example
  tests/polecat/test_container_config.py
  tests/polecat/test_print_timeout.py
Due: none

docs(debug): record agy tool-vocabulary contract, fix MCP scoring, add live-fix-loop
  .agents/skills/debug/SKILL.md
  .agents/skills/debug/scripts/matrix-probe.sh
  plugins/pkb/workflows/INDEX.md
  plugins/pkb/workflows/process/live-fix-loop.md
  specs/ARCHITECTURE.md
  specs/polecat/tmux-interactive-driving.md
Due: dprint, check-framework-integrity

fix(build/agy): restore explicit tools vocabulary emission for agy agents
  build/clients/agy.py
  build/tools.py
  plugins/orchestrate/agents/james.md
  tests/test_build.py
Due: dprint

update instructions again
  .agents/CORE.md
  .agents/rules/worktrees.md
  plugins/ida/agents/ida.md
Due: dprint

cut down agents
  plugins/ida/agents/ida.md
  plugins/ida/hooks/handlers.py
  plugins/orchestrate/agents/james.md
  plugins/orchestrate/hooks/handlers.py
Due: dprint

feat(transcripts): replace legacy transcript pipeline with Phoenix OTel trace renderer
  lib/py/transcripts/domain/sync.py
  plugins/orchestrate/hooks/claude_code_tracer.py
  plugins/orchestrate/skills/session-trace/SKILL.md
  plugins/orchestrate/skills/session-trace/scripts/phoenix_trace.py
  scripts/repo-sync-cron.sh
  scripts/trace_to_markdown.py
  specs/future/sleep-cycle.md
Due: dprint, check-framework-integrity

fix(transcripts): address PR #2470 review comments on trace markdown and CLI modes
  plugins/orchestrate/skills/session-trace/scripts/phoenix_trace.py
  scripts/trace_to_markdown.py
  tests/test_session_trace_scripts.py
Due: none

fix(polecat): widen mapping annotation in _resolve_section_env to Mapping
  lib/polecat/cli.py
Due: none

spec(workflows): add three-source workflow template discovery contract (aops_50b695bb)
  specs/workflows/template-library.md
  specs/workflows/three-source-template-discovery.md
Due: dprint, check-framework-integrity

docs(debug skill): add subagent lifecycle correlation recipes to Phoenix forensics
  .agents/skills/debug/SKILL.md
Due: dprint, check-framework-integrity

feat(pre-commit): reinstall H39 horizontal rule prohibition and R5.6 orphan md gate
  .markdownlint-cli2.jsonc
  .markdownlint-rules/no-horizontal-rules.js
  .pre-commit-config.yaml
  scripts/check_no_new_orphan_md.py
  tests/hooks/test_check_no_new_orphan_md.py
  tests/hooks/test_no_horizontal_rules.py
Due: none

feat(telemetry): leverage Phoenix MCP in debug skill and enforce trace endpoint in entrypoint
  .agents/skills/debug/SKILL.md
  lib/polecat/entrypoint.sh
  tests/polecat/test_container_config.py
Due: dprint, check-framework-integrity

polecat print timeout setting
  lib/polecat/cli.py
  plugins/ida/README.md
  plugins/ida/agents/pc.md
  specs/polecat/polecat-system.md
Due: dprint

update james and ida instructions
  plugins/ida/agents/errata.md
  plugins/ida/agents/ida.md
  plugins/orchestrate/agents/james.md
Due: dprint

polecat: default headless dispatch to stream-json with single-stream stdout contract
  lib/polecat/cli.py
  specs/polecat/polecat-system.md
  tests/polecat/test_container_invocation.py
  tests/polecat/test_stream_json_contract.py
Due: dprint

loosen restrictions
  plugins/ida/agents/ida.md
  plugins/rbg/agents/rbg.md
Due: dprint

compliance check in james process
  plugins/orchestrate/agents/james.md
Due: dprint

fix: address review comments on PR #2469 and resolve broken doc reference
  plugins/ida/agents/agy.md
  plugins/ida/agents/ida.md
  specs/workflows/three-source-template-discovery.md
  tests/polecat/test_container_config.py
Due: dprint, check-framework-integrity

feat(polecat): add dynamic host port mapping (-P/--port) for container port 8080
  lib/polecat/cli.py
  tests/polecat/test_container_invocation.py
Due: none

feat(polecat): expose container port 8080 and publish dynamic host port by default
  Dockerfile
  lib/polecat/cli.py
  tests/polecat/test_container_invocation.py
Due: none

add james to ida
  plugins/ida/agents/ida.md
Due: dprint

don't check rbg so often
  plugins/orchestrate/agents/james.md
Due: dprint

feat(ida): document SSH dispatch path for pc, host from POLECAT_HOST
  lib/polecat/defaults/polecat.yaml.example
  plugins/ida/agents/pc.md
Due: dprint

docs(specs): pc's recorded grants now include ssh
  specs/agents/agent-authority.md
Due: dprint

fix(ida): ssh -t must precede the destination in pc's attach command
  plugins/ida/agents/pc.md
Due: dprint

distinguish james and ida
  plugins/ida/agents/ida.md
Due: dprint

simplify dispatch instructions
  .agents/skills/debug/SKILL.md
  plugins/orchestrate/agents/james.md
Due: dprint, check-framework-integrity

polecat via ssh
  plugins/ida/agents/pc.md
Due: dprint

chore(dev): release 0.8.0
  .release-please-manifest.json
  CHANGELOG.md
  pyproject.toml
Due: dprint

fix(polecat): default to not including --agent flag
  lib/polecat/cli.py
  tests/polecat/test_container_invocation.py
Due: none

Path conditions:
  dprint: any of: \.(md|markdown|mdown)$, \.json$, \.toml$
  check-framework-integrity: any of: (WORKFLOWS|SKILLS)\.md$|workflows/.*\.md$|skills/.*/SKILL\.md$|commands/.*\.md$
