Repository nicsuzor/academicOps: changes, and which pre-commit hooks are due for each by the changed paths.
All: radon-complexity, radon-maintainability, test-architecture, pytest

radon-complexity:
  name: Check code complexity
  entry: uv run radon cc --min B --total-average
  language: system
  pass_filenames: true

radon-maintainability:
  name: Check maintainability index
  entry: uv run radon mi --min B
  language: system
  pass_filenames: true

test-architecture:
  name: Enforce test architecture rules
  entry: uv run python scripts/check_test_architecture.py
  language: system
  pass_filenames: false

pytest:
  name: Run tests (parallel)
  entry: uv run pytest -n auto -m "not slow and not integration and not endtoend"
  language: system
  pass_filenames: false
  stages:
  - pre-commit

fix(bmem): Add approved categories/relations reference
  skills/bmem/SKILL.md
  skills/bmem/references/approved-categories-relations.md
Due: none

excalidraw
  skills/excalidraw/SKILL.md
  skills/excalidraw/references/icon-integration.md
  skills/excalidraw/references/text-container-pattern.md
  skills/excalidraw/references/theme-colors.md
Due: none

feat(hooks): Make framework path resolution failsafe
  lib/paths.py
  setup.sh
  tests/test_lib_paths.py
Due: radon-complexity, radon-maintainability, test-architecture, pytest

fix(tests): Replace hardcoded paths with environment variables
  lib/paths.py
  skills/framework/SKILL.md
  tests/README.md
  tests/conftest.py
  tests/integration/test_session_start_content.py
  tests/test_conftest.py
  tests/test_core_md_task_guidance.py
  tests/test_paths.py
  tests/test_skills_readme_integrity.py
Due: radon-complexity, radon-maintainability, test-architecture, pytest

fix(docs): Correct ACA_DATA example path in README
  README.md
Due: none

test: Add validation for README path documentation accuracy
  tests/test_readme_paths.py
Due: radon-complexity, radon-maintainability, test-architecture, pytest

docs(tests): Document README path validation tests
  tests/README.md
Due: none

test: Fix unit tests to use environment variables and shared fixtures
  lib/paths.py
  pyproject.toml
  tests/integration/conftest.py
  tests/integration/test_session_start_content.py
  tests/test_excalidraw_skill.py
  tests/test_lib_paths.py
  tests/test_session_start_loading.py
Due: radon-complexity, radon-maintainability, test-architecture, pytest

fix(hooks): create .claude/settings.json symlink for Claude Code hook discovery
  .claude/settings.json
  tests/integration/test_settings_discovery.py
Due: radon-complexity, radon-maintainability, test-architecture, pytest

refactor: Use user-level settings.json instead of project-level
  .claude/settings.json
Due: none

feat(hooks): Load CORE.md in SessionStart hook and fix test fixtures
  hooks/sessionstart_load_axioms.py
  tests/integration/conftest.py
  tests/integration/test_session_start_content.py
  tests/test_core_md_exists.py
Due: radon-complexity, radon-maintainability, test-architecture, pytest

fix(tests): Remove redundant get_aops_root import causing UnboundLocalError
  tests/integration/conftest.py
Due: radon-complexity, radon-maintainability, test-architecture, pytest

fix(hooks): Use correct JSON format for SessionStart additionalContext
  hooks/sessionstart_load_axioms.py
Due: radon-complexity, radon-maintainability, pytest

test: Add validation for SessionStart hook JSON format
  tests/test_sessionstart_hook_format.py
Due: radon-complexity, radon-maintainability, test-architecture, pytest

test: Add unit tests for framework installation validation
  tests/test_framework_installation.py
Due: radon-complexity, radon-maintainability, test-architecture, pytest

fix: Update outdated path references and test expectations
  CLAUDE.md
  skills/tasks/README.md
  skills/tasks/__pycache__/__init__.cpython-312.pyc
  skills/tasks/__pycache__/__init__.cpython-313.pyc
  skills/tasks/__pycache__/models.cpython-313.pyc
  skills/tasks/__pycache__/task_ops.cpython-312.pyc
  skills/tasks/__pycache__/task_ops.cpython-313.pyc
  tests/integration/test_skill_script_discovery.py
Due: radon-complexity, radon-maintainability, test-architecture, pytest

fix: Pass environment variables to autocommit hook in tests
  tests/integration/test_autocommit_data.py
Due: radon-complexity, radon-maintainability, test-architecture, pytest

fix(tests): Correct get_writing_root() to return actual writing repo path
  tests/integration/test_bmem_skill.py
  tests/paths.py
Due: radon-complexity, radon-maintainability, test-architecture, pytest

fix(tests): Correct bmem integration test file path resolution
  skills/framework/workflows/02-debug-framework-issue.md
  tests/integration/conftest.py
  tests/integration/test_bmem_skill.py
Due: radon-complexity, radon-maintainability, test-architecture, pytest

fix(tests): Restore correct test expectations for bmem file locations
  tests/integration/test_bmem_skill.py
Due: radon-complexity, radon-maintainability, test-architecture, pytest

test(bmem): Add diagnostic test and documentation for knowledge base architecture
  README.md
  tests/integration/test_bmem_diagnostic.py
Due: radon-complexity, radon-maintainability, test-architecture, pytest

fix(tests): Make bmem integration tests more robust
  experiments/2025-11-21_zotmcp-tdd-session.md
  tests/integration/test_bmem_skill.py
Due: radon-complexity, radon-maintainability, test-architecture, pytest

docs(bmem): Add comprehensive architecture documentation
  BMEM-ARCHITECTURE.md
Due: none

feat(config): Add deny rules for .claude directory access
  config/claude/settings.json
Due: none

refactor(tests): Consolidate framework tests to $AOPS/tests/
  README.md
  skills/framework/SKILL.md
  tests/conftest.py
  tests/run_integration_tests.py
  tests/test_bmem_retrieval.py
  tests/test_session_logging.py
  tests/test_skills_imports.py
  tests/test_task_ops.py
  tests/test_task_server_integration.py
Due: radon-complexity, radon-maintainability, test-architecture, pytest

test(tasks): Add integration test for task_ops CWD independence
  tests/integration/test_task_ops_integration.py
Due: radon-complexity, radon-maintainability, test-architecture, pytest

test(tasks): Add task create/archive CWD independence test
  tests/integration/test_task_ops_integration.py
Due: radon-complexity, radon-maintainability, test-architecture, pytest

test(integration): Add deny rules verification tests
  tests/integration/test_deny_rules.py
Due: radon-complexity, radon-maintainability, test-architecture, pytest

fix(tests): Correct test expectations and improve fixture isolation
  tests/conftest.py
  tests/test_paths.py
  tests/test_session_logging.py
Due: radon-complexity, radon-maintainability, test-architecture, pytest

refactor: Remove get_writing_root() and server.DATA_DIR caching
  skills/tasks/server.py
  skills/tasks/task_ops.py
  tests/conftest.py
  tests/integration/test_bmem_diagnostic.py
  tests/integration/test_bmem_skill.py
  tests/integration/test_file_loading_e2e.py
  tests/integration/test_headless_fixture.py
  tests/integration/test_settings_discovery.py
  tests/integration/test_skill_discovery_standalone.py
  tests/integration/test_skill_script_discovery.py
  tests/paths.py
  tests/test_conftest.py
  tests/test_paths.py
  tests/test_task_server_integration.py
Due: radon-complexity, radon-maintainability, test-architecture, pytest

test: add unit tests for YAML frontmatter parsing with special chars
  tests/test_yaml_frontmatter.py
Due: radon-complexity, radon-maintainability, test-architecture, pytest

test: add integration test for bmem YAML colon escaping
  tests/integration/test_bmem_yaml_escaping.py
Due: radon-complexity, radon-maintainability, test-architecture, pytest

test: add integration test for subagent skill invocation
  tests/integration/test_subagent_skill_invocation.py
Due: radon-complexity, radon-maintainability, test-architecture, pytest

fix(framework-debug): Improve error discovery workflow
  skills/framework-debug/SKILL.md
  skills/framework-debug/scripts/errors.jq
Due: none

docs(README): Add Claude Code debug locations
  README.md
  pyproject.toml
  skills/bmem/SKILL.md
  skills/framework/SKILL.md
  skills/framework/specs/2025-11-22_deny-rules-configuration.md
  skills/tasks/__pycache__/models.cpython-312.pyc
  skills/tasks/__pycache__/server.cpython-312.pyc
  skills/tasks/__pycache__/task_ops.cpython-312.pyc
  uv.lock
Due: none

feat(config): Add PYTHONPATH to settings.json env object
  config/claude/settings.json
Due: none

refactor(excalidraw): sloppy hand-drawn aesthetic, organic mind-map layouts
  agents/task-viz.md
  skills/excalidraw/SKILL.md
  skills/excalidraw/references/json-format.md
Due: none

fix(hooks): Prevent infinite loops when Stop hooks fail to import
  config/claude/settings.json
  hooks/log_session_stop.py
  hooks/log_subagentstop.py
Due: radon-complexity, radon-maintainability, pytest

fix(task-viz): gentle colors, solid fills, star/orbital layout
  agents/task-viz.md
Due: none

docs(framework): Add E2E test harness reference documentation
  skills/framework/SKILL.md
  skills/framework/references/e2e-test-harness.md
Due: none

Path conditions:
  radon-complexity: any of: \.py$
  radon-maintainability: any of: \.py$
  test-architecture: any of: ^tests/.*\.py$
  pytest: any of: \.py$
