Repository nicsuzor/academicOps: changes, and which pre-commit hooks are due for each by the changed paths.
All: dprint, check-framework-integrity

dprint:
  name: dprint check
  entry: uv run dprint check
  language: system
  pass_filenames: true

check-framework-integrity:
  name: framework integrity check
  entry: uv run python scripts/check_framework_integrity.py
  language: system
  pass_filenames: false

docs(aops-pkb): document the new plugin in README and BUILD.md
  README.md
  aops-core/BUILD.md
Due: dprint

fix(build): scan aops-pkb for cowork-only markers so /pull ships again
  aops-core/BUILD.md
  aops-pkb/commands/pull.md
  scripts/build.py
Due: dprint, check-framework-integrity

docs(enforcement-map): reflect PKB tool-prefix split after aops-pkb extraction
  specs/ENFORCEMENT-MAP.md
Due: dprint

docs: repoint canonical TAXONOMY.md cross-plugin references to aops-pkb
  .agents/CORE.md
  .agents/INDEX.md
  aops-tools/skills/analyst/SKILL.md
  aops-tools/skills/deep-research/SKILL.md
  aops-tools/skills/diagram/SKILL.md
  aops-tools/skills/extract/SKILL.md
  aops-tools/skills/pdf/SKILL.md
  specs/INDEX.md
  specs/polecat/polecat-system.md
  specs/polecat/supervisor.md
  specs/workflows/non-interactive-agent-workflow-spec.md
Due: dprint, check-framework-integrity

docs(supervisor): repoint stale wikilinks to moved aops-pkb components
  aops-core/skills/supervisor/SKILL.md
  aops-core/skills/supervisor/instructions/decomposition-and-review.md
  aops-core/skills/supervisor/instructions/supervision-loop.md
  aops-core/skills/supervisor/instructions/worker-dispatch.md
  aops-core/skills/supervisor/references/dispatch-rules.md
  aops-core/skills/supervisor/references/subagent-contracts.md
Due: dprint, check-framework-integrity

docs(premise-gate): forward-point to RULING C7 without abolishing the gate
  aops-pkb/skills/remember/references/premise-gate.md
  aops-pkb/skills/task-lifecycle/SKILL.md
Due: dprint, check-framework-integrity

fix(tests): point sign-off agent path assertions at aops-pkb
  tests/test_gemini_accessibility.py
  tests/test_rbg_r2_universal_claim_inference.py
Due: none

fix(enforcer): resolve moved skill/command/agent references after aops-pkb extraction
  aops-core/hooks/templates/rbg-instruction.md
  aops-core/hooks/templates/rbg-policy-context.md
  aops-core/lib/gates/definitions.py
  aops-core/lib/session_reader.py
  aops-core/lib/tool_categories.py
  aops-core/skills/supervisor/instructions/decomposition-and-review.md
  tests/hooks/test_rbg_review_gate.py
Due: dprint

fix(agents): finish aops-core→aops-pkb rename for pauli/james/marsha/rbg refs
  .agents/skills/aops/conventions-summary.md
  .agents/skills/aops/references/feature-dev-details.md
  .agents/skills/design-rubric/SKILL.md
  aops-core/lib/subagent_transcript.py
  aops-core/skills/supervisor/instructions/decomposition-and-review.md
  aops-pkb/skills/strategic-review/SKILL.md
  aops-pkb/skills/verify/references/qa-planning.md
  specs/observability/observability.md
  tests/hooks/test_rbg_review_gate.py
  tests/lib/test_subagent_transcript.py
Due: dprint, check-framework-integrity

spec(interactive): consolidate head ROLE charter (P1–P13, junior/ida skins)
  specs/interactive-experience/head-role-charter.md
Due: dprint

fix(spec): apply four-agent review fixes to head ROLE charter (B1-B3, fix-list 1-8)
  specs/agents/agents.md
  specs/interactive-experience/head-role-charter.md
Due: dprint

fix(core): resolve second P13 contradiction in CORE.md (Junior skin framing)
  .agents/CORE.md
Due: dprint

feat(aops-interactive): scaffold interactive-experience plugin (aops-cf3fb2f0)
  aops-core/agents/ida.md
  aops-interactive/.claude-plugin/plugin.json
  aops-interactive/agents/ida.md
  aops-interactive/agents/junior.md
  aops-interactive/skills/daily/SKILL.md
  aops-interactive/skills/daily/references/note-template.md
  aops-interactive/skills/dump/SKILL.md
  aops-interactive/skills/end_session/SKILL.md
  aops-interactive/skills/end_session/transcript-metadata-schema.md
  aops-interactive/skills/narrative-digest/SKILL.md
  scripts/build.py
  templates/marketplace.json
Due: dprint, check-framework-integrity

fix(enforcement): sweep references after aops-interactive extraction (aops-cf3fb2f0)
  aops-core/BUILD.md
  aops-core/lib/gates/definitions.py
  aops-core/lib/session_reader.py
  aops-core/lib/transcript_parser.py
  aops-core/scripts/transcript.py
  aops-tools/skills/analyst/SKILL.md
  specs/ENFORCEMENT-MAP.md
  specs/agents/ida.md
  specs/enforcement/GATES.md
  specs/summaries-schema.md
  tests/hooks/test_handover_gate_latch.py
Due: dprint, check-framework-integrity

fix(skills): re-apply stale plugin-extraction refs lost to concurrency race
  .agents/skills/aops/workflows/11-self-test.md
  aops-interactive/skills/end_session/SKILL.md
Due: dprint, check-framework-integrity

spec(enforcement): redraft ENFORCEMENT-MAP/GATES/enforcement.md per hooks-disposition rulings H1–H18 (aops-3bcdc859)
  specs/ENFORCEMENT-MAP.md
  specs/enforcement/GATES.md
  specs/enforcement/enforcement.md
  specs/enforcement/pyramid.md
  specs/enforcement/task-contract.md
Due: dprint

fix(enforcement): apply redraft review — SSoT rows, H3 standing-rule, H16 remote, H2 caveat, boundary centre-of-gravity
  specs/ENFORCEMENT-MAP.md
  specs/enforcement/GATES.md
  specs/enforcement/enforcement.md
Due: dprint

spec(enforcement): redraft ENFORCEMENT-MAP/GATES/enforcement.md per hooks-disposition rulings H1–H18 (#2116)
  specs/ENFORCEMENT-MAP.md
  specs/enforcement/GATES.md
  specs/enforcement/enforcement.md
  specs/enforcement/pyramid.md
  specs/enforcement/task-contract.md
Due: dprint

chore(dev): release 0.3.66
  .release-please-manifest.json
  CHANGELOG.md
  pyproject.toml
  templates/aops-core.gemini-extension.json
  templates/aops-core.plugin.json
  templates/aops-tools.gemini-extension.json
  templates/aops-tools.plugin.json
Due: dprint

chore(dev): release 0.3.66 (#2117)
  .release-please-manifest.json
  CHANGELOG.md
  pyproject.toml
  templates/aops-core.gemini-extension.json
  templates/aops-core.plugin.json
  templates/aops-tools.gemini-extension.json
  templates/aops-tools.plugin.json
  uv.lock
Due: dprint

fix(cron): bootstrap PATH before sops + share cron-lib env-load (repo-sync)
  scripts/repo-sync-cron.sh
Due: none

fix(transcript): stop re-parsing empty sessions every cron tick
  aops-core/scripts/transcript.py
Due: none

fix(session_reader): render AskUserQuestion answer in audit narrative
  aops-core/lib/session_reader.py
  tests/lib/test_session_reader.py
Due: none

refactor(enforcement): dissolve aops-interactive per ruling A10
  .agents/skills/aops/workflows/11-self-test.md
  aops-core/BUILD.md
  aops-core/agents/ida.md
  aops-core/lib/gates/definitions.py
  aops-core/lib/session_reader.py
  aops-core/lib/transcript_parser.py
  aops-core/scripts/transcript.py
  aops-core/skills/narrative-digest/SKILL.md
  aops-interactive/.claude-plugin/plugin.json
  aops-interactive/agents/junior.md
  aops-pkb/.claude-plugin/plugin.json
  aops-pkb/skills/daily/SKILL.md
  aops-pkb/skills/daily/references/note-template.md
  aops-pkb/skills/dump/SKILL.md
  aops-pkb/skills/end_session/SKILL.md
  aops-pkb/skills/end_session/transcript-metadata-schema.md
  aops-tools/skills/analyst/SKILL.md
  scripts/build.py
  specs/ENFORCEMENT-MAP.md
  specs/agents/ida.md
  specs/enforcement/GATES.md
  specs/enforcement/enforcement.md
  specs/enforcement/pyramid.md
  specs/interactive-experience/head-role-charter.md
  specs/summaries-schema.md
  templates/marketplace.json
  tests/hooks/test_handover_gate_latch.py
Due: dprint, check-framework-integrity

feat(daily): add stale-claim + ready-queue reconciliation sweep
  aops-interactive/skills/daily/SKILL.md
  aops-interactive/skills/daily/references/note-template.md
Due: dprint, check-framework-integrity

chore(dev): release 0.3.67
  .release-please-manifest.json
  CHANGELOG.md
  pyproject.toml
  templates/aops-core.gemini-extension.json
  templates/aops-core.plugin.json
  templates/aops-tools.gemini-extension.json
  templates/aops-tools.plugin.json
Due: dprint

chore(dev): release 0.3.67 (#2132)
  .release-please-manifest.json
  CHANGELOG.md
  pyproject.toml
  templates/aops-core.gemini-extension.json
  templates/aops-core.plugin.json
  templates/aops-tools.gemini-extension.json
  templates/aops-tools.plugin.json
  uv.lock
Due: dprint

chore(dev): release 0.3.68
  .release-please-manifest.json
  CHANGELOG.md
  pyproject.toml
  templates/aops-core.gemini-extension.json
  templates/aops-core.plugin.json
  templates/aops-tools.gemini-extension.json
  templates/aops-tools.plugin.json
Due: dprint

chore(dev): release 0.3.68 (#2133)
  .release-please-manifest.json
  CHANGELOG.md
  pyproject.toml
  templates/aops-core.gemini-extension.json
  templates/aops-core.plugin.json
  templates/aops-tools.gemini-extension.json
  templates/aops-tools.plugin.json
  uv.lock
Due: dprint

fix(mechanic): repair escalation state machine (push abort, crash≠escalation, reset path)
  .github/workflows/agent-mechanic.yml
  .github/workflows/conflict-admission-sweep.yml
  specs/ENFORCEMENT-MAP.md
  specs/workflows/pr-pipeline.md
Due: dprint, check-framework-integrity

fix(enforcer): repoint prompt fetch to aops-pkb/agents/rbg.md (#2115 move)
  .github/workflows/agent-enforcer.yml
Due: none

fix(ci): QA sparse-checkout materialises marsha prompt from aops-pkb/agents (after #2115 move)
  .github/workflows/agent-qa.yml
Due: none

doctrine: due is for real deadlines only, never fabricated from stated intent
  .agents/rules/HEURISTICS.md
  .agents/skills/aops/conventions-summary.md
  aops-pkb/skills/planner/SKILL.md
  aops-pkb/skills/remember/references/TAXONOMY.md
Due: dprint, check-framework-integrity

chore(dev): release 0.3.69
  .release-please-manifest.json
  CHANGELOG.md
  pyproject.toml
  templates/aops-core.gemini-extension.json
  templates/aops-core.plugin.json
  templates/aops-tools.gemini-extension.json
  templates/aops-tools.plugin.json
Due: dprint

Path conditions:
  dprint: any of: \.(md|markdown|mdown)$, \.json$, \.toml$
  check-framework-integrity: any of: (WORKFLOWS|SKILLS)\.md$|workflows/.*\.md$|skills/.*/SKILL\.md$|commands/.*\.md$
