Repository nicsuzor/academicOps: changes, and which pre-commit hooks are due for each by the changed paths.
All: dprint, check-framework-integrity

.pre-commit-config.yaml:

# Pre-commit hooks for academicOps framework governance
# See https://pre-commit.com for more info

repos:
  # Markdown/JSON/TOML validation (dprint - check-only, no auto-fix)
  # Ruff check --fix auto-fixes what it can; ruff-format checks formatting
  - repo: local
    hooks:
      - id: dprint
        name: dprint check
        entry: uv run dprint check
        language: system
        types_or: [markdown, json, toml]
        pass_filenames: true

  # Markdown linting (catches issues dprint doesn't fix)
  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.12.1
    hooks:
      - id: markdownlint-cli2
        exclude: '^archived/'

  # Standard hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: '\.excalidraw$'
      - id: end-of-file-fixer
        exclude: '\.excalidraw$'
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
        args: ['--maxkb=500']

  # Python linting (auto-fix enabled)
  # Ruff check --fix auto-fixes what it can; ruff-format checks formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.4
    hooks:
      - id: ruff
        args: [--fix]
        exclude: '^archived/'
      - id: ruff-format
        args: [--check]
        exclude: '^archived/'

  # Framework integrity checks (index wikilinks, skill entries, workflow length)
  # Consolidates check-workflow-length + new index integrity validation
  - repo: local
    hooks:
      - id: check-framework-integrity
        name: framework integrity check
        entry: uv run python scripts/check_framework_integrity.py
        language: system
        pass_filenames: false
        files: '(WORKFLOWS|SKILLS)\.md$|workflows/.*\.md$|skills/.*/SKILL\.md$|commands/.*\.md$'

  # Type checking and full framework health checks run in CI only
  # (see .github/workflows/framework-health.yml)
  #
  # Moved to CI:
  # - basedpyright: full type analysis too slow for every commit
  # - check-skill-line-count: whole-repo scan, not file-scoped
  # - check-orphan-files: whole-repo scan, not file-scoped
  # - check-framework-integrity --full: slow full codebase wikilink scan
  # - audit_framework_health: comprehensive audit

fix typo
  polecat/cli.py
Due: none

feat(daily): implement Importance-to-Visibility Escalation Model
  CHANGELOG.md
  aops-core/skills/daily/SKILL.md
  aops-core/skills/daily/instructions/status-snapshot.md
  aops-core/skills/daily/references/note-template.md
  polecat/manager.py
  specs/ENFORCEMENT-MAP.md
  specs/INDEX.md
  specs/workflows/daily/60-importance-escalation.md
  tests/hooks/test_handover_gate_latch.py
  tests/test_session_paths.py
Due: dprint, check-framework-integrity

build: drop vestigial pkb binary bundling for fast builds
  .github/workflows/build-extension.yml
  scripts/build.py
Due: none

ci(main): replace stale build-extension.yml with corrected copy
  .github/workflows/build-extension.yml
Due: none

Update scripts/build.py
  scripts/build.py
Due: none

chore(main): release 0.3.35
  .release-please-manifest.json
  CHANGELOG.md
  pyproject.toml
  templates/aops-core.gemini-extension.json
  templates/aops-core.plugin.json
  templates/aops-tools.gemini-extension.json
  templates/aops-tools.plugin.json
Due: dprint

build: de-invert branch topology — source on dev, artifacts on dist
  .github/rulesets/only-dists-to-dist.yml
  .github/workflows/auto-retarget-pr.yml
  .github/workflows/build-extension.yml
  .github/workflows/lint.yml
  .github/workflows/merge-prep-cron.yml
  .github/workflows/pytest.yml
  .github/workflows/typecheck.yml
  INSTALL.md
  README.md
  scripts/build.py
Due: dprint

refactor(daily): radically simplify skill + template; address PR #1614 review
  aops-core/skills/daily/SKILL.md
  aops-core/skills/daily/instructions/briefing-and-triage.md
  aops-core/skills/daily/instructions/mobile-capture-triage.md
  aops-core/skills/daily/instructions/morning-timeline.md
  aops-core/skills/daily/instructions/pr-triage-dashboard.md
  aops-core/skills/daily/instructions/progress-sync.md
  aops-core/skills/daily/instructions/reflect.md
  aops-core/skills/daily/instructions/status-snapshot.md
  aops-core/skills/daily/instructions/work-summary.md
  aops-core/skills/daily/instructions/workflow-monitor.md
  aops-core/skills/daily/references/note-template.md
  polecat/manager.py
  specs/enforcement/enforcement-mechanisms.md
  specs/workflows/daily/60-importance-escalation.md
  tests/test_session_paths.py
Due: dprint, check-framework-integrity

spec(pr-pipeline): rewrite v2 to two-stage Environment-gated convergent model
  .github/workflows/merge-prep-cron.yml
  specs/INDEX.md
  specs/workflows/pr-pipeline-v2.md
  specs/workflows/pr-pipeline.md
Due: dprint, check-framework-integrity

P2: QA agent (marsha) to parity — agent-qa.yml + trigger-qa.yml + qa-status
  .github/agents/qa.agent.md
  .github/workflows/agent-qa.yml
  .github/workflows/trigger-qa.yml
  specs/ENFORCEMENT-MAP.md
Due: dprint

ingest ccowork
  aops-core/scripts/ingest_cowork.py
  tests/lib/test_cowork_ingestion.py
Due: none

final iteration from cowork
  aops-tools/skills/peer-review/SKILL.md
Due: dprint, check-framework-integrity

build: isolate aops-cowork in its own academicOps-cowork marketplace
  Makefile
  scripts/build.py
  templates/marketplace-cowork.json
  tests/test_cowork_marketplace_isolation.py
Due: dprint

feat(intent): universalize 'only Nic sets intent' authority rule across aops skills
  .agents/rules/HEURISTICS.md
  aops-core/skills/aops/conventions-summary.md
  aops-core/skills/aops/templates/spec.md
  aops-core/skills/dump/SKILL.md
  aops-core/skills/hydrator/workflows/email-capture.md
  aops-core/skills/hydrator/workflows/references/email-capture-details.md
  aops-core/skills/planner/SKILL.md
  aops-core/skills/planner/workflows/decompose.md
  aops-core/skills/project/instructions/init.md
  aops-core/skills/remember/references/TAXONOMY.md
  aops-core/skills/remember/references/maintenance-phases.md
  aops-core/skills/supervisor/SKILL.md
Due: dprint, check-framework-integrity

ingest cowork sessions
  aops-core/scripts/ingest_cowork.py
  tests/lib/test_cowork_ingestion.py
Due: none

ensure we write to default branch
  aops-core/skills/end_session/SKILL.md
  polecat/cli.py
  polecat/finalize.py
  polecat/manager.py
  polecat/prompt_template.py
  tests/polecat/test_project_alias_resolution.py
  tests/polecat/test_prompt_template.py
  tests/polecat/test_save_worker_transcript.py
Due: dprint, check-framework-integrity

update cowork local plugin
  Makefile
  templates/aops-core.cowork-plugin.json
Due: dprint

spec(pr-pipeline): rewrite v2 to two-stage Environment-gated convergent model (#1617)
  .github/workflows/merge-prep-cron.yml
  specs/ENFORCEMENT-MAP.md
  specs/INDEX.md
  specs/workflows/pr-pipeline-v2.md
  specs/workflows/pr-pipeline.md
Due: dprint, check-framework-integrity

Importance must drive visibility: high-focus / high-consequence deadlines must escalate prominently before they're due (#1614)
  CHANGELOG.md
  aops-core/skills/daily/SKILL.md
  aops-core/skills/daily/instructions/briefing-and-triage.md
  aops-core/skills/daily/instructions/mobile-capture-triage.md
  aops-core/skills/daily/instructions/morning-timeline.md
  aops-core/skills/daily/instructions/pr-triage-dashboard.md
  aops-core/skills/daily/instructions/progress-sync.md
  aops-core/skills/daily/instructions/reflect.md
  aops-core/skills/daily/instructions/status-snapshot.md
  aops-core/skills/daily/instructions/work-summary.md
  aops-core/skills/daily/instructions/workflow-monitor.md
  aops-core/skills/daily/references/note-template.md
  specs/ENFORCEMENT-MAP.md
  specs/INDEX.md
  specs/enforcement/enforcement-mechanisms.md
  specs/workflows/daily/60-importance-escalation.md
  tests/hooks/test_handover_gate_latch.py
  tests/test_session_paths.py
Due: dprint, check-framework-integrity

fix cowork transcript
  aops-core/scripts/ingest_cowork.py
  aops-core/scripts/transcript.py
  tests/lib/test_cowork_ingestion.py
Due: none

feat(intent): universalize 'only Nic sets intent' authority rule across aops skills (#1623)
  .agents/rules/HEURISTICS.md
  aops-core/skills/aops/conventions-summary.md
  aops-core/skills/aops/templates/spec.md
  aops-core/skills/dump/SKILL.md
  aops-core/skills/hydrator/workflows/email-capture.md
  aops-core/skills/hydrator/workflows/references/email-capture-details.md
  aops-core/skills/planner/SKILL.md
  aops-core/skills/planner/workflows/decompose.md
  aops-core/skills/project/instructions/init.md
  aops-core/skills/remember/references/TAXONOMY.md
  aops-core/skills/remember/references/maintenance-phases.md
  aops-core/skills/supervisor/SKILL.md
Due: dprint, check-framework-integrity

agy plugin
  Makefile
  scripts/build.py
Due: none

add plugin manifest
  .claude-plugin/marketplace.json
Due: dprint

docs(learn): permit immediate fixes alongside mandatory issue filing
  aops-core/commands/learn.md
  aops-core/skills/survey/SKILL.md
Due: dprint, check-framework-integrity

ci: raise timeouts, add annotations and final hard-fail guard to merge-prep
  .github/workflows/agent-merge-prep.yml
Due: none

ci: raise typecheck timeout to clear past breaches
  .github/workflows/typecheck.yml
Due: none

feat(observability): route agent workflow outcomes to GitHub annotations
  .github/workflows/agent-enforcer.yml
  .github/workflows/claude.yml
  .github/workflows/ios-note-capture.yml
  .github/workflows/issue-sweep.yml
  .github/workflows/merge-prep-cron.yml
  polecat/manager.py
Due: none

fix(ci): exempt .claude-plugin/marketplace.json from dist guard (aops-c9bbb8d3)
  .github/workflows/pr-pipeline.yml
Due: none

chore: bump version to 0.3.37
  pyproject.toml
  templates/aops-core.gemini-extension.json
  templates/aops-core.plugin.json
  templates/aops-tools.gemini-extension.json
  templates/aops-tools.plugin.json
  uv.lock
Due: dprint

fix: ensure uv.lock is committed after version bump (no stale locks)
  .github/workflows/release-please.yml
  polecat/manager.py
  scripts/version.py
Due: none

chore(crud-migration): migrate academicOps callers off removed PKB CRUD tools
  aops-core/hooks/gate_config.py
  aops-core/skills/remember/SKILL.md
  aops-core/skills/remember/references/maintenance-phases.md
  aops-core/skills/sleep/SKILL.md
  scripts/audit_agent_compliance.py
  specs/audit/AGENT-COMPLIANCE-MATRIX.md
  specs/audit/AGENT-TOOLS.md
Due: dprint, check-framework-integrity

fix cowork gather
  .release-please-manifest.json
Due: dprint

chore: align release-please manifest to 0.3.37
  .release-please-manifest.json
  aops-core/skills/daily/SKILL.md
Due: dprint, check-framework-integrity

P2: QA agent (marsha) to parity — pr-pipeline-v2 (partial: P2 of P2–P6) (#1619)
  .github/agents/qa.agent.md
  .github/workflows/agent-qa.yml
  .github/workflows/trigger-qa.yml
  specs/ENFORCEMENT-MAP.md
Due: dprint

fix(transcript): cowork surface, subagent JSON surface/client, by_skill, secret redaction
  aops-core/lib/insights_generator.py
  aops-core/lib/secret_redaction.py
  aops-core/lib/session_naming.py
  aops-core/lib/subagent_transcript.py
  aops-core/lib/transcript_parser.py
  tests/lib/test_secret_redaction.py
  tests/lib/test_session_naming.py
  tests/lib/test_subagent_transcript.py
  tests/lib/test_transcript_metadata.py
Due: none

feat: implement ordered short-circuit for PR pipeline v2
  .github/workflows/agent-enforcer.yml
  .github/workflows/lint.yml
  .github/workflows/pr-pipeline.yml
Due: none

feat: implement ordered short-circuit for PR pipeline v2 (#1632)
  .github/workflows/agent-enforcer.yml
  .github/workflows/lint.yml
  .github/workflows/pr-pipeline.yml
Due: none

update aops dist repo too
  .github/workflows/build-extension.yml
  aops-core/skills/dump/SKILL.md
  aops-core/skills/peer-review/references/review-template.md
Due: dprint, check-framework-integrity

feat(ci): add workflow_dispatch inputs to claude.yml
  .github/workflows/claude.yml
Due: none
