Repository nicsuzor/academicOps: changes, and which pre-commit hooks are due for each by the changed paths.
All: radon-complexity, radon-maintainability, test-architecture, pytest

.pre-commit-config.yaml:

# Pre-commit hooks for academicOps
# Install: pre-commit install
# Run manually: pre-commit run --all-files
#
# PERFORMANCE OPTIMIZATION NOTES:
# - Tests only run when Python files are changed and staged (removed always_run: true)
# - This makes commits blazing fast when editing docs, configs, etc.
# - To run tests manually: pytest -m "not slow and not integration and not endtoend"
# - CI still runs full test suite on all commits
# - Tests run in parallel (requires: uv add --dev pytest-xdist)
# - Skips test architecture check on trivial commits
# - Uses faster ruff version

repos:
  # Ruff - Fast Python linter & formatter
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.0
    hooks:
      # Linter
      - id: ruff-check
        args: [--fix, --unsafe-fixes]
      # Formatter
      - id: ruff-format

  # MyPy - Static type checking
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.18.2
    hooks:
      - id: mypy
        additional_dependencies: []
        args: [--config-file=pyproject.toml]
        # Performance: Only check changed files, not whole project
        pass_filenames: true

  # Local custom hooks
  - repo: local
    hooks:
      # Radon - Complexity metrics
      - id: radon-complexity
        name: Check code complexity
        entry: uv run radon cc --min B --total-average
        language: system
        types: [python]
        pass_filenames: true

      - id: radon-maintainability
        name: Check maintainability index
        entry: uv run radon mi --min B
        language: system
        types: [python]
        pass_filenames: true

      # Test architecture - ONLY on test files
      - id: test-architecture
        name: Enforce test architecture rules
        entry: uv run python scripts/check_test_architecture.py
        language: system
        files: ^tests/.*\.py$
        pass_filenames: false

      # Pytest - PARALLEL execution for speed
      # Requires: pytest-xdist
      - id: pytest
        name: Run tests (parallel)
        entry: uv run pytest -n auto -m "not slow and not integration and not endtoend"
        language: system
        types: [python]
        pass_filenames: false
        stages: [pre-commit]

fix(bmem): Add CRITICAL project="main" requirement to top-level CLAUDE.md
  CLAUDE.md
  commands/qa.md
  commands/strategy.md
Due: none

fix(CLAUDE.md): Move bmem instruction to appropriate hierarchy position
  CLAUDE.md
Due: none

feat(framework): Formalize requirements-first, acceptance-criteria-driven development
  AXIOMS.md
  commands/ttd.md
  skills/framework/TASK-SPEC-TEMPLATE.md
  skills/framework/workflows/06-develop-specification.md
Due: none

update docs
  agents/supervisor-meta.md
  agents/task-viz.md
  commands/task-viz.md
  config/claude/settings.json
  skills/excalidraw/SKILL.md
  skills/framework/references/claude-code-config.md
Due: none

fix(qa): Add Test-First Verification Protocol to prevent inventing verification commands
  commands/qa.md
Due: none

fix(config): Correct Bash deny pattern syntax for .claude protection
  config/claude/settings.json
Due: none

feat(hooks): Add logging to prompt_router for transcript visibility
  hooks/prompt_router.py
Due: radon-complexity, radon-maintainability, pytest

chore: commit accumulated session changes
  AXIOMS.md
  CLAUDE.md
  config/claude/settings.json
  hooks/log_userpromptsubmit.py
  hooks/sessionstart_load_axioms.py
Due: radon-complexity, radon-maintainability, pytest

feat(docs-update): add cross-reference validation and command
  commands/docs-update.md
  config/claude/settings.json
  skills/docs-update/SKILL.md
Due: none

chore: add advocate agent and clean up structure
  .claude/CLAUDE.md
  .claude/agents
  .claude/commands
  .claude/hooks
  .claude/skills
  README.md
  agents/advocate.md
  commands/advocate.md
  commands/meta.md
  config/claude/settings.json
  skills/extractor/README.md
  skills/framework/references/testing-with-live-data.md
Due: none

fix(env): add local env var config for Claude Code sessions
  config/claude/settings.json
  hooks/session_env_setup.sh
  setup.sh
Due: none

Update setup.sh
  setup.sh
Due: none

Update hooks/session_env_setup.sh
  hooks/session_env_setup.sh
Due: none

refactor(advocate): change from subagent to direct role pattern
  agents/advocate.md
  commands/advocate.md
  pyproject.toml
  scripts/measure_router_compliance.py
  tests/HOOK_TEST_PROTOCOL.md
  tests/README.md
  tests/test_router_compliance.py
Due: radon-complexity, radon-maintainability, test-architecture, pytest

feat(advocate): add AskUserQuestion for batched user decisions
  agents/advocate.md
  commands/advocate.md
Due: none

task vis
  agents/task-viz.md
  config/claude/settings.json
  hooks/prompt_router.py
Due: radon-complexity, radon-maintainability, pytest

task vis
  skills/framework/scripts/layout_task_graph.py
  skills/framework/scripts/task_viz_layout.py
Due: radon-complexity, radon-maintainability, pytest

refactor(advocate): focus on epistemic standards, not personality
  agents/advocate.md
Due: none

feat(transcript): save to $ACA_DATA/sessions/claude/ with obsidian frontmatter
  README.md
  commands/transcript.md
Due: none

docs(analyst): add dashboard design patterns to streamlit-patterns
  skills/analyst/references/streamlit-patterns.md
Due: none

fix: update bmem_tools.py path to scripts/
  commands/bmem-validate.md
  skills/bmem/references/approved-categories-relations.md
Due: none

feat: add bmem parallel validation command and update agent
  agents/bmem-validator.md
  commands/bmem-validate.md
Due: none

feat(framework): add AXIOM #22 (just-in-time context) and strengthen discoverability
  AXIOMS.md
  README.md
  agents/advocate.md
  agents/bmem-validator.md
  commands/advocate.md
  commands/learn.md
  config/claude/settings.json
  experiments/2025-12-01_discoverability-annotations.md
  hooks/prompt_router.py
  skills/docs-update/SKILL.md
  skills/framework/scripts/task_viz_layout.py
  skills/skill-creator/SKILL.md
  skills/tasks/SKILL.md
  skills/tasks/scripts/task_update.py
  tests/integration/test_headless_fixture.py
  tests/test_log_agent.py
Due: radon-complexity, radon-maintainability, test-architecture, pytest

fix(docs): Show scripts/references in README, move task_viz to excalidraw
  README.md
  experiments/2025-12-01_discoverability-annotations.md
  skills/docs-update/SKILL.md
  skills/excalidraw/scripts/generate_task_viz.py
  skills/excalidraw/scripts/layout_task_graph.py
  skills/excalidraw/scripts/task_viz_layout.py
Due: radon-complexity, radon-maintainability, pytest

fix: use bmem_tools.py validate in orchestration command
  commands/bmem-validate.md
Due: none

fix(docs): README annotations must be meaningful, not generic
  README.md
  skills/docs-update/SKILL.md
Due: none

fix(advocate): distinguish skepticism of agents from support for user
  commands/advocate.md
Due: none

fix(advocate): don't add cognitive load with questions
  commands/advocate.md
Due: none

feat(hooks): add activity logging to UserPromptSubmit hook
  hooks/log_userpromptsubmit.py
Due: radon-complexity, radon-maintainability, pytest

fix(tests): improve E2E test reliability and expectations
  tests/integration/test_deny_rules.py
  tests/integration/test_file_loading_e2e.py
  tests/integration/test_skill_invocation_e2e.py
Due: radon-complexity, radon-maintainability, test-architecture, pytest

fix(deny-rules): use correct pattern syntax for home directory
  config/claude/settings.json
  tests/integration/test_deny_rules.py
Due: radon-complexity, radon-maintainability, test-architecture, pytest

fix(deny-rules): narrow scope to settings.json only
  config/claude/settings.json
  tests/integration/test_deny_rules.py
Due: radon-complexity, radon-maintainability, test-architecture, pytest

fix(deny-rules): add protection for all framework config files
  config/claude/settings.json
Due: none

feat(prompt-router): expand triggers and strengthen skill instructions
  hooks/prompt_router.py
Due: radon-complexity, radon-maintainability, pytest

feat: add conclusion verification hook
  config/claude/settings.json
  hooks/verify_conclusions.py
Due: radon-complexity, radon-maintainability, pytest

feat(hooks): restore Haiku classifier for non-keyword prompts
  hooks/prompt_router.py
Due: radon-complexity, radon-maintainability, pytest

refactor: restructure logging and transcript to skills
  README.md
  agents/log-agent.md
  commands/log.md
  commands/transcript.md
  skills/learning-log/SKILL.md
  skills/transcript/SKILL.md
Due: none

refactor: restructure /meta, framework skill, /advocate for distinct roles
  commands/advocate.md
  commands/meta.md
  skills/framework/SKILL.md
Due: none

feat(meta): add advocate-style skeptical self-verification
  commands/bmem-validate.md
  commands/bmem.md
  commands/docs-update.md
  commands/email.md
  commands/meta.md
  commands/parallel-batch.md
  commands/qa.md
  commands/task-viz.md
  commands/ttd.md
  current-tasks.excalidraw
  pyproject.toml
  scripts/claude_transcript.py
  skills/excalidraw/SKILL.md
  skills/excalidraw/scripts/generate_task_viz.py
  skills/excalidraw/scripts/layout_task_graph.py
  skills/pdf/SKILL.md
  skills/pdf/assets/letter-style.css
  skills/pdf/scripts/generate_pdf.py
  skills/tasks/scripts/task_viz.py
Due: radon-complexity, radon-maintainability, pytest

feat(learning-log): accept transcripts and session files as input
  skills/learning-log/SKILL.md
Due: none
