Repository nicsuzor/academicOps: changes, and which pre-commit hooks are due for each by the changed paths.
All: dprint, check-framework-integrity

.pre-commit-config.yaml:

# Pre-commit hooks for academicOps framework governance
# See https://pre-commit.com for more info

repos:
  # Markdown/JSON/TOML validation (dprint - check-only, no auto-fix)
  # Ruff check --fix auto-fixes what it can; ruff-format checks formatting
  - repo: local
    hooks:
      - id: dprint
        name: dprint check
        entry: uv run dprint check
        language: system
        types_or: [markdown, json, toml]
        pass_filenames: true

  # Markdown linting (catches issues dprint doesn't fix)
  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.12.1
    hooks:
      - id: markdownlint-cli2
        exclude: '^archived/'

  # Standard hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: '\.excalidraw$'
      - id: end-of-file-fixer
        exclude: '\.excalidraw$'
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
        args: ['--maxkb=500']

  # Python linting (auto-fix enabled)
  # Ruff check --fix auto-fixes what it can; ruff-format checks formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.4
    hooks:
      - id: ruff
        args: [--fix]
        exclude: '^archived/'
      - id: ruff-format
        args: [--check]
        exclude: '^archived/'

  # Framework integrity checks (index wikilinks, skill entries, workflow length)
  # Consolidates check-workflow-length + new index integrity validation
  - repo: local
    hooks:
      - id: check-framework-integrity
        name: framework integrity check
        entry: uv run python scripts/check_framework_integrity.py
        language: system
        pass_filenames: false
        files: '(WORKFLOWS|SKILLS)\.md$|workflows/.*\.md$|skills/.*/SKILL\.md$|commands/.*\.md$'

  # Type checking and full framework health checks run in CI only
  # (see .github/workflows/framework-health.yml)
  #
  # Moved to CI:
  # - basedpyright: full type analysis too slow for every commit
  # - check-skill-line-count: whole-repo scan, not file-scoped
  # - check-orphan-files: whole-repo scan, not file-scoped
  # - check-framework-integrity --full: slow full codebase wikilink scan
  # - audit_framework_health: comprehensive audit

remove temp files
  .gitignore
Due: none

feat: default to james agent and restore --model flag
  lib/polecat/cli.py
  tests/polecat/test_container_invocation.py
Due: none

chore: make pytest output more concise
  pyproject.toml
Due: dprint

feat(aops): make q, decompose, and brief skills idempotent
  plugins/aops/skills/brief/SKILL.md
  plugins/aops/skills/decompose/SKILL.md
  plugins/aops/skills/q/SKILL.md
Due: dprint, check-framework-integrity

wf-tdd: forbid tautological assertions, require black-box tests, enforce genuine red
  plugins/aops/workflows/wf-tdd.md
Due: dprint, check-framework-integrity

wf-brief-composition-verify: point at wf-tdd-cycle constraints instead of restating them
  .agents/templates/wf-brief-composition-verify.md
Due: dprint

fix(lint): make dprint the only markdown formatter, autofix house rules
  .agents/templates/triage-open-issues.md
  .markdownlint-cli2.jsonc
  .pre-commit-config.yaml
  plugins/aops/agents/ida.md
  plugins/aops/skills/remember/SKILL.md
  plugins/aops/skills/remember/references/consolidation.md
  plugins/aops/skills/workflow-library/SKILL.md
Due: dprint, check-framework-integrity

fix(lint): move the em-dash ban out of markdownlint into its own hook
  .markdownlint-cli2.jsonc
  .markdownlint-rules/no-em-dashes.js
  .pre-commit-config.yaml
  plugins/aops/agents/ida.md
  plugins/aops/skills/remember/SKILL.md
  plugins/aops/skills/workflow-library/SKILL.md
  scripts/no_em_dashes.py
  tests/hooks/test_no_em_dashes.py
Due: dprint, check-framework-integrity

craft instructions
  plugins/aops/skills/craft/SKILL.md
Due: dprint, check-framework-integrity

feat(otel): enrich spans with agent.id, parent.session_id, agent.name, and tool.call_id
  plugins/aops/skills/craft/SKILL.md
  plugins/aops/skills/workflow-library/SKILL.md
  plugins/orchestrate/hooks/agy_tracer.py
  plugins/orchestrate/hooks/claude_code_tracer.py
  plugins/orchestrate/skills/session-trace/SKILL.md
  tests/test_orchestrate_tracer.py
Due: dprint, check-framework-integrity

fix(pkb): remove direct status: blocked write paths and enforce derived blocks edges
  plugins/aops/skills/dump/SKILL.md
  plugins/aops/skills/pull/SKILL.md
  plugins/orchestrate/agents/sara.md
  specs/agents/sara.md
  specs/future/session-insights-prompt.md
  tests/test_skill_status_vocabulary.py
Due: dprint, check-framework-integrity

fix(polecat): seed /aops:pull, not /pkb:pull, in container launch
  lib/polecat/cli.py
  lib/polecat/entrypoint.sh
  tests/polecat/test_detached_mode.py
  tests/polecat/test_entrypoint_seed_construction.py
  tests/polecat/test_run_record.py
  tests/polecat/test_task_headless.py
Due: none

Add global configs clean script to make clean target
  Makefile
  scripts/clean_global_configs.sh
Due: none

improve ida
  plugins/aops/agents/ida.md
Due: dprint

docs: repoint dangling refs and reconcile stale claims in shipped surfaces
  plugins/aops/skills/remember/references/consolidation.md
  plugins/rbg/README.md
  specs/README.md
  templates/github-workflows/pkb-quality-review.yml
  templates/github-workflows/sleep-cycle.yml
  templates/github-workflows/transcript-extraction.yml
Due: dprint

fix(hearsay): add status/provenance-first logic-check to hearsay.md and james.md:50
  plugins/orchestrate/agents/james.md
  plugins/orchestrate/hooks/messages/hearsay.md
Due: dprint

polecat: fail closed on any --base fetch failure, not just origin/<name>
  lib/polecat/cli.py
  specs/polecat/spec-base-ref-resolution.md
  tests/polecat/test_workspace_isolation.py
Due: dprint

fix(isp-orphans-bundle-s1): retire pr-reviewer.agent.md, restore probes.md evidence, wire assumption_checks.py
  .github/agents/pr-reviewer.agent.md
  .github/copilot-instructions.md
  plugins/aops/skills/craft/SKILL.md
  plugins/tools/skills/analyst/SKILL.md
  plugins/tools/skills/peer-review/references/probes.md
  specs/README.md
  specs/tools/peer-review-probes.md
Due: dprint, check-framework-integrity

refactor(debug): dedupe Phoenix span-store facts into lib/, split debug SKILL.md
  .agents/skills/debug/SKILL.md
  .agents/skills/debug/references/gotchas.md
  .agents/skills/debug/references/sql-recipes.md
  lib/telemetry/phoenix-span-store.md
  plugins/orchestrate/manifest/plugin.toml
  plugins/orchestrate/skills/session-trace/SKILL.md
  pyproject.toml
Due: dprint, check-framework-integrity

docs: fix install/config claim and hook wiring drift in ARCHITECTURE.md
  INSTALL.md
  specs/ARCHITECTURE.md
Due: dprint

feat(reconcile): wire sent-mail ground-truth into the existing aged-task check
  plugins/aops/skills/reconcile/SKILL.md
Due: dprint, check-framework-integrity

fix(polecat): STALE_LOCAL_BUILD fires on missed release, not any commit diff
  lib/polecat/staleness.py
  specs/polecat/spec-image-staleness-detection.md
  tests/polecat/test_image_staleness.py
Due: dprint

adjust learn
  plugins/aops/skills/learn/SKILL.md
Due: dprint, check-framework-integrity

fix(templates): resolve daemon contradiction, dedupe Excalidraw mechanics, close frontmatter, fix false parser claim
  .agents/templates/enforcement-table.md
  .agents/templates/wf-design-conversation.md
  .agents/templates/wf-handover.md
  .agents/templates/wf-map-then-wire.md
Due: dprint

fix(templates): resolve wf-brief-composition-verify contradiction and dead refs
  .agents/templates/wf-brief-composition-verify.md
Due: dprint

feat(orchestrate): forced per-claim OTel verdict script + dispatch gate for Ida
  lib/hooks/premise_check_gate.py
  plugins/orchestrate/hooks/handlers.py
  tests/test_premise_check_gate.py
Due: none

refactor(skills): update reconcile and consolidation to call /q for repositioning and deduplicate instructions by reference
  plugins/aops/skills/reconcile/SKILL.md
  plugins/aops/skills/remember/SKILL.md
  plugins/aops/skills/remember/references/consolidation.md
  templates/github-workflows/sleep-cycle.yml
Due: dprint, check-framework-integrity

docs: tighten specs governing tasks, workflow templates, PKB, and axioms
  lib/axioms/AXIOMS-REVIEW.md
  lib/axioms/synthesize-not-accrete.md
  specs/enforcement/sign-off.md
  specs/enforcement/task-contract.md
  specs/enforcement/workflow.md
  specs/meta/doc-taxonomy.md
  specs/workflows/workflow.md
Due: dprint, check-framework-integrity

docs(enforcement-map): correct stale polecat invocation citation
  specs/ENFORCEMENT-MAP.md
Due: dprint

experiment: turn on bounded-execution axiom, wire via CLAUDE.md import
  CLAUDE.md
  lib/axioms/bounded-execution.md
Due: dprint

fix(polecat): anchor staleness check to canonical HEAD, not clone base_sha
  lib/polecat/cli.py
  tests/polecat/test_workspace_isolation.py
Due: none

test(polecat): assert staleness check still fires when image is genuinely behind canonical_head
  tests/polecat/test_workspace_isolation.py
Due: none

chang eref to ida
  plugins/orchestrate/hooks/handlers.py
Due: none

change firing conditions
  lib/hooks/premise_check_gate.py
  plugins/orchestrate/hooks/handlers.py
Due: none

don't fire honesty on ida or james
  plugins/orchestrate/hooks/handlers.py
Due: none

mcp
  plugins/aops/manifest/mcp.template.json
Due: dprint

feat(orchestrate): ship premise check in skill, bake questions, and arm on PostToolBatch
  lib/hooks/premise_check_gate.py
  plugins/orchestrate/hooks/handlers.py
  plugins/orchestrate/skills/premise-check/SKILL.md
  plugins/orchestrate/skills/premise-check/scripts/verdict.py
  tests/test_premise_check_gate.py
Due: dprint, check-framework-integrity

update brief skill
  plugins/aops/skills/brief/SKILL.md
Due: dprint, check-framework-integrity

Add preview mode to workflow-library skill
  plugins/aops/skills/workflow-library/SKILL.md
Due: dprint, check-framework-integrity
