Repository nicsuzor/academicOps: changes, and which pre-commit hooks are due for each by the changed paths.
All: dprint, check-framework-integrity

.pre-commit-config.yaml:

# Pre-commit hooks for academicOps framework governance
# See https://pre-commit.com for more info

repos:
  # Markdown/JSON/TOML validation (dprint - check-only, no auto-fix)
  # Ruff check --fix auto-fixes what it can; ruff-format checks formatting
  - repo: local
    hooks:
      - id: dprint
        name: dprint check
        entry: uv run dprint check
        language: system
        types_or: [markdown, json, toml]
        pass_filenames: true

  # Markdown linting (catches issues dprint doesn't fix)
  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.12.1
    hooks:
      - id: markdownlint-cli2
        exclude: '^archived/'

  # Standard hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: '\.excalidraw$'
      - id: end-of-file-fixer
        exclude: '\.excalidraw$'
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
        args: ['--maxkb=500']

  # Python linting (auto-fix enabled)
  # Ruff check --fix auto-fixes what it can; ruff-format checks formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.4
    hooks:
      - id: ruff
        args: [--fix]
        exclude: '^archived/'
      - id: ruff-format
        args: [--check]
        exclude: '^archived/'

  # Framework integrity checks (index wikilinks, skill entries, workflow length)
  # Consolidates check-workflow-length + new index integrity validation
  - repo: local
    hooks:
      - id: check-framework-integrity
        name: framework integrity check
        entry: uv run python scripts/check_framework_integrity.py
        language: system
        pass_filenames: false
        files: '(WORKFLOWS|SKILLS)\.md$|workflows/.*\.md$|skills/.*/SKILL\.md$|commands/.*\.md$'

  # Type checking and full framework health checks run in CI only
  # (see .github/workflows/framework-health.yml)
  #
  # Moved to CI:
  # - basedpyright: full type analysis too slow for every commit
  # - check-skill-line-count: whole-repo scan, not file-scoped
  # - check-orphan-files: whole-repo scan, not file-scoped
  # - check-framework-integrity --full: slow full codebase wikilink scan
  # - audit_framework_health: comprehensive audit

Apply suggestions from code review
  aops-core/agents/rbg.md
  polecat/prompt_template.py
Due: dprint

chore(survey): add severity omit constraint for task nodes
  aops-core/skills/survey/SKILL.md
Due: dprint, check-framework-integrity

fix: handle dict in server_tool_use for Claude Code 2.1+ compatibility
  aops-core/lib/transcript_parser.py
  tests/lib/test_transcript_metadata.py
Due: none

Add mcp__outlook__* to junior and pauli tools allowlist
  aops-core/agents/junior.md
  aops-core/agents/pauli.md
Due: dprint

Apply suggestions from code review
  aops-core/lib/transcript_parser.py
  tests/lib/test_transcript_metadata.py
Due: none

Consolidate loose junior memories into agent-def + skills (#1534)
  aops-core/agents/junior.md
  aops-core/skills/aops/references/authoring-discipline.md
  aops-core/skills/aops/references/feature-dev-details.md
  aops-core/skills/verify/SKILL.md
Due: dprint, check-framework-integrity

Make graph-model instructions accurate: targets are invisible-weight (not actionable work), and collapse the cosmetic task/epic distinction (#1535)
  aops-core/agents/junior.md
  aops-core/skills/planner/SKILL.md
  aops-core/skills/remember/references/TAXONOMY.md
Due: dprint, check-framework-integrity

Refactor polecat config/dispatch: AOPS_CC_OAUTH_TOKEN indirection, drop POLECAT_SESSION_TYPE, resolve+inject defaults at dispatch (#1533)
  aops-core/agent-env-map.conf
  aops-core/lib/host_secrets.py
  aops-core/lib/session_naming.py
  aops-core/lib/session_paths.py
  aops-core/lib/session_state.py
  aops-core/scripts/transcript.py
  aops-core/skills/supervisor/SKILL.md
  aops-core/skills/supervisor/instructions/supervision-loop.md
  polecat/cli.py
  polecat/defaults/polecat.yaml.example
  specs/GATES.md
  specs/SURFACES.md
  tests/e2e/test_all_invocation_paths.py
  tests/hooks/test_client_type_logged.py
  tests/hooks/test_gate_lifecycle.py
  tests/hooks/test_gate_replay.py
  tests/hooks/test_handover_gate_latch.py
  tests/hooks/test_handover_gate_regression.py
  tests/hooks/test_handover_session_type.py
  tests/hooks/test_hook_logger.py
  tests/hooks/test_subprocess_format.py
  tests/lib/test_session_naming.py
  tests/lib/test_session_paths.py
  tests/polecat/test_cli_docker.py
  tests/polecat/test_cli_docker_integration.py
  tests/polecat/test_sandbox_hook_integrity.py
  tests/test_host_secrets.py
  tests/test_task_id_in_artifact_filenames.py
Due: dprint, check-framework-integrity

chore(survey): add severity omit constraint for task nodes (#1537)
  aops-core/skills/survey/SKILL.md
Due: dprint, check-framework-integrity

Add mcp__outlook__* to junior and pauli tools allowlist (#1539)
  aops-core/agents/junior.md
  aops-core/agents/pauli.md
Due: dprint

fix(gha): prevent silent tool failures with mandatory PR comments
  .github/agents/enforcer.agent.md
  .github/agents/shared-error-handling.md
  .github/workflows/agent-enforcer.yml
  .github/workflows/agent-merge-prep.yml
  aops-core/skills/planner/SKILL.md
  scripts/build.py
  scripts/install-pr-reviewer.sh
  templates/github-agent/worker.agent.md
  tests/polecat/test_cli_docker.py
Due: dprint, check-framework-integrity

fix(transcript): ALWAYS emit started_at, last_modified, ended_at from event timestamps
  aops-core/lib/transcript_parser.py
  aops-core/scripts/transcript.py
Due: none

feat: add antigravity (agy) client to polecat
  aops-core/agent-env-map.conf
  polecat/cli.py
  polecat/defaults/polecat.yaml.example
  polecat/manager.py
  polecat/swarm.py
Due: none

fix(polecat): export AOPS_CC_OAUTH_TOKEN for ssh dispatch
  aops-core/agent-env-map.conf
  tests/polecat/test_cli_docker.py
Due: none

Apply suggestions from code review
  scripts/build.py
  scripts/install-pr-reviewer.sh
Due: none

Clarify consolidation scope & responsibilities via a prompt-language update (#1532)
  aops-core/agents/junior.md
  aops-core/agents/pauli.md
  aops-core/skills/remember/SKILL.md
Due: dprint, check-framework-integrity

feat(core): redefine merge_ready as under review, remove CLI PR lock
  aops-core/skills/remember/references/TAXONOMY.md
  aops-core/skills/supervisor/SKILL.md
  aops-core/skills/supervisor/instructions/code-deliverable.md
  aops-core/skills/supervisor/instructions/supervision-loop.md
  polecat/cli.py
  tests/polecat/test_cli_run_force.py
Due: dprint, check-framework-integrity

fix: move enforcer status to workflow and fix sparse-checkout
  .github/agents/enforcer.agent.md
  .github/workflows/agent-enforcer.yml
  .github/workflows/agent-merge-prep.yml
Due: dprint

GHA agents must post a PR/issue comment on tool failure, not fail silently (#1541)
  .github/agents/enforcer.agent.md
  .github/agents/shared-error-handling.md
  .github/workflows/agent-enforcer.yml
  .github/workflows/agent-merge-prep.yml
  aops-core/skills/planner/SKILL.md
  scripts/build.py
  scripts/install-pr-reviewer.sh
  templates/github-agent/worker.agent.md
  tests/polecat/test_cli_docker.py
Due: dprint, check-framework-integrity

feat(transcript): discover raw Cowork sessions on macOS/Windows/Linux
  aops-core/lib/session_paths.py
  aops-core/lib/session_reader.py
  tests/lib/test_session_discovery.py
  tests/lib/test_session_paths.py
Due: none

test: align polecat config tests with explicit AOPS_CC_OAUTH_TOKEN default
  tests/lib/test_polecat_config.py
Due: none

Audit verdict surfaces for semi-structured anti-pattern (P#49 corollary)
  aops-core/agents/james.md
  aops-core/agents/marsha.md
  aops-core/agents/rbg.md
  aops-core/commands/review-pr.md
  aops-core/skills/supervisor/SKILL.md
  aops-core/skills/verify/SKILL.md
Due: dprint, check-framework-integrity

Daily-note fitness: lede, recovery substrate, MCP tool-loading discipline
  aops-core/skills/daily/SKILL.md
  aops-core/skills/daily/instructions/morning-timeline.md
  aops-core/skills/daily/instructions/status-snapshot.md
  aops-core/skills/daily/references/note-template.md
  aops-core/skills/hydrator/workflows/email-capture.md
Due: dprint, check-framework-integrity

feat(verify): AC-verification surface on merge_ready→done transition
  aops-core/skills/daily/SKILL.md
  aops-core/skills/daily/instructions/progress-sync.md
  aops-core/skills/remember/references/maintenance-phases.md
  aops-core/skills/verify/SKILL.md
  aops-core/skills/verify/references/merge-close-ac-check.md
Due: dprint, check-framework-integrity

feat(daily): per-class priority-bar denominators with honest fallback
  aops-core/skills/daily/SKILL.md
  aops-core/skills/daily/instructions/status-snapshot.md
Due: dprint, check-framework-integrity

feat(polecat): post-mortem diagnostics — structured exit metadata + analyze
  polecat/cli.py
  polecat/diagnostics.py
  polecat/postmortem.py
  tests/polecat/test_analyze.py
Due: none

Fix cold-start structured retrieval: discoverable corpus, structured-first hint, context-map freshness gate
  .agents/context-map.json
  .pre-commit-config.yaml
  aops-core/hooks/templates/pkb-nudge.md
  aops-core/lib/context_map.py
  aops-core/skills/project/workflows/context-map-audit.md
  scripts/check_framework_integrity.py
  specs/ENFORCEMENT-MAP.md
  tests/lib/test_context_map.py
Due: dprint, check-framework-integrity

fix(worker): halt-on-unsatisfiable AC instead of substituting an easy adjacent action
  .agents/CORE.md
  polecat/prompt_template.py
  tests/polecat/test_prompt_template.py
Due: dprint

Add instruction-budget guideline: right-size instruction files by injection tier
  specs/meta/doc-taxonomy.md
  specs/meta/instruction-budget.md
Due: dprint

feat(supervisor): demand concrete proof for diagnostic claims
  aops-core/skills/strategic-review/SKILL.md
  aops-core/skills/supervisor/SKILL.md
  aops-core/skills/verify/SKILL.md
Due: dprint, check-framework-integrity

fix(workflows): add permissions block to pr-pipeline shim
  examples/cross-repo-shim/pr-pipeline.yml
Due: none

fix(test): update container_env_forward assertion to include AOPS_CC_OAUTH_TOKEN
  tests/lib/test_polecat_config.py
Due: none

fix(transcript): drop env-var fallback for insights crew
  aops-core/lib/session_naming.py
  tests/lib/test_transcript_parser_crew.py
Due: none

fix(transcript): ALWAYS emit started_at, last_modified, ended_at from event timestamps (#1542)
  aops-core/lib/transcript_parser.py
  aops-core/scripts/transcript.py
  tests/lib/test_polecat_config.py
Due: none

fix: address review feedback — polecat_config.py, crew cmd, env-map revert, test updates
  aops-core/agent-env-map.conf
  aops-core/lib/polecat_config.py
  polecat/cli.py
  tests/e2e/test_crew_mandatory_args.py
  tests/e2e/test_polecat_run.py
  tests/lib/test_polecat_config.py
  tests/polecat/conftest.py
  tests/polecat/test_cli_model_flag.py
  tests/polecat/test_gemini_sandbox.py
  tests/polecat/test_interactive_gemini_env.py
Due: none

fix(session_reader): merge Loop 5 into Loop 1.5; remove macOS-only duplicate
  aops-core/lib/session_reader.py
Due: none

fix: resolve type-check error in format_exit_oneline
  polecat/postmortem.py
Due: none

fix: apply Gemini review accuracy suggestions to instruction-budget.md
  specs/meta/instruction-budget.md
Due: dprint

feat: add antigravity (agy) client to polecat (#1543)
  aops-core/lib/polecat_config.py
  polecat/cli.py
  polecat/defaults/polecat.yaml.example
  polecat/manager.py
  polecat/swarm.py
  tests/e2e/test_crew_mandatory_args.py
  tests/e2e/test_polecat_run.py
  tests/lib/test_polecat_config.py
  tests/polecat/conftest.py
  tests/polecat/test_cli_model_flag.py
  tests/polecat/test_gemini_sandbox.py
  tests/polecat/test_interactive_gemini_env.py
Due: none

docs(enforcement): clean spec + map; add live PR-review-pipeline rows
  specs/ENFORCEMENT-MAP.md
  specs/enforcement/enforcement.md
  specs/workflows/pr-pipeline-v2.md
Due: dprint, check-framework-integrity
