Repository nicsuzor/academicOps: changes, and which pre-commit hooks are due for each by the changed paths.
All: dprint, check-framework-integrity

dprint:
  name: dprint check
  entry: uv run dprint check
  language: system
  pass_filenames: true

check-framework-integrity:
  name: framework integrity check
  entry: uv run python scripts/check_framework_integrity.py
  language: system
  pass_filenames: false

feat(agents): add James — the orchestrator for strategic-review
  aops-core/SKILLS.md
  aops-core/agents/james.md
  aops-core/skills/strategic-review/SKILL.md
  aops-core/skills/strategic-review/review-contexts/pr-code.md
  aops-core/skills/strategic-review/review-contexts/pr-framework.md
Due: dprint, check-framework-integrity

feat(agents): add James — the orchestrator for strategic-review (#466)
  aops-core/SKILLS.md
  aops-core/agents/james.md
  aops-core/skills/strategic-review/SKILL.md
  aops-core/skills/strategic-review/review-contexts/pr-code.md
  aops-core/skills/strategic-review/review-contexts/pr-framework.md
Due: dprint, check-framework-integrity

fix(agents): approve after self-fix — don't leave CHANGES_REQUESTED standing
  .github/agents/assessor.agent.md
  .github/agents/auditor.agent.md
  .github/agents/pr-reviewer.agent.md
Due: dprint

fix(agents): approve after self-fix — don't leave CHANGES_REQUESTED standing (#467)
  .github/agents/assessor.agent.md
  .github/agents/auditor.agent.md
  .github/agents/pr-reviewer.agent.md
  tests/test_automode.py
Due: dprint

fix: resolve E2E and framework test failures
  scripts/dropbox_monitor.py
  tests/conftest.py
  tests/e2e/test_all_invocation_paths.py
  tests/e2e/test_crew_docker_session.py
  tests/test_dropbox_monitor.py
Due: none

feat(commands): add /review-pr — James local PR review orchestrator
  aops-core/SKILLS.md
  aops-core/commands/review-pr.md
Due: dprint, check-framework-integrity

test(e2e): consolidate tests to a single genuine invocation path suite
  tests/conftest.py
  tests/e2e/test_all_invocation_paths.py
  tests/e2e/test_crew_docker_session.py
  tests/integration/test_cross_platform_e2e.py
Due: none

test(e2e): strictly enforce sandbox assertions and parse raw session logs
  tests/e2e/test_all_invocation_paths.py
Due: none

feat(commands): add /review-pr — James local PR review orchestrator (#469)
  aops-core/SKILLS.md
  aops-core/commands/review-pr.md
Due: dprint, check-framework-integrity

chore: remove redundant axiom-review pipeline and document execution environments
  .github/agents/assessor.agent.md
  .github/agents/auditor.agent.md
  .github/agents/summary-brief.agent.md
  .github/copilot-instructions.md
  .github/workflows/agent-auditor.yml
  .github/workflows/agent-autofix.yml
  .github/workflows/axiom-review.yml
  .github/workflows/pr-pipeline.yml
  aops-core/skills/strategic-review/review-contexts/execution-environments.md
Due: dprint

fix: restore James as orchestrator name in execution-environments.md
  aops-core/skills/strategic-review/review-contexts/execution-environments.md
Due: dprint

chore: remove redundant axiom-review pipeline; document execution environments (#468)
  .github/agents/assessor.agent.md
  .github/agents/auditor.agent.md
  .github/agents/summary-brief.agent.md
  .github/copilot-instructions.md
  .github/workflows/agent-auditor.yml
  .github/workflows/agent-autofix.yml
  .github/workflows/axiom-review.yml
  .github/workflows/pr-pipeline.yml
  aops-core/skills/strategic-review/review-contexts/execution-environments.md
Due: dprint

fix(sync): remove ACA_DATA auto-commit logic from polecat and hooks
  aops-core/hooks/session_env_setup.py
  polecat/cli.py
Due: none

fix(polecat): strip ACA_DATA from sandbox to fix gemini permission crashes
  polecat/cli.py
  tests/e2e/test_all_invocation_paths.py
Due: none

fix(docker): update marketplace name and add missing AOPS env var
  Dockerfile
Due: none

feat(sleep): add Phase 5a — refile processing for user-flagged tasks
  aops-core/skills/sleep/SKILL.md
Due: dprint, check-framework-integrity

Fix Gemini sandbox permissions and Docker build (#472)
  Dockerfile
  aops-core/hooks/session_env_setup.py
  polecat/cli.py
  tests/e2e/test_all_invocation_paths.py
Due: none

feat(sleep): add Phase 5a — refile processing for user-flagged tasks (#471)
  aops-core/skills/sleep/SKILL.md
Due: dprint, check-framework-integrity

docs(taxonomy): rewrite with information-theoretic model
  aops-core/TAXONOMY.md
Due: dprint

docs(taxonomy): rewrite with information-theoretic model (#473)
  aops-core/TAXONOMY.md
Due: dprint

chore: saving uncommitted agent work
  parents.txt
Due: none

Reparent tasks and projects currently under goals (#474)
  parents.txt
Due: none

fix(polecat): discover Docker socket for Colima on macOS
  polecat/cli.py
  tests/polecat/test_cli_docker.py
Due: none

refactor(polecat): extract _find_docker_sock and replace mocks with live tests
  polecat/cli.py
  tests/polecat/test_cli_docker.py
Due: none

fix(tests): isolate _find_docker_sock from host /var/run/docker.sock
  polecat/cli.py
  tests/polecat/test_cli_docker.py
Due: none

fix(polecat): discover Docker socket for Colima on macOS (#475)
  polecat/cli.py
  tests/polecat/test_cli_docker.py
Due: none

fix(polecat): Colima socket mount + remove pkb binary tests
  polecat/cli.py
  tests/e2e/test_all_invocation_paths.py
  tests/e2e/test_docker_tooling.py
  tests/e2e/test_pkb_mcp.py
  tests/polecat/test_cli_docker.py
Due: none

update ssh deauth
  aops-core/agent-env-map.conf
  aops-core/hooks/session_env_setup.py
  polecat/cli.py
  tests/integration/test_credential_isolation.py
  tests/polecat/test_cli_docker.py
Due: none

fix(polecat): make replicated Gemini auth dir writable by sandbox container
  polecat/cli.py
  tests/polecat/test_cli_docker.py
Due: none

fix(docker): install Claude Code via native installer instead of npm
  Dockerfile
Due: none

test(e2e): remove fake-repo Docker isolation tests
  tests/e2e/test_polecat_docker_isolation.py
Due: none

fix(tests): delete archived tests with broken imports, fix session_start imports
  tests/archived/test_axiom_detector.py
  tests/archived/test_pipeline_metrics.py
  tests/archived/test_task_assignment_routing.py
  tests/test_session_start.py
Due: none

refactor(polecat): replace bind mounts with docker cp for staging files
  polecat/cli.py
  tests/e2e/test_crew_session_persistence.py
  tests/e2e/test_docker_tooling.py
  tests/polecat/test_cli_docker.py
Due: none

fix(tests): remove dummy-key gemini tests, fix hooks assertion and session discovery
  tests/e2e/test_all_invocation_paths.py
  tests/e2e/test_gemini_hooks_fire.py
  tests/test_gemini_hooks_json.py
Due: none

fix(tests): delete dist/ hook tests — dist no longer built locally
  tests/test_gemini_hooks_json.py
Due: none

fix(tests): make E2E invocation path assertions resilient to LLM behavior
  tests/e2e/test_all_invocation_paths.py
Due: none

fix(tests): support Gemini session files in E2E test discovery
  tests/conftest.py
  tests/e2e/test_all_invocation_paths.py
Due: none

fix(tests): replace illegitimate pytest.skip with hard assertions
  tests/integration/test_settings_discovery.py
  tests/integration/test_skill_script_discovery.py
  tests/test_build_gemini_tool_names.py
Due: none

fix(polecat): wrap Gemini in our Docker container instead of --sandbox
  polecat/cli.py
  tests/conftest.py
  tests/e2e/test_crew_session_persistence.py
Due: none

Path conditions:
  dprint: any of: \.(md|markdown|mdown)$, \.json$, \.toml$
  check-framework-integrity: any of: (WORKFLOWS|SKILLS)\.md$|workflows/.*\.md$|skills/.*/SKILL\.md$|commands/.*\.md$
