Repository nicsuzor/academicOps: changes, and which pre-commit hooks are due for each by the changed paths.
All: dprint, check-framework-integrity

.pre-commit-config.yaml:

# Pre-commit hooks for academicOps framework governance
# See https://pre-commit.com for more info

repos:
  # Markdown/JSON/TOML validation (dprint - check-only, no auto-fix)
  # Ruff check --fix auto-fixes what it can; ruff-format checks formatting
  - repo: local
    hooks:
      - id: dprint
        name: dprint check
        entry: uv run dprint check
        language: system
        types_or: [markdown, json, toml]
        pass_filenames: true

  # Markdown linting (catches issues dprint doesn't fix)
  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.12.1
    hooks:
      - id: markdownlint-cli2
        exclude: '^archived/'

  # Standard hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: '\.excalidraw$'
      - id: end-of-file-fixer
        exclude: '\.excalidraw$'
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
        args: ['--maxkb=500']

  # Python linting (auto-fix enabled)
  # Ruff check --fix auto-fixes what it can; ruff-format checks formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.4
    hooks:
      - id: ruff
        args: [--fix]
        exclude: '^archived/'
      - id: ruff-format
        args: [--check]
        exclude: '^archived/'

  # Framework integrity checks (index wikilinks, skill entries, workflow length)
  # Consolidates check-workflow-length + new index integrity validation
  - repo: local
    hooks:
      - id: check-framework-integrity
        name: framework integrity check
        entry: uv run python scripts/check_framework_integrity.py
        language: system
        pass_filenames: false
        files: '(WORKFLOWS|SKILLS)\.md$|workflows/.*\.md$|skills/.*/SKILL\.md$|commands/.*\.md$'

  # Type checking and full framework health checks run in CI only
  # (see .github/workflows/framework-health.yml)
  #
  # Moved to CI:
  # - basedpyright: full type analysis too slow for every commit
  # - check-skill-line-count: whole-repo scan, not file-scoped
  # - check-orphan-files: whole-repo scan, not file-scoped
  # - check-framework-integrity --full: slow full codebase wikilink scan
  # - audit_framework_health: comprehensive audit

revert: restore ida-reminder.md to compressed scale (PR #1260 fix)
  aops-core/hooks/templates/ida-reminder.md
Due: dprint

chore(main): release 0.3.28
  .release-please-manifest.json
  CHANGELOG.md
  pyproject.toml
  templates/aops-core.gemini-extension.json
  templates/aops-core.plugin.json
  templates/aops-tools.gemini-extension.json
  templates/aops-tools.plugin.json
Due: dprint

junior.md: add "What you author" section naming defended position as load-bearing output
  aops-core/agents/junior.md
Due: dprint

/learn (survey retro): file one GitHub issue per fixable cause
  aops-core/skills/survey/SKILL.md
Due: dprint, check-framework-integrity

fix(polecat): accept bare 'opus'/'sonnet'/'haiku' for --model
  polecat/cli.py
  tests/polecat/test_cli_model_flag.py
Due: none

feat(heuristics): P#126 — verify before claiming destructive multi-repo work
  CHANGELOG.md
  aops-core/HEURISTICS.md
  aops-core/skills/aops/references/claude-surfaces.md
  aops-core/skills/aops/workflows/12-hook-routing-self-test.md
Due: dprint, check-framework-integrity

supervisor: relax Compose-then-Dispatch Separation to agent-identity, not tick boundary
  aops-core/skills/aops/references/authoring-discipline.md
  aops-core/skills/supervisor/SKILL.md
  aops-core/skills/supervisor/instructions/worker-dispatch.md
Due: dprint, check-framework-integrity

Phase A residuals sweep: fix 5 stale references, punt 4 items to siblings
  .github/agents/pr-reviewer.agent.md
  aops-core/agents/junior.md
  aops-core/agents/rbg.md
  aops-core/skills/strategic-review/review-contexts/execution-environments.md
  specs/enforcement/enforcement.md
  specs/future/skill-delegation.md
Due: dprint

repo-sync-cron: provision triage:* labels in tracked repos
  .agents/ENFORCEMENT-MAP.md
  aops-core/lib/triage_labels.py
  aops-core/scripts/dump_pr_state.py
  tests/lib/test_triage_labels.py
Due: dprint

fix(transcripts): detect gemini chat-jsonl at bind-mount-source paths
  aops-core/lib/transcript_parser.py
  tests/lib/test_gemini_chat_jsonl.py
  tests/polecat/test_transcript_persistence_e2e.py
  tests/test_claude_polecat_session_discovery.py
Due: none

enforcement-map: surgical pyramid rewrite + move spec content to enforcement.md
  .agents/ENFORCEMENT-MAP.md
  aops-core/GATES.md
  specs/enforcement/enforcement.md
Due: dprint

Update .agents/ENFORCEMENT-MAP.md
  .agents/ENFORCEMENT-MAP.md
Due: dprint

docs: add conversation discipline and narration guard to junior agent
  aops-core/agents/junior.md
Due: dprint

fix: add brief-scope discipline to James review composition
  aops-core/agents/james.md
Due: dprint

[Phase A] ENFORCEMENT-MAP.md: pyramid rewrite + move spec content to enforcement.md (#1278)
  .agents/ENFORCEMENT-MAP.md
  aops-core/GATES.md
  specs/enforcement/enforcement.md
Due: dprint

redesign: cluster-1122 emit-time trigger in ida-reminder.md (follow-up to #1260)
  aops-core/agents/junior.md
  aops-core/hooks/templates/ida-reminder.md
Due: dprint

fix: remove invalid hookSpecificOutput from non-accepted hook events
  README.md
  aops-core/hooks/router.py
  aops-core/hooks/schemas.py
  aops-core/skills/craft/SKILL.md
  aops-core/skills/dogfood/SKILL.md
  aops-core/skills/survey/SKILL.md
  tests/hooks/test_custodiet_cluster.py
  tests/hooks/test_router_subprocess.py
  tests/hooks/test_stop_hook_advisory_routing.py
Due: dprint, check-framework-integrity

Update aops-core/skills/survey/SKILL.md
  aops-core/skills/survey/SKILL.md
Due: dprint, check-framework-integrity

docs: add conversation discipline and narration guard to junior agent (#1279)
  aops-core/agents/junior.md
Due: dprint

redesign: cluster-1122 emit-time trigger (follow-up to merged #1260) (#1282)
  aops-core/agents/junior.md
  aops-core/hooks/templates/ida-reminder.md
Due: dprint

fix(gates): IDA warn-mode bug + per-turn lifecycle (aops-83f40207)
  aops-core/lib/gates/custom_conditions.py
  aops-core/lib/gates/definitions.py
  aops-core/lib/gates/engine.py
  tests/hooks/test_gate_context_injection.py
  tests/hooks/test_gate_verdicts.py
Due: none

fix(gates): QA + handover warn-mode blocks Stop (same bug as IDA aops-83f40207)
  aops-core/lib/gates/custom_conditions.py
  aops-core/lib/gates/definitions.py
  tests/hooks/test_gate_context_injection.py
Due: none

chore(main): release 0.3.29
  .release-please-manifest.json
  CHANGELOG.md
  pyproject.toml
  templates/aops-core.gemini-extension.json
  templates/aops-core.plugin.json
  templates/aops-tools.gemini-extension.json
  templates/aops-tools.plugin.json
Due: dprint

stop gate
  aops-core/GATES.md
  aops-core/lib/gates/definitions.py
  aops-core/skills/aops/references/hooks.md
Due: dprint

docs(aops): add self-test workflows 11+12 to SKILL.md routing, add transcript evaluation methodology
  aops-core/skills/aops/SKILL.md
  aops-core/skills/aops/workflows/12-hook-routing-self-test.md
Due: dprint, check-framework-integrity

update gates
  aops-core/GATES.md
Due: dprint

fix(gates): lock gate posture at SessionStart, immune to mid-session env mutation (#1234)
  aops-core/hooks/gate_config.py
  aops-core/hooks/session_env_setup.py
  aops-core/lib/gate_posture.py
  aops-core/lib/gates/custom_conditions.py
  tests/hooks/test_gate_posture_lock.py
Due: none

fix(aops): address PR #1290 review — reframe self-test as live verification, broaden anti-synthetic prohibition
  aops-core/skills/aops/workflows/12-hook-routing-self-test.md
Due: dprint, check-framework-integrity

fix(junior): HALT-on-MCP-gap instruction + PKB Rules in CORE.md
  .agents/CORE.md
  aops-core/agents/junior.md
  tests/lib/test_pkb_gap_halt_instruction.py
Due: dprint

feat: SSH+tmux dispatch wrapper for in-container polecat dispatch
  scripts/polecat-dispatch-via-ssh.sh
  tests/polecat/test_dispatch_via_ssh.py
Due: none

chore(main): release 0.3.30
  .release-please-manifest.json
  CHANGELOG.md
  pyproject.toml
  templates/aops-core.gemini-extension.json
  templates/aops-core.plugin.json
  templates/aops-tools.gemini-extension.json
  templates/aops-tools.plugin.json
Due: dprint

ci: fix release-please auth error by using GITHUB_TOKEN
  .github/workflows/release-please.yml
Due: none

Merge workflow 12 into workflow 11 (unified self-test)
  aops-core/skills/aops/SKILL.md
  aops-core/skills/aops/workflows/11-self-test.md
  aops-core/skills/aops/workflows/12-hook-routing-self-test.md
Due: dprint, check-framework-integrity

emergency fix to hooks
  aops-core/hooks/gate_config.py
  aops-core/lib/transcript_parser.py
Due: none

fix broken test code
  tests/hooks/test_custodiet_cluster.py
  tests/hooks/test_gate_replay.py
  tests/hooks/test_gate_verdicts.py
Due: none

transcript should generate error notes
  aops-core/lib/transcript_parser.py
Due: none

docs: add hook crash detection pre-flight to self-test workflow
  aops-core/skills/aops/workflows/11-self-test.md
Due: dprint, check-framework-integrity

feat: add install-agy target for Antigravity CLI plugin
  Makefile
  aops-core/mcp.json.template
  scripts/build.py
Due: none

fix: prevent QA gate endless loop after marsha verification
  aops-core/lib/gates/custom_actions.py
  aops-core/lib/gates/custom_conditions.py
  aops-core/lib/gates/definitions.py
  tests/hooks/test_qa_gate_close_trigger.py
Due: none

fix: bypass all gates when stop_hook_active is true
  aops-core/hooks/router.py
  tests/hooks/test_qa_gate_close_trigger.py
Due: none
