Repository nicsuzor/academicOps: changes, and which pre-commit hooks are due for each by the changed paths.
All: dprint, check-framework-integrity

.pre-commit-config.yaml:

# Pre-commit hooks for academicOps framework governance
# See https://pre-commit.com for more info

repos:
  # Markdown/JSON/TOML validation (dprint - check-only, no auto-fix)
  # Ruff check --fix auto-fixes what it can; ruff-format checks formatting
  - repo: local
    hooks:
      - id: dprint
        name: dprint check
        entry: uv run dprint check
        language: system
        types_or: [markdown, json, toml]
        pass_filenames: true

  # Markdown linting (catches issues dprint doesn't fix)
  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.12.1
    hooks:
      - id: markdownlint-cli2
        exclude: '^archived/'

  # Standard hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: '\.excalidraw$'
      - id: end-of-file-fixer
        exclude: '\.excalidraw$'
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
        args: ['--maxkb=500']

  # Python linting (auto-fix enabled)
  # Ruff check --fix auto-fixes what it can; ruff-format checks formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.4
    hooks:
      - id: ruff
        args: [--fix]
        exclude: '^archived/'
      - id: ruff-format
        args: [--check]
        exclude: '^archived/'

  # Framework integrity checks (index wikilinks, skill entries, workflow length)
  # Consolidates check-workflow-length + new index integrity validation
  - repo: local
    hooks:
      - id: check-framework-integrity
        name: framework integrity check
        entry: uv run python scripts/check_framework_integrity.py
        language: system
        pass_filenames: false
        files: '(WORKFLOWS|SKILLS)\.md$|workflows/.*\.md$|skills/.*/SKILL\.md$|commands/.*\.md$'

  # Type checking and full framework health checks run in CI only
  # (see .github/workflows/framework-health.yml)
  #
  # Moved to CI:
  # - basedpyright: full type analysis too slow for every commit
  # - check-skill-line-count: whole-repo scan, not file-scoped
  # - check-orphan-files: whole-repo scan, not file-scoped
  # - check-framework-integrity --full: slow full codebase wikilink scan
  # - audit_framework_health: comprehensive audit

Potential fix for pull request finding
  polecat/prompt_template.py
Due: none

Potential fix for pull request finding
  polecat/cli.py
Due: none

fix(hooks): update Gemini sub-agent tool calls and fix uv pathing
  aops-core/hooks/gate_config.py
  aops-core/hooks/router.py
  aops-core/hooks/router.sh
  aops-core/hooks/templates/custodiet-instruction.md
  aops-core/hooks/templates/custodiet-policy-context.md
  aops-core/hooks/templates/hydration-gate-block.md
  aops-core/hooks/templates/hydration-gate-warn.md
  aops-core/hooks/templates/prompt-hydration-instruction.md
  aops-core/hooks/templates/qa-policy-context.md
  polecat/cli.py
Due: dprint

refactor(hooks): address PR review comments for Gemini sub-agent routing
  aops-core/hooks/gate_config.py
  aops-core/hooks/router.py
  polecat/cli.py
Due: none

fix(hooks): standardise verdict comparisons in gate engine
  aops-core/lib/gates/engine.py
Due: none

fix(hooks): fix test failures and remove butler from compliance types
  aops-core/hooks/gate_config.py
  tests/hooks/test_gate_config.py
  tests/hooks/test_gate_verdicts.py
  tests/hooks/test_hydration_never_deny.py
Due: none

fix: update Gemini tool name mapping and add settings validation
  pyproject.toml
  scripts/build.py
  uv.lock
Due: dprint

update gemini tool names
  scripts/build.py
  tests/test_agent_tool_names.py
Due: none

feat(ci): sequence workflows natively via workflow_call to save quota
  .github/workflows/agent-assessor.yml
  .github/workflows/agent-auditor.yml
  .github/workflows/agent-merge-prep.yml
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
  .github/workflows/ios-note-capture.yml
  .github/workflows/learn-analysis.yml
  .github/workflows/lint.yml
  .github/workflows/merge-prep-cron.yml
  .github/workflows/pr-pipeline.yml
  .github/workflows/pytest.yml
  .github/workflows/summary-and-merge.yml
  .github/workflows/typecheck.yml
Due: none

manual edit
  .github/agents/assessor.agent.md
  .github/agents/auditor.agent.md
  .github/agents/autofix.agent.md
  .github/agents/merge-prep.agent.md
  .github/agents/worker.agent.md
  .github/workflows/agent-auditor.yml
  .github/workflows/agent-autofix.yml
  .github/workflows/agent-merge-prep.yml.disabled
  .github/workflows/claude-code-review.yml.disabled
  .github/workflows/pr-pipeline.yml
  .github/workflows/summary-and-merge.yml.disabled
  aops-core/commands/learn.md
  aops-core/skills/qa/references/visual-analysis.md
Due: dprint, check-framework-integrity

gemini edit
  .github/agents/autofix.agent.md
Due: dprint

make
  .claude-plugin/marketplace.json
  Makefile
Due: dprint

fix(build): retain mcp_ prefix for gemini tool names
  scripts/build.py
Due: none

fix ref
  .github/workflows/pr-pipeline.yml
Due: none

auth
  .github/workflows/agent-auditor.yml
  .github/workflows/agent-autofix.yml
  .github/workflows/agent-merge-prep.yml
  .github/workflows/merge-prep-cron.yml
Due: none

chore(framework): shift to abstraction layer architecture
  aops-core/AXIOMS.md
  specs/modularity-agentic-qa.md
  specs/prompt-hydration.md
Due: dprint

feat(architecture): merge hydration with formal decomposition
  aops-core/AXIOMS.md
  specs/hydration-planning-merge.md
  specs/modularity-agentic-qa.md
  specs/prompt-hydration.md
Due: dprint

Rejected. We have built our own mem server, so markdown files ARE tasks.
  specs/bd-markdown-integration.md
Due: dprint

chore(framework): codify non-interactive execution constraint
  aops-core/AXIOMS.md
  aops-core/CONSTRAINTS.md
Due: dprint

spec: update user expectations for command-intercept
  specs/command-intercept.md
Due: dprint

docs(spec): update user expectations for collaborate-workflow (aops-c3e311a9)
  specs/collaborate-workflow.md
Due: dprint

docs: add User Expectations to work-management spec
  specs/work-management.md
Due: dprint

spec-audit: update verification-system.md with user expectations and current state
  specs/verification-system.md
Due: dprint

outdated
  specs/collaborate-workflow.md
Due: dprint

overengineered
  specs/decision-queue-spec.md
Due: dprint

docs: [aops-aa9f382e] Update User Expectations for bd-markdown-integration spec
  specs/bd-markdown-integration.md
Due: dprint

spec: update conceptual-review-workflow with implementation links and user expectations
  specs/conceptual-review-workflow.md
Due: dprint

feat(spec): add User Expectations to daily-briefing-bundle.md
  specs/daily-briefing-bundle.md
Due: dprint

docs: [aops-a64c48a2] update user expectations for constraint-checking-tests
  specs/constraint-checking-tests.md
Due: dprint

docs(spec): audit and update decision-queue-spec.md
  specs/decision-queue-spec.md
Due: dprint

docs: audit spec and add User Expectations for effectual-planning-agent (aops-25f5d76e)
  specs/effectual-planning-agent.md
Due: dprint

docs(spec): update enforcement spec with current architecture and user expectations [aops-47e7b177]
  specs/enforcement.md
Due: dprint

docs: add User Expectations to feedback-loops spec [aops-2f5c9058]
  specs/feedback-loops.md
Due: dprint

spec-audit: add User Expectations to flow.md (aops-5510bebe)
  specs/flow.md
Due: dprint
