Repository nicsuzor/academicOps: changes, and which pre-commit hooks are due for each by the changed paths.
All: dprint, check-framework-integrity

.pre-commit-config.yaml:

# Pre-commit hooks for academicOps framework governance
# See https://pre-commit.com for more info

repos:
  # Markdown/JSON/TOML validation (dprint - check-only, no auto-fix)
  # Ruff check --fix auto-fixes what it can; ruff-format checks formatting
  - repo: local
    hooks:
      - id: dprint
        name: dprint check
        entry: uv run dprint check
        language: system
        types_or: [markdown, json, toml]
        pass_filenames: true

  # Markdown linting (catches issues dprint doesn't fix)
  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.12.1
    hooks:
      - id: markdownlint-cli2
        exclude: '^archived/'

  # Standard hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: '\.excalidraw$'
      - id: end-of-file-fixer
        exclude: '\.excalidraw$'
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
        args: ['--maxkb=500']

  # Python linting (auto-fix enabled)
  # Ruff check --fix auto-fixes what it can; ruff-format checks formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.4
    hooks:
      - id: ruff
        args: [--fix]
        exclude: '^archived/'
      - id: ruff-format
        args: [--check]
        exclude: '^archived/'

  # Framework integrity checks (index wikilinks, skill entries, workflow length)
  # Consolidates check-workflow-length + new index integrity validation
  - repo: local
    hooks:
      - id: check-framework-integrity
        name: framework integrity check
        entry: uv run python scripts/check_framework_integrity.py
        language: system
        pass_filenames: false
        files: '(WORKFLOWS|SKILLS)\.md$|workflows/.*\.md$|skills/.*/SKILL\.md$|commands/.*\.md$'

  # Type checking and full framework health checks run in CI only
  # (see .github/workflows/framework-health.yml)
  #
  # Moved to CI:
  # - basedpyright: full type analysis too slow for every commit
  # - check-skill-line-count: whole-repo scan, not file-scoped
  # - check-orphan-files: whole-repo scan, not file-scoped
  # - check-framework-integrity --full: slow full codebase wikilink scan
  # - audit_framework_health: comprehensive audit

refactor: migrate planning to standalone skill, delete dynamic hydrator injection
  .agent/STATUS.md
  .agent/rules/HEURISTICS.md
  .agent/rules/enforcement-map.md
  .agent/skills/effectual-planner/SKILL.md
  aops-core/SKILLS.md
  aops-core/agents/effectual-planner.md
  aops-core/framework/enforcement-map.md
  aops-core/hooks/templates/hydrator-context.md
  aops-core/hooks/user_prompt_submit.py
  aops-core/indices/FILES.md
  aops-core/lib/file_index.py
  aops-core/lib/hydration/builder.py
  aops-core/lib/hydration/context_loaders.py
  aops-core/lib/template_registry.py
  aops-core/skills/hydrator/WORKFLOWS.md
  aops-core/skills/planning/SKILL.md
  aops-core/skills/planning/WORKFLOWS.md
  aops-core/skills/planning/workflows/decompose.md
  aops-core/skills/planning/workflows/references/decomposition-patterns.md
  aops-core/skills/planning/workflows/strategic-intake.md
  aops-core/skills/strategy/SKILL.md
  aops-core/tests/hooks/test_user_prompt_submit.py
  scripts/audit_framework_health.py
  specs/effectual-planning-agent.md
  specs/plugin-architecture.md
  specs/research-decomposition.md
  tests/integration/test_hydration_path_resolution.py
  tests/test_plugin_structure.py
Due: dprint, check-framework-integrity

feat(polecat): configure git identity, credentials, and timezone in Docker
  polecat/cli.py
  tests/polecat/test_cli_docker.py
Due: none

refactor: delete hydrator context injection pipeline entirely
  aops-core/hooks/session_env_setup.py
  aops-core/hooks/templates/README.md
  aops-core/hooks/templates/hydrator-context.md
  aops-core/hooks/user_prompt_submit.py
  aops-core/lib/gates/custom_actions.py
  aops-core/lib/hook_utils.py
  aops-core/lib/hydration/builder.py
  aops-core/lib/hydration/context_loaders.py
  aops-core/lib/session_reader.py
  aops-core/lib/template_registry.py
  aops-core/skills/framework/references/hooks.md
  aops-core/tests/hooks/test_user_prompt_submit.py
  scripts/build_hydrator_test_input.py
  tests/demo/test_validate_context_discovery.py
  tests/hooks/test_gatestate_attribute_regression.py
  tests/hooks/test_router_context.py
  tests/integration/test_hydration_path_resolution.py
  tests/lib/test_context_loaders.py
  tests/lib/test_hook_utils_temp_path.py
Due: dprint

refactor: delete builder.py; gate engine handles hydration natively
  aops-core/hooks/router.py
  aops-core/hooks/user_prompt_submit.py
  aops-core/lib/gates/custom_actions.py
  aops-core/lib/gates/definitions.py
  aops-core/lib/hydration/__init__.py
  aops-core/lib/hydration/builder.py
  tests/test_hydrator_prompt_submit.py
Due: none

refactor(polecat): merge repo-sync.sh into pc sync command
  polecat/cli.py
  scripts/repo-sync-cron.sh
Due: none

chore: remove standalone repo-sync.sh (superseded by pc sync)
  scripts/repo-sync.sh
Due: none

refactor: make is_hydratable declarative; delete skip_check + user_prompt_submit
  aops-core/hooks/user_prompt_submit.py
  aops-core/lib/gate_types.py
  aops-core/lib/gates/custom_conditions.py
  aops-core/lib/gates/definitions.py
  aops-core/lib/gates/engine.py
  aops-core/lib/hydration/__init__.py
  aops-core/lib/hydration/skip_check.py
  aops-core/tests/hydration/test_skip_check.py
  scripts/audit_framework_health.py
  tests/hooks/test_gate_replay.py
  tests/hooks/test_hydration_bypass.py
  tests/test_plugin_structure.py
  tests/test_question_classification.py
Due: none

refactor(tests): prune redundant/vacuous slow tests; add gate lifecycle e2e
  tests/e2e/test_gates_e2e.py
  tests/e2e/test_gates_enforcement_e2e.py
  tests/e2e/test_polecat_docker_isolation.py
  tests/e2e/test_session_insights_pipeline.py
  tests/integration/test_credential_isolation.py
  tests/integration/test_criteria_gate_e2e.py
  tests/integration/test_cross_platform_e2e.py
  tests/integration/test_custodiet_e2e.py
  tests/integration/test_deny_rules.py
  tests/integration/test_gemini_agent_definitions.py
  tests/integration/test_gemini_mcp_e2e.py
  tests/integration/test_hooks_discovery.py
  tests/integration/test_hydration_gate_e2e.py
  tests/integration/test_hydration_path_resolution.py
  tests/integration/test_hydrator.py
  tests/integration/test_multi_agent_workflows.py
  tests/integration/test_plugin_integration.py
  tests/integration/test_policy_enforcer_e2e.py
  tests/integration/test_pretooluse_block_routing_e2e.py
  tests/integration/test_session_insights_e2e.py
  tests/integration/test_settings_discovery.py
  tests/integration/test_skill_discovery_standalone.py
  tests/integration/test_skill_script_discovery.py
  tests/integration/test_subagent_tool_call_extraction.py
  tests/integration/test_workflow_constraints.py
Due: none

fix: plugin load failure — remove duplicate hooks decl, add uninstall-dev
  Makefile
  aops-core/.claude-plugin/plugin.json
Due: dprint

fix(sleep): add repo topology guardrail to prevent false task cancellation
  templates/github-workflows/sleep-cycle.yml
Due: none

feat(sleep): add active-loop protocol and graph maintenance phases
  aops-core/SKILLS.md
  aops-core/skills/active-loop/SKILL.md
  aops-core/skills/sleep/SKILL.md
  templates/github-workflows/sleep-cycle.yml
Due: dprint, check-framework-integrity

feat(polecat): enable 24-bit color for interactive crew sessions
  polecat/cli.py
Due: none

feat(polecat): add setup command and install claude extensions
  polecat/cli.py
  scripts/install.py
Due: none

feat(polecat): mount host uv cache into docker and forward github tokens
  polecat/cli.py
Due: none

feat(learn): enforce root cause analysis and ENFORCEMENT.md integration
  aops-core/commands/learn.md
Due: dprint, check-framework-integrity

change token
  .github/workflows/merge-prep-cron.yml
Due: none

config: increase sleep cycle bounded effort from 10 to 30 items
  aops-core/skills/sleep/SKILL.md
  templates/github-workflows/sleep-cycle.yml
Due: dprint, check-framework-integrity

fix(install): uninstall before install and report versions; bump to 0.3.4
  .release-please-manifest.json
  Makefile
  aops-core/.claude-plugin/plugin.json
  gemini-extension.json
  pyproject.toml
  uv.lock
Due: dprint

fix(ci): fix autofix auth, add merge-prep agent, tune merge-prep qualification
  .github/agents/merge-prep.agent.md
  .github/workflows/agent-autofix.yml
  .github/workflows/merge-prep-cron.yml
  .github/workflows/pr-pipeline.yml
Due: dprint

chore: remove bump-my-version
  pyproject.toml
  uv.lock
Due: dprint

refactor: unify main and sandbox docker images
  .gemini/sandbox.Dockerfile
  Makefile
  polecat/cli.py
  scripts/verify-docker-env.sh
  tests/conftest.py
  tests/e2e/test_docker_session.py
  tests/e2e/test_polecat_docker_isolation.py
Due: none

feat(docker): install code quality tools
  Dockerfile
Due: none

Potential fix for pull request finding
  polecat/cli.py
Due: none

chore(main): release 0.4.0
  .claude-plugin/marketplace.json
  .release-please-manifest.json
  CHANGELOG.md
  aops-core/.claude-plugin/plugin.json
  gemini-extension.json
Due: dprint

fix(install): show install sources, simplify version report, add docker check
  Makefile
Due: none

fix(docker): install plugin at build time, mount only auth files at runtime
  Dockerfile
  polecat/cli.py
Due: none

fix(docker): set UV_CACHE_DIR to /tmp/uv-cache for non-root container user
  Dockerfile
Due: none

fix(docker): fix GPG key signing, consolidate Makefile, fix .dockerignore
  .dockerignore
  Dockerfile
  Makefile
Due: none

remove uv.lock
  .gitignore
  uv.lock
Due: none

feat(polecat): persist Claude session transcripts from Docker crew sessions
  polecat/cli.py
  scripts/verify-crew-sessions.sh
  tests/conftest.py
  tests/e2e/test_crew_session_persistence.py
Due: none

save debug log
  Dockerfile
  Makefile
  aops-core/hooks/router.sh
  scripts/verify-docker-env.sh
  tests/conftest.py
  tests/e2e/test_crew_session_persistence.py
  tests/e2e/test_docker_session.py
  tests/e2e/test_polecat_docker_isolation.py
Due: none

fix(tests): add sys.path for polecat in _run_gemini_docker
  tests/conftest.py
Due: none

update biuld
  Dockerfile
Due: none

fix: enable plugin hooks in Docker E2E tests and add debug diagnostics
  aops-core/hooks/router.sh
  polecat/cli.py
  tests/conftest.py
  tests/e2e/test_crew_session_persistence.py
Due: none

Update aops-core/lib/session_reader.py
  aops-core/lib/session_reader.py
Due: none

fix: sync version to 0.3.5 and fix release-please config and uv.lock
  .claude-plugin/marketplace.json
  .gitignore
  .release-please-manifest.json
  aops-core/.claude-plugin/plugin.json
  gemini-extension.json
  pyproject.toml
  release-please-config.json
  uv.lock
Due: dprint

add workflow dispatch
  .github/workflows/release-please.yml
Due: none

fix: prevent eager version bumps pre-v1
  release-please-config.json
Due: dprint

fix(polecat): restore HOME env var in Docker command to satisfy tests
  polecat/cli.py
Due: none
