Repository nicsuzor/academicOps: changes, and which pre-commit hooks are due for each by the changed paths.
All: dprint, check-framework-integrity

dprint:
  name: dprint check
  entry: uv run dprint check
  language: system
  pass_filenames: true

check-framework-integrity:
  name: framework integrity check
  entry: uv run python scripts/check_framework_integrity.py
  language: system
  pass_filenames: false

fix(enforcer): pin academicOps checkout to pipeline-v1
  .github/workflows/agent-enforcer.yml
Due: none

update self-test
  aops-core/skills/aops/workflows/11-self-test.md
Due: dprint, check-framework-integrity

docs: align surfaces to focus_score as primary ranking signal (task-d997a904)
  aops-core/HEURISTICS.md
  aops-core/commands/pull.md
  aops-core/skills/daily/SKILL.md
  aops-core/skills/daily/instructions/status-snapshot.md
  aops-core/skills/planner/SKILL.md
  aops-core/skills/remember/references/TAXONOMY.md
Due: dprint, check-framework-integrity

remove graphs
  scripts/repo-sync-cron.sh
Due: none

updated polecat session dir
  polecat/manager.py
Due: none

fix(sessions): unify per-session artefact paths; provider in filename; fix gemini drift
  aops-core/hooks/router.py
  aops-core/lib/session_naming.py
  aops-core/lib/session_paths.py
  aops-core/lib/transcript_parser.py
  aops-core/scripts/transcript.py
  aops-core/skills/aops/references/forensics-details.md
  tests/lib/test_session_paths.py
  tests/test_session_naming.py
  tests/test_session_paths.py
Due: dprint

transcript: compact hook display, multi-file hook load, slug dedup (task-d832e6f7)
  aops-core/lib/session_naming.py
  aops-core/lib/transcript_parser.py
  aops-core/scripts/transcript.py
  tests/lib/test_transcript_hook_output.py
  tests/lib/test_transcript_parser_hooks.py
Due: none

agents: codify per-agent permission envelopes in CONSTRAINTS.md C4 (task-1cfee4a5)
  aops-core/CONSTRAINTS.md
  aops-core/agents/marsha.md
  aops-core/agents/rbg.md
Due: dprint

fix(sessions): unify per-session artefact paths; provider in filename (#903)
  aops-core/hooks/router.py
  aops-core/lib/session_naming.py
  aops-core/lib/session_paths.py
  aops-core/lib/transcript_parser.py
  aops-core/scripts/transcript.py
  aops-core/skills/aops/references/forensics-details.md
  tests/lib/test_session_paths.py
  tests/test_session_naming.py
  tests/test_session_paths.py
Due: dprint

chore(main): release 0.3.22
  .release-please-manifest.json
  CHANGELOG.md
  pyproject.toml
  templates/aops-core.gemini-extension.json
  templates/aops-core.plugin.json
  templates/aops-tools.gemini-extension.json
  templates/aops-tools.plugin.json
Due: dprint

task-40390848: remove PKB alias-rewrite shim and add regression prevention
  .pre-commit-config.yaml
  aops-core/CONTRIBUTING.md
  aops-core/hooks/router.py
  aops-core/hooks/schemas.py
  aops-core/skills/daily/instructions/mobile-capture-triage.md
  scripts/check_no_pkb_path_aliases.py
Due: dprint

hang
  polecat/cli.py
Due: none

fix(polecat): drop CI=true for gemini crew so REPL stays interactive
  polecat/cli.py
Due: none

feat(supervisor): pre-flight confirmation summary (Part A)
  aops-core/skills/supervisor/SKILL.md
  aops-core/skills/supervisor/instructions/code-deliverable.md
  aops-core/skills/supervisor/instructions/worker-dispatch.md
Due: dprint, check-framework-integrity

feat(sleep): /sleep loop-close — Phase 6 + Phase 7 additions (Part B of dispatch improvements)
  aops-core/scripts/close_loop.py
  aops-core/skills/daily/SKILL.md
  aops-core/skills/daily/instructions/workflow-monitor.md
  aops-core/skills/sleep/SKILL.md
  aops-core/tests/__init__.py
  aops-core/tests/test_close_loop.py
Due: dprint, check-framework-integrity

build(cowork): trim aops-cowork plugin to RO dispatch surface
  scripts/build.py
  tests/test_build_cowork_includes.py
Due: none

fix(transcripts,hooks): parse gemini chat-jsonl + route deny recovery to model
  aops-core/hooks/router.py
  aops-core/lib/session_reader.py
  aops-core/lib/transcript_parser.py
  tests/hooks/test_router_formatting_core.py
  tests/hooks/test_universal_router.py
  tests/lib/test_gemini_chat_jsonl.py
Due: none

fix(polecat): launch gemini crew with --approval-mode=yolo, not plan
  polecat/cli.py
  tests/polecat/test_gemini_sandbox.py
Due: none

fix(router): surface deny-branch context_injection to gemini model
  aops-core/hooks/router.py
  tests/hooks/test_router_formatting_core.py
Due: none

task-40390848: remove PKB alias-rewrite shim and add regression prevention (#906)
  .agents/ENFORCEMENT-MAP.md
  .pre-commit-config.yaml
  aops-core/CONTRIBUTING.md
  aops-core/hooks/router.py
  aops-core/hooks/schemas.py
  aops-core/skills/daily/instructions/mobile-capture-triage.md
  scripts/check_no_pkb_path_aliases.py
  tests/hooks/test_router_formatting_core.py
  tests/hooks/test_universal_router.py
Due: dprint

feat(supervisor): pre-flight confirmation summary (Part A of dispatch improvements) (#908)
  aops-core/skills/supervisor/SKILL.md
  aops-core/skills/supervisor/instructions/code-deliverable.md
  aops-core/skills/supervisor/instructions/worker-dispatch.md
Due: dprint, check-framework-integrity

build(cowork): trim aops-cowork to RO dispatch surface (#910)
  scripts/build.py
  tests/test_build_cowork_includes.py
Due: none

delete dispositor
  .agents/ENFORCEMENT-MAP.md
  .pre-commit-config.yaml
  README.md
  aops-core/CONTRIBUTING.md
  aops-core/HEURISTICS.md
  aops-core/hooks/router.py
  aops-core/hooks/templates/orchestrator-dispositor-reminder.md
  aops-core/lib/orchestrator_boundary.py
  aops-core/lib/template_registry.py
  scripts/check_no_pkb_path_aliases.py
  tests/hooks/test_orchestrator_boundary.py
Due: dprint

feat(sleep): /sleep loop-close — Phase 6 + Phase 7 additions (Part B of dispatch improvements) (#909)
  aops-core/skills/daily/SKILL.md
  aops-core/skills/daily/instructions/workflow-monitor.md
  aops-core/skills/sleep/SKILL.md
Due: dprint, check-framework-integrity

remove permissions
  .agents/ENFORCEMENT-MAP.md
  aops-core/CONSTRAINTS.md
  polecat/defaults/claude-settings.json
  templates/aops-core.gemini-extension.json
  templates/aops-core.plugin.json
Due: dprint

chore(main): release 0.3.23
  .release-please-manifest.json
  CHANGELOG.md
  pyproject.toml
  templates/aops-core.gemini-extension.json
  templates/aops-core.plugin.json
  templates/aops-tools.gemini-extension.json
  templates/aops-tools.plugin.json
Due: dprint

remove dumb test
  tests/test_automode.py
Due: none

remove outdataed rules
  .agents/rules/RULES.md
  aops-core/CONSTRAINTS.md
Due: dprint

feat(polecat): trial vanilla-crew config — no hooks, bypass-permissions
  aops-core/hooks/router.sh
  polecat/cli.py
  polecat/defaults/claude-settings-vanilla.json
  polecat/defaults/gemini-settings-vanilla.json
  tests/polecat/test_cli_docker.py
Due: dprint

fix gemini transcripts
  aops-core/lib/transcript_parser.py
Due: none

trial: vanilla-crew config — crew containers run hooks-off, bypass-permissions (#915)
  .agents/ENFORCEMENT-MAP.md
  aops-core/hooks/router.sh
  polecat/cli.py
  polecat/defaults/claude-settings-vanilla.json
  polecat/defaults/gemini-settings-vanilla.json
  tests/polecat/test_cli_docker.py
Due: dprint

remove stupid hooks and tests
  aops-core/hooks/internal_models.py
  aops-core/hooks/router.py
  aops-core/skills/aops/references/hooks.md
  aops-core/skills/supervisor/instructions/code-deliverable.md
  polecat/cli.py
  polecat/manager.py
  tests/acceptance/v0.3-release.md
  tests/acceptance/v1.1-release.md
  tests/demo/README.md
  tests/demo/__init__.py
  tests/demo/conftest.py
  tests/demo/test_demo_enforcer_transcript.py
  tests/demo/test_demo_hook_logs.py
  tests/demo/test_demo_session_discovery.py
  tests/demo/test_demo_transcript_generation.py
  tests/hooks/manual_test_subagent_bypass.sh
  tests/hooks/test_autocommit_state.py
  tests/hooks/test_gate_registry.py
  tests/hooks/test_gates_unification.py
  tests/hooks/test_router_formatting.py
  tests/hooks/test_router_formatting_core.py
  tests/hooks/test_session_end_schema.py
  tests/hooks/test_toolsearch_bypass.py
  tests/lib/test_transcript_quality.py
  tests/manual/hydrator-tool-awareness-test-plan.md
  tests/polecat/test_cli_docker.py
  tests/polecat/test_gemini_policy.py
Due: dprint

remove policy
  aops-core/policies/allow-shell.toml
Due: dprint

feat(transcript_parser): add attention counters to per-session summary
  aops-core/lib/insights_generator.py
  aops-core/lib/transcript_parser.py
  tests/lib/test_token_tracking.py
Due: none

feat(transcript_parser): per-invocation reviewer verdicts in session summary
  aops-core/lib/insights_generator.py
  aops-core/lib/reviewer_verdicts.py
  aops-core/lib/transcript_parser.py
  tests/lib/test_reviewer_verdicts.py
Due: none

remove hooks
  aops-core/hooks/router.py
Due: none

fix(transcript): structured verdict markers, per-tool tokens, condense Hook header
  aops-core/agents/rbg.md
  aops-core/lib/insights_generator.py
  aops-core/lib/reviewer_verdicts.py
  aops-core/lib/transcript_parser.py
  tests/lib/test_reviewer_verdicts.py
  tests/lib/test_token_tracking.py
Due: dprint

remove tests
  polecat/manager.py
  tests/polecat/test_sandbox.py
Due: none

fix(polecat): distinguish watchdog SIGKILL from OOM in exit-137 reporting
  polecat/cli.py
Due: none

fix(polecat): distinguish watchdog SIGKILL from OOM in exit-137 reporting (#919)
  polecat/cli.py
Due: none

Path conditions:
  dprint: any of: \.(md|markdown|mdown)$, \.json$, \.toml$
  check-framework-integrity: any of: (WORKFLOWS|SKILLS)\.md$|workflows/.*\.md$|skills/.*/SKILL\.md$|commands/.*\.md$
