Repository nicsuzor/academicOps: changes, and which pre-commit hooks are due for each by the changed paths.
All: dprint, check-framework-integrity

.pre-commit-config.yaml:

# Pre-commit hooks for academicOps framework governance
# See https://pre-commit.com for more info

repos:
  # Markdown/JSON/TOML validation (dprint - check-only, no auto-fix)
  # Ruff check --fix auto-fixes what it can; ruff-format checks formatting
  - repo: local
    hooks:
      - id: dprint
        name: dprint check
        entry: uv run dprint check
        language: system
        types_or: [markdown, json, toml]
        pass_filenames: true

  # Markdown linting (catches issues dprint doesn't fix)
  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.12.1
    hooks:
      - id: markdownlint-cli2
        exclude: '^archived/'

  # Standard hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: '\.excalidraw$'
      - id: end-of-file-fixer
        exclude: '\.excalidraw$'
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
        args: ['--maxkb=500']

  # Python linting (auto-fix enabled)
  # Ruff check --fix auto-fixes what it can; ruff-format checks formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.4
    hooks:
      - id: ruff
        args: [--fix]
        exclude: '^archived/'
      - id: ruff-format
        args: [--check]
        exclude: '^archived/'

  # Framework integrity checks (index wikilinks, skill entries, workflow length)
  # Consolidates check-workflow-length + new index integrity validation
  - repo: local
    hooks:
      - id: check-framework-integrity
        name: framework integrity check
        entry: uv run python scripts/check_framework_integrity.py
        language: system
        pass_filenames: false
        files: '(WORKFLOWS|SKILLS)\.md$|workflows/.*\.md$|skills/.*/SKILL\.md$|commands/.*\.md$'

  # Type checking and full framework health checks run in CI only
  # (see .github/workflows/framework-health.yml)
  #
  # Moved to CI:
  # - basedpyright: full type analysis too slow for every commit
  # - check-skill-line-count: whole-repo scan, not file-scoped
  # - check-orphan-files: whole-repo scan, not file-scoped
  # - check-framework-integrity --full: slow full codebase wikilink scan
  # - audit_framework_health: comprehensive audit

style: format transcripts files from the dev merge
  lib/py/transcripts/runner.py
  tests/transcripts/test_secret_redaction.py
Due: none

fix: make the credential-isolation message truthful
  lib/hooks/credentials.py
  plugins/aops/hooks/messages/session-start-isolated.md
  plugins/aops/hooks/messages/session-start-isolated.user.md
  plugins/aops/polecat/env_contract.py
  tests/polecat/test_credential_claims.py
Due: dprint

ci: build dist before pytest so shipped-artifact tests actually run
  .github/workflows/pytest.yml
Due: none

polecat: forward COPE_EVALUATOR_* into containers
  plugins/aops/polecat/env_contract.py
Due: none

fix: correct PKB tool-permission name in james and rbg
  plugins/aops/agents/james.md
  plugins/aops/agents/rbg.md
Due: dprint

cope: require trigger: always_on in every rule layer, not just axioms
  .agents/rules/RULES.md
  .agents/skills/add-rule/SKILL.md
  plugins/cope/README.md
  plugins/cope/hooks/rules.py
  specs/enforcement/enforcement.md
  tests/test_cope.py
Due: dprint, check-framework-integrity

doctrine: design ambiguity is judgment, not a halt
  lib/doctrine/halt.md
  plugins/pkb/agents/pauli.md
Due: dprint

cope: show the person watching that a rule was flagged
  plugins/cope/hooks/handlers.py
  plugins/cope/hooks/messages/verdict.user.md
  tests/test_cope.py
  tests/test_hooks.py
  tests/test_shipped_hooks.py
Due: dprint

fix(polecat): forward configured git_identity into every container dispatch
  aops-jr/polecat/cli.py
  aops-jr/polecat/defaults/polecat.yaml.example
  aops-jr/polecat/entrypoint.sh
Due: none

agents: make personas portable across dispatch surfaces
  lib/doctrine/README.md
  lib/doctrine/delegation.md
  plugins/aops/agents/james.md
  plugins/ida/agents/ida.md
  plugins/pkb/agents/pauli.md
  specs/agents/agent-authority.md
Due: dprint

docs(pauli): fix stale runtime-definition path in agent spec
  specs/agents/pauli.md
Due: dprint

install: keep Claude Code's built-in autoMode rules via $defaults
  build/install.py
  tests/test_install.py
Due: none

hooks: give the framework's own failures a reader
  lib/hooks/credentials.py
  lib/hooks/degraded.py
  lib/hooks/dispatch.py
  lib/hooks/messages/degraded.md
  lib/hooks/messages/degraded.user.md
  plugins/aops/README.md
  plugins/cope/README.md
  plugins/cope/hooks/evaluator.py
  plugins/cope/hooks/handlers.py
  plugins/cope/hooks/rules.py
  specs/ARCHITECTURE.md
  specs/enforcement/enforcement.md
  tests/test_cope.py
  tests/test_hooks.py
  tests/test_shipped_hooks.py
Due: dprint

fix(polecat): halt on missing/misconfigured git_identity instead of warning
  aops-jr/polecat/cli.py
  aops-jr/tests/test_cli_seed_verification.py
  aops-jr/tests/test_git_identity_forwarding.py
Due: none

fix: reconstruct whole sessions, and let an empty session come back
  .gitignore
  lib/py/transcripts/__init__.py
  lib/py/transcripts/adapters/__init__.py
  lib/py/transcripts/adapters/claude.py
  lib/py/transcripts/domain/__init__.py
  lib/py/transcripts/domain/cache.py
  lib/py/transcripts/domain/renderer.py
  lib/py/transcripts/model.py
  lib/py/transcripts/runner.py
  specs/transcript-pipeline.md
  tests/transcripts/fixtures/README.md
  tests/transcripts/fixtures/claude_subagent.jsonl
  tests/transcripts/fixtures/claude_subagent.meta.json
  tests/transcripts/test_domain.py
  tests/transcripts/test_secret_redaction.py
  tests/transcripts/test_skip_cache.py
  tests/transcripts/test_subagents.py
Due: dprint

lint: fail when a document references a path that does not exist
  .github/workflows/lint.yml
  Makefile
  pyproject.toml
  scripts/check_refs.py
  tests/test_check_refs.py
Due: dprint

docs: repoint references that moved, remove those with no successor
  .agents/commands/issue-sweep.md
  .agents/skills/design-rubric/SKILL.md
  .agents/skills/triage/SKILL.md
  .github/agents/pr-reviewer.agent.md
  .github/agents/qa.agent.md
  .github/copilot-instructions.md
  plugins/tools/README.md
  plugins/tools/skills/analyst/SKILL.md
  plugins/tools/skills/deep-research/SKILL.md
  plugins/tools/skills/diagram/SKILL.md
  plugins/tools/skills/extract/SKILL.md
  plugins/tools/skills/extract/procedures/review-inline-comments.md
  plugins/tools/skills/pdf/SKILL.md
  specs/README.md
  specs/agents/agent-authority.md
  specs/enforcement/auto-mode-classifier.md
  specs/enforcement/evidence-contract.md
  specs/polecat/spec-partial-work-tight-loop-delivery.md
  specs/polecat/supervisor.md
  specs/workflows/conceptual-review-workflow.md
  specs/workflows/reconcile.md
  specs/workflows/research-decomposition.md
  templates/github-agent/worker.agent.md
Due: dprint, check-framework-integrity

fix: narrow sessionId so basedpyright accepts it, and run it in make lint
  .agents/CORE.md
  Makefile
  lib/py/transcripts/adapters/claude.py
Due: dprint

fix: redact the sidecar's values, not its serialised text
  lib/py/transcripts/domain/ledger.py
  lib/py/transcripts/domain/renderer.py
  lib/py/transcripts/domain/secret_redaction.py
  lib/py/transcripts/runner.py
  tests/transcripts/test_domain.py
  tests/transcripts/test_secret_redaction.py
Due: none

polecat: mount user rules and plumb cope evaluator into containers
  Dockerfile
  Makefile
  plugins/aops/README.md
  plugins/aops/polecat/cli.py
  plugins/aops/polecat/defaults/polecat.yaml.example
  specs/polecat/polecat-system.md
  specs/polecat/tmux-interactive-driving.md
  tests/polecat/test_container_config.py
  tests/polecat/test_container_smoke.py
Due: dprint

telemetry: prove end-to-end OTel export and forward the contract into scheduled runs
  .github/workflows/issue-sweep.yml
  pyproject.toml
  templates/github-workflows/pkb-quality-review.yml
  templates/github-workflows/sleep-cycle.yml
  templates/github-workflows/transcript-extraction.yml
  tests/test_telemetry_otel_e2e.py
Due: dprint

pkb: behavioural tests for the plugin's own hooks and launcher
  tests/test_pkb_handlers.py
Due: none

telemetry: forward the enhanced-telemetry flag so trace spans export
  .github/workflows/issue-sweep.yml
  lib/hooks/telemetry.py
  plugins/aops/polecat/env_contract.py
  specs/ARCHITECTURE.md
  templates/github-workflows/pkb-quality-review.yml
  templates/github-workflows/sleep-cycle.yml
  templates/github-workflows/transcript-extraction.yml
  tests/test_telemetry_otel_e2e.py
Due: dprint

docs(polecat): fix agy transcript path in tmux-interactive-driving spec
  specs/polecat/tmux-interactive-driving.md
Due: dprint

docs(polecat): document POLECAT_AGENT_HOME in the agy dev-loop
  specs/polecat/tmux-interactive-driving.md
Due: dprint

fix(hooks): write polecat-session-hooks.jsonl on every hook fire
  lib/hooks/dispatch.py
  tests/test_hooks.py
Due: none

fix(build): wire the PKB MCP server for agy via the resolvable placeholder
  build/clients/agy.py
  plugins/pkb/manifest/mcp.template.json
  tests/test_build.py
Due: dprint

docs(doctrine): named-teammate spawns cannot carry a return contract
  lib/doctrine/delegation.md
Due: dprint

fix(hooks): use datetime.UTC alias in the hook-fire log timestamp
  lib/hooks/dispatch.py
Due: none

Revert "fix(build): wire the PKB MCP server for agy via the resolvable placeholder"
  build/clients/agy.py
  plugins/pkb/manifest/mcp.template.json
  tests/test_build.py
Due: dprint

agents: grant the MCP namespaces the services server actually registers
  plugins/aops/agents/james.md
  plugins/aops/agents/marsha.md
  plugins/aops/agents/rbg.md
  plugins/pkb/agents/pauli.md
Due: dprint

agents: grant ToolSearch so deferred MCP tools can resolve
  plugins/aops/agents/james.md
  plugins/aops/agents/marsha.md
  plugins/aops/agents/rbg.md
  plugins/pkb/agents/pauli.md
Due: dprint

pkb: load the services server's tools upfront so spawned agents can reach them
  plugins/pkb/manifest/mcp.template.json
Due: dprint

doctrine: state the teammate-spawn hazard as an invariant
  lib/doctrine/delegation.md
Due: dprint

Revert "pkb: load the services server's tools upfront so spawned agents can reach them"
  plugins/pkb/manifest/mcp.template.json
Due: dprint

agents: inherit the tool pool until the harness materializes allowlisted tools
  plugins/aops/agents/james.md
  plugins/aops/agents/marsha.md
  plugins/aops/agents/rbg.md
  plugins/pkb/agents/pauli.md
  specs/agents/agent-authority.md
  specs/enforcement/enforcement.md
Due: dprint

agents: fix pauli's malformed isolation value; document its residual MCP gap
  plugins/pkb/agents/pauli.md
  specs/agents/agent-authority.md
Due: dprint

Reapply "fix(build): wire the PKB MCP server for agy via the resolvable placeholder"
  build/clients/agy.py
  plugins/pkb/manifest/mcp.template.json
  tests/test_build.py
Due: dprint

build(agy): reconcile the reapplied pkb MCP fix with the shipped-config sweep
  plugins/pkb/README.md
  tests/test_shipped_hooks.py
Due: dprint
