Repository nicsuzor/academicOps: changes, and which pre-commit hooks are due for each by the changed paths.
All: dprint, check-framework-integrity

.pre-commit-config.yaml:

# Pre-commit hooks for academicOps framework governance
# See https://pre-commit.com for more info

repos:
  # Markdown/JSON/TOML validation (dprint - check-only, no auto-fix)
  # Ruff check --fix auto-fixes what it can; ruff-format checks formatting
  - repo: local
    hooks:
      - id: dprint
        name: dprint check
        entry: uv run dprint check
        language: system
        types_or: [markdown, json, toml]
        pass_filenames: true

  # Markdown linting (catches issues dprint doesn't fix)
  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.12.1
    hooks:
      - id: markdownlint-cli2
        exclude: '^archived/'

  # Standard hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: '\.excalidraw$'
      - id: end-of-file-fixer
        exclude: '\.excalidraw$'
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
        args: ['--maxkb=500']

  # Python linting (auto-fix enabled)
  # Ruff check --fix auto-fixes what it can; ruff-format checks formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.4
    hooks:
      - id: ruff
        args: [--fix]
        exclude: '^archived/'
      - id: ruff-format
        args: [--check]
        exclude: '^archived/'

  # Framework integrity checks (index wikilinks, skill entries, workflow length)
  # Consolidates check-workflow-length + new index integrity validation
  - repo: local
    hooks:
      - id: check-framework-integrity
        name: framework integrity check
        entry: uv run python scripts/check_framework_integrity.py
        language: system
        pass_filenames: false
        files: '(WORKFLOWS|SKILLS)\.md$|workflows/.*\.md$|skills/.*/SKILL\.md$|commands/.*\.md$'

  # Type checking and full framework health checks run in CI only
  # (see .github/workflows/framework-health.yml)
  #
  # Moved to CI:
  # - basedpyright: full type analysis too slow for every commit
  # - check-skill-line-count: whole-repo scan, not file-scoped
  # - check-orphan-files: whole-repo scan, not file-scoped
  # - check-framework-integrity --full: slow full codebase wikilink scan
  # - audit_framework_health: comprehensive audit

fix(rbg): remove obsolete shared axioms entry from plugin manifest
  plugins/rbg/manifest/plugin.toml
Due: dprint

add tests for handlers
  tests/test_pkb_handlers.py
Due: none

update containers
  Dockerfile
  lib/polecat/cli.py
  tests/polecat/test_container_invocation.py
  tests/polecat/test_container_smoke.py
Due: none

update plugin locations
  INSTALL.md
  plugins/aops/skills/hydrate/SKILL.md
  plugins/aops/skills/learn/SKILL.md
  plugins/aops/skills/tick/SKILL.md
  plugins/ida/hooks/handlers.py
  plugins/ida/hooks/premise_check_gate.py
  plugins/pkb/manifest/mcp.template.json
  plugins/pkb/skills/brief/SKILL.md
  plugins/pkb/skills/decompose/SKILL.md
  plugins/pkb/skills/pull/SKILL.md
  plugins/pkb/skills/workflow-create/SKILL.md
  plugins/pkb/skills/workflow-library/SKILL.md
  plugins/rbg/skills/axioms/SKILL.md
  tests/test_premise_check_gate.py
Due: dprint, check-framework-integrity

remove session end hook
  plugins/ts/hooks/session-end-sync.sh
  plugins/ts/manifest/hooks.template.json
  templates/cloud_setup.sh
Due: dprint

fix(build): stop patch-dev-mcp freezing PKB_MCP_URL into every dist
  build/install.py
  tests/test_install.py
Due: none

chore(dev): release 0.9.0
  .release-please-manifest.json
  CHANGELOG.md
  pyproject.toml
Due: dprint

refactor(skills): simplify workflow assembly and flatten QA template
  plugins/aops/templates/wf-qa.md
  plugins/pkb/skills/brief/SKILL.md
  plugins/pkb/skills/workflow-library/SKILL.md
Due: dprint, check-framework-integrity

chore(dev): release 0.9.0 (#2612)
  .release-please-manifest.json
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: dprint

chore(release): release 0.9.3
  .release-please-manifest.json
  CHANGELOG.md
  plugins/aops/hooks/handlers.py
  plugins/aops/manifest/hooks.template.json
  pyproject.toml
  tests/polecat/test_pc_agent_dispatch.py
  tests/test_build.py
  tests/test_ida_stop_gate_built.py
  tests/test_plugin_manifests.py
  tests/test_premise_check_gate.py
  tests/test_session_trace_scripts.py
  tests/test_stop_gates.py
  uv.lock
Due: dprint

chore(release): release 0.9.3 (#2613)
  .release-please-manifest.json
  CHANGELOG.md
  plugins/aops/hooks/handlers.py
  plugins/aops/manifest/hooks.template.json
  pyproject.toml
  tests/polecat/test_pc_agent_dispatch.py
  tests/test_build.py
  tests/test_ida_stop_gate_built.py
  tests/test_plugin_manifests.py
  tests/test_premise_check_gate.py
  tests/test_session_trace_scripts.py
  tests/test_stop_gates.py
  uv.lock
Due: dprint

cut down skill
  plugins/aops/skills/brief/SKILL.md
  plugins/aops/skills/workflow-library/SKILL.md
  plugins/aops/templates/wf-qa.md
Due: dprint, check-framework-integrity

remove adversary
  plugins/aops/agents/adversary.md
Due: dprint

move axioms
  lib/axioms/data-boundaries.md
  lib/axioms/durable-capture.md
  lib/axioms/governing-rules.md
  lib/axioms/probe-uncertainty.md
  lib/axioms/pull-over-push.md
  lib/axioms/synthesize-not-accrete.md
  plugins/ida/agents/ida.md
  plugins/rbg/skills/axioms/axioms/AXIOMS-REVIEW.md
  plugins/rbg/skills/axioms/axioms/README.md
  plugins/rbg/skills/axioms/axioms/bounded-execution.md
  plugins/rbg/skills/axioms/axioms/categorical-imperative.md
  plugins/rbg/skills/axioms/axioms/cite-sources.md
  plugins/rbg/skills/axioms/axioms/closure.md
  plugins/rbg/skills/axioms/axioms/costly-ops-approval.md
  plugins/rbg/skills/axioms/axioms/data-boundaries.md
  plugins/rbg/skills/axioms/axioms/delay-decisions.md
  plugins/rbg/skills/axioms/axioms/do-one-thing.md
  plugins/rbg/skills/axioms/axioms/durable-capture.md
  plugins/rbg/skills/axioms/axioms/evidence-immutable.md
  plugins/rbg/skills/axioms/axioms/excellence.md
  plugins/rbg/skills/axioms/axioms/exercise-authority.md
  plugins/rbg/skills/axioms/axioms/full-observability.md
  plugins/rbg/skills/axioms/axioms/governing-rules.md
  plugins/rbg/skills/axioms/axioms/halt-on-failure.md
  plugins/rbg/skills/axioms/axioms/honest-epistemics.md
  plugins/rbg/skills/axioms/axioms/judgment-non-delegable.md
  plugins/rbg/skills/axioms/axioms/launch-claim.md
  plugins/rbg/skills/axioms/axioms/one-way-door.md
  plugins/rbg/skills/axioms/axioms/probe-uncertainty.md
  plugins/rbg/skills/axioms/axioms/pull-over-push.md
  plugins/rbg/skills/axioms/axioms/single-source-of-truth.md
  plugins/rbg/skills/axioms/axioms/synthesize-not-accrete.md
Due: dprint

move strategize
  plugins/ida/skills/strategize/SKILL.md
Due: dprint, check-framework-integrity

test: delete test_skill_status_vocabulary asserting on skill content
  tests/test_skill_status_vocabulary.py
Due: none

feat(rbg,ts): condense axioms, agents, and hooks via craft
  plugins/rbg/README.md
  plugins/rbg/agents/rbg.md
  plugins/rbg/hooks/messages/classifier-prompt.md
  plugins/rbg/hooks/messages/evaluator-outage.md
  plugins/rbg/hooks/messages/evaluator-outage.user.md
  plugins/rbg/hooks/messages/rule-check.md
  plugins/rbg/hooks/messages/ruleset.md
  plugins/rbg/hooks/messages/verdict.md
  plugins/rbg/hooks/messages/verdict.user.md
  plugins/rbg/skills/axioms/axioms/AXIOMS-REVIEW.md
  plugins/rbg/skills/axioms/axioms/README.md
  plugins/rbg/skills/axioms/axioms/bounded-execution.md
  plugins/rbg/skills/axioms/axioms/categorical-imperative.md
  plugins/rbg/skills/axioms/axioms/cite-sources.md
  plugins/rbg/skills/axioms/axioms/closure.md
  plugins/rbg/skills/axioms/axioms/costly-ops-approval.md
  plugins/rbg/skills/axioms/axioms/data-boundaries.md
  plugins/rbg/skills/axioms/axioms/delay-decisions.md
  plugins/rbg/skills/axioms/axioms/do-one-thing.md
  plugins/rbg/skills/axioms/axioms/durable-capture.md
  plugins/rbg/skills/axioms/axioms/evidence-immutable.md
  plugins/rbg/skills/axioms/axioms/excellence.md
  plugins/rbg/skills/axioms/axioms/exercise-authority.md
  plugins/rbg/skills/axioms/axioms/full-observability.md
  plugins/rbg/skills/axioms/axioms/governing-rules.md
  plugins/rbg/skills/axioms/axioms/halt-on-failure.md
  plugins/rbg/skills/axioms/axioms/honest-epistemics.md
  plugins/rbg/skills/axioms/axioms/judgment-non-delegable.md
  plugins/rbg/skills/axioms/axioms/launch-claim.md
  plugins/rbg/skills/axioms/axioms/one-way-door.md
  plugins/rbg/skills/axioms/axioms/probe-uncertainty.md
  plugins/rbg/skills/axioms/axioms/pull-over-push.md
  plugins/rbg/skills/axioms/axioms/single-source-of-truth.md
  plugins/rbg/skills/axioms/axioms/synthesize-not-accrete.md
  plugins/ts/README.md
Due: dprint

feat(tools): radically reduce instructions and reference text across tools plugin
  plugins/tools/README.md
  plugins/tools/skills/analyst/SKILL.md
  plugins/tools/skills/analyst/instructions/experiment-logging.md
  plugins/tools/skills/analyst/instructions/exploratory-analysis.md
  plugins/tools/skills/analyst/instructions/methodology-files.md
  plugins/tools/skills/analyst/instructions/methods-vs-methodology.md
  plugins/tools/skills/analyst/instructions/research-documentation.md
  plugins/tools/skills/analyst/references/context-discovery.md
  plugins/tools/skills/dbt/SKILL.md
  plugins/tools/skills/deep-research/SKILL.md
  plugins/tools/skills/deep-research/procedures/pkb-capture.md
  plugins/tools/skills/deep-research/procedures/prompt-authoring.md
  plugins/tools/skills/diagram/SKILL.md
  plugins/tools/skills/extract/SKILL.md
  plugins/tools/skills/new-project/SKILL.md
  plugins/tools/skills/new-project/instructions/init.md
  plugins/tools/skills/pdf/SKILL.md
  plugins/tools/skills/peer-review/SKILL.md
  plugins/tools/skills/peer-review/references/external-feedback.md
  plugins/tools/skills/peer-review/references/platform-instructions.md
  plugins/tools/skills/peer-review/references/probes.md
  plugins/tools/skills/peer-review/references/reading-notes-format.md
  plugins/tools/skills/peer-review/references/review-guidance.md
  plugins/tools/skills/peer-review/references/review-template.md
  plugins/tools/skills/peer-review/references/reviewer-roles.md
  plugins/tools/skills/peer-review/references/verification.md
  plugins/tools/skills/peer-review/references/voice-and-detemplating.md
  plugins/tools/skills/python-viz/SKILL.md
  plugins/tools/skills/streamlit/SKILL.md
  plugins/tools/skills/style/SKILL.md
Due: dprint, check-framework-integrity

feat(aops): slash extraneous text across skills, agents, and templates via /craft
  plugins/aops/README.md
  plugins/aops/agents/james.md
  plugins/aops/agents/marsha.md
  plugins/aops/agents/sara.md
  plugins/aops/hooks/messages/hearsay.md
  plugins/aops/hooks/messages/honesty.md
  plugins/aops/skills/agy/SKILL.md
  plugins/aops/skills/brief/SKILL.md
  plugins/aops/skills/craft/SKILL.md
  plugins/aops/skills/craft/references/evidence.md
  plugins/aops/skills/decompose/SKILL.md
  plugins/aops/skills/dump/SKILL.md
  plugins/aops/skills/polecat/SKILL.md
  plugins/aops/skills/pull/SKILL.md
  plugins/aops/skills/session-trace/SKILL.md
  plugins/aops/skills/strategic-review/SKILL.md
  plugins/aops/skills/verify/SKILL.md
  plugins/aops/skills/workflow-create/SKILL.md
  plugins/aops/skills/workflow-library/SKILL.md
  plugins/aops/templates/wf-fact-check.md
  plugins/aops/templates/wf-qa-visual.md
  plugins/aops/templates/wf-qa.md
  plugins/aops/templates/wf-signoff.md
  plugins/aops/templates/wf-structural-map.md
  plugins/aops/templates/wf-tdd.md
Due: dprint, check-framework-integrity

feat(ida,pkb): streamline agents and skills to craft standard
  plugins/ida/README.md
  plugins/ida/agents/ida.md
  plugins/ida/skills/premise-check/SKILL.md
  plugins/ida/skills/strategize/SKILL.md
  plugins/pkb/README.md
  plugins/pkb/agents/pauli.md
  plugins/pkb/hooks/messages/honesty.md
  plugins/pkb/skills/hydrate/SKILL.md
  plugins/pkb/skills/learn/SKILL.md
  plugins/pkb/skills/q/SKILL.md
  plugins/pkb/skills/reconcile/SKILL.md
  plugins/pkb/skills/remember/SKILL.md
  plugins/pkb/skills/remember/references/consolidation.md
  plugins/pkb/skills/remember/references/quality.md
  plugins/pkb/skills/tick/SKILL.md
Due: dprint, check-framework-integrity

update plugin locations
  INSTALL.md
  plugins/aops/skills/hydrate/SKILL.md
  plugins/aops/skills/learn/SKILL.md
  plugins/aops/skills/tick/SKILL.md
  plugins/ida/hooks/handlers.py
  plugins/ida/hooks/premise_check_gate.py
  plugins/pkb/manifest/mcp.template.json
  plugins/pkb/skills/brief/SKILL.md
  plugins/pkb/skills/decompose/SKILL.md
  plugins/pkb/skills/pull/SKILL.md
  plugins/pkb/skills/workflow-create/SKILL.md
  plugins/pkb/skills/workflow-library/SKILL.md
  plugins/rbg/skills/axioms/SKILL.md
Due: dprint, check-framework-integrity

fix(polecat): do not inject mcpServers into staged user settings
  lib/polecat/cli.py
  tests/polecat/test_setup_staging.py
Due: none

fix(readme): correct spelling inconsistency (containerised -> containerized)
  README.md
Due: dprint

docs(readme): replace title with hello
  README.md
Due: dprint

Revert "docs(readme): replace title with hello"
  README.md
Due: dprint

Revert "fix(readme): correct spelling inconsistency (containerised -> containerized)"
  README.md
Due: dprint

feat(ida): constrain permissions and enforce citation verification
  build/tools.py
  plugins/ida/agents/ida.md
  plugins/ida/hooks/citation_enforcement.py
  plugins/ida/hooks/handlers.py
  plugins/ida/hooks/scratchpad_gate.py
  plugins/ida/manifest/hooks.template.json
  plugins/pkb/hooks/handlers.py
  tests/test_ida_permissions.py
Due: dprint

fix(ida): unregister SubagentStop from ida handlers to scope citation gate to face
  plugins/ida/hooks/handlers.py
Due: none

Rebuild Ida as a naive surface
  plugins/ida/agents/ida.md
  plugins/ida/skills/premise-check/SKILL.md
  plugins/ida/skills/strategize/SKILL.md
Due: dprint, check-framework-integrity

feat(polecat): launch polecats with --agent james instead of ida
  lib/polecat/cli.py
  tests/polecat/test_container_invocation.py
Due: none

chore: stop .claude/* hiding agent definitions and setup.sh
  .claude/setup.sh
  .gitignore
Due: none

chore: delete the rex agent
  .claude/agents/rex.md
Due: dprint

fix(polecat): seed /pkb:pull, not /aops:pull, in container launch
  lib/polecat/cli.py
  lib/polecat/entrypoint.sh
  tests/polecat/test_detached_mode.py
  tests/polecat/test_entrypoint_seed_construction.py
  tests/polecat/test_run_record.py
  tests/polecat/test_task_headless.py
Due: none

fix: drop services-http from pkb template and require -i for agy prompt-interactive
  lib/polecat/cli.py
  plugins/pkb/manifest/mcp.template.json
  tests/polecat/test_task_headless.py
  tests/test_build.py
Due: dprint
