Repository nicsuzor/academicOps: changes, and which pre-commit hooks are due for each by the changed paths.
All: dprint, check-framework-integrity

.pre-commit-config.yaml:

# Pre-commit hooks for academicOps framework governance
# See https://pre-commit.com for more info

repos:
  # Markdown/JSON/TOML validation (dprint - check-only, no auto-fix)
  # Ruff check --fix auto-fixes what it can; ruff-format checks formatting
  - repo: local
    hooks:
      - id: dprint
        name: dprint check
        entry: uv run dprint check
        language: system
        types_or: [markdown, json, toml]
        pass_filenames: true

  # Markdown linting (catches issues dprint doesn't fix)
  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.12.1
    hooks:
      - id: markdownlint-cli2
        exclude: '^archived/'

  # Standard hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: '\.excalidraw$'
      - id: end-of-file-fixer
        exclude: '\.excalidraw$'
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
        args: ['--maxkb=500']

  # Python linting (auto-fix enabled)
  # Ruff check --fix auto-fixes what it can; ruff-format checks formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.4
    hooks:
      - id: ruff
        args: [--fix]
        exclude: '^archived/'
      - id: ruff-format
        args: [--check]
        exclude: '^archived/'

  # Framework integrity checks (index wikilinks, skill entries, workflow length)
  # Consolidates check-workflow-length + new index integrity validation
  - repo: local
    hooks:
      - id: check-framework-integrity
        name: framework integrity check
        entry: uv run python scripts/check_framework_integrity.py
        language: system
        pass_filenames: false
        files: '(WORKFLOWS|SKILLS)\.md$|workflows/.*\.md$|skills/.*/SKILL\.md$|commands/.*\.md$'

  # Type checking and full framework health checks run in CI only
  # (see .github/workflows/framework-health.yml)
  #
  # Moved to CI:
  # - basedpyright: full type analysis too slow for every commit
  # - check-skill-line-count: whole-repo scan, not file-scoped
  # - check-orphan-files: whole-repo scan, not file-scoped
  # - check-framework-integrity --full: slow full codebase wikilink scan
  # - audit_framework_health: comprehensive audit

feat(orchestrate): add session id, datetime+tz, host, cwd to SessionStart hook
  plugins/orchestrate/hooks/handlers.py
  tests/test_hooks.py
Due: none

docs(specs): record q's allowed-tools row in the enforcement register
  specs/ENFORCEMENT-MAP.md
Due: dprint

docs(core): require a live-client field test, owned by marsha, for every plugin change
  .agents/CORE.md
  specs/ENFORCEMENT-MAP.md
Due: dprint

fix(agents): restore allowedTools, disallowedTools, and permissionMode in agent frontmatter
  plugins/ida/agents/ida.md
  plugins/orchestrate/agents/agy.claude.md
  plugins/orchestrate/agents/pc.md
Due: dprint

docs(specs): document allowedTools/hooks/memory/initialPrompt as valid agent frontmatter
  specs/agents/agent-authority.md
Due: dprint

fix(pc): add pc to bashScopes to match allowedTools Bash(pc *)
  plugins/orchestrate/agents/pc.md
Due: dprint

fix(polecat): keep credential values off the docker command line
  lib/polecat/cli.py
  lib/polecat/env_contract.py
  specs/polecat/polecat-system.md
  tests/polecat/test_container_config.py
  tests/polecat/test_container_invocation.py
Due: dprint

polecat: one-line dispatch completion notification
  lib/polecat/cli.py
  lib/polecat/notify.py
  tests/polecat/test_notify.py
Due: none

polecat: set a DiscordBot User-Agent and mute the post in tests
  lib/polecat/notify.py
  tests/conftest.py
Due: none

fix(polecat): stop the new tests leaking real credentials, require run_env
  lib/polecat/cli.py
  tests/polecat/conftest.py
  tests/polecat/test_container_invocation.py
Due: none

polecat: ship notify.py in the plugin, and trim the notification
  lib/polecat/cli.py
  lib/polecat/notify.py
  plugins/orchestrate/manifest/plugin.toml
  tests/polecat/test_notify.py
  tests/test_build.py
Due: dprint

dispatch instructions
  plugins/ida/agents/ida.md
  plugins/orchestrate/agents/james.md
Due: dprint

add listagent too
  plugins/ida/agents/ida.md
Due: dprint

feat(polecat): set CLAUDE_CODE_ENABLE_TODO_TOOLS=1 in containers
  lib/polecat/env_contract.py
Due: none

docs(james): make agent naming an obligation, not advice
  plugins/orchestrate/agents/james.md
Due: dprint

fix(build): add ListAgents to the tool_map vocabulary
  build/tool_map.toml
Due: dprint

ci: run PR Pipeline for pull requests based on agenttools
  .github/workflows/pr-pipeline.yml
Due: none

update ida delegation instructions
  plugins/ida/agents/ida.md
  plugins/orchestrate/agents/james.md
Due: dprint

add aversarial review
  plugins/ida/agents/ida.md
  plugins/orchestrate/agents/adversary.md
  plugins/orchestrate/agents/james.md
Due: dprint

chore(dev): release 0.7.3
  .release-please-manifest.json
  CHANGELOG.md
  pyproject.toml
Due: dprint

remove dupe plugins
  plugins.disabled/skills/remember/SKILL.md
  plugins.disabled/skills/remember/references/detail-level-guide.md
  plugins.disabled/skills/remember/references/obsidian-format-spec.md
  plugins.disabled/skills/remember/workflows/capture.md
  plugins.disabled/skills/remember/workflows/prune.md
  plugins.disabled/skills/remember/workflows/validate.md
  plugins.disabled/specs/session-start-injection.md
  plugins.disabled/workflows/audit.md
  plugins.disabled/workflows/base-batch.md
  plugins.disabled/workflows/base-investigation.md
  plugins.disabled/workflows/base-task-tracking.md
  plugins.disabled/workflows/base-tdd.md
  plugins.disabled/workflows/email-capture.md
  plugins.disabled/workflows/email-reply.md
  plugins.disabled/workflows/email-triage.md
  plugins.disabled/workflows/external-batch-submission.md
  plugins.disabled/workflows/feature-dev.md
  plugins.disabled/workflows/framework-gate.md
  plugins.disabled/workflows/interactive-followup.md
  plugins.disabled/workflows/reference-letter.md
  plugins.disabled/workflows/simple-question.md
  plugins.disabled/workflows/worktree-merge.md
Due: dprint, check-framework-integrity

removed confusing 'hold until complete' instruction
  plugins/ida/agents/ida.md
Due: dprint

improve memory instructions, force pauli
  plugins/ida/agents/ida.md
  plugins/orchestrate/agents/james.md
  plugins/pkb/agents/pauli.md
  plugins/pkb/skills/brief/SKILL.md
  plugins/pkb/skills/remember/SKILL.md
  specs/ENFORCEMENT-MAP.md
  specs/workflows/template-library.md
Due: dprint, check-framework-integrity

otel vars
  .env
Due: none

rename .env to .envrc
  .envrc
Due: none

add skills missing
  plugins/pkb/agents/pauli.md
Due: dprint

fix otel hooks
  plugins/orchestrate/hooks/claude_code_tracer.py
  plugins/orchestrate/hooks/handlers.py
  plugins/rbg/hooks/evaluator_otel_trace.py
  tests/test_telemetry_otel_e2e.py
Due: none

Instrument agy otel logging and refactor trace core
  lib/hooks/dispatch.py
  plugins/orchestrate/hooks/agy_tracer.py
  plugins/orchestrate/hooks/claude_code_tracer.py
  plugins/orchestrate/hooks/handlers.py
  plugins/orchestrate/hooks/otel_tracer_core.py
  plugins/orchestrate/manifest/hooks.template.json
  plugins/orchestrate/pyproject.toml
  tests/test_build.py
  tests/test_hooks.py
  tests/test_shipped_hooks.py
Due: dprint

Update test to reflect fail-loud semantics
  tests/test_cope.py
Due: none

remove explicit tools, add disallowed tools
  plugins/pkb/agents/pauli.md
Due: dprint

revert pauli
  plugins/pkb/agents/pauli.md
Due: dprint

Consolidate pyproject.toml template and add missing OTel dependencies
  plugins/orchestrate/pyproject.toml
  plugins/rbg/pyproject.toml
  templates/plugin/pyproject.template.toml
Due: dprint

remove fallbacks
  plugins/orchestrate/hooks/claude_code_tracer.py
  plugins/orchestrate/hooks/otel_tracer_core.py
Due: none

fix(orchestrate): make OTel tracer hooks harness-agnostic, fix agy_tracer.discover_config
  plugins/orchestrate/hooks/agy_tracer.py
  plugins/orchestrate/hooks/handlers.py
Due: none

fix(refs): repoint stale plugins/rbg/pyproject.toml references
  pyproject.toml
  specs/ARCHITECTURE.md
Due: dprint

fix(orchestrate): guard agy_stop to the genuine end-of-turn payload
  plugins/orchestrate/hooks/handlers.py
Due: none

fix(orchestrate): delete dead otel_tracer_core.py
  otel.txt
  patch.diff
  plugins/orchestrate/hooks/otel_tracer_core.py
  tests/test_cope.py.orig
Due: none

fix: untrack otel.txt, patch.diff, tests/test_cope.py.orig
  otel.txt
  patch.diff
  tests/test_cope.py.orig
Due: none

feat(scripts): add aops-trace, a Phoenix session-to-trace span dumper
  pyproject.toml
  scripts/phoenix_trace.py
Due: dprint
