Repository nicsuzor/academicOps: changes, and which pre-commit hooks are due for each by the changed paths.
All: dprint, check-framework-integrity

dprint:
  name: dprint check
  entry: uv run dprint check
  language: system
  pass_filenames: true

check-framework-integrity:
  name: framework integrity check
  entry: uv run python scripts/check_framework_integrity.py
  language: system
  pass_filenames: false

junior.md: add "Trust the loop" instruction + allow supervisor dispatch (#1126)
  aops-core/agents/junior.md
Due: dprint

docs: codify drive-by fix policy in SSoT (#1135)
  .agents/CORE.md
  aops-core/skills/supervisor/SKILL.md
Due: dprint, check-framework-integrity

Dogfood SKILL.md: add Phase 0 verification of subagent verdicts before propagation (#1134)
  aops-core/commands/trend-review.md
  aops-core/skills/dogfood/SKILL.md
Due: dprint, check-framework-integrity

fix(framework): enforce intent+AC authoring convention for task bodies (#1133)
  aops-core/skills/planner/SKILL.md
  aops-core/skills/planner/workflows/decompose.md
  aops-core/skills/supervisor/instructions/worker-dispatch.md
  polecat/prompt_template.py
Due: dprint, check-framework-integrity

docs(verify): add Completeness-Verification Heuristic (#1132)
  aops-core/skills/verify/SKILL.md
Due: dprint, check-framework-integrity

feat(daily): codify PR triage dashboard process
  aops-core/skills/daily/SKILL.md
  aops-core/skills/daily/instructions/pr-triage-dashboard.md
  aops-core/skills/daily/references/note-template.md
Due: dprint, check-framework-integrity

fix(junior): reinforce anti-FM-1 instructions against 'Should I' tic (#1131)
  aops-core/agents/junior.md
Due: dprint

feat(end_session): update closing behaviors and resolve contradictions (#1127)
  aops-core/skills/end_session/SKILL.md
Due: dprint, check-framework-integrity

Refactor /aops skill lifecycle to trust-based loop (#1104)
  aops-core/skills/aops/SKILL.md
  polecat/cli.py
  polecat/finalize.py
  pyproject.toml
  uv.lock
Due: dprint, check-framework-integrity

Split design-time rubric (pauli) from QA-time verification (marsha)
  aops-core/skills/design-rubric/SKILL.md
  aops-core/skills/planner/SKILL.md
  aops-core/skills/supervisor/SKILL.md
  aops-core/skills/verify/SKILL.md
  aops-core/skills/verify/references/qualitative-assessment.md
  aops-core/skills/verify/references/visual-analysis.md
Due: dprint, check-framework-integrity

ci: capture reviewer agent transcripts (#1108)
  .github/workflows/agent-enforcer.yml
  .github/workflows/agent-merge-prep.yml
  .github/workflows/claude.yml
Due: none

fix(transcript): use local timezone for transcript session dates (#1098)
  aops-core/scripts/transcript.py
Due: none

fix: Deduplicate framework reflections across session continuations (#1097)
  aops-core/scripts/transcript.py
Due: none

Update decompose workflow to integrate review profile registry (#1096)
  aops-core/skills/planner/workflows/decompose.md
Due: dprint, check-framework-integrity

docs: formalize policy on local sleep cycle auto-commits (#1095)
  aops-core/skills/remember/references/maintenance-phases.md
Due: dprint

feat(polecat): add --max-turns CLI passthrough for deterministic budget-exhaustion testing (#1094)
  polecat/cli.py
  tests/polecat/test_compute_max_turns.py
  tests/polecat/test_transcript_persistence_e2e.py
Due: none

do your job
  aops-core/AXIOMS.md
Due: dprint

fix(framework): unify trust-the-worker authoring discipline
  aops-core/skills/aops/references/authoring-discipline.md
  aops-core/skills/planner/SKILL.md
  aops-core/skills/planner/workflows/decompose.md
  aops-core/skills/remember/references/maintenance-phases.md
  aops-core/skills/supervisor/SKILL.md
  aops-core/skills/supervisor/instructions/worker-dispatch.md
  aops-core/skills/survey/SKILL.md
Due: dprint, check-framework-integrity

feat(daily): codify PR triage dashboard process (#1136)
  aops-core/skills/daily/SKILL.md
  aops-core/skills/daily/instructions/pr-triage-dashboard.md
  aops-core/skills/daily/references/note-template.md
Due: dprint, check-framework-integrity

fix(planner): drop botched edit-tool trailing fragment
  aops-core/skills/planner/SKILL.md
Due: dprint, check-framework-integrity

fix(survey): tighten retro bump-comment guidance — delta only, no restatement
  aops-core/skills/survey/SKILL.md
Due: dprint, check-framework-integrity

fix(survey): tighten retro bump-comment guidance — delta only, no restatement (#1088)
  aops-core/hooks/gate_config.py
  aops-core/hooks/internal_models.py
  aops-core/skills/survey/SKILL.md
Due: dprint, check-framework-integrity

docs: propagate completeness-verification heuristic to callsites
  aops-core/agents/james.md
  aops-core/agents/marsha.md
  aops-core/skills/planner/SKILL.md
  aops-core/skills/remember/references/maintenance-phases.md
  aops-core/skills/supervisor/instructions/supervision-loop.md
  aops-core/skills/verify/SKILL.md
Due: dprint, check-framework-integrity

fix: address untriaged review feedback from PR batch (#1098, #1096)
  aops-core/lib/transcript_parser.py
  aops-core/scripts/transcript.py
  aops-core/skills/planner/SKILL.md
  aops-core/skills/planner/workflows/decompose.md
  aops-core/skills/remember/references/maintenance-phases.md
Due: dprint, check-framework-integrity

Fix: restore mcp__pkb__complete_task and drop maintenance-phases.md churn
  aops-core/agents/james.md
Due: dprint

fix: resolve merge-prep workflow errors blocking PRs
  .github/agents/merge-prep.agent.md
  .github/workflows/merge-prep-cron.yml
Due: dprint

Propagate completeness-verification heuristic to callsites (#1139)
  aops-core/agents/james.md
  aops-core/agents/marsha.md
  aops-core/skills/planner/SKILL.md
  aops-core/skills/remember/references/maintenance-phases.md
  aops-core/skills/supervisor/instructions/supervision-loop.md
  aops-core/skills/verify/SKILL.md
Due: dprint, check-framework-integrity

fix(framework): unify trust-the-worker authoring discipline (#1138)
  aops-core/skills/aops/references/authoring-discipline.md
  aops-core/skills/planner/SKILL.md
  aops-core/skills/planner/workflows/decompose.md
  aops-core/skills/supervisor/SKILL.md
  aops-core/skills/supervisor/instructions/worker-dispatch.md
  aops-core/skills/survey/SKILL.md
Due: dprint, check-framework-integrity

fix: address untriaged review feedback from PR batch (#1098, #1096) (#1140)
  aops-core/lib/transcript_parser.py
  aops-core/scripts/transcript.py
  aops-core/skills/planner/SKILL.md
  aops-core/skills/planner/workflows/decompose.md
  aops-core/skills/remember/references/maintenance-phases.md
Due: dprint, check-framework-integrity

fix: resolve merge-prep workflow errors blocking PRs (#1141)
  .github/agents/merge-prep.agent.md
  .github/workflows/merge-prep-cron.yml
Due: dprint

fix(#1128): add CI guard against Gemini-form tool names escaping into source
  .pre-commit-config.yaml
  scripts/audit_agent_compliance.py
  scripts/check_gemini_tool_names.py
  tests/test_gemini_name_corruption.py
Due: none

fix(#1128): auto-heal Gemini-form MCP tool names at commit time
  .github/workflows/lint.yml
  .pre-commit-config.yaml
  scripts/normalize_mcp_names.py
Due: none

docs(enforcement-map): register normalize-mcp-names hook (P#65)
  .agents/ENFORCEMENT-MAP.md
Due: dprint

feat(instruction): mandate point-of-discovery friction filing via /learn (#1103)
  .agents/CORE.md
  .agents/ENFORCEMENT-MAP.md
  aops-core/skills/aops/SKILL.md
  aops-core/skills/end_session/SKILL.md
Due: dprint, check-framework-integrity

fix(#1128): CI guard against Gemini-form tool names escaping into source (#1142)
  .pre-commit-config.yaml
  scripts/audit_agent_compliance.py
  scripts/check_gemini_tool_names.py
  tests/test_gemini_name_corruption.py
Due: none

feat: Gemini polecat auth validation — fail-fast in crew containers when credentials are missing (#1106)
  polecat/bootstrap.py
  polecat/cli.py
  polecat/swarm.py
Due: none

refactor(survey): simplify retro mode and remove rigid checklists (#1101)
  aops-core/skills/survey/SKILL.md
Due: dprint, check-framework-integrity

docs: document transcript naming convention and discovery (#1107)
  .agents/CAPABILITIES.md
  .agents/CORE.md
  .agents/context-map.json
Due: dprint

feat(supervisor): add RBG axiom-check trigger to pauli preflight (#1105)
  aops-core/skills/supervisor/SKILL.md
Due: dprint, check-framework-integrity

Update scripts/normalize_mcp_names.py
  scripts/normalize_mcp_names.py
Due: none

Path conditions:
  dprint: any of: \.(md|markdown|mdown)$, \.json$, \.toml$
  check-framework-integrity: any of: (WORKFLOWS|SKILLS)\.md$|workflows/.*\.md$|skills/.*/SKILL\.md$|commands/.*\.md$
