Repository nicsuzor/academicOps: changes, and which pre-commit hooks are due for each by the changed paths.
All: dprint, check-framework-integrity

.pre-commit-config.yaml:

# Pre-commit hooks for academicOps framework governance
# See https://pre-commit.com for more info

repos:
  # Markdown/JSON/TOML validation (dprint - check-only, no auto-fix)
  # Ruff check --fix auto-fixes what it can; ruff-format checks formatting
  - repo: local
    hooks:
      - id: dprint
        name: dprint check
        entry: uv run dprint check
        language: system
        types_or: [markdown, json, toml]
        pass_filenames: true

  # Markdown linting (catches issues dprint doesn't fix)
  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.12.1
    hooks:
      - id: markdownlint-cli2
        exclude: '^archived/'

  # Standard hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: '\.excalidraw$'
      - id: end-of-file-fixer
        exclude: '\.excalidraw$'
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
        args: ['--maxkb=500']

  # Python linting (auto-fix enabled)
  # Ruff check --fix auto-fixes what it can; ruff-format checks formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.4
    hooks:
      - id: ruff
        args: [--fix]
        exclude: '^archived/'
      - id: ruff-format
        args: [--check]
        exclude: '^archived/'

  # Framework integrity checks (index wikilinks, skill entries, workflow length)
  # Consolidates check-workflow-length + new index integrity validation
  - repo: local
    hooks:
      - id: check-framework-integrity
        name: framework integrity check
        entry: uv run python scripts/check_framework_integrity.py
        language: system
        pass_filenames: false
        files: '(WORKFLOWS|SKILLS)\.md$|workflows/.*\.md$|skills/.*/SKILL\.md$|commands/.*\.md$'

  # Type checking and full framework health checks run in CI only
  # (see .github/workflows/framework-health.yml)
  #
  # Moved to CI:
  # - basedpyright: full type analysis too slow for every commit
  # - check-skill-line-count: whole-repo scan, not file-scoped
  # - check-orphan-files: whole-repo scan, not file-scoped
  # - check-framework-integrity --full: slow full codebase wikilink scan
  # - audit_framework_health: comprehensive audit

fix(daily): Today's Log must be reconstructed from primary sources (#1952) (#1956)
  aops-core/skills/daily/SKILL.md
  aops-core/skills/daily/references/note-template.md
Due: dprint, check-framework-integrity

docs(hooks): spec for table-driven client-translation SSoT + live conformance harness
  specs/hooks/CLIENT-TRANSLATION.md
Due: dprint

feat(hooks): client_spec.py — SSoT Table 1 (event maps + channel capability)
  aops-core/hooks/client_spec.py
  tests/hooks/test_client_spec.py
Due: none

feat(hooks): live headless conformance harness (Test Layer B) + Claude baseline
  pyproject.toml
  scripts/verify_hook_formats.py
  tests/hooks/fixtures/client_capabilities.json
  tests/hooks/test_live_conformance.py
Due: dprint

refactor(build): delete dead parallel build system (generate.py/manifest.py/transforms registry)
  scripts/check_no_fallbacks_baseline.json
  scripts/generate.py
  scripts/lib/build_utils.py
  scripts/manifest.py
  scripts/transforms/__init__.py
  scripts/transforms/agent_schema.py
  scripts/transforms/hooks.py
  scripts/transforms/tool_translation.py
Due: dprint

fix(hooks): persistent-deny conformance harness + honest deny baseline; ENFORCEMENT-MAP row
  scripts/verify_hook_formats.py
  specs/ENFORCEMENT-MAP.md
  tests/hooks/fixtures/client_capabilities.json
Due: dprint

feat(hooks): P1b tool_registry SSoT — fix agy runtime tool recognition
  aops-core/lib/tool_categories.py
  aops-core/lib/tool_registry.py
  tests/hooks/test_ida_denyreason_1798.py
  tests/hooks/test_tool_registry.py
Due: none

refactor(hooks): P2a — router event map reads client_spec SSoT; remove deferred facades
  aops-core/hooks/gate_config.py
  aops-core/hooks/internal_models.py
  aops-core/hooks/router.py
  aops-core/hooks/schemas.py
  aops-core/hooks/session_env_setup.py
  aops-core/hooks/unified_logger.py
  tests/hooks/gate_helpers.py
  tests/hooks/test_client_spec.py
  tests/hooks/test_custodiet_cluster.py
  tests/hooks/test_gate_config.py
  tests/hooks/test_gate_context_injection.py
  tests/hooks/test_gate_hygiene_engine.py
  tests/hooks/test_gate_replay.py
  tests/hooks/test_handover_gate_latch.py
  tests/hooks/test_handover_gate_regression.py
  tests/hooks/test_hook_logger.py
  tests/hooks/test_ida_denyreason_1798.py
  tests/hooks/test_normalize_input_regression.py
  tests/hooks/test_qa_gate_close_trigger.py
  tests/hooks/test_sentinel_gate.py
  tests/hooks/test_session_env_setup.py
  tests/hooks/test_sticky_until.py
  tests/hooks/test_subagent_gate_dispatch_regression.py
  tests/hooks/test_universal_router.py
  tests/integration/test_credential_isolation.py
  tests/lib/test_enforcer_countdown.py
  tests/lib/test_gate_secret_scrubbing.py
  tests/test_session_start.py
  tests/test_subagent_gates.py
Due: none

refactor(build): P3a — build reads client_spec SSoT for event maps
  scripts/build.py
  tests/hooks/test_client_spec.py
Due: none

refactor(build): P3b — build reads tool_registry SSoT for tool-name projection
  aops-core/lib/tool_registry.py
  scripts/build.py
  tests/hooks/test_tool_registry.py
Due: none

feat(aops-ts): add opt-in Tailscale bring-up plugin
  aops-core/BUILD.md
  aops-ts/README.md
  aops-ts/hooks/hooks.json
  aops-ts/hooks/tailscale-up.sh
  scripts/build.py
  templates/aops-ts.plugin.json
  templates/marketplace.json
Due: dprint

fix(hooks): P4(c) — retire Claude Stop WARN→block-to-deliver (invariant B), renderer reads channel_spec
  aops-core/hooks/router.py
  aops-core/hooks/schemas.py
  tests/hooks/test_custodiet_cluster.py
  tests/hooks/test_message_path_leak_coverage.py
  tests/hooks/test_output_channel_routing.py
  tests/hooks/test_schema_conformance.py
Due: none

fix(hooks): P4 — harness agy unauth detector was a false positive suppressing behavioral signals
  scripts/verify_hook_formats.py
Due: none

fix(aops-ts): harden tailscale hook for non-root sessions
  aops-ts/hooks/tailscale-up.sh
Due: none

test(hooks): P5 — cross-client router conformance matrix
  tests/hooks/test_cross_client_matrix.py
Due: none

docs(specs): P5 — ENFORCEMENT-MAP row for client-translation SSoT
  specs/ENFORCEMENT-MAP.md
Due: dprint

chore(hooks): P5 — remove redundant AOPS_RUN_LIVE_HOOKS env gate
  pyproject.toml
  tests/hooks/test_live_conformance.py
Due: dprint

test(hooks): P5 — version-agnostic the #1798 agy docstrings
  tests/hooks/test_ida_denyreason_1798.py
Due: none

chore(hooks): P5 — harness streaming progress log + sane timeouts
  scripts/verify_hook_formats.py
  tests/hooks/test_live_conformance.py
Due: none

feat(aops-ts): add opt-in Tailscale bring-up plugin (#1977)
  aops-core/BUILD.md
  aops-ts/README.md
  aops-ts/hooks/hooks.json
  aops-ts/hooks/tailscale-up.sh
  scripts/build.py
  templates/aops-ts.plugin.json
  templates/marketplace.json
Due: dprint

docs(specs): hook message audience/persistence/template matrix — per client
  specs/ENFORCEMENT-MAP.md
  specs/hooks/CLIENT-TRANSLATION.md
Due: dprint

feat(aops-ts): add SessionEnd hook to sync transcripts over the tailnet
  aops-core/BUILD.md
  aops-ts/README.md
  aops-ts/hooks/hooks.json
  aops-ts/hooks/session-end-sync.sh
  scripts/build.py
Due: dprint

fix(aops-ts): harden session-end-sync per review
  aops-ts/hooks/session-end-sync.sh
Due: none

feat(hooks): live harness measures user_saw + persisted; add agy inject/systemMessage cells
  scripts/verify_hook_formats.py
Due: none

test(hooks): parameterized live proof — table cell == measured user_saw/agent_saw/persisted/blocked
  tests/hooks/test_live_conformance.py
Due: none

fix(hooks): agy 1.0.12 ignores synthetic probe hooks — measure real-plugin channels, honest-skip the rest
  scripts/verify_hook_formats.py
  tests/hooks/test_live_conformance.py
Due: none

fix: verify hooks
  scripts/verify_hook_formats.py
Due: none

feat(ida): elevate Ida to full interactive academic-research agent
  aops-core/agents/academic-disposition.md
  aops-core/agents/ida.md
  aops-core/hooks/templates/ida-interactive-reminder.md
  aops-core/lib/gates/definitions.py
  aops-core/lib/template_registry.py
  aops-tools/skills/analyst/SKILL.md
  tests/hooks/test_ida_interactive_handback.py
Due: dprint, check-framework-integrity

docs+test(hooks): finalize live-proven audience/persistence cells + regen baseline
  aops-core/hooks/client_spec.py
  scripts/verify_hook_formats.py
  specs/hooks/CLIENT-TRANSLATION.md
  tests/hooks/fixtures/client_capabilities.json
  tests/hooks/test_live_conformance.py
Due: dprint

docs(hooks): note marked-Stop user_saw is non-deterministic (confirms record-not-assert)
  scripts/verify_hook_formats.py
Due: none

feat(gates/ida): AskUserQuestion mid-turn blocker challenge (aops-5c01b2a9)
  aops-core/hooks/templates/ida-askuserquestion-reminder.md
  aops-core/hooks/templates/ida-reminder.md
  aops-core/hooks/templates/pkb-nudge.md
  aops-core/lib/gates/custom_conditions.py
  aops-core/lib/gates/definitions.py
  aops-core/lib/template_registry.py
  tests/hooks/test_ida_askuserquestion_gate.py
Due: dprint

update instructions
  aops-core/hooks/templates/enforcer-audit.md
  aops-core/hooks/templates/enforcer-instruction.md
  aops-core/hooks/templates/enforcer-policy-context.md
  aops-core/hooks/templates/ida-askuserquestion-reminder.md
  aops-core/hooks/templates/ida-reminder.md
  aops-core/hooks/templates/qa-context.md
  aops-core/hooks/templates/rbg-review-context.md
Due: dprint

separate handover, honesty, and summary remindrs
  aops-core/hooks/templates/ida-reminder.md
  aops-core/hooks/templates/stop-gate-handover-block.md
Due: dprint

fix(aops-core): supply PKB_MCP_URL via plugin userConfig on Claude
  aops-core/mcp.json.template
  aops-core/scripts/run-mcp.sh
  scripts/build.py
  templates/aops-core.plugin.json
Due: dprint

reword q reminder
  aops-core/hooks/templates/ida-askuserquestion-reminder.md
Due: dprint

docs(specs): canonical interactive co-working spec (mem-438429c5)
  specs/INDEX.md
  specs/agents/interactive-coworking.md
Due: dprint

feat(aops-ts): SessionEnd hook to sync session transcripts over the tailnet (#1983)
  aops-core/BUILD.md
  aops-ts/README.md
  aops-ts/hooks/hooks.json
  aops-ts/hooks/session-end-sync.sh
  scripts/build.py
Due: dprint

fix(pkb): supply PKB_MCP_URL via config variable in polecat containers; drop ~/.env.local fallback
  aops-core/scripts/run-mcp.sh
  polecat/entrypoint.sh
  templates/aops-core.plugin.json
Due: dprint

feat(hooks): polecat-vs-interactive posture axis + finish handover/honesty split wiring (aops-60ef191d)
  aops-core/hooks/gate_config.py
  aops-core/lib/gates/custom_conditions.py
  specs/ENFORCEMENT-MAP.md
Due: dprint

feat(hooks): remove code defaults for posture gates; resolve posture off polecat.yaml via named non-polecat branch (aops-fcc1da8a)
  aops-core/hooks/gate_config.py
  specs/ENFORCEMENT-MAP.md
Due: dprint
