Repository nicsuzor/academicOps: changes, and which pre-commit hooks are due for each by the changed paths.
All: dprint, check-framework-integrity

.pre-commit-config.yaml:

# Pre-commit hooks for academicOps framework governance
# See https://pre-commit.com for more info

repos:
  # Markdown/JSON/TOML validation (dprint - check-only, no auto-fix)
  # Ruff check --fix auto-fixes what it can; ruff-format checks formatting
  - repo: local
    hooks:
      - id: dprint
        name: dprint check
        entry: uv run dprint check
        language: system
        types_or: [markdown, json, toml]
        pass_filenames: true

  # Markdown linting (catches issues dprint doesn't fix)
  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.12.1
    hooks:
      - id: markdownlint-cli2
        exclude: '^archived/'

  # Standard hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: '\.excalidraw$'
      - id: end-of-file-fixer
        exclude: '\.excalidraw$'
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
        args: ['--maxkb=500']

  # Python linting (auto-fix enabled)
  # Ruff check --fix auto-fixes what it can; ruff-format checks formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.4
    hooks:
      - id: ruff
        args: [--fix]
        exclude: '^archived/'
      - id: ruff-format
        args: [--check]
        exclude: '^archived/'

  # Framework integrity checks (index wikilinks, skill entries, workflow length)
  # Consolidates check-workflow-length + new index integrity validation
  - repo: local
    hooks:
      - id: check-framework-integrity
        name: framework integrity check
        entry: uv run python scripts/check_framework_integrity.py
        language: system
        pass_filenames: false
        files: '(WORKFLOWS|SKILLS)\.md$|workflows/.*\.md$|skills/.*/SKILL\.md$|commands/.*\.md$'

  # Type checking and full framework health checks run in CI only
  # (see .github/workflows/framework-health.yml)
  #
  # Moved to CI:
  # - basedpyright: full type analysis too slow for every commit
  # - check-skill-line-count: whole-repo scan, not file-scoped
  # - check-orphan-files: whole-repo scan, not file-scoped
  # - check-framework-integrity --full: slow full codebase wikilink scan
  # - audit_framework_health: comprehensive audit

docs(supervisor): add event-driven monitoring instructions (#605)
  aops-core/skills/supervisor/SKILL.md
  aops-core/skills/supervisor/instructions/supervision-loop.md
Due: dprint, check-framework-integrity

fix(rbg): plugin-relative AXIOMS.md include (#607)
  aops-core/.agents/rules/AXIOMS.md
  aops-core/agents/rbg.md
  tests/test_plugin_structure.py
Due: dprint

feat(polecat): set default model to claude-sonnet-4-6 for Claude crew sessions
  polecat/defaults/claude-settings.json
Due: dprint

design(orchestration): orchestrator boundary spec + task graduation gate
  specs/orchestrator-boundary.md
  specs/work-management.md
Due: dprint

feat(polecat): set default model to claude-sonnet-4-6 for Claude crew sessions (#608)
  polecat/defaults/claude-settings.json
Due: dprint

docs: document MCP server scope — all servers are project-local only
  docs/mcp-scope.md
Due: dprint

taxonomy: add inbox default, queued status, clarify ready semantics
  aops-core/TAXONOMY.md
Due: dprint

ci: update claude code workflows to use sonnet (#619)
  .github/workflows/agent-enforcer.yml
  .github/workflows/agent-merge-prep.yml
  .github/workflows/claude.yml
  .github/workflows/ios-note-capture.yml
  .github/workflows/learn-analysis.yml
  .github/workflows/pr-review.yml
Due: none

dogfood: codify iteration loop, redirect-not-kill, in-place edits; supervisor: fix dispatch gaps
  aops-core/skills/dogfood/SKILL.md
  aops-core/skills/supervisor/SKILL.md
  aops-core/skills/supervisor/instructions/supervision-loop.md
Due: dprint, check-framework-integrity

design(orchestration): orchestrator boundary spec + task graduation gate (#609)
  specs/orchestrator-boundary.md
  specs/work-management.md
Due: dprint

Strengthen task creation instructions to prevent checklist/subtask divergence (#604)
  aops-core/skills/dump/SKILL.md
  aops-core/skills/planner/SKILL.md
  aops-core/skills/planner/workflows/decompose.md
  aops-core/skills/supervisor/instructions/decomposition-and-review.md
  polecat/pkb_bridge.py
  specs/pkb-server-spec.md
  specs/work-management.md
  tests/polecat/test_pkb_bridge.py
Due: dprint, check-framework-integrity

allow-dangerously-skip-permissions
  polecat/cli.py
Due: none

refactor(framework): axioms relocated + stale refs stripped (Phase A)
  .agents/context-map.json
  .github/workflows/learn-analysis.yml
  aops-core/.agents/rules/AXIOMS.md
  aops-core/AXIOMS.md
  aops-core/RULES.md
  aops-core/agents/jr.md
  aops-core/agents/marsha.md
  aops-core/agents/rbg.md
  aops-core/commands/learn.md
  aops-core/enforcement-map.md
  aops-core/skills/aops/SKILL.md
  aops-core/skills/aops/conventions-summary.md
  aops-core/skills/aops/enforcement-map.md
  aops-core/skills/aops/references/decision-briefing-details.md
  aops-core/skills/aops/references/enforcement-design.md
  aops-core/skills/aops/references/feature-dev-details.md
  aops-core/skills/aops/references/hooks.md
  aops-core/skills/aops/references/learning-log-details.md
  aops-core/skills/aops/references/strategic-partner-mode.md
  aops-core/skills/aops/templates/spec.md
  aops-core/skills/daily/instructions/progress-sync.md
  aops-core/skills/daily/instructions/sync-workflow.md
  aops-core/skills/strategic-review/review-contexts/pr-framework.md
  aops-core/skills/supervisor/instructions/decomposition-and-review.md
  aops-tools/skills/extract/SKILL.md
  specs/enforcement-map.md
  specs/enforcement.md
  specs/future/skills/osb-drafting.md
  specs/future/skills/training-set-builder.md
  tests/test_plugin_structure.py
Due: dprint, check-framework-integrity

fix(build): replace CLAUDE_PLUGIN_ROOT with extensionPath in Gemini agent body text
  scripts/build.py
Due: none

fix(gemini): ensure aops_core_rbg is accessible in plan mode for polecats and crew
  polecat/cli.py
  polecat/defaults/compliance-agents.toml
Due: dprint

taxonomy: add queued status and clarify ready/inbox semantics (#620)
  aops-core/TAXONOMY.md
  aops-core/skills/dogfood/SKILL.md
  aops-core/skills/supervisor/SKILL.md
  aops-core/skills/supervisor/instructions/supervision-loop.md
  polecat/cli.py
Due: dprint, check-framework-integrity

fix(build): replace CLAUDE_PLUGIN_ROOT with extensionPath in Gemini agent body text (#622)
  scripts/build.py
  tests/test_agent_tool_names.py
Due: none

fix(gemini): two-layer plan-mode guard for custodiet gate
  aops-core/lib/gates/engine.py
  polecat/cli.py
  polecat/defaults/compliance-agents.toml
Due: dprint

fix(gemini): ensure aops_core_rbg is accessible in plan mode (#623)
  aops-core/lib/gates/engine.py
  polecat/cli.py
  polecat/defaults/compliance-agents.toml
  tests/polecat/test_gemini_sandbox.py
Due: dprint

feat: add format.sh script for unified formatting pipeline
  README.md
  scripts/format.sh
  specs/work-management.md
Due: dprint

feat(polecat): add fail-fast bootstrap validation
  polecat/bootstrap.py
  polecat/cli.py
  tests/polecat/test_bootstrap.py
Due: none

Crew/audre (#628)
  aops-core/skills/daily/SKILL.md
Due: dprint, check-framework-integrity

update sync with prune
  scripts/repo-sync-cron.sh
Due: none

Add format.sh script to academicOps (#627)
  README.md
  scripts/format.sh
  specs/work-management.md
Due: dprint

Polecat dispatcher: fail-fast bootstrap validation (#629)
  polecat/bootstrap.py
  polecat/cli.py
  tests/polecat/test_bootstrap.py
Due: none

Taxonomy/queued status (#626)
  aops-core/skills/supervisor/SKILL.md
Due: dprint, check-framework-integrity

chore(gha): reduce GHA/Claude quota — delete 4 workflows, wire enforcer on CI trigger
  .github/workflows/agent-enforcer.yml
  .github/workflows/framework-health.yml
  .github/workflows/learn-analysis.yml
  .github/workflows/merge-prep-cron.yml
  .github/workflows/pr-review.yml
  .github/workflows/validate-ruleset.yml
  specs/pr-pipeline.md
Due: dprint

feat(review-pr): tiered classifier for PR triage
  aops-core/commands/review-pr.md
  specs/pr-pipeline.md
Due: dprint, check-framework-integrity

feat(review-pr): tiered classifier for PR triage (#632)
  aops-core/commands/review-pr.md
  specs/pr-pipeline.md
Due: dprint, check-framework-integrity

feat(review-pr): batch preflight, prior-review consolidation, halt conditions
  aops-core/commands/review-pr.md
Due: dprint, check-framework-integrity

fix(learn): guard against symptom diagnosis on resource-exhaustion failures
  aops-core/commands/learn.md
Due: dprint, check-framework-integrity

feat(observability): upload Claude session artifacts from GHA agent workflows
  .github/workflows/agent-enforcer.yml
  .github/workflows/agent-merge-prep.yml
  .github/workflows/claude.yml
  specs/pr-pipeline.md
Due: dprint

feat(review-pipeline): context-map spec_dirs convention for spec-aware review
  .agents/context-map.json
  aops-core/agents/pauli.md
  aops-core/commands/review-pr.md
  aops-core/skills/project/workflows/context-map-audit.md
Due: dprint, check-framework-integrity

feat(supervisor): plan-review gate — halt on non-queued, dispatch on queued
  aops-core/skills/supervisor/SKILL.md
  aops-core/skills/supervisor/instructions/decomposition-and-review.md
  aops-core/skills/supervisor/instructions/supervision-loop.md
Due: dprint, check-framework-integrity

fix(commands): /pull and consumers pull from queued (taxonomy drift fix)
  aops-core/commands/pull.md
  aops-core/skills/daily/instructions/focus-and-recommendations.md
Due: dprint, check-framework-integrity

feat(spec): retire Framework Reflection, spec new handover contract
  specs/INDEX.md
  specs/session-handover-contract.md
Due: dprint

supervisor: codify dogfood findings from 2026-04-20 run
  aops-core/skills/supervisor/SKILL.md
  aops-core/skills/supervisor/instructions/supervision-loop.md
  aops-core/skills/supervisor/instructions/worker-dispatch.md
Due: dprint, check-framework-integrity

T1 SPEC (aops): Retire Framework Reflection, spec new handover contract (#640)
  specs/INDEX.md
  specs/session-handover-contract.md
Due: dprint
