Repository nicsuzor/academicOps: changes, and which pre-commit hooks are due for each by the changed paths.
All: dprint, check-framework-integrity

.pre-commit-config.yaml:

# Pre-commit hooks for academicOps framework governance
# See https://pre-commit.com for more info

repos:
  # Markdown/JSON/TOML validation (dprint - check-only, no auto-fix)
  # Ruff check --fix auto-fixes what it can; ruff-format checks formatting
  - repo: local
    hooks:
      - id: dprint
        name: dprint check
        entry: uv run dprint check
        language: system
        types_or: [markdown, json, toml]
        pass_filenames: true

  # Markdown linting (catches issues dprint doesn't fix)
  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.12.1
    hooks:
      - id: markdownlint-cli2
        exclude: '^archived/'

  # Standard hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: '\.excalidraw$'
      - id: end-of-file-fixer
        exclude: '\.excalidraw$'
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
        args: ['--maxkb=500']

  # Python linting (auto-fix enabled)
  # Ruff check --fix auto-fixes what it can; ruff-format checks formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.4
    hooks:
      - id: ruff
        args: [--fix]
        exclude: '^archived/'
      - id: ruff-format
        args: [--check]
        exclude: '^archived/'

  # Framework integrity checks (index wikilinks, skill entries, workflow length)
  # Consolidates check-workflow-length + new index integrity validation
  - repo: local
    hooks:
      - id: check-framework-integrity
        name: framework integrity check
        entry: uv run python scripts/check_framework_integrity.py
        language: system
        pass_filenames: false
        files: '(WORKFLOWS|SKILLS)\.md$|workflows/.*\.md$|skills/.*/SKILL\.md$|commands/.*\.md$'

  # Type checking and full framework health checks run in CI only
  # (see .github/workflows/framework-health.yml)
  #
  # Moved to CI:
  # - basedpyright: full type analysis too slow for every commit
  # - check-skill-line-count: whole-repo scan, not file-scoped
  # - check-orphan-files: whole-repo scan, not file-scoped
  # - check-framework-integrity --full: slow full codebase wikilink scan
  # - audit_framework_health: comprehensive audit

build: package Cowork plugin as upload-ready zip, drop install-cowork target
  Makefile
  scripts/build.py
Due: none

feat(polecat): consolidate session config into polecat.yaml SSoT
  .agents/ENFORCEMENT-MAP.md
  aops-core/agent-env-map.conf
  aops-core/hooks/gate_config.py
  aops-core/hooks/router.sh
  aops-core/hooks/session_env_setup.py
  aops-core/lib/polecat_config.py
  aops-core/lib/session_naming.py
  aops-core/scripts/transcript.py
  polecat/cli.py
  polecat/defaults/claude-headless.json
  polecat/defaults/polecat.yaml.example
  polecat/manager.py
  tests/conftest.py
  tests/hooks/test_gate_replay.py
  tests/hooks/test_gate_verdicts.py
  tests/hooks/test_session_env_setup.py
  tests/lib/test_polecat_config.py
  tests/polecat/conftest.py
  tests/polecat/test_cli_docker.py
Due: dprint

collapse aops-cowork into aops-core; rename agent jr → junior
  Makefile
  aops-core/CONSTRAINTS.md
  aops-core/agents/junior.md
  aops-core/commands/pull.md
  aops-core/skills/aops/workflows/11-self-test.md
  scripts/build.py
  templates/marketplace.json
  tests/test_junior_tools.py
Due: dprint, check-framework-integrity

chore(config): migrate remaining projects.yaml references to polecat.yaml
  README.md
  aops-core/skills/daily/SKILL.md
  aops-core/skills/daily/instructions/progress-sync.md
  aops-core/skills/daily/instructions/workflow-monitor.md
  aops-core/skills/project/instructions/init.md
  polecat/cli.py
  polecat/manager.py
  scripts/setup-machine.sh
  tests/conftest.py
  tests/e2e/test_crew_mandatory_args.py
  tests/e2e/test_polecat_run.py
  tests/polecat/test_crew_name_generation.py
  tests/polecat/test_get_repo_path_validation.py
  tests/polecat/test_project_alias_resolution.py
Due: dprint, check-framework-integrity

test: drop test_build_cowork_includes; update remaining cowork refs
  aops-core/HEURISTICS.md
  aops-core/commands/pull.md
  tests/hooks/test_gate_config.py
  tests/lib/test_timeline_events_dedupe.py
  tests/test_build_cowork_includes.py
  tests/test_pull_specialist_dispatch.py
Due: dprint, check-framework-integrity

feat(polecat): consolidate session config into polecat.yaml SSoT (#921)
  .agents/ENFORCEMENT-MAP.md
  README.md
  aops-core/agent-env-map.conf
  aops-core/hooks/gate_config.py
  aops-core/hooks/router.sh
  aops-core/hooks/session_env_setup.py
  aops-core/lib/polecat_config.py
  aops-core/lib/session_naming.py
  aops-core/scripts/transcript.py
  aops-core/skills/daily/SKILL.md
  aops-core/skills/daily/instructions/progress-sync.md
  aops-core/skills/daily/instructions/workflow-monitor.md
  aops-core/skills/project/instructions/init.md
  polecat/cli.py
  polecat/defaults/claude-headless.json
  polecat/defaults/polecat.yaml.example
  polecat/manager.py
  scripts/setup-machine.sh
  tests/conftest.py
  tests/e2e/test_crew_mandatory_args.py
  tests/e2e/test_polecat_run.py
  tests/hooks/test_gate_replay.py
  tests/hooks/test_gate_verdicts.py
  tests/hooks/test_session_env_setup.py
  tests/lib/test_polecat_config.py
  tests/polecat/conftest.py
  tests/polecat/test_cli_docker.py
  tests/polecat/test_crew_name_generation.py
  tests/polecat/test_get_repo_path_validation.py
  tests/polecat/test_project_alias_resolution.py
Due: dprint, check-framework-integrity

feat(daily): implement target-driven urgency grouping and badging
  aops-core/skills/daily/SKILL.md
  aops-core/skills/daily/instructions/status-snapshot.md
Due: dprint, check-framework-integrity

fix(hooks): implement re-entry latch for handover gate and add Read-only Q&A branch to end_session skill
  aops-core/lib/gates/custom_conditions.py
  aops-core/skills/end_session/SKILL.md
  tests/hooks/test_handover_gate_latch.py
  tests/hooks/test_handover_gate_regression.py
Due: dprint, check-framework-integrity

feat(cron): add raw PR-state dumper to repo-sync-cron
  aops-core/scripts/dump_pr_state.py
  aops-core/specs/pr-state-index.md
  scripts/repo-sync-cron.sh
Due: dprint

feat(daily): repoint PR-state artifact to $AOPS_SESSIONS/state/pr-state.json
  CHANGELOG.md
  README.md
  aops-core/skills/daily/SKILL.md
  aops-core/skills/daily/instructions/progress-sync.md
  aops-core/skills/daily/instructions/workflow-monitor.md
Due: dprint, check-framework-integrity

planner
  aops-core/skills/aops/SKILL.md
  aops-core/skills/planner/SKILL.md
Due: dprint, check-framework-integrity

update isolation tests
  tests/conftest.py
  tests/e2e/test_all_invocation_paths.py
  tests/e2e/test_gemini_extension_validation.py
  tests/polecat/test_cli_docker_integration.py
  tests/polecat/test_sandbox_hook_integrity.py
Due: none

chore: remove client-side debug and performance logging from PKB MCP client
  aops-core/scripts/pkb_perf_proxy.py
  polecat/pkb_bridge.py
  tests/polecat/test_pkb_bridge.py
Due: none

fix(env): kill silent fallback defaults; enforce A8 in pre-commit
  .pre-commit-config.yaml
  aops-core/agent-env-map.conf
  aops-core/hooks/autocommit_state.py
  scripts/check_no_fallbacks.py
  scripts/repo-sync-cron.sh
Due: none

Remove client-side debug and performance logging from PKB MCP client (#929)
  aops-core/scripts/pkb_perf_proxy.py
  polecat/pkb_bridge.py
  tests/polecat/test_pkb_bridge.py
Due: none

Repoint /daily Step 7 + progress-sync.md to $AOPS_SESSIONS/state/pr-state.json (#927)
  CHANGELOG.md
  README.md
  aops-core/skills/daily/SKILL.md
  aops-core/skills/daily/instructions/progress-sync.md
  aops-core/skills/daily/instructions/workflow-monitor.md
Due: dprint, check-framework-integrity

feat(cron): add raw PR-state dumper to repo-sync-cron (#924)
  aops-core/PR-STATE-INDEX.md
  aops-core/scripts/dump_pr_state.py
  scripts/repo-sync-cron.sh
Due: dprint

chore(pr-state): strip fields no consumer reads (10592→3218 lines)
  aops-core/PR-STATE-INDEX.md
  aops-core/scripts/dump_pr_state.py
Due: dprint

Update aops-core/scripts/dump_pr_state.py
  aops-core/scripts/dump_pr_state.py
Due: none

fix(env): kill silent fallback defaults; enforce A8 in pre-commit (#931)
  .agents/ENFORCEMENT-MAP.md
  .pre-commit-config.yaml
  aops-core/agent-env-map.conf
  aops-core/hooks/autocommit_state.py
  aops-core/lib/agent_env.py
  scripts/check_no_fallbacks.py
  scripts/repo-sync-cron.sh
  tests/polecat/test_cli_docker.py
Due: dprint

update transcript parser for reflection
  aops-core/lib/transcript_parser.py
  tests/lib/test_transcript_parser_reflection.py
Due: none

feat(daily): implement target-driven urgency grouping and badging (#922)
  aops-core/skills/daily/SKILL.md
  aops-core/skills/daily/instructions/status-snapshot.md
Due: dprint, check-framework-integrity

test changes
  polecat/cli.py
  tests/conftest.py
  tests/e2e/test_all_invocation_paths.py
Due: none

feat(supervisor): v2 — stateless tick + subagent contracts (aops-c5cfa714)
  aops-core/skills/supervisor/SKILL.md
  aops-core/skills/supervisor/instructions/code-deliverable.md
  aops-core/skills/supervisor/instructions/decomposition-and-review.md
  aops-core/skills/supervisor/instructions/supervision-loop.md
  aops-core/skills/supervisor/instructions/worker-dispatch.md
Due: dprint, check-framework-integrity

update remove cowork
  .agents/CORE.md
  .github/aops-dist/build.yml
  tests/e2e/test_all_invocation_paths.py
Due: dprint

update tests
  polecat/cli.py
  tests/e2e/test_all_invocation_paths.py
Due: none

pkb path
  .agents/ENFORCEMENT-MAP.md
  aops-core/skills/daily/instructions/status-snapshot.md
  tests/e2e/test_all_invocation_paths.py
Due: dprint

feat(aops-core): preserve PR trailers in dump_pr_state.py past truncation
  aops-core/scripts/dump_pr_state.py
  aops-core/tests/scripts/test_dump_pr_state.py
Due: none

[bug-regression] Handover gate re-fires after end_session emits valid handover (#923)
  aops-core/lib/gates/custom_conditions.py
  aops-core/skills/end_session/SKILL.md
  tests/hooks/test_handover_gate_latch.py
  tests/hooks/test_handover_gate_regression.py
Due: dprint, check-framework-integrity

dump_pr_state.py — preserve trailers past 2 KB body truncation (#935)
  aops-core/scripts/dump_pr_state.py
  tests/lib/test_dump_pr_state.py
Due: none

fix(pkb-mcp): persistent connection and auto-reconnect for pkb proxy
  aops-core/scripts/pkb_perf_proxy.py
  aops-core/scripts/run-mcp.sh
Due: none

get rid of pkb proxy perf monitor
  aops-core/hooks/gate_config.py
  aops-core/scripts/pkb_perf_proxy.py
  aops-core/scripts/run-mcp.sh
  aops-core/skills/remember/references/PERFORMANCE.md
Due: dprint

test harness
  .agents/ENFORCEMENT-MAP.md
  aops-core/hooks/router.sh
  aops-core/lib/polecat_config.py
  polecat/cli.py
  polecat/defaults/claude-headless.json
  polecat/defaults/claude-settings-vanilla.json
  polecat/defaults/deny-extension-writes.toml
  polecat/defaults/gemini-settings-vanilla.json
  tests/e2e/test_all_invocation_paths.py
  tests/harness/.gitignore
  tests/harness/README.md
  tests/harness/crew_harness.py
  tests/polecat/test_cli_docker.py
Due: dprint

add `ida` Stop-hook reminder gate (non-blocking honesty check)
  .agents/ENFORCEMENT-MAP.md
  aops-core/hooks/gate_config.py
  aops-core/hooks/templates/ida-reminder.md
  aops-core/lib/gates/definitions.py
  aops-core/lib/polecat_config.py
  aops-core/lib/template_registry.py
  polecat/defaults/polecat.yaml.example
  tests/hooks/fixtures/gate_scenarios.json
  tests/hooks/test_gate_replay.py
  tests/hooks/test_gate_verdicts.py
  tests/lib/test_polecat_config.py
Due: dprint

rationalise env vars + fix release blockers
  aops-core/commands/retro.md
  aops-core/hooks/gate_config.py
  aops-core/hooks/router.py
  aops-core/hooks/session_env_setup.py
  aops-core/lib/gates/definitions.py
  aops-core/lib/hook_utils.py
  aops-core/lib/session_naming.py
  aops-core/lib/session_paths.py
  aops-core/lib/session_state.py
  aops-core/lib/transcript_parser.py
  aops-core/scripts/compliance_block.py
  aops-core/skills/aops/references/forensics-details.md
  polecat/cli.py
  polecat/defaults/polecat.yaml.example
  tests/e2e/test_all_invocation_paths.py
  tests/hooks/test_client_type_logged.py
  tests/hooks/test_gate_replay.py
  tests/hooks/test_hook_logger.py
  tests/hooks/test_session_env_setup.py
  tests/hooks/test_universal_router.py
  tests/lib/test_enforcer_block.py
  tests/test_session_naming.py
Due: dprint, check-framework-integrity

improve pr loop
  aops-core/skills/sleep/SKILL.md
Due: dprint, check-framework-integrity

docs(taxonomy): narrow project to polecat slug; collapse hierarchy; formalize contributes_to edges
  aops-core/skills/remember/references/TAXONOMY.md
Due: dprint

ensure live visibility and unified logging for polecat sessions
  polecat/cli.py
  tests/e2e/test_crew_session_persistence.py
Due: none

Audit agents and skills; publish compliance and tool matrices (lint fix)
  .agents/AGENT-COMPLIANCE-MATRIX.md
  .agents/AGENT-REMEDIATION-BACKLOG.md
  .agents/AGENT-TOOLS.md
  .agents/CORE.md
  .agents/context-map.json
  scripts/audit_agent_compliance.py
Due: dprint
