Repository nicsuzor/academicOps: changes, and which pre-commit hooks are due for each by the changed paths.
All: dprint, check-framework-integrity

.pre-commit-config.yaml:

# Pre-commit hooks for academicOps framework governance
# See https://pre-commit.com for more info

repos:
  # Markdown/JSON/TOML validation (dprint - check-only, no auto-fix)
  # Ruff check --fix auto-fixes what it can; ruff-format checks formatting
  - repo: local
    hooks:
      - id: dprint
        name: dprint check
        entry: uv run dprint check
        language: system
        types_or: [markdown, json, toml]
        pass_filenames: true

  # Markdown linting (catches issues dprint doesn't fix)
  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.12.1
    hooks:
      - id: markdownlint-cli2
        exclude: '^archived/'

  # Standard hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: '\.excalidraw$'
      - id: end-of-file-fixer
        exclude: '\.excalidraw$'
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
        args: ['--maxkb=500']

  # Python linting (auto-fix enabled)
  # Ruff check --fix auto-fixes what it can; ruff-format checks formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.4
    hooks:
      - id: ruff
        args: [--fix]
        exclude: '^archived/'
      - id: ruff-format
        args: [--check]
        exclude: '^archived/'

  # Framework integrity checks (index wikilinks, skill entries, workflow length)
  # Consolidates check-workflow-length + new index integrity validation
  - repo: local
    hooks:
      - id: check-framework-integrity
        name: framework integrity check
        entry: uv run python scripts/check_framework_integrity.py
        language: system
        pass_filenames: false
        files: '(WORKFLOWS|SKILLS)\.md$|workflows/.*\.md$|skills/.*/SKILL\.md$|commands/.*\.md$'

  # Type checking and full framework health checks run in CI only
  # (see .github/workflows/framework-health.yml)
  #
  # Moved to CI:
  # - basedpyright: full type analysis too slow for every commit
  # - check-skill-line-count: whole-repo scan, not file-scoped
  # - check-orphan-files: whole-repo scan, not file-scoped
  # - check-framework-integrity --full: slow full codebase wikilink scan
  # - audit_framework_health: comprehensive audit

refactor: embed axioms in agent definitions, remove AXIOMS.md and framework_content
  aops-core/AXIOMS.md
  aops-core/agents/marsha.md
  aops-core/agents/rbg.md
  aops-core/hooks/schemas.py
  aops-core/hooks/templates/custodiet-context.md
  aops-core/hooks/templates/qa-context.md
  aops-core/hooks/unified_logger.py
  aops-core/lib/gates/custom_actions.py
  aops-core/lib/hook_utils.py
  aops-core/lib/paths.py
  aops-core/lib/template_registry.py
  tests/test_lib_paths.py
  tests/test_plugin_structure.py
Due: dprint

cleaning
  specs/verification-system.md
  specs/worker-hypervisor.md
Due: dprint

refactor: embed axioms in agent definitions, remove AXIOMS.md (#500)
  aops-core/AXIOMS.md
  aops-core/agents/marsha.md
  aops-core/agents/rbg.md
  aops-core/hooks/schemas.py
  aops-core/hooks/session_env_setup.py
  aops-core/hooks/templates/custodiet-context.md
  aops-core/hooks/templates/qa-context.md
  aops-core/hooks/unified_logger.py
  aops-core/lib/gates/custom_actions.py
  aops-core/lib/hook_utils.py
  aops-core/lib/paths.py
  aops-core/lib/template_registry.py
  scripts/build.py
  tests/lib/test_binary_install.py
  tests/test_automode.py
  tests/test_lib_paths.py
  tests/test_plugin_structure.py
Due: dprint

chore: restore gold specs and skill designs to specs/future/
  specs/future/constraint-checking-tests.md
  specs/future/dogfood.md
  specs/future/plugin-consolidation.md
  specs/future/predicate-registry.md
  specs/future/skills/fact-check.md
  specs/future/skills/ground-truth.md
  specs/future/skills/osb-drafting.md
  specs/future/skills/review-training.md
  specs/future/skills/review.md
  specs/future/skills/training-set-builder.md
Due: dprint

fix: use docker cp for workspace injection instead of bind mount
  polecat/cli.py
  tests/polecat/test_cli_docker.py
Due: none

test: add end-state integration tests for Docker container configuration
  tests/polecat/test_cli_docker_integration.py
Due: none

fix: docker cp workspace + end-state integration tests (#501)
  polecat/cli.py
  tests/polecat/test_cli_docker.py
  tests/polecat/test_cli_docker_integration.py
Due: none

test: remove mocks, delete dead tests, harden assertions (-574 lines)
  tests/hooks/test_router_subprocess.py
  tests/hooks/test_universal_router.py
  tests/integration/test_deny_rules.py
  tests/integration/test_workflow_constraints.py
  tests/lib/test_insights_generator_context.py
  tests/polecat/test_worktree_exclude_refspecs.py
  tests/test_ios_note_capture_workflow.py
  tests/test_session_start.py
Due: none

refactor: consolidate axioms, redesign RBG as logician, update Pauli with effectual reasoning
  .agents/rules/AXIOMS.md
  .agents/rules/project-rules.md
  .github/rulesets/pr-review-and-merge.yml
  .github/workflows/pr-review.yml
  aops-core/agents/pauli.md
  aops-core/agents/rbg.md
  specs/pr-pipeline.md
Due: dprint

fix: docker cp for workspace injection + test suite hardening (#504)
  tests/hooks/test_router_subprocess.py
  tests/hooks/test_universal_router.py
  tests/integration/test_deny_rules.py
  tests/integration/test_workflow_constraints.py
  tests/lib/test_insights_generator_context.py
  tests/polecat/test_worktree_exclude_refspecs.py
  tests/test_ios_note_capture_workflow.py
  tests/test_session_start.py
Due: none

refactor: consolidate axioms, redesign RBG + Pauli agents (#503)
  .agents/rules/AXIOMS.md
  .agents/rules/project-rules.md
  .github/rulesets/pr-review-and-merge.yml
  .github/workflows/pr-review.yml
  aops-core/agents/pauli.md
  aops-core/agents/rbg.md
  specs/pr-pipeline.md
  tests/test_plugin_structure.py
Due: dprint

ci: move build to nicsuzor/aops via repository_dispatch
  .github/aops-dist/build.yml
  .github/workflows/build-extension.yml
Due: none

ci: harden empty-release-array guard in aops-dist reference
  .github/aops-dist/build.yml
Due: none

ci: move build to nicsuzor/aops via repository_dispatch (#505)
  .github/aops-dist/build.yml
  .github/workflows/build-extension.yml
Due: none

spec: consolidate user expectations from 27 spec audit PRs
  specs/feedback-loops.md
  specs/framework-observability.md
  specs/hook-router.md
  specs/mcp-decomposition-tools.md
  specs/non-interactive-agent-workflow-spec.md
  specs/pkb-server-spec.md
  specs/pkb-type-taxonomy.md
  specs/plugin-architecture.md
  specs/polecat-system.md
  specs/prompt-hydration.md
  specs/session-start-injection.md
  specs/sleep-cycle.md
  specs/strategic-triage.md
  specs/ultra-vires-custodiet.md
  specs/work-management.md
  specs/workflow-constraints.md
  specs/workflow-system-spec.md
Due: dprint

ci: self-document dispatcher + sync aops-dist reference
  .github/aops-dist/build.yml
  .github/workflows/build-extension.yml
Due: none

ci: self-document dispatcher + fix release-create cwd in aops build (#507)
  .github/aops-dist/build.yml
  .github/workflows/build-extension.yml
Due: none

spec: consolidate user expectations from 27 spec audit PRs (#506)
  specs/feedback-loops.md
  specs/framework-observability.md
  specs/hook-router.md
  specs/mcp-decomposition-tools.md
  specs/non-interactive-agent-workflow-spec.md
  specs/pkb-server-spec.md
  specs/pkb-type-taxonomy.md
  specs/plugin-architecture.md
  specs/polecat-system.md
  specs/prompt-hydration.md
  specs/session-start-injection.md
  specs/sleep-cycle.md
  specs/strategic-triage.md
  specs/ultra-vires-custodiet.md
  specs/work-management.md
  specs/workflow-constraints.md
  specs/workflow-system-spec.md
Due: dprint

spec: revive predicate-registry expectations, add framework workflow expectations
  specs/framework-workflow-expectations.md
  specs/future/predicate-registry.md
Due: dprint

spec: define unified session naming convention and directory layout
  specs/session-naming-convention.md
Due: dprint

fix: pr-review.yml handles pull_request events correctly + clean up orphans
  .github/agents/summary-brief.agent.md
  .github/workflows/agent-autofix.yml
  .github/workflows/pr-review.yml
  specs/pr-pipeline.md
Due: dprint

fix: pr-review.yml handles pull_request events correctly + clean up orphans (#510)
  .github/agents/summary-brief.agent.md
  .github/workflows/agent-autofix.yml
  .github/workflows/pr-review.yml
  specs/pr-pipeline.md
Due: dprint

feat(sessions): implement core naming module (session_naming.py)
  aops-core/lib/session_naming.py
  tests/test_session_naming.py
Due: none

fix(crew): flush remote branches and refuse stale state on reuse
  polecat/cli.py
  polecat/manager.py
  tests/polecat/test_worktree_upstream.py
Due: none

Crew/consolidate spec audits (#511)
  specs/framework-workflow-expectations.md
  specs/future/predicate-registry.md
  specs/strategic-triage.md
  specs/ultra-vires-custodiet.md
Due: dprint

feat(sessions): integrate unified naming into transcript and insight generation
  aops-core/lib/insights_generator.py
  aops-core/lib/session_reader.py
  aops-core/scripts/transcript.py
  tests/integration/test_transcript_naming.py
Due: none

feat(sessions): add client log sync to AOPS_SESSIONS
  aops-core/lib/session_naming.py
  aops-core/lib/session_reader.py
  aops-core/scripts/transcript.py
Due: none

fix(crew): flush remote branches and refuse stale state on reuse (#512)
  polecat/cli.py
  polecat/manager.py
  tests/polecat/test_worktree_upstream.py
Due: none

feat(sessions): integrate unified naming into hook logs and status files
  aops-core/lib/session_naming.py
  aops-core/lib/session_paths.py
  tests/lib/test_session_naming.py
  tests/lib/test_session_paths.py
  tests/test_session_paths.py
Due: none

feat(sessions): integrate unified naming into hook logs and status files (#515)
  aops-core/lib/session_naming.py
  aops-core/lib/session_paths.py
  tests/hooks/test_hook_logger.py
  tests/lib/test_session_naming.py
  tests/lib/test_session_paths.py
  tests/test_session_paths.py
Due: none

Build client log sync to AOPS_SESSIONS (#514)
  aops-core/lib/session_reader.py
  aops-core/scripts/transcript.py
Due: none

fix: remove aops-core/scripts/__init__.py to avoid shadowing root scripts package
  aops-core/scripts/__init__.py
  tests/integration/test_transcript_naming.py
Due: none

add patch aops
  Makefile
Due: none

add patch aops
  scripts/patch-aops-core-mcp.sh
Due: none

fix: address review feedback — P#8 fail-fast dates, unambiguous shortform parsing
  aops-core/lib/insights_generator.py
  aops-core/lib/session_naming.py
  aops-core/scripts/transcript.py
  tests/lib/test_insights_generator.py
  tests/test_session_naming.py
Due: none

Integrate naming into transcript generation (#513)
  aops-core/lib/insights_generator.py
  aops-core/lib/session_naming.py
  aops-core/lib/session_reader.py
  aops-core/scripts/transcript.py
  specs/session-naming-convention.md
  tests/integration/test_transcript_naming.py
  tests/lib/test_insights_generator.py
  tests/test_session_naming.py
Due: dprint

feat(supervisor): add critic-gated dispatch, coordinated branches, and transcript reading
  aops-core/skills/supervisor/SKILL.md
  aops-core/skills/supervisor/instructions/decomposition-and-review.md
  aops-core/skills/supervisor/instructions/knowledge-capture.md
  aops-core/skills/supervisor/instructions/supervision-loop.md
  aops-core/skills/supervisor/instructions/worker-dispatch.md
Due: dprint, check-framework-integrity
