Repository nicsuzor/academicOps: changes, and which pre-commit hooks are due for each by the changed paths.
All: dprint, check-framework-integrity

.pre-commit-config.yaml:

# Pre-commit hooks for academicOps framework governance
# See https://pre-commit.com for more info

repos:
  # Markdown/JSON/TOML validation (dprint - check-only, no auto-fix)
  # Ruff check --fix auto-fixes what it can; ruff-format checks formatting
  - repo: local
    hooks:
      - id: dprint
        name: dprint check
        entry: uv run dprint check
        language: system
        types_or: [markdown, json, toml]
        pass_filenames: true

  # Markdown linting (catches issues dprint doesn't fix)
  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.12.1
    hooks:
      - id: markdownlint-cli2
        exclude: '^archived/'

  # Standard hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: '\.excalidraw$'
      - id: end-of-file-fixer
        exclude: '\.excalidraw$'
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
        args: ['--maxkb=500']

  # Python linting (auto-fix enabled)
  # Ruff check --fix auto-fixes what it can; ruff-format checks formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.4
    hooks:
      - id: ruff
        args: [--fix]
        exclude: '^archived/'
      - id: ruff-format
        args: [--check]
        exclude: '^archived/'

  # Framework integrity checks (index wikilinks, skill entries, workflow length)
  # Consolidates check-workflow-length + new index integrity validation
  - repo: local
    hooks:
      - id: check-framework-integrity
        name: framework integrity check
        entry: uv run python scripts/check_framework_integrity.py
        language: system
        pass_filenames: false
        files: '(WORKFLOWS|SKILLS)\.md$|workflows/.*\.md$|skills/.*/SKILL\.md$|commands/.*\.md$'

  # Type checking and full framework health checks run in CI only
  # (see .github/workflows/framework-health.yml)
  #
  # Moved to CI:
  # - basedpyright: full type analysis too slow for every commit
  # - check-skill-line-count: whole-repo scan, not file-scoped
  # - check-orphan-files: whole-repo scan, not file-scoped
  # - check-framework-integrity --full: slow full codebase wikilink scan
  # - audit_framework_health: comprehensive audit

chore(main): release 0.3.12
  .claude-plugin/marketplace.json
  .release-please-manifest.json
  CHANGELOG.md
  aops-core/.claude-plugin/plugin.json
  gemini-extension.json
  pyproject.toml
Due: dprint

fix: remove redundant workflow dispatch step in release-please
  .github/workflows/release-please.yml
Due: none

fmt
  CHANGELOG.md
  aops-core/skills/active-loop/SKILL.md
  specs/sleep-cycle.md
  uv.lock
Due: dprint, check-framework-integrity

feat(hooks): consolidate stop hook messages into single ephemeral-environment warning
  aops-core/hooks/templates/commit-uncommitted-block.md
  aops-core/lib/commit_check.py
  tests/hooks/test_session_end_commit_check.py
Due: dprint

remove requires_local_env tests
  .github/agents/assessor.agent.md
  .github/agents/autofix.agent.md
  .github/agents/merge-prep.agent.md
  pyproject.toml
  specs/pr-pipeline-v2.md
  tests/hooks/test_gate_replay.py
  tests/integration/test_credential_isolation.py
  tests/integration/test_criteria_gate_e2e.py
  tests/integration/test_cross_platform_e2e.py
  tests/integration/test_custodiet_e2e.py
  tests/integration/test_deny_rules.py
  tests/integration/test_gemini_mcp_e2e.py
  tests/integration/test_hooks_discovery.py
  tests/integration/test_hydration_gate_e2e.py
  tests/integration/test_hydrator.py
  tests/integration/test_multi_agent_workflows.py
  tests/integration/test_policy_enforcer_e2e.py
  tests/integration/test_pretooluse_block_routing_e2e.py
  tests/integration/test_session_insights_e2e.py
  tests/integration/test_settings_discovery.py
Due: dprint

fix(polecat): remove gh auth login from entrypoint to fix crew session exit
  polecat/entrypoint.sh
Due: none

fix collection
  pyproject.toml
  tests/integration/test_plugin_integration.py
Due: dprint

more robust entrypoint
  polecat/entrypoint.sh
Due: none

remove unecessary headless tests
  tests/integration/test_custodiet_e2e.py
  tests/integration/test_gemini_mcp_e2e.py
  tests/integration/test_hydration_gate_e2e.py
  tests/integration/test_policy_enforcer_e2e.py
  tests/integration/test_pretooluse_block_routing_e2e.py
Due: none

remove markers
  tests/e2e/test_session_insights_pipeline.py
Due: none

fix(cron): pass --no-sync to transcript.py and log stderr
  scripts/repo-sync-cron.sh
  tests/hooks/test_gate_replay.py
  tests/integration/test_credential_isolation.py
Due: none

Fix Volkswagen timezone test: test_sets_timezone should match host actual TZ
  tests/polecat/test_cli_docker.py
Due: none

fix(gemini-crew): embed token in gitconfig and mount gh hosts.yml
  polecat/cli.py
Due: none

test+docs: add regression test and clarify file-based credential rationale
  polecat/cli.py
  tests/e2e/test_polecat_docker_isolation.py
Due: none

feat(polecat): Make crew target required and fix transcript discovery
  aops-core/lib/session_reader.py
  aops-core/scripts/transcript.py
  polecat/cli.py
  tests/e2e/test_crew_mandatory_args.py
Due: none

fix(build): prevent .gitignore generation in gemini commands dist
  scripts/build.py
  scripts/convert_commands_to_toml.py
Due: none

feat: restore dashboard synthesis via repo-sync-cron.sh
  aops-core/SCRIPTS.md
  scripts/repo-sync-cron.sh
Due: dprint

remove docs
  docs/TEST_PLAN.md
  docs/arch_report_hydration_workflows.md
  docs/arch_report_hydrator_decision_inputs.md
  docs/repo-sync-setup.md
  docs/testing-patterns.md
  docs/walkthrough.md
  proposals/workflow-skill-division.md
Due: dprint

chore(main): release 0.3.13
  .claude-plugin/marketplace.json
  .release-please-manifest.json
  CHANGELOG.md
  aops-core/.claude-plugin/plugin.json
  gemini-extension.json
  pyproject.toml
Due: dprint

remove quiet
  scripts/repo-sync-cron.sh
Due: none

revert time
  scripts/repo-sync-cron.sh
Due: none

refactor: move Docker session tests from e2e/ to integration/
  tests/integration/test_crew_session_persistence.py
  tests/integration/test_docker_session.py
Due: none

chore: delete stale test_session_insights_pipeline.py
  tests/e2e/test_session_insights_pipeline.py
Due: none

feat: redact GH_TOKEN and sensitive mount paths from command logs
  tests/conftest.py
  tests/test_conftest_redaction.py
Due: none

chore: add actionlint pre-commit hook and fix workflow lint issues
  .github/workflows/agent-autofix.yml
  .pre-commit-config.yaml
Due: none

docs: add investigation report for custodiet context truncation after compaction
  docs/investigations/custodiet-truncation.md
Due: dprint

tests: unify cli_headless and claude_docker fixtures
  tests/README.md
  tests/conftest.py
  tests/demo/README.md
  tests/e2e/test_crew_session_persistence.py
  tests/e2e/test_docker_session.py
  tests/e2e/test_docker_tooling.py
  tests/e2e/test_gates_e2e.py
  tests/e2e/test_gates_enforcement_e2e.py
  tests/integration/test_credential_isolation.py
  tests/integration/test_criteria_gate_e2e.py
  tests/integration/test_cross_platform_e2e.py
  tests/integration/test_deny_rules.py
  tests/integration/test_hooks_discovery.py
  tests/integration/test_plugin_integration.py
  tests/integration/test_session_insights_e2e.py
Due: dprint

chore: delete stale test_session_insights_pipeline.py (#148)
  tests/e2e/test_session_insights_pipeline.py
Due: none

change paths
  aops-core/lib/session_summary.py
  tests/lib/test_session_summary.py
Due: none

dash
  scripts/synthesize_dashboard.py
Due: none

update precommit dprint
  .pre-commit-config.yaml
Due: none

skill changes
  .agent/skills/audit/SKILL.md
  .agent/skills/framework/SKILL.md
  .pre-commit-config.yaml
  CHANGELOG.md
  aops-core/skills/burst-supervisor/SKILL.md
Due: dprint, check-framework-integrity

uv lock upgrade
  uv.lock
Due: none

fix: increase Claude max_turns for polecat crew — hooks consume turns before task
  polecat/cli.py
  tests/conftest.py
Due: none

fix: fix agent-autofix workflow — timeout, token cleanup, hardcoded URL, PR context
  .github/workflows/agent-autofix.yml
Due: none

Add Rust toolchain to polecrew Dockerfile
  Dockerfile
Due: none

fix: DinD-compatible Claude Docker auth and session persistence
  polecat/cli.py
  tests/conftest.py
Due: none
