Repository nicsuzor/academicOps: changes, and which pre-commit hooks are due for each by the changed paths.
All: radon-complexity, radon-maintainability, test-architecture, pytest

radon-complexity:
  name: Check code complexity
  entry: uv run radon cc --min B --total-average
  language: system
  pass_filenames: true

radon-maintainability:
  name: Check maintainability index
  entry: uv run radon mi --min B
  language: system
  pass_filenames: true

test-architecture:
  name: Enforce test architecture rules
  entry: uv run python scripts/check_test_architecture.py
  language: system
  pass_filenames: false

pytest:
  name: Run tests (parallel)
  entry: uv run pytest -n auto -m "not slow and not integration and not endtoend"
  language: system
  pass_filenames: false
  stages:
  - pre-commit

fix(skills): remove stale learning/ and LOG.md references
  skills/feature-dev/SKILL.md
  skills/framework/SKILL.md
  skills/framework/tests/manual_test_skill_discovery.md
  skills/garden/SKILL.md
  skills/learning-log/SKILL.md
  skills/session-insights/SKILL.md
  skills/session-insights/mining-prompt.md
Due: none

vault backup: 2025-12-29 16:23:47
  .gitignore
  skills/reference-map.md
Due: none

doc(heuristics): add H30 - Design-First, Not Constraint-First
  HEURISTICS.md
Due: none

feat: restore docs-update skill for README/INDEX maintenance
  INDEX.md
  README.md
  commands/docs-update.md
  hooks/prompts/intent-router.md
  skills/docs-update/SKILL.md
  skills/framework/workflows/01-design-new-component.md
Due: none

fix(INDEX): add 7 missing skills to file tree
  INDEX.md
Due: none

feat(dashboard): Add Active Sessions panel with TodoWrite state
  lib/session_analyzer.py
  lib/session_reader.py
  skills/dashboard/dashboard.py
  tests/test_dashboard_session_context.py
Due: radon-complexity, radon-maintainability, test-architecture, pytest

refactor: rename docs-update skill to audit, expand scope
  INDEX.md
  README.md
  commands/audit.md
  commands/docs-update.md
  hooks/prompts/intent-router.md
  skills/audit/SKILL.md
  skills/docs-update/SKILL.md
  skills/framework/workflows/01-design-new-component.md
Due: none

vault backup: 2025-12-29 17:34:05
  skills/analyst/SKILL.md
  skills/analyst/instructions/research-documentation.md
Due: none

vault backup: 2025-12-29 17:40:43
  INDEX.md
  agents/effectual-planner.md
Due: none

vault backup: 2025-12-29 17:45:38
  INDEX.md
  README.md
  agents/effectual-planner.md
Due: none

vault backup: 2025-12-29 17:49:55
  skills/audit/SKILL.md
  skills/supervisor/workflows/skill-audit.md
Due: none

feat(agents): Add planner agent with quality gates
  agents/planner.md
Due: none

vault backup: 2025-12-29 18:39:25
  commands/log.md
Due: none

feat(routing): Smart intent-router agent replaces mechanical routing
  agents/intent-router.md
  hooks/prompt_router.py
Due: radon-complexity, radon-maintainability, pytest

feat(router): v9 restore temp file approach with context injection
  hooks/prompt_router.py
Due: radon-complexity, radon-maintainability, pytest

vault backup: 2025-12-29 19:34:59
  hooks/user_prompt_submit.py
Due: radon-complexity, radon-maintainability, pytest

feat(router): v10 DRY prompt enrichment - unified prompt-writer
  agents/intent-router.md
  agents/prompt-writer.md
  commands/q.md
  hooks/prompt_router.py
  hooks/prompts/intent-router.md
Due: radon-complexity, radon-maintainability, pytest

feat: replace fragmented prompt routing with /do command
  INDEX.md
  README.md
  agents/intent-router.md
  agents/prompt-writer.md
  commands/do.md
  commands/pull.md
  commands/q.md
  hooks/prompt_router.py
  hooks/router.py
  tests/hooks/test_router.py
  tests/integration/test_intent_router_accuracy.py
  tests/integration/test_intent_router_e2e.py
  tests/integration/test_prompt_router_haiku_flow.py
  tests/test_prompt_router.py
Due: radon-complexity, radon-maintainability, test-architecture, pytest

docs: document /do command in README
  README.md
Due: none

refactor: consolidate skills into audit and planning agents
  agents/effectual-planner.md
  agents/planner.md
  skills/audit/SKILL.md
  skills/audit/scripts/build_reference_map.py
  skills/audit/scripts/find_orphans.py
  skills/link-audit/SKILL.md
  skills/reference-map/SKILL.md
  skills/task-expand/SKILL.md
Due: radon-complexity, radon-maintainability, pytest

audit results
  AXIOMS.md
  HEURISTICS.md
  INDEX.md
  VISION.md
  commands/do.md
  docs/HOOKS.md
  docs/JIT-INJECTION.md
  docs/execution-flow.md
  hooks/hooks.md
  skills/framework-debug/SKILL.md
  skills/framework-debug/scripts/errors.jq
  skills/framework-review/SKILL.md
  skills/framework-review/resources/AXIOMS.md
  skills/framework-review/resources/ENFORCEMENT.md
  skills/garden/SKILL.md
  specs/do-command.md
  specs/framework-aware-operations.md
  specs/hook-router.md
  specs/intent-router-context.md
  specs/intent-router-spec.md
  specs/prompt-enricher.md
  specs/session-start-injection.md
  tests/HOOK_TEST_PROTOCOL.md
Due: none

rework hypervisor
  docs/execution-flow.md
Due: none

refactor: /do → hypervisor architecture + audit cleanup
  INDEX.md
  README.md
  ROADMAP.md
  VISION.md
  agents/hypervisor.md
  commands/do.md
  commands/q.md
  commands/supervise.md
  docs/execution-flow.md
Due: none

feat: integrate task lookup and daily log updates into /do pipeline
  agents/hypervisor.md
  agents/intent-router.md
Due: none

specs
  HEURISTICS.md
  hooks/fail_fast_watchdog.py
  hooks/router.py
  skills/remember/SKILL.md
  specs/ultra-vires-custodiet.md
Due: radon-complexity, radon-maintainability, pytest

rename supervisor spec to hypervisor spec
  INDEX.md
  README.md
  agents/hypervisor.md
  commands/ttd.md
  specs/hypervisor.md
  specs/supervisor-skill.md
Due: none

Extract workflow routing config from agent definitions
  agents/hypervisor.md
  agents/intent-router.md
  config/workflows.md
Due: none

Formalize generated indices pattern, move WORKFLOWS.md to root
  WORKFLOWS.md
  agents/hypervisor.md
  agents/intent-router.md
  specs/generated-indices.md
Due: none

Update audit skill to regenerate generated indices
  skills/audit/SKILL.md
Due: none

Revise workflow-selection spec with composable dimensions model
  specs/workflow-selection.md
Due: none

Merge dogfooding operating mode into framework CLAUDE.md
  CLAUDE.md
Due: none

Consolidate hypervisor into /do command
  INDEX.md
  README.md
  agents/hypervisor.md
  commands/do.md
  commands/q.md
  commands/ttd.md
  skills/framework/SKILL.md
  skills/supervisor/SKILL.md
  specs/do-command.md
  specs/hypervisor.md
  specs/workflow-selection.md
Due: none

feat: implement prompt-hydrator agent for workflow selection
  CLAUDE.md
  HEURISTICS.md
  INDEX.md
  README.md
  ROADMAP.md
  agents/intent-router.md
  agents/prompt-hydrator.md
  commands/email.md
  docs/execution-flow.md
  hooks/guardrails.md
  hooks/user_prompt_submit.py
  skills/framework/SKILL.md
  skills/framework/workflows/01-design-new-component.md
  skills/tasks/workflows/email-capture.md
  specs/enforcement.md
  specs/framework-aware-operations.md
  specs/intent-router-context.md
  specs/intent-router-spec.md
  specs/plan-quality-gate.md
  specs/prompt-enricher.md
  specs/prompt-hydration.md
  specs/specs.md
  specs/ultra-vires-custodiet.md
  specs/workflow-selection.md
Due: radon-complexity, radon-maintainability, pytest

feat: add fact-check skill for document verification
  README.md
  skills/fact-check/SKILL.md
  skills/fact-check/templates/verification-report.md
Due: none

fix: reframe fact-check principle as burden of proof
  skills/fact-check/SKILL.md
Due: none

fix: inject session context into prompt-hydrator
  INDEX.md
  hooks/user_prompt_submit.py
  lib/session_reader.py
Due: radon-complexity, radon-maintainability, pytest

test: add coverage for string content format in router context
  tests/test_router_context.py
Due: radon-complexity, radon-maintainability, test-architecture, pytest

refactor: restructure execution-flow.md with universal flow architecture
  docs/execution-flow.md
  specs/prompt-hydration.md
Due: none

feat: clean XML markup and filter notifications from session context
  lib/session_reader.py
  tests/test_router_context.py
Due: radon-complexity, radon-maintainability, test-architecture, pytest

Path conditions:
  radon-complexity: any of: \.py$
  radon-maintainability: any of: \.py$
  test-architecture: any of: ^tests/.*\.py$
  pytest: any of: \.py$
