Repository nicsuzor/academicOps: changes, and which pre-commit hooks are due for each by the changed paths.
All: dprint, check-framework-integrity

.pre-commit-config.yaml:

# Pre-commit hooks for academicOps framework governance
# See https://pre-commit.com for more info

repos:
  # Markdown/JSON/TOML validation (dprint - check-only, no auto-fix)
  # Ruff check --fix auto-fixes what it can; ruff-format checks formatting
  - repo: local
    hooks:
      - id: dprint
        name: dprint check
        entry: uv run dprint check
        language: system
        types_or: [markdown, json, toml]
        pass_filenames: true

  # Markdown linting (catches issues dprint doesn't fix)
  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.12.1
    hooks:
      - id: markdownlint-cli2
        exclude: '^archived/'

  # Standard hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: '\.excalidraw$'
      - id: end-of-file-fixer
        exclude: '\.excalidraw$'
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
        args: ['--maxkb=500']

  # Python linting (auto-fix enabled)
  # Ruff check --fix auto-fixes what it can; ruff-format checks formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.4
    hooks:
      - id: ruff
        args: [--fix]
        exclude: '^archived/'
      - id: ruff-format
        args: [--check]
        exclude: '^archived/'

  # Framework integrity checks (index wikilinks, skill entries, workflow length)
  # Consolidates check-workflow-length + new index integrity validation
  - repo: local
    hooks:
      - id: check-framework-integrity
        name: framework integrity check
        entry: uv run python scripts/check_framework_integrity.py
        language: system
        pass_filenames: false
        files: '(WORKFLOWS|SKILLS)\.md$|workflows/.*\.md$|skills/.*/SKILL\.md$|commands/.*\.md$'

  # Type checking and full framework health checks run in CI only
  # (see .github/workflows/framework-health.yml)
  #
  # Moved to CI:
  # - basedpyright: full type analysis too slow for every commit
  # - check-skill-line-count: whole-repo scan, not file-scoped
  # - check-orphan-files: whole-repo scan, not file-scoped
  # - check-framework-integrity --full: slow full codebase wikilink scan
  # - audit_framework_health: comprehensive audit

test(gemini): pin PKB MCP config; add non-PR PKB persistence E2E; capability matrix
  aops-core/docs/GEMINI-POLECAT-CAPABILITY-MATRIX.md
  tests/e2e/test_gemini_extension_validation.py
  tests/polecat/test_gemini_pkb_persistence_e2e.py
Due: dprint

fix(hooks,e2e): polecat-aware paths + e2e fixture corrections
  aops-core/lib/session_paths.py
  tests/e2e/test_all_invocation_paths.py
Due: none

feat(cowork): implement Cowork audit log ingestion and normalization (#776)
  aops-core/lib/session_reader.py
  aops-core/lib/transcript_parser.py
  aops-core/scripts/ingest_cowork.py
  aops-core/scripts/transcript.py
  scripts/repo-sync-cron.sh
  tests/lib/test_cowork_ingestion.py
Due: none

Remove GEMINI-POLECAT-CAPABILITY-MATRIX.md per standing user instruction
  aops-core/docs/GEMINI-POLECAT-CAPABILITY-MATRIX.md
Due: dprint

fix(merge-prep-cron): hoist defaults out of job-level env to fix workflow_run trigger
  .github/workflows/merge-prep-cron.yml
Due: none

feat(rules): R5.6 — no new orphan markdown + pre-commit gate
  .pre-commit-config.yaml
  aops-core/RULES.md
  scripts/check_no_new_orphan_md.py
  tests/hooks/test_check_no_new_orphan_md.py
Due: dprint

fix(merge-prep-cron): hoist defaults out of job-level env to fix workflow_run trigger (#792)
  .github/workflows/merge-prep-cron.yml
Due: none

Dispatch parity Half-B: move scheduled routines off Cowork Dispatch onto GHA (#779)
  templates/github-workflows/sleep-cycle.yml
Due: none

add old axioms again
  aops-core/AXIOMS.md
  aops-core/old_axioms.md
Due: dprint

more design changes
  aops-core/AXIOMS.md
Due: dprint

refine axioms: A4-A10 in new style, absorb orphans into A7
  aops-core/AXIOMS.md
Due: dprint

test(gemini): pin PKB MCP config; add non-PR persistence E2E; capability matrix (#787)
  tests/e2e/test_all_invocation_paths.py
  tests/e2e/test_gemini_extension_validation.py
Due: none

feat(rules): R5.6 — no new orphan markdown + pre-commit gate (#793)
  .pre-commit-config.yaml
  aops-core/RULES.md
  scripts/check_no_new_orphan_md.py
  specs/enforcement-map.md
  tests/hooks/test_check_no_new_orphan_md.py
Due: dprint

chore: move plugin manifests to templates/ to remove client-confusion vectors
  aops-core/RULES.md
  aops-core/lib/automode.py
  aops-core/lib/lint_axiom_refs.py
  release-please-config.json
  scripts/build.py
  scripts/lib/build_utils.py
  templates/aops-core.gemini-extension.json
  templates/aops-core.plugin.json
  templates/aops-tools.gemini-extension.json
  templates/aops-tools.plugin.json
  tests/test_automode.py
  tests/test_gemini_accessibility.py
  tests/test_plugin_structure.py
Due: dprint

axioms: pull expensive-ops into A12, add A11 observability, P#87 → A7
  aops-core/AXIOMS.md
Due: dprint

fix(hooks,e2e): polecat-aware paths + e2e fixture corrections (#788)
  aops-core/lib/session_paths.py
  tests/e2e/test_all_invocation_paths.py
  tests/lib/test_session_paths.py
Due: none

chore: move plugin manifests to templates/ to remove client-confusion vectors (#796)
  aops-core/RULES.md
  aops-core/lib/automode.py
  aops-core/lib/lint_axiom_refs.py
  release-please-config.json
  scripts/build.py
  scripts/lib/build_utils.py
  templates/aops-core.gemini-extension.json
  templates/aops-core.plugin.json
  templates/aops-tools.gemini-extension.json
  templates/aops-tools.plugin.json
  tests/e2e/test_gemini_extension_validation.py
  tests/test_automode.py
  tests/test_gemini_accessibility.py
  tests/test_plugin_structure.py
Due: dprint

docs: Add tool capabilities reference for dispatched sessions
  .agents/CORE.md
Due: dprint

docs: Add Playwright MCP to tool capabilities section
  .agents/CORE.md
Due: dprint

refactor(config): make projects.yaml the single source of truth; drop polecat.yaml
  README.md
  aops-core/hooks/session_env_setup.py
  aops-core/scripts/transcript.py
  aops-core/skills/daily/SKILL.md
  aops-core/skills/daily/SKILL.md.conflict-remote-20260427T022608Z
  aops-core/skills/daily/instructions/progress-sync.md
  aops-core/skills/daily/instructions/workflow-monitor.md
  aops-core/skills/project/instructions/init.md
  polecat/cli.py
  polecat/manager.py
  scripts/setup-machine.sh
  tests/e2e/test_crew_mandatory_args.py
  tests/e2e/test_polecat_run.py
  tests/polecat/conftest.py
  tests/polecat/test_auto_rebase.py
  tests/polecat/test_cli_docker.py
  tests/polecat/test_crew_name_generation.py
  tests/polecat/test_get_repo_path_validation.py
  tests/polecat/test_nuke_unpushed_gate.py
  tests/polecat/test_stale_branch_detection.py
  tests/polecat/test_sync_mirrors.py
  tests/polecat/test_sync_staleness_resolution.py
  tests/polecat/test_worktree_exclude_refspecs.py
  tests/polecat/test_worktree_upstream.py
Due: dprint, check-framework-integrity

specs: design — Stop-hook RBG advisory via existing gate infrastructure
  specs/stop-hook-rbg-advisory.md
Due: dprint

fix(polecat): address PR #799 review feedback
  polecat/manager.py
  scripts/setup-machine.sh
Due: none

axioms: add A13 Rule Against Perpetuities; reap unbounded commands
  .github/agents/merge-prep.agent.md
  .github/agents/pr-reviewer.agent.md
  .github/agents/qa.agent.md
  aops-core/AXIOMS.md
  templates/github-agent/worker.agent.md
Due: dprint

fix(merge-prep-cron): drop reserved GITHUB_TOKEN from workflow_call secrets
  .github/workflows/merge-prep-cron.yml
  examples/cross-repo-shim/merge-prep-cron.yml
Due: none

specs: design — Stop-hook RBG advisory via existing gate infrastructure (#801)
  specs/stop-hook-rbg-advisory.md
Due: dprint

refactor(config): projects.yaml as SSoT; drop polecat.yaml (#799)
  README.md
  aops-core/hooks/session_env_setup.py
  aops-core/scripts/transcript.py
  aops-core/skills/daily/SKILL.md
  aops-core/skills/daily/SKILL.md.conflict-remote-20260427T022608Z
  aops-core/skills/daily/instructions/progress-sync.md
  aops-core/skills/daily/instructions/workflow-monitor.md
  aops-core/skills/project/instructions/init.md
  polecat/cli.py
  polecat/manager.py
  scripts/setup-machine.sh
  tests/e2e/test_crew_mandatory_args.py
  tests/e2e/test_polecat_run.py
  tests/polecat/conftest.py
  tests/polecat/test_auto_rebase.py
  tests/polecat/test_cli_docker.py
  tests/polecat/test_crew_name_generation.py
  tests/polecat/test_get_repo_path_validation.py
  tests/polecat/test_nuke_unpushed_gate.py
  tests/polecat/test_stale_branch_detection.py
  tests/polecat/test_sync_mirrors.py
  tests/polecat/test_sync_staleness_resolution.py
  tests/polecat/test_worktree_exclude_refspecs.py
  tests/polecat/test_worktree_upstream.py
Due: dprint, check-framework-integrity

axioms: add A13 Rule Against Perpetuities; reap unbounded commands (#802)
  .github/agents/merge-prep.agent.md
  .github/agents/pr-reviewer.agent.md
  .github/agents/qa.agent.md
  aops-core/AXIOMS.md
  templates/github-agent/worker.agent.md
Due: dprint

docs(dump): require self-contained release_summary for handover stack
  aops-core/skills/end_session/SKILL.md
Due: dprint, check-framework-integrity

fix(credential-isolation): defer agent-env-map source resolution to shell
  aops-core/hooks/session_env_setup.py
  aops-core/lib/agent_env.py
  tests/integration/test_credential_isolation.py
Due: none

fix(orchestrator-boundary): scope dispositor reminder to brain repo only
  aops-core/HEURISTICS.md
  aops-core/hooks/router.py
  aops-core/lib/gates/custom_conditions.py
  aops-core/lib/orchestrator_boundary.py
  specs/enforcement-map.md
  tests/hooks/test_orchestrator_boundary.py
Due: dprint

docs(enforcement-map): track runtime hooks; document orchestrator-boundary scope
  README.md
  specs/enforcement-map.md
Due: dprint

specs: retire in-tree specs/, complete brain PKB migration
  .agents/CORE.md
  .agents/STATUS.md
  .agents/context-map.json
  aops-core/ENFORCEMENT-MAP.md
  aops-core/HEURISTICS.md
  aops-core/RULES.md
  aops-core/commands/review-pr.md
  aops-core/hooks/router.py
  aops-core/hooks/templates/orchestrator-boundary-warn.md
  aops-core/hooks/templates/orchestrator-dispositor-reminder.md
  aops-core/lib/gates/custom_conditions.py
  aops-core/lib/gates/definitions.py
  aops-core/lib/insights_generator.py
  aops-core/lib/orchestrator_boundary.py
  aops-core/lib/session_context.py
  aops-core/lib/session_naming.py
  aops-core/lib/session_state.py
  aops-core/lib/session_summary.py
  aops-core/lib/transcript_parser.py
  aops-core/skills/aops/references/enforcement-design.md
  aops-core/skills/aops/references/feature-dev-details.md
  aops-core/skills/aops/references/spec-development-details.md
  aops-core/skills/dogfood/SKILL.md
  aops-core/skills/project/workflows/context-map-audit.md
  aops-core/skills/remember/references/TAXONOMY.md
  aops-core/skills/sleep/SKILL.md
  aops-core/skills/supervisor/SKILL.md
  scripts/check_no_new_orphan_md.py
  scripts/check_skill_line_count.py
  specs/enforcement-map.md
  specs/stop-hook-rbg-advisory.md
  tests/hooks/test_check_no_new_orphan_md.py
  tests/hooks/test_orchestrator_boundary.py
  tests/test_session_context.py
Due: dprint, check-framework-integrity

fix(specs): move ENFORCEMENT-MAP to .agents/ — developer-only, not distributed
  .agents/ENFORCEMENT-MAP.md
  .agents/context-map.json
  aops-core/RULES.md
Due: dprint

fix(orchestrator-boundary): scope dispositor reminder to brain repo only (#805)
  README.md
  aops-core/HEURISTICS.md
  aops-core/hooks/router.py
  aops-core/hooks/session_env_setup.py
  aops-core/lib/agent_env.py
  aops-core/lib/gates/custom_conditions.py
  aops-core/lib/orchestrator_boundary.py
  aops-core/skills/end_session/SKILL.md
  specs/enforcement-map.md
  tests/hooks/test_orchestrator_boundary.py
  tests/integration/test_credential_isolation.py
Due: dprint, check-framework-integrity

fix(specs-pr): address gemini review — sync framework allowlist + fix CI behaviour doc
  .agents/ENFORCEMENT-MAP.md
  aops-core/HEURISTICS.md
  aops-core/hooks/templates/orchestrator-dispositor-reminder.md
Due: dprint
