Repository nicsuzor/academicOps: changes, and which pre-commit hooks are due for each by the changed paths.
All: dprint, check-framework-integrity

.pre-commit-config.yaml:

# Pre-commit hooks for academicOps framework governance
# See https://pre-commit.com for more info

repos:
  # Markdown/JSON/TOML validation (dprint - check-only, no auto-fix)
  # Ruff check --fix auto-fixes what it can; ruff-format checks formatting
  - repo: local
    hooks:
      - id: dprint
        name: dprint check
        entry: uv run dprint check
        language: system
        types_or: [markdown, json, toml]
        pass_filenames: true

  # Markdown linting (catches issues dprint doesn't fix)
  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.12.1
    hooks:
      - id: markdownlint-cli2
        exclude: '^archived/'

  # Standard hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: '\.excalidraw$'
      - id: end-of-file-fixer
        exclude: '\.excalidraw$'
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
        args: ['--maxkb=500']

  # Python linting (auto-fix enabled)
  # Ruff check --fix auto-fixes what it can; ruff-format checks formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.4
    hooks:
      - id: ruff
        args: [--fix]
        exclude: '^archived/'
      - id: ruff-format
        args: [--check]
        exclude: '^archived/'

  # Framework integrity checks (index wikilinks, skill entries, workflow length)
  # Consolidates check-workflow-length + new index integrity validation
  - repo: local
    hooks:
      - id: check-framework-integrity
        name: framework integrity check
        entry: uv run python scripts/check_framework_integrity.py
        language: system
        pass_filenames: false
        files: '(WORKFLOWS|SKILLS)\.md$|workflows/.*\.md$|skills/.*/SKILL\.md$|commands/.*\.md$'

  # Type checking and full framework health checks run in CI only
  # (see .github/workflows/framework-health.yml)
  #
  # Moved to CI:
  # - basedpyright: full type analysis too slow for every commit
  # - check-skill-line-count: whole-repo scan, not file-scoped
  # - check-orphan-files: whole-repo scan, not file-scoped
  # - check-framework-integrity --full: slow full codebase wikilink scan
  # - audit_framework_health: comprehensive audit

fix(ci): carry forward merge-prep success on synchronize events
  .github/workflows/pr-pipeline.yml
Due: none

chore(main): release 0.3.31
  .release-please-manifest.json
  CHANGELOG.md
  pyproject.toml
  templates/aops-core.gemini-extension.json
  templates/aops-core.plugin.json
  templates/aops-tools.gemini-extension.json
  templates/aops-tools.plugin.json
Due: dprint

fix(docker): replace invalid for-loop one-liner with list comprehension
  Dockerfile
Due: none

fix(gates): QA gate closes on task-claim only, not write-tool use
  aops-core/lib/gates/custom_conditions.py
  aops-core/lib/gates/definitions.py
  specs/GATES.md
  tests/hooks/test_qa_gate_close_trigger.py
Due: dprint

docs(gates): fix stale QA gate custom-condition table entry
  specs/GATES.md
Due: dprint

refactor(hooks): use invoke_agent for Gemini enforcer/qa calls
  aops-core/hooks/templates/enforcer-instruction.md
  aops-core/hooks/templates/enforcer-policy-context.md
  aops-core/hooks/templates/qa-policy-context.md
Due: dprint

test: verify agent vs user hook content routing across all events
  tests/hooks/test_output_channel_routing.py
Due: none

feat(antigravity): map UserPromptSubmit/Stop to PreInvocation/PostInvocation in agy build
  aops-core/hooks/router.py
  scripts/build.py
  tests/hooks/test_normalize_input_regression.py
  tests/test_antigravity_hooks_build.py
Due: none

chore: saving uncommitted agent work
  run_test.sh
  run_test_block.sh
  run_test_loop.sh
  run_test_seq.sh
Due: none

docs(self-test): add plugin pre-check and permission mode guidance to §2
  aops-core/skills/aops/workflows/11-self-test.md
Due: dprint, check-framework-integrity

docs: v0.4 integrity & security release notes (fixes #1385 quality issues)
  specs/releases/v0.4-integrity-and-security.md
Due: dprint

feat(gates): add sentinel gate for destructive env-op protection
  aops-core/hooks/gate_config.py
  aops-core/hooks/templates/sentinel-policy-context.md
  aops-core/hooks/templates/sentinel-policy-message.md
  aops-core/lib/gates/custom_conditions.py
  aops-core/lib/gates/definitions.py
  aops-core/lib/template_registry.py
  aops-core/policies/deny-extension-writes.toml
  specs/GATES.md
  tests/hooks/test_sentinel_gate.py
Due: dprint

spec(enforcement): fix axiom-as-mechanism pyramid error; surface base-of-pyramid vectors (Phase A.5)
  specs/ENFORCEMENT-MAP.md
  specs/enforcement/enforcement.md
Due: dprint

test: fix stale ANTHROPIC_API_KEY forwarding assertion
  tests/integration/test_credential_isolation.py
Due: none

feat(build): ship aops-cowork as a separate plugin with PKB-native task-list sync
  Makefile
  aops-core/BUILD.md
  aops-core/commands/pull.md
  aops-core/skills/cowork-sync/SKILL.md
  aops-core/skills/end_session/SKILL.md
  scripts/build.py
  templates/aops-core.cowork-plugin.json
Due: dprint, check-framework-integrity

fix(cowork-sync): correct get_task_children param to id (was parent_id)
  aops-core/skills/cowork-sync/SKILL.md
Due: dprint, check-framework-integrity

fix(session-env): use AOPS_BOT_GH_TOKEN exclusively for GitHub auth, fail-closed
  aops-core/hooks/session_env_setup.py
  tests/integration/test_credential_isolation.py
Due: none

fix(hooks): stop harness worktrees from pushing to main
  aops-core/hooks/session_env_setup.py
  aops-core/lib/git_safety.py
  tests/lib/test_git_safety.py
Due: none

Update aops-core/lib/git_safety.py
  aops-core/lib/git_safety.py
Due: none

update call templates
  aops-core/hooks/templates/enforcer-instruction.md
  aops-core/hooks/templates/enforcer-policy-context.md
  aops-core/hooks/templates/qa-policy-context.md
Due: dprint

fix(docker): replace invalid for-loop one-liner with list comprehension (#1417)
  Dockerfile
Due: none

fix(gates): QA gate closes on task-claim only, not write-tool use (#1418)
  aops-core/lib/gates/custom_conditions.py
  aops-core/lib/gates/definitions.py
  specs/GATES.md
  tests/hooks/test_qa_gate_close_trigger.py
Due: dprint

test: verify agent vs user hook content routing across all events (#1420)
  tests/hooks/test_output_channel_routing.py
Due: none

feat(antigravity): map UserPromptSubmit/Stop to PreInvocation/PostInvocation in agy build (#1421)
  aops-core/hooks/router.py
  scripts/build.py
  tests/hooks/test_normalize_input_regression.py
  tests/test_antigravity_hooks_build.py
Due: none

docs(self-test): add plugin pre-check and permission mode guidance to §2 (#1422)
  aops-core/skills/aops/workflows/11-self-test.md
Due: dprint, check-framework-integrity

feat(gates): add sentinel gate for destructive env-op protection (#1424)
  aops-core/hooks/gate_config.py
  aops-core/hooks/templates/sentinel-policy-context.md
  aops-core/hooks/templates/sentinel-policy-message.md
  aops-core/lib/gates/custom_conditions.py
  aops-core/lib/gates/definitions.py
  aops-core/lib/template_registry.py
  aops-core/policies/deny-extension-writes.toml
  specs/GATES.md
  tests/hooks/test_sentinel_gate.py
Due: dprint

chore(main): release 0.3.32
  .release-please-manifest.json
  CHANGELOG.md
  pyproject.toml
  templates/aops-core.gemini-extension.json
  templates/aops-core.plugin.json
  templates/aops-tools.gemini-extension.json
  templates/aops-tools.plugin.json
Due: dprint

fix(build): exclude sync-conflict and backup detritus from plugin builds
  aops-core/skills/daily/instructions/work-summary.md.conflict-remote-20260427T022608Z
  scripts/lib/build_utils.py
Due: none

fix(build): exclude cache detritus from cowork zip (invalid-char upload error)
  scripts/build.py
Due: none

fix: complete truncated return statement in check_installed_plugin_version (refs #1383)
  scripts/lib/build_utils.py
Due: none

refactor(env): standardise env vars, close OAuth leak, fix A8 fallbacks
  .github/workflows/agent-merge-prep.yml
  .github/workflows/lint.yml
  aops-core/hooks/session_env_setup.py
  aops-core/lib/env_provision.py
  aops-core/lib/host_secrets.py
  aops-core/lib/polecat_config.py
  polecat/cli.py
  polecat/defaults/polecat.yaml.example
  scripts/macos-launchd/launchd-env.sh
  tests/hooks/test_session_env_setup.py
  tests/lib/test_polecat_config.py
  tests/polecat/test_cli_docker.py
  tests/test_env_provision.py
  tests/test_host_secrets.py
Due: none

feat(james): graceful multi-reader fallback when nested-dispatch is unavailable
  aops-core/agents/james.md
  aops-core/commands/review-pr.md
Due: dprint, check-framework-integrity

feat(dispatch): worker completion summaries carry observed-vs-asserted verification manifest
  aops-core/hooks/templates/ida-reminder.md
  aops-core/skills/aops/references/authoring-discipline.md
  aops-core/skills/supervisor/instructions/worker-dispatch.md
Due: dprint

test(hooks): end-to-end message-path leak coverage from GATE_CONFIGS
  tests/hooks/test_message_path_leak_coverage.py
Due: none

fix(hooks): strip SYSTEM HOOK INSTRUCTION scaffold from user-visible Stop reason
  aops-core/hooks/router.py
  aops-core/hooks/templates/ida-reminder.md
  tests/hooks/test_custodiet_cluster.py
  tests/hooks/test_message_path_leak_coverage.py
  tests/hooks/test_output_channel_routing.py
Due: dprint

feat(scripts): add user_prompts timeline script
  CHANGELOG.md
  aops-core/scripts/user_prompts.py
  specs/ENFORCEMENT-MAP.md
  specs/enforcement/enforcement.md
Due: dprint

feat(transcript): capture and aggregate CC/Gemini session metadata
  aops-core/lib/insights_generator.py
  aops-core/lib/transcript_parser.py
  aops-core/scripts/transcript.py
Due: none

fix(hooks): compress qa-policy-context so no agent-call syntax leaks to user
  aops-core/hooks/templates/qa-policy-context.md
  tests/hooks/test_message_path_leak_coverage.py
Due: dprint
