Repository nicsuzor/academicOps: changes, and which pre-commit hooks are due for each by the changed paths.
All: dprint, check-framework-integrity

dprint:
  name: dprint check
  entry: uv run dprint check
  language: system
  pass_filenames: true

check-framework-integrity:
  name: framework integrity check
  entry: uv run python scripts/check_framework_integrity.py
  language: system
  pass_filenames: false

fix(test): strip binary name from agent args passed after '--'
  tests/conftest.py
  tests/e2e/test_all_invocation_paths.py
Due: none

fix(crew): chmod .cache dir for any-UID containers; add Docker socket tests
  Dockerfile
  tests/e2e/test_docker_tooling.py
  tests/polecat/test_cli_docker.py
Due: none

fix(crew): exclude .venv from Gemini extension copy to avoid broken symlinks
  polecat/cli.py
Due: none

fix(crew): OAuth token support + Docker/Colima test fixes (#439)
  polecat/cli.py
  scripts/verify-crew-sessions.sh
  tests/conftest.py
  tests/e2e/test_all_invocation_paths.py
  tests/e2e/test_crew_docker_session.py
  tests/e2e/test_docker_tooling.py
  tests/polecat/test_cli_docker.py
Due: none

update mcp template
  aops-core/mcp.json.template
Due: none

fix(crew): chmod .cache dir for any-UID containers; add Docker socket tests (#440)
  Dockerfile
  tests/e2e/test_docker_tooling.py
  tests/polecat/test_cli_docker.py
Due: none

feat(agents): register enforcer as compliance subagent
  aops-core/config/automode-rules.json
  aops-core/hooks/gate_config.py
Due: dprint

feat(agents): create enforcer agent with baked-in axioms
  aops-core/agents/enforcer.md
Due: dprint

fix: address PR review feedback
  .github/workflows/agent-enforcer.yml
  aops-core/agents/enforcer.md
  docs/VISION.md
Due: dprint

fix: fetch enforcer prompt from academicOps for cross-repo calls
  .github/workflows/agent-enforcer.yml
Due: none

refactor(agents): separate enforcer identity from task
  aops-core/agents/enforcer.md
Due: dprint

refactor: checkout academicOps to read enforcer prompt directly
  .github/workflows/agent-enforcer.yml
Due: none

feat(workflows): add reusable enforcer review workflow
  .github/workflows/agent-enforcer.yml
Due: none

feat: dismiss previous enforcer review before posting new one
  .github/workflows/agent-enforcer.yml
Due: none

fix: sync polecat defaults with enforcer allow rule + rebuild dist
  .agent/rules/enforcement-map.md
  aops-core/skills/daily/instructions/progress-sync.md
  dist/aops-claude/.claude-plugin/plugin.json
  dist/aops-claude/mcp.json.template
  dist/aops-claude/skills/daily/instructions/progress-sync.md
  polecat/defaults/claude-settings.json
Due: dprint

feat: enforcer agent — unified compliance replacing custodiet (#435)
  .agent/rules/enforcement-map.md
  .github/workflows/agent-enforcer.yml
  aops-core/.claude-plugin/plugin.json
  aops-core/agents/enforcer.md
  aops-core/config/automode-rules.json
  aops-core/enforcement-map.md
  aops-core/hooks/gate_config.py
  aops-core/skills/daily/instructions/progress-sync.md
  dist/aops-claude/.claude-plugin/plugin.json
  dist/aops-claude/config/automode-rules.json
  dist/aops-claude/enforcement-map.md
  dist/aops-claude/hooks/gate_config.py
  dist/aops-claude/mcp.json.template
  dist/aops-claude/pyproject.toml
  dist/aops-claude/skills/daily/instructions/progress-sync.md
  docs/VISION.md
  polecat/defaults/claude-settings.json
Due: dprint

add enforcer.md
  dist/aops-claude/agents/enforcer.md
Due: dprint

refactor: merge dogfood skill into framework workflows + symlink .claude/skills
  .agents/skills/framework/SKILL.md
  .agents/skills/framework/workflows/10-reflective-execution.md
  .claude/skills
  .gitignore
Due: dprint, check-framework-integrity

fix(polecat): e2e test timeouts, crew sandbox, stale crew clones
  polecat/cli.py
  polecat/manager.py
  tests/e2e/test_all_invocation_paths.py
  tests/e2e/test_pkb_mcp.py
Due: none

fix(hooks): persist AOPS_SESSIONS/POLECAT_HOME via CLAUDE_ENV_FILE
  aops-core/hooks/session_env_setup.py
  dist/aops-claude/hooks/session_env_setup.py
Due: none

fix(polecat): e2e test timeouts, crew sandbox, stale crew clones (#442)
  aops-core/hooks/session_env_setup.py
  dist/aops-claude/hooks/session_env_setup.py
  polecat/cli.py
  polecat/manager.py
  tests/e2e/test_all_invocation_paths.py
  tests/e2e/test_pkb_mcp.py
Due: none

fix(mcp): use wrapper script for PKB MCP server to fix PATH resolution
  .agents/skills/framework/references/hooks.md
  aops-core/hooks/router.sh
  aops-core/mcp.json.template
  aops-core/scripts/ensure-path.sh
  aops-core/scripts/run-mcp.sh
  dist/aops-claude/.mcp.json
  dist/aops-claude/scripts/ensure-path.sh
  dist/aops-claude/scripts/run-mcp.sh
Due: dprint

fix: pre-commit hook PATH bootstrap + trim hooks reference doc
  .agents/skills/framework/references/hooks.md
  scripts/hooks/pre-commit
Due: dprint

fix(mcp): PATH bootstrap for plugin MCP + pre-commit hook (#443)
  .agents/skills/framework/references/hooks.md
  aops-core/hooks/router.sh
  aops-core/mcp.json.template
  aops-core/scripts/ensure-path.sh
  aops-core/scripts/run-mcp.sh
  dist/aops-claude/.mcp.json
  dist/aops-claude/scripts/ensure-path.sh
  dist/aops-claude/scripts/run-mcp.sh
  scripts/hooks/pre-commit
  specs/session-start-injection.md
Due: dprint

remove butler loose file
  aops-core/BUTLER.md
Due: dprint

feat(build): add Cowork plugin build target
  .gitignore
  Makefile
  docs/VISION.md
  scripts/build.py
Due: dprint

feat(build): add Cowork plugin build target (#444)
  .claude-plugin/marketplace.json
  .gitignore
  Makefile
  docs/VISION.md
  scripts/build.py
  tests/test_build_cowork_includes.py
Due: dprint

fix(ci): include dist/aops-cowork/ in build commit
  .github/workflows/build-extension.yml
Due: none

feat(pkb): knowledge consolidation system — episodic→semantic transformation
  aops-core/skills/remember/SKILL.md
  aops-core/skills/remember/procedures/capture.md
  aops-core/skills/remember/procedures/consolidate.md
  aops-core/skills/remember/references/detail-level-guide.md
  aops-core/skills/remember/references/obsidian-format-spec.md
  aops-core/skills/sleep/SKILL.md
  templates/github-workflows/pkb-quality-review.yml
  templates/github-workflows/sleep-cycle.yml
  templates/github-workflows/transcript-extraction.yml
Due: dprint, check-framework-integrity

refactor: centralise PATH bootstrap for CLI tool detection (uv, gh)
  aops-core/hooks/session_env_setup.py
  aops-core/lib/path_bootstrap.py
  aops-core/scripts/ensure-path.sh
  tests/lib/test_path_bootstrap.py
Due: none

fix(tests): path_bootstrap tests must isolate from host PATH
  tests/lib/test_path_bootstrap.py
Due: none

fix: address PR review feedback on PATH bootstrap
  aops-core/hooks/session_env_setup.py
  tests/lib/test_path_bootstrap.py
Due: none

refactor: centralise PATH bootstrap for CLI tool detection (#447)
  aops-core/hooks/session_env_setup.py
  aops-core/lib/path_bootstrap.py
  aops-core/scripts/ensure-path.sh
  scripts/build.py
  tests/lib/test_path_bootstrap.py
  tests/test_build_file_completeness.py
Due: none

refactor(axioms): revise P#46 — memory model supports episodic + semantic
  .agents/rules/AXIOMS.md
  aops-core/RULES.md
  aops-core/agents/framework-ops.md
  dist/aops-claude/RULES.md
  dist/aops-claude/agents/framework-ops.md
Due: dprint

Path conditions:
  dprint: any of: \.(md|markdown|mdown)$, \.json$, \.toml$
  check-framework-integrity: any of: (WORKFLOWS|SKILLS)\.md$|workflows/.*\.md$|skills/.*/SKILL\.md$|commands/.*\.md$
