Repository nicsuzor/academicOps: changes, and which pre-commit hooks are due for each by the changed paths.
All: dprint, check-framework-integrity

.pre-commit-config.yaml:

# Pre-commit hooks for academicOps framework governance
# See https://pre-commit.com for more info

repos:
  # Markdown/JSON/TOML validation (dprint - check-only, no auto-fix)
  # Ruff check --fix auto-fixes what it can; ruff-format checks formatting
  - repo: local
    hooks:
      - id: dprint
        name: dprint check
        entry: uv run dprint check
        language: system
        types_or: [markdown, json, toml]
        pass_filenames: true

  # Markdown linting (catches issues dprint doesn't fix)
  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.12.1
    hooks:
      - id: markdownlint-cli2
        exclude: '^archived/'

  # Standard hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: '\.excalidraw$'
      - id: end-of-file-fixer
        exclude: '\.excalidraw$'
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
        args: ['--maxkb=500']

  # Python linting (auto-fix enabled)
  # Ruff check --fix auto-fixes what it can; ruff-format checks formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.4
    hooks:
      - id: ruff
        args: [--fix]
        exclude: '^archived/'
      - id: ruff-format
        args: [--check]
        exclude: '^archived/'

  # Framework integrity checks (index wikilinks, skill entries, workflow length)
  # Consolidates check-workflow-length + new index integrity validation
  - repo: local
    hooks:
      - id: check-framework-integrity
        name: framework integrity check
        entry: uv run python scripts/check_framework_integrity.py
        language: system
        pass_filenames: false
        files: '(WORKFLOWS|SKILLS)\.md$|workflows/.*\.md$|skills/.*/SKILL\.md$|commands/.*\.md$'

  # Type checking and full framework health checks run in CI only
  # (see .github/workflows/framework-health.yml)
  #
  # Moved to CI:
  # - basedpyright: full type analysis too slow for every commit
  # - check-skill-line-count: whole-repo scan, not file-scoped
  # - check-orphan-files: whole-repo scan, not file-scoped
  # - check-framework-integrity --full: slow full codebase wikilink scan
  # - audit_framework_health: comprehensive audit

Update .github/workflows/agent-merge-prep.yml
  .github/workflows/agent-merge-prep.yml
Due: none

Update .github/workflows/summary-and-merge.yml
  .github/workflows/summary-and-merge.yml
Due: none

Update .github/workflows/typecheck.yml
  .github/workflows/typecheck.yml
Due: none

feat(setup): add post-merge hook check to setup-machine.sh
  scripts/setup-machine.sh
Due: none

fix(hydrator): read workflows internally, never delegate to agent
  aops-core/agents/prompt-hydrator.md
  aops-core/hooks/templates/prompt-hydrator-context.md
  tests/integration/test_hydrator.py
Due: dprint

docs(handover): add final user summary as last step in /dump workflow
  aops-core/commands/dump.md
  aops-core/workflows/base-handover.md
Due: dprint, check-framework-integrity

fix(hydrator): update Tool Restrictions table to reflect MUST-read enforcement
  aops-core/agents/prompt-hydrator.md
Due: dprint

refactor(setup): deduplicate hook checks in setup-machine.sh
  scripts/setup-machine.sh
Due: none

test(acceptance): run v0.3 routing tests, document failure patterns
  .agent/workflows/manual-qa.md
  scripts/build_hydrator_test_input.py
  tests/acceptance/v0.3-release.md
  tests/acceptance/v1.1-release.md
Due: dprint, check-framework-integrity

docs(handover): add codify-learnings step and PR-filing to handover
  aops-core/commands/dump.md
  aops-core/workflows/base-handover.md
  aops-core/workflows/references/handover-details.md
Due: dprint, check-framework-integrity

fix(ci): fork PR checkout, merge-prep ref attribution, agent-review Option A
  .agent/STATUS.md
  .github/rulesets/pr-review-and-merge.yml
  .github/workflows/agent-review.yml
  .github/workflows/merge-prep-cron.yml
  .github/workflows/typecheck.yml
  specs/pr-pipeline-v2.md
  tests/hooks/fixtures/gate_scenarios.json
Due: dprint

feat: implement PR Pipeline v2 — cron-driven, environment-gated merge
  .github/agents/conceptual-review.agent.md
  .github/agents/merge-prep.agent.md
  .github/agents/summary-brief.agent.md
  .github/rulesets/pr-review-and-merge.yml
  .github/workflows/agent-merge-prep.yml
  .github/workflows/agent-review.yml
  .github/workflows/lint.yml
  .github/workflows/merge-prep-cron.yml
  .github/workflows/summary-and-merge.yml
  .github/workflows/typecheck.yml
  scripts/validate-ruleset-alignment.sh
Due: dprint

Update scripts/validate-ruleset-alignment.sh
  scripts/validate-ruleset-alignment.sh
Due: none

Update .github/agents/conceptual-review.agent.md
  .github/agents/conceptual-review.agent.md
Due: dprint

fix(hydration): allow infrastructure ToolSearch calls in hydration gate
  aops-core/lib/gates/custom_conditions.py
  aops-core/lib/gates/definitions.py
  tests/hooks/test_toolsearch_bypass.py
Due: none

refactor(gate): introduce always_available tool category
  aops-core/hooks/gate_config.py
  aops-core/lib/gates/definitions.py
  tests/hooks/test_gate_config.py
  tests/hooks/test_gate_replay.py
  tests/hooks/test_gate_verdicts.py
Due: none

fix(gate): categorize compliance agent spawns as infrastructure
  aops-core/hooks/gate_config.py
  aops-core/lib/gates/engine.py
Due: none

test(hooks): red tests for ToolSearch select: bypass — 2 red, 5 green (aops-86528f6c)
  aops-core/hooks/gate_config.py
  tests/hooks/test_gate_config.py
Due: none

docs(tdd): clarify valid red failures and live-log gate test pattern
  aops-core/workflows/base-tdd.md
  docs/hook-testing-requirements.md
Due: dprint, check-framework-integrity

test(hooks): add red tests for ToolSearch select: hydration bypass (aops-86528f6c)
  tests/hooks/test_gate_config.py
Due: none

test(gates): red live-log test — ToolSearch must not be blocked by hydration gate (aops-86528f6c)
  tests/hooks/fixtures/gate_scenarios_live.json
  tests/hooks/test_gate_verdicts.py
Due: dprint

feat(tests): add v0.3 acceptance tests, update STATUS.md
  .agent/STATUS.md
  tests/acceptance/v0.3-release.md
Due: dprint

audit(framework): add 5 skills + 2 commands to SKILLS.md, document C2 constraint
  README.md
  aops-core/CONSTRAINTS.md
  aops-core/SKILLS.md
  tests/acceptance/v1.1-release.md
Due: dprint, check-framework-integrity

fix(integrity): add reverse check — disk->SKILLS.md completeness enforcement
  scripts/check_framework_integrity.py
  tests/lib/test_check_framework_integrity.py
Due: none

Update tests/hooks/test_gate_verdicts.py
  tests/hooks/test_gate_verdicts.py
Due: none

test(acceptance): fix hydrator test harness with context builder
  scripts/build_hydrator_test_input.py
  tests/acceptance/v0.3-release.md
  tests/acceptance/v1.1-release.md
Due: dprint

feat(graph): iteration 1 — ego network focus mode + focus scope default
  lib/overwhelm/d3_component/index.html
  lib/overwhelm/dashboard.py
  qa/graph-evaluation-rubric.md
Due: dprint
