Repository nicsuzor/academicOps: changes, and which pre-commit hooks are due for each by the changed paths.
All: radon-complexity, radon-maintainability, test-architecture, pytest

radon-complexity:
  name: Check code complexity
  entry: uv run radon cc --min B --total-average
  language: system
  pass_filenames: true

radon-maintainability:
  name: Check maintainability index
  entry: uv run radon mi --min B
  language: system
  pass_filenames: true

test-architecture:
  name: Enforce test architecture rules
  entry: uv run python scripts/check_test_architecture.py
  language: system
  pass_filenames: false

pytest:
  name: Run tests (parallel)
  entry: uv run pytest -n auto -m "not slow and not integration and not endtoend"
  language: system
  pass_filenames: false
  stages:
  - pre-commit

fix: clarify prompt hydration flow in diagram
  docs/execution-flow.md
Due: none

feat: extract prompt hydration instruction to configurable template
  docs/execution-flow.md
  hooks/templates/prompt-hydration-instruction.md
  hooks/user_prompt_submit.py
Due: radon-complexity, radon-maintainability, pytest

feat(heuristics): add H33 - real data fixtures over fabrication
  HEURISTICS.md
  skills/python-dev/references/testing.md
Due: none

feat(commands): add /encode for pattern capture with iterative refinement
  commands/encode.md
  specs/encode-command-spec.md
Due: none

update reflect and flow
  INDEX.md
  commands/log.md
  commands/reflect.md
  docs/execution-flow.md
  hooks/templates/prompt-hydration-instruction.md
  hooks/templates/prompt-hydrator-context.md
  hooks/user_prompt_submit.py
  reference-graph.csv
  specs/execution-flow-spec.md
  specs/prompt-hydration.md
  tests/test_user_prompt_submit_hook.py
Due: radon-complexity, radon-maintainability, test-architecture, pytest

feat(dashboard): add narrative synthesis for ADHD context recovery
  scripts/synthesize_dashboard.py
  skills/dashboard/dashboard.py
  skills/session-insights/SKILL.md
  skills/session-insights/scripts/extract_narrative.py
  specs/dashboard-narrative.md
Due: radon-complexity, radon-maintainability, pytest

feat(commands): add /log step to /reflect for deviation tracking
  commands/reflect.md
Due: none

feat(skills): add convert-to-md skill for batch document conversion
  commands/convert-to-md.md
  skills/convert-to-md/SKILL.md
Due: none

remove dupe script
  install.sh
Due: none

Add skill compliance audit script
  scripts/audit_skill_compliance.py
  tests/data/sample_transcript_1.md
  tests/data/sample_transcript_2.md
  tests/data/sample_transcript_3.md
  tests/test_skill_compliance_audit.py
Due: radon-complexity, radon-maintainability, test-architecture, pytest

Filter commands from skill compliance audit
  scripts/audit_skill_compliance.py
Due: radon-complexity, radon-maintainability, pytest

Track command suggestions as router quality issue
  scripts/audit_skill_compliance.py
  tests/test_skill_compliance_audit.py
Due: radon-complexity, radon-maintainability, test-architecture, pytest

Support new hydrator format in compliance audit
  scripts/audit_skill_compliance.py
Due: radon-complexity, radon-maintainability, pytest

Remove old format support, use current hydrator format only
  scripts/audit_skill_compliance.py
  tests/data/sample_transcript_1.md
  tests/data/sample_transcript_2.md
  tests/data/sample_transcript_3.md
  tests/data/sample_transcript_new_format.md
  tests/test_skill_compliance_audit.py
Due: radon-complexity, radon-maintainability, test-architecture, pytest

Enhance session-insights mining with skill/context analysis
  skills/session-insights/SKILL.md
  skills/session-insights/mining-prompt.md
Due: none

refactor: remove Claude API from dashboard, use Gemini session insights
  scripts/synthesize_dashboard.py
  skills/dashboard/dashboard.py
  skills/session-insights/SKILL.md
Due: radon-complexity, radon-maintainability, pytest

Document Session Insights panel and dashboard synthesis architecture
  skills/dashboard/SKILL.md
Due: none

fix: skip prompt hydration for agent completion notifications
  hooks/user_prompt_submit.py
Due: radon-complexity, radon-maintainability, pytest

test: add tests for system message filtering in prompt hydrator
  tests/test_user_prompt_submit_hook.py
Due: radon-complexity, radon-maintainability, test-architecture, pytest

feat: add session-end reflection with automated heuristic updates
  README.md
  ROADMAP.md
  VISION.md
  commands/log.md
  commands/reflect.md
  hooks/router.py
  hooks/session_reflect.py
  setup.sh
  skills/session-insights/SKILL.md
Due: radon-complexity, radon-maintainability, pytest

Strengthen prompt-hydrator invocation instruction
  HEURISTICS.md
  hooks/templates/prompt-hydration-instruction.md
Due: none

fix(session-insights): match exact session ID, not partial prefix
  HEURISTICS.md
  skills/session-insights/scripts/find_sessions.py
Due: radon-complexity, radon-maintainability, pytest

update for antigravity
  RULES.md
  skills/session-insights/SKILL.md
  specs/audit-skill.md
  specs/cognitive-load-dashboard.md
Due: none

Add Knowledge Graph Integration section to remember skill
  skills/remember/SKILL.md
Due: none

Add H34 Semantic Link Density heuristic
  HEURISTICS.md
  skills/garden/SKILL.md
  skills/remember/SKILL.md
Due: none

feat(audit): Add framework health metrics script
  health-baseline-20260104.json
  health-baseline-20260104.md
  scripts/audit_framework_health.py
Due: radon-complexity, radon-maintainability, pytest

docs(INDEX): Complete file accounting
  INDEX.md
Due: none

docs(RULES): Complete axiom/heuristic → enforcement mapping
  RULES.md
Due: none

docs(specs): Add specs for 7 actively-used skills
  specs/analyst-skill.md
  specs/dashboard-skill.md
  specs/framework-skill.md
  specs/garden-skill.md
  specs/session-insights-skill.md
  specs/supervisor-skill.md
  specs/transcript-skill.md
Due: none

docs: Fix broken wikilinks in VISION.md and update specs index
  VISION.md
  specs/specs.md
Due: none

feat(audit): Complete framework governance audit (Phases 7-10)
  .github/workflows/framework-health.yml
  .pre-commit-config.yaml
  RULES.md
  docs/execution-flow.md
  scripts/check_broken_wikilinks.py
  scripts/check_index_completeness.py
  scripts/check_orphan_files.py
  scripts/check_skill_line_count.py
  skills/audit/SKILL.md
  specs/audit-skill.md
  specs/framework-health.md
  specs/specs.md
Due: radon-complexity, radon-maintainability, pytest

fix(hooks): hydrator reads temp file, not main agent
  hooks/templates/prompt-hydration-instruction.md
Due: none

docs(INDEX): Complete file itemization (175 → 0 missing)
  INDEX.md
  scripts/audit_framework_health.py
Due: radon-complexity, radon-maintainability, pytest

fix(audit): Improve wikilink resolution to reduce false positives
  scripts/audit_framework_health.py
Due: radon-complexity, radon-maintainability, pytest

fix(wikilinks): Remove 7 broken wikilink references
  ROADMAP.md
  docs/execution-flow.md
  skills/framework/SKILL.md
  skills/framework/references/hooks_guide.md
  specs/effectual-planning-agent.md
  specs/reference-map skill.md
Due: none

fix(audit): Improve orphan file detection with expected patterns
  scripts/audit_framework_health.py
Due: radon-complexity, radon-maintainability, pytest

feat: bootstrap minimal reflexive feedback loop for Gemini
  BOOTSTRAP.md
  GEMINI.md
Due: none

chore: framework governance updates and policy enforcement bypass Revert
  BOOTSTRAP.md
  FRAMEWORK.md
  commands/check-policy.sh
  skills/framework/SKILL.md
  skills/framework/scripts/validate_docs.py
Due: radon-complexity, radon-maintainability, pytest

chore: governance updates (Axiom citations, Exit Chute heuristic, Link fixes)
  GEMINI.md
  skills/framework/SKILL.md
  skills/framework/scripts/validate_docs.py
  specs/framework-skill.md
  specs/quality-rubric.md
  specs/session-start-injection.md
Due: radon-complexity, radon-maintainability, pytest

Path conditions:
  radon-complexity: any of: \.py$
  radon-maintainability: any of: \.py$
  test-architecture: any of: ^tests/.*\.py$
  pytest: any of: \.py$
