Repository nicsuzor/academicOps: changes, and which pre-commit hooks are due for each by the changed paths.
All: dprint, check-framework-integrity

.pre-commit-config.yaml:

# Pre-commit hooks for academicOps framework governance
# See https://pre-commit.com for more info

repos:
  # Markdown/JSON/TOML validation (dprint - check-only, no auto-fix)
  # Ruff check --fix auto-fixes what it can; ruff-format checks formatting
  - repo: local
    hooks:
      - id: dprint
        name: dprint check
        entry: uv run dprint check
        language: system
        types_or: [markdown, json, toml]
        pass_filenames: true

  # Markdown linting (catches issues dprint doesn't fix)
  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.12.1
    hooks:
      - id: markdownlint-cli2
        exclude: '^archived/'

  # Standard hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: '\.excalidraw$'
      - id: end-of-file-fixer
        exclude: '\.excalidraw$'
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
        args: ['--maxkb=500']

  # Python linting (auto-fix enabled)
  # Ruff check --fix auto-fixes what it can; ruff-format checks formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.4
    hooks:
      - id: ruff
        args: [--fix]
        exclude: '^archived/'
      - id: ruff-format
        args: [--check]
        exclude: '^archived/'

  # Framework integrity checks (index wikilinks, skill entries, workflow length)
  # Consolidates check-workflow-length + new index integrity validation
  - repo: local
    hooks:
      - id: check-framework-integrity
        name: framework integrity check
        entry: uv run python scripts/check_framework_integrity.py
        language: system
        pass_filenames: false
        files: '(WORKFLOWS|SKILLS)\.md$|workflows/.*\.md$|skills/.*/SKILL\.md$|commands/.*\.md$'

  # Type checking and full framework health checks run in CI only
  # (see .github/workflows/framework-health.yml)
  #
  # Moved to CI:
  # - basedpyright: full type analysis too slow for every commit
  # - check-skill-line-count: whole-repo scan, not file-scoped
  # - check-orphan-files: whole-repo scan, not file-scoped
  # - check-framework-integrity --full: slow full codebase wikilink scan
  # - audit_framework_health: comprehensive audit

fix(ci): quote if expressions in pr-pipeline to fix YAML syntax error
  .github/workflows/pr-pipeline.yml
Due: none

chore(main): release 0.3.6
  .claude-plugin/marketplace.json
  .release-please-manifest.json
  CHANGELOG.md
  aops-core/.claude-plugin/plugin.json
  gemini-extension.json
  pyproject.toml
Due: dprint

fix(tests): remove redundant HOME env var test for Docker
  tests/polecat/test_cli_docker.py
Due: none

chore(main): release 0.3.7
  .claude-plugin/marketplace.json
  .release-please-manifest.json
  CHANGELOG.md
  aops-core/.claude-plugin/plugin.json
  gemini-extension.json
  pyproject.toml
Due: dprint

fix(build): remove redundant top-level 'hooks' key from Gemini hooks.json
  scripts/build.py
Due: none

chore(main): release 0.3.8
  .claude-plugin/marketplace.json
  .release-please-manifest.json
  CHANGELOG.md
  aops-core/.claude-plugin/plugin.json
  gemini-extension.json
  pyproject.toml
Due: dprint

refactor(skills): consolidate and prune skill set
  .agent/STATUS.md
  .agent/rules/enforcement-map.md
  .github/agents/merge-prep.agent.md
  CHANGELOG.md
  aops-core/LIFECYCLE-HOOKS.md
  aops-core/SKILLS.md
  aops-core/WORKERS.md
  aops-core/framework/enforcement-map.md
  aops-core/skills/burst-supervisor/SKILL.md
  aops-core/skills/daily/SKILL.md
  aops-core/skills/daily/instructions/briefing-bundle.md
  aops-core/skills/daily/instructions/decision-apply.md
  aops-core/skills/daily/instructions/decision-extract.md
  aops-core/skills/daily/instructions/process-bundle.md
  aops-core/skills/daily/references/briefing-bundle/bundle-template.md
  aops-core/skills/daily/references/briefing-bundle/coversheet-template.md
  aops-core/skills/daily/references/briefing-bundle/email-template.md
  aops-core/skills/eval/SKILL.md
  aops-core/skills/extract/SKILL.md
  aops-core/skills/hypervisor/SKILL.md
  aops-core/skills/hypervisor/prompts/gemini-task-worker.md
  aops-core/skills/hypervisor/scripts/batch_worker.py
  aops-core/skills/qa/SKILL.md
  aops-core/skills/qa/references/dimensions.md
  aops-core/skills/qa/scripts/prepare_evaluation.py
  aops-core/skills/reflect/SKILL.md
  aops-core/skills/swarm-supervisor/SKILL.md
  aops-core/skills/swarm-supervisor/instructions/decomposition-and-review.md
  aops-core/skills/swarm-supervisor/instructions/knowledge-capture.md
  aops-core/skills/swarm-supervisor/instructions/worker-execution.md
  aops-core/skills/swarm-supervisor/references/parallel-worker-orchestration.md
  specs/task-map.md
  uv.lock
Due: dprint, check-framework-integrity

refactor(skills): round 2 consolidation — supervisors, garden, commands
  aops-core/LIFECYCLE-HOOKS.md
  aops-core/SKILLS.md
  aops-core/WORKERS.md
  aops-core/commands/active-loop.md
  aops-core/commands/q.md
  aops-core/skills/active-loop/SKILL.md
  aops-core/skills/burst-supervisor/SKILL.md
  aops-core/skills/burst-supervisor/instructions/decomposition-and-review.md
  aops-core/skills/burst-supervisor/instructions/knowledge-capture.md
  aops-core/skills/burst-supervisor/instructions/worker-execution.md
  aops-core/skills/burst-supervisor/references/parallel-worker-orchestration.md
  aops-core/skills/densify/SKILL.md
  aops-core/skills/garden/SKILL.md
Due: dprint, check-framework-integrity

refactor(skills): merge session-insights into sleep
  aops-core/SKILLS.md
  aops-core/skills/recap/SKILL.md
  aops-core/skills/session-insights/SKILL.md
  aops-core/skills/sleep/SKILL.md
  aops-core/skills/sleep/scripts/find_pending.py
  aops-core/skills/sleep/scripts/merge_insights.py
  aops-core/skills/sleep/scripts/prepare_prompt.py
  aops-core/skills/sleep/scripts/process_response.py
Due: dprint, check-framework-integrity

fix: add permissionDecisionReason to PreToolUse deny/ask hook output
  aops-core/hooks/router.py
  aops-core/hooks/schemas.py
Due: none

fix(build): correct Gemini hook mappings and include AfterAgent
  scripts/build.py
  scripts/lib/build_utils.py
Due: none

Update scripts/lib/build_utils.py
  scripts/lib/build_utils.py
Due: none

chore(main): release 0.3.9
  .claude-plugin/marketplace.json
  .release-please-manifest.json
  CHANGELOG.md
  aops-core/.claude-plugin/plugin.json
  gemini-extension.json
  pyproject.toml
Due: dprint

fix(build): restore hooks wrapper in Gemini hooks.json — hooks must be an object
  scripts/build.py
Due: none

chore(main): release 0.3.10
  .claude-plugin/marketplace.json
  .release-please-manifest.json
  CHANGELOG.md
  aops-core/.claude-plugin/plugin.json
  gemini-extension.json
  pyproject.toml
Due: dprint

rfc: propose universal workflow architecture (3 workflows + overlays)
  specs/rfc-universal-workflows.md
  uv.lock
Due: dprint

docs: realign framework around epistemic integrity under delegation
  README.md
  docs/VISION.md
Due: dprint

fix(polecat): forward gate mode env vars into Docker crew containers
  .agent/STATUS.md
  .agent/rules/enforcement-map.md
  .agent/workflows/evidence-driven-debugging.md
  .github/agents/merge-prep.agent.md
  CHANGELOG.md
  aops-core/SKILLS.md
  aops-core/framework/enforcement-map.md
  polecat/cli.py
  specs/INDEX.md
  specs/evidence-driven-debugging.md
  specs/task-map.md
  tests/polecat/test_cli_docker.py
  uv.lock
Due: dprint, check-framework-integrity

docs: update README for two-package architecture; add P#117 heuristic
  .agent/rules/enforcement-map.md
  CHANGELOG.md
  README.md
  aops-core/HEURISTICS.md
  aops-core/skills/hydrator/workflows/feature-dev.md
  uv.lock
Due: dprint, check-framework-integrity

docs: add proactive hydration tip to pull; note build.py tag side-effect
  README.md
  aops-core/commands/pull.md
Due: dprint, check-framework-integrity

fix: correct Claude multi-plugin install comment — separate repo not needed
  README.md
Due: dprint

fix: resolve polecat crew container extension failure
  Dockerfile
  scripts/build.py
  scripts/repo-sync-cron.sh
  tests/conftest.py
  tests/e2e/test_docker_session.py
  tests/e2e/test_gates_e2e.py
  uv.lock
Due: none

feat(hydrator): add JIT quality escalation process and hook gate context
  .agent/context-map.json
  aops-core/skills/hydrator/SKILL.md
  aops-core/skills/hydrator/WORKFLOWS.md
  aops-core/skills/hydrator/workflows/correction-capture.md
  specs/hydrator-quality-escalation.md
Due: dprint, check-framework-integrity

remove butler
  aops-core/agents/butler.md
Due: dprint

docker updates
  scripts/repo-sync-cron.sh
Due: none

fix: cron pipeline uses polecat sync correctly, remove dead viz step
  scripts/repo-sync-cron.sh
  scripts/setup-machine.sh
Due: none

fix(polecat): resolve crew container env forwarding, sync conflict, and extension replication
  aops-core/hooks/autocommit_state.py
  polecat/cli.py
  tests/hooks/test_autocommit_state.py
  tests/polecat/test_cli_docker.py
Due: none

fix(install): resolve uv path at install time for cron jobs
  scripts/install.py
Due: none

chore: configure release-please to update version in uv.lock
  release-please-config.json
  uv.lock
Due: dprint

chore(main): release 0.3.11
  .claude-plugin/marketplace.json
  .release-please-manifest.json
  CHANGELOG.md
  aops-core/.claude-plugin/plugin.json
  gemini-extension.json
  pyproject.toml
Due: dprint

fix(ci): add --repo flag to gh pr view before checkout
  .github/workflows/agent-autofix.yml
Due: none

dogfood skill
  .agent/skills/dogfood/SKILL.md
  .claude/skills/dogfood/SKILL.md
  CHANGELOG.md
Due: dprint, check-framework-integrity

feat: consolidate 6 skills into unified Planner agent
  aops-core/SKILLS.md
  aops-core/commands/q.md
  aops-core/skills/densify/SKILL.md
  aops-core/skills/garden/SKILL.md
  aops-core/skills/planner/SKILL.md
  aops-core/skills/planner/WORKFLOWS.md
  aops-core/skills/planner/references/decomposition-patterns.md
  aops-core/skills/planner/references/dependency-types.md
  aops-core/skills/planner/references/knowledge-flow.md
  aops-core/skills/planner/references/spike-patterns.md
  aops-core/skills/planner/scripts/lint_frontmatter.py
  aops-core/skills/planner/scripts/triage_tasks.py
  aops-core/skills/planner/workflows/decompose.md
  aops-core/skills/planner/workflows/strategic-intake.md
  aops-core/skills/planning/SKILL.md
  aops-core/skills/planning/WORKFLOWS.md
  aops-core/skills/sleep/SKILL.md
  aops-core/skills/strategy/SKILL.md
  uv.lock
Due: dprint, check-framework-integrity

Update aops-core/skills/planner/SKILL.md
  aops-core/skills/planner/SKILL.md
Due: dprint, check-framework-integrity

chore: delete regex-based NLP scripts per review
  aops-core/skills/planner/scripts/lint_frontmatter.py
  aops-core/skills/planner/scripts/triage_tasks.py
Due: none

fix(tests): update core skill name from planning to planner
  tests/test_plugin_structure.py
Due: none

feat: configure polecat containers for HTTPS git and bot identity
  Dockerfile
  aops-core/agent-env-map.conf
  polecat/cli.py
  polecat/entrypoint.sh
  tests/polecat/test_cli_docker.py
  uv.lock
Due: none

feat: ensure polecat init and worktrees always use HTTPS remotes
  polecat/manager.py
Due: none
