Repository nicsuzor/academicOps: changes, and which pre-commit hooks are due for each by the changed paths.
All: dprint, check-framework-integrity

.pre-commit-config.yaml:

# Pre-commit hooks for academicOps framework governance
# See https://pre-commit.com for more info

repos:
  # Markdown/JSON/TOML validation (dprint - check-only, no auto-fix)
  # Ruff check --fix auto-fixes what it can; ruff-format checks formatting
  - repo: local
    hooks:
      - id: dprint
        name: dprint check
        entry: uv run dprint check
        language: system
        types_or: [markdown, json, toml]
        pass_filenames: true

  # Markdown linting (catches issues dprint doesn't fix)
  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.12.1
    hooks:
      - id: markdownlint-cli2
        exclude: '^archived/'

  # Standard hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: '\.excalidraw$'
      - id: end-of-file-fixer
        exclude: '\.excalidraw$'
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
        args: ['--maxkb=500']

  # Python linting (auto-fix enabled)
  # Ruff check --fix auto-fixes what it can; ruff-format checks formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.4
    hooks:
      - id: ruff
        args: [--fix]
        exclude: '^archived/'
      - id: ruff-format
        args: [--check]
        exclude: '^archived/'

  # Framework integrity checks (index wikilinks, skill entries, workflow length)
  # Consolidates check-workflow-length + new index integrity validation
  - repo: local
    hooks:
      - id: check-framework-integrity
        name: framework integrity check
        entry: uv run python scripts/check_framework_integrity.py
        language: system
        pass_filenames: false
        files: '(WORKFLOWS|SKILLS)\.md$|workflows/.*\.md$|skills/.*/SKILL\.md$|commands/.*\.md$'

  # Type checking and full framework health checks run in CI only
  # (see .github/workflows/framework-health.yml)
  #
  # Moved to CI:
  # - basedpyright: full type analysis too slow for every commit
  # - check-skill-line-count: whole-repo scan, not file-scoped
  # - check-orphan-files: whole-repo scan, not file-scoped
  # - check-framework-integrity --full: slow full codebase wikilink scan
  # - audit_framework_health: comprehensive audit

fix hook invocatoin with uv
  build/build.py
  templates/plugin/manifest/hooks.template.json
Due: dprint

delegate vs do
  plugins/aops/agents/james.md
  plugins/aops/agents/marsha.md
  plugins/aops/agents/rbg.md
  plugins/pkb/agents/pauli.md
Due: dprint

remove delegation instructions
  plugins/aops/skills/pull/SKILL.md
  plugins/pkb/skills/planner/SKILL.md
  plugins/tools/skills/new-project/SKILL.md
Due: dprint, check-framework-integrity

remove delegation
  lib/axioms/delegation.md
  plugins/aops/README.md
Due: dprint

add pyproject.toml to dist builds
  .gitignore
  build/build.py
  plugins/aops/manifest/hooks.template.json
  plugins/cope/manifest/hooks.template.json
  plugins/pkb/manifest/hooks.template.json
  plugins/ts/manifest/hooks.template.json
  templates/plugin/pyproject.template.toml
Due: dprint

disable all hooks for now
  lib/hooks/dispatch.py
  plugins/aops/hooks/handlers.py
  plugins/pkb/hooks/handlers.py
Due: none

enable the pkb reminder hook only
  lib/hooks/dispatch.py
  plugins/pkb/hooks/handlers.py
  plugins/pkb/hooks/messages/pkb-context.md
  plugins/pkb/hooks/messages/pkb-context.user.md
Due: dprint

the rule against hearsay
  plugins/ida/hooks/handlers.py
  plugins/ida/hooks/messages/hearsay.md
  plugins/ida/hooks/messages/hearsay.user.md
Due: dprint

add a debug line and ship hook reqs
  lib/hooks/dispatch.py
  plugins/ida/manifest/hooks.template.json
  plugins/ida/manifest/plugin.toml
Due: dprint

update hook posttooluse
  lib/hooks/clients.py
  lib/hooks/context.py
  plugins/ida/hooks/handlers.py
  plugins/ida/manifest/hooks.template.json
  specs/ARCHITECTURE.md
Due: dprint

move plugins in
  build/marketplace.toml
  plugins/rbg/README.md
  plugins/rbg/hooks/evaluator.py
  plugins/rbg/hooks/handlers.py
  plugins/rbg/hooks/messages/classifier-prompt.md
  plugins/rbg/hooks/messages/ruleset.md
  plugins/rbg/hooks/messages/verdict.md
  plugins/rbg/hooks/messages/verdict.user.md
  plugins/rbg/hooks/rules.py
  plugins/rbg/manifest/hooks.template.json
  plugins/rbg/manifest/plugin.template.json
  plugins/rbg/manifest/plugin.toml
Due: dprint

add james
  plugins/james/agents/james.md
  plugins/james/skills/dispatch/SKILL.md
  plugins/pkb/skills/dump/SKILL.md
  plugins/rbg/agents/rbg.md
Due: dprint, check-framework-integrity

fix task writing
  plugins/pkb/agents/pauli.md
  plugins/pkb/skills/dump/SKILL.md
  plugins/pkb/skills/hydrate/SKILL.md
  plugins/pkb/skills/remember/SKILL.md
  plugins/pkb/skills/situate/SKILL.md
Due: dprint, check-framework-integrity

reinstate modular hooks
  fix_messages.py
  fix_rbg.py
  lib/hooks/clients.py
  lib/hooks/context.py
  lib/hooks/credentials.py
  lib/hooks/degraded.py
  lib/hooks/dispatch.py
  lib/hooks/messages.py
  lib/hooks/provenance.py
  lib/hooks/result.py
  lib/hooks/telemetry.py
  plugins.disabled/aops/hooks/handlers.py
  plugins/ida/hooks/handlers.py
  plugins/pkb/hooks/handlers.py
  plugins/rbg/hooks/evaluator.py
  plugins/rbg/hooks/handlers.py
  plugins/rbg/hooks/rules.py
  rewrite_plugins.py
  specs/ARCHITECTURE.md
Due: dprint

add example hook
  templates/plugin/hooks/handlers.py
  templates/plugin/hooks/messages/honest.md
  templates/plugin/hooks/messages/honest.user.md
Due: dprint

try to log everything
  build/marketplace.toml
  lib/hooks/dispatch.py
  plugins/aops-debug/hooks/handlers.py
  specs/ARCHITECTURE.md
Due: dprint

Register the james plugin so it ships and is dispatchable
  build/marketplace.toml
  plugins/james/agents/james.md
  plugins/james/manifest/plugin.template.json
  plugins/james/skills/strategic-review/SKILL.md
  specs/ARCHITECTURE.md
  specs/agents/agent-authority.md
Due: dprint, check-framework-integrity

Restore layered topology: ida -> james -> workers; remove ida-flat; add ida output contract
  README.md
  plugins.disabled/aops/README.md
  plugins/ida/README.md
  plugins/ida/agents/ida-flat.md
  plugins/ida/agents/ida.md
Due: dprint

Correct agent-authority tools claim to match the tree
  specs/agents/agent-authority.md
Due: dprint

Fold james into the ida plugin
  README.md
  build/marketplace.toml
  plugins/ida/README.md
  plugins/ida/agents/ida.md
  plugins/ida/agents/james.md
  plugins/ida/skills/dispatch/SKILL.md
  plugins/ida/skills/strategic-review/SKILL.md
  plugins/james/manifest/plugin.template.json
  plugins/pkb/README.md
  specs/ARCHITECTURE.md
  specs/agents/agent-authority.md
Due: dprint, check-framework-integrity

Add project rule: commit directly to the current working branch
  .agents/rules/RULES.md
Due: dprint

Add explicit model-naming rule to ida and james dispatch instructions
  plugins/ida/agents/ida.md
  plugins/ida/agents/james.md
Due: dprint

Add reviewer-questions and one-thing-at-a-time rules to ida
  plugins/ida/agents/ida.md
Due: dprint

Remove misscoped working-branch rule from project rules
  .agents/rules/RULES.md
Due: dprint

Modernize excalidraw skill JSON schema to match current excalidraw.com
  plugins/tools/skills/diagram/SKILL.md
  plugins/tools/skills/diagram/references/json-format.md
  plugins/tools/skills/diagram/references/text-container-pattern.md
Due: dprint, check-framework-integrity

Scope the dispatch-time model rule to unpinned workers
  plugins/ida/agents/ida.md
  plugins/ida/agents/james.md
Due: dprint

Document the model-pin enforcement point in the enforcement spec
  plugins/ida/agents/ida.md
  plugins/ida/agents/james.md
  specs/enforcement/enforcement.md
Due: dprint

debug script
  plugins/aops-debug/manifest/hooks.template.json
  plugins/aops-debug/manifest/plugin.template.json
Due: dprint

Trim instruction files to operative content; add missing index field
  plugins/tools/skills/diagram/SKILL.md
  plugins/tools/skills/diagram/references/json-format.md
Due: dprint, check-framework-integrity

Ship add-rule; extract shared lesson doctrine into lib/doctrine
  .agents/skills/add-rule/SKILL.md
  .agents/skills/triage/SKILL.md
  lib/doctrine/forensic-scope.md
  lib/doctrine/lesson-routing.md
  plugins/rbg/README.md
  plugins/rbg/skills/add-rule/SKILL.md
Due: dprint, check-framework-integrity

Add the /learn skill: diagnose the incident, then route the lesson
  plugins/pkb/README.md
  plugins/pkb/skills/learn/SKILL.md
Due: dprint, check-framework-integrity

debug hooks
  plugins/aops-debug/manifest/hooks.template.json
  plugins/aops-debug/manifest/plugin.toml
Due: dprint

Address review: A17 separation, state-binding test, doctrine split
  .agents/skills/triage/SKILL.md
  lib/doctrine/forensic-scope.md
  lib/doctrine/lesson-routing.md
  lib/doctrine/universal-gate.md
  plugins/pkb/README.md
  plugins/pkb/skills/learn/SKILL.md
  plugins/rbg/skills/add-rule/SKILL.md
  specs/enforcement/enforcement.md
Due: dprint, check-framework-integrity

Remove rogue edit scripts and repair the stdout damage they caused
  fix_messages.py
  fix_rbg.py
  plugins/rbg/hooks/evaluator.py
  plugins/rbg/hooks/handlers.py
  plugins/rbg/hooks/rules.py
  rewrite_plugins.py
Due: none

Wire Stop/SubagentStop gates: shared runtime, rbg gate, ida gate
  fix_rbg.py
  lib/hooks/dispatch.py
  lib/hooks/messages/degraded.md
  lib/hooks/messages/degraded.user.md
  plugins/ida/hooks/handlers.py
  plugins/ida/hooks/messages/quiet.md
  plugins/ida/hooks/messages/quiet.user.md
  plugins/ida/manifest/hooks.template.json
  plugins/pkb/hooks/handlers.py
  plugins/rbg/hooks/evaluator.py
  plugins/rbg/hooks/handlers.py
  plugins/rbg/hooks/messages/stop-check.md
  plugins/rbg/hooks/messages/stop-check.user.md
  plugins/rbg/manifest/hooks.template.json
  plugins/rbg/manifest/plugin.template.json
  rewrite_plugins.py
  tests/test_dispatch_gate.py
  tests/test_pkb_handlers.py
  tests/test_plugin_manifests.py
  tests/test_stop_gates.py
Due: dprint

Restore the honesty floor as an ida Stop hook
  plugins/ida/hooks/handlers.py
  plugins/ida/hooks/messages/honesty.md
  plugins/ida/hooks/messages/honesty.user.md
  plugins/ida/manifest/hooks.template.json
  specs/ARCHITECTURE.md
  tests/test_ida_honesty_hook.py
Due: dprint

Address rbg review: enforcement spec, sixth clause, strict xfail
  specs/enforcement/enforcement.md
  tests/test_ida_honesty_hook.py
Due: dprint
