Repository nicsuzor/academicOps: changes, and which pre-commit hooks are due for each by the changed paths.
All: dprint, check-framework-integrity

.pre-commit-config.yaml:

# Pre-commit hooks for academicOps framework governance
# See https://pre-commit.com for more info

repos:
  # Markdown/JSON/TOML validation (dprint - check-only, no auto-fix)
  # Ruff check --fix auto-fixes what it can; ruff-format checks formatting
  - repo: local
    hooks:
      - id: dprint
        name: dprint check
        entry: uv run dprint check
        language: system
        types_or: [markdown, json, toml]
        pass_filenames: true

  # Markdown linting (catches issues dprint doesn't fix)
  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.12.1
    hooks:
      - id: markdownlint-cli2
        exclude: '^archived/'

  # Standard hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: '\.excalidraw$'
      - id: end-of-file-fixer
        exclude: '\.excalidraw$'
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
        args: ['--maxkb=500']

  # Python linting (auto-fix enabled)
  # Ruff check --fix auto-fixes what it can; ruff-format checks formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.4
    hooks:
      - id: ruff
        args: [--fix]
        exclude: '^archived/'
      - id: ruff-format
        args: [--check]
        exclude: '^archived/'

  # Framework integrity checks (index wikilinks, skill entries, workflow length)
  # Consolidates check-workflow-length + new index integrity validation
  - repo: local
    hooks:
      - id: check-framework-integrity
        name: framework integrity check
        entry: uv run python scripts/check_framework_integrity.py
        language: system
        pass_filenames: false
        files: '(WORKFLOWS|SKILLS)\.md$|workflows/.*\.md$|skills/.*/SKILL\.md$|commands/.*\.md$'

  # Type checking and full framework health checks run in CI only
  # (see .github/workflows/framework-health.yml)
  #
  # Moved to CI:
  # - basedpyright: full type analysis too slow for every commit
  # - check-skill-line-count: whole-repo scan, not file-scoped
  # - check-orphan-files: whole-repo scan, not file-scoped
  # - check-framework-integrity --full: slow full codebase wikilink scan
  # - audit_framework_health: comprehensive audit

fix: remove stale junior.md references from agent-remediation backlog
  scripts/audit_agent_compliance.py
  specs/audit/AGENT-REMEDIATION-BACKLOG.md
Due: dprint

/sleep maintenance: dedup guardrails + large-graph output discipline (#2031)
  aops-core/skills/remember/references/maintenance-phases.md
Due: dprint

fix: complete enforcer→rbg rename, restore green Pytest on dev
  aops-core/hooks/router.py
  scripts/build.py
  tests/hooks/conftest.py
  tests/hooks/gate_helpers.py
  tests/hooks/test_agy_protojson_contract.py
  tests/hooks/test_agy_worker_gate_posture.py
  tests/hooks/test_custodiet_cluster.py
  tests/hooks/test_gate_config.py
  tests/hooks/test_gate_context_injection.py
  tests/hooks/test_gate_hygiene_engine.py
  tests/hooks/test_gate_replay.py
  tests/hooks/test_gate_verdict_logic.py
  tests/hooks/test_message_path_leak_coverage.py
  tests/hooks/test_subagent_gate_dispatch_regression.py
  tests/lib/test_enforcer_block.py
  tests/lib/test_gate_secret_scrubbing.py
  tests/lib/test_template_registry.py
  tests/test_cowork_markers.py
  tests/test_session_naming.py
  tests/test_subagent_gates.py
Due: none

fix: complete enforcer→rbg rename, restore green Pytest on dev (#2036)
  aops-core/hooks/router.py
  scripts/build.py
  tests/hooks/conftest.py
  tests/hooks/gate_helpers.py
  tests/hooks/test_agy_protojson_contract.py
  tests/hooks/test_agy_worker_gate_posture.py
  tests/hooks/test_custodiet_cluster.py
  tests/hooks/test_gate_config.py
  tests/hooks/test_gate_context_injection.py
  tests/hooks/test_gate_hygiene_engine.py
  tests/hooks/test_gate_replay.py
  tests/hooks/test_gate_verdict_logic.py
  tests/hooks/test_message_path_leak_coverage.py
  tests/hooks/test_subagent_gate_dispatch_regression.py
  tests/lib/test_enforcer_block.py
  tests/lib/test_gate_secret_scrubbing.py
  tests/lib/test_template_registry.py
  tests/test_cowork_markers.py
  tests/test_session_naming.py
  tests/test_subagent_gates.py
Due: none

fix(aops-ts): harden SessionEnd sync per review (path quoting, host guard, docs)
  aops-ts/README.md
  aops-ts/hooks/session-end-sync.sh
Due: dprint

fix(aops-ts): require explicit AOPS_TS_SYNC_DEST path, fail fast and loud
  aops-ts/README.md
  aops-ts/hooks/session-end-sync.sh
Due: dprint

fix final env var rename
  polecat/cli.py
  pyproject.toml
Due: dprint

SessionStart: print resolved gate modes on one line (#2030)
  aops-core/hooks/session_env_setup.py
Due: none

fix: retire Junior from academicOps, resolve strategic-review findings on PR #2035
  .agents/CORE.md
  aops-core/commands/issue-sweep.md
  aops-core/commands/learn.md
  aops-core/skills/aops/references/authoring-discipline.md
  aops-core/skills/aops/workflows/11-self-test.md
  aops-core/skills/project/instructions/init.md
  aops-core/skills/remember/references/maintenance-phases.md
  aops-core/skills/strategic-review/references/dispatch-topology.md
  aops-core/skills/supervisor/SKILL.md
  aops-core/skills/supervisor/references/dispatch-rules.md
  aops-core/skills/survey/SKILL.md
  aops-core/skills/task-lifecycle/SKILL.md
  polecat/prompt_template.py
  specs/ENFORCEMENT-MAP.md
  specs/INDEX.md
  specs/agents/agent-authority.md
  specs/agents/agent-definition-content.md
  specs/agents/agents.md
  specs/agents/interactive-coworking.md
  tests/test_plugin_structure.py
Due: dprint, check-framework-integrity

feat(pipeline): conflict-admission sweep — actually drive the mechanic onto conflicting PRs (#2008)
  .github/workflows/conflict-admission-sweep.yml
  scripts/ci/find-conflicting-admitted-prs.sh
  specs/ENFORCEMENT-MAP.md
  specs/workflows/pr-pipeline.md
  tests/hooks/test_gate_hygiene_engine.py
  tests/hooks/test_rbg_review_gate.py
  tests/hooks/test_sentinel_gate.py
  tests/test_find_conflicting_admitted_prs.py
Due: dprint, check-framework-integrity

Potential fix for pull request finding
  aops-ts/hooks/session-end-sync.sh
Due: none

fix(aops-ts): make SessionEnd transcript sync actually work on the tailnet (#2033)
  aops-ts/README.md
  aops-ts/hooks/session-end-sync.sh
Due: dprint

fix(docs): repair broken internal links across specs and skill references
  .agents/INDEX.md
  aops-core/skills/aops/references/forensics-details.md
  specs/INDEX.md
  specs/SURFACES.md
  specs/meta/doc-taxonomy.md
Due: dprint

docs(specs): strip dated provenance and incident IDs from enforcement specs
  specs/ENFORCEMENT-MAP.md
  specs/enforcement/GATES.md
  specs/enforcement/enforcement.md
Due: dprint

docs(README): add graduated-enforcement flowchart
  README.md
Due: dprint

refactor(skills): decouple skills, dedupe supervisor premise gate, rewrite craft on first principles
  aops-core/skills/craft/SKILL.md
  aops-core/skills/supervisor/instructions/worker-dispatch.md
  aops-core/skills/supervisor/references/dispatch-rules.md
  aops-core/skills/task-lifecycle/SKILL.md
Due: dprint, check-framework-integrity

refactor(specs): slim supervisor and agent-authority specs, remove duplicate compliance matrix
  specs/agents/agent-authority.md
  specs/agents/agent-compliance-matrix.md
  specs/agents/agents.md
  specs/agents/interactive-coworking.md
  specs/agents/orchestrator-boundary.md
  specs/agents/supervisor.md
Due: dprint

refactor(polecat): remove PKB_HALT sentinel scaffolding, keep floor prose + one lean test
  polecat/prompt_template.py
  tests/polecat/test_prompt_template.py
  tests/test_plugin_structure.py
Due: none

docs: fold agent-definition-content spec into /craft skill
  .agents/skills/craft/SKILL.md
  specs/agents/agent-definition-content.md
Due: dprint, check-framework-integrity

test: validate enforcer block via pydantic SessionState models
  tests/lib/test_enforcer_block.py
Due: none

docs: radically simplify agent specs, fix stale enforcer facts
  specs/INDEX.md
  specs/agents/agent-authority.md
  specs/agents/agents.md
  specs/agents/ida.md
  specs/agents/james.md
  specs/agents/marsha.md
  specs/agents/pauli.md
  specs/agents/rbg.md
Due: dprint

docs: rewrite supervisor user story; correct polecat spec to match code
  specs/agents/polecat-system.md
  specs/agents/supervisor.md
Due: dprint

chore(dev): release 0.3.45
  .release-please-manifest.json
  CHANGELOG.md
  pyproject.toml
  templates/aops-core.gemini-extension.json
  templates/aops-core.plugin.json
  templates/aops-tools.gemini-extension.json
  templates/aops-tools.plugin.json
Due: dprint

fix(learn): scope retro's immediate-fix authority to the reviewed session, not the framework
  aops-core/commands/learn.md
  aops-core/skills/triage/SKILL.md
Due: dprint, check-framework-integrity

chore(dev): release 0.3.45 (#2003)
  .release-please-manifest.json
  CHANGELOG.md
  pyproject.toml
  templates/aops-core.gemini-extension.json
  templates/aops-core.plugin.json
  templates/aops-tools.gemini-extension.json
  templates/aops-tools.plugin.json
  uv.lock
Due: dprint

fix: rewrite aops-core-scoped MCP tool names for the cowork build
  aops-core/lib/tool_categories.py
  scripts/build.py
  specs/ENFORCEMENT-MAP.md
Due: dprint

feat(pipeline): release-please fast path — merge on green lint+pytest, one approval at deploy
  .github/workflows/agent-enforcer.yml
  .github/workflows/build-extension.yml
  .github/workflows/pr-pipeline.yml
  specs/workflows/pr-pipeline.md
  tests/test_release_please_fast_path.py
Due: dprint, check-framework-integrity

feat(pipeline): release-please fast path — merge on green lint+pytest, one approval at deploy (#2051)
  .github/workflows/agent-enforcer.yml
  .github/workflows/build-extension.yml
  .github/workflows/pr-pipeline.yml
  specs/workflows/pr-pipeline.md
  tests/test_release_please_fast_path.py
Due: dprint, check-framework-integrity

fix: rewrite aops-core-scoped MCP tool names for the cowork build (#2050)
  aops-core/lib/tool_categories.py
  scripts/build.py
  specs/ENFORCEMENT-MAP.md
Due: dprint

chore(dev): release 0.3.46
  .release-please-manifest.json
  CHANGELOG.md
  pyproject.toml
  templates/aops-core.gemini-extension.json
  templates/aops-core.plugin.json
  templates/aops-tools.gemini-extension.json
  templates/aops-tools.plugin.json
Due: dprint

chore(dev): release 0.3.46 (#2052)
  .release-please-manifest.json
  CHANGELOG.md
  pyproject.toml
  templates/aops-core.gemini-extension.json
  templates/aops-core.plugin.json
  templates/aops-tools.gemini-extension.json
  templates/aops-tools.plugin.json
  uv.lock
Due: dprint

refactor(pipeline): consolidate PR admission logic to prevent process drift
  .github/workflows/admit-on-review.yml
  .github/workflows/conflict-admission-sweep.yml
  scripts/ci/admit-on-review.sh
  scripts/ci/admit-pr.sh
  scripts/ci/find-conflicting-admitted-prs.sh
  scripts/ci/reviewer-authz.sh
  specs/ENFORCEMENT-MAP.md
  specs/workflows/pr-pipeline.md
  tests/test_admit_on_review.py
  tests/test_admit_pr.py
  tests/test_conflict_admission_sweep.py
  tests/test_reviewer_authz.py
Due: dprint, check-framework-integrity

refactor(pipeline): consolidate PR admission logic to prevent process drift (#2053)
  .github/workflows/admit-on-review.yml
  .github/workflows/conflict-admission-sweep.yml
  scripts/ci/admit-on-review.sh
  scripts/ci/admit-pr.sh
  scripts/ci/find-conflicting-admitted-prs.sh
  scripts/ci/reviewer-authz.sh
  specs/ENFORCEMENT-MAP.md
  specs/workflows/pr-pipeline.md
  tests/test_admit_on_review.py
  tests/test_admit_pr.py
  tests/test_conflict_admission_sweep.py
  tests/test_reviewer_authz.py
Due: dprint, check-framework-integrity

chore(dev): release 0.3.47
  .release-please-manifest.json
  CHANGELOG.md
  pyproject.toml
  templates/aops-core.gemini-extension.json
  templates/aops-core.plugin.json
  templates/aops-tools.gemini-extension.json
  templates/aops-tools.plugin.json
Due: dprint

chore(dev): release 0.3.47 (#2054)
  .release-please-manifest.json
  CHANGELOG.md
  pyproject.toml
  templates/aops-core.gemini-extension.json
  templates/aops-core.plugin.json
  templates/aops-tools.gemini-extension.json
  templates/aops-tools.plugin.json
  uv.lock
Due: dprint

strip cowork to add only
  aops-core/BUILD.md
  scripts/build.py
Due: dprint
