Repository nicsuzor/academicOps: changes, and which pre-commit hooks are due for each by the changed paths.
All: dprint, check-framework-integrity

.pre-commit-config.yaml:

# Pre-commit hooks for academicOps framework governance
# See https://pre-commit.com for more info

repos:
  # Markdown/JSON/TOML validation (dprint - check-only, no auto-fix)
  # Ruff check --fix auto-fixes what it can; ruff-format checks formatting
  - repo: local
    hooks:
      - id: dprint
        name: dprint check
        entry: uv run dprint check
        language: system
        types_or: [markdown, json, toml]
        pass_filenames: true

  # Markdown linting (catches issues dprint doesn't fix)
  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.12.1
    hooks:
      - id: markdownlint-cli2
        exclude: '^archived/'

  # Standard hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: '\.excalidraw$'
      - id: end-of-file-fixer
        exclude: '\.excalidraw$'
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
        args: ['--maxkb=500']

  # Python linting (auto-fix enabled)
  # Ruff check --fix auto-fixes what it can; ruff-format checks formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.4
    hooks:
      - id: ruff
        args: [--fix]
        exclude: '^archived/'
      - id: ruff-format
        args: [--check]
        exclude: '^archived/'

  # Framework integrity checks (index wikilinks, skill entries, workflow length)
  # Consolidates check-workflow-length + new index integrity validation
  - repo: local
    hooks:
      - id: check-framework-integrity
        name: framework integrity check
        entry: uv run python scripts/check_framework_integrity.py
        language: system
        pass_filenames: false
        files: '(WORKFLOWS|SKILLS)\.md$|workflows/.*\.md$|skills/.*/SKILL\.md$|commands/.*\.md$'

  # Type checking and full framework health checks run in CI only
  # (see .github/workflows/framework-health.yml)
  #
  # Moved to CI:
  # - basedpyright: full type analysis too slow for every commit
  # - check-skill-line-count: whole-repo scan, not file-scoped
  # - check-orphan-files: whole-repo scan, not file-scoped
  # - check-framework-integrity --full: slow full codebase wikilink scan
  # - audit_framework_health: comprehensive audit

add extra env vars
  scripts/macos-launchd/launchd-env.sh
Due: none

spec: session-digest — scheduled cheap-model intra-day narrative consolidation
  specs/INDEX.md
  specs/workflows/session-digest.md
Due: dprint, check-framework-integrity

spec(session-digest): address strategic review findings
  specs/workflows/session-digest.md
Due: dprint, check-framework-integrity

spec(session-digest): re-review trivials — fail-open classifier note (N1), T8 abort path (N2)
  specs/workflows/session-digest.md
Due: dprint, check-framework-integrity

fix(build): resolve install split-brain, ruff version skew, inline pyproject (epic-267fe017)
  .agents/CORE.md
  .gitignore
  .pre-commit-config.yaml
  Makefile
  aops-core/pyproject.toml
  aops-core/skills/aops/references/claude-code-config.md
  polecat/cli.py
  scripts/build.py
  setup.sh
  tests/integration/README_SKILL_TESTS.md
Due: dprint

fix(lib): resolve session_* name collisions + dedupe divergent helpers
  aops-core/hooks/router.py
  aops-core/lib/paths.py
  aops-core/lib/session_naming.py
  aops-core/lib/session_paths.py
  aops-core/lib/session_reader.py
  aops-core/lib/session_state.py
  aops-core/lib/session_summary.py
  aops-core/lib/subagent_transcript.py
  aops-core/lib/transcript_parser.py
  aops-core/scripts/transcript.py
  aops-core/scripts/user_prompts.py
  tests/hooks/test_gate_replay.py
  tests/lib/test_secret_redaction.py
  tests/lib/test_session_discovery.py
  tests/lib/test_session_paths.py
  tests/lib/test_token_tracking.py
  tests/lib/test_transcript_hook_output.py
  tests/lib/test_transcript_metadata.py
  tests/lib/test_transcript_parser_crew.py
  tests/lib/test_transcript_parser_hooks.py
  tests/test_aops_83f1856f.py
  tests/test_transcript.py
  tests/test_user_prompts_catchup.py
Due: none

fix(build): resolve install split-brain, ruff version skew, inline pyproject (epic-267fe017) (#1811)
  .agents/CORE.md
  .gitignore
  .pre-commit-config.yaml
  Makefile
  aops-core/pyproject.toml
  aops-core/skills/aops/references/claude-code-config.md
  polecat/cli.py
  scripts/build.py
  setup.sh
  tests/integration/README_SKILL_TESTS.md
Due: dprint

chore: replace retired polecat/SSH dispatch commands with canonical uv run (#1747)
  aops-core/skills/aops/workflows/11-self-test.md
Due: dprint, check-framework-integrity

spec: session-digest — scheduled cheap-model intra-day narrative consolidation (#1736)
  scripts/macos-launchd/launchd-env.sh
  specs/INDEX.md
  specs/workflows/session-digest.md
Due: dprint, check-framework-integrity

fix(agy): expose rbg enforcer gate to agy (antigravity) sessions
  aops-core/hooks/templates/enforcer-instruction.md
  aops-core/hooks/templates/enforcer-policy-context.md
  scripts/build.py
Due: dprint

fix(pkb-nudge): counter MEMORY.md named-pointer shortcut (#1807)
  aops-core/hooks/templates/pkb-nudge.md
  aops-core/lib/session_naming.py
  aops-core/lib/transcript_parser.py
  aops-core/scripts/transcript.py
Due: dprint

refactor(sleep): drop detector-bug workaround prose now fixed upstream (mem#425)
  aops-core/skills/planner/SKILL.md
  aops-core/skills/remember/references/maintenance-phases.md
Due: dprint, check-framework-integrity

Review fixes (James r1): detector-version-aware wikilink guidance, archive observation gate, reviewable archive/merge IDs
  aops-core/skills/planner/SKILL.md
  aops-core/skills/remember/references/maintenance-phases.md
Due: dprint, check-framework-integrity

Add knowledge-layer orphan curation to the /sleep maintenance loop
  aops-core/skills/planner/SKILL.md
  aops-core/skills/remember/references/maintenance-phases.md
Due: dprint, check-framework-integrity

chore(dev): release 0.3.39
  .release-please-manifest.json
  CHANGELOG.md
  pyproject.toml
  templates/aops-core.gemini-extension.json
  templates/aops-core.plugin.json
  templates/aops-tools.gemini-extension.json
  templates/aops-tools.plugin.json
Due: dprint

feat(transcript): capture pull_requests from git branches in session summaries
  aops-core/lib/transcript_parser.py
  aops-core/scripts/transcript.py
Due: none

feat(transcript): recover task_id/PR correlation from launch context
  aops-core/scripts/transcript.py
  tests/test_transcript_correlation.py
Due: none

feat(transcript): add --force to bypass mtime gate for correlation backfill
  aops-core/scripts/transcript.py
Due: none

openclaw too
  Makefile
Due: none

fix(cron): single-instance flock guard for repo-sync-cron
  scripts/repo-sync-cron.sh
Due: none

fix(transcript): stop skipping polecat/crew branches in PR resolution
  aops-core/scripts/transcript.py
  tests/test_transcript_correlation.py
Due: none

refactor(agents): factor shared PKB doctrine, fix tool-lists, namespaces, circular invoke
  .agents/rules/PKB-DOCTRINE.md
  aops-core/agents/james.md
  aops-core/agents/junior.md
  aops-core/agents/marsha.md
  aops-core/agents/pauli.md
  aops-core/commands/email.md
  aops-core/commands/issue-sweep.md
  aops-core/commands/maintain.md
  aops-core/commands/pull.md
  aops-core/commands/q.md
  scripts/build.py
Due: dprint, check-framework-integrity

refine instruction files
  aops-core/agents/james.md
  aops-core/agents/junior.md
  aops-core/agents/rbg.md
  aops-core/commands/trend-review.md
  aops-core/hooks/templates/enforcer-policy-context.md
  aops-core/hooks/templates/ida-reminder.md
  aops-core/hooks/templates/pkb-nudge.md
  aops-core/scripts/migrate_transcripts_to_yyyy_mm.py
  config/gemini/commands/.gitignore
Due: dprint, check-framework-integrity

fix(audit): sync AGENT-TOOLS.md to james.md PKB wildcard
  specs/audit/AGENT-TOOLS.md
Due: dprint

shorten instructions
  aops-core/agent-env-map.conf
  aops-core/hooks/templates/enforcer-instruction.md
  aops-core/hooks/templates/pkb-nudge.md
  aops-core/hooks/templates/stop-gate-handover-block.md
  tests/polecat/test_cli_docker.py
  tests/test_agent_tool_names.py
  tests/test_reap_agent_processes.py
Due: dprint

Update aops-core/agents/pauli.md
  aops-core/agents/pauli.md
Due: dprint

Update aops-core/agents/james.md
  aops-core/agents/james.md
Due: dprint

update
  aops-core/hooks/templates/pkb-nudge.md
Due: dprint

fix: correct Gemini tool translation block grouping logic (#1817)
  scripts/build.py
Due: none

refactor(agents): fold PKB-DOCTRINE into /remember skill, add RULES.md entry
  .agents/rules/PKB-DOCTRINE.md
  .agents/rules/RULES.md
  aops-core/agents/james.md
  aops-core/agents/junior.md
  aops-core/agents/marsha.md
  aops-core/agents/pauli.md
  scripts/build.py
Due: dprint

test(agy): elimination harness for IDA-as-denyReason #1798
  tests/hooks/test_ida_denyreason_1798.py
Due: none

fix(agy): correct PreInvocation injection status — agy-side delivery gap (#1798)
  aops-core/hooks/router.py
Due: none

test(1798): parametrize IDA invariant harness over agy + claude clients
  tests/hooks/test_agy_toolcall_extraction_1800.py
  tests/hooks/test_ida_denyreason_1798.py
Due: none

fix(agy): extract toolCall from payload ROOT, not double-nested (#1800)
  aops-core/hooks/router.py
  tests/hooks/test_agy_toolcall_extraction_1800.py
  tests/hooks/test_ida_denyreason_1798.py
Due: none

fix(agy): correct injection-delivery root cause — delivery works, transcript does not log injectSteps
  aops-core/hooks/router.py
Due: none

chore(dev): release 0.3.40
  .release-please-manifest.json
  CHANGELOG.md
  pyproject.toml
  templates/aops-core.gemini-extension.json
  templates/aops-core.plugin.json
  templates/aops-tools.gemini-extension.json
  templates/aops-tools.plugin.json
Due: dprint
