Repository nicsuzor/academicOps: changes, and which pre-commit hooks are due for each by the changed paths.
All: dprint, check-framework-integrity

.pre-commit-config.yaml:

# Pre-commit hooks for academicOps framework governance
# See https://pre-commit.com for more info

repos:
  # Markdown/JSON/TOML validation (dprint - check-only, no auto-fix)
  # Ruff check --fix auto-fixes what it can; ruff-format checks formatting
  - repo: local
    hooks:
      - id: dprint
        name: dprint check
        entry: uv run dprint check
        language: system
        types_or: [markdown, json, toml]
        pass_filenames: true

  # Markdown linting (catches issues dprint doesn't fix)
  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.12.1
    hooks:
      - id: markdownlint-cli2
        exclude: '^archived/'

  # Standard hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: '\.excalidraw$'
      - id: end-of-file-fixer
        exclude: '\.excalidraw$'
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
        args: ['--maxkb=500']

  # Python linting (auto-fix enabled)
  # Ruff check --fix auto-fixes what it can; ruff-format checks formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.4
    hooks:
      - id: ruff
        args: [--fix]
        exclude: '^archived/'
      - id: ruff-format
        args: [--check]
        exclude: '^archived/'

  # Framework integrity checks (index wikilinks, skill entries, workflow length)
  # Consolidates check-workflow-length + new index integrity validation
  - repo: local
    hooks:
      - id: check-framework-integrity
        name: framework integrity check
        entry: uv run python scripts/check_framework_integrity.py
        language: system
        pass_filenames: false
        files: '(WORKFLOWS|SKILLS)\.md$|workflows/.*\.md$|skills/.*/SKILL\.md$|commands/.*\.md$'

  # Type checking and full framework health checks run in CI only
  # (see .github/workflows/framework-health.yml)
  #
  # Moved to CI:
  # - basedpyright: full type analysis too slow for every commit
  # - check-skill-line-count: whole-repo scan, not file-scoped
  # - check-orphan-files: whole-repo scan, not file-scoped
  # - check-framework-integrity --full: slow full codebase wikilink scan
  # - audit_framework_health: comprehensive audit

feat: replace polecat worktrees with local clones
  polecat/cli.py
  polecat/manager.py
  tests/polecat/test_worktree_upstream.py
Due: none

fix: implement proper logging for headless tests
  pyproject.toml
  tests/conftest.py
Due: dprint

feat: Gemini Docker sandbox for crew workers + typecheck fix
  .gemini/sandbox.Dockerfile
  .gitignore
  CHANGELOG.md
  Makefile
  aops-core/lib/gates/engine.py
  polecat/cli.py
Due: dprint

refactor: remove uv-dynamic-versioning and simplify Dockerfile
  Dockerfile
  pyproject.toml
  uv.lock
Due: dprint

feat: add multi-client Docker environment and verification harness
  .dockerignore
  Dockerfile
  Makefile
  pyproject.toml
  scripts/verify-docker-env.sh
Due: dprint

chore: sync pyproject versioning with release-please
  pyproject.toml
  release-please-config.json
  uv.lock
Due: dprint

feat: wrap polecat agent execution in docker container
  polecat/cli.py
  tests/e2e/test_polecat_docker_isolation.py
Due: none

fix: remove stale temp_path required_vars from hydrator.instruction template spec
  aops-core/lib/template_registry.py
Due: none

fix: add requires_local_env markers and fix test_gate_path_not_in_tmp
  aops-core/HEURISTICS.md
  tests/hooks/test_gate_replay.py
  tests/integration/test_settings_discovery.py
  tests/test_gemini_hooks_json.py
  tests/test_transcript.py
Due: dprint

feat: prune old plugin cache versions in install-dev
  Makefile
Due: none

feat(hydrator): implement task-hydrator Phase 1 prototype
  aops-core/SKILLS.md
  aops-core/agents/task-hydrator.md
  aops-core/commands/hydrate.md
  aops-core/hooks/gate_config.py
  tests/hooks/test_gate_verdicts.py
Due: dprint, check-framework-integrity

docs: clarify hydrator/planner distinction and phase 1 prototype goals
  specs/hydration-planning-merge.md
Due: dprint

chore(framework): shift to abstraction layer architecture
  aops-core/AXIOMS.md
  specs/modularity-agentic-qa.md
  specs/prompt-hydration.md
Due: dprint

chore(framework): codify non-interactive execution constraint
  aops-core/AXIOMS.md
  aops-core/CONSTRAINTS.md
Due: dprint

fix: resolve P#54 collision, update enforcement-map and VISION.md
  aops-core/AXIOMS.md
  aops-core/CONSTRAINTS.md
  aops-core/framework/enforcement-map.md
  docs/VISION.md
Due: dprint

feat(architecture): merge hydration with formal decomposition
  aops-core/AXIOMS.md
  specs/hydration-planning-merge.md
  specs/modularity-agentic-qa.md
  specs/prompt-hydration.md
Due: dprint

feat(architecture): redefine hydration as task enrichment
  aops-core/CONSTRAINTS.md
  aops-core/agents/task-hydrator.md
  specs/hydration-planning-merge.md
  specs/modularity-agentic-qa.md
  specs/prompt-hydration.md
Due: dprint

fix(ci): restrict CI to unit tests; mark e2e/integration tests as slow
  .github/workflows/pytest.yml
  tests/e2e/test_session_insights_pipeline.py
  tests/integration/test_gemini_agent_definitions.py
  tests/integration/test_hydration_path_resolution.py
  tests/integration/test_settings_discovery.py
  tests/integration/test_skill_discovery_standalone.py
  tests/integration/test_subagent_tool_call_extraction.py
  tests/integration/test_workflow_constraints.py
Due: none

refactor(tests): replace requires_local_env marker with integration
  pyproject.toml
  tests/e2e/test_gates_e2e.py
  tests/e2e/test_gates_enforcement_e2e.py
  tests/e2e/test_polecat_docker_isolation.py
  tests/hooks/test_gate_replay.py
  tests/integration/test_credential_isolation.py
  tests/integration/test_criteria_gate_e2e.py
  tests/integration/test_cross_platform_e2e.py
  tests/integration/test_custodiet_e2e.py
  tests/integration/test_deny_rules.py
  tests/integration/test_gemini_mcp_e2e.py
  tests/integration/test_hooks_discovery.py
  tests/integration/test_hydration_gate_e2e.py
  tests/integration/test_hydrator.py
  tests/integration/test_multi_agent_workflows.py
  tests/integration/test_plugin_integration.py
  tests/integration/test_policy_enforcer_e2e.py
  tests/integration/test_pretooluse_block_routing_e2e.py
  tests/integration/test_session_insights_e2e.py
  tests/integration/test_settings_discovery.py
  tests/integration/test_skill_discovery_standalone.py
  tests/integration/test_skill_script_discovery.py
  tests/test_gemini_hooks_json.py
  tests/test_transcript.py
Due: dprint

fix(ci): exclude demo tests from default run; increase autofix timeout
  .github/workflows/agent-autofix.yml
  pyproject.toml
Due: dprint

fix(ci): only run autofix when CI fails; fix job-level timeout
  .github/workflows/agent-autofix.yml
  .github/workflows/pr-pipeline.yml
Due: none

fix(ci): add 120s settle delay before agent-fix; revert failure-only condition
  .github/workflows/pr-pipeline.yml
Due: none

fix(ci): cancel duplicate build runs when one is already in progress
  .github/workflows/build-extension.yml
Due: none

chore(main): release 0.4.0
  .claude-plugin/marketplace.json
  .release-please-manifest.json
  CHANGELOG.md
  aops-core/.claude-plugin/plugin.json
  gemini-extension.json
Due: dprint

fix(polecat): fix Docker execution for Claude and Gemini crew/run
  .gemini/sandbox.Dockerfile
  Dockerfile
  polecat/cli.py
Due: none

fix(polecat): semver NVM sort, auth key forwarding, read-only config mounts
  polecat/cli.py
  tests/e2e/test_polecat_docker_isolation.py
  tests/polecat/test_cli_docker.py
Due: none

fix(polecat): mount pkb binary and ACA_DATA in Docker container
  polecat/cli.py
  tests/polecat/test_cli_docker.py
Due: none

fix(polecat): remove incorrect Gemini key forwarding from Claude Docker path
  polecat/cli.py
  tests/polecat/test_cli_docker.py
Due: none

fix(polecat): revert read-only .claude mount; fix crew terminology
  polecat/cli.py
  tests/polecat/test_cli_docker.py
Due: none

fix(polecat): remove --tmpfs mount that hides .claude config in Docker
  Dockerfile
  polecat/cli.py
  tests/polecat/test_cli_docker.py
Due: none

feat(tests): add claude_docker fixture for containerised integration tests
  tests/conftest.py
  tests/e2e/test_docker_session.py
Due: none

fix(polecat): fix GEMINI_CLI_HOME path in _replicate_gemini_auth
  polecat/cli.py
Due: none

feat(tests): extend cli_headless to 4 backends with Gemini auth replication
  tests/conftest.py
  tests/e2e/test_docker_session.py
Due: none
