Repository nicsuzor/academicOps: changes, and which pre-commit hooks are due for each by the changed paths.
All: dprint, check-framework-integrity

.pre-commit-config.yaml:

# Pre-commit hooks for academicOps framework governance
# See https://pre-commit.com for more info

repos:
  # Markdown/JSON/TOML validation (dprint - check-only, no auto-fix)
  # Ruff check --fix auto-fixes what it can; ruff-format checks formatting
  - repo: local
    hooks:
      - id: dprint
        name: dprint check
        entry: uv run dprint check
        language: system
        types_or: [markdown, json, toml]
        pass_filenames: true

  # Markdown linting (catches issues dprint doesn't fix)
  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.12.1
    hooks:
      - id: markdownlint-cli2
        exclude: '^archived/'

  # Standard hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: '\.excalidraw$'
      - id: end-of-file-fixer
        exclude: '\.excalidraw$'
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
        args: ['--maxkb=500']

  # Python linting (auto-fix enabled)
  # Ruff check --fix auto-fixes what it can; ruff-format checks formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.4
    hooks:
      - id: ruff
        args: [--fix]
        exclude: '^archived/'
      - id: ruff-format
        args: [--check]
        exclude: '^archived/'

  # Framework integrity checks (index wikilinks, skill entries, workflow length)
  # Consolidates check-workflow-length + new index integrity validation
  - repo: local
    hooks:
      - id: check-framework-integrity
        name: framework integrity check
        entry: uv run python scripts/check_framework_integrity.py
        language: system
        pass_filenames: false
        files: '(WORKFLOWS|SKILLS)\.md$|workflows/.*\.md$|skills/.*/SKILL\.md$|commands/.*\.md$'

  # Type checking and full framework health checks run in CI only
  # (see .github/workflows/framework-health.yml)
  #
  # Moved to CI:
  # - basedpyright: full type analysis too slow for every commit
  # - check-skill-line-count: whole-repo scan, not file-scoped
  # - check-orphan-files: whole-repo scan, not file-scoped
  # - check-framework-integrity --full: slow full codebase wikilink scan
  # - audit_framework_health: comprehensive audit

dispatch: carry container results home through a courier subagent
  plugins/aops/skills/dispatch/SKILL.md
  specs/enforcement/enforcement.md
Due: dprint, check-framework-integrity

fix(telemetry): stop reporting against a denominator a hook can't observe
  lib/hooks/telemetry.py
  specs/ARCHITECTURE.md
  tests/test_hooks.py
Due: dprint

docs+fix(transcripts): document the on-disk trace convention, close reader-ergonomics gaps
  lib/py/transcripts/adapters/claude.py
  lib/py/transcripts/domain/renderer.py
  lib/py/transcripts/model.py
  specs/transcript-pipeline.md
  tests/transcripts/test_subagents.py
Due: dprint

polecat: add opt-in --live-edit mount for the installed-plugin cache
  plugins/aops/polecat/cli.py
  pyproject.toml
  specs/polecat/live-edit-mount.md
  specs/polecat/tmux-interactive-driving.md
  tests/polecat/test_live_edit_mount.py
Due: dprint

polecat: resolve --live-edit mounts from the image, not the host version
  plugins/aops/polecat/cli.py
  specs/polecat/live-edit-mount.md
  specs/polecat/tmux-interactive-driving.md
  tests/polecat/test_live_edit_mount.py
Due: dprint

polecat: close review findings on --live-edit mount resolution
  plugins/aops/polecat/cli.py
  specs/polecat/live-edit-mount.md
  specs/polecat/polecat-system.md
  tests/polecat/test_live_edit_mount.py
Due: dprint

polecat: make --live-edit's own output true
  plugins/aops/polecat/cli.py
  specs/polecat/live-edit-mount.md
  specs/polecat/polecat-system.md
  tests/polecat/test_live_edit_mount.py
Due: dprint

polecat: cover the differing-versions branch of the live-edit line
  tests/polecat/test_live_edit_mount.py
Due: none

pkb: give the every-prompt hook a line for the person watching
  plugins/pkb/hooks/handlers.py
  plugins/pkb/hooks/messages/pkb-context.user.md
  tests/test_hooks.py
  tests/test_pkb_handlers.py
Due: dprint

cope: add a local CoPE evaluator shim + tests
  plugins/cope/README.md
  scripts/cope_eval_shim.py
  tests/test_cope_eval_shim.py
Due: dprint

cope: add a start/stop/status launcher for the local evaluator stack
  plugins/cope/README.md
  scripts/cope_eval_stack.py
  tests/test_cope_eval_stack.py
Due: dprint

polecat: retire --live-edit; the image is the only path
  plugins/aops/polecat/cli.py
  pyproject.toml
  specs/polecat/live-edit-mount.md
  specs/polecat/polecat-system.md
  specs/polecat/tmux-interactive-driving.md
  tests/polecat/test_live_edit_mount.py
Due: dprint

Reconcile on engagement, and certify work before it counts as done
  plugins/aops/skills/dispatch/SKILL.md
  plugins/aops/skills/strategic-review/SKILL.md
  plugins/aops/skills/verify/SKILL.md
  plugins/ida/README.md
  plugins/ida/agents/ida.md
  plugins/pkb/README.md
  plugins/pkb/skills/decompose/SKILL.md
  plugins/pkb/skills/reconcile/SKILL.md
  plugins/pkb/skills/remember/references/consolidation.md
  specs/enforcement/enforcement.md
  specs/enforcement/task-contract.md
  specs/enforcement/workflow.md
  specs/workflows/reconcile.md
Due: dprint, check-framework-integrity

Close the certification REVISE list: no silent zero-review, no lost sign-off
  lib/axioms/AXIOMS-REVIEW.md
  lib/axioms/README.md
  lib/axioms/one-way-door.md
  plugins/aops/skills/dispatch/SKILL.md
  plugins/aops/skills/strategic-review/SKILL.md
  plugins/ida/agents/ida.md
  plugins/pkb/skills/decompose/SKILL.md
  plugins/pkb/skills/reconcile/SKILL.md
  specs/agents/agent-authority.md
  specs/enforcement/enforcement.md
  specs/polecat/polecat-system.md
  specs/workflows/reconcile.md
Due: dprint, check-framework-integrity

Second certification round: fix what the first round's fixes got wrong
  lib/axioms/README.md
  lib/axioms/one-way-door.md
  plugins/aops/skills/dispatch/SKILL.md
  plugins/ida/agents/ida.md
  plugins/pkb/skills/decompose/SKILL.md
  plugins/pkb/skills/reconcile/SKILL.md
  specs/agents/agent-authority.md
  specs/enforcement/enforcement.md
  specs/polecat/polecat-system.md
  specs/workflows/reconcile.md
Due: dprint, check-framework-integrity

Make the review lens links resolvable, and close two defects the last commit added
  lib/axioms/AXIOMS-REVIEW.md
  plugins/pkb/skills/decompose/SKILL.md
  plugins/pkb/skills/workflow/SKILL.md
Due: dprint, check-framework-integrity

ida: stop claiming the sign-off floor is enforced nowhere else
  plugins/ida/README.md
  plugins/pkb/skills/reconcile/SKILL.md
Due: dprint, check-framework-integrity

perf(docker): order polecat image layers by invalidation frequency
  Dockerfile
Due: none

Let skills declare doctrine fragments, and give the launch claim a lib/ home
  lib/doctrine/README.md
  lib/doctrine/launch-claim.md
  plugins/aops/skills/dispatch/SKILL.md
  plugins/pkb/skills/reconcile/SKILL.md
  tests/test_doctrine.py
Due: dprint, check-framework-integrity

Resolve three PR #2340 follow-ups: pauli PKB access, agent-authority rulings, spec/taxonomy consistency
  plugins/aops/agents/james.md
  plugins/aops/agents/marsha.md
  plugins/aops/agents/rbg.md
  plugins/aops/skills/strategic-review/SKILL.md
  plugins/ida/agents/ida.md
  plugins/pkb/agents/pauli.md
  plugins/pkb/skills/graph-maintenance/references/taxonomy.md
  specs/agents/agent-authority.md
  specs/workflows/reconcile.md
Due: dprint, check-framework-integrity

Revert "polecat: cover the differing-versions branch of the live-edit line"
  tests/polecat/test_live_edit_mount.py
Due: none

so many questions: readme.md notes
  plugins/aops/README.md
  plugins/cope/README.md
  plugins/ida/README.md
  plugins/pkb/README.md
  plugins/tools/README.md
Due: dprint

more README notes to address
  plugins/aops/README.md
  plugins/aops/hooks/handlers.py
  plugins/cope/README.md
Due: dprint

Revert "Revert "polecat: cover the differing-versions branch of the live-edit line""
  tests/polecat/test_live_edit_mount.py
Due: none

update readme files
  lib/hooks/provenance.py
  plugins/aops/README.md
  plugins/aops/agents/james.md
  plugins/aops/hooks/handlers.py
  plugins/aops/hooks/messages/session-start.md
  plugins/aops/hooks/messages/session-start.user.md
  plugins/aops/skills/dispatch/SKILL.md
  plugins/cope/README.md
  plugins/cope/hooks/evaluator.py
  plugins/ida/README.md
  plugins/ida/agents/ida.md
  plugins/pkb/README.md
  plugins/pkb/agents/pauli.md
  plugins/tools/README.md
  plugins/tools/skills/diagram/references/mermaid-techniques.md
  plugins/tools/skills/diagram/references/quality-and-anti-patterns.md
  plugins/tools/skills/extract/SKILL.md
  pyproject.toml
  specs/enforcement/enforcement.md
  specs/workflows/reconcile.md
  tests/test_aops_handlers.py
  tests/test_hooks.py
Due: dprint, check-framework-integrity

docs(specs): govern plugin READMEs from the doc taxonomy
  specs/ARCHITECTURE.md
  specs/meta/doc-taxonomy.md
Due: dprint

fix(provenance): widen _load_json's catch so a bad registry can't drop the handler
  lib/hooks/provenance.py
  tests/test_hooks.py
Due: none

docs(specs): fold plugin README pointer into the layout paragraph
  specs/ARCHITECTURE.md
  specs/meta/doc-taxonomy.md
Due: dprint

test: skip manifest checks on an unbuilt tree instead of erroring at collection
  tests/test_plugin_manifests.py
Due: none

ida: stop instructing a tool-less agent to write to the knowledge base
  lib/doctrine/README.md
  plugins/ida/agents/ida.md
Due: dprint

docs: replace dead scripts/format.sh reference with real commands
  .agents/CORE.md
  CONTRIBUTING.md
Due: dprint

fix(lint): widen refcheck to root-level docs; fix stale copilot-instructions claims
  .github/copilot-instructions.md
  pyproject.toml
Due: dprint

update responsibilities
  README.md
  plugins/aops/agents/james.md
  plugins/aops/hooks/messages/answer-evidence.md
  plugins/aops/hooks/messages/answer-evidence.user.md
  plugins/ida/agents/ida.md
  plugins/pkb/agents/pauli.md
  plugins/pkb/scripts/run-mcp.sh
  plugins/pkb/skills/workflow/SKILL.md
  specs/ARCHITECTURE.md
  specs/enforcement/enforcement.md
  tests/test_pkb_handlers.py
Due: dprint, check-framework-integrity

feat: Add unified ida-flat orchestrator
  lib/doctrine/README.md
  plugins/ida/agents/ida-flat.md
Due: dprint

refactor: Migrate doctrine to axioms and remove includes from agents
  lib/axioms/delegation.md
  lib/axioms/durable-capture.md
  lib/axioms/excellence.md
  lib/axioms/governing-rules.md
  lib/axioms/launch-claim.md
  lib/axioms/probe-uncertainty.md
  lib/doctrine/README.md
  lib/doctrine/epistemics.md
  lib/doctrine/halt.md
  lib/doctrine/launder.md
  plugins/aops/agents/james.md
  plugins/aops/agents/marsha.md
  plugins/aops/agents/rbg.md
  plugins/aops/skills/dispatch/SKILL.md
  plugins/ida/agents/ida-flat.md
  plugins/ida/agents/ida.md
  plugins/pkb/agents/pauli.md
  plugins/pkb/skills/reconcile/SKILL.md
  specs/ARCHITECTURE.md
  tests/test_doctrine.py
Due: dprint, check-framework-integrity

add agy dist for dev
  Makefile
Due: none

update readmes
  README.md
  plugins/aops/README.md
  plugins/ida/README.md
  plugins/pkb/README.md
Due: dprint

template stub
  Makefile
  build/build.py
  build/context.py
  scripts/clean_plugins.py
  templates/plugin/README.md
  templates/plugin/axioms/example.md
  templates/plugin/commands/example.md
  templates/plugin/hooks/example.py
  templates/plugin/skills/example/SKILL.md
  tests/test_build.py
Due: dprint, check-framework-integrity

hook script template
  templates/plugin/README.md
  templates/plugin/hooks/example.py
  templates/plugin/hooks/handlers.py
Due: dprint

single mcp config
  build/clients/agy.py
  build/clients/claude.py
  templates/plugin/manifest/hooks.template.json
  templates/plugin/manifest/mcp.template.json
  templates/plugin/manifest/plugin.template.json
  templates/plugin/manifest/plugin.toml
Due: dprint
