Repository nicsuzor/academicOps: changes, and which pre-commit hooks are due for each by the changed paths.
All: dprint, check-framework-integrity

dprint:
  name: dprint check
  entry: uv run dprint check
  language: system
  pass_filenames: true

check-framework-integrity:
  name: framework integrity check
  entry: uv run python scripts/check_framework_integrity.py
  language: system
  pass_filenames: false

fix(sleep): increase Phase 4b batch limit to 100+ and enable bulk reparenting
  aops-core/SKILLS.md
  aops-core/skills/sleep/SKILL.md
  templates/github-workflows/sleep-cycle.yml
Due: dprint, check-framework-integrity

Fix linting and formatting in sweep implementation
  aops-core/skills/daily/instructions/progress-sync.md
  polecat/cli.py
  polecat/github.py
  scripts/repo-sync-cron.sh
Due: dprint

fix: use leaf-only ready count as primary queue metric in watch
  polecat/cli.py
Due: none

feat(pkb): consolidate ready filter logic into task model
  aops-core/lib/task_index.py
  aops-core/lib/task_model.py
  aops-core/lib/task_storage.py
  tests/test_ready_filter.py
Due: none

feat: implement Tier 1 framework core context and fix session start tests
  .agent/CORE.md
  CLAUDE.md
  CORE.md
  README.md
  aops-core/CORE.md
  aops-core/GEMINI.md
  aops-core/INDEX.md
  aops-core/hooks/session_env_setup.py
  aops-core/skills/framework/tests/test_email_workflow_tools.py
  bots/CORE.md
  dist/aops-claude/.claude-plugin/plugin.json
  dist/aops-claude/.mcp.json
  dist/aops-claude/pyproject.toml
  scripts/build.py
  scripts/install.py
Due: dprint

fmt: remove extra blank lines in test files
  tests/hooks/test_gate_replay.py
  tests/integration/test_credential_isolation.py
  tests/integration/test_custodiet_e2e.py
Due: none

fix(ci): handle missing aops binary in mem release archive
  .github/workflows/build-extension.yml
Due: none

Fix: Garden should surface old tasks for review, never auto-cancel based on age (#212)
  .pre-commit-config.yaml
  dist/aops-claude/.claude-plugin/plugin.json
  dist/aops-claude/.mcp.json
  dprint.json
  scripts/validate-ruleset-alignment.sh
  specs/sleep-cycle.md
  templates/github-workflows/sleep-cycle.yml
Due: dprint

fix(polecat): skip checked-out worktree branches during mirror fetch
  polecat/manager.py
Due: none

Fix: Sleep Phase 4b max 30 items too low — need bulk reparent pass (#214)
  aops-core/SKILLS.md
  aops-core/skills/sleep/SKILL.md
  templates/github-workflows/sleep-cycle.yml
Due: dprint, check-framework-integrity

Add merge_ready sweep to daily cron (#215)
  aops-core/skills/daily/instructions/progress-sync.md
  polecat/cli.py
  polecat/github.py
  scripts/repo-sync-cron.sh
Due: dprint

Fix: Use leaf-only ready count as real queue metric, not active count (#216)
  polecat/cli.py
Due: none

fix: add project filter to get_blocked_tasks
  aops-core/lib/task_storage.py
  tests/test_ready_filter.py
Due: none

fix(sleep): use pkb_orphans instead of graph_stats.orphan_count for orphan detection
  templates/github-workflows/sleep-cycle.yml
Due: none

feat(framework): disable hydration gate enforcement framework-wide (aops-c255c989)
  aops-core/agent-env-map.conf
  aops-core/hooks/gate_config.py
  aops-core/skills/framework/references/enforcement-map.md
  pyproject.toml
  specs/enforcement.md
  tests/hooks/conftest.py
  tests/hooks/test_gate_verdicts.py
  tests/hooks/test_hydration_never_deny.py
  tests/hooks/test_session_env_setup.py
  tests/hooks/test_toolsearch_bypass.py
Due: dprint

Fix: Sleep should use pkb_orphans not graph_stats.orphan_count (#211)
  specs/sleep-cycle.md
  templates/github-workflows/sleep-cycle.yml
Due: dprint

feat: implement Tier 1 framework core context and fix session start tests (#218)
  .agent/CORE.md
  CLAUDE.md
  CORE.md
  README.md
  aops-core/CORE.md
  aops-core/GEMINI.md
  aops-core/INDEX.md
  aops-core/hooks/session_env_setup.py
  aops-core/skills/framework/tests/test_core_md_task_guidance.py
  aops-core/skills/framework/tests/test_email_workflow_guidance.py
  aops-core/skills/framework/tests/test_email_workflow_tools.py
  bots/CORE.md
  dist/aops-claude/pyproject.toml
  scripts/build.py
  scripts/install.py
Due: dprint

Disable hydration gate enforcement (all session types) (#213)
  aops-core/agent-env-map.conf
  aops-core/hooks/gate_config.py
  aops-core/skills/framework/references/enforcement-map.md
  pyproject.toml
  specs/enforcement.md
  tests/hooks/conftest.py
  tests/hooks/test_gate_verdicts.py
  tests/hooks/test_hydration_never_deny.py
  tests/hooks/test_session_env_setup.py
  tests/hooks/test_toolsearch_bypass.py
Due: dprint

fix: restore transcript pipeline — cron $USER + router field access
  aops-core/hooks/router.py
  scripts/repo-sync-cron.sh
Due: none

feat: add mandatory post-run follow-ups and pre-dispatch validation to dogfood workflow
  aops-core/skills/hydrator/workflows/dogfooding.md
  aops-core/skills/swarm-supervisor/SKILL.md
  aops-core/skills/swarm-supervisor/instructions/knowledge-capture.md
  aops-core/skills/swarm-supervisor/instructions/worker-execution.md
Due: dprint, check-framework-integrity

fix: cap audit session context to 30K chars for custodiet subagent (#228)
  aops-core/hooks/templates/custodiet-context.md
  aops-core/lib/session_reader.py
  tests/lib/test_session_reader.py
Due: dprint

fix: restore transcript pipeline — cron $USER + router field access (#225)
  aops-core/hooks/router.py
  scripts/repo-sync-cron.sh
Due: none

fix: custodiet empty session narrative when entries pre-parsed (#228)
  aops-core/lib/session_reader.py
  tests/lib/test_session_reader.py
Due: none

allow force run for merge
  .github/workflows/agent-merge-prep.yml
Due: none

fix(polecat): log skipped worktree branches before fetch
  polecat/manager.py
Due: none

fix: use staging directory for Docker auth file mounts
  Dockerfile
  polecat/cli.py
  polecat/entrypoint.sh
Due: none

ensure polecat dir is outside of git
  aops-core/lib/paths.py
  polecat/cli.py
Due: none

Fix semver regression in dev releases (#208)
  .github/workflows/build-extension.yml
  Makefile
  scripts/build.py
  scripts/version.py
  tests/test_semver_regression.py
Due: none

fix merge prep
  .github/workflows/agent-merge-prep.yml
Due: none

fix(polecat): prevent crew sessions from using stale worktrees
  polecat/cli.py
  polecat/manager.py
Due: none

fix(polecat): write crew/polecat sessions to \$AOPS_SESSIONS, not worktree
  polecat/cli.py
Due: none

fix(burst-supervisor): require explicit worker_type, codify dogfood learnings
  archived/skills/burst-supervisor/SKILL.md
Due: dprint, check-framework-integrity

fix(ci): use origin/main ref for merge-prep agent instructions
  .github/workflows/agent-merge-prep.yml
Due: none

fix(merge-prep): require CI check discovery and local validation
  .agent/rules/enforcement-map.md
  .github/agents/merge-prep.agent.md
Due: dprint

fix(mcp): add missing pkb mcp subcommand arg + Gemini debugging docs (#210)
  dist/aops-claude/skills/framework/references/debug-details.md
  gemini-extension.json
Due: dprint

chore(main): release 0.3.14
  .claude-plugin/marketplace.json
  .release-please-manifest.json
  CHANGELOG.md
  aops-core/.claude-plugin/plugin.json
  gemini-extension.json
  pyproject.toml
Due: dprint

fix: resolve merge conflicts and remove stale hydration gate tests
  tests/hooks/test_gate_verdicts.py
  tests/hooks/test_toolsearch_bypass.py
Due: none

fix(merge-prep): ensure merge-prep-status targets current HEAD SHA
  .github/agents/merge-prep.agent.md
  .github/workflows/agent-merge-prep.yml
Due: dprint

Path conditions:
  dprint: any of: \.(md|markdown|mdown)$, \.json$, \.toml$
  check-framework-integrity: any of: (WORKFLOWS|SKILLS)\.md$|workflows/.*\.md$|skills/.*/SKILL\.md$|commands/.*\.md$
