Repository nicsuzor/academicOps: changes, and which pre-commit hooks are due for each by the changed paths.
All: dprint, check-framework-integrity

.pre-commit-config.yaml:

# Pre-commit hooks for academicOps framework governance
# See https://pre-commit.com for more info

repos:
  # Markdown/JSON/TOML validation (dprint - check-only, no auto-fix)
  # Ruff check --fix auto-fixes what it can; ruff-format checks formatting
  - repo: local
    hooks:
      - id: dprint
        name: dprint check
        entry: uv run dprint check
        language: system
        types_or: [markdown, json, toml]
        pass_filenames: true

  # Markdown linting (catches issues dprint doesn't fix)
  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.12.1
    hooks:
      - id: markdownlint-cli2
        exclude: '^archived/'

  # Standard hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: '\.excalidraw$'
      - id: end-of-file-fixer
        exclude: '\.excalidraw$'
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
        args: ['--maxkb=500']

  # Python linting (auto-fix enabled)
  # Ruff check --fix auto-fixes what it can; ruff-format checks formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.4
    hooks:
      - id: ruff
        args: [--fix]
        exclude: '^archived/'
      - id: ruff-format
        args: [--check]
        exclude: '^archived/'

  # Framework integrity checks (index wikilinks, skill entries, workflow length)
  # Consolidates check-workflow-length + new index integrity validation
  - repo: local
    hooks:
      - id: check-framework-integrity
        name: framework integrity check
        entry: uv run python scripts/check_framework_integrity.py
        language: system
        pass_filenames: false
        files: '(WORKFLOWS|SKILLS)\.md$|workflows/.*\.md$|skills/.*/SKILL\.md$|commands/.*\.md$'

  # Type checking and full framework health checks run in CI only
  # (see .github/workflows/framework-health.yml)
  #
  # Moved to CI:
  # - basedpyright: full type analysis too slow for every commit
  # - check-skill-line-count: whole-repo scan, not file-scoped
  # - check-orphan-files: whole-repo scan, not file-scoped
  # - check-framework-integrity --full: slow full codebase wikilink scan
  # - audit_framework_health: comprehensive audit

fix(dump): align skill description with the single handover process
  plugins/pkb/README.md
  plugins/pkb/skills/dump/SKILL.md
Due: dprint, check-framework-integrity

fix(pull): drop reference to dump's removed full path
  plugins/pkb/skills/pull/SKILL.md
Due: dprint, check-framework-integrity

docs(specs): reconcile ARCHITECTURE with what the branch ships
  specs/ARCHITECTURE.md
Due: dprint

docs(specs): mark the enforcement carriers this branch deleted
  plugins/orchestrate/README.md
  specs/ENFORCEMENT-MAP.md
Due: dprint

fix(tracer): bound OTLP span export with a 2s timeout
  plugins/orchestrate/hooks/claude_code_tracer.py
Due: none

fix(tracer): annotate TracerProvider kwargs dict as dict[str, Any]
  plugins/orchestrate/hooks/claude_code_tracer.py
Due: none

test(tracer): assert the export timeout on both exporter constructions
  plugins/orchestrate/tests/test_tracer.py
Due: none

docs(build): label the call_mcp_tool omission as a dated #2422 mitigation
  build/tool_map.toml
Due: dprint

fix(hooks): log a warning when claude_code_tracer fails to import
  plugins/orchestrate/hooks/handlers.py
Due: none

fix(ida): point quiet.md at the briefing standard instead of restating it
  plugins/ida/hooks/messages/quiet.md
Due: dprint

docs(tracer): record why transcript discovery cannot reuse lib/py/transcripts
  plugins/orchestrate/hooks/claude_code_tracer.py
Due: none

move uvx step up
  Dockerfile
  build/tool_map.toml
Due: dprint

chore(dev): release 0.7.2
  .release-please-manifest.json
  CHANGELOG.md
  pyproject.toml
Due: dprint

test a change of policy on honesty reminder
  plugins/orchestrate/hooks/handlers.py
Due: none

update honesty reminder text
  plugins/orchestrate/hooks/messages/honesty.md
Due: dprint

rebuild agy frontmatter to address #2422
  build/clients/agy.py
  build/tool_map.toml
  build/tools.py
  tests/test_build.py
Due: dprint

reduce obligation of honesty and tighten instructions
  .agents/CORE.md
  plugins/ida/agents/agy.md
  plugins/ida/agents/ida.md
  plugins/orchestrate/agents/james.md
  plugins/orchestrate/hooks/messages/honesty.md
  plugins/pkb/agents/pauli.md
Due: dprint

specs: correct orchestrate hook registry, honesty payload, hearsay delivery, and agy agent frontmatter contract
  specs/ARCHITECTURE.md
Due: dprint

build(agy): translate mcp tools, format mcpServers, strip redundant frontmatter, and output wildcard for absent tools
  build/tools.py
  specs/ARCHITECTURE.md
  specs/ENFORCEMENT-MAP.md
  tests/test_build.py
Due: dprint

move q/enqueue skills
  plugins/pkb/commands/q.md
  plugins/pkb/skills/enqueue.md
  plugins/pkb/skills/pull/SKILL.md
  plugins/pkb/skills/q.md
Due: dprint, check-framework-integrity

fix as you go
  plugins/pkb/agents/pauli.md
Due: dprint

put skills in skkills
  plugins/pkb/skills/enqueue/SKILL.md
  plugins/pkb/skills/q/SKILL.md
Due: dprint, check-framework-integrity

feat(polecat): reintegrate sessions mount and --branch override capabilities
  lib/polecat/cli.py
  tests/polecat/test_container_invocation.py
  tests/polecat/test_workspace_isolation.py
Due: none

refactor(polecat): remove env var fallback for branch override in favor of strict CLI option
  lib/polecat/cli.py
Due: none

tell james use agy
  plugins/orchestrate/agents/james.md
Due: dprint

docs(triage): point trend-mode prompt mining at live transcript sidecars
  .agents/skills/triage/SKILL.md
Due: dprint, check-framework-integrity

save everything
  plugins/ida/agents/ida.md
Due: dprint

feat(transcripts): implement shared compaction-checkpoint predicate (aops_insights_outcome)
  lib/py/transcripts/domain/__init__.py
  lib/py/transcripts/domain/checkpoint.py
  lib/py/transcripts/domain/context.py
  lib/py/transcripts/domain/insights.py
  specs/transcript-pipeline.md
  tests/transcripts/test_domain.py
Due: dprint

flip default
  lib/hooks/dispatch.py
  plugins/orchestrate/hooks/handlers.py
Due: none

flip docs on honesty block/warn
  README.md
  plugins/orchestrate/README.md
  specs/ARCHITECTURE.md
  specs/ENFORCEMENT-MAP.md
  specs/enforcement/evidence-contract.md
  tests/test_shipped_hooks.py
  tests/test_stop_gates.py
Due: dprint

docs(dispatch): state print-timeout tiers and duration format
  plugins/orchestrate/skills/dispatch/SKILL.md
Due: dprint, check-framework-integrity

fix(ida): make agy subagent run foreground, not background-and-stop
  plugins/ida/agents/agy.md
Due: dprint

remove limits on ida
  plugins/ida/agents/ida.md
Due: dprint

docs(ida): make agy the default worker and route its dispatch through polecat
  plugins/ida/agents/agy.md
  plugins/ida/agents/ida.md
Due: dprint

fix(agy): use a bare Bash grant, not a permission specifier
  plugins/ida/agents/agy.md
Due: dprint

Add rtk (Rust Token Killer) hook to worker image; fix broken go install
  Dockerfile
Due: none

docs(agy): correct the --repo-dir worktree constraint and the stale "only tool" line
  plugins/ida/agents/agy.md
Due: dprint

feat(agy): set POLECAT_PRINT_TIMEOUT=30m on the polecat dispatch command
  plugins/ida/agents/agy.md
Due: dprint

pauli and tick
  plugins/pkb/agents/pauli.md
  plugins/pkb/skills/tick/SKILL.md
Due: dprint, check-framework-integrity

feat(ida): render the completion line into the daily note, and stop announcing the gate
  lib/hooks/landed.py
  plugins/ida/hooks/handlers.py
  plugins/ida/hooks/messages/quiet.user.md
  specs/README.md
  specs/adhd/completion-line.md
  tests/test_ida_stop_gate_built.py
  tests/test_landed_line.py
Due: dprint
