Repository nicsuzor/academicOps: changes, and which pre-commit hooks are due for each by the changed paths.
All: dprint, check-framework-integrity

.pre-commit-config.yaml:

# Pre-commit hooks for academicOps framework governance
# See https://pre-commit.com for more info

repos:
  # Markdown/JSON/TOML validation (dprint - check-only, no auto-fix)
  # Ruff check --fix auto-fixes what it can; ruff-format checks formatting
  - repo: local
    hooks:
      - id: dprint
        name: dprint check
        entry: uv run dprint check
        language: system
        types_or: [markdown, json, toml]
        pass_filenames: true

  # Markdown linting (catches issues dprint doesn't fix)
  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.12.1
    hooks:
      - id: markdownlint-cli2
        exclude: '^archived/'

  # Standard hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: '\.excalidraw$'
      - id: end-of-file-fixer
        exclude: '\.excalidraw$'
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
        args: ['--maxkb=500']

  # Python linting (auto-fix enabled)
  # Ruff check --fix auto-fixes what it can; ruff-format checks formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.4
    hooks:
      - id: ruff
        args: [--fix]
        exclude: '^archived/'
      - id: ruff-format
        args: [--check]
        exclude: '^archived/'

  # Framework integrity checks (index wikilinks, skill entries, workflow length)
  # Consolidates check-workflow-length + new index integrity validation
  - repo: local
    hooks:
      - id: check-framework-integrity
        name: framework integrity check
        entry: uv run python scripts/check_framework_integrity.py
        language: system
        pass_filenames: false
        files: '(WORKFLOWS|SKILLS)\.md$|workflows/.*\.md$|skills/.*/SKILL\.md$|commands/.*\.md$'

  # Type checking and full framework health checks run in CI only
  # (see .github/workflows/framework-health.yml)
  #
  # Moved to CI:
  # - basedpyright: full type analysis too slow for every commit
  # - check-skill-line-count: whole-repo scan, not file-scoped
  # - check-orphan-files: whole-repo scan, not file-scoped
  # - check-framework-integrity --full: slow full codebase wikilink scan
  # - audit_framework_health: comprehensive audit

docs(conventions): forbid conflating "don't merge/PR" with "don't commit/push"
  aops-core/skills/aops/conventions-summary.md
  aops-core/skills/supervisor/instructions/worker-dispatch.md
Due: dprint

feat(junior): replace PKB wildcard with explicit allowlist; enforce pauli as sole graph-shaper
  aops-core/agents/junior.md
Due: dprint

feat(planner): restore effectual planning philosophy inline into SKILL.md
  aops-core/skills/planner/SKILL.md
Due: dprint, check-framework-integrity

feat: PR-B simplification — identity/cleanup (pauli/marsha/sleep/craft/dogfood/feature-spec)
  aops-core/agents/marsha.md
  aops-core/agents/pauli.md
  aops-core/skills/craft/SKILL.md
  aops-core/skills/dogfood/SKILL.md
  aops-core/skills/sleep/SKILL.md
  specs/INDEX.md
  specs/agents/agent-definition-content.md
  specs/audit/AGENT-COMPLIANCE-MATRIX.md
  specs/audit/AGENT-TOOLS.md
Due: dprint, check-framework-integrity

Remove unauthorised feature→spec rule — agent-originated doctrine, not principal-approved
  specs/agents/agent-definition-content.md
Due: dprint

docs(specs): add framework connectivity index as specs/CONNECTIVITY.md
  specs/CONNECTIVITY.md
  specs/INDEX.md
Due: dprint

fix(polecat): remove stale sleep-skill bootstrap check
  polecat/bootstrap.py
  tests/polecat/test_bootstrap.py
Due: none

feat(enforcement): wire rbg+qa to read repo-local RULES.md; populate process rules
  .agents/rules/RULES.md
  .agents/skills/verify/SKILL.md
  .github/agents/qa.agent.md
  aops-core/agents/rbg.md
  specs/ENFORCEMENT-MAP.md
Due: dprint, check-framework-integrity

Remove brittle hardcoded skill-existence checks from bootstrap
  polecat/bootstrap.py
  tests/polecat/test_bootstrap.py
Due: none

feat(remember): trim /remember SKILL.md 234→148 lines, add maintenance triggers
  aops-core/skills/remember/SKILL.md
Due: dprint, check-framework-integrity

Remove 7 residual brittle mirror tests (gate/template/compliance)
  tests/hooks/gate_helpers.py
  tests/hooks/test_gate_config.py
  tests/hooks/test_output_channel_routing.py
  tests/lib/test_template_registry.py
  tests/test_gemini_accessibility.py
Due: none

fix(verify): delete .agents/skills/verify/SKILL.md duplicate; update SSoT exception doc
  .agents/skills/verify/SKILL.md
  .github/agents/qa.agent.md
  specs/ENFORCEMENT-MAP.md
Due: dprint, check-framework-integrity

refactor(supervisor): reduce SKILL.md 487→174 lines; consolidate dispatch rules
  CHANGELOG.md
  aops-core/agents/junior.md
  aops-core/skills/supervisor/SKILL.md
  aops-core/skills/supervisor/instructions/worker-dispatch.md
  aops-core/skills/supervisor/references/cohesive-pr-epic.md
  aops-core/skills/supervisor/references/dispatch-rules.md
  aops-core/skills/supervisor/references/subagent-contracts.md
  aops-core/skills/supervisor/references/supervision-mechanics.md
Due: dprint, check-framework-integrity

fix(hooks): agy PreToolUse ALLOW must emit allowTool=true, not {} (aops-1e68682a)
  aops-core/hooks/router.py
  tests/hooks/test_agy_protojson_contract.py
  tests/hooks/test_output_for_agy.py
Due: none

Remove STOP_GATES-parametrized test classes from test_output_channel_routing
  tests/hooks/test_output_channel_routing.py
Due: none

fix(rbg): correct stale R1–R8 header to R1–R4 (only four rules defined)
  aops-core/agents/rbg.md
Due: dprint

fix(install): handle marketplace name mismatch on reinstall
  Makefile
Due: none

fix(install): remove silent stderr suppression from marketplace fallback
  Makefile
Due: none

refactor(agents): factor shared PKB doctrine, fix tool-lists, namespaces, circular invoke (#1818)
  .agents/rules/RULES.md
  aops-core/agents/james.md
  aops-core/agents/junior.md
  aops-core/agents/marsha.md
  aops-core/agents/pauli.md
  aops-core/commands/email.md
  aops-core/commands/issue-sweep.md
  aops-core/commands/maintain.md
  aops-core/commands/pull.md
  aops-core/commands/q.md
  specs/audit/AGENT-TOOLS.md
Due: dprint, check-framework-integrity

refactor(supervisor): reduce SKILL.md 487→174 lines; consolidate dispatch rules (#1834)
  CHANGELOG.md
  aops-core/agents/junior.md
  aops-core/skills/supervisor/SKILL.md
  aops-core/skills/supervisor/instructions/worker-dispatch.md
  aops-core/skills/supervisor/references/cohesive-pr-epic.md
  aops-core/skills/supervisor/references/dispatch-rules.md
  aops-core/skills/supervisor/references/subagent-contracts.md
  aops-core/skills/supervisor/references/supervision-mechanics.md
Due: dprint, check-framework-integrity

remove prebake-hook-venvs target and all call sites
  Makefile
Due: none

update ida wording
  aops-core/hooks/templates/ida-reminder.md
Due: dprint

stop gate
  aops-core/agents/junior.md
  aops-core/hooks/templates/stop-gate-handover-block.md
Due: dprint

fix(hooks): attribute the QA Stop advisory with its own provenance wrapper
  aops-core/hooks/templates/qa-policy-context.md
  tests/hooks/test_ida_qa_stop_provenance_20733036.py
Due: dprint

fix(secret-redaction): spare numeric values from *TOKEN*/*KEY* over-match
  aops-core/lib/secret_redaction.py
  tests/lib/test_secret_redaction.py
Due: none
