Repository nicsuzor/academicOps: changes, and which pre-commit hooks are due for each by the changed paths.
All: dprint, check-framework-integrity

dprint:
  name: dprint check
  entry: uv run dprint check
  language: system
  pass_filenames: true

check-framework-integrity:
  name: framework integrity check
  entry: uv run python scripts/check_framework_integrity.py
  language: system
  pass_filenames: false

fix(enforcement-map): correct check-skill-line-count claim — script not actually wired to CI
  .agents/ENFORCEMENT-MAP.md
Due: dprint

docs(enforcement-map): downgrade skill line-count to advisory; document why CI wiring was disabled
  .agents/ENFORCEMENT-MAP.md
Due: dprint

specs: retire in-tree specs/, complete brain PKB migration (#808)
  .agents/CORE.md
  .agents/ENFORCEMENT-MAP.md
  .agents/STATUS.md
  .agents/context-map.json
  aops-core/HEURISTICS.md
  aops-core/RULES.md
  aops-core/commands/review-pr.md
  aops-core/hooks/router.py
  aops-core/hooks/templates/orchestrator-boundary-warn.md
  aops-core/hooks/templates/orchestrator-dispositor-reminder.md
  aops-core/lib/gates/custom_conditions.py
  aops-core/lib/gates/definitions.py
  aops-core/lib/insights_generator.py
  aops-core/lib/orchestrator_boundary.py
  aops-core/lib/session_context.py
  aops-core/lib/session_naming.py
  aops-core/lib/session_state.py
  aops-core/lib/session_summary.py
  aops-core/lib/transcript_parser.py
  aops-core/skills/aops/references/enforcement-design.md
  aops-core/skills/aops/references/feature-dev-details.md
  aops-core/skills/aops/references/spec-development-details.md
  aops-core/skills/dogfood/SKILL.md
  aops-core/skills/project/workflows/context-map-audit.md
  aops-core/skills/remember/references/TAXONOMY.md
  aops-core/skills/sleep/SKILL.md
  aops-core/skills/supervisor/SKILL.md
  scripts/check_no_new_orphan_md.py
  scripts/check_skill_line_count.py
  specs/stop-hook-rbg-advisory.md
  tests/hooks/test_check_no_new_orphan_md.py
  tests/hooks/test_orchestrator_boundary.py
  tests/test_session_context.py
Due: dprint, check-framework-integrity

install cowork from dev
  Makefile
Due: none

add install
  Makefile
Due: none

fix(pkb-mcp): declare deps via PEP 723 so uv resolves them at launch
  aops-core/scripts/pkb_perf_proxy.py
Due: none

feat(planner): add decision-surfacing heuristic to teach DECIDE/DEFER/SURFACE classification
  aops-core/skills/planner/SKILL.md
Due: dprint, check-framework-integrity

fix(pkb-mcp): declare deps via PEP 723 so uv resolves them at launch (#813)
  aops-core/scripts/pkb_perf_proxy.py
Due: none

jr instructions
  aops-core/agents/jr.md
Due: dprint

feat(commands): add /issue-sweep — quality-gated GitHub issue triage
  aops-core/commands/issue-sweep.md
Due: dprint, check-framework-integrity

feat(planner): add decision-surfacing heuristic to teach DECIDE/DEFER/SURFACE classification (#818)
  aops-core/skills/planner/SKILL.md
Due: dprint, check-framework-integrity

feat(commands): add /issue-sweep — quality-gated GitHub issue triage (#820)
  aops-core/commands/issue-sweep.md
Due: dprint, check-framework-integrity

polecat: set non-interactive env vars on worker subprocesses
  polecat/cli.py
Due: none

polecat: accept project aliases and repo names for -p flag
  polecat/cli.py
  polecat/manager.py
  tests/polecat/test_project_alias_resolution.py
Due: none

docker(polecat): install openssh-client in image
  Dockerfile
Due: none

polecat: use canonical statuses; capture prior status for rollback
  polecat/cli.py
  polecat/manager.py
  polecat/observability.py
  polecat/prompt_template.py
  tests/polecat/test_cli_revert.py
  tests/polecat/test_manager_claim_retry.py
Due: none

polecat: SIGTERM handler + re-enable e2e for graceful shutdown
  tests/polecat/test_transcript_persistence_e2e.py
Due: none

fix(policies): use gemini snake_case tool names in deny-extension-writes.toml
  aops-core/policies/deny-extension-writes.toml
Due: dprint

fix(polecat): collapse 6 hardcoded forwarding blocks into agent-env-map.conf SSoT
  aops-core/agent-env-map.conf
  aops-core/lib/agent_env.py
  polecat/cli.py
  tests/integration/test_credential_isolation.py
  tests/polecat/test_cli_docker.py
  tests/polecat/test_cli_docker_integration.py
Due: none

Ship polecat fleet: non-interactive env + project aliases (#823)
  Dockerfile
  polecat/cli.py
  polecat/manager.py
  polecat/observability.py
  polecat/pkb_bridge.py
  polecat/prompt_template.py
  tests/polecat/test_cli_checkout.py
  tests/polecat/test_cli_revert.py
  tests/polecat/test_manager_claim_retry.py
  tests/polecat/test_project_alias_resolution.py
  tests/polecat/test_transcript_persistence_e2e.py
Due: none

fix(polecat): collapse 6 hardcoded forwarding blocks into agent-env-map.conf SSoT (#824)
  aops-core/agent-env-map.conf
  aops-core/lib/agent_env.py
  polecat/cli.py
  tests/integration/test_credential_isolation.py
  tests/polecat/test_cli_docker.py
  tests/polecat/test_cli_docker_integration.py
Due: none

feat(dump): cross-reference current epic in project file
  aops-core/skills/end_session/SKILL.md
Due: dprint, check-framework-integrity

feat(transcript): unify client log naming via session_naming (task-9f5ec636)
  aops-core/scripts/transcript.py
Due: none

feat(transcript): include hooks/client-logs/status in git_sync (task-da3de090)
  aops-core/scripts/transcript.py
Due: none

docs(supervisor): document uv run form for polecat in non-interactive shells
  aops-core/skills/supervisor/SKILL.md
  aops-core/skills/supervisor/instructions/supervision-loop.md
  aops-core/skills/supervisor/instructions/worker-dispatch.md
Due: dprint, check-framework-integrity

fix(supervisor): halt on infeasible dispatch — never silently swap worker types
  aops-core/skills/supervisor/SKILL.md
  aops-core/skills/supervisor/instructions/worker-dispatch.md
Due: dprint, check-framework-integrity

feat(supervisor): add WORKERS.md worker registry referenced from worker-dispatch.md
  aops-core/skills/supervisor/WORKERS.md
Due: dprint

docs(supervisor): document manual merge-prep trigger to skip bazaar wait
  aops-core/skills/supervisor/SKILL.md
  aops-core/skills/supervisor/instructions/supervision-loop.md
Due: dprint, check-framework-integrity

fix(polecat): add Step 0 pre-push gate-recheck to worker template (#583)
  polecat/prompt_template.py
  tests/polecat/test_prompt_template.py
Due: none

fix(hooks): point periodic-enforcer at aops-core:rbg (#817)
  aops-core/hooks/templates/enforcer-instruction.md
  aops-core/hooks/templates/enforcer-policy-context.md
Due: dprint

docs: add session log observability gap analysis (task-e8647b0c)
  specs/session-log-observability-gaps.md
Due: dprint

chore(pkb): replace user-facing downstream_weight with urgency (task-412c3443)
  aops-core/skills/planner/SKILL.md
  aops-core/skills/qa/references/qa-planning.md
  aops-core/skills/remember/references/TAXONOMY.md
Due: dprint, check-framework-integrity

feat(sleep): mode-aware pacing with brain auto-merge (#712)
  aops-core/skills/sleep/SKILL.md
  templates/github-workflows/sleep-cycle.yml
Due: dprint, check-framework-integrity

feat(heuristics): age is not a staleness signal (closes #185, aops-0f2235dc)
  aops-core/HEURISTICS.md
  aops-core/skills/sleep/SKILL.md
Due: dprint, check-framework-integrity

fix(planner): consult CORE.md Component Topology before parent assignment (Closes #663)
  aops-core/skills/planner/SKILL.md
Due: dprint, check-framework-integrity

docs: remove stale session-insights skill refs (task-c5fa4dd6)
  .agents/STATUS.md
  aops-core/lib/insights_generator.py
  aops-core/skills/aops/references/debug-details.md
  aops-core/skills/aops/references/learning-log-details.md
  aops-core/skills/sleep/SKILL.md
  scripts/audit_framework_health.py
Due: dprint, check-framework-integrity

fix(supervisor): mandatory host-check + ping-pkb gate for dispatch reliability
  aops-core/skills/supervisor/SKILL.md
  aops-core/skills/supervisor/instructions/supervision-loop.md
  aops-core/skills/supervisor/instructions/worker-dispatch.md
  polecat/cli.py
  tests/polecat/test_cli_ping_pkb.py
Due: dprint, check-framework-integrity

feat(planner): discourage auto-assigning high priority without explicit instruction (task-e410b794)
  aops-core/skills/planner/SKILL.md
  aops-core/skills/planner/workflows/decompose.md
Due: dprint, check-framework-integrity

fix(planner): externalise follow-up action items as separate linked tasks (Closes #582)
  aops-core/skills/planner/SKILL.md
Due: dprint, check-framework-integrity

fix(polecat): robust docker binary resolution + accurate FileNotFoundError message
  polecat/cli.py
  tests/polecat/test_cli_docker.py
Due: none

Path conditions:
  dprint: any of: \.(md|markdown|mdown)$, \.json$, \.toml$
  check-framework-integrity: any of: (WORKFLOWS|SKILLS)\.md$|workflows/.*\.md$|skills/.*/SKILL\.md$|commands/.*\.md$
