Repository nicsuzor/academicOps: changes, and which pre-commit hooks are due for each by the changed paths.
All: dprint, check-framework-integrity

dprint:
  name: dprint check
  entry: uv run dprint check
  language: system
  pass_filenames: true

check-framework-integrity:
  name: framework integrity check
  entry: uv run python scripts/check_framework_integrity.py
  language: system
  pass_filenames: false

fix(hooks): Stop-hook channel: asyncRewake entry discards JSON decision:block (closes #2181)
  .agents/skills/aops/references/hooks.md
  aops-core/hooks/client_spec.py
  aops-core/hooks/hooks.json
  aops-core/hooks/router.py
  aops-core/hooks/schemas.py
  aops-core/lib/gates/definitions.py
  aops-core/lib/template_registry.py
  scripts/pty_hook_probe.py
  specs/CLIENT-TRANSLATION.md
  specs/ENFORCEMENT-MAP.md
  specs/enforcement/GATES.md
  tests/hooks/fixtures/pty_capabilities.json
  tests/hooks/gate_helpers.py
  tests/hooks/test_client_spec.py
  tests/hooks/test_gate_lifecycle.py
  tests/hooks/test_ida_denyreason_1798.py
  tests/hooks/test_no_async_rewake_in_hooks.py
  tests/hooks/test_pty_capabilities_agree_with_client_spec.py
Due: dprint

Update stale asyncRewake comment in leak-coverage test (review FIX item)
  tests/hooks/test_message_path_leak_coverage.py
Due: none

Fix Stop-hook channel: asyncRewake entry discards JSON decision:block (closes #2181) (#2189)
  .agents/skills/aops/references/hooks.md
  aops-core/hooks/client_spec.py
  aops-core/hooks/hooks.json
  aops-core/hooks/router.py
  aops-core/hooks/schemas.py
  aops-core/lib/gates/definitions.py
  aops-core/lib/template_registry.py
  scripts/pty_hook_probe.py
  specs/CLIENT-TRANSLATION.md
  specs/ENFORCEMENT-MAP.md
  specs/enforcement/GATES.md
  tests/hooks/fixtures/pty_capabilities.json
  tests/hooks/gate_helpers.py
  tests/hooks/test_client_spec.py
  tests/hooks/test_gate_lifecycle.py
  tests/hooks/test_ida_denyreason_1798.py
  tests/hooks/test_message_path_leak_coverage.py
  tests/hooks/test_no_async_rewake_in_hooks.py
  tests/hooks/test_pty_capabilities_agree_with_client_spec.py
Due: dprint

fix(docker): install aops-pkb plugin in worker image
  Dockerfile
Due: none

fix(polecat): enable aops-pkb plugin in worker claude-settings
  polecat/defaults/claude-settings.json
Due: dprint

fix(ci): Force Review re-posts review-attestation after the reviewers (#2187)
  .github/workflows/force-review.yml
  specs/ENFORCEMENT-MAP.md
  specs/workflows/pr-pipeline.md
Due: dprint, check-framework-integrity

fix(egress): restore + widen untrusted-for-egress PKB guard (#887) (#2150)
  .agents/CORE.md
  .agents/rules/AXIOMS-REVIEW.md
  .agents/rules/AXIOMS.md
  aops-core/skills/supervisor/references/subagent-contracts.md
  polecat/prompt_template.py
  specs/ENFORCEMENT-MAP.md
  tests/polecat/test_prompt_template.py
Due: dprint

build(install): install all marketplace plugins except aops-cowork
  Makefile
Due: none

whoops, don't install ts local
  Makefile
Due: none

build: emit agy agent.json alongside .md for antigravity target
  scripts/build.py
  scripts/transforms/agent_schema.py
Due: none

mcp: pkb via HTTP through aops-pkb; retire run-mcp.sh for Claude
  aops-core/mcp.json.template
  aops-pkb/mcp.json.template
  aops-pkb/scripts/ensure-path.sh
  aops-pkb/scripts/run-mcp.sh
  scripts/build.py
  templates/aops-core.plugin.json
Due: dprint

build: centralize agent emission into one shared primitive
  scripts/build.py
Due: none

build: add antigravity (agy) build target for aops-pkb
  aops-pkb/mcp.json.template
  scripts/build.py
  templates/aops-pkb.antigravity-plugin.json
Due: dprint

feat(hooks): log every CC hook event through router.py + UPS re-arm diagnostic
  aops-core/hooks/client_spec.py
  aops-core/hooks/hooks.json
  aops-core/hooks/router.py
  aops-core/hooks/unified_logger.py
  aops-core/lib/gates/engine.py
  specs/ENFORCEMENT-MAP.md
  specs/enforcement/GATES.md
  tests/hooks/test_hook_logger.py
  tests/hooks/test_silent_events.py
Due: dprint

docs(enforcement): strip incident-narrative + provenance from state/spec docs
  aops-core/hooks/client_spec.py
  specs/CLIENT-TRANSLATION.md
  specs/ENFORCEMENT-MAP.md
  specs/enforcement/GATES.md
  specs/enforcement/enforcement.md
Due: dprint

docs(enforcement): de-dup mechanism restatements to single-owner + pointers
  .agents/skills/aops/references/hooks.md
  aops-pkb/skills/remember/references/TAXONOMY.md
  specs/CLIENT-TRANSLATION.md
  specs/ENFORCEMENT-MAP.md
  specs/SURFACES.md
  specs/enforcement/enforcement.md
  specs/enforcement/pyramid.md
Due: dprint

docs(enforcement): fix stale facts verified against source
  .agents/skills/aops/workflows/11-self-test.md
  README.md
  specs/ENFORCEMENT-MAP.md
  specs/enforcement/GATES.md
  specs/enforcement/enforcement.md
  specs/observability/framework-observability.md
  specs/observability/observability.md
  specs/workflows/framework-workflow-expectations.md
  templates/github-agent/worker.agent.md
Due: dprint, check-framework-integrity

docs(enforcement): relocate per-gate user-visibility to surface-contract.md
  specs/ENFORCEMENT-MAP.md
  specs/adhd/surface-contract.md
Due: dprint

fix(docs): correct 2 dangling ENFORCEMENT-MAP relative links (QA #2193)
  specs/CLIENT-TRANSLATION.md
  specs/enforcement/pyramid.md
Due: dprint

mcp: pkb via HTTP services proxy; retire run-mcp.sh for Claude; move PKB_MCP_URL to aops-pkb (#2191)
  aops-core/mcp.json.template
  aops-core/scripts/run-mcp.sh
  aops-pkb/mcp.json.template
  aops-pkb/scripts/ensure-path.sh
  aops-pkb/scripts/run-mcp.sh
  polecat/entrypoint.sh
  scripts/build.py
  templates/aops-core.plugin.json
  tests/polecat/test_entrypoint_pkb_seed.py
Due: dprint

feat(hooks): log every CC hook event through router.py + UPS re-arm diagnostic (#2192)
  aops-core/hooks/client_spec.py
  aops-core/hooks/hooks.json
  aops-core/hooks/router.py
  aops-core/hooks/unified_logger.py
  aops-core/lib/gates/engine.py
  specs/ENFORCEMENT-MAP.md
  specs/enforcement/GATES.md
  tests/hooks/test_hook_logger.py
  tests/hooks/test_hooks_json_matches_client_spec.py
  tests/hooks/test_silent_events.py
Due: dprint

feat(transcript): add --ledger mode — reverse-date prompt ledger of Nic's real prompts (task_bd1d28ba)
  aops-core/scripts/transcript.py
  aops-pkb/skills/daily/SKILL.md
  aops-pkb/skills/daily/references/note-template.md
  tests/test_transcript_ledger.py
Due: dprint, check-framework-integrity

fix(transcript): pin ledger --since to Australia/Brisbane, not system TZ
  aops-core/scripts/transcript.py
Due: none

feat(transcript): --ledger mode — prompt ledger of Nic's real prompts (task_bd1d28ba) (#2194)
  aops-core/scripts/transcript.py
  aops-pkb/skills/daily/SKILL.md
  aops-pkb/skills/daily/references/note-template.md
  tests/test_transcript_ledger.py
Due: dprint, check-framework-integrity

test(hooks): refresh pty_capabilities fixture — re-verified live on claude 2.1.205 / agy 1.1.0 (zero signal divergence; GH #2181 asyncRewake-block defect persists)
  tests/hooks/fixtures/pty_capabilities.json
Due: dprint

feat: remove gemini support, fix and convert agy commands to skills
  aops-core/hooks/client_spec.py
  aops-core/lib/tool_registry.py
  aops-pkb/agents/rbg.md
  scripts/build.py
  tests/e2e/test_gemini_extension_validation.py
  tests/hooks/test_client_spec.py
  tests/hooks/test_normalize_input_regression.py
  tests/hooks/test_tool_registry.py
  tests/hooks/test_universal_router.py
  tests/lib/test_session_paths.py
  tests/test_gemini_accessibility.py
  tests/test_gemini_name_corruption.py
Due: dprint

feat: fix call_mcp_tool translation and update aops-pkb mcp_config syntax for agy
  aops-core/lib/tool_registry.py
  aops-pkb/mcp.json.template
  scripts/build.py
Due: none

fix: restore claude tool names in rbg.md and fix agy tool mapping in build.py
  aops-core/lib/tool_registry.py
  aops-pkb/agents/rbg.md
  aops-pkb/mcp.json.template
  scripts/build.py
Due: dprint

update test process
  .agents/skills/aops/workflows/11-self-test.md
  polecat/defaults/claude-settings.json
Due: dprint, check-framework-integrity

reforumulate axioms
  .agents/AXIOMS.md
  .agents/rules/AXIOMS.md
  .agents/rules/bounded-execution.md
  .agents/rules/categorical-imperative.md
  .agents/rules/cite-sources.md
  .agents/rules/closure.md
  .agents/rules/costly-ops-approval.md
  .agents/rules/data-boundaries.md
  .agents/rules/do-one-thing.md
  .agents/rules/evidence-immutable.md
  .agents/rules/exercise-authority.md
  .agents/rules/full-observability.md
  .agents/rules/halt-on-failure.md
  .agents/rules/honest-epistemics.md
  .agents/rules/judgment-non-delegable.md
  .agents/rules/pull-over-push.md
  .agents/rules/single-source-of-truth.md
  .agents/skills/aops/workflows/12-agentic-e2e-certification.md
  scripts/audit_framework_health.py
  scripts/build.py
Due: dprint, check-framework-integrity

build: include top-level .agents/*.md in packaging
  scripts/build.py
Due: none

build: remove openclaw references from Makefile
  Makefile
Due: none

fix(docs): undo dev-merge regression that reintroduced stripped narrative into CLIENT-TRANSLATION.md/GATES.md
  specs/CLIENT-TRANSLATION.md
  specs/enforcement/GATES.md
Due: dprint

rbg edit
  aops-pkb/agents/rbg.md
  specs/ENFORCEMENT-MAP.md
Due: dprint

build: include top-level .agents/*.md in packaging (#2197)
  Makefile
  scripts/build.py
Due: none

docs(enforcement): DRY consolidation of hook/gate enforcement docs (#2193)
  .agents/skills/aops/references/hooks.md
  .agents/skills/aops/workflows/11-self-test.md
  README.md
  aops-core/hooks/client_spec.py
  aops-core/hooks/router.py
  aops-pkb/skills/remember/references/TAXONOMY.md
  scripts/pty_hook_probe.py
  specs/CLIENT-TRANSLATION.md
  specs/ENFORCEMENT-MAP.md
  specs/SURFACES.md
  specs/adhd/surface-contract.md
  specs/enforcement/GATES.md
  specs/enforcement/enforcement.md
  specs/enforcement/pyramid.md
  specs/observability/framework-observability.md
  specs/observability/observability.md
  specs/workflows/framework-workflow-expectations.md
  templates/github-agent/worker.agent.md
  tests/hooks/gate_helpers.py
Due: dprint, check-framework-integrity

docs: remove stale merge-prep-cron/agent-merge-prep cross-repo-shim examples
  examples/cross-repo-shim/agent-merge-prep.yml
  examples/cross-repo-shim/merge-prep-cron.yml
  examples/cross-repo-shim/pr-pipeline.yml
Due: none

Path conditions:
  dprint: any of: \.(md|markdown|mdown)$, \.json$, \.toml$
  check-framework-integrity: any of: (WORKFLOWS|SKILLS)\.md$|workflows/.*\.md$|skills/.*/SKILL\.md$|commands/.*\.md$
