Repository nicsuzor/academicOps: changes, and which pre-commit hooks are due for each by the changed paths.
All: dprint, check-framework-integrity

dprint:
  name: dprint check
  entry: uv run dprint check
  language: system
  pass_filenames: true

check-framework-integrity:
  name: framework integrity check
  entry: uv run python scripts/check_framework_integrity.py
  language: system
  pass_filenames: false

fix(ida): sharpen Stop reminder with restate-the-question / criterion-substitution check
  aops-core/hooks/templates/ida-reminder.md
Due: dprint

refactor(gates): data-drive TOOL_CATEGORIES + lift HookContext/tool_categories to lib/
  aops-core/hooks/gate_config.py
  aops-core/hooks/schemas.py
  aops-core/lib/gates/custom_actions.py
  aops-core/lib/gates/custom_conditions.py
  aops-core/lib/gates/engine.py
  aops-core/lib/hook_context.py
  aops-core/lib/tool_categories.py
Due: none

planner: needs-Nic intent decisions must surface via AskUserQuestion, not task body/handover
  aops-core/skills/planner/SKILL.md
Due: dprint, check-framework-integrity

fix(junior): operationalize no-homework rule for closing sweeps
  aops-core/agents/junior.md
Due: dprint

fix(survey): redirect retro reviewed_by provenance from transcript to PKB
  aops-core/skills/survey/SKILL.md
Due: dprint, check-framework-integrity

fix(supervisor): §6 forbids relaying worker live-state claims as findings
  aops-core/skills/supervisor/SKILL.md
Due: dprint, check-framework-integrity

feat(commands): split /pull into /pull (inline execute) + /dispatch (background); shared task-lifecycle skill; supervisor self-arms loop (aops-127c450c)
  aops-core/commands/dispatch.md
  aops-core/commands/pull.md
  aops-core/skills/planner/SKILL.md
  aops-core/skills/remember/references/TAXONOMY.md
  aops-core/skills/remember/references/premise-gate.md
  aops-core/skills/strategic-review/references/premise-test.md
  aops-core/skills/supervisor/SKILL.md
  aops-core/skills/task-lifecycle/SKILL.md
  specs/CONNECTIVITY.md
  specs/ENFORCEMENT-MAP.md
  specs/agents/supervisor.md
  specs/enforcement/enforcement-mechanisms.md
  specs/workflows/daily/50-aops-core-vs-tools.md
Due: dprint, check-framework-integrity

fix(tests): restore TestBuildDockerCmd class deleted by 2edea6c0
  tests/polecat/test_cli_docker.py
Due: none

fix(tests): delete orphaned docker-cmd-build tests left under TestNodeVersionKey
  tests/polecat/test_cli_docker.py
Due: none

fix(tests): delete orphaned docker-cmd-build tests left under TestNodeVersionKey (#1857)
  tests/polecat/test_cli_docker.py
Due: none

fix(triage): stop labeling every red PR triage:escalate
  aops-core/lib/triage_labels.py
  aops-core/scripts/dump_pr_state.py
  specs/enforcement/enforcement.md
  specs/workflows/pr-state-index.md
  tests/lib/test_dump_pr_state.py
Due: dprint, check-framework-integrity

docs(conventions): forbid conflating "don't merge/PR" with "don't commit/push" (#1821)
  aops-core/skills/aops/conventions-summary.md
  aops-core/skills/supervisor/instructions/worker-dispatch.md
Due: dprint

fix(secret-redaction): spare numeric values from *TOKEN*/*KEY* over-match (#1845)
  aops-core/lib/secret_redaction.py
  tests/lib/test_secret_redaction.py
Due: none

feat(pr-pipeline): admit PRs via review approval; retire pr-fix-loop Environment gate
  .github/agents/mechanic.agent.md
  .github/rulesets/pr-review-and-merge.yml
  .github/workflows/admit-on-review.yml
  .github/workflows/agent-mechanic.yml
  .github/workflows/pr-pipeline.yml
  scripts/ci/admit-on-review.sh
  specs/ENFORCEMENT-MAP.md
  specs/workflows/pr-pipeline.md
  tests/test_admit_on_review.py
Due: dprint, check-framework-integrity

fix(install): make `make install` clean-then-live for Claude + agy; drop gemini/openclaw
  Makefile
  README.md
Due: dprint

fix(admit-on-review): harden allowlist parsing; drop low-value test
  scripts/ci/admit-on-review.sh
  tests/test_admit_on_review.py
Due: none

feat(pr-pipeline): admit PRs via review approval; retire pr-fix-loop Environment gate (#1859)
  .github/agents/mechanic.agent.md
  .github/rulesets/pr-review-and-merge.yml
  .github/workflows/admit-on-review.yml
  .github/workflows/agent-mechanic.yml
  .github/workflows/pr-pipeline.yml
  scripts/ci/admit-on-review.sh
  specs/ENFORCEMENT-MAP.md
  specs/workflows/pr-pipeline.md
  tests/test_admit_on_review.py
Due: dprint, check-framework-integrity

planner: needs-Nic intent decisions must surface via AskUserQuestion, not task body/handover (#1849)
  aops-core/skills/planner/SKILL.md
Due: dprint, check-framework-integrity

feat(commands): split /pull into /pull (inline execute) + /dispatch (background); shared task-lifecycle skill; supervisor self-arms loop (aops-127c450c) (#1855)
  aops-core/commands/dispatch.md
  aops-core/commands/pull.md
  aops-core/skills/planner/SKILL.md
  aops-core/skills/remember/references/TAXONOMY.md
  aops-core/skills/remember/references/premise-gate.md
  aops-core/skills/strategic-review/references/premise-test.md
  aops-core/skills/supervisor/SKILL.md
  aops-core/skills/task-lifecycle/SKILL.md
  specs/CONNECTIVITY.md
  specs/ENFORCEMENT-MAP.md
  specs/agents/supervisor.md
  specs/enforcement/enforcement-mechanisms.md
  specs/workflows/daily/50-aops-core-vs-tools.md
Due: dprint, check-framework-integrity

Remove test file added by PR 1843
  tests/hooks/test_ida_qa_stop_provenance_20733036.py
Due: none

fix(triage): stop labeling every red PR triage:escalate (#1858)
  aops-core/lib/triage_labels.py
  aops-core/scripts/dump_pr_state.py
  specs/enforcement/enforcement.md
  specs/workflows/pr-state-index.md
  tests/lib/test_dump_pr_state.py
Due: dprint, check-framework-integrity

fix(install): make `make install` clean-then-live for Claude + agy; drop gemini/openclaw (#1860)
  Makefile
  README.md
Due: dprint

Ida stop-hook: attribute composed QA advisory; preserve template wrapper (partial) (#1843)
  aops-core/hooks/templates/qa-policy-context.md
Due: dprint

refactor(gates): data-drive TOOL_CATEGORIES + lift HookContext/tool_categories to lib/ (#1847)
  aops-core/hooks/gate_config.py
  aops-core/hooks/schemas.py
  aops-core/lib/gates/custom_actions.py
  aops-core/lib/gates/custom_conditions.py
  aops-core/lib/gates/engine.py
  aops-core/lib/hook_context.py
  aops-core/lib/tool_categories.py
Due: none

shorten
  aops-core/hooks/templates/ida-reminder.md
Due: dprint

fix(ida): sharpen Stop reminder with restate-the-question / criterion-substitution check (#1846)
  aops-core/hooks/templates/ida-reminder.md
Due: dprint

Update aops-core/skills/survey/SKILL.md
  aops-core/skills/survey/SKILL.md
Due: dprint, check-framework-integrity

fix(survey): redirect retro reviewed_by provenance from transcript to PKB (#1853)
  aops-core/skills/survey/SKILL.md
Due: dprint, check-framework-integrity

Apply suggestions from code review
  aops-core/skills/supervisor/SKILL.md
Due: dprint, check-framework-integrity

fix(supervisor): §6 forbids relaying worker live-state claims as findings (#943) (#1854)
  aops-core/skills/supervisor/SKILL.md
Due: dprint, check-framework-integrity

fix(junior): generalize residual-triage; relocate to supervisor skill (#1851)
  aops-core/agents/junior.md
  aops-core/skills/supervisor/SKILL.md
Due: dprint, check-framework-integrity

chore(axioms): demote recusal from axiom to light /learn division-of-labor
  .agents/rules/AXIOMS-REVIEW.md
  .agents/rules/AXIOMS.md
  README.md
  aops-core/agents/pauli.md
  aops-core/commands/learn.md
  aops-core/skills/aops/references/authoring-discipline.md
  aops-core/skills/planner/workflows/decompose.md
  aops-core/skills/survey/SKILL.md
  specs/enforcement/auto-mode-classifier.md
  specs/enforcement/enforcement.md
  specs/workflows/session-digest.md
Due: dprint, check-framework-integrity

fix(junior): operationalize no-homework rule for closing sweeps (#1851) (#1852)
  aops-core/agents/junior.md
  aops-core/skills/supervisor/SKILL.md
Due: dprint, check-framework-integrity

chore(axioms): demote recusal from axiom to light /learn division-of-labor (#1861)
  .agents/rules/AXIOMS-REVIEW.md
  .agents/rules/AXIOMS.md
  README.md
  aops-core/agents/pauli.md
  aops-core/commands/learn.md
  aops-core/skills/aops/references/authoring-discipline.md
  aops-core/skills/planner/workflows/decompose.md
  aops-core/skills/survey/SKILL.md
  specs/enforcement/auto-mode-classifier.md
  specs/enforcement/enforcement.md
  specs/workflows/session-digest.md
Due: dprint, check-framework-integrity

chore(dev): release 0.3.41
  .release-please-manifest.json
  CHANGELOG.md
  pyproject.toml
  templates/aops-core.gemini-extension.json
  templates/aops-core.plugin.json
  templates/aops-tools.gemini-extension.json
  templates/aops-tools.plugin.json
Due: dprint

chore(dev): release 0.3.41 (#1828)
  .release-please-manifest.json
  CHANGELOG.md
  pyproject.toml
  templates/aops-core.gemini-extension.json
  templates/aops-core.plugin.json
  templates/aops-tools.gemini-extension.json
  templates/aops-tools.plugin.json
  uv.lock
Due: dprint

feat(pr-pipeline): pre-admission mechanical responder — Phase 8 (§3.8)
  .github/agents/pre-admission-responder.agent.md
  .github/workflows/agent-pre-admission-responder.yml
  .github/workflows/pr-pipeline.yml
  scripts/ci/check-mechanical-red.sh
  specs/ENFORCEMENT-MAP.md
  specs/workflows/pr-pipeline.md
  tests/test_check_mechanical_red.py
  tests/test_pr_pipeline_review_gate.py
Due: dprint, check-framework-integrity

feat(pr-pipeline): pre-admission mechanical responder — Phase 8 (§3.8) (#1862)
  .github/agents/pre-admission-responder.agent.md
  .github/workflows/agent-pre-admission-responder.yml
  .github/workflows/pr-pipeline.yml
  scripts/ci/check-mechanical-red.sh
  specs/ENFORCEMENT-MAP.md
  specs/workflows/pr-pipeline.md
  tests/test_check_mechanical_red.py
  tests/test_pr_pipeline_review_gate.py
Due: dprint, check-framework-integrity

fix(pr-pipeline): address review feedback on PR #1865
  .release-please-manifest.json
  CHANGELOG.md
  pyproject.toml
  scripts/ci/check-mechanical-red.sh
  templates/aops-core.gemini-extension.json
  templates/aops-core.plugin.json
  templates/aops-tools.gemini-extension.json
  templates/aops-tools.plugin.json
  tests/test_check_mechanical_red.py
  uv.lock
Due: dprint

fix(daily): expand reconcile step to enumerate full merge_ready/review backlog
  aops-core/skills/daily/SKILL.md
Due: dprint, check-framework-integrity

Path conditions:
  dprint: any of: \.(md|markdown|mdown)$, \.json$, \.toml$
  check-framework-integrity: any of: (WORKFLOWS|SKILLS)\.md$|workflows/.*\.md$|skills/.*/SKILL\.md$|commands/.*\.md$
