Repository nicsuzor/academicOps: changes, and which pre-commit hooks are due for each by the changed paths.
All: dprint, check-framework-integrity

dprint:
  name: dprint check
  entry: uv run dprint check
  language: system
  pass_filenames: true

check-framework-integrity:
  name: framework integrity check
  entry: uv run python scripts/check_framework_integrity.py
  language: system
  pass_filenames: false

Rewrite the debug plugin hook manifest against the versioned schema
  plugins/aops-debug/manifest/hooks.template.json
  test-hooks.json
Due: dprint

Migrate every manifest template to the versioned schema
  build/testdata/plugins/alpha/manifest/hooks.template.json
  build/testdata/plugins/alpha/manifest/mcp.template.json
  build/testdata/plugins/alpha/manifest/plugin.template.json
  build/testdata/plugins/beta/manifest/plugin.template.json
  plugins.disabled/aops/manifest/hooks.template.json
  plugins.disabled/aops/manifest/plugin.template.json
  plugins/aops-debug/manifest/hooks.template.json
  plugins/aops-debug/manifest/plugin.template.json
  plugins/ida/manifest/hooks.template.json
  plugins/ida/manifest/plugin.template.json
  plugins/pkb/manifest/hooks.template.json
  plugins/pkb/manifest/mcp.template.json
  plugins/pkb/manifest/plugin.template.json
  plugins/rbg/manifest/hooks.template.json
  plugins/rbg/manifest/plugin.template.json
  plugins/tools/manifest/plugin.template.json
  plugins/ts/manifest/hooks.template.json
  plugins/ts/manifest/plugin.template.json
  templates/plugin/manifest/hooks.template.json
  templates/plugin/manifest/mcp.template.json
  templates/plugin/manifest/plugin.template.json
Due: dprint

Point the two manifest-reading tests at the versioned schema
  tests/polecat/test_setup_staging.py
  tests/test_cope.py
Due: none

Document the silent bind-mount failure a VM-backed docker daemon produces
  specs/polecat/tmux-interactive-driving.md
Due: dprint

Restore the container verification harness deleted in the six-plugin refactor
  .agents/skills/debug/SKILL.md
  Makefile
Due: dprint, check-framework-integrity

Remove rogue edit scripts and repair the stdout damage they caused
  fix_messages.py
  fix_rbg.py
  plugins/rbg/hooks/evaluator.py
  plugins/rbg/hooks/handlers.py
  plugins/rbg/hooks/rules.py
  rewrite_plugins.py
Due: none

Apply strategic-review findings to the restored harness skill
  .agents/skills/debug/SKILL.md
Due: dprint, check-framework-integrity

Address review: A17 separation, state-binding test, doctrine split
  .agents/skills/triage/SKILL.md
  lib/doctrine/forensic-scope.md
  lib/doctrine/lesson-routing.md
  lib/doctrine/universal-gate.md
  plugins/pkb/README.md
  plugins/pkb/skills/learn/SKILL.md
  plugins/rbg/skills/add-rule/SKILL.md
  specs/enforcement/enforcement.md
Due: dprint, check-framework-integrity

Teach the manifest renderer the versioned template schema
  build/manifest.py
  specs/ARCHITECTURE.md
  tests/test_build.py
Due: dprint

Normalise hook module imports and fix pyright extraPaths
  lib/hooks/dispatch.py
  plugins.disabled/aops/hooks/handlers.py
  plugins/aops-debug/hooks/handlers.py
  plugins/ida/hooks/handlers.py
  plugins/pkb/hooks/handlers.py
  pyproject.toml
  templates/plugin/hooks/handlers.py
Due: dprint

Rewrap a line in the debug skill
  .agents/skills/debug/SKILL.md
Due: dprint, check-framework-integrity

debug hooks
  plugins/aops-debug/manifest/hooks.template.json
  plugins/aops-debug/manifest/plugin.toml
Due: dprint

Read only the versioned schema when rendering manifests
  build/manifest.py
  specs/ARCHITECTURE.md
  tests/test_build.py
Due: dprint

policy
  fix_messages.py
  fix_rbg.py
  lib/hooks/dispatch.py
  plugins.disabled/aops/hooks/handlers.py
  plugins/aops-debug/hooks/handlers.py
  plugins/rbg/hooks/evaluator.py
  plugins/rbg/hooks/handlers.py
  plugins/rbg/hooks/rules.py
  rewrite_plugins.py
  templates/plugin/hooks/handlers.py
Due: none

Define the delegation-brief doctrine and wire it into dispatch and strategic-review
  lib/doctrine/delegation-brief.md
  plugins/ida/skills/dispatch/SKILL.md
  plugins/ida/skills/strategic-review/SKILL.md
Due: dprint, check-framework-integrity

Trim the two per-turn hook injections to the ruled budget
  plugins/ida/hooks/messages/hearsay.md
  plugins/ida/hooks/messages/hearsay.user.md
  plugins/pkb/hooks/handlers.py
  plugins/pkb/hooks/messages/pkb-context.md
  specs/enforcement/enforcement.md
Due: dprint

Build rbg's session-stop rule gate and the block disposition it needs
  lib/hooks/dispatch.py
  plugins/ida/agents/james.md
  plugins/pkb/README.md
  plugins/rbg/README.md
  plugins/rbg/hooks/handlers.py
  plugins/rbg/hooks/messages/rule-check.md
  plugins/rbg/manifest/hooks.template.json
  plugins/rbg/manifest/plugin.template.json
  pyproject.toml
  specs/ARCHITECTURE.md
  specs/agents/agent-authority.md
  specs/enforcement/enforcement.md
  tests/test_rbg_stop_gate.py
Due: dprint

Correct two false claims about degradation, and simplify the block render
  lib/hooks/dispatch.py
  plugins/rbg/hooks/messages/verdict.user.md
  specs/enforcement/enforcement.md
Due: dprint

Point the rule-check message reference at its real path
  plugins/rbg/README.md
Due: dprint

Name the continuation check, so the spec has something real to point at
  lib/hooks/dispatch.py
Due: none

Reintegrate polecat, the container image, and the tmux harness
  .agents/skills/debug/SKILL.md
  .dockerignore
  Dockerfile
  Makefile
  lib/polecat/__init__.py
  lib/polecat/cli.py
  lib/polecat/defaults/agy-onboarding.json
  lib/polecat/defaults/ccstatusline-settings.json
  lib/polecat/defaults/claude-config.json
  lib/polecat/defaults/claude-settings.json
  lib/polecat/defaults/docker_gemini_fixups.py
  lib/polecat/defaults/polecat.yaml.example
  lib/polecat/entrypoint.sh
  lib/polecat/env_contract.py
  plugins/ida/manifest/plugin.toml
  plugins/rbg/README.md
  pyproject.toml
  specs/ARCHITECTURE.md
  specs/enforcement/auto-mode-classifier.md
  specs/enforcement/enforcement.md
  specs/future/polecat-dispatch-from-container-via-ssh.md
  specs/polecat/polecat-system.md
  specs/polecat/supervisor.md
  specs/polecat/tmux-interactive-driving.md
  tests/polecat/test_cli_seed_verification.py
  tests/polecat/test_container_config.py
  tests/polecat/test_container_invocation.py
  tests/polecat/test_container_smoke.py
  tests/polecat/test_credential_claims.py
  tests/polecat/test_delivery_guard.py
  tests/polecat/test_setup_staging.py
  tests/polecat/test_workspace_isolation.py
Due: dprint, check-framework-integrity

List what the ida plugin actually ships
  plugins/ida/README.md
Due: dprint

Stop the plugin describing itself as advisory-only
  plugins/rbg/manifest/plugin.template.json
Due: dprint

Apply review findings: a tautological oracle, a blank block, a noisy gate
  lib/hooks/dispatch.py
  plugins/rbg/README.md
  plugins/rbg/hooks/handlers.py
  specs/enforcement/enforcement.md
  tests/test_rbg_stop_gate.py
Due: dprint

Record the gate's two other silences in the authoritative table
  specs/ARCHITECTURE.md
Due: dprint

Carry gate-wiring-v07's runtime tests across, minus the ida gate
  tests/test_dispatch_gate.py
  tests/test_plugin_manifests.py
Due: none

Stop the front-door README calling layer 2 non-blocking
  README.md
Due: dprint

Document the configuration the ida plugin now actually reads
  plugins/ida/README.md
Due: dprint

Restore the reopen duty, decompose run(), and pin that polecat ships
  .agents/skills/debug/SKILL.md
  .dockerignore
  lib/polecat/cli.py
  plugins/ida/README.md
  plugins/ida/skills/dispatch/SKILL.md
  specs/ARCHITECTURE.md
  specs/enforcement/enforcement.md
  specs/polecat/polecat-system.md
  specs/polecat/tmux-interactive-driving.md
  tests/polecat/test_container_smoke.py
  tests/polecat/test_credential_claims.py
  tests/test_build.py
  tests/test_hooks.py
Due: dprint, check-framework-integrity

Close the certification findings on the reintegration
  build/marketplace.toml
  lib/polecat/cli.py
  plugins/ida/README.md
  plugins/ida/skills/dispatch/SKILL.md
  specs/ARCHITECTURE.md
  specs/polecat/polecat-system.md
  specs/polecat/tmux-interactive-driving.md
Due: dprint, check-framework-integrity

Close the residual certification findings
  .agents/skills/debug/SKILL.md
  build/marketplace.toml
  specs/enforcement/enforcement.md
Due: dprint, check-framework-integrity

update specs
  specs/ARCHITECTURE.md
Due: dprint

fix(cloud-setup): retry tailscale install, correct plugin install list
  templates/cloud_setup.sh
Due: none

update cloud setup script
  templates/cloud_setup.sh
Due: none

Apply strategic review findings (rbg APPROVE, pauli/marsha MINOR CHANGES)
  INSTALL.md
  README.md
  specs/ARCHITECTURE.md
  tests/test_rbg_stop_gate.py
Due: dprint

change plugin names
  plugins/ida/manifest/plugin.template.json
  plugins/pkb/manifest/plugin.template.json
  plugins/rbg/hooks/messages/ruleset.md
  plugins/rbg/manifest/plugin.template.json
  plugins/ts/manifest/plugin.template.json
  templates/cloud_setup.sh
Due: dprint

Make a hook Result carry one disposition, not a flag per kind
  lib/hooks/dispatch.py
  tests/test_aops_handlers.py
  tests/test_dispatch_gate.py
  tests/test_pkb_handlers.py
  tests/test_rbg_stop_gate.py
Due: none

docs: plugin-rename drift, rbg stop-gate contradiction, dangling refs
  .agents/commands/issue-sweep.md
  .agents/skills/design-rubric/SKILL.md
  .agents/skills/triage/SKILL.md
  .github/agents/enforcer.agent.md
  .github/workflows/agent-enforcer.yml
  INSTALL.md
  README.md
  lib/polecat/cli.py
  plugins/ida/README.md
  plugins/ida/agents/ida.md
  plugins/ida/agents/james.md
  plugins/ida/skills/dispatch/SKILL.md
  plugins/ida/skills/strategic-review/SKILL.md
  plugins/pkb/README.md
  plugins/pkb/skills/hydrate/SKILL.md
  plugins/pkb/skills/learn/SKILL.md
  plugins/pkb/skills/remember/SKILL.md
  plugins/pkb/skills/remember/references/consolidation.md
  plugins/pkb/skills/situate/SKILL.md
  plugins/pkb/skills/workflow/SKILL.md
  plugins/rbg/README.md
  plugins/tools/README.md
  plugins/ts/README.md
  specs/ARCHITECTURE.md
  specs/agents/agent-authority.md
  specs/enforcement/enforcement.md
  specs/enforcement/evidence-contract.md
  specs/enforcement/workflow.md
  specs/polecat/spec-partial-work-tight-loop-delivery.md
  specs/polecat/supervisor.md
  specs/workflows/conceptual-review-workflow.md
  specs/workflows/research-decomposition.md
  templates/github-workflows/pkb-quality-review.yml
  templates/github-workflows/sleep-cycle.yml
  templates/github-workflows/transcript-extraction.yml
Due: dprint, check-framework-integrity

test: restore suite to green after the lib/hooks consolidation
  tests/test_aops_handlers.py
  tests/test_cope.py
  tests/test_cope_eval_shim.py
  tests/test_hooks.py
  tests/test_ida_honesty_hook.py
  tests/test_ida_stop_gate_built.py
  tests/test_pkb_handlers.py
  tests/test_shipped_hooks.py
  tests/test_telemetry_otel_e2e.py
Due: none

style: sort the import block in ida's hook handlers
  plugins/ida/hooks/handlers.py
Due: none

Path conditions:
  dprint: any of: \.(md|markdown|mdown)$, \.json$, \.toml$
  check-framework-integrity: any of: (WORKFLOWS|SKILLS)\.md$|workflows/.*\.md$|skills/.*/SKILL\.md$|commands/.*\.md$
