Repository nicsuzor/academicOps: changes, and which pre-commit hooks are due for each by the changed paths.
All: radon-complexity, radon-maintainability, test-architecture, pytest

.pre-commit-config.yaml:

# Pre-commit hooks for academicOps
# Install: pre-commit install
# Run manually: pre-commit run --all-files
#
# PERFORMANCE OPTIMIZATION NOTES:
# - Tests only run when Python files are changed and staged (removed always_run: true)
# - This makes commits blazing fast when editing docs, configs, etc.
# - To run tests manually: pytest -m "not slow and not integration and not endtoend"
# - CI still runs full test suite on all commits
# - Tests run in parallel (requires: uv add --dev pytest-xdist)
# - Skips test architecture check on trivial commits
# - Uses faster ruff version

repos:
  # Ruff - Fast Python linter & formatter
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.0
    hooks:
      # Linter
      - id: ruff-check
        args: [--fix, --unsafe-fixes]
      # Formatter
      - id: ruff-format

  # MyPy - Static type checking
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.18.2
    hooks:
      - id: mypy
        additional_dependencies: []
        args: [--config-file=pyproject.toml]
        # Performance: Only check changed files, not whole project
        pass_filenames: true

  # Local custom hooks
  - repo: local
    hooks:
      # Radon - Complexity metrics
      - id: radon-complexity
        name: Check code complexity
        entry: uv run radon cc --min B --total-average
        language: system
        types: [python]
        pass_filenames: true

      - id: radon-maintainability
        name: Check maintainability index
        entry: uv run radon mi --min B
        language: system
        types: [python]
        pass_filenames: true

      # Test architecture - ONLY on test files
      - id: test-architecture
        name: Enforce test architecture rules
        entry: uv run python scripts/check_test_architecture.py
        language: system
        files: ^tests/.*\.py$
        pass_filenames: false

      # Pytest - PARALLEL execution for speed
      # Requires: pytest-xdist
      - id: pytest
        name: Run tests (parallel)
        entry: uv run pytest -n auto -m "not slow and not integration and not endtoend"
        language: system
        types: [python]
        pass_filenames: false
        stages: [pre-commit]

fix(security): Add MANDATORY GitHub repository verification protocol to trainer
  agents/TRAINER.md
Due: none

fix(prompts): Add mandatory anti-bloat protocol to trainer workflow
  agents/TRAINER.md
Due: none

feat(validation): Add pre-commit hook to prevent instruction bloat
  .pre-commit-config.yaml
  scripts/check_instruction_bloat.py
Due: radon-complexity, radon-maintainability, pytest

fix(validation): Fix path pattern matching in instruction bloat hook
  scripts/check_instruction_bloat.py
Due: radon-complexity, radon-maintainability, pytest

feat(tracking): Create experiment tracking infrastructure
  experiments/2025-10-17_validate-env-flat-arch.md
  experiments/INDEX.md
Due: none

docs(trainer): Reference /log-failure command for user-reported failures
  agents/TRAINER.md
Due: none

flattening
  docs/TESTING.md
  docs/hooks_guide.md
  pyproject.toml
  scripts/validate_env.py
  scripts/validate_tool.py
  tests/integration/conftest.py
  tests/integration/test_claude_headless.py
  tests/integration/test_debug_output.py
  tests/integration/test_headless_simple.py
  tests/integration/test_hook_output_streams.py
  tests/integration/test_model_performance.py
  tests/integration/test_validation_hooks.py
Due: radon-complexity, radon-maintainability, test-architecture, pytest

exec
  scripts/validate_env.py
Due: radon-complexity, radon-maintainability, pytest

refactor: Rename validate_env.py to load_instructions.py and generalize setup
  .claude/settings.json
  scripts/load_instructions.py
  scripts/setup_academicops.sh
Due: radon-complexity, radon-maintainability, pytest

fix: Setup script now uses PWD instead of script location
  scripts/setup_academicops.sh
Due: none

feat: Add Pydantic models for Claude Code hook schemas
  pyproject.toml
  scripts/hook_models.py
  scripts/validate_tool.py
  tests/integration/conftest.py
  tests/integration/test_claude_headless.py
  tests/integration/test_hook_output_streams.py
  tests/integration/test_validation_hooks.py
  tests/test_hook_models.py
  tests/test_validate_tool.py
Due: radon-complexity, radon-maintainability, test-architecture, pytest

experiment: trainer role violation - fixed code instead of instructions
  experiments/2025-10-18_trainer-role-violation.md
  experiments/INDEX.md
Due: none

fix: Use environment variables for test paths
  tests/integration/conftest.py
  tests/integration/test_headless_simple.py
  tests/integration/test_validation_hooks.py
Due: radon-complexity, radon-maintainability, test-architecture, pytest

feat: Add dist/ templates for third-party repository setup
  dist/.gitignore
  dist/INSTRUCTIONS.md
  scripts/setup_academicops.sh
Due: none

fix: Update .claude/settings.json to new Claude Code hook schema
  .claude/settings.json
Due: none

fix: Remove fallback from load_instructions.py (fail-fast enforcement)
  scripts/load_instructions.py
Due: radon-complexity, radon-maintainability, pytest

docs(trainer): Add fail-fast enforcement checklist
  agents/TRAINER.md
Due: none

feat: Add Claude Code agent and command definitions
  .claude/agents/academic_writer.md
  .claude/agents/code-review.md
  .claude/agents/developer.md
  .claude/agents/documenter.md
  .claude/agents/gh-issue-tracker.md
  .claude/agents/mentor.md
  .claude/agents/strategist.md
  .claude/agents/test-readonly.md
  .claude/agents/test-writer.md
  .claude/agents/trainer.md
  .claude/commands/bm.md
  .claude/commands/log-failure.md
  .claude/commands/mm.md
  .claude/commands/tja.md
  .claude/commands/trainer.md
Due: none

chore: Add .claude/settings.local.json to .gitignore
  .gitignore
Due: none

env var
  .claude/commands/bm.md
  .claude/commands/log-failure.md
  .claude/commands/mm.md
  .claude/commands/tja.md
  .claude/commands/trainer.md
  .claude/settings.json
  agents/TRAINER.md
  docs/_UNUSED/AGENT-INSTRUCTION-MAP.md
  docs/_UNUSED/AGENT-INSTRUCTIONS.md
  docs/_UNUSED/AUTO-EXTRACTION.md
  docs/_UNUSED/PATH-RESOLUTION.md
  docs/_UNUSED/configuration-hierarchy.md
  docs/_UNUSED/git.md
  scripts/test_validations.py
  tests/prompts/CONTEXT-AWARENESS-TESTS.md
  tests/results/test1_claude_20251005.json
Due: radon-complexity, radon-maintainability, pytest

hooks
  .claude/agents/academic_writer.md
  .claude/agents/code-review.md
  .claude/agents/developer.md
  .claude/agents/documenter.md
  .claude/agents/gh-issue-tracker.md
  .claude/agents/mentor.md
  .claude/agents/strategist.md
  .claude/agents/test-readonly.md
  .claude/agents/test-writer.md
  .claude/agents/trainer.md
  .claude/settings.json
  .gitignore
Due: none

fix(infrastructure): Deploy validation scripts via symlinks to .academicOps/
  .claude/agents
  .claude/agents.backup/academic_writer.md
  .claude/agents.backup/code-review.md
  .claude/agents.backup/developer.md
  .claude/agents.backup/documenter.md
  .claude/agents.backup/gh-issue-tracker.md
  .claude/agents.backup/mentor.md
  .claude/agents.backup/strategist.md
  .claude/agents.backup/test-readonly.md
  .claude/agents.backup/test-writer.md
  .claude/agents.backup/trainer.md
  .claude/commands/bm.md
  .claude/commands/mm.md
  .claude/commands/tja.md
  dist/.claude/settings.json
  dist/.gitignore
  docs/TESTING.md
  scripts/read_instructions.py
  scripts/setup_academicops.sh
  scripts/test_validations.py
  tests/conftest.py
  tests/integration/conftest.py
  tests/integration/test_claude_headless.py
  tests/integration/test_headless_simple.py
  tests/integration/test_hook_output_streams.py
  tests/integration/test_model_performance.py
  tests/test_permission_deny.py
  tests/test_validation_hooks.py
Due: radon-complexity, radon-maintainability, test-architecture, pytest

fix(infrastructure): Fix circular symlink in .claude/agents
  .claude/agents
Due: none

fix(hooks): Stop hook outputs invalid JSON schema
  scripts/validate_stop.py
  tests/conftest.py
  tests/test_validation_hooks.py
Due: radon-complexity, radon-maintainability, test-architecture, pytest

hook
  .claude/settings.json
  ARCHITECTURE.md
  docs/INSTRUCTION-INDEX.md
  scripts/validate_tool.py
  tests/test_validation_hooks.py
Due: radon-complexity, radon-maintainability, test-architecture, pytest

feat(commands): Add /ops and /ttd slash commands
  .claude/commands/ops.md
  .claude/commands/ttd.md
Due: none

moved agents
  .gitignore
  .vscode/bot.code-workspace
  .vscode/launch.json
  .vscode/tasks.json
  agents/REVIEW.md
  agents/TRACKER.md
  agents/_CORE.md
  docs/INSTRUCTIONS.md
  docs/TRAINER.md
  docs/_CHUNKS/ANALYST.md
  docs/_CHUNKS/DBT.md
  docs/_CHUNKS/DEVELOPER.md
  docs/_CHUNKS/HYDRA.md
  docs/_CHUNKS/TESTS.md
  scripts/validate_stop.py
  tests/hooks.py
  tests/test_hook_models.py
  tests/test_hook_pretool.py
  tests/test_hook_start.py
  tests/test_hook_stop.py
Due: radon-complexity, radon-maintainability, test-architecture, pytest

moved agents
  agents/TRAINER.md
Due: none

fix(prompts): Strengthen NO EXCUSES axiom to prevent rationalization
  agents/_CORE.md
Due: none

fix(prompts): Update REVIEW agent to use modular chunk architecture
  agents/REVIEW.md
  docs/_CHUNKS/TESTS.md
Due: none

feat(experiments): Document supervisor + test-cleaner overnight run success
  experiments/2025-10-19_supervisor-testcleaner-chain.md
  experiments/INDEX.md
Due: none

fix(hooks): Loosen .md file prohibition from block to warn
  scripts/validate_tool.py
Due: radon-complexity, radon-maintainability, pytest

feat(agents): Add SUPERVISOR and TEST-CLEANER agents with enhanced documentation
  .gitignore
  ARCHITECTURE.md
  INSTALL.md
  README.md
  agents/SUPERVISOR.md
  agents/TEST-CLEANER.md
  scripts/setup_academicops.sh
  scripts/validate_stop.py
Due: radon-complexity, radon-maintainability, pytest

feat(install): Add --no-symlink option for Windows/NTFS filesystems
  scripts/setup_academicops.sh
Due: none

fix(hooks): Use 'python' instead of 'python3' for cross-platform compatibility
  dist/.claude/settings.json
Due: none

docs: Update documentation to use 'python' instead of 'python3'
  ARCHITECTURE.md
  INSTALL.md
Due: none

feat(prompts): Add NO EXCUSES enforcement to SUPERVISOR agent
  agents/SUPERVISOR.md
  experiments/2025-10-19_supervisor-no-excuses-violation.md
  experiments/INDEX.md
Due: none

feat(prompts): Require supervisor to create success checklist first
  agents/SUPERVISOR.md
Due: none

fix(prompts): Apply DRY - replace 85-line bloat with _CORE.md reference
  agents/SUPERVISOR.md
  agents/TRAINER.md
Due: none

docs(experiments): Document trainer meta-failure - violated own anti-bloat rule
  experiments/2025-10-19_supervisor-no-excuses-violation.md
Due: none
