Repository nicsuzor/academicOps: changes, and which pre-commit hooks are due for each by the changed paths.
All: radon-complexity, radon-maintainability, test-architecture, pytest

radon-complexity:
  name: Check code complexity
  entry: uv run radon cc --min B --total-average
  language: system
  pass_filenames: true

radon-maintainability:
  name: Check maintainability index
  entry: uv run radon mi --min B
  language: system
  pass_filenames: true

test-architecture:
  name: Enforce test architecture rules
  entry: uv run python scripts/check_test_architecture.py
  language: system
  pass_filenames: false

pytest:
  name: Run tests (parallel)
  entry: uv run pytest -n auto -m "not slow and not integration and not endtoend"
  language: system
  pass_filenames: false
  stages:
  - pre-commit

docs: add H35 Spec-First File Modification heuristic
  HEURISTICS.md
Due: none

feat(learning): update log/learn/reflect to use root cause abstraction
  commands/learn.md
  commands/log.md
  commands/reflect.md
  skills/learning-log/SKILL.md
Due: none

feat: enhance hydrator with parallel execution and axiom/heuristic lookup
  agents/prompt-hydrator.md
Due: none

fix: correct README enforcement flowchart to 7-level ladder
  README.md
Due: none

fix(remember): enforce dual-write requirement in background invocation
  skills/remember/SKILL.md
Due: none

fix(remember): clarify durability alternatives to file creation
  skills/remember/SKILL.md
Due: none

fix: add pythonpath for hook imports and improve hydrator tests
  HEURISTICS.md
  pyproject.toml
  tests/integration/test_headless_fixture.py
  tests/test_user_prompt_submit_hook.py
Due: radon-complexity, radon-maintainability, test-architecture, pytest

feat(session-insights): add mood, conversation flow, and timeline extraction
  skills/session-insights/SKILL.md
  skills/session-insights/mining-prompt.md
  specs/session-insights-skill.md
Due: none

fix(session-insights): include preceding agent message with user prompts
  skills/session-insights/SKILL.md
  skills/session-insights/mining-prompt.md
Due: none

feat(introspect): add framework self-knowledge testing skill
  skills/introspect/SKILL.md
Due: none

fix(tests): update stale test expectations and remove obsolete tests
  tests/hooks/test_cloudflare_logging.py
  tests/integration/test_deny_rules.py
  tests/integration/test_file_loading_e2e.py
  tests/integration/test_session_start_content.py
  tests/integration/test_skill_script_discovery.py
  tests/test_email_workflow_tools.py
  tests/test_framework_debug_skill.py
  tests/test_session_insights_outputs.py
Due: radon-complexity, radon-maintainability, test-architecture, pytest

feat(tasks): scan all $ACA_DATA for type:task, organize by project
  README.md
  scripts/regenerate_task_index.py
  setup.sh
  specs/tasks-skill.md
  tests/integration/test_task_index_generation.py
  tests/test_task_index_freshness.py
Due: radon-complexity, radon-maintainability, test-architecture, pytest

fix(remember): add explicit "ONCE" guard to prevent duplicate invocation
  skills/remember/SKILL.md
Due: none

fix(tests): remove Volkswagen assertion from hydration test
  tests/integration/test_headless_fixture.py
Due: radon-complexity, radon-maintainability, test-architecture, pytest

refactor(tests): move hydration tests to dedicated test_hydrator.py
  pyproject.toml
  tests/integration/test_headless_fixture.py
  tests/integration/test_hydrator.py
Due: radon-complexity, radon-maintainability, test-architecture, pytest

feat(skills): add /next skill for ADHD-friendly task selection
  commands/next.md
  skills/next/SKILL.md
  skills/next/scripts/select_task.py
  specs/task-selector-skill.md
Due: radon-complexity, radon-maintainability, pytest

fix(tests): rewrite hydrator tests to verify actual behavior (H37)
  HEURISTICS.md
  tests/integration/test_hydrator.py
Due: radon-complexity, radon-maintainability, test-architecture, pytest

feat(enforcement): add Volkswagen test detection (H37)
  .pre-commit-config.yaml
  scripts/check_volkswagen_tests.py
  specs/enforcement.md
Due: radon-complexity, radon-maintainability, pytest

feat(next): extract subtasks for deep work recommendations
  hooks/user_prompt_submit.py
  skills/dashboard/dashboard.py
  skills/next/SKILL.md
  skills/next/scripts/select_task.py
  skills/tasks/task_loader.py
  specs/task-selector-skill.md
Due: radon-complexity, radon-maintainability, pytest

fix(next): show subtasks for all tasks with multiple steps
  skills/next/scripts/select_task.py
Due: radon-complexity, radon-maintainability, pytest

feat(next): add stale task detection for archive candidates
  skills/next/scripts/select_task.py
Due: radon-complexity, radon-maintainability, pytest

fix(next): exclude stale tasks from recommendations
  skills/next/scripts/select_task.py
Due: radon-complexity, radon-maintainability, pytest

revert: delete flawed check_volkswagen_tests.py
  .pre-commit-config.yaml
  scripts/check_volkswagen_tests.py
  specs/enforcement.md
Due: radon-complexity, radon-maintainability, pytest

feat(H37): add real enforcement for test quality
  .github/pull_request_template.md
  RULES.md
  agents/critic.md
  docs/testing-patterns.md
Due: none

docs(next): finalize /next skill implementation
  skills/next/SKILL.md
  specs/task-selector-skill.md
Due: none

fix(commands): complete next.md frontmatter
  commands/next.md
Due: none

fix(H4,crontab): strengthen mid-task user input handling
  HEURISTICS.md
  setup.sh
Due: none

feat(enforcement): add JIT compliance audit layer
  agents/compliance-auditor.md
  hooks/compliance_auditor.py
  hooks/router.py
  hooks/templates/compliance-auditor-context.md
  hooks/templates/compliance-auditor-instruction.md
  hooks/templates/prompt-hydration-instruction.md
  specs/enforcement.md
Due: radon-complexity, radon-maintainability, pytest

feat(H37c): require execution for compliance verification
  HEURISTICS.md
  RULES.md
  skills/framework/SKILL.md
Due: none

fix(transcript): sort sessions by modification time, not alphabetically
  skills/transcript/SKILL.md
Due: none

feat(enforcement): add criteria_gate PreToolUse hook
  agents/prompt-hydrator.md
  hooks/criteria_gate.py
  hooks/guardrails.md
  hooks/router.py
  hooks/sessionstart_load_axioms.py
Due: radon-complexity, radon-maintainability, pytest

test(criteria_gate): add unit and e2e tests for criteria gate hook
  tests/hooks/test_criteria_gate.py
  tests/integration/test_criteria_gate_e2e.py
Due: radon-complexity, radon-maintainability, test-architecture, pytest

refactor(tests): convert criteria_gate e2e tests to demo format
  tests/integration/test_criteria_gate_e2e.py
Due: radon-complexity, radon-maintainability, test-architecture, pytest

fix(tests): adjust demo test assertions to match real behavior
  tests/integration/test_criteria_gate_e2e.py
Due: radon-complexity, radon-maintainability, test-architecture, pytest

refactor(hooks): merge prompts/ into templates/ directory
  hooks/request_scribe.py
  hooks/templates/memory-reminder.md
  hooks/templates/session-reflect.md
  hooks/templates/user-prompt-submit.md
  scripts/check_file_taxonomy.py
  skills/audit/scripts/find_orphans.py
  skills/framework/tests/test_user_prompt_hook_integration.sh
  specs/file-taxonomy.md
Due: radon-complexity, radon-maintainability, pytest

add(heuristics): H38 - Test Failure Requires User Decision
  HEURISTICS.md
Due: none

refactor(enforcement): consolidate compliance specs into custodiet
  INDEX.md
  RULES.md
  agents/custodiet.md
  hooks/custodiet.py
  hooks/guardrails.md
  hooks/router.py
  hooks/templates/compliance-auditor-instruction.md
  hooks/templates/custodiet-context.md
  hooks/templates/custodiet-instruction.md
  skills/audit/SKILL.md
  specs/agent-behavior-watchdog.md
  specs/enforcement.md
  specs/execution-flow-spec.md
  specs/prompt-hydration.md
  specs/specs.md
  specs/ultra-vires-custodiet.md
Due: radon-complexity, radon-maintainability, pytest

fix(custodiet): use decision/reason output format for PostToolUse hooks
  hooks/custodiet.py
  hooks/templates/custodiet-instruction.md
Due: radon-complexity, radon-maintainability, pytest

fix(tests): criteria_gate demo tests with proper verification
  tests/integration/test_criteria_gate_e2e.py
Due: radon-complexity, radon-maintainability, test-architecture, pytest

Path conditions:
  radon-complexity: any of: \.py$
  radon-maintainability: any of: \.py$
  test-architecture: any of: ^tests/.*\.py$
  pytest: any of: \.py$
