Repository nicsuzor/academicOps: changes, and which pre-commit hooks are due for each by the changed paths.
All: dprint, check-framework-integrity

dprint:
  name: dprint check
  entry: uv run dprint check
  language: system
  pass_filenames: true

check-framework-integrity:
  name: framework integrity check
  entry: uv run python scripts/check_framework_integrity.py
  language: system
  pass_filenames: false

chore(dev): release 0.3.38
  .release-please-manifest.json
  CHANGELOG.md
  pyproject.toml
  templates/aops-core.gemini-extension.json
  templates/aops-core.plugin.json
  templates/aops-tools.gemini-extension.json
  templates/aops-tools.plugin.json
Due: dprint

PR-2: Generalized review backstop — forced step-0 Premise Test + /learn recurrence scoring
  aops-core/skills/strategic-review/SKILL.md
  aops-core/skills/survey/SKILL.md
  aops-core/skills/verify/SKILL.md
Due: dprint, check-framework-integrity

PR-1: Source premise gate at task promotion (→queued) + agent-judged dispatch refusal
  aops-core/commands/pull.md
  aops-core/skills/planner/SKILL.md
  aops-core/skills/program/SKILL.md
  aops-core/skills/remember/references/TAXONOMY.md
  aops-core/skills/remember/references/premise-gate.md
  aops-core/skills/supervisor/instructions/worker-dispatch.md
  specs/ENFORCEMENT-MAP.md
Due: dprint, check-framework-integrity

refactor(premise-test): extract Step-0 Premise Test to canonical SSoT reference
  aops-core/skills/strategic-review/SKILL.md
  aops-core/skills/strategic-review/references/premise-test.md
  aops-core/skills/survey/SKILL.md
  aops-core/skills/verify/SKILL.md
Due: dprint, check-framework-integrity

chore(integrity): drop dead check_context_map_coverage()
  scripts/check_framework_integrity.py
Due: none

fix(daily): commit the note on write, don't rely on auto-sync
  aops-core/skills/daily/SKILL.md
Due: dprint, check-framework-integrity

wip: preserve incomplete shared-branch impl (3 hook failures unresolved)
  polecat/cli.py
  polecat/finalize.py
  polecat/manager.py
  polecat/pkb_bridge.py
  tests/polecat/test_shared_branch.py
Due: none

fix(daily): commit note in Output step (minimal self-correction)
  aops-core/skills/daily/SKILL.md
Due: dprint, check-framework-integrity

fix(daily): drop --no-verify from commit step (halt-on-failure)
  aops-core/skills/daily/SKILL.md
Due: dprint, check-framework-integrity

feat(shared-branch): resolve undefined branch, silent fallback, and formatting issues
  CHANGELOG.md
  polecat/cli.py
  polecat/finalize.py
  polecat/manager.py
  specs/workflows/pr-pipeline.md
  tests/polecat/test_shared_branch.py
Due: dprint, check-framework-integrity

chore: scope PR to agent-def reflex only
  aops-core/agents/junior.md
Due: dprint

refactor(junior): remove duplicate instructions and incident-specific rules
  .claude-plugin/marketplace.json
  CHANGELOG.md
  aops-core/agents/junior.md
  polecat/defaults/claude-settings.json
  specs/workflows/pr-pipeline.md
Due: dprint, check-framework-integrity

fix(polecat): delegate branch resolution to SSOT + None-safe save_task; de-dup pr-pipeline table
  polecat/finalize.py
  specs/workflows/pr-pipeline.md
Due: dprint, check-framework-integrity

fix(polecat): surface git ls-remote probe failure instead of swallowing (halt-on-failure)
  polecat/finalize.py
Due: none

refactor(junior): remove duplicate instructions and incident-specific rules
  aops-core/agents/junior.md
Due: dprint

feat(dead-code): dead-code sweep - delete 5 confirmed-orphaned code units
  aops-core/hooks/router.py
  aops-core/lib/event_detector.py
  aops-core/lib/gates/custom_conditions.py
  aops-core/lib/reflection_detector.py
  scripts/build.py
  tests/test_agent_tool_names.py
  tests/test_event_detector.py
Due: none

FEAT: Add support in polecat to commit to shared branch / existing draft PR (#1749)
  CHANGELOG.md
  polecat/cli.py
  polecat/finalize.py
  polecat/manager.py
  polecat/pkb_bridge.py
  specs/workflows/pr-pipeline.md
  tests/polecat/test_shared_branch.py
Due: dprint, check-framework-integrity

chore: saving uncommitted agent work
  aops-core/skills/planner/SKILL.md
  aops-core/skills/program/SKILL.md
  aops-tools/skills/analyst/SKILL.md
  aops-tools/skills/analyst/instructions/streamlit-workflow.md
  aops-tools/skills/analyst/references/streamlit-patterns.md
  aops-tools/skills/analyst/references/streamlit.md
Due: dprint, check-framework-integrity

DOCS(agents,skills): propagate self-instance rule to design-rubric + marsha (+ verify cross-ref)
  aops-core/agents/marsha.md
  aops-core/skills/design-rubric/SKILL.md
  aops-core/skills/verify/SKILL.md
Due: dprint, check-framework-integrity

fix(enforcer): scope SSOT check so unverifiable cross-repo refs are advisory, not blocking (re #1744)
  .agents/rules/AXIOMS-REVIEW.md
  aops-core/agents/rbg.md
Due: dprint

docs: encode cohesive single-PR-epic pattern into planner/supervisor skills
  aops-core/skills/planner/SKILL.md
  aops-core/skills/supervisor/SKILL.md
  aops-core/skills/supervisor/instructions/code-deliverable.md
  aops-core/skills/supervisor/instructions/decomposition-and-review.md
  aops-core/skills/supervisor/instructions/supervision-loop.md
Due: dprint, check-framework-integrity

docs: resolve draft lifecycle contract, dispatch command formats, and single source of truth duplication
  aops-core/skills/planner/SKILL.md
  aops-core/skills/supervisor/SKILL.md
  aops-core/skills/supervisor/instructions/code-deliverable.md
Due: dprint, check-framework-integrity

feat(shared-branch): add --promote option to run/finish and gate draft PR on is_shared
  polecat/cli.py
  polecat/finalize.py
  tests/polecat/test_finalize_promote.py
Due: none

fix(agy): make aops-core hooks fully functional on Antigravity CLI
  Makefile
  aops-core/hooks/router.py
  aops-core/lib/session_naming.py
  aops-core/lib/session_paths.py
  scripts/build.py
  tests/test_antigravity_hooks_build.py
  tests/test_session_naming.py
Due: none

fix(hooks): pre-bake hook venv at install time for all clients
  Dockerfile
  Makefile
Due: none

feat(junior): add point-of-contact closure rules (retro c9308eaf)
  aops-core/agents/junior.md
Due: dprint

test: replace brittle mirror source tests with behavioral tests for finalize promote flag
  tests/polecat/test_finalize_promote.py
Due: none

chore: saving uncommitted agent work
  aops-core/agents/junior.md
  aops-core/hooks/gate_config.py
  aops-core/lib/gate_types.py
  aops-core/lib/gates/definitions.py
  aops-core/lib/gates/engine.py
  tests/hooks/test_gate_config.py
Due: dprint

feat(config): add is_repo flag to project definitions to support non-repository projects
  aops-core/scripts/dump_pr_state.py
  polecat/cli.py
  polecat/defaults/polecat.yaml.example
  polecat/manager.py
Due: none

fix(agy): thread provider into session-summary filename so agy summaries are -antigravity-, not -claude-
  aops-core/lib/session_paths.py
  tests/lib/test_session_paths.py
Due: none

test(agy): fix two test-isolation bugs surfaced during agy-hook consolidation
  tests/lib/test_session_paths.py
  tests/test_session_paths.py
Due: none

PR-2: Generalized review backstop — forced step-0 Premise Test in arch-fit/verify + /learn recurrence scoring (#1731)
  aops-core/skills/strategic-review/SKILL.md
  aops-core/skills/strategic-review/references/premise-test.md
  aops-core/skills/survey/SKILL.md
  aops-core/skills/verify/SKILL.md
Due: dprint, check-framework-integrity

fix: resolve basedpyright GateVerdict type errors in gate definitions
  aops-core/lib/gate_types.py
  aops-core/lib/gates/definitions.py
Due: none

Update aops-core/agents/junior.md
  aops-core/agents/junior.md
Due: dprint

fix(pr-pipeline): stop alignment-queue filing alignment:queued issues (no drainer)
  .github/workflows/pr-pipeline.yml
  specs/workflows/pr-pipeline.md
Due: dprint, check-framework-integrity

Potential fix for pull request finding
  polecat/manager.py
Due: none

Path conditions:
  dprint: any of: \.(md|markdown|mdown)$, \.json$, \.toml$
  check-framework-integrity: any of: (WORKFLOWS|SKILLS)\.md$|workflows/.*\.md$|skills/.*/SKILL\.md$|commands/.*\.md$
