Repository nicsuzor/academicOps: changes, and which pre-commit hooks are due for each by the changed paths.
All: radon-complexity, radon-maintainability, test-architecture, pytest

.pre-commit-config.yaml:

# Pre-commit hooks for academicOps
# Install: pre-commit install
# Run manually: pre-commit run --all-files
#
# PERFORMANCE OPTIMIZATION NOTES:
# - Tests only run when Python files are changed and staged (removed always_run: true)
# - This makes commits blazing fast when editing docs, configs, etc.
# - To run tests manually: pytest -m "not slow and not integration and not endtoend"
# - CI still runs full test suite on all commits
# - Tests run in parallel (requires: uv add --dev pytest-xdist)
# - Skips test architecture check on trivial commits
# - Uses faster ruff version

repos:
  # Ruff - Fast Python linter & formatter
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.0
    hooks:
      # Linter
      - id: ruff-check
        args: [--fix, --unsafe-fixes]
      # Formatter
      - id: ruff-format

  # MyPy - Static type checking
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.18.2
    hooks:
      - id: mypy
        additional_dependencies: []
        args: [--config-file=pyproject.toml]
        # Performance: Only check changed files, not whole project
        pass_filenames: true

  # Local custom hooks
  - repo: local
    hooks:
      # Radon - Complexity metrics
      - id: radon-complexity
        name: Check code complexity
        entry: uv run radon cc --min B --total-average
        language: system
        types: [python]
        pass_filenames: true

      - id: radon-maintainability
        name: Check maintainability index
        entry: uv run radon mi --min B
        language: system
        types: [python]
        pass_filenames: true

      # Test architecture - ONLY on test files
      - id: test-architecture
        name: Enforce test architecture rules
        entry: uv run python scripts/check_test_architecture.py
        language: system
        files: ^tests/.*\.py$
        pass_filenames: false

      # Pytest - PARALLEL execution for speed
      # Requires: pytest-xdist
      - id: pytest
        name: Run tests (parallel)
        entry: uv run pytest -n auto -m "not slow and not integration and not endtoend"
        language: system
        types: [python]
        pass_filenames: false
        stages: [pre-commit]

fix(tests): update 30 tests for CLI format changes and remove stale tests
  HEURISTICS.md
  hooks/prompts/memory-reminder.md
  skills/session-insights/SKILL.md
  skills/session-insights/mining-prompt.md
  tests/integration/conftest.py
  tests/integration/test_doc_policy_hook.py
  tests/integration/test_headless_fixture.py
  tests/integration/test_intent_router_accuracy.py
  tests/integration/test_intent_router_e2e.py
  tests/integration/test_ios_note_capture_e2e.py
  tests/integration/test_prompt_router_haiku_flow.py
  tests/integration/test_skill_delegation_pattern.py
  tests/integration/test_subagent_skill_invocation.py
  tests/integration/test_task_script_invocation.py
  tests/test_core_md_task_guidance.py
  tests/test_email_workflow_guidance.py
  tests/test_excalidraw_skill.py
  tests/test_hook_logger_serialization.py
  tests/test_ios_note_capture_workflow.py
  tests/test_request_scribe_hook.py
  tests/test_router_compliance.py
  tests/test_session_analyzer_dashboard.py
Due: radon-complexity, radon-maintainability, test-architecture, pytest

feat(hooks): add TodoWrite injection for diagnostic prompts
  hooks/prompt_router.py
  tests/test_prompt_router.py
Due: radon-complexity, radon-maintainability, test-architecture, pytest

chore: update hook paths and marker hook rename
  config/claude/mcp-base.json
  hooks/marker_hook.py
  hooks/user_prompt_submit.py
  tests/integration/test_intent_router_e2e.py
  tests/paths.py
Due: radon-complexity, radon-maintainability, test-architecture, pytest

test: rewrite cloudflare logging tests without mocks
  tests/hooks/test_cloudflare_logging.py
Due: radon-complexity, radon-maintainability, test-architecture, pytest

test: fail instead of skip when PROMPT_LOG_API_KEY missing
  tests/hooks/test_cloudflare_logging.py
Due: radon-complexity, radon-maintainability, test-architecture, pytest

fix(intent-router): pass content inline instead of file path
  agents/intent-router.md
  hooks/prompt_router.py
  tests/integration/test_intent_router_e2e.py
Due: radon-complexity, radon-maintainability, test-architecture, pytest

refactor(hooks): convert user_prompt_submit to pure logging hook
  hooks/user_prompt_submit.py
Due: radon-complexity, radon-maintainability, pytest

feat(hooks): register user_prompt_submit in UserPromptSubmit chain
  config/claude/settings.json
Due: none

feat(intent-router): v7 subagent architecture
  agents/intent-router.md
  hooks/prompt_router.py
  hooks/prompts/intent-router.md
  tests/test_prompt_router.py
Due: radon-complexity, radon-maintainability, test-architecture, pytest

feat: GitHub Issues as episodic storage (AXIOMS #28)
  AXIOMS.md
  HEURISTICS.md
  INDEX.md
  skills/framework/SKILL.md
  skills/learning-log/SKILL.md
Due: none

feat: integrate plugin-dev official skills for CC development
  config/claude/settings.json
  hooks/prompts/intent-router.md
Due: none

refactor(session-insights): ship find_sessions script, use Bash for transcripts
  skills/session-insights/SKILL.md
  skills/session-insights/scripts/find_sessions.py
Due: radon-complexity, radon-maintainability, pytest

feat: add user_prompt_fetch.py for reading Cloudflare logs
  scripts/user_prompt_fetch.py
Due: radon-complexity, radon-maintainability, pytest

fix(transcript): show hook content with files_loaded, add truncation
  lib/session_reader.py
Due: radon-complexity, radon-maintainability, pytest

chore: reformat markdown with line wrapping, add router hook
  20251226-writing-3bec9e91-show-prompts-stored-abridged.md
  20251226-writing-3bec9e91-show-prompts-stored-full.md
  HEURISTICS.md
  README.md
  commands/meta.md
  commands/parallel-batch.md
  config/claude/settings.json
  docs/HOOKS.md
  hooks/router.py
  scripts/claude_transcript.py
  skills/analyst/references/context-discovery.md
  skills/analyst/references/dbt-workflow.md
  skills/analyst/references/streamlit-patterns.md
  skills/analyst/references/streamlit.md
  skills/extractor/extractor.md
  skills/framework/references/e2e-test-harness.md
  skills/link-audit/SKILL.md
  skills/osb-drafting/templates/case-analysis.md
  skills/osb-drafting/templates/verification-checklist.md
  skills/python-dev/references/hydra.md
  skills/remember/SKILL.md
  skills/remember/references/obsidian-format-spec.md
  skills/review-training/review-training.md
  skills/tasks/workflows/email-capture.md
  tests/hooks/test_router.py
Due: radon-complexity, radon-maintainability, test-architecture, pytest

refactor(skills): remove duplicate name.md files, rename to README.md
  hooks/router.py
  skills/excalidraw/excalidraw.md
  skills/extractor/README.md
  skills/review-training/README.md
  skills/tasks/README.md
  tests/hooks/test_router.py
Due: radon-complexity, radon-maintainability, test-architecture, pytest

refactor: remove redundant sections from specification workflow
  skills/framework/workflows/06-develop-specification.md
Due: none

feat(dashboard): add What Now? synthesis panel and task index
  scripts/regenerate_task_index.py
  skills/dashboard/SKILL.md
  skills/dashboard/dashboard.py
Due: radon-complexity, radon-maintainability, pytest

feat(dashboard): add LLM synthesis for focus coaching
  scripts/synthesize_dashboard.py
  setup.sh
  skills/dashboard/dashboard.py
Due: radon-complexity, radon-maintainability, pytest

fix(synthesis): use claude headless instead of API key
  scripts/synthesize_dashboard.py
Due: radon-complexity, radon-maintainability, pytest

fix(synthesis): daily_log indicator reflects accomplishments found
  scripts/synthesize_dashboard.py
Due: radon-complexity, radon-maintainability, pytest

feat(heuristics): H28 - Mandatory Acceptance Testing
  HEURISTICS.md
Due: none

feat(enforcement): add Level 2d (intelligent steering) and Level 3a (tool restriction)
  docs/ENFORCEMENT.md
Due: none

refactor(enforcement): router IS Level 2, not a sub-level
  docs/ENFORCEMENT.md
Due: none

docs(enforcement): add workflow development pattern
  docs/ENFORCEMENT.md
Due: none

feat(ttd): enforce acceptance criteria lock and mandatory QA verification
  commands/ttd.md
Due: none

feat(dashboard): add get_primary_focus() for AC-U2 prominence
  skills/dashboard/dashboard.py
Due: radon-complexity, radon-maintainability, pytest

feat(dashboard): add get_session_display_info() for AC-U1 session identity
  skills/dashboard/dashboard.py
  tests/test_dashboard_layout.py
Due: radon-complexity, radon-maintainability, test-architecture, pytest

feat(dashboard): add get_todays_accomplishments() for AC-U4 unified view
  skills/dashboard/dashboard.py
Due: radon-complexity, radon-maintainability, pytest

feat: switch zot and osb MCP servers to remote HTTP
  config/claude/mcp-base.json
Due: none

feat(dashboard): add get_priority_tasks() for AC-U3 task visibility
  skills/dashboard/dashboard.py
Due: radon-complexity, radon-maintainability, pytest

feat(dashboard): add get_dashboard_layout() for AC-U5 three-question structure
  skills/dashboard/dashboard.py
Due: radon-complexity, radon-maintainability, pytest

feat(dashboard): add three-question layout UI for overwhelm dashboard
  skills/dashboard/dashboard.py
  tests/test_dashboard_layout.py
Due: radon-complexity, radon-maintainability, test-architecture, pytest

fix(dashboard): include inbox/pending tasks in priority filter
  skills/dashboard/dashboard.py
Due: radon-complexity, radon-maintainability, pytest

fix(dashboard): fallback to P0 task when no daily log primary
  skills/dashboard/dashboard.py
  tests/test_dashboard_layout.py
Due: radon-complexity, radon-maintainability, test-architecture, pytest

feat(dashboard): synthesize session context from daily.md for understandability
  scripts/synthesize_dashboard.py
  skills/dashboard/dashboard.py
Due: radon-complexity, radon-maintainability, pytest

feat(dashboard): show all priority tasks and group accomplishments by project
  skills/dashboard/SKILL.md
  skills/dashboard/dashboard.py
Due: radon-complexity, radon-maintainability, pytest

fix(dashboard): UX improvements - dedup primary, increase truncation, fix synthesis age
  commands/commands.md
  commands/learn.md
  skills/dashboard/dashboard.py
Due: radon-complexity, radon-maintainability, pytest

fix(dashboard): clean raw markdown from session activity fallback
  skills/dashboard/dashboard.py
Due: radon-complexity, radon-maintainability, pytest
