Repository nicsuzor/academicOps: changes, and which pre-commit hooks are due for each by the changed paths.
All: dprint, check-framework-integrity

dprint:
  name: dprint check
  entry: uv run dprint check
  language: system
  pass_filenames: true

check-framework-integrity:
  name: framework integrity check
  entry: uv run python scripts/check_framework_integrity.py
  language: system
  pass_filenames: false

fix(pipeline): Add terminal commit status on early pipeline failure in agent-merge-prep
  .github/workflows/agent-merge-prep.yml
Due: none

spec: cluster-1122 rev 4 — close James 3rd-pass clarifications
  specs/future/cluster-1122-coordinator-relay-remediation.md
Due: dprint

fix(polecat-worker): preinstall gemini hook venv to skip cold-cache PyPI
  Dockerfile
  aops-core/hooks/router.sh
Due: none

fix(james): prescribe in-process Agent() dispatch, forbid subprocess (#1178)
  aops-core/agents/james.md
Due: dprint

fix(supervisor): use --model <name> in dispatch template, deprecate --opus/--gemini as model flags
  aops-core/skills/supervisor/SKILL.md
Due: dprint, check-framework-integrity

move specs
  specs/future/kb-385bd253-review-lenses-library-specification.md
  specs/future/skill-delegation.md
  specs/future/spec-967126cf-spec-project-scaffold-redesign-for-rigorous-polecat-dispatched-research.md
  specs/workflows/pr-state-index.md
Due: dprint, check-framework-integrity

update specs
  aops-core/PR-STATE-INDEX.md
Due: dprint

fix(polecat-crew): seed .claude.json so claude workers skip onboarding
  Dockerfile
  polecat/defaults/claude-config.json
  tests/harness/AGENT-TMUX.md
  tests/harness/README.md
Due: dprint

/end-session skill: formalise per-thread pickup section in the full-form handover (#1169)
  CHANGELOG.md
  aops-core/lib/transcript_parser.py
  aops-core/skills/end_session/SKILL.md
  aops-core/skills/end_session/transcript-metadata-schema.md
  projects/aops/specs/daily/00-architecture.md
  projects/aops/specs/daily/10-daily-orchestrator.md
  projects/aops/specs/daily/20-email-capture.md
  projects/aops/specs/daily/30-news-briefing.md
  projects/aops/specs/daily/40-pdf-render.md
  projects/aops/specs/daily/50-aops-core-vs-tools.md
  projects/aops/specs/daily/README.md
  tests/lib/test_transcript_parser_reflection.py
Due: dprint, check-framework-integrity

fix(merge-prep): add intent-vs-surface guidance to stop surface-only delta revisions
  .github/agents/merge-prep.agent.md
Due: dprint

Add docs taxonomy guide (specs/meta/)
  specs/meta/doc-taxonomy.md
Due: dprint

feat(junior): add salience-label filtering guardrail (#1170)
  aops-core/agents/junior.md
Due: dprint

planner: standardize multi-agent review gate in decompose mode (#1174)
  aops-core/skills/planner/SKILL.md
  aops-core/skills/planner/workflows/decompose.md
  aops-core/skills/supervisor/instructions/decomposition-and-review.md
Due: dprint, check-framework-integrity

spec: cluster-1122 coordinator-relay remediation plan (rev 3)
  specs/future/cluster-1122-coordinator-relay-remediation.md
Due: dprint

fix(pipeline): Add terminal commit status on early pipeline failure in agent-merge-prep (#1177)
  .github/workflows/agent-merge-prep.yml
Due: none

fix(merge-prep): add intent-vs-surface guidance to stop surface-only delta revisions (#1184)
  .github/agents/merge-prep.agent.md
Due: dprint

Update specs/meta/doc-taxonomy.md
  specs/meta/doc-taxonomy.md
Due: dprint

Add docs taxonomy guide (specs/meta/) (#1185)
  specs/meta/doc-taxonomy.md
Due: dprint

docs(supervisor): add Known Limitations section distinguishing Gemini 429 from Claude hard-quota
  aops-core/skills/supervisor/SKILL.md
Due: dprint, check-framework-integrity

fix(custodiet): reliability cluster — empty narratives, mid-work BLOCKs, WARN inertia, O(n²) parsing
  aops-core/hooks/router.py
  aops-core/lib/gates/custom_actions.py
  aops-core/lib/gates/custom_conditions.py
  aops-core/lib/gates/definitions.py
  aops-core/lib/transcript_parser.py
  tests/hooks/test_custodiet_cluster.py
  tests/lib/test_session_reader.py
Due: none

fix(pkb-bridge): detect and self-heal mem indexer graph-binding race
  polecat/pkb_bridge.py
  tests/polecat/test_pkb_bridge.py
Due: none

docs(surfaces): retire Mac Cowork→ssh-wsl, document WSL crew container as current (aops-e6a80f83)
  aops-core/SURFACES.md
  aops-core/skills/aops/references/claude-surfaces.md
Due: dprint

docs(specs/agents): collapse three agent-permission representations to spec pair + per-agent state + audit-artifact (aops-ba39c520)
  aops-core/CONSTRAINTS.md
  specs/agents/agent-authority.md
  specs/agents/agent-permissions.md
Due: dprint

docs(enforcement): collapse two enforcement-maps + three tier ladders to one operative (aops-3c665002)
  .agents/ENFORCEMENT-MAP.md
  README.md
  aops-core/skills/aops/references/enforcement-design.md
  specs/INDEX.md
  specs/enforcement/enforcement-aops-recommender.md
  specs/enforcement/enforcement-map.md
  specs/enforcement/enforcement-mechanisms.md
  specs/enforcement/enforcement.md
  specs/enforcement/ultra-vires-enforcer.md
  specs/observability/framework-observability.md
  specs/workflows/audit-protocol.md
  specs/workflows/feedback-loops.md
Due: dprint, check-framework-integrity

fix(pkb-bridge): self-heal mem indexer graph-binding race in create_task (#1189)
  polecat/pkb_bridge.py
  tests/polecat/test_pkb_bridge.py
Due: none

fix(custodiet): reliability cluster — empty narratives, mid-work BLOCKs, WARN inertia, O(n²) parsing (#1187)
  aops-core/hooks/router.py
  aops-core/lib/gates/custom_actions.py
  aops-core/lib/gates/custom_conditions.py
  aops-core/lib/gates/definitions.py
  aops-core/lib/transcript_parser.py
  tests/hooks/test_custodiet_cluster.py
  tests/lib/test_session_reader.py
Due: none

Fix #1158: split comment-only sweep disposition into duplicate and evidence-bump
  aops-core/skills/project/instructions/init.md
  aops-core/skills/survey/SKILL.md
Due: dprint, check-framework-integrity

docs(specs/agents): A4 — collapse three agent-permission reps to spec pair + per-agent state + audit-artifact (#1191)
  aops-core/CONSTRAINTS.md
  specs/agents/agent-authority.md
  specs/agents/agent-permissions.md
Due: dprint

docs(enforcement): collapse two enforcement-maps + three tier ladders to one (aops-3c665002) (#1192)
  .agents/ENFORCEMENT-MAP.md
  README.md
  aops-core/skills/aops/references/enforcement-design.md
  specs/INDEX.md
  specs/enforcement/enforcement-aops-recommender.md
  specs/enforcement/enforcement-map.md
  specs/enforcement/enforcement-mechanisms.md
  specs/enforcement/enforcement.md
  specs/enforcement/ultra-vires-enforcer.md
  specs/observability/framework-observability.md
  specs/workflows/audit-protocol.md
  specs/workflows/feedback-loops.md
Due: dprint, check-framework-integrity

docs(surfaces): retire Mac Cowork→ssh-wsl, document WSL crew container as current (aops-e6a80f83) (#1190)
  aops-core/SURFACES.md
  aops-core/skills/aops/references/claude-surfaces.md
Due: dprint

fix(planner): reference Decision Surfacing Heuristic from decompose workflow
  aops-core/skills/planner/SKILL.md
  aops-core/skills/planner/workflows/decompose.md
Due: dprint, check-framework-integrity

fix(junior): point framework vision to PKB doc, not removed docs/VISION.md
  aops-core/agents/junior.md
Due: dprint

Fix #1158: split issue-sweep comment-only disposition and tighten labels (#1193)
  aops-core/skills/project/instructions/init.md
  aops-core/skills/survey/SKILL.md
Due: dprint, check-framework-integrity

Fix #785: supervisor misreads Gemini 429/QUOTA_EXHAUSTED as hard quota — real cause is polecat 45-min timeout (#1186)
  aops-core/skills/supervisor/SKILL.md
Due: dprint, check-framework-integrity

fix(polecat): enable aops plugins in container claude-settings.json (#1197)
  Dockerfile
  polecat/defaults/claude-settings.json
Due: dprint

Path conditions:
  dprint: any of: \.(md|markdown|mdown)$, \.json$, \.toml$
  check-framework-integrity: any of: (WORKFLOWS|SKILLS)\.md$|workflows/.*\.md$|skills/.*/SKILL\.md$|commands/.*\.md$
