Repository nicsuzor/academicOps: changes, and which pre-commit hooks are due for each by the changed paths.
All: dprint, check-framework-integrity

dprint:
  name: dprint check
  entry: uv run dprint check
  language: system
  pass_filenames: true

check-framework-integrity:
  name: framework integrity check
  entry: uv run python scripts/check_framework_integrity.py
  language: system
  pass_filenames: false

feat(tooling): P# allocator and collision lint for HEURISTICS.md (Closes task-4fc42370)
  .pre-commit-config.yaml
  aops-core/HEURISTICS.md
  scripts/next_p_number.py
  tests/test_pnumber_allocator.py
Due: dprint

feat(hooks): log client_type to distinguish claude vs gemini sessions (Closes task-c5d2e2da)
  aops-core/hooks/router.py
  tests/hooks/test_client_type_logged.py
Due: none

feat(polecat): remove sweep subcommand — agent supervisor handles PR-state transitions (Closes task-9fa50763)
  aops-core/skills/daily/instructions/progress-sync.md
  polecat/cli.py
  scripts/repo-sync-cron.sh
Due: dprint

feat(heuristics): age is not a staleness signal (#837)
  aops-core/HEURISTICS.md
  aops-core/skills/sleep/SKILL.md
Due: dprint, check-framework-integrity

fix(session-writer): dedupe timeline_events to prevent double-recording (Closes task-955f405d) (#864)
  aops-core/lib/transcript_parser.py
  tests/lib/test_timeline_events_dedupe.py
Due: none

docs: remove stale references to non-existent session-insights skill (Closes task-c5fa4dd6)
  specs/session-log-observability-gaps.md
Due: dprint

docs: reference list_tasks project filter in skill bodies (Closes task-3dfb97b5)
  aops-core/skills/aops/references/decision-briefing-details.md
  aops-core/skills/end_session/SKILL.md
  aops-core/skills/planner/SKILL.md
  aops-core/skills/sleep/SKILL.md
  tests/test_plugin_structure.py
Due: dprint, check-framework-integrity

refactor(insights): remove dead prompt-loader functions (Closes task-83932f98)
  aops-core/lib/insights_generator.py
  tests/lib/test_insights_generator.py
  tests/lib/test_insights_generator_dead_code_removed.py
Due: none

feat(planner): default new tasks to P3 unless user signals urgency (#842)
  aops-core/skills/planner/SKILL.md
  aops-core/skills/planner/workflows/decompose.md
Due: dprint, check-framework-integrity

feat(polecat): surface real transcript path in task body and PR
  polecat/cli.py
  tests/polecat/test_finish_surfaces_transcript.py
Due: none

docs(planner): default new tasks to P3 unless user indicates urgency (Closes task-e410b794)
  aops-core/skills/planner/SKILL.md
  tests/test_planner_default_priority.py
Due: dprint, check-framework-integrity

fix(planner): externalise follow-up action items as separate linked tasks (Closes #582) (#838)
  aops-core/skills/planner/SKILL.md
Due: dprint, check-framework-integrity

docs: reference list_tasks project filter in skill bodies (Closes task-3dfb97b5) (#870)
  aops-core/skills/aops/references/decision-briefing-details.md
  aops-core/skills/end_session/SKILL.md
  aops-core/skills/planner/SKILL.md
  aops-core/skills/sleep/SKILL.md
  tests/test_plugin_structure.py
Due: dprint, check-framework-integrity

docs(priority): canonical P0–P4 definitions (#840)
  aops-core/HEURISTICS.md
  aops-core/PRIORITY.md
  aops-core/commands/pull.md
  aops-core/skills/daily/SKILL.md
  aops-core/skills/planner/SKILL.md
Due: dprint, check-framework-integrity

feat(transcript): render Gemini thoughts and Claude thinking in markdown (Closes task-df03f1d9)
  aops-core/lib/transcript_parser.py
  tests/lib/test_transcript_thoughts_rendering.py
Due: none

feat(polecat): CLI/lifecycle polish — --force, sweep removal, lifecycle stubs, transcript surfacing (#850)
  aops-core/skills/daily/instructions/progress-sync.md
  polecat/cli.py
  scripts/repo-sync-cron.sh
Due: dprint

fix(sleep): attach PKB MCP toolset to Phase 2/4 sub-agents (#841)
  aops-core/skills/sleep/SKILL.md
  templates/github-workflows/pkb-quality-review.yml
  templates/github-workflows/sleep-cycle.yml
  templates/github-workflows/transcript-extraction.yml
Due: dprint, check-framework-integrity

refactor(insights): remove dead prompt-loader functions (Closes task-83932f98) (#871)
  aops-core/lib/insights_generator.py
  tests/lib/test_insights_generator.py
  tests/lib/test_insights_generator_dead_code_removed.py
Due: none

feat(transcript): surface injected/read context in Session Context section (Closes task-8b3e3cfd)
  aops-core/lib/transcript_parser.py
  tests/lib/test_session_context_section.py
Due: none

feat(core): point agents at PKB specs first (academicOps scope, partial Closes aops-e17e4e64)
  .agents/CORE.md
  tests/test_core_md_pkb_first.py
Due: dprint

feat(polecat): remove sweep subcommand — supervisor handles PR-state directly (#868)
  aops-core/skills/daily/instructions/progress-sync.md
  polecat/cli.py
Due: dprint

feat(supervisor,rbg): A8 composition-time enforcement against workaround menus and drift framing
  aops-core/agents/rbg.md
  aops-core/skills/supervisor/SKILL.md
  aops-core/skills/supervisor/instructions/decomposition-and-review.md
  tests/agents/__init__.py
  tests/agents/test_rbg_a8_pre_response_scan.py
  tests/agents/test_supervisor_a8_blacklist.py
Due: dprint, check-framework-integrity

feat(skills): /daily and /pull consume urgency signal (task-0e12ef8d) (#846)
  aops-core/commands/pull.md
  aops-core/skills/daily/SKILL.md
  aops-core/skills/daily/instructions/status-snapshot.md
Due: dprint, check-framework-integrity

feat(rbg): A2 class-coverage check + structured exemption schema (Closes epic-e1ddba21, refs #794, #811)
  aops-core/AXIOMS.md
  aops-core/agents/rbg.md
  tests/agents/__init__.py
  tests/agents/test_rbg_a2_class_coverage.py
  tests/agents/test_rbg_structured_exemption.py
Due: dprint

feat(maintain): /maintain anti-inflation surface + /daily SEV4 concurrency warning (Closes task-b4831821)
  aops-core/commands/maintain.md
  aops-core/skills/daily/SKILL.md
  tests/test_daily_sev4_warning.py
  tests/test_maintain_skill_structure.py
Due: dprint, check-framework-integrity

feat(transcript): surface injected/read context in Session Context section (Closes task-8b3e3cfd) (#875)
  aops-core/lib/transcript_parser.py
  tests/lib/test_session_context_section.py
Due: none

refactor(polecat): extract swarm/watch/analyze/reset_stalled/summary into modules (Step 1 of Polecat v2 epic-4234682b)
  polecat/cli.py
  polecat/diagnostics.py
  polecat/summary.py
  polecat/watch.py
Due: none

feat(dump,transcript): require framework reflection + output link + tasks-worked list (#855)
  aops-core/lib/transcript_parser.py
  aops-core/scripts/transcript.py
  aops-core/skills/end_session/SKILL.md
  aops-core/skills/end_session/transcript-metadata-schema.md
  tests/lib/test_dump_quality_bar.py
Due: dprint, check-framework-integrity

test(polecat): parametrise transcript-persistence e2e for Gemini variant
  tests/polecat/test_transcript_persistence_e2e.py
Due: none

feat(maintain): /maintain anti-inflation surface + /daily SEV4 warning (#879)
  aops-core/commands/maintain.md
  aops-core/skills/daily/SKILL.md
  tests/test_daily_sev4_warning.py
  tests/test_maintain_skill_structure.py
Due: dprint, check-framework-integrity

feat(sessions): consistently include task ID in all session-artifact filenames (Closes task-c36a6b0c)
  aops-core/lib/insights_generator.py
  aops-core/scripts/transcript.py
  tests/test_task_id_in_artifact_filenames.py
Due: none

test(polecat): parametrise transcript-persistence e2e for Gemini variant (#881)
  tests/polecat/test_transcript_persistence_e2e.py
Due: none

fix(hooks): plumb --client through normalize_input so JSONL logs client_type
  aops-core/hooks/router.py
  tests/hooks/test_normalize_input_regression.py
Due: none

feat(transcript): render model thoughts and session context (df03f1d9, 8b3e3cfd)
  aops-core/lib/transcript_parser.py
  tests/test_transcript.py
Due: none

fix(transcript): widen _aggregate_turn_tokens return + drop test colliding with main #875
  aops-core/lib/transcript_parser.py
  tests/test_transcript.py
Due: none

fix(transcript_parser): surface gate verdict and system message in hook rendering (task-fc938187)
  aops-core/lib/transcript_parser.py
  tests/lib/test_transcript_parser_hooks.py
Due: none

docs(remember): clarify confidence is numeric and synthesized/sources required for knowledge (partial Closes task-2e8b1498)
  aops-core/skills/remember/SKILL.md
  tests/test_remember_skill_confidence_schema.py
Due: dprint, check-framework-integrity

spec: weight-calc substrate blind-spot spike (task-f20b70eb) (#845)
  scripts/weight_calc_substrate_prototype.py
Due: none

feat(rbg): A2 class-coverage check + structured exemption schema (Closes epic-e1ddba21, refs #794, #811) (#878)
  aops-core/AXIOMS.md
  aops-core/agents/rbg.md
  tests/agents/__init__.py
  tests/agents/test_rbg_a2_class_coverage.py
  tests/agents/test_rbg_structured_exemption.py
Due: dprint

fix(daily): read completion signals before regenerating (#847)
  aops-core/skills/daily/SKILL.md
  aops-core/skills/daily/instructions/briefing-and-triage.md
Due: dprint, check-framework-integrity

Path conditions:
  dprint: any of: \.(md|markdown|mdown)$, \.json$, \.toml$
  check-framework-integrity: any of: (WORKFLOWS|SKILLS)\.md$|workflows/.*\.md$|skills/.*/SKILL\.md$|commands/.*\.md$
