Repository nicsuzor/academicOps: changes, and which pre-commit hooks are due for each by the changed paths.
All: dprint, check-framework-integrity

.pre-commit-config.yaml:

# Pre-commit hooks for academicOps framework governance
# See https://pre-commit.com for more info

repos:
  # Markdown/JSON/TOML validation (dprint - check-only, no auto-fix)
  # Ruff check --fix auto-fixes what it can; ruff-format checks formatting
  - repo: local
    hooks:
      - id: dprint
        name: dprint check
        entry: uv run dprint check
        language: system
        types_or: [markdown, json, toml]
        pass_filenames: true

  # Markdown linting (catches issues dprint doesn't fix)
  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.12.1
    hooks:
      - id: markdownlint-cli2
        exclude: '^archived/'

  # Standard hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: '\.excalidraw$'
      - id: end-of-file-fixer
        exclude: '\.excalidraw$'
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
        args: ['--maxkb=500']

  # Python linting (auto-fix enabled)
  # Ruff check --fix auto-fixes what it can; ruff-format checks formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.4
    hooks:
      - id: ruff
        args: [--fix]
        exclude: '^archived/'
      - id: ruff-format
        args: [--check]
        exclude: '^archived/'

  # Framework integrity checks (index wikilinks, skill entries, workflow length)
  # Consolidates check-workflow-length + new index integrity validation
  - repo: local
    hooks:
      - id: check-framework-integrity
        name: framework integrity check
        entry: uv run python scripts/check_framework_integrity.py
        language: system
        pass_filenames: false
        files: '(WORKFLOWS|SKILLS)\.md$|workflows/.*\.md$|skills/.*/SKILL\.md$|commands/.*\.md$'

  # Type checking and full framework health checks run in CI only
  # (see .github/workflows/framework-health.yml)
  #
  # Moved to CI:
  # - basedpyright: full type analysis too slow for every commit
  # - check-skill-line-count: whole-repo scan, not file-scoped
  # - check-orphan-files: whole-repo scan, not file-scoped
  # - check-framework-integrity --full: slow full codebase wikilink scan
  # - audit_framework_health: comprehensive audit

feat(gates): one windowed rbg context builder (last n+2 turns) + bound-task directive
  aops-core/lib/gates/custom_actions.py
  aops-core/lib/session_reader.py
  specs/ENFORCEMENT-MAP.md
  tests/hooks/test_custodiet_cluster.py
  tests/lib/test_session_reader.py
Due: dprint

docs(rules): generalise enforcement-map-currency trigger; add granularity clause
  .agents/rules/RULES.md
Due: dprint

fix(dispatch): inline single-PR reflex in junior launch context; register on enforcement-map
  .agents/DISPATCH.md
  CHANGELOG.md
  aops-core/agents/junior.md
  aops-core/skills/supervisor/references/cohesive-pr-epic.md
  aops-core/skills/supervisor/references/dispatch-rules.md
  specs/ENFORCEMENT-MAP.md
Due: dprint

fix(sessions): classify-after-strip ordering for <loaded_context> blocks
  aops-core/lib/transcript_parser.py
  tests/lib/test_system_injected_prompts.py
Due: none

fix(survey/retro): enforce pyramid discipline on retro behavioural fixes
  aops-core/skills/survey/SKILL.md
Due: dprint, check-framework-integrity

fix(planner): connect focus-raising to correct levers; hard-guard priority; consequence frontmatter-only
  aops-core/skills/planner/SKILL.md
Due: dprint, check-framework-integrity

docs(junior): rule — never mutate a shared canonical checkout; use a per-task worktree
  aops-core/agents/junior.md
Due: dprint

feat(craft): add defect class #9 — Output-Shape Without Source-and-Action
  aops-core/skills/craft/SKILL.md
Due: dprint, check-framework-integrity

refine(craft): tighten defect class #9 per independent /craft review
  aops-core/skills/craft/SKILL.md
Due: dprint, check-framework-integrity

fix(daily): Today's Log must be reconstructed from primary sources (#1952)
  aops-core/skills/daily/SKILL.md
  aops-core/skills/daily/references/note-template.md
Due: dprint, check-framework-integrity

docs(taxonomy): instruct canonical adhoc root id, not alias string
  aops-core/skills/remember/references/TAXONOMY.md
Due: dprint

fix(polecat): make PKB-HALT floor client-agnostic — remove hard-coded mcp prefix
  polecat/prompt_template.py
Due: none

fix: reconcile floating :latest tags against registry + assert agy PreToolUse-allow in Dockerfile
  Dockerfile
  polecat/cli.py
  tests/polecat/test_cli_docker.py
Due: none

docs(planner): guard against filing academic/peer-review items as `review` (#1883)
  aops-core/skills/planner/SKILL.md
Due: dprint, check-framework-integrity

fix: resolve review feedback on rig-as-trigger PR (#1929)
  aops-core/agents/rbg.md
  aops-core/skills/strategic-review/references/premise-test.md
  aops-core/skills/supervisor/references/dispatch-rules.md
  specs/ENFORCEMENT-MAP.md
Due: dprint

docs(junior): rule — never mutate a shared canonical checkout; use a per-task worktree (#1947)
  aops-core/agents/junior.md
Due: dprint

fix(build): translate MCP tool names for antigravity platform
  scripts/build.py
  tests/test_gemini_accessibility.py
Due: none

update rules
  .agents/rules/RULES.md
  aops-core/lib/gates/custom_actions.py
  aops-core/lib/session_reader.py
  specs/ENFORCEMENT-MAP.md
  tests/hooks/test_custodiet_cluster.py
  tests/lib/test_session_reader.py
Due: dprint

fix(polecat): make PKB-HALT floor client-agnostic — remove hard-coded mcp prefix (#1958)
  polecat/prompt_template.py
Due: none

fix: reconcile floating :latest tags + build-time agy PreToolUse-allow assertion (#1959)
  Dockerfile
  polecat/cli.py
  specs/ENFORCEMENT-MAP.md
  tests/polecat/test_cli_docker.py
Due: dprint

fix admit regression
  .github/workflows/admit-on-review.yml
Due: none

pretooluse hooks
  aops-core/hooks/router.py
  tests/hooks/test_agy_protojson_contract.py
  tests/hooks/test_agy_worker_gate_posture.py
Due: none

fix repo sync
  scripts/repo-sync-cron.sh
Due: none

test(hooks): fix output_for_agy tests to align with strict validation
  aops-core/hooks/router.py
  tests/hooks/test_output_channel_routing.py
  tests/hooks/test_output_for_agy.py
  tests/hooks/test_schema_conformance.py
Due: none

Refactor router tests and fix bugs
  aops-core/hooks/router.py
  scripts/check_no_fallbacks.py
  tests/hooks/test_output_for_agy.py
  tests/hooks/test_schema_conformance.py
Due: none

junior: translate internal vocabulary, don't transliterate it
  aops-core/agents/junior.md
Due: dprint

junior: translate internal vocabulary, don't transliterate it (#1962)
  aops-core/agents/junior.md
Due: dprint

auto rules
  polecat/defaults/claude-settings.json
Due: dprint

feat(gates): rbg-review — final rbg audit before task-bound session exit (polecat-scoped) (#1928)
  aops-core/hooks/gate_config.py
  aops-core/hooks/templates/rbg-review-complete.md
  aops-core/hooks/templates/rbg-review-context.md
  aops-core/hooks/templates/rbg-review-degraded.md
  aops-core/hooks/templates/rbg-review-policy-context.md
  aops-core/hooks/templates/rbg-review-policy-message.md
  aops-core/lib/gate_types.py
  aops-core/lib/gates/custom_actions.py
  aops-core/lib/gates/custom_conditions.py
  aops-core/lib/gates/definitions.py
  aops-core/lib/gates/engine.py
  aops-core/lib/template_registry.py
  specs/ENFORCEMENT-MAP.md
  specs/GATES.md
  tests/hooks/gate_helpers.py
  tests/hooks/test_message_path_leak_coverage.py
  tests/hooks/test_rbg_review_gate.py
Due: dprint

feat(cache): static-prefix/variable-tail rule for prompt-cache prefix (aops-85e8af92) (#1930)
  aops-core/hooks/templates/enforcer-context.md
  aops-core/skills/craft/SKILL.md
Due: dprint, check-framework-integrity

feat(sessions): consolidate PRs #1931/#1932/#1933 — schema + redaction + corrected docs, remove .txt (#1934)
  aops-core/lib/transcript_parser.py
  aops-core/scripts/transcript.py
  aops-core/skills/remember/references/maintenance-phases.md
  aops-core/skills/survey/SKILL.md
  specs/CAPABILITIES.md
  specs/session-insights-metrics-schema.md
  tests/lib/test_system_injected_prompts.py
Due: dprint, check-framework-integrity

docs(review): content-quality QA + generalise enforcement-map currency (#1937)
  .agents/rules/RULES.md
  aops-core/agents/james.md
  aops-core/agents/marsha.md
Due: dprint

docs(agents): escape content in gh CLI/API calls (#1938)
  .agents/rules/RULES.md
  .github/agents/shared-error-handling.md
Due: dprint

feat(gates): one windowed rbg context builder (last n+2 turns) + bound-task directive (#1940)
  aops-core/lib/gates/custom_actions.py
  aops-core/lib/session_reader.py
  specs/ENFORCEMENT-MAP.md
  tests/hooks/test_custodiet_cluster.py
  tests/lib/test_session_reader.py
Due: dprint

fix(survey/retro): enforce pyramid discipline on retro behavioural fixes (#1946)
  aops-core/skills/survey/SKILL.md
Due: dprint, check-framework-integrity

fix(planner): connect focus-raising to correct levers; hard-guard priority; consequence frontmatter-only (#1948)
  aops-core/skills/planner/SKILL.md
Due: dprint, check-framework-integrity

fix(premise): establish current-state/prior-decisions before judging a new-mechanism premise (#1939)
  .agents/rules/RULES.md
  aops-core/hooks/router.py
  aops-core/skills/remember/references/premise-gate.md
  aops-core/skills/strategic-review/references/premise-test.md
  tests/hooks/test_output_for_agy.py
Due: dprint

fix(hooks): fold short_reason into advisory to prevent agy crash; use userMessage for visibility
  .pre-commit-config.yaml
  aops-core/hooks/router.py
  scripts/check_no_fallbacks.py
  tests/hooks/test_ida_denyreason_1798.py
  tests/hooks/test_output_for_agy.py
Due: none

fix(hooks): fold short_reason into advisory to prevent agy crash; use userMessage for visibility (#1963)
  .pre-commit-config.yaml
  aops-core/hooks/router.py
  scripts/check_no_fallbacks.py
  specs/ENFORCEMENT-MAP.md
  tests/hooks/test_ida_denyreason_1798.py
  tests/hooks/test_output_for_agy.py
Due: dprint

fix(pr-pipeline): dispatch pre-admission responder on PR-attributable Pytest-only red (#1965)
  .github/workflows/pr-pipeline.yml
  scripts/ci/check-mechanical-red.sh
  specs/ENFORCEMENT-MAP.md
  specs/workflows/pr-pipeline.md
  tests/test_check_mechanical_red.py
  tests/test_pr_pipeline_review_gate.py
Due: dprint, check-framework-integrity
