Repository nicsuzor/academicOps: changes, and which pre-commit hooks are due for each by the changed paths.
All: dprint, check-framework-integrity

dprint:
  name: dprint check
  entry: uv run dprint check
  language: system
  pass_filenames: true

check-framework-integrity:
  name: framework integrity check
  entry: uv run python scripts/check_framework_integrity.py
  language: system
  pass_filenames: false

feat(hooks): interactive handover soft-once via additionalContext + lighter cadence; polecat hard block intact (aops-e38ded08)
  aops-core/lib/gates/custom_actions.py
  aops-core/lib/gates/custom_conditions.py
  aops-core/lib/gates/definitions.py
  specs/ENFORCEMENT-MAP.md
Due: dprint

refactor(hooks): remove brittle catch-up transcript substring filter; no replacement sentinel (aops-1701b663)
  aops-core/scripts/user_prompts.py
  specs/ENFORCEMENT-MAP.md
  tests/test_user_prompts_catchup.py
Due: dprint

fix(pkb): inject literal PKB_MCP_URL into agy mcp_config.json so Antigravity polecats connect
  polecat/entrypoint.sh
Due: none

feat(agents): lift universal safety floor into session-start SSoT (D1, aops-2a75f96a)
  .agents/CORE.md
Due: dprint

feat(agents): extract shared interactive-coordinator skill; scope junior drive-to-completion to polecat (D4+D5, aops-33d570be aops-0bdd8fa2)
  aops-core/agents/junior.md
  aops-core/skills/interactive-coordinator/SKILL.md
Due: dprint, check-framework-integrity

feat(agents): thin Ida sibling + research-repo agent default; salvage #1987 (D6, aops-751f6f88)
  aops-core/agents/academic-disposition.md
  aops-core/agents/ida.md
  aops-core/skills/project/instructions/init.md
  aops-tools/skills/analyst/SKILL.md
Due: dprint, check-framework-integrity

docs(specs): ENFORCEMENT-MAP currency for safety SSoT + shared skill + Ida persona (D1/D4/D5/D6)
  specs/ENFORCEMENT-MAP.md
Due: dprint

update nudge hook
  aops-core/hooks/templates/pkb-nudge.md
Due: dprint

refactor(agents): make Junior + Ida self-contained; delete shared disposition skill; add /craft leanness defect
  .agents/CORE.md
  aops-core/agents/ida.md
  aops-core/agents/junior.md
  aops-core/skills/craft/SKILL.md
  aops-core/skills/interactive-coordinator/SKILL.md
  aops-core/skills/project/instructions/init.md
  specs/ENFORCEMENT-MAP.md
  specs/agents/interactive-coworking.md
Due: dprint, check-framework-integrity

feat(hooks): PTY conformance harness for hook user-visibility; retire headless probe
  aops-core/hooks/client_spec.py
  aops-core/hooks/schemas.py
  scripts/pty_hook_probe.py
  scripts/verify_hook_formats.py
  specs/hooks/CLIENT-TRANSLATION.md
  tests/hooks/fixtures/pty_capabilities.json
  tests/hooks/test_cross_client_matrix.py
  tests/hooks/test_live_conformance.py
Due: dprint

test(hooks): remove obsolete enforcer-channel-sentinel template assertion
  tests/hooks/test_gate_config.py
Due: none

docs(enforcement): restructure map into 3-view register + de-dupe specs (reconciled with #1990 doctrine)
  specs/ENFORCEMENT-MAP.md
  specs/enforcement/enforcement-mechanisms.md
  specs/enforcement/enforcement.md
Due: dprint

docs(ENFORCEMENT-MAP): retire deleted drift-detector from conformance cells (currency)
  specs/ENFORCEMENT-MAP.md
Due: dprint

refactor(hooks): strip first-party injection markers Claude Code doesn't parse
  aops-core/hooks/gate_config.py
  aops-core/hooks/router.py
  aops-core/hooks/templates/rbg-review-policy-context.md
  aops-core/lib/gates/engine.py
  specs/hooks/CLIENT-TRANSLATION.md
  tests/hooks/fixtures/client_capabilities.json
  tests/hooks/gate_helpers.py
  tests/hooks/test_cross_client_matrix.py
  tests/hooks/test_gate_config.py
  tests/hooks/test_output_channel_routing.py
Due: dprint

refactor(agents): fold academic-disposition inline into Ida; self-contained analyst; agent roster table
  aops-core/agents/academic-disposition.md
  aops-core/agents/ida.md
  aops-tools/skills/analyst/SKILL.md
  specs/agents/interactive-coworking.md
Due: dprint, check-framework-integrity

docs(ENFORCEMENT-MAP): map IDA PreToolUse AskUserQuestion advisory trigger (currency)
  specs/ENFORCEMENT-MAP.md
Due: dprint

test(gates/ida): structural assertions for AskUserQuestion advisory (axiom-clean)
  tests/hooks/test_ida_askuserquestion_gate.py
Due: none

fix(junior): restore PKB-HALT transcript sentinel dropped by leanness refactor
  aops-core/agents/junior.md
Due: dprint

build: add CHANGELOG.md merge=union to auto-resolve release-please conflicts
  .gitattributes
Due: none

cleaning up
  .github/agents/shared-error-handling.md
  .github/workflows/admit-on-review.yml
  .github/workflows/pr-pipeline.yml
  aops-cowork/skills/cowork-sync/SKILL.md
  specs/audit/AGENT-REMEDIATION-BACKLOG.md
Due: dprint, check-framework-integrity

update pipeline to reduce churn
  specs/ENFORCEMENT-MAP.md
  specs/workflows/pr-pipeline.md
  tests/test_admit_on_review.py
  tests/test_pr_pipeline_review_gate.py
Due: dprint, check-framework-integrity

docs(aops): align task-creation instructions at every create-site
  aops-core/skills/aops/tests/test_task_management.sh
  aops-core/skills/hydrator/workflows/references/email-capture-details.md
  aops-core/skills/planner/SKILL.md
  aops-core/skills/planner/workflows/decompose.md
  aops-core/skills/planner/workflows/strategic-intake.md
  aops-core/skills/survey/SKILL.md
  specs/future/spec-967126cf-spec-project-scaffold-redesign-for-rigorous-polecat-dispatched-research.md
  specs/meta/doc-taxonomy.md
  specs/workflows/spec-64352eac-planner-pre-dispatch-decomposition-gate.md
Due: dprint, check-framework-integrity

fix(aops-core): supply PKB_MCP_URL via plugin userConfig on Claude (#1988)
  aops-core/mcp.json.template
  aops-core/scripts/run-mcp.sh
  polecat/entrypoint.sh
  scripts/build.py
  templates/aops-core.plugin.json
Due: dprint

feat(agents): interactive co-working — safety SSoT + shared skill + thin Ida (D1/D4/D5/D6) (#1992)
  .agents/CORE.md
  aops-core/agents/ida.md
  aops-core/agents/junior.md
  aops-core/skills/craft/SKILL.md
  aops-core/skills/project/instructions/init.md
  aops-tools/skills/analyst/SKILL.md
  specs/ENFORCEMENT-MAP.md
  specs/agents/interactive-coworking.md
  specs/enforcement/enforcement-mechanisms.md
  specs/enforcement/enforcement.md
Due: dprint, check-framework-integrity

docs(aops): align task-creation instructions — intent-authority + importance-via-stated_weight + canonical status + auto-graduated ready at every create-site (#1993)
  aops-core/skills/aops/tests/test_task_management.sh
  aops-core/skills/hydrator/workflows/references/email-capture-details.md
  aops-core/skills/planner/SKILL.md
  aops-core/skills/planner/workflows/decompose.md
  aops-core/skills/planner/workflows/strategic-intake.md
  aops-core/skills/survey/SKILL.md
  specs/future/spec-967126cf-spec-project-scaffold-redesign-for-rigorous-polecat-dispatched-research.md
  specs/meta/doc-taxonomy.md
  specs/workflows/spec-64352eac-planner-pre-dispatch-decomposition-gate.md
Due: dprint, check-framework-integrity

fix(mcp): tolerate trailing slash in PKB_MCP_URL
  aops-core/scripts/run-mcp.sh
Due: none

cowork plugin code
  aops-core/BUILD.md
  aops-cowork/.claude-plugin/plugin.json
  aops-cowork/pyproject.toml
  scripts/build.py
  tests/test_cowork_markers.py
Due: dprint

fix gate regression
  aops-core/hooks/router.py
  tests/hooks/test_subagent_gate_dispatch_regression.py
Due: none

add content rule for instructions
  .agents/rules/RULES.md
Due: dprint

fix(antigravity): use portable ${HOME} path for agy MCP config
  aops-core/mcp.json.template
  scripts/build.py
Due: none

build: remove quotation marks around antigravity hooks command
  scripts/build.py
  tests/test_antigravity_hooks_build.py
Due: none

update GATES.md
  specs/GATES.md
Due: dprint

Path conditions:
  dprint: any of: \.(md|markdown|mdown)$, \.json$, \.toml$
  check-framework-integrity: any of: (WORKFLOWS|SKILLS)\.md$|workflows/.*\.md$|skills/.*/SKILL\.md$|commands/.*\.md$
