Repository nicsuzor/academicOps: changes, and which pre-commit hooks are due for each by the changed paths.
All: dprint, check-framework-integrity

dprint:
  name: dprint check
  entry: uv run dprint check
  language: system
  pass_filenames: true

check-framework-integrity:
  name: framework integrity check
  entry: uv run python scripts/check_framework_integrity.py
  language: system
  pass_filenames: false

chore(main): release 0.3.25
  .release-please-manifest.json
  CHANGELOG.md
  pyproject.toml
  templates/aops-core.gemini-extension.json
  templates/aops-core.plugin.json
  templates/aops-tools.gemini-extension.json
  templates/aops-tools.plugin.json
Due: dprint

ci: add step-level timeouts for quick tests and fix typecheck
  .github/workflows/lint.yml
  .github/workflows/typecheck.yml
  pyrightconfig.json
Due: dprint

fix: optimize basedpyright config to exclude non-Python files
  .github/workflows/typecheck.yml
  pyproject.toml
Due: dprint

docs: align /remember and /sleep skills with polecat-repo project model and multi-parent edges
  aops-core/skills/end_session/SKILL.md
  aops-core/skills/remember/SKILL.md
  aops-core/skills/remember/references/TAXONOMY.md
  aops-core/skills/remember/references/maintenance-phases.md
  aops-core/skills/sleep/SKILL.md
Due: dprint, check-framework-integrity

fix(polecat): surface worker exit codes and fix transcript diagnostics
  .agents/AGENT-COMPLIANCE-MATRIX.md
  .agents/AGENT-TOOLS.md
  CHANGELOG.md
  polecat/cli.py
  polecat/diagnostics.py
  pyproject.toml
Due: dprint

feat(polecat): add --max-turns CLI passthrough for deterministic budget-exhaustion testing
  .agents/AGENT-COMPLIANCE-MATRIX.md
  .agents/AGENT-TOOLS.md
  .agents/ENFORCEMENT-MAP.md
  CHANGELOG.md
  polecat/cli.py
  pyproject.toml
  tests/polecat/test_compute_max_turns.py
  tests/polecat/test_transcript_persistence_e2e.py
Due: dprint

docs: formalize policy on local sleep cycle auto-commits
  aops-core/skills/remember/references/maintenance-phases.md
Due: dprint

Update decompose workflow to integrate review profile registry
  aops-core/skills/planner/workflows/decompose.md
Due: dprint, check-framework-integrity

fix: Deduplicate framework reflections across session continuations
  aops-core/scripts/transcript.py
Due: none

fix(transcript): use local timezone for transcript session dates
  aops-core/scripts/transcript.py
Due: none

feat(sleep): add convergence detection rule to Phase 0
  aops-core/skills/remember/references/maintenance-phases.md
Due: dprint

docs(skills): document cost of /loop prompt injection
  aops-core/skills/remember/references/maintenance-phases.md
  aops-core/skills/supervisor/SKILL.md
Due: dprint, check-framework-integrity

refactor(survey): simplify retro mode and remove rigid checklists
  aops-core/skills/survey/SKILL.md
Due: dprint, check-framework-integrity

feat(instruction): mandate point-of-discovery friction filing via /learn
  .agents/CORE.md
  .agents/ENFORCEMENT-MAP.md
  aops-core/skills/aops/SKILL.md
  aops-core/skills/end_session/SKILL.md
Due: dprint, check-framework-integrity

Refactor /aops skill lifecycle to trust-based loop
  aops-core/skills/aops/SKILL.md
Due: dprint, check-framework-integrity

feat(supervisor): add RBG axiom-check trigger to pauli preflight
  .agents/AGENT-COMPLIANCE-MATRIX.md
  .agents/AGENT-TOOLS.md
  .agents/ENFORCEMENT-MAP.md
  CHANGELOG.md
  aops-core/skills/supervisor/SKILL.md
  pyproject.toml
Due: dprint, check-framework-integrity

feat: add gemini auth fail-fast validation and silent worker detection
  .agents/AGENT-COMPLIANCE-MATRIX.md
  .agents/AGENT-TOOLS.md
  .agents/ENFORCEMENT-MAP.md
  CHANGELOG.md
  polecat/bootstrap.py
  polecat/cli.py
  polecat/swarm.py
  pyproject.toml
Due: dprint

ci: capture reviewer agent transcripts
  .github/workflows/agent-enforcer.yml
  .github/workflows/agent-merge-prep.yml
  .github/workflows/claude.yml
Due: none

docs: document transcript naming convention and discovery
  .agents/CAPABILITIES.md
  .agents/CORE.md
  .agents/context-map.json
Due: dprint

test: bot PR approval
  test-bot-pr-approval.txt
Due: none

tests(harness): drop crew_harness and document inline tmux
  polecat/cli.py
  tests/harness/AGENT-TMUX.md
  tests/harness/crew_harness.py
Due: dprint

Fix docker E2E tests in DooD environment
  polecat/cli.py
  tests/conftest.py
Due: none

feat(polecat): add distinct budget-exhausted exit code and structured stderr resume hint
  .agents/AGENT-COMPLIANCE-MATRIX.md
  .agents/AGENT-TOOLS.md
  .agents/ENFORCEMENT-MAP.md
  CHANGELOG.md
  polecat/cli.py
  pyproject.toml
  tests/polecat/test_budget_exhaustion.py
Due: dprint

fix(polecat): route docker pull announce to stderr
  polecat/cli.py
Due: none

chore: exclude prototype files from type checking
  pyproject.toml
Due: dprint

chore(ruleset): disable Type Check required-check — explicit debt for burn-down (aops-1c3de214)
  .github/rulesets/pr-review-and-merge.yml
Due: none

revert(pyproject): drop scripts/*_prototype.py basedpyright exclude
  pyproject.toml
Due: dprint

junior.md: add "Trust the loop" instruction + allow supervisor dispatch
  aops-core/agents/junior.md
Due: dprint

feat(end_session): add env-gated closing behaviors and resolve contradictions
  aops-core/skills/end_session/SKILL.md
Due: dprint, check-framework-integrity

fix(junior): reinforce anti-FM-1 instructions against 'Should I' tic
  aops-core/agents/junior.md
Due: dprint

docs(verify): add Completeness-Verification Heuristic
  aops-core/skills/verify/SKILL.md
Due: dprint, check-framework-integrity

fix(framework): enforce intent+AC authoring convention for task bodies
  aops-core/skills/planner/SKILL.md
  aops-core/skills/planner/workflows/decompose.md
  aops-core/skills/supervisor/instructions/worker-dispatch.md
  polecat/prompt_template.py
Due: dprint, check-framework-integrity

fix(dogfood): add Phase 0 verification step to dogfood SKILL.md
  aops-core/commands/trend-review.md
  aops-core/skills/dogfood/SKILL.md
Due: dprint, check-framework-integrity

docs: codify drive-by fix policy in SSoT
  .agents/AGENT-COMPLIANCE-MATRIX.md
  .agents/AGENT-TOOLS.md
  .agents/CORE.md
  .agents/ENFORCEMENT-MAP.md
  CHANGELOG.md
  aops-core/skills/supervisor/SKILL.md
Due: dprint, check-framework-integrity

Align /remember + /sleep skill docs with polecat-repo project model (#1092)
  aops-core/skills/end_session/SKILL.md
  aops-core/skills/remember/SKILL.md
  aops-core/skills/remember/references/TAXONOMY.md
  aops-core/skills/remember/references/maintenance-phases.md
  aops-core/skills/sleep/SKILL.md
Due: dprint, check-framework-integrity

Investigate: Claude polecat headless agent silently exits after auth/session start (#1093)
  .agents/AGENT-COMPLIANCE-MATRIX.md
  .agents/AGENT-TOOLS.md
  CHANGELOG.md
  polecat/cli.py
  polecat/diagnostics.py
Due: dprint

tests(harness): drop crew_harness and document inline tmux (#1110)
  polecat/cli.py
  tests/harness/AGENT-TMUX.md
  tests/harness/crew_harness.py
Due: dprint

Fix docker E2E tests in DooD environment (#1111)
  polecat/cli.py
  tests/conftest.py
Due: none

feat(polecat): add distinct budget-exhausted exit code and structured stderr resume hint (#1112)
  .agents/ENFORCEMENT-MAP.md
  polecat/cli.py
  tests/polecat/test_budget_exhaustion.py
Due: dprint

fix(polecat): route docker pull announce to stderr (#1113)
  polecat/cli.py
Due: none

Path conditions:
  dprint: any of: \.(md|markdown|mdown)$, \.json$, \.toml$
  check-framework-integrity: any of: (WORKFLOWS|SKILLS)\.md$|workflows/.*\.md$|skills/.*/SKILL\.md$|commands/.*\.md$
