Repository nicsuzor/academicOps: changes, and which pre-commit hooks are due for each by the changed paths.
All: dprint, check-framework-integrity

dprint:
  name: dprint check
  entry: uv run dprint check
  language: system
  pass_filenames: true

check-framework-integrity:
  name: framework integrity check
  entry: uv run python scripts/check_framework_integrity.py
  language: system
  pass_filenames: false

fix(hooks): check_no_fallbacks statement-aware allow-fallback checks and shell continuation support
  scripts/check_no_fallbacks.py
  tests/hooks/test_check_no_fallbacks.py
Due: none

fix(enforcer): redact secrets in gate/narrative files before write
  aops-core/lib/gates/custom_actions.py
  tests/lib/test_gate_secret_scrubbing.py
Due: none

feat(remember): add routing hint — axioms go to /framework, not brain/context
  aops-core/skills/remember/SKILL.md
Due: dprint, check-framework-integrity

fix: update /learn dispatch chain and survey retro self-review policy
  aops-core/commands/learn.md
  aops-core/skills/survey/SKILL.md
Due: dprint, check-framework-integrity

feat(security): Layer 2 — pre-commit secret scanner for sessions repo (aops-00c0fa10)
  aops-core/scripts/check_transcript_secrets.py
  aops-core/scripts/install_sessions_hooks.sh
  tests/test_check_transcript_secrets.py
Due: none

feat(specs): agent-definition content boundary spec
  specs/agents/agent-definition-content.md
Due: dprint

Dispatch-path SSoT check: coordinator verifies chosen method against sanctioned mechanism before dispatch
  aops-core/agents/junior.md
  aops-core/hooks/templates/ida-reminder.md
  aops-core/skills/supervisor/instructions/worker-dispatch.md
  polecat/cli.py
  tests/polecat/test_sanctioned_mechanism.py
Due: dprint

fix(gemini): validate agent tools and consolidate schema validators
  scripts/build.py
  scripts/transforms/agent_schema.py
  tests/e2e/test_gemini_extension_validation.py
  tests/test_agent_tool_names.py
Due: none

docs(aops): propagate P0/SEV calibration guidelines to task-authoring surfaces
  aops-core/skills/aops/references/authoring-discipline.md
  aops-core/skills/hydrator/workflows/email-capture.md
  aops-core/skills/hydrator/workflows/references/email-capture-details.md
  aops-core/skills/planner/SKILL.md
  aops-core/skills/remember/references/TAXONOMY.md
  aops-core/skills/survey/SKILL.md
Due: dprint, check-framework-integrity

docs(aops): establish terminal move after fire-and-forget dispatch
  aops-core/agents/junior.md
  aops-core/skills/aops/SKILL.md
  aops-core/skills/aops/conventions-summary.md
Due: dprint, check-framework-integrity

docs: codify worker-type capability checks on the dispatch path in coordinator doctrine
  aops-core/skills/aops/references/authoring-discipline.md
  aops-core/skills/supervisor/instructions/worker-dispatch.md
Due: dprint

fix: require clean Docker build for verification to prevent false-green from cached layers
  Makefile
  aops-core/skills/aops/workflows/11-self-test.md
  tests/polecat/test_aops_crew_image.py
Due: dprint, check-framework-integrity

docs: point bound-task handover at the in-context task id
  aops-core/commands/pull.md
  aops-core/skills/end_session/SKILL.md
Due: dprint, check-framework-integrity

docs(aops): add liveness-check and extend-wrapper doctrine to self-test + junior
  aops-core/agents/junior.md
  aops-core/skills/aops/workflows/11-self-test.md
Due: dprint, check-framework-integrity

feat(polecat): add opt-in sessions RO mount for crew workers
  polecat/cli.py
  polecat/defaults/polecat.yaml.example
  polecat/manager.py
  tests/polecat/test_cli_docker.py
Due: none

feat(sentinel): add destructive/irreversible operation carve-out (#1497)
  aops-core/agents/junior.md
  aops-core/hooks/gate_config.py
  aops-core/hooks/templates/sentinel-policy-context-destructive.md
  aops-core/hooks/templates/sentinel-policy-message-destructive.md
  aops-core/lib/gates/custom_conditions.py
  aops-core/lib/gates/definitions.py
  aops-core/lib/template_registry.py
  tests/hooks/test_sentinel_gate.py
Due: dprint

fix(enforcer): always clone prompt from main for self-runs
  .github/workflows/agent-enforcer.yml
Due: none

shorten injections
  aops-core/hooks/templates/enforcer-audit.md
  aops-core/hooks/templates/enforcer-context.md
  aops-core/hooks/templates/enforcer-countdown.md
  aops-core/hooks/templates/enforcer-instruction.md
  aops-core/hooks/templates/ida-reminder.md
  aops-core/hooks/templates/orchestrator-boundary-warn.md
  aops-core/hooks/templates/pkb-nudge.md
  aops-core/hooks/templates/qa-context.md
Due: dprint

ignore dist on dev
  .gitignore
Due: none

feat(analyst): switch to absolute canonical database path resolution and prevent confusable duplicate caches
  aops-tools/skills/analyst/SKILL.md
  aops-tools/skills/analyst/instructions/data-investigation.md
  aops-tools/skills/analyst/instructions/dbt-workflow.md
  aops-tools/skills/analyst/instructions/exploratory-analysis.md
  aops-tools/skills/analyst/instructions/streamlit-workflow.md
  aops-tools/skills/analyst/references/dbt-workflow.md
  aops-tools/skills/analyst/references/quick-reference-commands.md
  aops-tools/skills/analyst/references/streamlit-patterns.md
  aops-tools/skills/analyst/references/streamlit.md
  aops-tools/skills/analyst/scripts/db_resolver.py
  tests/test_analyst_db_resolver.py
Due: dprint, check-framework-integrity

feat(planner): add earn-its-keep / is-the-need-real gate before decomposition
  aops-core/skills/planner/SKILL.md
  aops-core/skills/planner/workflows/decompose.md
Due: dprint, check-framework-integrity

fix(daily): discover pr-state artefact via ~/.env.local fallback when $AOPS_SESSIONS is stale
  aops-core/skills/daily/SKILL.md
Due: dprint, check-framework-integrity

feat(pull): add freshness pre-check for non-resolving paths and superseded tasks
  aops-core/commands/pull.md
Due: dprint, check-framework-integrity

chore: remove framework-integrity pre-commit hook
  .pre-commit-config.yaml
Due: none

feat: pr-pipeline-v2 P4 — Environment gate + admit-status + graduation (ruleset)
  .github/rulesets/pr-review-and-merge.yml
  .github/workflows/pr-pipeline.yml
  .github/workflows/stage2-admission.yml
  scripts/validate-ruleset-alignment.sh
  specs/ENFORCEMENT-MAP.md
Due: dprint

fix(enforcer): redact secrets in gate/narrative files before write (#1635)
  aops-core/lib/gates/custom_actions.py
  tests/lib/test_gate_secret_scrubbing.py
Due: none

Make 'dispatch done + no babysit → close immediately' the default terminal move (#1643)
  aops-core/agents/junior.md
  aops-core/skills/aops/SKILL.md
  aops-core/skills/aops/conventions-summary.md
Due: dprint, check-framework-integrity

feat(ci): add workflow_dispatch inputs to claude.yml (#1633)
  .github/workflows/claude.yml
Due: none

fix: /learn transcript selection and self-review policy (#1637)
  aops-core/commands/learn.md
  aops-core/skills/survey/SKILL.md
Due: dprint, check-framework-integrity

fix: require clean Docker build for verification (issue #1452) (#1645)
  Makefile
  aops-core/skills/aops/workflows/11-self-test.md
  tests/polecat/test_aops_crew_image.py
Due: dprint, check-framework-integrity

fix(hooks): check_no_fallbacks statement-aware allow-fallback checks and shell continuation support (#1634)
  scripts/check_no_fallbacks.py
  tests/hooks/test_check_no_fallbacks.py
Due: none

Calibrate P0/SEV at the writing surfaces (sweep + skills) (#1642)
  aops-core/skills/aops/references/authoring-discipline.md
  aops-core/skills/hydrator/workflows/email-capture.md
  aops-core/skills/hydrator/workflows/references/email-capture-details.md
  aops-core/skills/planner/SKILL.md
  aops-core/skills/remember/references/TAXONOMY.md
  aops-core/skills/survey/SKILL.md
Due: dprint, check-framework-integrity

Fix junior.md tool name for Gemini surface (AskUserQuestion -> ask_user) at source + add surface-tool-name validation (#1641)
  scripts/build.py
  scripts/transforms/agent_schema.py
  tests/e2e/test_gemini_extension_validation.py
  tests/test_agent_tool_names.py
Due: none

feat(planner): add earn-its-keep / is-the-need-real gate before decomposition (#1652)
  aops-core/skills/planner/SKILL.md
  aops-core/skills/planner/workflows/decompose.md
Due: dprint, check-framework-integrity

feat(security): Layer 2 — pre-commit secret scanner for sessions repo (aops-00c0fa10) (#1638)
  aops-core/scripts/check_transcript_secrets.py
  aops-core/scripts/install_sessions_hooks.sh
  tests/test_check_transcript_secrets.py
Due: none

Dispatch-path SSoT check: coordinator verifies chosen method against sanctioned mechanism before dispatch (#1640)
  aops-core/agents/junior.md
  aops-core/hooks/templates/ida-reminder.md
  aops-core/skills/supervisor/instructions/worker-dispatch.md
  polecat/cli.py
  tests/polecat/test_sanctioned_mechanism.py
Due: dprint

docs(enforcer): correct prompt-fetch comment to say default branch, not main
  .github/workflows/agent-enforcer.yml
Due: none

chore: drop framework-integrity check from format.sh too
  scripts/format.sh
Due: none

docs: point bound-task handover at the in-context task id
  aops-core/skills/end_session/SKILL.md
Due: dprint, check-framework-integrity

refactor(polecat): drop gratuitous session_access singular alias
  polecat/cli.py
  polecat/manager.py
  tests/polecat/test_cli_docker.py
Due: none

Path conditions:
  dprint: any of: \.(md|markdown|mdown)$, \.json$, \.toml$
  check-framework-integrity: any of: (WORKFLOWS|SKILLS)\.md$|workflows/.*\.md$|skills/.*/SKILL\.md$|commands/.*\.md$
