Repository nicsuzor/academicOps: changes, and which pre-commit hooks are due for each by the changed paths.
All: dprint, check-framework-integrity

dprint:
  name: dprint check
  entry: uv run dprint check
  language: system
  pass_filenames: true

check-framework-integrity:
  name: framework integrity check
  entry: uv run python scripts/check_framework_integrity.py
  language: system
  pass_filenames: false

agy build translations
  build/clients/agy.py
  tests/test_build.py
Due: none

agy build translations
  Makefile
  build/clients/agy.py
  tests/test_build.py
Due: none

update gemini config env var
  .agents/skills/debug/SKILL.md
  lib/polecat/cli.py
  plugins/ida/README.md
  specs/polecat/polecat-system.md
  specs/polecat/tmux-interactive-driving.md
  tests/polecat/test_cli_seed_verification.py
  tests/polecat/test_container_config.py
  tests/polecat/test_container_invocation.py
  tests/polecat/test_delivery_guard.py
  tests/polecat/test_setup_staging.py
Due: dprint, check-framework-integrity

add ruff precomit
  .pre-commit-config.yaml
Due: none

feat(polecat): require git identity in polecat.yaml with no host env fallback
  lib/polecat/cli.py
  tests/polecat/test_container_config.py
Due: none

fix(polecat): supply git_identity in test mocks and type annotations
  lib/polecat/cli.py
  tests/polecat/test_cli_seed_verification.py
  tests/polecat/test_container_invocation.py
  tests/polecat/test_credential_claims.py
  tests/polecat/test_delivery_guard.py
Due: none

feat(polecat): resolve isolated workspace HEAD and origin from canonical_dir
  lib/polecat/cli.py
Due: none

add cope interactive tests
  tests/cope/build_copeset.py
  tests/cope/extract.py
  tests/cope/run_copeset.py
Due: none

add rules to core
  .agents/CORE.md
Due: dprint

ida instructions for communicating
  plugins/ida/agents/ida.md
Due: dprint

tldr
  plugins/ida/hooks/messages/quiet.md
Due: dprint

ida and marsha rules
  plugins/ida/hooks/messages/quiet.md
  plugins/ida/hooks/messages/user-register.md
  plugins/orchestrate/agents/marsha.md
Due: dprint

update polecat dispatch instructions
  plugins/orchestrate/skills/dispatch/SKILL.md
  plugins/orchestrate/skills/dispatch/long_runner.md
  plugins/pkb/skills/pull/SKILL.md
Due: dprint, check-framework-integrity

report optimistic eligibles
  plugins/orchestrate/skills/dispatch/SKILL.md
Due: dprint, check-framework-integrity

Fix ruff lint errors in agy.py, test_build.py, and build_ruleset.py
  build/clients/agy.py
  tests/cope/build_ruleset.py
  tests/test_build.py
Due: none

feat(polecat): set push.autoSetupRemote=true on local clone
  lib/polecat/cli.py
Due: none

docs(debug): require verifying model response string in section 3
  .agents/skills/debug/SKILL.md
Due: dprint, check-framework-integrity

format yaml
  plugins/orchestrate/agents/marsha.md
Due: dprint

docs(debug): document double-dash flag separation and response assertions in debug skill
  .agents/skills/debug/SKILL.md
  specs/polecat/tmux-interactive-driving.md
Due: dprint, check-framework-integrity

update hooks
  plugins/orchestrate/hooks/handlers.py
  plugins/orchestrate/manifest/hooks.template.json
  plugins/pkb/hooks/handlers.py
  plugins/rbg/hooks/handlers.py
  plugins/rbg/manifest/hooks.template.json
Due: dprint

hydrate instruction
  plugins/ida/agents/ida.md
  plugins/pkb/skills/hydrate/SKILL.md
Due: dprint, check-framework-integrity

improve honesty
  plugins/orchestrate/hooks/messages/honesty.md
Due: dprint

add arguments to hydrate
  plugins/pkb/skills/hydrate/SKILL.md
Due: dprint, check-framework-integrity

fix(polecat): interpolate resolved polecat_home in workspace error
  lib/polecat/cli.py
Due: none

add dispatch tool to ida
  plugins/ida/agents/ida.md
Due: dprint

feat(pkb): ship the task pipeline — capture, situate, brief, reconcile
  .agents/skills/triage/SKILL.md
  plugins.disabled/skills.disabled/brief/SKILL.md
  plugins.disabled/skills.disabled/decompose/SKILL.md
  plugins.disabled/skills.disabled/graph-maintenance/SKILL.md
  plugins.disabled/skills.disabled/planner/SKILL.md
  plugins/aops-debug/hooks/handlers.py
  plugins/ida/README.md
  plugins/pkb/README.md
  plugins/pkb/commands/q.md
  plugins/pkb/skills/brief/SKILL.md
  plugins/pkb/skills/hydrate/SKILL.md
  plugins/pkb/skills/plan/SKILL.md
  plugins/pkb/skills/reconcile/SKILL.md
  plugins/pkb/skills/situate/SKILL.md
  plugins/pkb/workflows/process/interactive-followup.md
  plugins/tools/skills/deep-research/SKILL.md
  plugins/tools/skills/new-project/SKILL.md
  specs/README.md
  specs/agents/agent-authority.md
  specs/enforcement/enforcement.md
  specs/enforcement/task-contract.md
  specs/enforcement/workflow.md
  specs/polecat/spec-partial-work-tight-loop-delivery.md
  specs/workflows/conceptual-review-workflow.md
  specs/workflows/research-decomposition.md
  specs/workflows/task-pipeline.md
Due: dprint, check-framework-integrity

fix(pkb): /q places captured work properly; drop carried-forward scars
  plugins/pkb/commands/q.md
  plugins/pkb/skills/reconcile/SKILL.md
  plugins/pkb/skills/situate/SKILL.md
Due: dprint, check-framework-integrity

refactor(pkb): merge workflow into brief; brief composes and stops
  plugins/pkb/README.md
  plugins/pkb/agents/pauli.md
  plugins/pkb/skills/brief/SKILL.md
  plugins/pkb/skills/plan/SKILL.md
  plugins/pkb/skills/workflow/SKILL.md
  plugins/pkb/workflows/INDEX.md
  specs/ARCHITECTURE.md
  specs/workflows/task-pipeline.md
Due: dprint, check-framework-integrity

fix(pkb): cut on who does the work, not on whether it blocks
  plugins/pkb/skills/brief/SKILL.md
  specs/workflows/task-pipeline.md
Due: dprint, check-framework-integrity

refactor(ida): plan becomes strategize and moves to ida
  plugins/ida/README.md
  plugins/ida/skills/strategize/SKILL.md
  plugins/pkb/README.md
  plugins/pkb/skills/plan/SKILL.md
  plugins/tools/skills/deep-research/SKILL.md
  plugins/tools/skills/new-project/SKILL.md
  specs/agents/agent-authority.md
  specs/workflows/research-decomposition.md
  specs/workflows/task-pipeline.md
Due: dprint, check-framework-integrity

dogfood update
  .agents/skills/dogfood/SKILL.md
Due: dprint, check-framework-integrity

routing table
  plugins/ida/agents/ida.md
Due: dprint

dogfooding in ida
  plugins/ida/agents/ida.md
Due: dprint

fix(hooks): restore the Stop registrations and rbg's ruleset advisory
  plugins/ida/hooks/handlers.py
  plugins/rbg/hooks/handlers.py
Due: none

update handler
  plugins/orchestrate/hooks/handlers.py
Due: none

fix(agents): break agent/skill fork cycles and repair the hearsay handler
  plugins/ida/agents/ida.md
  plugins/orchestrate/agents/james.md
  plugins/orchestrate/hooks/handlers.py
  plugins/pkb/agents/pauli.md
  tests/test_agent_skill_cycles.py
Due: dprint

skills
  plugins/pkb/skills/situate/SKILL.md
Due: dprint, check-framework-integrity

refactor(instructions): fold situate into brief, cut library cookbooks
  .agents/CORE.md
  .agents/skills/dogfood/SKILL.md
  .agents/skills/triage/SKILL.md
  README.md
  plugins.disabled/skills.disabled/situate/SKILL.md
  plugins/ida/skills/strategize/SKILL.md
  plugins/orchestrate/skills/dispatch/long_runner.md
  plugins/pkb/README.md
  plugins/pkb/agents/pauli.md
  plugins/pkb/commands/q.md
  plugins/pkb/skills/brief/SKILL.md
  plugins/pkb/skills/hydrate/SKILL.md
  plugins/pkb/skills/reconcile/SKILL.md
  plugins/pkb/workflows/INDEX.md
  plugins/tools/skills/dbt/SKILL.md
  plugins/tools/skills/dbt/dbt-patterns.md
  plugins/tools/skills/dbt/dbt-workflow.md
  plugins/tools/skills/python-viz/SKILL.md
  plugins/tools/skills/python-viz/matplotlib.md
  plugins/tools/skills/python-viz/seaborn.md
  plugins/tools/skills/python-viz/statsmodels.md
  plugins/tools/skills/streamlit/SKILL.md
  plugins/tools/skills/streamlit/streamlit-patterns.md
  plugins/tools/skills/streamlit/streamlit-workflow.md
  plugins/tools/skills/streamlit/streamlit.md
  pyproject.toml
  specs/ARCHITECTURE.md
  specs/enforcement/enforcement.md
  specs/enforcement/task-contract.md
  specs/enforcement/workflow.md
  specs/workflows/research-decomposition.md
  specs/workflows/task-pipeline.md
Due: dprint, check-framework-integrity

update agents - simplify
  plugins/ida/agents/ida.md
  plugins/orchestrate/agents/james.md
  plugins/orchestrate/agents/marsha.md
  plugins/pkb/agents/pauli.md
  plugins/rbg/agents/rbg.md
Due: dprint

Path conditions:
  dprint: any of: \.(md|markdown|mdown)$, \.json$, \.toml$
  check-framework-integrity: any of: (WORKFLOWS|SKILLS)\.md$|workflows/.*\.md$|skills/.*/SKILL\.md$|commands/.*\.md$
