Repository nicsuzor/academicOps: changes, and which pre-commit hooks are due for each by the changed paths.
All: dprint, check-framework-integrity

dprint:
  name: dprint check
  entry: uv run dprint check
  language: system
  pass_filenames: true

check-framework-integrity:
  name: framework integrity check
  entry: uv run python scripts/check_framework_integrity.py
  language: system
  pass_filenames: false

test(orchestrate): assert handlers.py only reaches for tracer attrs that exist
  plugins/orchestrate/tests/test_tracer.py
Due: none

test: pin check_refs.py coverage of plugins/*/skills/**/*.md
  tests/test_check_refs.py
Due: none

add workflow create skill
  plugins/pkb/skills/workflow-create/SKILL.md
Due: dprint, check-framework-integrity

fix(pkb): remove pkb_context references from q and brief skills
  plugins/pkb/skills/brief/SKILL.md
  plugins/pkb/skills/q/SKILL.md
Due: dprint, check-framework-integrity

chore(dev): release 0.9.1
  .release-please-manifest.json
  CHANGELOG.md
  pyproject.toml
Due: dprint

Add delay-decisions axiom; sharpen pauli's escalation threshold
  lib/axioms/README.md
  lib/axioms/delay-decisions.md
  plugins/pkb/agents/pauli.md
Due: dprint

Drop agent-review checks from required-checks list
  .github/rulesets/pr-review-and-merge.yml
Due: none

refactor(dist): remove dist branch distribution; distribute directly from repository
  .github/workflows/build-extension.yml
  Dockerfile
  INSTALL.md
  Makefile
  README.md
  specs/build-and-install.md
  templates/cloud_setup.sh
Due: dprint

fix(framework-gate): rename bare human-approval to wf-human-approval
  .agents/templates/framework-gate.md
Due: dprint

chore(tests): remove dead demo marker and addopts filter
  pyproject.toml
Due: dprint

spec(polecat): image staleness detection and surfacing (aops_866c0666)
  specs/polecat/spec-image-staleness-detection.md
Due: dprint

feat(polecat): surface and warn on container image staleness (aops_40a3faa8)
  Dockerfile
  Makefile
  build/build.py
  lib/polecat/cli.py
  lib/polecat/env_contract.py
  lib/polecat/staleness.py
  plugins/orchestrate/hooks/handlers.py
  plugins/orchestrate/manifest/plugin.toml
  specs/polecat/spec-image-staleness-detection.md
  tests/polecat/test_container_invocation.py
  tests/polecat/test_image_staleness.py
  tests/polecat/test_run_record.py
Due: dprint

Drop agent-review checks from required-checks list (#2528)
  .github/rulesets/pr-review-and-merge.yml
Due: none

feat(tracing): parent subagent traces hierarchically
  plugins/orchestrate/hooks/agy_tracer.py
  plugins/orchestrate/hooks/claude_code_tracer.py
Due: none

fix(tracing): forward all GENAI_ENGINE env vars on polecat and launchd
  lib/polecat/env_contract.py
  scripts/macos-launchd/launchd-env.sh
Due: none

fix(otel): add parent_span_id extraction to agy_tracer and fallback to transcriptPath
  plugins/orchestrate/hooks/agy_tracer.py
Due: none

refactor(pkb): rewrite brief skill to ideal-task-brief spec (aops_20260828_pauli_instructions)
  plugins/aops-core/skills/brief/SKILL.md
Due: dprint, check-framework-integrity

fix(brief): remove instructions to emit speculative review and sign-off nodes
  .agents/skills/dogfood/SKILL.md
  plugins/aops-core/README.md
  plugins/aops-core/skills/brief/SKILL.md
  plugins/pkb/skills/brief/SKILL.md
  specs/ENFORCEMENT-MAP.md
  specs/enforcement/workflow.md
  specs/polecat/spec-partial-work-tight-loop-delivery.md
  specs/workflows/conceptual-review-workflow.md
  specs/workflows/research-decomposition.md
  specs/workflows/task-pipeline.md
Due: dprint, check-framework-integrity

feat(pkb): land current-state-only doctrine for task and note bodies (aops_81ba220a)
  plugins/aops-core/agents/ida.md
  plugins/aops-core/agents/pauli.md
  plugins/aops-core/skills/remember/SKILL.md
  plugins/aops-core/workflows/external-batch-submission.md
  plugins/aops-core/workflows/task-tracking.md
Due: dprint, check-framework-integrity

Point universal workflows/INDEX.md at workflow-library-moc
  plugins/aops-core/workflows/INDEX.md
Due: dprint, check-framework-integrity

fix(workflows): restore 10 workflow templates to universal tier and resolve duplicate pairs
  .agents/templates/audit.md
  .agents/templates/batch.md
  plugins/aops-core/workflows/audit.md
  plugins/aops-core/workflows/batch.md
  plugins/aops-core/workflows/burst.md
  plugins/aops-core/workflows/develop-specification.md
  plugins/aops-core/workflows/feature-dev.md
  plugins/aops-core/workflows/framework-gate.md
  plugins/aops-core/workflows/live-fix-loop.md
  plugins/aops-core/workflows/pr-review.md
  plugins/aops-core/workflows/tdd.md
  plugins/aops-core/workflows/worktree-merge.md
Due: dprint, check-framework-integrity

feat(build): add OpenClaw client adapter and distribution target
  Makefile
  build/agents.py
  build/build.py
  build/clients/openclaw.py
  build/manifest.py
  build/marketplace.py
  specs/ARCHITECTURE.md
  specs/build-and-install.md
  tests/test_build.py
  tests/test_plugin_manifests.py
Due: dprint

fix(brief): run /q first if prompt arrives without task id
  plugins/aops-core/skills/brief/SKILL.md
Due: dprint, check-framework-integrity

feat(distribution): add Claude and Gemini marketplace manifests for direct repository distribution
  .claude-plugin/marketplace.json
  .gitignore
  gemini-extension.json
Due: dprint

Revert "feat(distribution): add Claude and Gemini marketplace manifests for direct repository distribution"
  .claude-plugin/marketplace.json
  .gitignore
  gemini-extension.json
Due: dprint

Revert "refactor(dist): remove dist branch distribution; distribute directly from repository"
  .github/workflows/build-extension.yml
  Dockerfile
  INSTALL.md
  Makefile
  README.md
  specs/build-and-install.md
  templates/cloud_setup.sh
Due: dprint

polecat cgroup-parent
  lib/polecat/cli.py
Due: none

merge
  Makefile
  build/marketplace.py
  specs/build-and-install.md
  tests/test_build.py
Due: dprint

test: remove test_sixteen_simultaneous_evaluations_are_all_answered_in_parallel
  tests/test_cope_eval_shim.py
Due: none

Path conditions:
  dprint: any of: \.(md|markdown|mdown)$, \.json$, \.toml$
  check-framework-integrity: any of: (WORKFLOWS|SKILLS)\.md$|workflows/.*\.md$|skills/.*/SKILL\.md$|commands/.*\.md$
