Repository nicsuzor/academicOps: changes, and which pre-commit hooks are due for each by the changed paths.
All: dprint, check-framework-integrity

.pre-commit-config.yaml:

# Pre-commit hooks for academicOps framework governance
# See https://pre-commit.com for more info

repos:
  # Markdown/JSON/TOML validation (dprint - check-only, no auto-fix)
  # Ruff check --fix auto-fixes what it can; ruff-format checks formatting
  - repo: local
    hooks:
      - id: dprint
        name: dprint check
        entry: uv run dprint check
        language: system
        types_or: [markdown, json, toml]
        pass_filenames: true

  # Markdown linting (catches issues dprint doesn't fix)
  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.12.1
    hooks:
      - id: markdownlint-cli2
        exclude: '^archived/'

  # Standard hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: '\.excalidraw$'
      - id: end-of-file-fixer
        exclude: '\.excalidraw$'
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
        args: ['--maxkb=500']

  # Python linting (auto-fix enabled)
  # Ruff check --fix auto-fixes what it can; ruff-format checks formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.4
    hooks:
      - id: ruff
        args: [--fix]
        exclude: '^archived/'
      - id: ruff-format
        args: [--check]
        exclude: '^archived/'

  # Framework integrity checks (index wikilinks, skill entries, workflow length)
  # Consolidates check-workflow-length + new index integrity validation
  - repo: local
    hooks:
      - id: check-framework-integrity
        name: framework integrity check
        entry: uv run python scripts/check_framework_integrity.py
        language: system
        pass_filenames: false
        files: '(WORKFLOWS|SKILLS)\.md$|workflows/.*\.md$|skills/.*/SKILL\.md$|commands/.*\.md$'

  # Type checking and full framework health checks run in CI only
  # (see .github/workflows/framework-health.yml)
  #
  # Moved to CI:
  # - basedpyright: full type analysis too slow for every commit
  # - check-skill-line-count: whole-repo scan, not file-scoped
  # - check-orphan-files: whole-repo scan, not file-scoped
  # - check-framework-integrity --full: slow full codebase wikilink scan
  # - audit_framework_health: comprehensive audit

fix(antigravity): log hook errors and raw inputs to hooks.jsonl on crash
  aops-core/hooks/router.py
  aops-core/hooks/unified_logger.py
  tests/hooks/test_agy_protojson_contract.py
  tests/hooks/test_agy_worker_gate_posture.py
Due: none

revert agy messup
  aops-core/hooks/router.py
  tests/hooks/test_agy_protojson_contract.py
  tests/hooks/test_agy_worker_gate_posture.py
Due: none

feat(pty-probe): extend harness to 29 probes with agy, early snap, full field coverage
  scripts/pty_hook_probe.py
  tests/hooks/fixtures/pty_capabilities.json
Due: dprint

feat(pty-probe): add stopReason isolation probe + fixture merge on --only
  scripts/pty_hook_probe.py
  tests/hooks/fixtures/pty_capabilities.json
Due: dprint

feat(pty-probe): extend harness to 29 probes with agy, early snap, full field coverage (#1997)
  scripts/pty_hook_probe.py
  tests/hooks/fixtures/pty_capabilities.json
Due: dprint

fix(mcp): tolerate trailing slash in PKB_MCP_URL (#1994)
  aops-core/scripts/run-mcp.sh
Due: none

fix(antigravity): resolve agy hooks via cwd-relative path, MCP via install-time resolution (antigravity-cli#390)
  Makefile
  aops-core/mcp.json.template
  scripts/build.py
  tests/test_antigravity_hooks_build.py
Due: none

update claude auto mode defaults
  polecat/defaults/claude-settings.json
Due: dprint

refactor(hooks): remove dead log_event_to_session no-op stub
  aops-core/hooks/router.py
  aops-core/hooks/unified_logger.py
  tests/hooks/test_silent_events.py
Due: none

fix(enforcer): teach RBG re-audit discrimination — resolved/escalate/new rules (#1881)
  aops-core/agents/rbg.md
Due: dprint

chore(dev): release 0.3.43
  .release-please-manifest.json
  CHANGELOG.md
  pyproject.toml
  templates/aops-core.gemini-extension.json
  templates/aops-core.plugin.json
  templates/aops-tools.gemini-extension.json
  templates/aops-tools.plugin.json
Due: dprint

chore(dev): release 0.3.43 (#1880)
  .release-please-manifest.json
  CHANGELOG.md
  pyproject.toml
  templates/aops-core.gemini-extension.json
  templates/aops-core.plugin.json
  templates/aops-tools.gemini-extension.json
  templates/aops-tools.plugin.json
  uv.lock
Due: dprint

Fix hook discovery for Antigravity sessions
  aops-core/lib/transcript_parser.py
  tests/lib/test_antigravity_transcript.py
Due: none

docs: consolidate hooks and gates SSoT
  aops-core/skills/aops/references/hooks.md
  specs/CLIENT-TRANSLATION.md
  specs/ENFORCEMENT-MAP.md
  specs/enforcement/GATES.md
  specs/enforcement/enforcement-mechanisms.md
  specs/enforcement/enforcement.md
  specs/enforcement/ultra-vires-enforcer.md
  specs/hooks/CLIENT-TRANSLATION.md
Due: dprint

docs: restructure ENFORCEMENT-MAP per user review
  specs/ENFORCEMENT-MAP.md
Due: dprint

fix(hook): replace slash commands with skill references in gate templates and instructions
  .agents/CORE.md
  aops-core/agents/james.md
  aops-core/agents/junior.md
  aops-core/agents/marsha.md
  aops-core/agents/pauli.md
  aops-core/hooks/templates/handover-policy-message.md
  aops-core/hooks/templates/ida-reminder.md
  aops-core/hooks/templates/qa-policy-context.md
  aops-core/hooks/templates/stop-gate-handover-block.md
  aops-core/skills/aops/SKILL.md
  aops-core/skills/aops/conventions-summary.md
  aops-core/skills/aops/references/authoring-discipline.md
  aops-core/skills/craft/SKILL.md
Due: dprint, check-framework-integrity

fix typing problems
  aops-core/lib/hook_context.py
  pyproject.toml
  scripts/pty_hook_probe.py
Due: dprint

fix(hook): replace slash commands with skill references in gate templates and instructions (#1999)
  .agents/CORE.md
  aops-core/agents/james.md
  aops-core/agents/junior.md
  aops-core/agents/marsha.md
  aops-core/agents/pauli.md
  aops-core/hooks/templates/handover-policy-message.md
  aops-core/hooks/templates/ida-reminder.md
  aops-core/hooks/templates/qa-policy-context.md
  aops-core/hooks/templates/stop-gate-handover-block.md
  aops-core/skills/aops/SKILL.md
  aops-core/skills/aops/conventions-summary.md
  aops-core/skills/aops/references/authoring-discipline.md
  aops-core/skills/craft/SKILL.md
Due: dprint, check-framework-integrity

Fix pr-pipeline: dispatch pre-admission responder on PR-attributable Pytest-only red (#1965) (#1967)
  .github/workflows/pr-pipeline.yml
  scripts/ci/check-mechanical-red.sh
  specs/ENFORCEMENT-MAP.md
  specs/workflows/pr-pipeline.md
  tests/test_check_mechanical_red.py
  tests/test_pr_pipeline_review_gate.py
Due: dprint, check-framework-integrity

fix(sessions): anchor hook-log/state path on disk, not a SessionStart-pinned env
  aops-core/lib/session_paths.py
  aops-core/lib/session_state.py
  tests/lib/test_session_paths.py
Due: none

feat(routing): implement deterministic transcript-path routing and AGY fallback
  aops-core/hooks/router.py
  aops-core/lib/session_paths.py
Due: none

chore(dev): release 0.3.44
  .release-please-manifest.json
  CHANGELOG.md
  pyproject.toml
  templates/aops-core.gemini-extension.json
  templates/aops-core.plugin.json
  templates/aops-tools.gemini-extension.json
  templates/aops-tools.plugin.json
Due: dprint

add truth table
  aops-core/hooks/gate_config.py
  aops-core/skills/aops/references/hooks.md
Due: dprint

Correct OFFENDERS variable assignment syntax
  .github/workflows/pr-pipeline.yml
Due: none

chore(dev): release 0.3.44 (#2000)
  .github/workflows/pr-pipeline.yml
  .release-please-manifest.json
  CHANGELOG.md
  aops-core/hooks/router.py
  aops-core/lib/session_paths.py
  aops-core/lib/session_state.py
  pyproject.toml
  templates/aops-core.gemini-extension.json
  templates/aops-core.plugin.json
  templates/aops-tools.gemini-extension.json
  templates/aops-tools.plugin.json
  tests/lib/test_session_paths.py
  uv.lock
Due: dprint

fix(daily): enforce correct placement of audit-complete sentinel (#1979)
  aops-core/lib/gates/custom_actions.py
  aops-core/lib/session_reader.py
  tests/lib/test_session_reader.py
Due: none

adjust polecat launch settings
  polecat/cli.py
  polecat/entrypoint.sh
  tests/polecat/test_cli_docker.py
Due: none

fix(pipeline): admit conflicting PRs and resolve conflicts via mechanic on admission
  .github/rulesets/pr-review-and-merge.yml
  .github/workflows/admit-on-review.yml
  .github/workflows/agent-enforcer.yml
  .github/workflows/agent-qa.yml
  .github/workflows/trigger-enforcer.yml
  .github/workflows/trigger-qa.yml
  specs/CONNECTIVITY.md
  specs/ENFORCEMENT-MAP.md
  specs/INDEX.md
  specs/workflows/pr-pipeline-v2.md
  specs/workflows/pr-pipeline.md
Due: dprint, check-framework-integrity

fix(pipeline): admit conflicting PRs and resolve conflicts via mechanic on admission (#2006)
  .github/rulesets/pr-review-and-merge.yml
  .github/workflows/admit-on-review.yml
  .github/workflows/agent-enforcer.yml
  .github/workflows/agent-qa.yml
  .github/workflows/trigger-enforcer.yml
  .github/workflows/trigger-qa.yml
  specs/CONNECTIVITY.md
  specs/ENFORCEMENT-MAP.md
  specs/INDEX.md
  specs/workflows/pr-pipeline-v2.md
  specs/workflows/pr-pipeline.md
Due: dprint, check-framework-integrity

feat(pipeline): conflict-admission sweep — drive the mechanic onto conflicting, approved PRs
  .github/workflows/conflict-admission-sweep.yml
  scripts/ci/find-conflicting-admitted-prs.sh
  specs/ENFORCEMENT-MAP.md
  specs/workflows/pr-pipeline.md
  tests/test_find_conflicting_admitted_prs.py
Due: dprint, check-framework-integrity

fix(test): de-time-bomb session-anchor tests (hard-coded date aged out of window)
  tests/lib/test_session_paths.py
Due: none

fix(test): de-time-bomb session-anchor tests (hard-coded date aged out of window) (#2007)
  tests/lib/test_session_paths.py
Due: none

docs(enforcement): agent-first per-message routing table + client achievability
  specs/CLIENT-TRANSLATION.md
  specs/ENFORCEMENT-MAP.md
Due: dprint

docs(enforcement): make per-message routing table client-agnostic
  specs/ENFORCEMENT-MAP.md
Due: dprint

Fixes agy plugin (#2005)
  .agents/CORE.md
  aops-core/agents/james.md
  aops-core/agents/junior.md
  aops-core/agents/marsha.md
  aops-core/agents/pauli.md
  aops-core/hooks/templates/handover-policy-message.md
  aops-core/hooks/templates/ida-reminder.md
  aops-core/hooks/templates/qa-policy-context.md
  aops-core/hooks/templates/stop-gate-handover-block.md
  aops-core/lib/transcript_parser.py
  aops-core/skills/aops/SKILL.md
  aops-core/skills/aops/conventions-summary.md
  aops-core/skills/aops/references/authoring-discipline.md
  aops-core/skills/aops/references/hooks.md
  aops-core/skills/craft/SKILL.md
  polecat/cli.py
  polecat/entrypoint.sh
  specs/CLIENT-TRANSLATION.md
  specs/ENFORCEMENT-MAP.md
  specs/enforcement/GATES.md
  specs/enforcement/enforcement-mechanisms.md
  specs/enforcement/enforcement.md
  specs/enforcement/ultra-vires-enforcer.md
  specs/hooks/CLIENT-TRANSLATION.md
  tests/lib/test_antigravity_transcript.py
  tests/polecat/test_cli_docker.py
Due: dprint, check-framework-integrity

adjust ida instructions
  aops-core/agents/ida.md
Due: dprint

feat(pipeline): sticky in-principle admission, codeowner review request, force-review hatch, clearer attestation
  .github/CODEOWNERS
  .github/workflows/admit-on-review.yml
  .github/workflows/agent-mechanic.yml
  .github/workflows/force-review.yml
  .github/workflows/pr-pipeline.yml
  scripts/ci/review-attestation.sh
  specs/ENFORCEMENT-MAP.md
  specs/workflows/pr-pipeline.md
  tests/test_pr_pipeline_review_gate.py
  tests/test_review_attestation.py
Due: dprint, check-framework-integrity
