Repository nicsuzor/academicOps: changes, and which pre-commit hooks are due for each by the changed paths.
All: dprint, check-framework-integrity

.pre-commit-config.yaml:

# Pre-commit hooks for academicOps framework governance
# See https://pre-commit.com for more info

repos:
  # Markdown/JSON/TOML validation (dprint - check-only, no auto-fix)
  # Ruff check --fix auto-fixes what it can; ruff-format checks formatting
  - repo: local
    hooks:
      - id: dprint
        name: dprint check
        entry: uv run dprint check
        language: system
        types_or: [markdown, json, toml]
        pass_filenames: true

  # Markdown linting (catches issues dprint doesn't fix)
  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.12.1
    hooks:
      - id: markdownlint-cli2
        exclude: '^archived/'

  # Standard hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: '\.excalidraw$'
      - id: end-of-file-fixer
        exclude: '\.excalidraw$'
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
        args: ['--maxkb=500']

  # Python linting (auto-fix enabled)
  # Ruff check --fix auto-fixes what it can; ruff-format checks formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.4
    hooks:
      - id: ruff
        args: [--fix]
        exclude: '^archived/'
      - id: ruff-format
        args: [--check]
        exclude: '^archived/'

  # Framework integrity checks (index wikilinks, skill entries, workflow length)
  # Consolidates check-workflow-length + new index integrity validation
  - repo: local
    hooks:
      - id: check-framework-integrity
        name: framework integrity check
        entry: uv run python scripts/check_framework_integrity.py
        language: system
        pass_filenames: false
        files: '(WORKFLOWS|SKILLS)\.md$|workflows/.*\.md$|skills/.*/SKILL\.md$|commands/.*\.md$'

  # Type checking and full framework health checks run in CI only
  # (see .github/workflows/framework-health.yml)
  #
  # Moved to CI:
  # - basedpyright: full type analysis too slow for every commit
  # - check-skill-line-count: whole-repo scan, not file-scoped
  # - check-orphan-files: whole-repo scan, not file-scoped
  # - check-framework-integrity --full: slow full codebase wikilink scan
  # - audit_framework_health: comprehensive audit

WS1: factor junior.md into core/mode/coupled layers + dispatch SSoT
  aops-core/agents/junior.md
Due: dprint

WS1: fold verification-honesty prose into authoring-discipline; point SKILL.md at SSoT
  aops-core/skills/aops/SKILL.md
  aops-core/skills/aops/references/authoring-discipline.md
Due: dprint, check-framework-integrity

WS1: repoint ida-reminder cross-ref to the new junior.md layer headings
  aops-core/hooks/templates/ida-reminder.md
Due: dprint

fix: redirect broken wf12 refs in /aops SKILL.md router to wf11 §3
  aops-core/skills/aops/SKILL.md
Due: dprint, check-framework-integrity

test: detect stale dist/ in Gemini e2e tests to prevent phantom failures
  tests/e2e/test_gemini_extension_validation.py
Due: none

fix(polecat): block host-leaked AOPS_GATE_FILE_* and AOPS_HOOK_LOG_PATH from container env
  polecat/cli.py
  tests/polecat/test_cli_docker.py
Due: none

WS1: update PKB-gap test to track relocated Persistence heading
  tests/lib/test_pkb_gap_halt_instruction.py
Due: none

fix(merge-prep): drop global serialisation, drain on completion, watchdog hung Claude
  .github/workflows/agent-merge-prep.yml
  .github/workflows/merge-prep-cron.yml
Due: none

fix(transcript): address james review feedback on PR #1458
  aops-core/lib/transcript_parser.py
  aops-core/scripts/transcript.py
  specs/session-insights-metrics-schema.md
  tests/lib/test_transcript_metadata.py
Due: dprint

WS2: add program/portfolio supervision loop above /supervisor
  aops-core/agents/junior.md
  aops-core/commands/program.md
  aops-core/skills/program/SKILL.md
Due: dprint, check-framework-integrity

WS2: add /daily red-CI / stuck-PR loop-closer (trust-gate backstop)
  aops-core/skills/daily/SKILL.md
Due: dprint, check-framework-integrity

fix(merge-prep): drop global serialisation, drain on completion, watchdog hung Claude (#1464)
  .github/workflows/agent-merge-prep.yml
  .github/workflows/merge-prep-cron.yml
Due: none

feat: capture and aggregate new session metadata (#1458)
  aops-core/lib/insights_generator.py
  aops-core/lib/transcript_parser.py
  aops-core/scripts/transcript.py
  specs/session-insights-metrics-schema.md
  tests/lib/test_transcript_metadata.py
Due: dprint

fix(hooks): Stop-gate advisories no longer leak agent-facing scaffolding/syntax to the user (#1459)
  aops-core/hooks/router.py
  aops-core/hooks/templates/ida-reminder.md
  aops-core/hooks/templates/qa-policy-context.md
  tests/hooks/test_custodiet_cluster.py
  tests/hooks/test_message_path_leak_coverage.py
  tests/hooks/test_output_channel_routing.py
Due: dprint

feat(scripts): add user_prompts timeline script (#1457)
  CHANGELOG.md
  aops-core/scripts/user_prompts.py
  specs/ENFORCEMENT-MAP.md
  specs/enforcement/enforcement.md
Due: dprint

fix(polecat): block host-leaked AOPS_GATE_FILE_* and AOPS_HOOK_LOG_PATH from container env (#1463)
  polecat/cli.py
  tests/polecat/test_cli_docker.py
Due: none

fix: exempt read-only polecat sessions from handover gate + add Gemini loop-breaker
  aops-core/lib/gates/custom_actions.py
  aops-core/lib/gates/custom_conditions.py
  aops-core/lib/gates/definitions.py
  aops-core/lib/gates/engine.py
  aops-core/lib/session_state.py
  tests/hooks/fixtures/gate_scenarios.json
  tests/hooks/fixtures/handover_session_type.json
  tests/hooks/gate_helpers.py
  tests/hooks/test_gate_context_injection.py
  tests/hooks/test_gate_lifecycle.py
  tests/hooks/test_handover_session_type.py
Due: dprint

fix(test): make handover downgrade test hermetic under xdist (CI fix)
  tests/hooks/test_gate_lifecycle.py
Due: none

fix: redirect broken wf12 refs in /aops SKILL.md router to wf11 §3 (#1460)
  aops-core/skills/aops/SKILL.md
Due: dprint, check-framework-integrity

docs: v0.4 integrity & security release notes (fixes #1385 quality issues)
  specs/releases/v0.4-integrity-and-security.md
Due: dprint

WS6: name the live-framework quadrant + add capture/personal register (doctrine)
  aops-core/agents/junior.md
Due: dprint

fix: stop/handover gate read-only exemption + Gemini loop-breaker (#1465)
  aops-core/lib/gates/custom_actions.py
  aops-core/lib/gates/custom_conditions.py
  aops-core/lib/gates/definitions.py
  aops-core/lib/gates/engine.py
  aops-core/lib/session_state.py
  tests/hooks/fixtures/gate_scenarios.json
  tests/hooks/fixtures/handover_session_type.json
  tests/hooks/gate_helpers.py
  tests/hooks/test_gate_context_injection.py
  tests/hooks/test_gate_lifecycle.py
  tests/hooks/test_handover_session_type.py
Due: dprint

docs: v0.4 integrity & security release notes (fixes #1385 quality issues) (#1467)
  specs/releases/v0.4-integrity-and-security.md
Due: dprint

WS4: attach /pull dispatch alias to WS2 program-loop seam
  aops-core/commands/pull.md
  aops-core/skills/program/SKILL.md
Due: dprint, check-framework-integrity

test: detect stale dist/ in Gemini e2e tests to prevent phantom failures (#1461)
  tests/e2e/test_gemini_extension_validation.py
Due: none

WS6 rework: drop live-framework profile per Nic — framework work is autonomous-destined
  aops-core/agents/junior.md
Due: dprint

fix(build): exclude .uv-cache from packaging to stop bloat and lstat race
  scripts/build.py
Due: none

docs(pull): say 'queued' not 'ready' for the dispatch target
  aops-core/commands/pull.md
Due: dprint, check-framework-integrity

fix: add AskUserQuestion to junior tools allowlist (sanctioned interactive tool was unavailable)
  aops-core/agents/junior.md
Due: dprint

WS7: gate hygiene — never-block, enforcer channel, precedence, register-scaling
  aops-core/hooks/gate_config.py
  aops-core/hooks/templates/enforcer-instruction.md
  aops-core/hooks/templates/enforcer-policy-context.md
  aops-core/lib/gates/engine.py
  tests/hooks/test_gate_config.py
  tests/hooks/test_gate_hygiene_engine.py
Due: dprint

WS7: gate composition & exit doctrine in junior.md (items 1-3) + guard test
  aops-core/agents/junior.md
  tests/hooks/test_gate_doctrine_load_bearing.py
Due: dprint

review(james): cover never-block engine guard + flag dormant/unbuilt deps
  aops-core/agents/junior.md
  aops-core/hooks/gate_config.py
  aops-core/skills/program/SKILL.md
  tests/hooks/test_gate_hygiene_engine.py
Due: dprint, check-framework-integrity

note 36c15a69 (#1471)
  aops-core/agents/junior.md
  aops-core/commands/program.md
  aops-core/commands/pull.md
  aops-core/hooks/gate_config.py
  aops-core/hooks/templates/enforcer-instruction.md
  aops-core/hooks/templates/enforcer-policy-context.md
  aops-core/hooks/templates/ida-reminder.md
  aops-core/lib/gates/engine.py
  aops-core/skills/aops/SKILL.md
  aops-core/skills/aops/references/authoring-discipline.md
  aops-core/skills/daily/SKILL.md
  aops-core/skills/program/SKILL.md
  tests/hooks/test_gate_config.py
  tests/hooks/test_gate_doctrine_load_bearing.py
  tests/hooks/test_gate_hygiene_engine.py
  tests/lib/test_pkb_gap_halt_instruction.py
Due: dprint, check-framework-integrity

fix(transcripts): freeze parent transcript slug at first-render time
  aops-core/scripts/transcript.py
  tests/test_transcript.py
Due: none

fix(gates): honesty + axioms are universal; only qa scales with register
  aops-core/agents/junior.md
  aops-core/hooks/gate_config.py
  aops-core/lib/gates/engine.py
  tests/hooks/test_gate_config.py
  tests/hooks/test_gate_hygiene_engine.py
Due: dprint

refactor(hooks): unify session-start self-diagnostics into new-style blocks
  aops-core/hooks/session_env_setup.py
  aops-core/lib/diag_style.py
  aops-core/lib/env_provision.py
Due: none

feat(ida): tier the honesty check — floor always, manifest at review-grade
  aops-core/agents/junior.md
  aops-core/hooks/templates/ida-reminder.md
Due: dprint

doctrine: subdivide base tiers into insistence/placement spectrum; bias against new hard gates
  aops-core/skills/aops/references/enforcement-design.md
  specs/ENFORCEMENT-MAP.md
  specs/enforcement/enforcement.md
Due: dprint

docs: add deployment guide for aops bot automation to repos
  specs/workflows/deploy-bot-to-repo.md
Due: dprint, check-framework-integrity

feat(review-pr): launch James panel as a peer team, not a leaf subagent
  aops-core/agents/james.md
  aops-core/commands/review-pr.md
  specs/review-dispatch-topology.md
Due: dprint, check-framework-integrity
