Repository nicsuzor/academicOps: changes, and which pre-commit hooks are due for each by the changed paths.
All: dprint, check-framework-integrity

dprint:
  name: dprint check
  entry: uv run dprint check
  language: system
  pass_filenames: true

check-framework-integrity:
  name: framework integrity check
  entry: uv run python scripts/check_framework_integrity.py
  language: system
  pass_filenames: false

feat(graph): Iteration 3 — percentile zoom, start-here summary, critical path
  lib/overwhelm/d3_component/index.html
  lib/overwhelm/dashboard.py
  qa/graph-evaluation-rubric.md
  qa/graph-iteration-03-results.md
Due: dprint

feat(graph): Iteration 2 — Top-N filter, project hulls, spotlight rings (16/25)
  lib/overwhelm/d3_component/index.html
  lib/overwhelm/dashboard.py
  lib/overwhelm/task_graph_d3.py
  qa/graph-evaluation-rubric.md
  qa/graph-iteration-01-results.md
  qa/graph-iteration-02-results.md
Due: dprint

fix(gate): categorize compliance agent spawns as infrastructure
  aops-core/hooks/gate_config.py
  aops-core/lib/gates/engine.py
Due: none

refactor(gate): move meta control tools to always_available category
  aops-core/hooks/gate_config.py
  aops-core/lib/gates/definitions.py
  tests/hooks/fixtures/gate_scenarios.json
  tests/hooks/test_gate_replay.py
  tests/hooks/test_hydration_never_deny.py
Due: dprint

fix(graph): address PR #760 review comments
  lib/overwhelm/d3_component/index.html
  lib/overwhelm/dashboard.py
  qa/graph-evaluation-rubric.md
Due: dprint

refactor(tests): separate mode-mapping from gate-fires assertions in hook gate tests
  tests/hooks/test_gate_replay.py
  tests/hooks/test_gate_verdicts.py
Due: none

fix: sync STATUS_ALIASES with Rust resolve_status_alias()
  aops-core/lib/task_model.py
Due: none

fix(dashboard): show human-readable session summaries and filter code fences
  aops-core/lib/transcript_parser.py
  lib/overwhelm/dashboard.py
  scripts/synthesize_dashboard.py
  tests/test_transcript.py
Due: none

docs(dump): document correct Skill() invocation pattern
  .agent/commands/dump.toml
  aops-core/commands/dump.md
Due: dprint, check-framework-integrity

fix(polecat): install pre-commit hooks via stable template, not venv path
  polecat/manager.py
Due: none

fix(hooks): deploy stable uv-run hook template instead of pre-commit install
  polecat/manager.py
  scripts/hooks/pre-commit
  scripts/install-hooks.sh
Due: none

fix(tests): pass subagent_type to get_tool_category in TestLiveCustodietThreshold
  tests/hooks/test_gate_verdicts.py
Due: none

refactor: rename skill-internal workflows/ to procedures/ and promote global workflows
  .agent/rules/enforcement-map.md
  .agent/skills/audit/SKILL.md
  .agent/skills/framework/tests/test_email_workflow_guidance.py
  .agent/skills/framework/tests/test_email_workflow_tools.py
  aops-core/CONSTRAINTS.md
  aops-core/TAXONOMY.md
  aops-core/WORKFLOWS.md
  aops-core/framework/enforcement-map.md
  aops-core/skills/audit/SKILL.md
  aops-core/skills/audit/references/output-targets.md
  aops-core/skills/extract/SKILL.md
  aops-core/skills/extract/procedures/review-inline-comments.md
  aops-core/skills/framework/SKILL.md
  aops-core/skills/framework/procedures/01-design-new-component.md
  aops-core/skills/framework/procedures/02-debug-framework-issue.md
  aops-core/skills/framework/procedures/05-feature-development.md
  aops-core/skills/framework/procedures/09-session-hook-forensics.md
  aops-core/skills/framework/tests/test_email_workflow_guidance.py
  aops-core/skills/framework/tests/test_email_workflow_tools.py
  aops-core/skills/hdr/workflows/reference-letter.md
  aops-core/skills/qa/references/qa-planning.md
  aops-core/skills/remember/procedures/capture.md
  aops-core/skills/remember/procedures/prune.md
  aops-core/skills/remember/procedures/sync.md
  aops-core/skills/remember/procedures/validate.md
  aops-core/workflows/decision-briefing.md
  aops-core/workflows/develop-specification.md
  aops-core/workflows/email-capture.md
  aops-core/workflows/experiment-design.md
  aops-core/workflows/framework-gate.md
  aops-core/workflows/monitor-prevent-bloat.md
  aops-core/workflows/session-effectiveness.md
  scripts/audit_framework_health.py
  scripts/check_framework_integrity.py
  specs/audit-protocol.md
Due: dprint, check-framework-integrity

docs: update README with taxonomy section and workflow/skill/procedure model
  README.md
Due: dprint

fix: ToolSearch select: bypass + inbox status parsing + get_tool_category API
  aops-core/hooks/gate_config.py
  aops-core/lib/gates/engine.py
  aops-core/lib/task_model.py
  tests/hooks/test_gate_verdicts.py
Due: none

feat(dashboard): context-aware graph sidebar — hide irrelevant controls per layout
  lib/overwhelm/dashboard.py
Due: none

fix(dashboard): rename Precomputed to ForceAtlas2, drop Circle Pack from hierarchical set
  lib/overwhelm/dashboard.py
  tests/acceptance/v0.3-release.md
Due: dprint

chore: fix markdownlint MD001 and dprint format v0.3-release.md
  tests/acceptance/v0.3-release.md
Due: dprint

fix(types): guard tool_input dict access against list[Any]
  aops-core/lib/gates/custom_conditions.py
  aops-core/lib/gates/engine.py
Due: none

fix(types): resolve basedpyright errors in synthesize_dashboard and custom_conditions
  aops-core/lib/gates/custom_conditions.py
  scripts/synthesize_dashboard.py
Due: none

fix(dashboard): remove Focus scope, simplify scope toggle to All/Full
  lib/overwhelm/dashboard.py
Due: none

fix: add missing id field to workflow frontmatter
  aops-core/workflows/base-handover.md
  aops-core/workflows/decision-briefing.md
  aops-core/workflows/develop-specification.md
  aops-core/workflows/experiment-design.md
  aops-core/workflows/monitor-prevent-bloat.md
  aops-core/workflows/session-effectiveness.md
Due: dprint, check-framework-integrity

feat(graph): leaf-aware filtering, dynamic Top N, recency 7d, FA2 overlap fix
  lib/overwhelm/d3_component/index.html
  lib/overwhelm/dashboard.py
  lib/overwhelm/task_graph_d3.py
Due: none

fix(merge-prep): block approval on unresolved CHANGES_REQUESTED + fix 403 dispatch
  .github/agents/merge-prep.agent.md
  .github/workflows/agent-merge-prep.yml
Due: dprint

fix(graph): fix arc diagram to align nodes on a single horizontal baseline
  lib/overwhelm/d3_component/index.html
Due: none

feat(graph): sidebar UX cleanup and import reorder
  lib/overwhelm/d3_component/index.html
  lib/overwhelm/dashboard.py
  lib/overwhelm/task_graph_d3.py
Due: none

fix(merge-prep): use latest-per-author review state in CHANGES_REQUESTED guard
  .github/workflows/agent-merge-prep.yml
Due: none

feat: operationalise effectual planning with three modes and strategic-intake workflow
  aops-core/WORKFLOWS.md
  aops-core/agents/effectual-planner.md
  aops-core/skills/planning/SKILL.md
  aops-core/skills/strategy/SKILL.md
  aops-core/workflows/decompose.md
  aops-core/workflows/references/decomposition-patterns.md
  aops-core/workflows/strategic-intake.md
  scripts/audit_framework_health.py
  specs/effectual-planning-agent.md
Due: dprint, check-framework-integrity

feat: add SFDP graph layout with Manhattan edge routing to overwhelm dashboard
  lib/overwhelm/d3_component/index.html
  lib/overwhelm/dashboard.py
  scripts/generate-viz.sh
  scripts/task_graph_sfdp.py
Due: none

refactor: simplify SFDP to use server DOT directly, tune density
  scripts/generate-viz.sh
  scripts/task_graph_sfdp.py
Due: none

fix: sharp miter joins for SFDP Manhattan edges
  lib/overwhelm/d3_component/index.html
Due: none

feat: add review-and-fix PR agent, disable review-only trigger
  .github/agents/conceptual-review.agent.md
  .github/agents/review-and-fix.agent.md
  .github/workflows/agent-review-and-fix.yml
  .github/workflows/agent-review.yml
Due: dprint

fix: remove dead gate mode defaults, defer to env vars
  aops-core/hooks/gate_config.py
  aops-core/hooks/session_env_setup.py
  aops-core/lib/gates/custom_actions.py
  tests/hooks/test_session_env_setup.py
Due: none

feat: improve treemap layout — pack squares tightly, wrap text on task boxes
  lib/overwhelm/d3_component/index.html
Due: none

feat: add leaf view to dashboard + P#120 task handoff quality
  aops-core/workflows/decompose.md
  lib/overwhelm/dashboard.py
Due: dprint, check-framework-integrity

fix: add tests/hooks/conftest.py to set gate mode env vars before collection
  tests/hooks/conftest.py
Due: none

fix: consolidate review-and-fix agent to single PR review (no separate comment)
  .github/agents/review-and-fix.agent.md
  .github/workflows/agent-review-and-fix.yml
Due: dprint

fix: remove bogus project cards and improve task graph dark-theme colors
  lib/overwhelm/d3_component/index.html
  lib/overwhelm/dashboard.py
  lib/overwhelm/task_graph_d3.py
  qa/dashboard-qa-results-20260306.md
Due: dprint

Path conditions:
  dprint: any of: \.(md|markdown|mdown)$, \.json$, \.toml$
  check-framework-integrity: any of: (WORKFLOWS|SKILLS)\.md$|workflows/.*\.md$|skills/.*/SKILL\.md$|commands/.*\.md$
