Repository nicsuzor/academicOps: changes, and which pre-commit hooks are due for each by the changed paths.
All: dprint, check-framework-integrity

.pre-commit-config.yaml:

# Pre-commit hooks for academicOps framework governance
# See https://pre-commit.com for more info

repos:
  # Markdown/JSON/TOML validation (dprint - check-only, no auto-fix)
  # Ruff check --fix auto-fixes what it can; ruff-format checks formatting
  - repo: local
    hooks:
      - id: dprint
        name: dprint check
        entry: uv run dprint check
        language: system
        types_or: [markdown, json, toml]
        pass_filenames: true

  # Markdown linting (catches issues dprint doesn't fix)
  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.12.1
    hooks:
      - id: markdownlint-cli2
        exclude: '^archived/'

  # Standard hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: '\.excalidraw$'
      - id: end-of-file-fixer
        exclude: '\.excalidraw$'
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
        args: ['--maxkb=500']

  # Python linting (auto-fix enabled)
  # Ruff check --fix auto-fixes what it can; ruff-format checks formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.4
    hooks:
      - id: ruff
        args: [--fix]
        exclude: '^archived/'
      - id: ruff-format
        args: [--check]
        exclude: '^archived/'

  # Framework integrity checks (index wikilinks, skill entries, workflow length)
  # Consolidates check-workflow-length + new index integrity validation
  - repo: local
    hooks:
      - id: check-framework-integrity
        name: framework integrity check
        entry: uv run python scripts/check_framework_integrity.py
        language: system
        pass_filenames: false
        files: '(WORKFLOWS|SKILLS)\.md$|workflows/.*\.md$|skills/.*/SKILL\.md$|commands/.*\.md$'

  # Type checking and full framework health checks run in CI only
  # (see .github/workflows/framework-health.yml)
  #
  # Moved to CI:
  # - basedpyright: full type analysis too slow for every commit
  # - check-skill-line-count: whole-repo scan, not file-scoped
  # - check-orphan-files: whole-repo scan, not file-scoped
  # - check-framework-integrity --full: slow full codebase wikilink scan
  # - audit_framework_health: comprehensive audit

fix(supervisor): address review findings — paths, lifecycle, safety protocols
  aops-core/skills/supervisor/instructions/knowledge-capture.md
  aops-core/skills/supervisor/instructions/supervision-loop.md
  aops-core/skills/supervisor/instructions/worker-dispatch.md
Due: dprint

Update review agent metadata: unique colors and descriptive descriptions
  aops-core/agents/james.md
  aops-core/agents/marsha.md
  aops-core/agents/pauli.md
  aops-core/agents/rbg.md
Due: dprint

Fix workspace ownership in containers and Claude Code cache staleness
  Dockerfile
  Makefile
  polecat/cli.py
Due: none

Agent metadata + fix container workspace permissions and Claude Code caching (#518)
  Dockerfile
  Makefile
  aops-core/agents/james.md
  aops-core/agents/marsha.md
  aops-core/agents/pauli.md
  aops-core/agents/rbg.md
  polecat/cli.py
Due: dprint

feat(supervisor): critic-gated dispatch, coordinated branches, transcript reading (#517)
  aops-core/skills/supervisor/SKILL.md
  aops-core/skills/supervisor/instructions/decomposition-and-review.md
  aops-core/skills/supervisor/instructions/knowledge-capture.md
  aops-core/skills/supervisor/instructions/supervision-loop.md
  aops-core/skills/supervisor/instructions/worker-dispatch.md
Due: dprint, check-framework-integrity

docs(supervisor): remove dispatch-log references, point to task body
  aops-core/skills/supervisor/instructions/supervision-loop.md
  aops-core/skills/supervisor/instructions/worker-dispatch.md
Due: dprint

docs(supervisor): remove dispatch-log references, point to task body (#519)
  aops-core/skills/supervisor/instructions/supervision-loop.md
  aops-core/skills/supervisor/instructions/worker-dispatch.md
Due: dprint

docs(supervisor): monitor-phase guidance for polecat lifecycle and non-PR work
  aops-core/skills/supervisor/instructions/supervision-loop.md
Due: dprint

test(docker): failing test for procps in aops-crew image (#520)
  tests/polecat/test_aops_crew_image.py
Due: none

test(gemini): failing test for sandbox read-file allowlist (#522)
  tests/polecat/test_gemini_sandbox.py
Due: none

fix(gemini): widen sandbox include-directories for extension reads (#522)
  polecat/cli.py
Due: none

fix(docker): install procps in aops-crew image (#520)
  Dockerfile
Due: none

test(polecat): failing test for nuke_crew preserving remote on open PR
  tests/polecat/test_worktree_upstream.py
Due: none

fix(polecat): preserve remote branch in nuke_crew when open PR exists
  polecat/manager.py
Due: none

test(polecat): failing tests for silent repo fallback (get_repo_path, setup_worktree)
  tests/polecat/test_get_repo_path_validation.py
Due: none

test(polecat): failing E2E test for Gemini termination after release_task (#521)
  pyproject.toml
  tests/polecat/test_polecat_termination_e2e.py
Due: dprint

fix(polecat): fail fast on missing/unknown task.project instead of silent aops fallback
  polecat/manager.py
Due: none

fix(polecat): PKB-poll termination watchdog for Gemini workers (#521)
  polecat/cli.py
Due: none

docs(dump): note PKB-poll termination dependency (#521)
  CHANGELOG.md
  aops-core/commands/dump.md
Due: dprint, check-framework-integrity

docs(supervisor): parallel-dispatch worktree isolation, no-touch lists, deferred-verification tracking
  aops-core/skills/supervisor/instructions/supervision-loop.md
  aops-core/skills/supervisor/instructions/worker-dispatch.md
Due: dprint

test(docker): failing test for playwright deps in aops-crew image
  tests/polecat/test_aops_crew_image.py
Due: none

fix(docker): pre-install playwright chromium and system deps in aops-crew
  Dockerfile
Due: none

fix(test): gemini sandbox docker test must assert positive signal, not vacuous absence
  tests/polecat/test_gemini_sandbox.py
Due: none

fix(test): termination E2E creates task under scratch parent epic
  tests/polecat/test_polecat_termination_e2e.py
Due: none

fix(pkb-bridge): surface JSON-RPC error responses instead of returning None silently
  polecat/pkb_bridge.py
  tests/polecat/test_pkb_bridge.py
Due: none

fix(polecat): clean Gemini termination, sandbox/image gaps, and fail-fast repo resolution (#524)
  CHANGELOG.md
  Dockerfile
  aops-core/commands/dump.md
  aops-core/skills/supervisor/instructions/supervision-loop.md
  aops-core/skills/supervisor/instructions/worker-dispatch.md
  polecat/cli.py
  polecat/manager.py
  polecat/pkb_bridge.py
  pyproject.toml
  tests/polecat/test_aops_crew_image.py
  tests/polecat/test_gemini_sandbox.py
  tests/polecat/test_get_repo_path_validation.py
  tests/polecat/test_pkb_bridge.py
  tests/polecat/test_polecat_termination_e2e.py
  tests/polecat/test_worktree_upstream.py
Due: dprint, check-framework-integrity

Design 'Vaughan' Memory Custodian agent and assign PKB skill ownership
  .agents/CORE.md
  aops-core/SKILLS.md
  aops-core/agents/vaughan.md
  aops-core/commands/dump.md
  aops-core/skills/daily/SKILL.md
  aops-core/skills/planner/SKILL.md
  aops-core/skills/remember/SKILL.md
  aops-core/skills/sleep/SKILL.md
Due: dprint, check-framework-integrity

feat(aops-core): rename /dump to /handover and convert to skill
  aops-core/SKILLS.md
  aops-core/agents/marsha.md
  aops-core/commands/learn.md
  aops-core/commands/retro.md
  aops-core/enforcement-map.md
  aops-core/hooks/templates/handover-complete.md
  aops-core/lib/gates/definitions.py
  aops-core/lib/template_registry.py
  aops-core/skills/handover/SKILL.md
Due: dprint, check-framework-integrity

docs(specs): rename /dump to /handover in specs and tests
  README.md
  polecat/defaults/claude-settings.json
  specs/enforcement.md
  specs/framework-workflow-expectations.md
  specs/session-insights-prompt.md
  specs/work-management.md
  tests/hooks/fixtures/gate_scenarios.json
  tests/hooks/fixtures/gate_scenarios_live.json
  tests/hooks/test_gate_replay.py
  tests/lib/test_check_framework_integrity.py
  tests/test_subagent_gates.py
Due: dprint

Merge Vaughan into Pauli as the Architect of Thought and Memory
  .agents/CORE.md
  aops-core/SKILLS.md
  aops-core/agents/pauli.md
  aops-core/agents/vaughan.md
  aops-core/commands/dump.md
  aops-core/skills/daily/SKILL.md
  aops-core/skills/planner/SKILL.md
  aops-core/skills/remember/SKILL.md
  aops-core/skills/sleep/SKILL.md
Due: dprint, check-framework-integrity

refactor(gates): handover gate starts open, triggers on write tools (#f8b85afc)
  aops-core/hooks/templates/stop-gate-handover-block.md
  aops-core/lib/gates/custom_conditions.py
  aops-core/lib/gates/definitions.py
  polecat/defaults/claude-settings.json
  polecat/defaults/gemini-settings.json
  specs/session-naming-convention.md
Due: dprint

docs(supervisor): MONITOR-phase guidance for polecat lifecycle and non-PR work (#523)
  aops-core/skills/supervisor/instructions/supervision-loop.md
Due: dprint

Fix hook router parsing of /dump skill
  aops-core/hooks/gate_config.py
  tests/test_subagent_gates.py
Due: none

refactor(gates): handover gate starts open, triggers on write tools (#527)
  aops-core/hooks/templates/stop-gate-handover-block.md
  aops-core/lib/gates/custom_conditions.py
  aops-core/lib/gates/definitions.py
  polecat/defaults/claude-settings.json
  polecat/defaults/gemini-settings.json
  specs/session-naming-convention.md
Due: dprint

Design 'Vaughan' Memory Custodian agent (#525)
  .agents/CORE.md
  aops-core/SKILLS.md
  aops-core/agents/pauli.md
  aops-core/commands/dump.md
  aops-core/commands/q.md
  aops-core/skills/daily/SKILL.md
  aops-core/skills/planner/SKILL.md
  aops-core/skills/remember/SKILL.md
  aops-core/skills/sleep/SKILL.md
Due: dprint, check-framework-integrity

Fix hook router parsing of /dump skill (#528)
  aops-core/hooks/gate_config.py
  tests/test_subagent_gates.py
Due: none

build: add RUST_VERSION cache buster to Docker build
  Dockerfile
  Makefile
Due: none

refactor: rename references from /handover to /dump command
  aops-core/agents/pauli.md
  aops-core/commands/dump.md
  aops-core/hooks/templates/stop-gate-handover-block.md
  aops-core/lib/gates/definitions.py
Due: dprint, check-framework-integrity

handover gate
  aops-core/lib/gate_types.py
  aops-core/lib/gates/definitions.py
  aops-core/lib/gates/engine.py
  tests/hooks/fixtures/gate_scenarios.json
  tests/hooks/test_gate_verdicts.py
Due: dprint

feat(skills): convert /dump command to full skill for Gemini hook compatibility
  aops-core/SKILLS.md
  aops-core/hooks/templates/stop-gate-handover-block.md
  aops-core/skills/dump/SKILL.md
  tests/lib/test_check_framework_integrity.py
Due: dprint, check-framework-integrity
