Repository nicsuzor/academicOps: changes, and which pre-commit hooks are due for each by the changed paths.
All: dprint, check-framework-integrity

dprint:
  name: dprint check
  entry: uv run dprint check
  language: system
  pass_filenames: true

check-framework-integrity:
  name: framework integrity check
  entry: uv run python scripts/check_framework_integrity.py
  language: system
  pass_filenames: false

feat(tools): add unit-of-analysis guidance to analyst skill (#2755)
  plugins/tools/skills/analyst/SKILL.md
  plugins/tools/skills/analyst/references/unit-of-analysis.md
Due: dprint, check-framework-integrity

chore: remove host paths and local-infrastructure references
  .agents/skills/debug/SKILL.md
  .agents/templates/wf-design-conversation.md
  INSTALL.md
  lib/py/transcripts/domain/sync.py
  plugins/tools/skills/peer-review/SKILL.md
  plugins/tools/skills/peer-review/references/platform-instructions.md
  plugins/tools/skills/peer-review/references/reading-notes-format.md
  scripts/launch-named-agents.sh
  specs/ARCHITECTURE.md
  specs/enforcement/human-delivery-contract.md
  specs/polecat/polecat-system.md
  specs/polecat/spec-image-staleness-detection.md
  tests/test_claude_code_tracer_attributes.py
Due: dprint, check-framework-integrity

feat(ida): name status owners and make /reconcile set each task's status
  plugins/ida/agents/ida.md
  plugins/ida/agents/pauli.md
  plugins/ida/agents/sara.md
  plugins/ida/skills/dump/SKILL.md
  plugins/ida/skills/pull/SKILL.md
  plugins/ida/skills/reconcile/SKILL.md
Due: dprint, check-framework-integrity

chore(rulesets): dev merges on green; main requires Nic's review
  .github/CODEOWNERS
  .github/rulesets/main-requires-review.yml
  .github/rulesets/pr-review-and-merge.yml
Due: none

Remove PKB node ids added to dev since #2757 branched
  .agents/templates/wf-blind-proof.md
  .agents/templates/wf-design-conversation.md
  .agents/templates/wf-map-then-wire.md
  plugins/ida/skills/workflow-library/workflows/wf-human-approval.md
  specs/enforcement/human-delivery-contract.md
  specs/enforcement/report-verification.md
  specs/meta/naming-and-decisions.md
  specs/workflows/capture-intake.md
Due: dprint, check-framework-integrity

wf-finish: PR base is dev; main requires Nic's review
  .agents/templates/wf-finish.md
Due: dprint

fix(ida): skills name the repo on gh calls instead of relying on a checkout
  plugins/ida/skills/learn/SKILL.md
  plugins/ida/skills/reconcile/SKILL.md
Due: dprint, check-framework-integrity

refactor(ida): move /dispatch's composition steps to a /reify skill
  plugins/ida/skills/reify/SKILL.md
Due: dprint, check-framework-integrity

docs(pauli): own graph upkeep unasked and decline interference
  plugins/ida/agents/pauli.md
Due: dprint

feat(ida): split /dispatch into /reify (pauli) and /dispatch (start polecats)
  .agents/templates/wf-decompose-trial.md
  .agents/templates/wf-finish.md
  .agents/templates/wf-signoff-loop.md
  .agents/templates/wf-trial-critique.md
  plugins/ida/agents/pauli.md
  plugins/ida/agents/sara.md
  plugins/ida/skills/decompose/SKILL.md
  plugins/ida/skills/dispatch/SKILL.md
  plugins/ida/skills/reify/SKILL.md
  plugins/ida/skills/workflow-library/SKILL.md
  plugins/ida/skills/workflow-library/workflows/wf-finish.md
  specs/README.md
  specs/workflows/workflow.md
Due: dprint, check-framework-integrity

everyone hydrates
  plugins/ida/hooks/handlers.py
Due: none

Resolve the workflow-library project tier from the PKB
  plugins/ida/skills/workflow-library/SKILL.md
  specs/workflows/workflow.md
Due: dprint, check-framework-integrity

pkb search hook: run pkb offline so a missing model fails fast
  plugins/ida/hooks/handlers.py
  tests/test_pkb_handlers.py
Due: none

feat(ida): arm premise check on incoming subagent and teammate messages
  plugins/ida/hooks/handlers.py
  plugins/ida/hooks/premise_check_gate.py
  plugins/ida/manifest/hooks.json
Due: dprint

Delete tests pinning old hearsay and empty-prompt hook behaviour
  tests/test_ida_hooks.py
  tests/test_pkb_handlers.py
Due: none

ida: arm premise check on dispatch and incoming messages; gate comms tools and Stop
  plugins/ida/hooks/handlers.py
  plugins/ida/hooks/premise_check_gate.py
  plugins/ida/manifest/hooks.json
Due: dprint

feat(pkb): update hydrate pkb hook to use cli mcp interface
  plugins/ida/hooks/handlers.py
  tests/test_pkb_handlers.py
Due: none

reconcile: settle Nic's open decisions before escalating them
  plugins/ida/skills/reconcile/SKILL.md
Due: dprint, check-framework-integrity

fix(ida): export OTel spans through HTTPS_PROXY
  plugins/ida/hooks/claude_code_tracer.py
  pyproject.toml
  templates/plugin/pyproject.template.toml
  tests/test_claude_code_tracer_proxy.py
  uv.lock
Due: dprint

chore: generalize review language to escalated-approval
  .agents/templates/develop-specification.md
  .agents/templates/wf-brief-composition-verify.md
  .agents/templates/wf-constraint-check.md
  .agents/templates/wf-design-conversation.md
  .agents/templates/wf-finish.md
  .agents/templates/wf-map-then-wire.md
  .agents/templates/wf-signoff-loop.md
  plugins/ida/agents/ida.md
  plugins/ida/skills/dump/SKILL.md
  plugins/ida/skills/pull/SKILL.md
  plugins/ida/skills/reconcile/SKILL.md
  plugins/ida/skills/workflow-library/workflows/wf-escalated-approval.md
  plugins/ida/skills/workflow-library/workflows/wf-human-approval.md
  plugins/ida/skills/workflow-library/workflows/wf-research-and-implement.md
  specs/enforcement/escalated-delivery-contract.md
  specs/polecat/spec-partial-work-tight-loop-delivery.md
  specs/workflows/conceptual-review-workflow.md
  specs/workflows/research-decomposition.md
Due: dprint, check-framework-integrity

fix(ida): refine repo targeting, remove keystrokes, and allow /learn fallback without traces
  plugins/ida/skills/learn/SKILL.md
  plugins/ida/skills/reconcile/SKILL.md
Due: dprint, check-framework-integrity

fix(enforcement): relax argdown parser constraints for qualitative claims
  plugins/ida/hooks/messages/honesty.md
  plugins/ida/skills/dump/SKILL.md
  plugins/ida/skills/pull/SKILL.md
  plugins/ida/skills/verify/SKILL.md
  specs/enforcement/evidence-contract.md
  specs/enforcement/report-verification.md
  specs/enforcement/task-contract.md
Due: dprint, check-framework-integrity

fix: remove outdated test_run_pkb_search_never_downloads
  tests/test_pkb_handlers.py
Due: none

fix(axioms): treat a guard refusal as a halt, never forced past
  plugins/rbg/axioms/halt-on-failure.md
Due: dprint

test(pkb): patch PKB_MCP_URL in unit tests and restore AOPS_OFFLINE
  plugins/ida/hooks/handlers.py
  tests/test_pkb_handlers.py
Due: none

fix: patch PKB_MCP_URL in test environment to fix CI
  tests/test_pkb_handlers.py
Due: none

reconcile: settle Nic's open decisions before escalating them (#2783)
  .agents/templates/develop-specification.md
  .agents/templates/wf-brief-composition-verify.md
  .agents/templates/wf-constraint-check.md
  .agents/templates/wf-design-conversation.md
  .agents/templates/wf-finish.md
  .agents/templates/wf-map-then-wire.md
  .agents/templates/wf-signoff-loop.md
  plugins/ida/agents/ida.md
  plugins/ida/skills/dump/SKILL.md
  plugins/ida/skills/pull/SKILL.md
  plugins/ida/skills/reconcile/SKILL.md
  plugins/ida/skills/workflow-library/workflows/wf-escalated-approval.md
  plugins/ida/skills/workflow-library/workflows/wf-human-approval.md
  plugins/ida/skills/workflow-library/workflows/wf-research-and-implement.md
  specs/enforcement/escalated-delivery-contract.md
  specs/polecat/spec-partial-work-tight-loop-delivery.md
  specs/workflows/conceptual-review-workflow.md
  specs/workflows/research-decomposition.md
  tests/test_pkb_handlers.py
Due: dprint, check-framework-integrity

rules: add native project rules extracted from recent PR reviews
  .agents/CORE.md
  .agents/rules/RULES.md
  .agents/rules/fix-defects-at-source.md
  .agents/rules/headless-workers.md
  .agents/rules/instructions-generalise.md
  .agents/rules/process-not-actor.md
  .agents/rules/runtime-workflow-composition.md
  .agents/rules/tests-verify-behaviour.md
  .agents/rules/use-native-mechanism.md
Due: dprint

fix(telemetry): route test otel spans to test project and resolve default projects
  plugins/aops-debug/hooks/dispatch.py
  plugins/ida/hooks/claude_code_tracer.py
  plugins/ida/hooks/dispatch.py
  plugins/ida/hooks/handlers.py
  plugins/rbg/hooks/dispatch.py
  tests/conftest.py
  tests/test_claude_code_tracer_attributes.py
  tests/test_shipped_hooks.py
Due: none

feat(tools): add argument-extraction skill emitting parser-valid Argdown
  plugins/tools/README.md
  plugins/tools/skills/argument-extraction/SKILL.md
  plugins/tools/skills/argument-extraction/references/example-mill-on-liberty.argdown
Due: dprint, check-framework-integrity

fix(argument-extraction): address review feedback on modern phrasing, workflow decoupling, and bounded validation
  plugins/tools/skills/argument-extraction/SKILL.md
  plugins/tools/skills/argument-extraction/references/example-mill-on-liberty.argdown
Due: dprint, check-framework-integrity

refactor(enforcement): rewrite evidence and report-verification specs with native Argdown and qualitative assessment
  plugins/ida/hooks/handlers.py
  plugins/ida/hooks/messages/honesty.md
  plugins/ida/skills/dump/SKILL.md
  plugins/ida/skills/pull/SKILL.md
  specs/enforcement/evidence-contract.md
  specs/enforcement/report-verification.md
  specs/enforcement/sign-off.md
  specs/enforcement/task-contract.md
  specs/enforcement/workflow.md
Due: dprint, check-framework-integrity

docs(specs): graph valuation -- skills and agent logic for the flow rule (draft)
  specs/README.md
  specs/workflows/graph-valuation.md
Due: dprint, check-framework-integrity

test(hooks): failing tests for UserPromptSubmit prompt-origin classifier
  tests/test_prompt_origin.py
Due: none

feat(hooks): classify UserPromptSubmit prompts by origin (Nic / agent / mixed / none)
  plugins/ida/hooks/prompt_origin.py
Due: none

test(hooks): failing tests for origin-aware UserPromptSubmit routing
  tests/test_ida_hooks.py
  tests/test_origin_routing.py
Due: none

feat(hooks): route UserPromptSubmit by origin -- hydrate Nic, gate agents
  plugins/ida/hooks/handlers.py
  plugins/ida/hooks/premise_check_gate.py
Due: none

test(hooks): failing tests for an authenticated PKB hydration transport
  tests/test_pkb_handlers.py
  tests/test_pkb_search_client.py
Due: none

Path conditions:
  dprint: any of: \.(md|markdown|mdown)$, \.json$, \.toml$
  check-framework-integrity: any of: (WORKFLOWS|SKILLS)\.md$|workflows/.*\.md$|skills/.*/SKILL\.md$|commands/.*\.md$
