Repository nicsuzor/academicOps: changes, and which pre-commit hooks are due for each by the changed paths.
All: dprint, check-framework-integrity

.pre-commit-config.yaml:

# Pre-commit hooks for academicOps framework governance
# See https://pre-commit.com for more info

repos:
  # Markdown/JSON/TOML validation (dprint - check-only, no auto-fix)
  # Ruff check --fix auto-fixes what it can; ruff-format checks formatting
  - repo: local
    hooks:
      - id: dprint
        name: dprint check
        entry: uv run dprint check
        language: system
        types_or: [markdown, json, toml]
        pass_filenames: true

  # Markdown linting (catches issues dprint doesn't fix)
  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.12.1
    hooks:
      - id: markdownlint-cli2
        exclude: '^archived/'

  # Standard hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: '\.excalidraw$'
      - id: end-of-file-fixer
        exclude: '\.excalidraw$'
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
        args: ['--maxkb=500']

  # Python linting (auto-fix enabled)
  # Ruff check --fix auto-fixes what it can; ruff-format checks formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.4
    hooks:
      - id: ruff
        args: [--fix]
        exclude: '^archived/'
      - id: ruff-format
        args: [--check]
        exclude: '^archived/'

  # Framework integrity checks (index wikilinks, skill entries, workflow length)
  # Consolidates check-workflow-length + new index integrity validation
  - repo: local
    hooks:
      - id: check-framework-integrity
        name: framework integrity check
        entry: uv run python scripts/check_framework_integrity.py
        language: system
        pass_filenames: false
        files: '(WORKFLOWS|SKILLS)\.md$|workflows/.*\.md$|skills/.*/SKILL\.md$|commands/.*\.md$'

  # Type checking and full framework health checks run in CI only
  # (see .github/workflows/framework-health.yml)
  #
  # Moved to CI:
  # - basedpyright: full type analysis too slow for every commit
  # - check-skill-line-count: whole-repo scan, not file-scoped
  # - check-orphan-files: whole-repo scan, not file-scoped
  # - check-framework-integrity --full: slow full codebase wikilink scan
  # - audit_framework_health: comprehensive audit

Update aops-core/skills/daily/instructions/progress-sync.md
  aops-core/skills/daily/instructions/progress-sync.md
Due: dprint

fix: prevent project name truncation in session transcripts (#1031)
  aops-core/scripts/transcript.py
  tests/test_infer_project.py
Due: none

chore(supervisor): surface RBG axiom-check in Decompose phase table
  aops-core/skills/supervisor/SKILL.md
Due: dprint, check-framework-integrity

refactor(supervisor): golden-path-first; shrink pre-flight gates
  aops-core/skills/supervisor/SKILL.md
Due: dprint, check-framework-integrity

fix(polecat): use absolute imports and add entry point
  .agents/ENFORCEMENT-MAP.md
  INSTALL.md
  aops-core/skills/planner/SKILL.md
  aops-core/skills/supervisor/instructions/worker-dispatch.md
  polecat/cli.py
  polecat/diagnostics.py
  polecat/finalize.py
  polecat/manager.py
  polecat/summary.py
  polecat/watch.py
  pyproject.toml
Due: dprint, check-framework-integrity

feat(supervisor): add design-only preflight gate variant
  aops-core/skills/supervisor/SKILL.md
  aops-core/skills/supervisor/instructions/worker-dispatch.md
Due: dprint, check-framework-integrity

fix(polecat): use absolute imports and add entry point (#1037)
  .agents/ENFORCEMENT-MAP.md
  INSTALL.md
  aops-core/skills/planner/SKILL.md
  aops-core/skills/supervisor/instructions/worker-dispatch.md
  polecat/cli.py
  polecat/diagnostics.py
  polecat/finalize.py
  polecat/manager.py
  polecat/summary.py
  polecat/watch.py
  pyproject.toml
Due: dprint, check-framework-integrity

Apply suggestion from @gemini-code-assist[bot]
  aops-core/skills/supervisor/SKILL.md
Due: dprint, check-framework-integrity

feat(polecat): add --max-turns flag and resume subcommand
  aops-core/skills/supervisor/instructions/worker-dispatch.md
  polecat/cli.py
Due: dprint

fix(polecat): quiet-by-default output (suppress missing-project warnings + Docker noise)
  polecat/cli.py
  polecat/diagnostics.py
  polecat/finalize.py
  polecat/manager.py
  polecat/summary.py
  polecat/watch.py
Due: none

supervisor: add batching-at-review-surface rule; fix status enum lies
  aops-core/skills/supervisor/SKILL.md.conflict-remote-20260515T012558Z
Due: none

slim agents
  aops-core/agents/james.md
  aops-core/agents/marsha.md
  aops-core/agents/pauli.md
  aops-core/agents/rbg.md
Due: dprint

spec: pr-pipeline v2 — modular named-agent enforcement
  .agents/ENFORCEMENT-MAP.md
  specs/pr-pipeline-v2.md
Due: dprint

spec(pr-pipeline-v2): ground undefined variables; tighten host dispatcher
  specs/pr-pipeline-v2.md
Due: dprint

scope ≥3-recurrence rule to add-or-escalate; bug fixes bypass CBA
  .agents/ENFORCEMENT-MAP.md
  aops-core/skills/survey/SKILL.md
Due: dprint, check-framework-integrity

spec: relocate pr-pipeline-v2 to brain PKB (Option A; respects orphan-md / brain-canonical policy)
  .agents/ENFORCEMENT-MAP.md
  specs/pr-pipeline-v2.md
Due: dprint

Polecat: add `--max-turns N` flag and `resume <task-id>` subcommand (#1041)
  aops-core/agents/james.md
  aops-core/agents/marsha.md
  aops-core/agents/pauli.md
  aops-core/agents/rbg.md
  aops-core/skills/supervisor/SKILL.md
  aops-core/skills/supervisor/SKILL.md.conflict-remote-20260515T012558Z
  aops-core/skills/supervisor/instructions/worker-dispatch.md
  polecat/cli.py
Due: dprint, check-framework-integrity

remove dumb tests
  tests/test_enforcer_p65_blocking.py
  tests/test_rbg_pr_review_rules.py
Due: none

scope ≥3-recurrence rule to add-or-escalate; bug fixes bypass CBA (#1044)
  .agents/ENFORCEMENT-MAP.md
  aops-core/skills/survey/SKILL.md
Due: dprint, check-framework-integrity

retire prose-asserting tests and correct canonical examples (closes #902, #885)
  aops-core/AXIOMS-REVIEW.md
  aops-core/commands/maintain.md
  aops-core/skills/aops/templates/spec.md
  aops-core/skills/daily/SKILL.md
  aops-core/skills/daily/instructions/progress-sync.md
  aops-core/skills/planner/SKILL.md
  tests/test_core_md_pkb_first.py
  tests/test_maintain_skill_structure.py
  tests/test_planner_default_priority.py
  tests/test_priority_definition_canonical.py
  tests/test_pull_specialist_dispatch.py
  tests/test_remember_skill_confidence_schema.py
Due: dprint, check-framework-integrity

Retire aops-core/hooks/policy_enforcer.py (Workstream D, sandbox-supersedes-hook)
  .agents/ENFORCEMENT-MAP.md
  aops-core/hooks/internal_models.py
  aops-core/hooks/policy_enforcer.py
  aops-core/skills/aops/references/hooks.md
  scripts/audit_framework_health.py
Due: dprint

Keep PKB evidence anonymized across verification
  aops-core/agents/marsha.md
  aops-core/skills/supervisor/SKILL.md
Due: dprint, check-framework-integrity

fix(dump_pr_state): label-edit failures no longer abort open_prs/recent_merged fetch
  aops-core/scripts/dump_pr_state.py
  tests/lib/test_dump_pr_state.py
Due: none

retire prose-asserting tests and correct canonical examples (closes #902, #885) (#1048)
  aops-core/AXIOMS-REVIEW.md
  aops-core/commands/maintain.md
  aops-core/skills/aops/templates/spec.md
  aops-core/skills/daily/SKILL.md
  aops-core/skills/daily/instructions/progress-sync.md
  aops-core/skills/planner/SKILL.md
  tests/test_core_md_pkb_first.py
  tests/test_maintain_skill_structure.py
  tests/test_planner_default_priority.py
  tests/test_priority_definition_canonical.py
  tests/test_pull_specialist_dispatch.py
  tests/test_remember_skill_confidence_schema.py
Due: dprint, check-framework-integrity

feat(install): install aops-tools to local clients alongside aops-core
  INSTALL.md
  Makefile
  scripts/install.py
Due: dprint

docs: draft Trust Over Prescription heuristic
  aops-core/HEURISTICS.md
  aops-core/skills/supervisor/SKILL.md
Due: dprint, check-framework-integrity

feat(project): provision canonical label set on repo init
  aops-core/skills/project/instructions/init.md
Due: dprint

feat(install): install aops-tools to local clients alongside aops-core (#1053)
  INSTALL.md
  Makefile
  scripts/install.py
Due: dprint

docs: draft Trust Over Prescription heuristic (#1055)
  aops-core/HEURISTICS.md
  aops-core/skills/supervisor/SKILL.md
Due: dprint, check-framework-integrity

Retire aops-core/hooks/policy_enforcer.py (Workstream D, sandbox-supersedes-hook) (#1050)
  .agents/ENFORCEMENT-MAP.md
  aops-core/hooks/internal_models.py
  aops-core/hooks/policy_enforcer.py
  aops-core/skills/aops/references/hooks.md
  scripts/audit_framework_health.py
Due: dprint

fix(install): tolerate missing aops-tools in dist marketplace
  Makefile
Due: none

fix(ci): gate initialize on same-repo, decouple lint from initialize
  .github/workflows/pr-pipeline.yml
Due: none

feat(enforcer): migrate agent-enforcer.yml to v2 contract (Phase 1)
  .github/agents/enforcer.agent.md
  .github/rulesets/pr-review-and-merge.yml
  .github/workflows/agent-enforcer.yml
  .github/workflows/triggers/enforcer.yml
Due: dprint

project settings
  .vscode/settings.json
Due: dprint

project
  .vscode/settings.json
  pyrightconfig.json
Due: dprint

fix(enforcer): remove branches-ignore that prevented trigger on PRs to main
  .github/workflows/triggers/enforcer.yml
  scripts/validate-ruleset-alignment.sh
Due: none

add windows build
  Makefile
Due: none

chore(main): release 0.3.24
  .release-please-manifest.json
  CHANGELOG.md
  pyproject.toml
  templates/aops-core.gemini-extension.json
  templates/aops-core.plugin.json
  templates/aops-tools.gemini-extension.json
  templates/aops-tools.plugin.json
Due: dprint

junior generic
  aops-core/agents/junior.md
Due: dprint

chore: remove lingering commit gate references
  pyproject.toml
  tests/polecat/test_sandbox_hook_integrity.py
Due: dprint
