Repository nicsuzor/academicOps: changes, and which pre-commit hooks are due for each by the changed paths.
All: dprint, check-framework-integrity

dprint:
  name: dprint check
  entry: uv run dprint check
  language: system
  pass_filenames: true

check-framework-integrity:
  name: framework integrity check
  entry: uv run python scripts/check_framework_integrity.py
  language: system
  pass_filenames: false

update ida permissions and calling procedures
  plugins/ida/agents/ida.md
  plugins/ida/agents/pc.md
  plugins/orchestrate/agents/james.md
  plugins/orchestrate/skills/dispatch/SKILL.md
  plugins/orchestrate/skills/dispatch/long_runner.md
Due: dprint, check-framework-integrity

add audit skill
  plugins/orchestrate/skills/audit/SKILL.md
Due: dprint, check-framework-integrity

agy instructions and hook
  plugins/ida/agents/agy.md
  plugins/rbg/manifest/hooks.template.json
Due: dprint

style: ruff format drops stray blank lines in polecat tests
  tests/polecat/test_container_invocation.py
  tests/polecat/test_workspace_isolation.py
Due: none

repoint dispatch-skill references at the surviving launcher
  .agents/skills/debug/SKILL.md
  plugins/orchestrate/manifest/plugin.toml
  plugins/pkb/README.md
  specs/ENFORCEMENT-MAP.md
  specs/adhd/completion-line.md
  specs/agents/agent-authority.md
  specs/agents/supervision-split.md
  specs/polecat/polecat-system.md
  specs/polecat/supervisor.md
  tests/test_build.py
Due: dprint, check-framework-integrity

move pc to orchestrator where its scripts are
  plugins/orchestrate/agents/pc.md
Due: dprint

docs(ida): extend hearsay rule to require observed/inferred labelling
  plugins/ida/agents/ida.md
Due: dprint

fix: repair the 12 failing tests and the type-check gate
  lib/hooks/dispatch.py
  lib/hooks/landed.py
  plugins/orchestrate/hooks/claude_code_tracer.py
  plugins/orchestrate/tests/test_live_collector.py
  pyproject.toml
  specs/ENFORCEMENT-MAP.md
  specs/agents/supervision-split.md
  specs/polecat/polecat-system.md
  specs/polecat/supervisor.md
  tests/policy.toml
  tests/test_build.py
  tests/test_landed_line.py
Due: dprint

fix merge conflict
  lib/polecat/cli.py
Due: none

feat(polecat): support --output-format and --prompt options with clean stdout
  lib/polecat/cli.py
  tests/polecat/test_container_invocation.py
Due: none

fix(polecat): output full inner_cmd without truncation on Running stderr message
  lib/polecat/cli.py
Due: none

feat(polecat): remove default agent; only pass --agent when specified
  lib/polecat/cli.py
  tests/polecat/test_container_invocation.py
Due: none

polecat runner chanages
  plugins/ida/agents/agy.md.disable
  plugins/ida/agents/ida.md
  plugins/orchestrate/agents/pc.md
  plugins/pkb/skills/brief/workflows/scheduled/sleep.md
Due: dprint, check-framework-integrity

feat(orchestrate,pkb): refine james instructions, enable hearsay batch hook, and format pull skill headers
  plugins/orchestrate/agents/james.md
  plugins/orchestrate/hooks/handlers.py
  plugins/pkb/skills/pull/SKILL.md
Due: dprint, check-framework-integrity

final hook chnages
  plugins/orchestrate/hooks/handlers.py
Due: none

update hooks to be less intrusive
  plugins/ida/agents/ida.md
  plugins/ida/hooks/messages/quiet.md
  plugins/orchestrate/hooks/handlers.py
  plugins/orchestrate/hooks/messages/hearsay.md
  plugins/orchestrate/hooks/messages/honesty.md
  plugins/orchestrate/manifest/hooks.template.json
Due: dprint

remove landed insertion
  lib/hooks/landed.py
  plugins/ida/hooks/handlers.py
  specs/README.md
  specs/adhd/completion-line.md
  tests/test_landed_line.py
Due: dprint

fix(build/agy): restore full tool vocabulary fallback for agents omitting tools:
  build/tools.py
  plugins/orchestrate/agents/james.md
  tests/test_build.py
Due: dprint

docs(specs/future): orchestrator client-split plan, reconciled review verdict, and teammate-return defect evidence
  specs/future/orchestrator-client-split-review.md
  specs/future/orchestrator-client-split.md
  specs/future/teammate-subagent-return-defect.md
Due: dprint

fix(agents): dispatch agy by redirect, never through a pipe
  .agents/skills/debug/SKILL.md
  plugins/ida/agents/agy.md.disable
  plugins/orchestrate/agents/pc.md
Due: dprint, check-framework-integrity

fix(hooks,spec): reconcile canonical hook events, honesty on SubagentStart, and debug skill agy MCP status
  lib/hooks/dispatch.py
  specs/ARCHITECTURE.md
  tests/policy.toml
  tests/test_shipped_hooks.py
  tests/test_stop_gates.py
Due: dprint

feat(polecat,orchestrate): default agent james, --no-agent flag, james rewrite with client-conditional sections and pkb mcpServers
  lib/polecat/cli.py
  plugins/orchestrate/README.md
  plugins/orchestrate/agents/james.md
  tests/polecat/test_container_invocation.py
Due: dprint

fix(orchestrate): fix pc.md citation in plugin.toml and expand allowedTools in pc.md
  plugins/orchestrate/agents/pc.md
  plugins/orchestrate/manifest/plugin.toml
Due: dprint

feat(ida): re-enable agy.md agent with conditional sandbox rule
  plugins/ida/agents/agy.md
Due: dprint

docs(enforcement): clarify blocking hooks policy across Claude Code and agy
  specs/enforcement/enforcement.md
Due: dprint

feat(orchestrate): split james into per-client files, both team-oriented
  plugins/orchestrate/agents/james.md.agy
  plugins/orchestrate/agents/james.md.claude
Due: none

feat(build): resolve per-client agent variants, and let agy frontmatter be native
  build/agents.py
  build/clients/agy.py
  build/clients/claude.py
  build/tools.py
  plugins/orchestrate/agents/james.md
  plugins/orchestrate/agents/james.md.agy
  plugins/orchestrate/agents/james.md.claude
  specs/ARCHITECTURE.md
  specs/ENFORCEMENT-MAP.md
  specs/agents/agent-authority.md
Due: dprint

refactor(polecat): consolidate claude and agy container default configurations
  Dockerfile
  lib/polecat/defaults/agy-settings.json
  lib/polecat/defaults/claude-config.json
  lib/polecat/defaults/claude-settings.json
  specs/enforcement/auto-mode-classifier.md
  specs/polecat/polecat-system.md
Due: dprint

refactor(build): expect <name>.<client>.md instead of <name>.md.<client>
  build/agents.py
  build/tools.py
  lib/polecat/defaults/agy-settings.json
  plugins/orchestrate/agents/james.agy.md
  plugins/orchestrate/agents/james.claude.md
  specs/ARCHITECTURE.md
  specs/agents/agent-authority.md
  specs/future/orchestrator-client-split-review.md
  specs/future/orchestrator-client-split.md
  tests/test_build.py
Due: dprint

rewrite agy instructions, change to claude only
  plugins/ida/agents/agy.claude.md
  plugins/ida/agents/agy.md
  plugins/orchestrate/agents/james.agy.md
Due: dprint

maybe we don't need two versions after all
  plugins/orchestrate/agents/james.agy.md
  plugins/orchestrate/agents/james.claude.md
  plugins/orchestrate/agents/james.md
  plugins/orchestrate/hooks/messages/hearsay.md
Due: dprint

reject invalid tools, don't fail
  build/tools.py
Due: none

move agy out of ida (into polecats)
  plugins/orchestrate/agents/agy.claude.md
Due: dprint

bypass permissions in polecat container
  .agents/agents/rex.md
  lib/polecat/cli.py
  tests/polecat/test_container_invocation.py
Due: dprint

disable hooks, relax permissions
  plugins/ida/hooks/handlers.py
  plugins/orchestrate/agents/agy.claude.md
  plugins/orchestrate/agents/james.md
  plugins/orchestrate/agents/marsha.md
  plugins/orchestrate/hooks/handlers.py
  plugins/pkb/agents/pauli.md
  plugins/rbg/agents/rbg.md
  templates/plugin/hooks/handlers.py
  templates/plugin/hooks/messages/example.md
  templates/plugin/hooks/messages/example.user.md
Due: dprint

remove tool restrictions
  plugins/orchestrate/agents/james.md
  plugins/rbg/agents/rbg.md
Due: dprint

fix(build): omit mcpServers string list in agy agent frontmatter
  build/clients/agy.py
  build/tools.py
  specs/ARCHITECTURE.md
  specs/agents/agent-authority.md
  tests/policy.toml
  tests/test_build.py
Due: dprint

no default
  plugins/orchestrate/agents/agy.claude.md
Due: dprint

fix(agents,specs): standardize agent frontmatter, reconcile authority spec, and cleanup docs
  plugins/ida/agents/ida.md
  plugins/orchestrate/agents/agy.claude.md
  plugins/orchestrate/agents/james.md
  plugins/orchestrate/agents/marsha.md
  plugins/orchestrate/agents/pc.md
  plugins/pkb/agents/pauli.md
  plugins/rbg/agents/rbg.md
  specs/ENFORCEMENT-MAP.md
  specs/agents/agent-authority.md
Due: dprint

Path conditions:
  dprint: any of: \.(md|markdown|mdown)$, \.json$, \.toml$
  check-framework-integrity: any of: (WORKFLOWS|SKILLS)\.md$|workflows/.*\.md$|skills/.*/SKILL\.md$|commands/.*\.md$
