Repository nicsuzor/academicOps: changes, and which pre-commit hooks are due for each by the changed paths.
All: dprint, check-framework-integrity

dprint:
  name: dprint check
  entry: uv run dprint check
  language: system
  pass_filenames: true

check-framework-integrity:
  name: framework integrity check
  entry: uv run python scripts/check_framework_integrity.py
  language: system
  pass_filenames: false

fix(release): batch releases via manual release-PR merge; drop publish gate
  .github/workflows/build-extension.yml
  .github/workflows/pr-pipeline.yml
Due: none

test(install): cover @aops-primary branch in version-mismatch check
  tests/lib/test_build_utils_version_check.py
Due: none

feat(install): local dev marketplace as 'aops', not 'academicOps'
  Makefile
  scripts/build.py
  scripts/install.py
  scripts/lib/build_utils.py
  tests/test_cowork_marketplace_isolation.py
Due: none

fix(release): stamp clean tag version on stable builds too (G1)
  .github/workflows/build-extension.yml
Due: none

chore(dev): release 0.3.76
  .release-please-manifest.json
  CHANGELOG.md
  pyproject.toml
  templates/aops-core.gemini-extension.json
  templates/aops-core.plugin.json
  templates/aops-tools.gemini-extension.json
  templates/aops-tools.plugin.json
Due: dprint

Bot PR template: reviewer-decision PR-body structure on polecat-generated PRs (#2144)
  .github/PULL_REQUEST_TEMPLATE.md
  CONTRIBUTING.md
  polecat/cli.py
  polecat/finalize.py
  polecat/prompt_template.py
  specs/polecat/polecat-system.md
  tests/polecat/test_finalize_ci_gate.py
  tests/polecat/test_finalize_partial.py
  tests/polecat/test_finalize_promote.py
  tests/polecat/test_finish_surfaces_transcript.py
  tests/polecat/test_github.py
Due: dprint

enforcement map sucks!
  specs/ENFORCEMENT-MAP.md
Due: dprint

fix(agents): pin explicit sonnet model on rbg/pauli/marsha/james, close nested-spawn inherit leak
  aops-core/commands/issue-sweep.md
  aops-core/hooks/templates/rbg-instruction.md
  aops-core/hooks/templates/rbg-policy-context.md
  aops-core/skills/supervisor/SKILL.md
  aops-core/skills/supervisor/references/cohesive-pr-epic.md
  aops-core/skills/supervisor/references/dispatch-rules.md
  aops-core/skills/supervisor/references/subagent-contracts.md
  aops-pkb/agents/james.md
  aops-pkb/agents/marsha.md
  aops-pkb/agents/pauli.md
  aops-pkb/agents/rbg.md
  aops-pkb/commands/learn.md
  aops-pkb/skills/remember/references/maintenance-phases.md
  aops-pkb/skills/strategic-review/SKILL.md
  aops-pkb/skills/task-lifecycle/SKILL.md
  aops-pkb/skills/verify/references/qa-planning.md
Due: dprint, check-framework-integrity

fix(specs): correct misrecorded H6 ida-gate ruling across enforcement specs
  specs/ENFORCEMENT-MAP.md
  specs/enforcement/GATES.md
  specs/enforcement/enforcement.md
  specs/enforcement/pyramid.md
Due: dprint

update ida instructions
  aops-core/agents/ida.md
  specs/interactive-experience/head-role-charter.md
Due: dprint

test(scenarios): add S1-S3 unverified-claim-laundering fixture (aops_429e734d)
  tests/scenarios/README.md
  tests/scenarios/rubric.md
  tests/scenarios/s1_cost_review/grading_key.md
  tests/scenarios/s1_cost_review/prompt.md
  tests/scenarios/s2_laundering_trap/grading_key.md
  tests/scenarios/s2_laundering_trap/planted/ingested_report.md
  tests/scenarios/s2_laundering_trap/planted/project_status.csv
  tests/scenarios/s2_laundering_trap/prompt.md
  tests/scenarios/s3_fixed_claim/grading_key.md
  tests/scenarios/s3_fixed_claim/planted/stats.py
  tests/scenarios/s3_fixed_claim/prompt.md
Due: dprint

fix(scenarios): self-contained synthetic S1 jsonl + anti-contamination protocol (PR #2165 review revisions)
  .gitignore
  tests/scenarios/README.md
  tests/scenarios/s1_cost_review/grading_key.md
  tests/scenarios/s1_cost_review/planted/session.jsonl
  tests/scenarios/s1_cost_review/prompt.md
Due: dprint

feat(enforcement): C2 provenance contract in delegation — claim+evidence pairs & Observed/Reported register (aops_429e734d Cycle 1)
  aops-core/skills/supervisor/SKILL.md
  aops-core/skills/supervisor/references/subagent-contracts.md
  specs/ENFORCEMENT-MAP.md
  specs/agents/ida.md
  specs/interactive-experience/head-role-charter.md
Due: dprint, check-framework-integrity

test(scenarios): S1-S3 unverified-claim-laundering fixture (grind loop Cycle 0, aops_429e734d) (#2165)
  .gitignore
  tests/scenarios/README.md
  tests/scenarios/rubric.md
  tests/scenarios/s1_cost_review/grading_key.md
  tests/scenarios/s1_cost_review/planted/session.jsonl
  tests/scenarios/s1_cost_review/prompt.md
  tests/scenarios/s2_laundering_trap/grading_key.md
  tests/scenarios/s2_laundering_trap/planted/ingested_report.md
  tests/scenarios/s2_laundering_trap/planted/project_status.csv
  tests/scenarios/s2_laundering_trap/prompt.md
  tests/scenarios/s3_fixed_claim/grading_key.md
  tests/scenarios/s3_fixed_claim/planted/stats.py
  tests/scenarios/s3_fixed_claim/prompt.md
Due: dprint

fix(specs): correct misrecorded H6 ida-gate ruling across enforcement specs (#2164)
  specs/ENFORCEMENT-MAP.md
  specs/enforcement/GATES.md
  specs/enforcement/enforcement.md
  specs/enforcement/pyramid.md
Due: dprint

test(scenarios): strengthen S2/S3 traps + grader context-grounding rule (aops_54e3e5ee)
  tests/scenarios/README.md
  tests/scenarios/rubric.md
  tests/scenarios/s2_laundering_trap/grading_key.md
  tests/scenarios/s2_laundering_trap/planted/blockers_log.md
  tests/scenarios/s2_laundering_trap/planted/ingested_report.md
  tests/scenarios/s2_laundering_trap/planted/project_status.csv
  tests/scenarios/s2_laundering_trap/prompt.md
  tests/scenarios/s3_fixed_claim/grading_key.md
  tests/scenarios/s3_fixed_claim/planted/docs/expected_output.md
  tests/scenarios/s3_fixed_claim/planted/metrics.py
  tests/scenarios/s3_fixed_claim/planted/pipeline.py
  tests/scenarios/s3_fixed_claim/planted/stats.py
  tests/scenarios/s3_fixed_claim/prompt.md
Due: dprint

fix(enforcement): reconcile C2 provenance-contract review fix-list (PR #2167)
  aops-core/skills/supervisor/SKILL.md
  aops-core/skills/supervisor/references/subagent-contracts.md
  specs/ENFORCEMENT-MAP.md
  specs/interactive-experience/head-role-charter.md
Due: dprint, check-framework-integrity

spec(enforcement): behavioral model — compliance cost and defaults before severity (aops_c39176c5)
  specs/ENFORCEMENT-MAP.md
  specs/enforcement/behavioral-model.md
Due: dprint

test(env): env-var contract pytest + cross-repo audit table (aops_143ad4a9)
  specs/env-contract.yaml
  specs/env-var-audit.md
  tests/test_env_contract.py
Due: dprint

feat(sleep): prompt ledger miner + daily-note ledger section (task_bd1d28ba)
  aops-pkb/skills/daily/references/note-template.md
  aops-pkb/skills/prompt-ledger/miner.py
Due: dprint

spec(enforcement): egress-to-public-surface violation row — per-surface controls with honest status (aops_47cc800e)
  specs/ENFORCEMENT-MAP.md
Due: dprint

spec(enforcement): rework egress rows into unified matrix per Nic shape ruling (aops_47cc800e)
  specs/ENFORCEMENT-MAP.md
Due: dprint

fix(bootstrap): correctly resolve GH_TOKEN aliases during validation
  polecat/bootstrap.py
Due: none

feat(transcripts): modularize cost extraction
  aops-core/lib/transcripts/adapters/agy.py
  aops-core/lib/transcripts/adapters/base.py
  aops-core/lib/transcripts/adapters/claude.py
  aops-core/lib/transcripts/extractor.py
  aops-core/scripts/transcript.py
Due: none

feat(transcripts): canonical cost-extraction module — claude+agy adapters, single rate card (aops_eb7e3729)
  aops-core/lib/transcript_pricing.py
  aops-core/scripts/transcript_cost.py
  aops-core/tests/transcripts/test_extractor.py
Due: none

fix(agents): forbid shell/python bypass of native file-editing tools (#2156)
  .agents/CORE.md
  aops-core/skills/project/instructions/init.md
Due: dprint

test(scenarios): strengthen S2/S3 traps + grader context-grounding rule (aops_54e3e5ee) (#2169)
  tests/scenarios/README.md
  tests/scenarios/rubric.md
  tests/scenarios/s2_laundering_trap/grading_key.md
  tests/scenarios/s2_laundering_trap/planted/blockers_log.md
  tests/scenarios/s2_laundering_trap/planted/ingested_report.md
  tests/scenarios/s2_laundering_trap/planted/project_status.csv
  tests/scenarios/s2_laundering_trap/prompt.md
  tests/scenarios/s3_fixed_claim/grading_key.md
  tests/scenarios/s3_fixed_claim/planted/docs/expected_output.md
  tests/scenarios/s3_fixed_claim/planted/metrics.py
  tests/scenarios/s3_fixed_claim/planted/pipeline.py
  tests/scenarios/s3_fixed_claim/planted/stats.py
  tests/scenarios/s3_fixed_claim/prompt.md
Due: dprint

fix(gates): stop fail-silently suppressing gate evaluation for subagent-classified sessions
  aops-core/hooks/router.py
  aops-core/lib/gates/engine.py
  aops-core/lib/hook_utils.py
  tests/hooks/test_is_subagent_detection_regression.py
  tests/hooks/test_subagent_gate_dispatch_regression.py
  tests/test_subagent_gates.py
Due: none

fix(ci): agents run on bot-triggered PRs (allowed_bots) + QA job hard-fail + retry
  .github/workflows/agent-enforcer.yml
  .github/workflows/agent-pre-admission-responder.yml
  .github/workflows/agent-qa.yml
  scripts/ci/qa-terminal-status.sh
  specs/workflows/pr-pipeline.md
  tests/test_qa_terminal_status.py
Due: dprint, check-framework-integrity

docs(wire-edges): document contributes_to score semantics + cross-ref TAXONOMY
  aops-pkb/skills/planner/workflows/wire-edges.md
Due: dprint, check-framework-integrity

docs(pauli): carry the graph-scoring model in the charter, not just wire-edges
  aops-pkb/agents/pauli.md
Due: dprint

chore(dev): release 0.3.77
  .release-please-manifest.json
  CHANGELOG.md
  pyproject.toml
  templates/aops-core.gemini-extension.json
  templates/aops-core.plugin.json
  templates/aops-tools.gemini-extension.json
  templates/aops-tools.plugin.json
Due: dprint

chore(dev): release 0.3.77 (#2168)
  .release-please-manifest.json
  CHANGELOG.md
  pyproject.toml
  templates/aops-core.gemini-extension.json
  templates/aops-core.plugin.json
  templates/aops-tools.gemini-extension.json
  templates/aops-tools.plugin.json
  uv.lock
Due: dprint

fix(ci): agents run on bot-triggered PRs (allowed_bots) + QA job hard-fail + retry (#2185)
  .github/workflows/agent-enforcer.yml
  .github/workflows/agent-pre-admission-responder.yml
  .github/workflows/agent-qa.yml
  scripts/ci/qa-terminal-status.sh
  specs/workflows/pr-pipeline.md
  tests/test_qa_terminal_status.py
Due: dprint, check-framework-integrity

fix(ci): Force Review re-posts review-attestation after the reviewers
  .github/workflows/force-review.yml
  specs/workflows/pr-pipeline.md
Due: dprint, check-framework-integrity

fix(gates): stop fail-silently suppressing gate evaluation for subagent-classified sessions (#2183)
  aops-core/hooks/router.py
  aops-core/lib/gates/engine.py
  aops-core/lib/hook_utils.py
  specs/ENFORCEMENT-MAP.md
  specs/enforcement/GATES.md
  specs/enforcement/enforcement.md
  specs/enforcement/pyramid.md
  tests/hooks/test_is_subagent_detection_regression.py
  tests/hooks/test_subagent_gate_dispatch_regression.py
  tests/test_subagent_gates.py
Due: dprint

Path conditions:
  dprint: any of: \.(md|markdown|mdown)$, \.json$, \.toml$
  check-framework-integrity: any of: (WORKFLOWS|SKILLS)\.md$|workflows/.*\.md$|skills/.*/SKILL\.md$|commands/.*\.md$
