Repository nicsuzor/academicOps: changes, and which pre-commit hooks are due for each by the changed paths.
All: dprint, check-framework-integrity

.pre-commit-config.yaml:

# Pre-commit hooks for academicOps framework governance
# See https://pre-commit.com for more info

repos:
  # Markdown/JSON/TOML validation (dprint - check-only, no auto-fix)
  # Ruff check --fix auto-fixes what it can; ruff-format checks formatting
  - repo: local
    hooks:
      - id: dprint
        name: dprint check
        entry: uv run dprint check
        language: system
        types_or: [markdown, json, toml]
        pass_filenames: true

  # Markdown linting (catches issues dprint doesn't fix)
  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.12.1
    hooks:
      - id: markdownlint-cli2
        exclude: '^archived/'

  # Standard hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: '\.excalidraw$'
      - id: end-of-file-fixer
        exclude: '\.excalidraw$'
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
        args: ['--maxkb=500']

  # Python linting (auto-fix enabled)
  # Ruff check --fix auto-fixes what it can; ruff-format checks formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.4
    hooks:
      - id: ruff
        args: [--fix]
        exclude: '^archived/'
      - id: ruff-format
        args: [--check]
        exclude: '^archived/'

  # Framework integrity checks (index wikilinks, skill entries, workflow length)
  # Consolidates check-workflow-length + new index integrity validation
  - repo: local
    hooks:
      - id: check-framework-integrity
        name: framework integrity check
        entry: uv run python scripts/check_framework_integrity.py
        language: system
        pass_filenames: false
        files: '(WORKFLOWS|SKILLS)\.md$|workflows/.*\.md$|skills/.*/SKILL\.md$|commands/.*\.md$'

  # Type checking and full framework health checks run in CI only
  # (see .github/workflows/framework-health.yml)
  #
  # Moved to CI:
  # - basedpyright: full type analysis too slow for every commit
  # - check-skill-line-count: whole-repo scan, not file-scoped
  # - check-orphan-files: whole-repo scan, not file-scoped
  # - check-framework-integrity --full: slow full codebase wikilink scan
  # - audit_framework_health: comprehensive audit

install cowork properly
  Makefile
  build/clients/agy.py
  build/install.py
  build/marketplace.py
  plugins/aops/manifest/mcp.template.json
  scripts/clean_global_configs.sh
  scripts/clean_plugins.py
  specs/build-and-install.md
  tests/test_build.py
  tests/test_clean_plugins.py
  tests/test_install.py
Due: dprint

add test for cowork plugin
  Makefile
  tests/test_plugin_manifests.py
Due: none

test: realign axiom-roster and honesty-gate tests with shipped behaviour
  tests/test_cope.py
  tests/test_stop_gates.py
Due: none

Enhance safety checks in clean_global_configs.sh
  scripts/clean_global_configs.sh
Due: none

Remove global config cleanup from clean target
  Makefile
Due: none

refactor(plugins): merge orchestrate plugin into aops
  build/marketplace.toml
  lib/hooks/premise_check_gate.py
  lib/hooks/task_body_gate.py
  plugins/aops/agents/adversary.md
  plugins/aops/agents/james.md
  plugins/aops/agents/marsha.md
  plugins/aops/agents/sara.md
  plugins/aops/hooks/agy_tracer.py
  plugins/aops/hooks/claude_code_tracer.py
  plugins/aops/hooks/handlers.py
  plugins/aops/hooks/messages/hearsay.md
  plugins/aops/hooks/messages/hearsay.user.md
  plugins/aops/hooks/messages/honesty.md
  plugins/aops/hooks/messages/honesty.user.md
  plugins/aops/hooks/premise_check_gate.py
  plugins/aops/hooks/premise_check_verdict.py
  plugins/aops/manifest/hooks.template.json
  plugins/aops/manifest/plugin.toml
  plugins/aops/skills/premise-check/SKILL.md
  plugins/aops/skills/premise-check/scripts/verdict.py
  plugins/aops/skills/session-trace/SKILL.md
  plugins/aops/skills/session-trace/scripts/phoenix_trace.py
  plugins/aops/skills/tick/SKILL.md
  plugins/aops/skills/verify/SKILL.md
  plugins/orchestrate/README.md
  plugins/orchestrate/hooks/handlers.py
  plugins/orchestrate/hooks/messages/hearsay.md
  plugins/orchestrate/hooks/messages/hearsay.user.md
  plugins/orchestrate/manifest/hooks.template.json
  plugins/orchestrate/manifest/plugin.template.json
  plugins/orchestrate/manifest/plugin.toml
  plugins/orchestrate/skills/premise-check/SKILL.md
  plugins/orchestrate/skills/premise-check/scripts/verdict.py
  tests/test_hooks.py
  tests/test_orchestrate_live_collector.py
  tests/test_orchestrate_tracer.py
  tests/test_premise_check_gate.py
  tests/test_stop_gates.py
  tests/test_task_body_gate.py
Due: dprint, check-framework-integrity

clean for release
  .agents/templates/develop-specification.md
  plugins/aops/skills/agy/SKILL.md
  plugins/aops/skills/decompose/SKILL.md
  plugins/aops/templates/wf-fact-check.md
  plugins/aops/templates/wf-qa-visual.md
  plugins/aops/templates/wf-qa.md
  plugins/aops/templates/wf-signoff.md
  plugins/aops/templates/wf-structural-map.md
  plugins/aops/templates/wf-tdd.md
  plugins/aops/workflows/archive/academic-paper.md
  plugins/aops/workflows/archive/audit.md
  plugins/aops/workflows/archive/batch.md
  plugins/aops/workflows/archive/burst.md
  plugins/aops/workflows/archive/decision-briefing.md
  plugins/aops/workflows/archive/email-capture.md
  plugins/aops/workflows/archive/email-reply.md
  plugins/aops/workflows/archive/email-triage.md
  plugins/aops/workflows/archive/external-batch-submission.md
  plugins/aops/workflows/archive/feature-dev.md
  plugins/aops/workflows/archive/finalize-report.md
  plugins/aops/workflows/archive/framework-gate.md
  plugins/aops/workflows/archive/interactive-followup.md
  plugins/aops/workflows/archive/investigation.md
  plugins/aops/workflows/archive/live-fix-loop.md
  plugins/aops/workflows/archive/pr-review.md
  plugins/aops/workflows/archive/reference-letter.md
  plugins/aops/workflows/archive/review-response.md
  plugins/aops/workflows/archive/simple-question.md
  plugins/aops/workflows/archive/task-tracking.md
  plugins/aops/workflows/archive/tdd.md
  plugins/aops/workflows/archive/worktree-merge.md
  plugins/aops/workflows/wf-fact-check.md
  plugins/aops/workflows/wf-harvest.md
  plugins/aops/workflows/wf-hydrate.md
  plugins/aops/workflows/wf-loop.md
  plugins/aops/workflows/wf-prompt-repair.md
  plugins/aops/workflows/wf-signoff.md
  plugins/aops/workflows/wf-tdd.md
Due: dprint, check-framework-integrity

chore(dev): release 0.9.1
  .release-please-manifest.json
  CHANGELOG.md
  pyproject.toml
Due: dprint

pr review template
  .agents/templates/wf-pr-merge-prep.md
Due: dprint

move orchestrate into aops
  tests/test_email_triage_workflow.py
Due: none

move orchestrate into aops
  pyproject.toml
  specs/ARCHITECTURE.md
  specs/ENFORCEMENT-MAP.md
  specs/agents/ida-supervision-migration.md
  specs/polecat/spec-image-staleness-detection.md
  tests/polecat/test_image_staleness.py
  tests/polecat/test_pc_agent_dispatch.py
  tests/test_build.py
  tests/test_orchestrate_live_collector.py
  tests/test_orchestrate_tracer.py
  tests/test_premise_check_gate.py
  tests/test_session_trace_scripts.py
  tests/test_shipped_hooks.py
Due: dprint

add wf-supervised-delegation workflow template
  .agents/templates/wf-supervised-delegation.md
Due: dprint

Cut static agent context with tools: allowlists; de-dup PKB MCP
  build/marketplace.py
  plugins/aops/agents/ida.md
  plugins/aops/agents/james.md
  plugins/aops/agents/marsha.md
  plugins/aops/agents/pauli.md
  plugins/aops/hooks/premise_check_gate.py
  plugins/aops/hooks/premise_check_verdict.py
  plugins/aops/manifest/mcp.template.json
  plugins/aops/skills/premise-check/SKILL.md
  tests/test_build.py
  tests/test_premise_check_gate.py
Due: dprint, check-framework-integrity

Revert tools: allowlists; measurement refuted the premise
  plugins/aops/agents/ida.md
  plugins/aops/agents/james.md
  plugins/aops/agents/marsha.md
  plugins/aops/agents/pauli.md
  tests/test_build.py
Due: dprint

Rework polecat CLI & Docker image with Docker Sandbox kits for claude and agy
  .sbx/kits/agy/spec.yaml
  .sbx/kits/claude/spec.yaml
  Dockerfile
  Makefile
  lib/polecat/cli.py
  lib/polecat/defaults/docker_gemini_fixups.py
  lib/polecat/entrypoint.sh
  lib/polecat/kits/agy/spec.yaml
  lib/polecat/kits/claude/spec.yaml
  plugins/aops/manifest/plugin.toml
  plugins/aops/skills/polecat/SKILL.md
  specs/polecat/polecat-system.md
  specs/polecat/spec-base-ref-resolution.md
  specs/polecat/spec-image-staleness-detection.md
  tests/polecat/test_cidfile_retry.py
  tests/polecat/test_cli_seed_verification.py
  tests/polecat/test_container_config.py
  tests/polecat/test_container_invocation.py
  tests/polecat/test_container_smoke.py
  tests/polecat/test_credential_claims.py
  tests/polecat/test_delivery_guard.py
  tests/polecat/test_detached_mode.py
  tests/polecat/test_entrypoint_seed_construction.py
  tests/polecat/test_image_staleness.py
  tests/polecat/test_kits.py
  tests/polecat/test_pc_agent_dispatch.py
  tests/polecat/test_pkb_url_required.py
  tests/polecat/test_print_timeout.py
  tests/polecat/test_project_aliases.py
  tests/polecat/test_quiet_flag.py
  tests/polecat/test_run_record.py
  tests/polecat/test_sbx_invocation.py
  tests/polecat/test_sessions_root.py
  tests/polecat/test_setup_staging.py
  tests/polecat/test_stream_json_contract.py
  tests/polecat/test_task_headless.py
  tests/polecat/test_transcript_persistence.py
  tests/polecat/test_workspace_isolation.py
Due: dprint, check-framework-integrity

feat(dispatch): add aops sandbox kit and move kits to lib/kits
  Makefile
  lib/kits/agy/spec.yaml
  lib/kits/aops/spec.yaml
  lib/kits/claude/spec.yaml
  lib/polecat/kits/agy/spec.yaml
  lib/polecat/kits/claude/spec.yaml
Due: none

fix(build): ship kits from lib/kits, not lib/polecat/kits
  plugins/aops/manifest/plugin.toml
Due: dprint

fix(kits): put agy on a PATH the sandbox agent user can reach
  lib/kits/agy/spec.yaml
Due: none

feat(hooks): ground UserPromptSubmit in pkb search with fallback
  plugins/aops/hooks/handlers.py
  specs/ENFORCEMENT-MAP.md
  tests/policy.toml
  tests/test_user_prompt_submit.py
Due: dprint

fix(hooks): resolve pkb binary from PATH or hook cwd without hardcoded paths
  plugins/aops/hooks/handlers.py
  tests/test_user_prompt_submit.py
Due: none

Delete specs and enforcement rows for the removed polecat CLI
  .agents/skills/debug/SKILL.md
  lib/polecat/staleness.py
  plugins/aops/hooks/premise_check_gate.py
  plugins/aops/hooks/premise_check_verdict.py
  plugins/aops/skills/dump/SKILL.md
  specs/ENFORCEMENT-MAP.md
  specs/README.md
  specs/polecat/spec-base-ref-resolution.md
  specs/polecat/spec-image-staleness-detection.md
  specs/polecat/tmux-interactive-driving.md
  tests/test_hooks.py
Due: dprint, check-framework-integrity

change hook names
  plugins/aops/hooks/handlers.py
  plugins/aops/hooks/premise_check_gate.py
  plugins/aops/manifest/mcp.template.json
  pyproject.toml
  templates/cloud_setup.sh
  tests/polecat/test_pc_agent_dispatch.py
  tests/test_build.py
  tests/test_ida_stop_gate_built.py
  tests/test_orchestrate_live_collector.py
  tests/test_orchestrate_tracer.py
  tests/test_premise_check_gate.py
  tests/test_session_trace_scripts.py
  tests/test_shipped_hooks.py
Due: dprint

add skill and debugs
  .claude/settings.json
  .gitignore
  lib/kits/aops/spec.yaml
Due: dprint

change plugins
  templates/cloud_setup.sh
Due: none

add prebuilt container and use env vars to configure
  Dockerfile
  lib/kits/agy/spec.yaml
  lib/kits/aops/spec.yaml
  plugins/aops/skills/dispatch/SKILL.md
  specs/dispatch/dispatch-system.md
Due: dprint, check-framework-integrity

docs: enforce task branch naming, container naming after branch, and single PR
  lib/kits/agy/spec.yaml
  lib/kits/aops/spec.yaml
  plugins/aops/agents/sara.md
  plugins/aops/skills/dispatch/SKILL.md
  specs/dispatch/dispatch-system.md
Due: dprint, check-framework-integrity

update agents
  plugins/aops/agents/james.md
Due: dprint

fix(hooks): address review comments and make test suite green
  plugins/aops/hooks/handlers.py
  plugins/aops/hooks/premise_check_gate.py
  plugins/aops/hooks/premise_check_verdict.py
  specs/ENFORCEMENT-MAP.md
  tests/test_user_prompt_submit.py
Due: dprint

fix: resolve review comments, restore tooling dependencies, and align test suite
  Dockerfile
  plugins/aops/hooks/handlers.py
  plugins/aops/manifest/hooks.template.json
  specs/ENFORCEMENT-MAP.md
  specs/enforcement/enforcement.md
  tests/polecat/test_kits.py
  tests/policy.toml
  tests/test_ida_stop_gate_built.py
  tests/test_plugin_manifests.py
  tests/test_stop_gates.py
Due: dprint

fix(build): resolve orchestrate-to-aops migration fallout and client mcp splitting
  plugins/aops/manifest/mcp.template.json
  pyproject.toml
  tests/test_build.py
  tests/test_orchestrate_live_collector.py
  tests/test_orchestrate_tracer.py
Due: dprint

chore(dev): release 0.9.2
  .release-please-manifest.json
  CHANGELOG.md
  pyproject.toml
Due: dprint

feat(templates): add wf-trial-critique generic blind-run fragment
  .agents/templates/wf-trial-critique.md
Due: dprint

fix(sbx): finish aops-crew image rename and add dev-plugin refresh
  Makefile
  lib/kits/agy/spec.yaml
  lib/kits/aops/spec.yaml
  tests/polecat/test_kits.py
Due: none

feat(templates): add wf-decompose-knob, the subject half of the knob trial
  .agents/templates/wf-decompose-knob.md
Due: dprint

fix typo in makefile
  Makefile
Due: none

feat(templates): add wf-decompose-trial, replacing the over-engineered knob
  .agents/templates/wf-decompose-knob.md
  .agents/templates/wf-decompose-trial.md
Due: dprint
