Repository nicsuzor/academicOps: changes, and which pre-commit hooks are due for each by the changed paths.
All: dprint, check-framework-integrity

dprint:
  name: dprint check
  entry: uv run dprint check
  language: system
  pass_filenames: true

check-framework-integrity:
  name: framework integrity check
  entry: uv run python scripts/check_framework_integrity.py
  language: system
  pass_filenames: false

feat(pkb): name the systemd trigger for /pkb:reconcile and capture pickup (#2652)
  scripts/systemd-user/aops-reconcile-run.sh
  scripts/systemd-user/aops-reconcile.service
  scripts/systemd-user/aops-reconcile.timer
  specs/workflows/reconcile.md
Due: dprint, check-framework-integrity

cowork: ship services as a literal http url baked from PKB_MCP_URL, drop the stdio proxy
  Makefile
  build/install.py
  build/marketplace.py
  specs/build-and-install.md
  tests/test_build.py
  tests/test_install.py
Due: dprint

feat(remember): define Focus scoping for consolidation cycles; fix stale tool names and sleep-cycle template paths
  plugins/pkb/skills/remember/references/consolidation.md
  templates/github-workflows/sleep-cycle.yml
Due: dprint

fix(ci): stop the ready_for_review marker gate silently failing open on paginated timelines
  .github/workflows/automerge-v010.yml
Due: none

fix(pkb): fold graph-hygiene harvest and consolidation into /reconcile (#2655)
  plugins/pkb/skills/reconcile/SKILL.md
Due: dprint, check-framework-integrity

Refuse a polecat run marking its own PR ready for review
  plugins/aops/hooks/handlers.py
  tests/test_aops_pr_ready_guard.py
Due: none

docs(pkb): design the capture-intake route as a /reconcile-trigger sibling
  specs/workflows/capture-intake.md
Due: dprint, check-framework-integrity

fix(ci): stop the ready_for_review marker gate silently failing open on paginated timelines (#2657)
  .github/workflows/automerge-v010.yml
Due: none

docs(pkb): design the capture-intake route as a /reconcile-trigger sibling (#2659)
  specs/workflows/capture-intake.md
Due: dprint, check-framework-integrity

fix(polecat): use ccstatusline flexMode "full" instead of "full-minus-40"
  lib/polecat/defaults/agystatusline-settings.json
  lib/polecat/defaults/ccstatusline-settings.json
Due: dprint

fix(pkb): install-time literal PKB URL, not a runtime shell dependency
  INSTALL.md
  Makefile
  README.md
  build/install.py
  build/marketplace.py
  plugins/pkb/manifest/mcp.template.json
  plugins/pkb/manifest/plugin.template.json
  specs/build-and-install.md
  tests/test_build.py
  tests/test_install.py
Due: dprint

Fix pytest red on #2658 and close the second-clone bypass in guard_own_pr_ready
  plugins/aops/hooks/handlers.py
  tests/conftest.py
  tests/test_aops_pr_ready_guard.py
  tests/test_pkb_handlers.py
  tests/test_user_prompt_submit.py
Due: none

Refuse a polecat run marking its own PR ready for review (#2658)
  plugins/aops/hooks/handlers.py
  tests/conftest.py
  tests/test_aops_pr_ready_guard.py
  tests/test_pkb_handlers.py
  tests/test_user_prompt_submit.py
Due: none

fix(polecat): use ccstatusline flexMode "full" instead of "full-minus-40" (#2660)
  lib/polecat/defaults/agystatusline-settings.json
  lib/polecat/defaults/ccstatusline-settings.json
Due: dprint

fix(pkb): key polecat's staged pluginConfigs to pkb@academicOps, not aops
  lib/polecat/cli.py
  specs/build-and-install.md
  tests/polecat/test_setup_staging.py
Due: dprint

fix(pkb): install-time literal PKB URL, not a runtime shell dependency (#2661)
  INSTALL.md
  Makefile
  README.md
  build/install.py
  build/marketplace.py
  lib/polecat/cli.py
  plugins/pkb/manifest/mcp.template.json
  plugins/pkb/manifest/plugin.template.json
  specs/build-and-install.md
  tests/polecat/test_setup_staging.py
  tests/test_build.py
  tests/test_install.py
Due: dprint

feat(remember): define Focus scoping for consolidation cycles; fix stale tool names and sleep-cycle template paths (#2656)
  plugins/pkb/skills/remember/references/consolidation.md
  templates/github-workflows/sleep-cycle.yml
Due: dprint

refactor(pkb): bring workflow assembly ordering and scope rules into brief
  plugins/pkb/skills/brief/SKILL.md
Due: dprint, check-framework-integrity

fix(agents): drop dead mcp__email__*/mcp__home__*/mcp__phoenix__* grants
  plugins/ida/agents/ida.md
  plugins/pkb/agents/pauli.md
  tests/test_build.py
Due: dprint

fix(agents): drop dead mcp__email__*/mcp__home__*/mcp__phoenix__* grants (#2663)
  plugins/ida/agents/ida.md
  plugins/pkb/agents/pauli.md
  tests/test_build.py
Due: dprint

fix(pkb): replace stale flat pkb__* tool-call syntax with code-mode
  .agents/templates/wf-blind-dupe.md
  plugins/aops/skills/dump/SKILL.md
  plugins/aops/skills/hydrate/SKILL.md
  plugins/pkb/agents/pauli.md
  plugins/pkb/skills/brief/SKILL.md
  plugins/pkb/skills/pull/SKILL.md
  plugins/pkb/skills/q/SKILL.md
  plugins/pkb/skills/reconcile/SKILL.md
  plugins/pkb/skills/remember/SKILL.md
  plugins/pkb/skills/remember/references/consolidation.md
  plugins/pkb/skills/workflow-library/SKILL.md
  plugins/tools/skills/deep-research/procedures/pkb-capture.md
  plugins/tools/skills/extract/SKILL.md
  plugins/tools/skills/new-project/instructions/init.md
Due: dprint, check-framework-integrity

fix(skills): replace nonexistent task_search tool with pkb.search
  plugins/aops/skills/hydrate/SKILL.md
  plugins/tools/skills/deep-research/procedures/pkb-capture.md
Due: dprint, check-framework-integrity

fix(pkb): replace stale flat pkb__* tool-call syntax with code-mode (#2664)
  .agents/templates/wf-blind-dupe.md
  plugins/aops/skills/dump/SKILL.md
  plugins/aops/skills/hydrate/SKILL.md
  plugins/pkb/agents/pauli.md
  plugins/pkb/skills/brief/SKILL.md
  plugins/pkb/skills/pull/SKILL.md
  plugins/pkb/skills/q/SKILL.md
  plugins/pkb/skills/reconcile/SKILL.md
  plugins/pkb/skills/remember/SKILL.md
  plugins/pkb/skills/remember/references/consolidation.md
  plugins/pkb/skills/workflow-library/SKILL.md
  plugins/tools/skills/deep-research/procedures/pkb-capture.md
  plugins/tools/skills/extract/SKILL.md
  plugins/tools/skills/new-project/instructions/init.md
Due: dprint, check-framework-integrity

fix(pkb): point pauli at the linking Map of Content, drop stale edge/type claims
  plugins/pkb/agents/pauli.md
Due: dprint

fix(aops): remove the own-PR-ready guard (calibration: aops_3c133222)
  plugins/aops/hooks/handlers.py
  tests/test_aops_pr_ready_guard.py
  tests/test_pkb_handlers.py
  tests/test_user_prompt_submit.py
Due: none

fix(pkb): point pauli at the linking Map of Content, drop stale edge/type claims (#2666)
  plugins/pkb/agents/pauli.md
Due: dprint

fix(aops): remove the own-PR-ready guard (calibration: aops_3c133222) (#2667)
  plugins/aops/hooks/handlers.py
  tests/test_aops_pr_ready_guard.py
  tests/test_pkb_handlers.py
  tests/test_user_prompt_submit.py
Due: none

fix(launchd): source ~/.env so the plist actually carries GENAI_ENGINE_* tracing vars
  scripts/macos-launchd/com.aops.envvars.plist
  scripts/macos-launchd/launchd-env.sh
Due: none

fix(pkb): state pauli's linking digest inline, resolve 5 startup contradictions
  plugins/pkb/agents/pauli.md
Due: dprint

Give strategic-review a strategic-fit lens with teeth
  plugins/aops/agents/james.md
  plugins/aops/skills/strategic-review/SKILL.md
  plugins/pkb/agents/pauli.md
  specs/workflows/strategic-review.md
Due: dprint, check-framework-integrity

fix(pkb): state pauli's linking digest inline, resolve 5 startup contradictions (#2670)
  plugins/pkb/agents/pauli.md
Due: dprint

Give strategic-review a strategic-fit lens with teeth (#2669)
  plugins/aops/agents/james.md
  plugins/aops/skills/strategic-review/SKILL.md
  plugins/pkb/agents/pauli.md
  specs/workflows/strategic-review.md
Due: dprint, check-framework-integrity

fix(launchd): source ~/.env so the plist actually carries GENAI_ENGINE_* tracing vars (#2668)
  scripts/macos-launchd/com.aops.envvars.plist
  scripts/macos-launchd/launchd-env.sh
Due: none

fix(build): auto-refresh installed plugin cache on git pull/checkout
  .pre-commit-config.yaml
  specs/build-and-install.md
Due: dprint

fix(polecat): resolve agy's YOUR_PKB_URL placeholder at container start
  lib/polecat/defaults/docker_gemini_fixups.py
  lib/polecat/entrypoint.sh
  specs/build-and-install.md
  tests/polecat/test_docker_gemini_fixups.py
  tests/polecat/test_entrypoint_pkb_mcp_fixup.py
Due: dprint

docs(build): disclose refresh-hook cost and blast radius
  specs/build-and-install.md
Due: dprint

fix(build): auto-refresh installed plugin cache on git pull/checkout (#2671)
  .pre-commit-config.yaml
  specs/build-and-install.md
Due: dprint

feat(polecat): add the aops MCP server (dispatch/inspect/stop) as plain tools
  Makefile
  lib/polecat/Dockerfile.server
  lib/polecat/cli.py
  lib/polecat/server.py
  pyproject.toml
  specs/ARCHITECTURE.md
  specs/polecat/polecat-mcp-server.md
  tests/polecat/test_container_config.py
  tests/polecat/test_mcp_server.py
  tests/polecat/test_print_timeout.py
  tests/polecat/test_sessions_root.py
  tests/polecat/test_workspace_isolation.py
Due: dprint

fix(polecat): resolve agy's YOUR_PKB_URL placeholder at container start (#2672)
  lib/polecat/defaults/docker_gemini_fixups.py
  lib/polecat/entrypoint.sh
  specs/build-and-install.md
  tests/polecat/test_docker_gemini_fixups.py
  tests/polecat/test_entrypoint_pkb_mcp_fixup.py
Due: dprint

feat(ida): grant Cron* tools to Ida and map in build tool_map
  build/tool_map.toml
  plugins/ida/agents/ida.md
  tests/test_build.py
Due: dprint

Path conditions:
  dprint: any of: \.(md|markdown|mdown)$, \.json$, \.toml$
  check-framework-integrity: any of: (WORKFLOWS|SKILLS)\.md$|workflows/.*\.md$|skills/.*/SKILL\.md$|commands/.*\.md$
