Repository nicsuzor/academicOps: changes, and which pre-commit hooks are due for each by the changed paths.
All: radon-complexity, radon-maintainability, test-architecture, pytest

radon-complexity:
  name: Check code complexity
  entry: uv run radon cc --min B --total-average
  language: system
  pass_filenames: true

radon-maintainability:
  name: Check maintainability index
  entry: uv run radon mi --min B
  language: system
  pass_filenames: true

test-architecture:
  name: Enforce test architecture rules
  entry: uv run python scripts/check_test_architecture.py
  language: system
  pass_filenames: false

pytest:
  name: Run tests (parallel)
  entry: uv run pytest -n auto -m "not slow and not integration and not endtoend"
  language: system
  pass_filenames: false
  stages:
  - pre-commit

fix(task-viz): NO GUESSING - only explicit connections
  agents/task-viz.md
Due: none

feat(commands): Add /parallel-batch command for concurrent file processing
  commands/parallel-batch.md
Due: none

feat(hooks): Add intent classifier for Prompt Intent Router
  hooks/intent_classifier.py
  tests/test_intent_classifier.py
Due: radon-complexity, radon-maintainability, test-architecture, pytest

feat(hooks): Add intent-to-skill mapping and timeout handling
  hooks/intent_classifier.py
  tests/test_intent_classifier.py
Due: radon-complexity, radon-maintainability, test-architecture, pytest

feat(hooks): Add prompt router hook with failure handling
  hooks/prompt_router.py
  tests/test_prompt_router.py
Due: radon-complexity, radon-maintainability, test-architecture, pytest

feat(hooks): Add latency test and enable prompt router in UserPromptSubmit
  config/claude/settings.json
  tests/test_prompt_router.py
Due: radon-complexity, radon-maintainability, test-architecture, pytest

refactor(hooks): Rebuild prompt router per spec - spawn subagent
  config/claude/settings.json
  hooks/intent_classifier.py
  hooks/prompt_router.py
  tests/test_intent_classifier.py
  tests/test_prompt_router.py
Due: radon-complexity, radon-maintainability, test-architecture, pytest

fix(hooks): Correct output format and remove conflicting instructions
  config/claude/settings.json
  hooks/log_userpromptsubmit.py
  hooks/prompt_router.py
  hooks/prompts/user-prompt-submit.md
  hooks/test_marker_hook.py
Due: radon-complexity, radon-maintainability, pytest

refactor(logging): Split monolithic LOG.md into thematic learning files
  agents/log-agent.md
  commands/learn.md
  commands/log.md
  scripts/migrate_log_entries.py
Due: radon-complexity, radon-maintainability, pytest

docs(hooks): Document additionalContext tool-triggering capability
  config/claude/settings.json
  hooks/test_marker_hook.py
  skills/framework/references/hooks_guide.md
Due: radon-complexity, radon-maintainability, pytest

feat(hooks): Implement simple keyword-based prompt router
  config/claude/settings.json
  hooks/prompt_router.py
Due: radon-complexity, radon-maintainability, pytest

test(tools): Add FastMCP proxy fixture for bmem MCP testing
  tests/tools/__init__.py
  tests/tools/conftest.py
  tests/tools/test_bmem_retrieve.py
Due: radon-complexity, radon-maintainability, test-architecture, pytest

docs(framework): Add session transcript generation to debug workflow
  README.md
  skills/framework/workflows/02-debug-framework-issue.md
Due: none

feat(workflow): Add iOS note capture via GitHub Actions + Claude Code
  config/workflows/ios-note-capture.yml
  tests/test_ios_note_capture_workflow.py
Due: radon-complexity, radon-maintainability, test-architecture, pytest

docs(debug): Note that transcripts don't show hook injections
  skills/framework/workflows/02-debug-framework-issue.md
Due: none

fix(mcp): use podman instead of docker for container MCPs
  config/claude/mcp.json
Due: none

test(hooks): Add prompt router tests with xfail for Haiku subagent
  tests/test_prompt_router.py
Due: radon-complexity, radon-maintainability, test-architecture, pytest

feat(hooks): Add Haiku classifier spawn instruction to prompt router
  hooks/prompt_router.py
  tests/test_prompt_router.py
Due: radon-complexity, radon-maintainability, test-architecture, pytest

Add MCP config cleanup to setup.sh with test
  setup.sh
  tests/test_framework_installation.py
Due: radon-complexity, radon-maintainability, test-architecture, pytest

Add test verifying jq cleanup preserves non-MCP data
  tests/test_framework_installation.py
Due: radon-complexity, radon-maintainability, test-architecture, pytest

test(e2e): Add session-tracked skill invocation tests
  tests/integration/conftest.py
  tests/integration/test_skill_invocation_e2e.py
Due: radon-complexity, radon-maintainability, test-architecture, pytest

fix(tests): Tests must pass or fail, never skip
  tests/README.md
  tests/integration/test_skill_invocation_e2e.py
Due: radon-complexity, radon-maintainability, test-architecture, pytest

Fix MCP server config: merge into ~/.claude.json
  setup.sh
Due: none

Add Claude Code config reference to framework skill
  skills/framework/SKILL.md
  skills/framework/references/claude-code-config.md
Due: none

fix(test): Increase bmem test timeout to 120s
  tests/integration/test_skill_invocation_e2e.py
Due: radon-complexity, radon-maintainability, test-architecture, pytest

bmem: Add entity type selection guidance
  skills/bmem/SKILL.md
Due: none

fix(test): Increase timeouts and accept MCP tools for task test
  tests/integration/test_skill_invocation_e2e.py
Due: radon-complexity, radon-maintainability, test-architecture, pytest

fix(test): Require actual Skill invocation, not just MCP tools
  tests/integration/test_skill_invocation_e2e.py
Due: radon-complexity, radon-maintainability, test-architecture, pytest

feat(hooks): Use MANDATORY language in prompt router
  hooks/prompt_router.py
  tests/test_prompt_router.py
Due: radon-complexity, radon-maintainability, test-architecture, pytest

"Claude PR Assistant workflow"
  .github/workflows/claude.yml
Due: none

"Claude Code Review workflow"
  .github/workflows/claude-code-review.yml
Due: none

feat(setup): Configure bmem default project during setup
  scripts/setup.sh
Due: none

excal
  CLAUDE.md
  agents/task-viz.md
  commands/task-viz.md
Due: none

fix(bmem): Document critical mental model to prevent duplication
  agents/email-extractor.md
  config/claude/settings.json
  skills/bmem/SKILL.md
Due: none

feat(framework): Add spec for topic-based learning logs
  agents/email-extractor.md
  skills/framework/specs/2025-11-20_topic-based-learning-logs.md
Due: none

refactor(tests): Move framework skill tests to main test directory
  tests/test_core_md_task_guidance.py
  tests/test_email_workflow_guidance.py
  tests/test_email_workflow_tools.py
Due: radon-complexity, radon-maintainability, test-architecture, pytest

fix(tests): Update test_paths.py for new AOPS/ACA_DATA structure
  tests/test_paths.py
Due: radon-complexity, radon-maintainability, test-architecture, pytest

fix(tests): Update test_conftest.py for new AOPS/ACA_DATA structure
  tests/test_conftest.py
Due: radon-complexity, radon-maintainability, test-architecture, pytest

fix(bmem,extractor): Prevent invalid category/relation invention
  skills/bmem/SKILL.md
  skills/bmem/references/approved-categories-relations.md
  skills/extractor/SKILL.md
Due: none

fix(tests): Update test_skills_readme_integrity.py paths
  tests/test_skills_readme_integrity.py
Due: radon-complexity, radon-maintainability, test-architecture, pytest

Path conditions:
  radon-complexity: any of: \.py$
  radon-maintainability: any of: \.py$
  test-architecture: any of: ^tests/.*\.py$
  pytest: any of: \.py$
