Repository nicsuzor/academicOps: changes, and which pre-commit hooks are due for each by the changed paths.
All: dprint, check-framework-integrity

dprint:
  name: dprint check
  entry: uv run dprint check
  language: system
  pass_filenames: true

check-framework-integrity:
  name: framework integrity check
  entry: uv run python scripts/check_framework_integrity.py
  language: system
  pass_filenames: false

rex: fix the blocked route instead of routing around it
  .agents/agents/rex.md
Due: dprint

docs(dogfood): add surface invariant to skill
  .agents/skills/dogfood/SKILL.md
Due: dprint, check-framework-integrity

fix(dogfood): restore force of named-surface invariant
  .agents/skills/dogfood/SKILL.md
Due: dprint, check-framework-integrity

docs: update CORE.md with established cause of #2387
  .agents/CORE.md
Due: dprint

Ship the email-triage skill and restore the build test fixtures (rebuilds #2388)
  build/testdata/lib/shared-dir/foo.md
  build/testdata/lib/shared-hook/hook.py
  plugins/pkb/skills/wf-email-triage/SKILL.md
  specs/meta/doc-taxonomy.md
  tests/test_dangling_plugin_refs.py
  tests/test_wf_email_triage.py
Due: dprint, check-framework-integrity

Drop the duplicate email-triage skill; document workflows/ instead
  plugins/pkb/skills/wf-email-triage/SKILL.md
  specs/meta/doc-taxonomy.md
  tests/test_email_triage_workflow.py
  tests/test_wf_email_triage.py
Due: dprint, check-framework-integrity

split rex's charter: supervision doctrine to /dogfood, execution to /debug
  .agents/agents/rex.md
  .agents/skills/debug/SKILL.md
  .agents/skills/dogfood/SKILL.md
  plugins/ida/agents/ida.md
  specs/README.md
  specs/agents/supervision-split.md
Due: dprint, check-framework-integrity

fix(transcripts): stop HTML-escaping from defeating credential redaction
  lib/py/transcripts/domain/renderer.py
  tests/transcripts/test_secret_redaction.py
Due: none

test(transcripts): align assertions with Markdown carrying text verbatim
  tests/transcripts/test_r4_adversarial_stress.py
  tests/transcripts/test_r4_renderer_hardening.py
  tests/transcripts/test_subagents.py
Due: none

fix(hooks): drop the cross-plugin read of rbg's OTel module
  lib/hooks/dispatch.py
Due: none

docs(specs): correct two records the merge made untrue
  specs/polecat/tmux-interactive-driving.md
  specs/transcript-pipeline.md
Due: dprint

review remediation: wire supervision bullets to the evidence-record schema
  .agents/skills/dogfood/SKILL.md
  specs/ENFORCEMENT-MAP.md
Due: dprint, check-framework-integrity

review remediation 2: correct a false claim, restore three drops, disclose three
  .agents/agents/rex.md
  .agents/skills/debug/SKILL.md
  .agents/skills/dogfood/SKILL.md
  specs/agents/supervision-split.md
Due: dprint, check-framework-integrity

docs+test: give the escaping contract one home, and stop a test pinning owed work
  lib/hooks/dispatch.py
  lib/py/transcripts/domain/renderer.py
  lib/py/transcripts/runner.py
  specs/transcript-pipeline.md
  tests/transcripts/test_r4_renderer_hardening.py
  tests/transcripts/test_secret_redaction.py
Due: dprint

diagram: write both text layers, and fail check when they disagree
  plugins/tools/skills/diagram/SKILL.md
  plugins/tools/skills/diagram/scripts/excal-edit.py
  plugins/tools/skills/diagram/scripts/excalidraw-view.py
Due: dprint, check-framework-integrity

diagram: read originalText everywhere a script reports what an element says
  plugins/tools/skills/diagram/scripts/excal-edit.py
  plugins/tools/skills/diagram/scripts/excalidraw-view.py
Due: none

chore(dev): release 0.7.1
  .release-please-manifest.json
  CHANGELOG.md
  pyproject.toml
Due: dprint

update honesty call
  plugins/orchestrate/hooks/messages/honesty.md
Due: dprint

del symlink
  .claude/agents
Due: none

add rex for cluade
  .claude/agents/rex.md
Due: dprint

fix rex tools agy
  .agents/agents/rex.md
Due: dprint

fix ida (merge rex)
  .claude/agents/rex.md
  plugins/ida/agents/ida.md
Due: dprint

fix(build): let AGY_VERSION/CLAUDE_CODE_VERSION actually refresh their layers; correct MCP registration docstring
  Makefile
  lib/polecat/cli.py
Due: none

fix(rbg): unregister hooks again — agy PostInvocation→Stop fires the rule gate on every tool call
  plugins/rbg/hooks/handlers.py
Due: none

docs(skills): make hypotheses falsifiable, keep doctrine out of briefs, bar verdicts from absence
  .agents/skills/debug/SKILL.md
  .agents/skills/dogfood/SKILL.md
Due: dprint, check-framework-integrity

revert(dogfood): drop the process-scoped hypothesis clause — blind re-test showed no gap to close
  .agents/skills/dogfood/SKILL.md
Due: dprint, check-framework-integrity

feat(ida): fold final-reply standing discipline rules into ida agent definition (task_ff6f26ed)
  plugins/ida/agents/ida.md
Due: dprint

simplify quiet
  plugins/ida/hooks/messages/quiet.md
Due: dprint

widen honesty message
  plugins/orchestrate/hooks/messages/honesty.md
Due: dprint

docs(peer-review): add framing pass, result pre-commit ban, scribe length budget
  plugins/tools/skills/peer-review/SKILL.md
Due: dprint, check-framework-integrity

update policy-as-code tests
  .agents/rules/RULES.md
  pyproject.toml
  specs/ARCHITECTURE.md
  specs/ENFORCEMENT-MAP.md
  specs/future/hydrator-quality-escalation.md
  tests/policy.toml
  tests/test_cope.py
  tests/test_hooks.py
  tests/test_ida_stop_gate_built.py
  tests/test_pkb_handlers.py
  tests/test_rbg_stop_gate.py
  tests/test_shipped_hooks.py
  tests/test_stop_gates.py
Due: dprint

update hook docs
  specs/ARCHITECTURE.md
  specs/ENFORCEMENT-MAP.md
Due: dprint

feat(diagram): add excal-edit.py arrows check and render --region
  plugins/tools/skills/diagram/SKILL.md
  plugins/tools/skills/diagram/scripts/excal-edit.py
Due: dprint, check-framework-integrity

remove tool restrictions, update calling instructions
  plugins/ida/agents/ida.md
  plugins/ida/hooks/handlers.py
  plugins/ida/manifest/hooks.template.json
  plugins/orchestrate/agents/james.md
  plugins/pkb/agents/pauli.md
  plugins/rbg/agents/rbg.md
Due: dprint

feat(ida): sharpen ADHD executive briefing standard and hook rules
  plugins/ida/agents/ida.md
  plugins/ida/hooks/messages/quiet.md
Due: dprint

fix(transcripts): handle passthrough entry types and extract pr-link, agent-setting, agent-name metadata
  lib/py/transcripts/adapters/claude.py
  lib/py/transcripts/domain/correlation.py
  lib/py/transcripts/domain/renderer.py
  tests/transcripts/test_claude_adapter.py
  tests/transcripts/test_domain.py
Due: none

feat(build): rewrite agy agent tool translation according to verified semantics
  build/clients/agy.py
  build/clients/claude.py
  build/testdata/plugins/alpha/agents/alpha-agent.md
  build/tool_map.toml
  build/tools.py
  plugins/ida/agents/ida.md
  plugins/ida/hooks/handlers.py
  plugins/ida/manifest/hooks.template.json
  pyproject.toml
  tests/test_build.py
  tests/test_ida_stop_gate_built.py
  tests/test_shipped_hooks.py
Due: dprint

extend tool translation mapping for owner's new agents and frontmatter keys
  build/clients/agy.py
  build/tool_map.toml
  build/tools.py
  plugins/ida/agents/agy.md
  plugins/ida/agents/ida.md
  plugins/orchestrate/agents/james.md
  plugins/pkb/agents/pauli.md
  tests/test_build.py
Due: dprint

Path conditions:
  dprint: any of: \.(md|markdown|mdown)$, \.json$, \.toml$
  check-framework-integrity: any of: (WORKFLOWS|SKILLS)\.md$|workflows/.*\.md$|skills/.*/SKILL\.md$|commands/.*\.md$
