Repository nicsuzor/academicOps: changes, and which pre-commit hooks are due for each by the changed paths.
All: radon-complexity, radon-maintainability, test-architecture, pytest

.pre-commit-config.yaml:

# Pre-commit hooks for academicOps
# Install: pre-commit install
# Run manually: pre-commit run --all-files
#
# PERFORMANCE OPTIMIZATION NOTES:
# - Tests only run when Python files are changed and staged (removed always_run: true)
# - This makes commits blazing fast when editing docs, configs, etc.
# - To run tests manually: pytest -m "not slow and not integration and not endtoend"
# - CI still runs full test suite on all commits
# - Tests run in parallel (requires: uv add --dev pytest-xdist)
# - Skips test architecture check on trivial commits
# - Uses faster ruff version

repos:
  # Ruff - Fast Python linter & formatter
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.0
    hooks:
      # Linter
      - id: ruff-check
        args: [--fix, --unsafe-fixes]
      # Formatter
      - id: ruff-format

  # MyPy - Static type checking
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.18.2
    hooks:
      - id: mypy
        additional_dependencies: []
        args: [--config-file=pyproject.toml]
        # Performance: Only check changed files, not whole project
        pass_filenames: true

  # Local custom hooks
  - repo: local
    hooks:
      # Radon - Complexity metrics
      - id: radon-complexity
        name: Check code complexity
        entry: uv run radon cc --min B --total-average
        language: system
        types: [python]
        pass_filenames: true

      - id: radon-maintainability
        name: Check maintainability index
        entry: uv run radon mi --min B
        language: system
        types: [python]
        pass_filenames: true

      # Test architecture - ONLY on test files
      - id: test-architecture
        name: Enforce test architecture rules
        entry: uv run python scripts/check_test_architecture.py
        language: system
        files: ^tests/.*\.py$
        pass_filenames: false

      # Pytest - PARALLEL execution for speed
      # Requires: pytest-xdist
      - id: pytest
        name: Run tests (parallel)
        entry: uv run pytest -n auto -m "not slow and not integration and not endtoend"
        language: system
        types: [python]
        pass_filenames: false
        stages: [pre-commit]

Update .claude/commands/ops.md
  .claude/commands/ops.md
Due: none

test(hooks): Validate $CLAUDE_PROJECT_DIR from subdirectory
  tests/integration/test_claude_headless.py
Due: radon-complexity, radon-maintainability, test-architecture, pytest

fix(hooks): Use repo-root absolute paths for hook scripts
  .claude/settings.json
Due: none

refactor(deployment): Simplify architecture - remove /bots/scripts/ and /bots/skills/
  dist/.gitignore
  dist/bots/scripts/README.md
  docs/DEPLOYMENT.md
  scripts/install_bot.sh
  scripts/setup_academicops.sh
  tests/integration/test_dogfooding.py
  tests/test_deployment_architecture.py
Due: radon-complexity, radon-maintainability, test-architecture, pytest

feat(hooks): Add noop debug logging hooks for PostToolUse and UserPromptSubmit
  .claude/settings.json
  bots/hooks/log_posttooluse.py
  bots/hooks/log_userpromptsubmit.py
Due: radon-complexity, radon-maintainability, pytest

fix(tests): Update hook test fixtures for bots/hooks/ location
  tests/conftest.py
Due: radon-complexity, radon-maintainability, test-architecture, pytest

refactor(hooks): Use $CLAUDE_PROJECT_DIR instead of git rev-parse
  .claude/settings.json
Due: none

feat(hooks): Extract debug logging to shared module
  bots/hooks/hook_debug.py
  bots/hooks/load_instructions.py
  bots/hooks/validate_stop.py
  bots/hooks/validate_tool.py
Due: radon-complexity, radon-maintainability, pytest

experiment(task-management): Define clear boundaries for accomplishments.md
  .claude/skills/task-management/SKILL.md
  experiments/2025-10-24_accomplishments-boundary.md
Due: none

docs(testing): add TRUE E2E testing methodology
  .claude/skills/test-writing/SKILL.md
  docs/_CHUNKS/E2E-TESTING.md
Due: none

feat(skills): Replace skill-migration with comprehensive skill-maintenance
  bots/agents/_CORE.md
  dist/skills/skill-maintenance.zip
  skills/skill-maintenance/SKILL.md
  skills/skill-maintenance/references/framework-changelog.md
  skills/skill-maintenance/scripts/audit_skills.py
  skills/skill-maintenance/scripts/backups/aops-bug_20251024_084926/SKILL.md
  skills/skill-maintenance/scripts/backups/aops-bug_20251024_084926/references/behavioral-patterns.md
  skills/skill-maintenance/scripts/backups/aops-bug_20251024_084926/references/framework-architecture.md
  skills/skill-maintenance/scripts/package_skills.py
  skills/skill-maintenance/scripts/sync_deployment.py
  skills/skill-maintenance/scripts/update_skill.py
  skills/skill-maintenance/scripts/validate_skill.py
  skills/skill-migration/SKILL.md
  skills/skill-migration/references/migration-checklist.md
  skills/skill-migration/scripts/cleanup_sources.py
  skills/skill-migration/scripts/extract_workflow.py
  skills/skill-migration/scripts/generalize_content.py
Due: radon-complexity, radon-maintainability, pytest

fix(task-management): Remove broken regex validation + Add Tool Failure Protocol
  .claude/skills/task-management/scripts/task_process.py
  bots/agents/_CORE.md
  experiments/2025-10-24_task-process-regex-fix.md
Due: radon-complexity, radon-maintainability, pytest

feat(skills): Add claude-md-maintenance skill for CLAUDE.md file management
  .claude/skills/claude-md-maintenance/SKILL.md
  .claude/skills/claude-md-maintenance/references/examples.md
  .claude/skills/claude-md-maintenance/references/hierarchy.md
  .claude/skills/claude-md-maintenance/references/patterns.md
  .claude/skills/claude-md-maintenance/scripts/audit_claude_files.py
  .claude/skills/claude-md-maintenance/scripts/extract_chunks.py
  .claude/skills/claude-md-maintenance/scripts/refactor_references.py
  .claude/skills/claude-md-maintenance/scripts/validate_references.py
  .claude/skills/claude-md-maintenance/tests/fixtures/bloated_claude.md
  .claude/skills/claude-md-maintenance/tests/fixtures/claude_with_references.md
  .claude/skills/claude-md-maintenance/tests/fixtures/duplicated_content.json
  .claude/skills/claude-md-maintenance/tests/test_claude_maintenance.py
  dist/skills/claude-md-maintenance.zip
Due: radon-complexity, radon-maintainability, pytest

feat(commands): Add /error command for quick experiment outcome logging
  .claude/commands/error.md
Due: none

fix(scripts): Remove email-triage.py with PowerShell integration
  scripts/email-triage.py
Due: radon-complexity, radon-maintainability, pytest

docs(architecture): Switch to global ~/.claude/ installation model
  ARCHITECTURE.md
  INSTALL.md
  scripts/install_global.sh
Due: none

experiment(prompts): Define aops-bug scope boundaries for /log-failure
  commands/log-failure.md
  experiments/2025-10-24_aops-bug-scope-boundaries.md
  skills/aops-bug/SKILL.md
Due: none

docs(experiment): Update issue number for aops-bug scope experiment
  experiments/2025-10-24_aops-bug-scope-boundaries.md
Due: none

update skills
  .claude/agents
  .claude/skills/aops-bug/SKILL.md
  .claude/skills/skill-migration/SKILL.md
  .claude/skills/skill-migration/references/migration-checklist.md
  .claude/skills/skill-migration/scripts/cleanup_sources.py
  .claude/skills/skill-migration/scripts/extract_workflow.py
  .claude/skills/skill-migration/scripts/generalize_content.py
  .claude/skills/task-management/SKILL.md
  .claude/skills/task-management/scripts/task_process.py
  .claude/skills/test-writing/SKILL.md
  CLAUDE.md
  bots/prompts/pytest_practices.md
  commands/error.md
  skills/claude-md-maintenance/SKILL.md
  skills/claude-md-maintenance/references/examples.md
  skills/claude-md-maintenance/references/hierarchy.md
  skills/claude-md-maintenance/references/patterns.md
  skills/claude-md-maintenance/scripts/audit_claude_files.py
  skills/claude-md-maintenance/scripts/extract_chunks.py
  skills/claude-md-maintenance/scripts/refactor_references.py
  skills/claude-md-maintenance/scripts/validate_references.py
  skills/claude-md-maintenance/tests/fixtures/bloated_claude.md
  skills/claude-md-maintenance/tests/fixtures/claude_with_references.md
  skills/claude-md-maintenance/tests/fixtures/duplicated_content.json
  skills/claude-md-maintenance/tests/test_claude_maintenance.py
Due: radon-complexity, radon-maintainability, pytest

symlinks
  .claude/agents
  .claude/commands
  .claude/skills
Due: none

use userhome configs
  .claude/agents
  .claude/commands
  .claude/skills
Due: none

remove settings
  dist/.claude/settings.json.bak
Due: none

feat(hooks): Implement discovery mode and /bots/ instruction stacking
  bots/hooks/load_instructions.py
  bots/hooks/stack_instructions.py
  experiments/2025-10-24_skills-first-architecture.md
Due: radon-complexity, radon-maintainability, pytest

chore(commands): Add slash command definitions
  .claude/commands/STRATEGIST.md
  .claude/commands/analyst.md
  .claude/commands/dev.md
  .claude/commands/log-failure.md
  .claude/commands/ops.md
  .claude/commands/trainer.md
  .claude/commands/ttd.md
Due: none

Update .claude/commands/STRATEGIST.md
  .claude/commands/STRATEGIST.md
Due: none

Update .claude/commands/ttd.md
  .claude/commands/ttd.md
Due: none

Update bots/hooks/stack_instructions.py
  bots/hooks/stack_instructions.py
Due: radon-complexity, radon-maintainability, pytest

Add session logging hook for automatic activity tracking
  bots/hooks/log_session_stop.py
  skills/task-management/SKILL.md
  skills/task-management/scripts/session_log.py
  tests/test_session_logging_hook.py
Due: radon-complexity, radon-maintainability, test-architecture, pytest

add tools
  agents/DEV.md
  agents/REVIEW.md
  agents/STRATEGIST.md
  agents/SUPERVISOR.md
  bots/hooks/validate_tool.py
Due: radon-complexity, radon-maintainability, pytest

docs: Simplify instruction loading mental model to Option C
  ARCHITECTURE.md
  docs/hooks_guide.md
Due: none

feat(hooks): Add prohibition rule for dangerous process termination
  bots/hooks/validate_tool.py
Due: radon-complexity, radon-maintainability, pytest

feat(hooks): Strengthen process termination rules for multi-project machine
  bots/hooks/validate_tool.py
Due: radon-complexity, radon-maintainability, pytest

Address PR review comments and add TodoWrite objective logging
  bots/hooks/log_session_stop.py
  bots/hooks/log_todowrite.py
  skills/task-management/SKILL.md
  skills/task-management/scripts/session_log.py
  tests/test_session_logging_hook.py
Due: radon-complexity, radon-maintainability, test-architecture, pytest

Fix remaining potential bugs from PR review
  bots/hooks/log_session_stop.py
  bots/hooks/log_todowrite.py
  skills/task-management/scripts/session_log.py
  tests/test_session_logging_hook.py
Due: radon-complexity, radon-maintainability, test-architecture, pytest

fix(prompts): Add Data Investigation Workflow to analyst skill
  skills/analyst/SKILL.md
Due: none

feat(hooks): Consolidate debug logs by session and add complete hook coverage
  bots/hooks/hook_debug.py
  bots/hooks/log_notification.py
  bots/hooks/log_precompact.py
  bots/hooks/log_sessionend.py
  bots/hooks/log_subagentstop.py
  bots/hooks/stack_instructions.py
Due: radon-complexity, radon-maintainability, pytest
