Repository nicsuzor/academicOps: changes, and which pre-commit hooks are due for each by the changed paths.
All: dprint, check-framework-integrity

.pre-commit-config.yaml:

# Pre-commit hooks for academicOps framework governance
# See https://pre-commit.com for more info

repos:
  # Markdown/JSON/TOML validation (dprint - check-only, no auto-fix)
  # Ruff check --fix auto-fixes what it can; ruff-format checks formatting
  - repo: local
    hooks:
      - id: dprint
        name: dprint check
        entry: uv run dprint check
        language: system
        types_or: [markdown, json, toml]
        pass_filenames: true

  # Markdown linting (catches issues dprint doesn't fix)
  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.12.1
    hooks:
      - id: markdownlint-cli2
        exclude: '^archived/'

  # Standard hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: '\.excalidraw$'
      - id: end-of-file-fixer
        exclude: '\.excalidraw$'
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
        args: ['--maxkb=500']

  # Python linting (auto-fix enabled)
  # Ruff check --fix auto-fixes what it can; ruff-format checks formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.4
    hooks:
      - id: ruff
        args: [--fix]
        exclude: '^archived/'
      - id: ruff-format
        args: [--check]
        exclude: '^archived/'

  # Framework integrity checks (index wikilinks, skill entries, workflow length)
  # Consolidates check-workflow-length + new index integrity validation
  - repo: local
    hooks:
      - id: check-framework-integrity
        name: framework integrity check
        entry: uv run python scripts/check_framework_integrity.py
        language: system
        pass_filenames: false
        files: '(WORKFLOWS|SKILLS)\.md$|workflows/.*\.md$|skills/.*/SKILL\.md$|commands/.*\.md$'

  # Type checking and full framework health checks run in CI only
  # (see .github/workflows/framework-health.yml)
  #
  # Moved to CI:
  # - basedpyright: full type analysis too slow for every commit
  # - check-skill-line-count: whole-repo scan, not file-scoped
  # - check-orphan-files: whole-repo scan, not file-scoped
  # - check-framework-integrity --full: slow full codebase wikilink scan
  # - audit_framework_health: comprehensive audit

fix(#1128): auto-heal Gemini-form MCP tool names at commit time (#1143)
  .agents/ENFORCEMENT-MAP.md
  .github/workflows/lint.yml
  .pre-commit-config.yaml
  scripts/normalize_mcp_names.py
Due: dprint

chore(main): release 0.3.26
  .release-please-manifest.json
  CHANGELOG.md
  pyproject.toml
  templates/aops-core.gemini-extension.json
  templates/aops-core.plugin.json
  templates/aops-tools.gemini-extension.json
  templates/aops-tools.plugin.json
Due: dprint

planner: remove pre-paid diagnostic promotion gates
  aops-core/skills/planner/SKILL.md
  aops-core/skills/planner/references/lens-templates/pauli-alignment-check.md
  aops-core/skills/planner/references/lens-templates/rbg-axiom-check.md
  aops-core/skills/planner/workflows/decompose.md
Due: dprint, check-framework-integrity

MONAI: Solution for #1071 - Bounty: nicsuzor/academicOps#1071
  src/dispatch/dispatchService.js
  src/orchestrator/verdictHandler.js
  src/qa/verdictSchema.js
Due: none

planner: remove pre-paid diagnostic promotion gates (#1102)
  aops-core/skills/planner/SKILL.md
  aops-core/skills/planner/references/lens-templates/pauli-alignment-check.md
  aops-core/skills/planner/references/lens-templates/rbg-axiom-check.md
  aops-core/skills/planner/workflows/decompose.md
Due: dprint, check-framework-integrity

chore(main): release 0.3.26 (#1084)
  .release-please-manifest.json
  CHANGELOG.md
  pyproject.toml
  templates/aops-core.gemini-extension.json
  templates/aops-core.plugin.json
  templates/aops-tools.gemini-extension.json
  templates/aops-tools.plugin.json
  uv.lock
Due: dprint

docs(supervisor): add on-demand transcript refresh instruction
  aops-core/skills/supervisor/instructions/supervision-loop.md
Due: dprint

docs(supervisor): replace WORKERS.md with SURFACES.md execution-surface reference
  aops-core/SURFACES.md
  aops-core/skills/supervisor/SKILL.md
  aops-core/skills/supervisor/WORKERS.md
  aops-core/skills/supervisor/instructions/code-deliverable.md
  aops-core/skills/supervisor/instructions/decomposition-and-review.md
  aops-core/skills/supervisor/instructions/worker-dispatch.md
Due: dprint, check-framework-integrity

docs(supervisor): add on-demand transcript refresh (#1147)
  aops-core/skills/supervisor/instructions/supervision-loop.md
Due: dprint

docs(supervisor): replace WORKERS.md with SURFACES.md execution-surface reference (#1148)
  aops-core/SURFACES.md
  aops-core/skills/supervisor/SKILL.md
  aops-core/skills/supervisor/WORKERS.md
  aops-core/skills/supervisor/instructions/code-deliverable.md
  aops-core/skills/supervisor/instructions/decomposition-and-review.md
  aops-core/skills/supervisor/instructions/worker-dispatch.md
Due: dprint, check-framework-integrity

polecat: collapse Claude auth to CLAUDE_CODE_OAUTH_TOKEN env-only
  aops-core/agent-env-map.conf
  polecat/cli.py
  polecat/defaults/claude-headless.json
  polecat/defaults/polecat.yaml.example
  tests/polecat/test_cli_docker.py
Due: dprint

docs(enforcement-map): register claude OAUTH pre-flight (P#65)
  .agents/ENFORCEMENT-MAP.md
Due: dprint

docs(specs): land daily-pipeline spec series at projects/aops/specs/
  projects/aops/specs/daily/00-architecture.md
  projects/aops/specs/daily/10-daily-orchestrator.md
  projects/aops/specs/daily/20-email-capture.md
  projects/aops/specs/daily/30-news-briefing.md
  projects/aops/specs/daily/40-pdf-render.md
  projects/aops/specs/daily/50-aops-core-vs-tools.md
  projects/aops/specs/daily/README.md
Due: dprint

fix(gate-config): bake in defaults so fresh install never tracebacks
  .agents/decisions/ADR-gate-config-defaults.md
  aops-core/lib/polecat_config.py
  tests/hooks/conftest.py
  tests/hooks/test_gate_context_injection.py
  tests/hooks/test_handover_gate_latch.py
  tests/hooks/test_handover_gate_regression.py
Due: dprint

docs(polecat_config): update module docstring to reflect soft-fallback behaviour
  aops-core/lib/polecat_config.py
Due: none

polecat: collapse Claude auth to CLAUDE_CODE_OAUTH_TOKEN env-only (#1154)
  .agents/ENFORCEMENT-MAP.md
  aops-core/agent-env-map.conf
  polecat/cli.py
  polecat/defaults/claude-headless.json
  polecat/defaults/polecat.yaml.example
  tests/polecat/test_cli_docker.py
  tests/polecat/test_cli_revert.py
  tests/polecat/test_cli_run_force.py
Due: dprint

fix(transcripts): persist gemini polecat sessions via host bind mount
  aops-core/lib/transcript_parser.py
  aops-core/scripts/transcript.py
  polecat/cli.py
Due: none

fix(hooks): inspect enforcer verdict before discharging compliance counter
  aops-core/lib/gates/custom_conditions.py
  aops-core/lib/gates/definitions.py
  tests/hooks/test_gate_replay.py
Due: none

Fix Gemini polecat transcripts not persisted (#1157)
  aops-core/lib/session_naming.py
  aops-core/lib/transcript_parser.py
  aops-core/scripts/transcript.py
  polecat/cli.py
Due: none

Add RBG pre-flight check trigger to planner and supervisor
  aops-core/skills/planner/SKILL.md
  aops-core/skills/supervisor/SKILL.md
Due: dprint, check-framework-integrity

fix(gate-config): bake in defaults so fresh install never tracebacks (#1156)
  aops-core/lib/polecat_config.py
  tests/hooks/conftest.py
  tests/hooks/test_gate_context_injection.py
  tests/hooks/test_handover_gate_latch.py
  tests/hooks/test_handover_gate_regression.py
  tests/lib/test_polecat_config.py
Due: none

fix(cross-repo-shim): grant explicit permissions on dispatch/merge-prep jobs
  examples/cross-repo-shim/agent-merge-prep.yml
  examples/cross-repo-shim/merge-prep-cron.yml
Due: none

fix(cross-repo-shim): grant explicit permissions on dispatch/merge-prep jobs (#1163)
  examples/cross-repo-shim/agent-merge-prep.yml
  examples/cross-repo-shim/merge-prep-cron.yml
Due: none

docs(planner): add Severity Assignment Rules + Deferring Work guidance
  aops-core/skills/planner/SKILL.md
  aops-core/skills/remember/references/TAXONOMY.md
Due: dprint, check-framework-integrity

docs(planner): add Severity Assignment Rules + Deferring Work guidance (#1164)
  aops-core/skills/planner/SKILL.md
  aops-core/skills/remember/references/TAXONOMY.md
Due: dprint, check-framework-integrity

docs: add context-map-schema spec (relocated from mem PR)
  specs/context-map-schema.md
Due: dprint

docs(specs): land daily-pipeline spec series (PR 1/4) (#1155)
  projects/aops/specs/daily/00-architecture.md
  projects/aops/specs/daily/10-daily-orchestrator.md
  projects/aops/specs/daily/20-email-capture.md
  projects/aops/specs/daily/30-news-briefing.md
  projects/aops/specs/daily/40-pdf-render.md
  projects/aops/specs/daily/50-aops-core-vs-tools.md
  projects/aops/specs/daily/README.md
Due: dprint

fix(merge-prep-cron): re-qualify success PRs when base advances and conflicts emerge
  .github/workflows/merge-prep-cron.yml
  tests/test_merge_prep_cron.py
Due: none

fix(merge-prep-cron): re-qualify success PRs when base advances and conflicts emerge (#1168)
  .github/workflows/merge-prep-cron.yml
  tests/test_merge_prep_cron.py
Due: none

Add RBG pre-flight check trigger to planner and supervisor (#1162)
  aops-core/skills/planner/SKILL.md
  aops-core/skills/supervisor/SKILL.md
Due: dprint, check-framework-integrity

feat(end-session): formalize per-thread pickup section in handover
  CHANGELOG.md
  aops-core/lib/transcript_parser.py
  aops-core/skills/end_session/SKILL.md
  aops-core/skills/end_session/transcript-metadata-schema.md
  projects/aops/specs/daily/00-architecture.md
  projects/aops/specs/daily/10-daily-orchestrator.md
  projects/aops/specs/daily/20-email-capture.md
  projects/aops/specs/daily/30-news-briefing.md
  projects/aops/specs/daily/40-pdf-render.md
  projects/aops/specs/daily/50-aops-core-vs-tools.md
  projects/aops/specs/daily/README.md
  tests/lib/test_transcript_parser_reflection.py
Due: dprint, check-framework-integrity

feat(junior): add salience-label filtering guardrail
  aops-core/agents/junior.md
Due: dprint

fix(dump): set adhoc-sessions as default parent for emergency resume tasks
  aops-core/skills/dump/SKILL.md
  aops-core/skills/remember/references/TAXONOMY.md
Due: dprint, check-framework-integrity

fix(junior): hold-the-line on stop-hook nags
  aops-core/agents/junior.md
Due: dprint

planner: standardize multi-agent review gate in decompose mode
  aops-core/skills/planner/SKILL.md
  aops-core/skills/planner/workflows/decompose.md
  aops-core/skills/supervisor/instructions/decomposition-and-review.md
Due: dprint, check-framework-integrity

spec: cluster-1122 coordinator-relay remediation plan (rev 3)
  specs/future/cluster-1122-coordinator-relay-remediation.md
Due: dprint

Introduce deliberate error for testing
  .github/workflows/agent-merge-prep.yml
Due: none
