Repository nicsuzor/academicOps: changes, and which pre-commit hooks are due for each by the changed paths.
All: dprint, check-framework-integrity

.pre-commit-config.yaml:

# Pre-commit hooks for academicOps framework governance
# See https://pre-commit.com for more info

repos:
  # Markdown/JSON/TOML validation (dprint - check-only, no auto-fix)
  # Ruff check --fix auto-fixes what it can; ruff-format checks formatting
  - repo: local
    hooks:
      - id: dprint
        name: dprint check
        entry: uv run dprint check
        language: system
        types_or: [markdown, json, toml]
        pass_filenames: true

  # Markdown linting (catches issues dprint doesn't fix)
  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.12.1
    hooks:
      - id: markdownlint-cli2
        exclude: '^archived/'

  # Standard hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: '\.excalidraw$'
      - id: end-of-file-fixer
        exclude: '\.excalidraw$'
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
        args: ['--maxkb=500']

  # Python linting (auto-fix enabled)
  # Ruff check --fix auto-fixes what it can; ruff-format checks formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.4
    hooks:
      - id: ruff
        args: [--fix]
        exclude: '^archived/'
      - id: ruff-format
        args: [--check]
        exclude: '^archived/'

  # Framework integrity checks (index wikilinks, skill entries, workflow length)
  # Consolidates check-workflow-length + new index integrity validation
  - repo: local
    hooks:
      - id: check-framework-integrity
        name: framework integrity check
        entry: uv run python scripts/check_framework_integrity.py
        language: system
        pass_filenames: false
        files: '(WORKFLOWS|SKILLS)\.md$|workflows/.*\.md$|skills/.*/SKILL\.md$|commands/.*\.md$'

  # Type checking and full framework health checks run in CI only
  # (see .github/workflows/framework-health.yml)
  #
  # Moved to CI:
  # - basedpyright: full type analysis too slow for every commit
  # - check-skill-line-count: whole-repo scan, not file-scoped
  # - check-orphan-files: whole-repo scan, not file-scoped
  # - check-framework-integrity --full: slow full codebase wikilink scan
  # - audit_framework_health: comprehensive audit

refactor(premise-gate): two-judge pre-dispatch clearance (rbg+pauli), DRY with /strategic-review
  aops-core/skills/planner/SKILL.md
  aops-core/skills/remember/references/premise-gate.md
  aops-core/skills/strategic-review/SKILL.md
  aops-core/skills/supervisor/instructions/worker-dispatch.md
  aops-core/skills/task-lifecycle/SKILL.md
  specs/ENFORCEMENT-MAP.md
  specs/INDEX.md
  specs/enforcement/enforcement.md
  specs/enforcement/premise-gate.md
Due: dprint, check-framework-integrity

update review instructions
  aops-core/agents/james.md
  aops-core/skills/strategic-review/SKILL.md
Due: dprint, check-framework-integrity

chore(dev): release 0.3.48
  .release-please-manifest.json
  CHANGELOG.md
  pyproject.toml
  templates/aops-core.gemini-extension.json
  templates/aops-core.plugin.json
  templates/aops-tools.gemini-extension.json
  templates/aops-tools.plugin.json
Due: dprint

chore(dev): release 0.3.48 (#2055)
  .release-please-manifest.json
  CHANGELOG.md
  pyproject.toml
  templates/aops-core.gemini-extension.json
  templates/aops-core.plugin.json
  templates/aops-tools.gemini-extension.json
  templates/aops-tools.plugin.json
  uv.lock
Due: dprint

remove premise bit
  aops-core/skills/task-lifecycle/SKILL.md
Due: dprint, check-framework-integrity

refactor(gates): remove in-code session-type branching from gate engine
  aops-core/hooks/gate_config.py
  aops-core/lib/gate_types.py
  aops-core/lib/gates/definitions.py
  aops-core/lib/gates/engine.py
  aops-core/lib/polecat_config.py
  aops-core/lib/session_state.py
  polecat/cli.py
  polecat/defaults/polecat.yaml.example
  specs/enforcement/GATES.md
  tests/hooks/fixtures/handover_session_type.json
  tests/hooks/test_gate_lifecycle.py
  tests/hooks/test_handover_session_type.py
  tests/hooks/test_rbg_review_gate.py
  tests/lib/test_polecat_config.py
Due: dprint

fix(hooks): make hooks.jsonl log the resolved wire decision, not pre-translation state
  aops-core/hooks/internal_models.py
  aops-core/hooks/router.py
  aops-core/hooks/schemas.py
  aops-core/hooks/unified_logger.py
  tests/hooks/test_silent_events.py
Due: none

fix(hooks): log the resolved wire decision, not pre-translation state (#2057)
  aops-core/hooks/internal_models.py
  aops-core/hooks/router.py
  aops-core/hooks/schemas.py
  aops-core/hooks/unified_logger.py
  tests/hooks/test_silent_events.py
Due: none

chore(dev): release 0.3.49
  .release-please-manifest.json
  CHANGELOG.md
  pyproject.toml
  templates/aops-core.gemini-extension.json
  templates/aops-core.plugin.json
  templates/aops-tools.gemini-extension.json
  templates/aops-tools.plugin.json
Due: dprint

chore(dev): release 0.3.49 (#2058)
  .release-please-manifest.json
  CHANGELOG.md
  pyproject.toml
  templates/aops-core.gemini-extension.json
  templates/aops-core.plugin.json
  templates/aops-tools.gemini-extension.json
  templates/aops-tools.plugin.json
  uv.lock
Due: dprint

fix(axioms): honest-epistemics — confident language is not a substitute for verification
  .agents/rules/AXIOMS-REVIEW.md
  .agents/rules/AXIOMS.md
Due: dprint

annotate specs
  specs/agents/agent-authority.md
  specs/agents/ida.md
  specs/agents/polecat-system.md
  specs/agents/supervisor.md
  specs/enforcement/GATES.md
  specs/enforcement/auto-mode-classifier.md
  specs/enforcement/premise-gate.md
Due: dprint

fix(pipeline): stop the production deploy gate from cancelling pending approvals
  .github/workflows/build-extension.yml
  specs/workflows/pr-pipeline.md
  tests/test_release_please_fast_path.py
Due: dprint, check-framework-integrity

fix(hooks): bypass Stop gates when session is paused (supersedes #1998)
  aops-core/hooks/router.py
  aops-core/lib/hook_context.py
  specs/ENFORCEMENT-MAP.md
  tests/hooks/test_pause_detection.py
Due: dprint

fix(gates): ida retry safeguard uses stop_hook_active, not self-managed OPEN
  aops-core/lib/gates/custom_conditions.py
  aops-core/lib/gates/definitions.py
  specs/enforcement/GATES.md
  tests/hooks/test_gate_lifecycle.py
  tests/hooks/test_ida_askuserquestion_gate.py
  tests/hooks/test_rbg_review_gate.py
Due: dprint

fix(hooks): bypass Stop gates when session is paused (supersedes #1998) (#2065)
  aops-core/hooks/router.py
  aops-core/lib/hook_context.py
  specs/ENFORCEMENT-MAP.md
  tests/hooks/test_pause_detection.py
Due: dprint

chore(dev): release 0.3.50
  .release-please-manifest.json
  CHANGELOG.md
  pyproject.toml
  templates/aops-core.gemini-extension.json
  templates/aops-core.plugin.json
  templates/aops-tools.gemini-extension.json
  templates/aops-tools.plugin.json
Due: dprint

chore(dev): release 0.3.50 (#2067)
  .release-please-manifest.json
  CHANGELOG.md
  pyproject.toml
  templates/aops-core.gemini-extension.json
  templates/aops-core.plugin.json
  templates/aops-tools.gemini-extension.json
  templates/aops-tools.plugin.json
  uv.lock
Due: dprint

ig
  .gitignore
Due: none

Address NS review annotations across specs and skills
  aops-core/skills/planner/SKILL.md
  aops-core/skills/planner/workflows/decompose.md
  aops-core/skills/remember/references/TAXONOMY.md
  aops-core/skills/supervisor/SKILL.md
  aops-core/skills/supervisor/instructions/decomposition-and-review.md
  aops-core/skills/supervisor/instructions/worker-dispatch.md
  aops-core/skills/supervisor/references/dispatch-rules.md
  aops-core/skills/supervisor/references/supervision-mechanics.md
  aops-core/skills/task-lifecycle/SKILL.md
  specs/INDEX.md
  specs/agents/agent-authority.md
  specs/agents/ida.md
  specs/agents/rbg.md
  specs/enforcement/GATES.md
  specs/enforcement/auto-mode-classifier.md
  specs/enforcement/premise-gate.md
  specs/polecat/polecat-system.md
  specs/polecat/supervisor.md
Due: dprint, check-framework-integrity

Address Copilot review: fix enforcer gate identifiers, drop nested dispatch invocation
  aops-core/skills/supervisor/SKILL.md
  aops-core/skills/supervisor/instructions/worker-dispatch.md
  aops-core/skills/supervisor/references/dispatch-rules.md
  aops-core/skills/task-lifecycle/SKILL.md
  specs/enforcement/GATES.md
  specs/polecat/supervisor.md
Due: dprint, check-framework-integrity

Neater loop fix: cut the mutual reference instead of caveating it
  aops-core/skills/supervisor/SKILL.md
  aops-core/skills/supervisor/instructions/worker-dispatch.md
  aops-core/skills/supervisor/references/dispatch-rules.md
  aops-core/skills/task-lifecycle/SKILL.md
  specs/polecat/supervisor.md
Due: dprint, check-framework-integrity

Resolve merge conflict with dev in rbg-review gate TL;DR
  specs/enforcement/GATES.md
Due: dprint

fix(gates): client-agnostic two-mode stop gates; drop stop_hook_active
  aops-core/hooks/router.py
  aops-core/lib/gates/custom_conditions.py
  aops-core/lib/gates/definitions.py
  tests/hooks/test_gate_lifecycle.py
  tests/hooks/test_gate_verdict_logic.py
  tests/hooks/test_ida_askuserquestion_gate.py
  tests/hooks/test_message_path_leak_coverage.py
  tests/hooks/test_qa_gate_close_trigger.py
  tests/hooks/test_rbg_review_gate.py
Due: none

Fix table-separator whitespace to byte-match origin/dev
  specs/enforcement/GATES.md
Due: dprint

docs(gates): sync enforcement specs to the two-mode Stop-gate contract
  .agents/skills/aops/references/hooks.md
  specs/CLIENT-TRANSLATION.md
  specs/ENFORCEMENT-MAP.md
  specs/enforcement/GATES.md
Due: dprint

Fix remaining table-separator byte mismatches vs origin/dev
  specs/enforcement/GATES.md
Due: dprint

Fix table-separator lines byte-for-byte vs origin/dev (verified)
  specs/enforcement/GATES.md
Due: dprint

fix(pipeline): don't redden enforcer-status for findings fixed inline
  .github/agents/enforcer.agent.md
  .github/workflows/agent-enforcer.yml
  scripts/ci/enforcer-terminal-status.sh
  specs/workflows/pr-pipeline.md
  tests/test_enforcer_terminal_status.py
Due: dprint, check-framework-integrity

test(gates): pin the two-mode latch invariant (warn fire-once vs block persist)
  tests/hooks/test_gate_verdict_logic.py
Due: none

fix(pipeline): update ENFORCEMENT-MAP row for the enforcer-status carve-out
  specs/ENFORCEMENT-MAP.md
  tests/test_enforcer_terminal_status.py
Due: dprint

feat(build): translate agent tool names for Antigravity platform
  aops-core/lib/tool_registry.py
  polecat/defaults/claude-settings.json
  scripts/build.py
  specs/CLIENT-TRANSLATION.md
Due: dprint

fix(gates): remove stale POLECAT_APPROVAL_MODE, route QA mode through gate_config
  aops-core/lib/gates/custom_conditions.py
  aops-core/lib/gates/engine.py
  polecat/cli.py
  specs/ENFORCEMENT-MAP.md
  specs/enforcement/GATES.md
  tests/hooks/test_gate_replay.py
Due: dprint

see if we can put agent in the plugin
  templates/aops-core.plugin.json
Due: dprint

fix(gates): remove stale POLECAT_APPROVAL_MODE, route QA mode through gate_config (#2072)
  aops-core/lib/gates/custom_conditions.py
  aops-core/lib/gates/engine.py
  polecat/cli.py
  specs/ENFORCEMENT-MAP.md
  specs/enforcement/GATES.md
  tests/hooks/test_gate_replay.py
Due: dprint

chore(dev): release 0.3.51
  .release-please-manifest.json
  CHANGELOG.md
  pyproject.toml
  templates/aops-core.gemini-extension.json
  templates/aops-core.plugin.json
  templates/aops-tools.gemini-extension.json
  templates/aops-tools.plugin.json
Due: dprint

chore(dev): release 0.3.51 (#2074)
  .release-please-manifest.json
  CHANGELOG.md
  pyproject.toml
  templates/aops-core.gemini-extension.json
  templates/aops-core.plugin.json
  templates/aops-tools.gemini-extension.json
  templates/aops-tools.plugin.json
  uv.lock
Due: dprint

test: cover the gh-api-failure fallback the mechanic restored
  tests/test_enforcer_terminal_status.py
Due: none
