Repository nicsuzor/academicOps: changes, and which pre-commit hooks are due for each by the changed paths.
All: radon-complexity, radon-maintainability, test-architecture, pytest

radon-complexity:
  name: Check code complexity
  entry: uv run radon cc --min B --total-average
  language: system
  pass_filenames: true

radon-maintainability:
  name: Check maintainability index
  entry: uv run radon mi --min B
  language: system
  pass_filenames: true

test-architecture:
  name: Enforce test architecture rules
  entry: uv run python scripts/check_test_architecture.py
  language: system
  pass_filenames: false

pytest:
  name: Run tests (parallel)
  entry: uv run pytest -n auto -m "not slow and not integration and not endtoend"
  language: system
  pass_filenames: false
  stages:
  - pre-commit

fix(tests): Update CORE.md path in test_core_md_task_guidance
  skills/framework/tests/test_core_md_task_guidance.py
Due: radon-complexity, radon-maintainability, pytest

fix(tests): Update email workflow test paths from writing/bots to academicOps
  skills/framework/tests/test_email_workflow_guidance.py
Due: radon-complexity, radon-maintainability, pytest

fix(tests): Update workflow path in test_email_workflow_tools.py
  skills/framework/tests/test_email_workflow_tools.py
Due: radon-complexity, radon-maintainability, pytest

fix(tests): Update hook paths in user prompt integration test
  skills/framework/tests/test_user_prompt_hook_integration.sh
Due: none

docs(framework): Fix framework location from writing/bots to academicOps
  skills/framework/SKILL.md
Due: none

chore: Remove duplicate resources/ directory
  BMEM-OBSIDIAN-GUIDE.md
  __pycache__/__init__.cpython-312.pyc
  resources/MATPLOTLIB.md
  resources/SEABORN.md
  resources/STATSMODELS.md
  resources/STREAMLIT.md
  resources/hydra.md
  skills/bmem/references/obsidian-format-spec.md
Due: none

chore: Move experiment file to writing repo and ignore experiments/
  .gitignore
  experiments/2025-11-16_documentation-bloat-violation.md
Due: none

refactor(framework): Extract content to meet 500-line limit
  skills/framework/SKILL.md
  skills/framework/references/script-design-guide.md
  skills/framework/references/strategic-partner-mode.md
Due: none

refactor(analyst): Extract content to meet 500-line limit
  skills/analyst/SKILL.md
  skills/analyst/_CHUNKS/data-investigation.md
  skills/analyst/_CHUNKS/exploratory-analysis.md
Due: none

fix(tests): Update hardcoded writing/bots paths to academicOps
  skills/framework/tests/test_framework_integrity.sh
  skills/framework/tests/test_knowledge_extraction.sh
Due: none

fix(bloat): Resolve all bloat verification issues
  MIGRATION-STATUS.md
  skills/bmem/SKILL.md
  skills/bmem/references/detail-level-guide.md
  skills/bmem/references/observation-quality-guide.md
  skills/bmem/references/obsidian-compatibility.md
  skills/framework/workflows/04-monitor-prevent-bloat.md
  tests/test_paths.py
Due: radon-complexity, radon-maintainability, test-architecture, pytest

learn: LOG.md must remain Obsidian/bmem compliant
  commands/log.md
Due: none

feat(framework): Add task visualization dashboard automation
  commands/task-viz.md
  data/tasks/inbox/test-task-001.md
  data/tasks/inbox/test-task-002.md
  data/tasks/inbox/test-task-003.md
  pyproject.toml
  skills/framework/scripts/generate_task_viz.py
  tests/README.md
  tests/integration/test_task_viz.py
  uv.lock
Due: radon-complexity, radon-maintainability, test-architecture, pytest

docs(roadmap): Add task visualization dashboard to Stage 2 progress
  ROADMAP.md
Due: none

chore: Clean up pycache and add framework documentation
  ACCOMMODATIONS.md
  README.md
  VISION.md
  __pycache__/__init__.cpython-312.pyc
  __pycache__/__init__.cpython-313.pyc
  experiments/2025-11-17_log-sufficiency-test.md
  experiments/2025-11-17_multi-window-cognitive-load-solutions.md
  experiments/LOG.md
  skills/bmem/SKILL.md
  skills/framework/SKILL.md
  skills/framework/STATE.md
  skills/framework/specs/2025-11-17_task-visualization-dashboard.md
  skills/tasks/SKILL.md
  tests/__pycache__/__init__.cpython-312.pyc
  tests/__pycache__/conftest.cpython-312-pytest-9.0.0.pyc
  tests/__pycache__/conftest.cpython-312-pytest-9.0.1.pyc
  tests/__pycache__/paths.cpython-312.pyc
  tests/__pycache__/test_conftest.cpython-312-pytest-9.0.0.pyc
  tests/__pycache__/test_core_md_task_guidance.cpython-312-pytest-9.0.0.pyc
  tests/__pycache__/test_paths.cpython-312-pytest-9.0.0.pyc
  tests/__pycache__/test_session_start_loading.cpython-312-pytest-9.0.0.pyc
  tests/__pycache__/test_skills_readme_integrity.cpython-312-pytest-9.0.0.pyc
  tests/integration/__pycache__/__init__.cpython-312.pyc
  tests/integration/__pycache__/__init__.cpython-313.pyc
  tests/integration/__pycache__/conftest.cpython-312-pytest-9.0.0.pyc
  tests/integration/__pycache__/conftest.cpython-312-pytest-9.0.1.pyc
  tests/integration/__pycache__/test_autocommit_data.cpython-312-pytest-9.0.0.pyc
  tests/integration/__pycache__/test_bmem_skill.cpython-312-pytest-9.0.0.pyc
  tests/integration/__pycache__/test_headless_fixture.cpython-312-pytest-9.0.0.pyc
  tests/integration/__pycache__/test_session_start_content.cpython-312-pytest-9.0.0.pyc
  tests/integration/__pycache__/test_skill_script_discovery.cpython-312-pytest-9.0.1.pyc
  tests/integration/__pycache__/test_skill_script_discovery.cpython-313.pyc
Due: none

timelines
  CLAUDE.md
Due: none

docs: Update README structure and experiment results
  README.md
  experiments/2025-11-17_log-sufficiency-test.md
Due: none

docs(experiments): Complete log sufficiency test with learnings
  experiments/2025-11-17_log-sufficiency-test.md
  experiments/LOG.md
Due: none

docs(framework): Revise task-viz spec to LLM-first architecture
  commands/task-viz.md
  experiments/LOG.md
  skills/framework/specs/2025-11-17_task-visualization-dashboard.md
Due: none

fix(gitignore): Remove experiments/ from ignore list
  .gitignore
Due: none

docs(readme): Add commands directory documentation
  README.md
  experiments/LOG.md
Due: none

refactor(extract): Separate extraction concerns - skill/agent/bmem
  .gitignore
  agents/email-extractor.md
  commands/archive-extract.md
  commands/task-viz.md
  experiments/LOG.md
  skills/extractor/README.md
  skills/extractor/SKILL.md
  skills/extractor/tests/test_archive_integration.sh
Due: none

feat(pdf): Add PDF generation skill with letter and academic styles
  skills/pdf/SKILL.md
  skills/pdf/assets/academic-style.css
  skills/pdf/assets/fonts/Roboto-Bold.ttf
  skills/pdf/assets/fonts/Roboto-BoldItalic.ttf
  skills/pdf/assets/fonts/Roboto-Italic.ttf
  skills/pdf/assets/fonts/Roboto-Light.ttf
  skills/pdf/assets/fonts/Roboto-Medium.ttf
  skills/pdf/assets/fonts/Roboto-Regular.ttf
  skills/pdf/assets/fonts/RobotoMonoNerdFont-Bold.ttf
  skills/pdf/assets/fonts/RobotoMonoNerdFont-Italic.ttf
  skills/pdf/assets/fonts/RobotoMonoNerdFont-Regular.ttf
  skills/pdf/assets/letter-style.css
  skills/pdf/scripts/generate_pdf.py
Due: radon-complexity, radon-maintainability, pytest

docs(framework): Update STATE.md for hook logs removal
  config/claude/mcp.json
  skills/framework/STATE.md
Due: none

docs(framework): Adjust task-viz spec for Excalidraw mind map
  skills/framework/specs/2025-11-17_task-visualization-dashboard.md
Due: none

docs(framework): Add layout flexibility preference to task-viz
  skills/framework/specs/2025-11-17_task-visualization-dashboard.md
Due: none

docs(accommodations): Add visual layout preference
  ACCOMMODATIONS.md
Due: none

log: agent invented work from TODO comments after task completion
  experiments/LOG.md
Due: none

docs(framework): Update all LOG.md references to correct location
  README.md
  ROADMAP.md
  VISION.md
  commands/learn.md
  experiments/LOG.md
Due: none

refactor: Move STATE.md to $ACA_DATA and update references
  CLAUDE.md
  README.md
  config/claude/settings.json
  hooks/README.md
  scripts/setup.sh
  skills/framework/SKILL.md
  skills/framework/STATE.md
Due: none

feat(skills): Add excalidraw skill with comprehensive visual design guidance
  skills/excalidraw/SKILL.md
  skills/excalidraw/references/json-format.md
  skills/excalidraw/references/mcp-server-setup.md
  tests/test_excalidraw_skill.py
Due: radon-complexity, radon-maintainability, test-architecture, pytest

fix(framework): Update Strategic Partner mode to use bmem search
  skills/framework/SKILL.md
Due: none

fix(framework): Replace direct file reads with bmem MCP tools in strategic-partner-mode
  commands/strategy.md
  skills/framework/references/strategic-partner-mode.md
  tests/test_skills_readme_integrity.py
Due: radon-complexity, radon-maintainability, test-architecture, pytest

refactor(bmem): Move all tags to frontmatter, remove inline hashtags from observations
  skills/bmem/SKILL.md
  skills/bmem/references/detail-level-guide.md
  skills/bmem/references/observation-quality-guide.md
  skills/bmem/references/obsidian-compatibility.md
  skills/bmem/references/obsidian-format-spec.md
Due: none

refactor(commands): Revise /strategy to focus on facilitation over advice
  commands/strategy.md
Due: none

feat(hooks): Add git safety validation to PreToolUse hook
  hooks/log_pretooluse.py
  tests/integration/test_git_safety_hook.py
Due: radon-complexity, radon-maintainability, test-architecture, pytest

Add workflow compliance section to /ttd command
  commands/ttd.md
Due: none

docs(bmem): clarify format philosophy - human-first, not schema-first
  skills/bmem/SKILL.md
Due: none

Path conditions:
  radon-complexity: any of: \.py$
  radon-maintainability: any of: \.py$
  test-architecture: any of: ^tests/.*\.py$
  pytest: any of: \.py$
