Repository nicsuzor/academicOps: changes, and which pre-commit hooks are due for each by the changed paths.
All: dprint, check-framework-integrity

.pre-commit-config.yaml:

# Pre-commit hooks for academicOps framework governance
# See https://pre-commit.com for more info

repos:
  # Markdown/JSON/TOML validation (dprint - check-only, no auto-fix)
  # Ruff check --fix auto-fixes what it can; ruff-format checks formatting
  - repo: local
    hooks:
      - id: dprint
        name: dprint check
        entry: uv run dprint check
        language: system
        types_or: [markdown, json, toml]
        pass_filenames: true

  # Markdown linting (catches issues dprint doesn't fix)
  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.12.1
    hooks:
      - id: markdownlint-cli2
        exclude: '^archived/'

  # Standard hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: '\.excalidraw$'
      - id: end-of-file-fixer
        exclude: '\.excalidraw$'
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
        args: ['--maxkb=500']

  # Python linting (auto-fix enabled)
  # Ruff check --fix auto-fixes what it can; ruff-format checks formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.4
    hooks:
      - id: ruff
        args: [--fix]
        exclude: '^archived/'
      - id: ruff-format
        args: [--check]
        exclude: '^archived/'

  # Framework integrity checks (index wikilinks, skill entries, workflow length)
  # Consolidates check-workflow-length + new index integrity validation
  - repo: local
    hooks:
      - id: check-framework-integrity
        name: framework integrity check
        entry: uv run python scripts/check_framework_integrity.py
        language: system
        pass_filenames: false
        files: '(WORKFLOWS|SKILLS)\.md$|workflows/.*\.md$|skills/.*/SKILL\.md$|commands/.*\.md$'

  # Type checking and full framework health checks run in CI only
  # (see .github/workflows/framework-health.yml)
  #
  # Moved to CI:
  # - basedpyright: full type analysis too slow for every commit
  # - check-skill-line-count: whole-repo scan, not file-scoped
  # - check-orphan-files: whole-repo scan, not file-scoped
  # - check-framework-integrity --full: slow full codebase wikilink scan
  # - audit_framework_health: comprehensive audit

loosen permissions
  build/docker/antigravity-cli-settings.json
  build/testdata/lib/shared-dir/foo.md
  build/testdata/lib/shared-hook/hook.py
  plugins/ida/agents/ida.md
  plugins/orchestrate/agents/james.md
  plugins/orchestrate/agents/marsha.md
  plugins/pkb/agents/pauli.md
  specs/agents/agent-authority.md
  tests/test_build.py
Due: dprint

excuse lib
  .dockerignore
Due: none

loosen all the way
  plugins/ida/agents/ida.md
  plugins/orchestrate/agents/james.md
  plugins/pkb/agents/pauli.md
Due: dprint

update honesty hook
  plugins/orchestrate/hooks/messages/honesty.md
Due: dprint

docs(doctrine): promote seven ratified junior rules into the plugins
  lib/axioms/governing-rules.md
  lib/doctrine/delegation-brief.md
  plugins/ida/agents/ida.md
  plugins/orchestrate/agents/james.md
Due: dprint

trivial fact exemption
  plugins/orchestrate/hooks/messages/honesty.md
Due: dprint

feat: transcript discovery, launcher sanitization, OTEL telemetry, and 4-tier renderer hardening
  lib/hooks/dispatch.py
  lib/polecat/cli.py
  lib/polecat/env_contract.py
  lib/py/transcripts/adapters/claude.py
  lib/py/transcripts/domain/__init__.py
  lib/py/transcripts/domain/renderer.py
  lib/py/transcripts/domain/view.py
  lib/py/transcripts/model.py
  lib/py/transcripts/runner.py
  plugins/rbg/hooks/evaluator_otel_trace.py
  plugins/rbg/hooks/handlers.py
  tests/polecat/test_cli_sanitization.py
  tests/polecat/test_container_config.py
  tests/polecat/test_run_record.py
  tests/polecat/test_transcript_persistence.py
  tests/test_cope.py
  tests/transcripts/test_domain.py
  tests/transcripts/test_polecat_discovery.py
  tests/transcripts/test_r4_adversarial_stress.py
  tests/transcripts/test_r4_renderer_hardening.py
  tests/transcripts/test_secret_redaction.py
  tests/transcripts/test_subagents.py
Due: none

add rex
  .agents/agents/rex.md
  .claude/agents
Due: dprint

add missing specs
  specs/future/hydrator-quality-escalation.md
  specs/future/prompt-hydration.md
  specs/future/session-handover-contract.md
  specs/future/session-handover-yaml.md
  specs/future/session-insights-metrics-schema.md
  specs/future/session-insights-prompt.md
  specs/future/session-naming-convention.md
  specs/future/session-start-injection.md
  specs/future/sleep-cycle.md
Due: dprint

fail fast
  .agents/agents/rex.md
Due: dprint

debug interactively
  .agents/agents/rex.md
Due: dprint

add write to rex
  .agents/agents/rex.md
Due: dprint

Revert "debug message"
  Dockerfile
Due: none

adjust tools
  .agents/agents/rex.md
  plugins/pkb/agents/pauli.md
Due: dprint

dont poll
  .agents/agents/rex.md
Due: dprint

allow self change rex
  .agents/agents/rex.md
Due: dprint

abort on no spec
  .agents/agents/rex.md
Due: dprint

fail fast rex
  .agents/agents/rex.md
Due: dprint

check agy
  .agents/agents/rex.md
Due: dprint

note the working headless agy invocation
  .agents/CORE.md
Due: dprint

give every agy agent-shipping plugin its own mcp_config
  build/clients/agy.py
  lib/clients/agy-mcp-services.json
  plugins/pkb/manifest/mcp.template.json
Due: dprint

warm uv's cache for the agy MCP server command
  Dockerfile
Due: none

record what a headless agy worker needs to do work
  .agents/CORE.md
Due: dprint

name agy's real boot signal in the debug walk
  .agents/skills/debug/SKILL.md
Due: dprint, check-framework-integrity

add scripted polecat probes to the debug skill
  .agents/skills/debug/SKILL.md
  .agents/skills/debug/scripts/matrix-probe.sh
  .agents/skills/debug/scripts/probe.sh
Due: dprint, check-framework-integrity

score the MCP probe on the tool-call record, not the reply
  .agents/skills/debug/SKILL.md
  .agents/skills/debug/scripts/matrix-probe.sh
Due: dprint, check-framework-integrity

name the tool in the MCP probe and forbid file reads
  .agents/skills/debug/scripts/matrix-probe.sh
  build/clients/agy.py
  lib/polecat/cli.py
  plugins/pkb/manifest/mcp.template.json
Due: dprint

record the real agy constraint: never pass --agent
  .agents/CORE.md
Due: dprint

state the agy no-default-agent contract in the tests
  tests/polecat/test_container_invocation.py
Due: none

stage the MCP server into agy's user settings
  lib/polecat/cli.py
Due: none

require proof from a channel the subject cannot author
  .agents/CORE.md
  .agents/agents/rex.md
Due: dprint

mark the agy agent downgrade as a defect, not a design
  .agents/CORE.md
  .agents/agents/rex.md
  lib/polecat/cli.py
  tests/polecat/test_container_invocation.py
Due: dprint

state the agy agent finding at the certainty it actually has
  .agents/CORE.md
  lib/polecat/cli.py
  tests/polecat/test_container_invocation.py
Due: dprint

Remove dangling link to a non-existent enforcement.md heading
  specs/enforcement/task-contract.md
Due: dprint

new workflows
  plugins/pkb/skills/brief/workflows/scheduled/sleep.md
Due: dprint, check-framework-integrity

update sleep skill
  .agents/agents/rex.md
  plugins/orchestrate/agents/james.md
Due: dprint

Scope dogfood's approval gate to remedies, not every edit
  .agents/skills/dogfood/SKILL.md
Due: dprint, check-framework-integrity
