Repository nicsuzor/academicOps: changes, and which pre-commit hooks are due for each by the changed paths.
All: dprint, check-framework-integrity

dprint:
  name: dprint check
  entry: uv run dprint check
  language: system
  pass_filenames: true

check-framework-integrity:
  name: framework integrity check
  entry: uv run python scripts/check_framework_integrity.py
  language: system
  pass_filenames: false

fix(build): refuse a shell variable in an agy MCP serverUrl
  build/clients/agy.py
  plugins/aops/templates/wf-qa.md
  tests/test_build.py
Due: dprint

allow intent
  plugins/pkb/skills/q/SKILL.md
Due: dprint, check-framework-integrity

restrict pauli
  plugins/ida/agents/ida.md
  plugins/pkb/agents/pauli.md
Due: dprint

add agents
  plugins/ida/agents/ida.md
Due: dprint

add mcp access
  plugins/ida/agents/ida.md
  plugins/pkb/agents/pauli.md
Due: dprint

fix(pkb): grant pauli PKB tools by exact name; drop Bash scope that CC ignores
  plugins/ida/agents/ida.md
  plugins/ida/hooks/handlers.py
  plugins/pkb/agents/pauli.md
Due: dprint

refactor: drop user-level 'services' MCP server; address PKB by plugin prefix only
  plugins/aops/skills/hydrate/SKILL.md
  plugins/ida/agents/ida.md
  plugins/ida/hooks/scratchpad_gate.py
  plugins/pkb/agents/pauli.md
  plugins/pkb/skills/q/SKILL.md
  plugins/pkb/skills/reconcile/SKILL.md
  plugins/pkb/skills/remember/references/consolidation.md
  plugins/tools/skills/deep-research/procedures/pkb-capture.md
  plugins/tools/skills/extract/SKILL.md
  plugins/tools/skills/new-project/instructions/init.md
  specs/workflows/research-decomposition.md
  tests/test_ida_permissions.py
Due: dprint, check-framework-integrity

update task list
  plugins/ida/agents/ida.md
  plugins/pkb/agents/pauli.md
Due: dprint

change hook names
  plugins/ida/agents/ida.md
  plugins/pkb/agents/pauli.md
Due: dprint

fix(agents): boundary pauli to PKB-only, sara to dispatch-only
  plugins/aops/agents/pauli.md
  plugins/aops/agents/sara.md
Due: dprint

revert(agents): drop tools: frontmatter block from pauli.md
  plugins/aops/agents/pauli.md
Due: dprint

fix(q): correct stated_weight scale, queue user-invoked captures, add consolidation rule
  plugins/aops/skills/q/SKILL.md
Due: dprint, check-framework-integrity

fix(tick): stop instructing assignment of decision nodes to the user
  plugins/aops/skills/tick/SKILL.md
Due: dprint, check-framework-integrity

feat(polecat): disable agy's feedback survey prompt
  lib/polecat/defaults/agy-settings.json
Due: dprint

fix(polecat): disable Claude Code print mode's 600s bg-task ceiling
  lib/polecat/env_contract.py
  tests/polecat/test_container_config.py
Due: none

fix(pkb): portable universal-tier workflow path + project-tier step in pull
  plugins/pkb/skills/brief/SKILL.md
  plugins/pkb/skills/pull/SKILL.md
Due: dprint, check-framework-integrity

feat(polecat): disable agy's feedback survey prompt (#2624)
  lib/polecat/defaults/agy-settings.json
Due: dprint

fix(tick): stop instructing assignment of decision nodes to the user (#2623)
  plugins/aops/skills/tick/SKILL.md
Due: dprint, check-framework-integrity

fix(pauli): decide and record Bash exclusion from PKB-only boundary
  plugins/aops/agents/pauli.md
Due: dprint

fix(q): correct stated_weight scale, queue user-invoked captures, add consolidation rule (#2622)
  plugins/aops/skills/q/SKILL.md
Due: dprint, check-framework-integrity

Simplify workflow-template skills: drop mandatory exclusions, fixed kinds
  plugins/pkb/skills/workflow-create/SKILL.md
  plugins/pkb/skills/workflow-library/SKILL.md
Due: dprint, check-framework-integrity

Boundary pauli to PKB-only, sara to dispatch-only (#2621)
  plugins/aops/agents/pauli.md
  plugins/aops/agents/sara.md
Due: dprint

chore(dev): release 0.9.0
  .release-please-manifest.json
  CHANGELOG.md
  pyproject.toml
Due: dprint

Simplify wf-*.md templates: drop category, exclusion clauses, provenance
  plugins/aops/templates/wf-fact-check.md
  plugins/aops/templates/wf-qa-visual.md
  plugins/aops/templates/wf-qa.md
  plugins/aops/templates/wf-signoff.md
  plugins/aops/templates/wf-structural-map.md
  plugins/aops/templates/wf-tdd.md
Due: dprint

Cut wf-tdd, wf-qa-visual, wf-structural-map into brief's word budget
  plugins/aops/templates/wf-fact-check.md
  plugins/aops/templates/wf-qa-visual.md
  plugins/aops/templates/wf-qa.md
  plugins/aops/templates/wf-signoff.md
  plugins/aops/templates/wf-structural-map.md
  plugins/aops/templates/wf-tdd.md
Due: dprint

fix: replace dead orchestrate:pc route with aops:polecat
  plugins/aops/agents/james.md
  plugins/aops/agents/sara.md
  specs/agents/ida-supervision-migration.md
  tests/polecat/test_pc_agent_dispatch.py
Due: dprint

fix(pkb): unify universal template tier under pkb plugin, drop dead wf-loop refs
  plugins/pkb/workflows/wf-fact-check.md
  plugins/pkb/workflows/wf-qa-visual.md
  plugins/pkb/workflows/wf-qa.md
  plugins/pkb/workflows/wf-signoff.md
  plugins/pkb/workflows/wf-structural-map.md
  plugins/pkb/workflows/wf-tdd.md
Due: dprint, check-framework-integrity

Grant pauli the email MCP server's tools
  plugins/pkb/agents/pauli.md
Due: dprint

polecat: give dispatch a real way to target a project's active line
  lib/polecat/cli.py
  lib/polecat/defaults/polecat.yaml.example
  plugins/aops/skills/polecat/SKILL.md
  tests/polecat/test_default_branch_command.py
Due: dprint, check-framework-integrity

fix(ci): restore lib/axioms and repair stale build/pytest expectations
  lib/axioms/AXIOMS-REVIEW.md
  lib/axioms/README.md
  lib/axioms/bounded-execution.md
  lib/axioms/categorical-imperative.md
  lib/axioms/cite-sources.md
  lib/axioms/closure.md
  lib/axioms/costly-ops-approval.md
  lib/axioms/data-boundaries.md
  lib/axioms/delay-decisions.md
  lib/axioms/do-one-thing.md
  lib/axioms/durable-capture.md
  lib/axioms/evidence-immutable.md
  lib/axioms/excellence.md
  lib/axioms/exercise-authority.md
  lib/axioms/full-observability.md
  lib/axioms/governing-rules.md
  lib/axioms/halt-on-failure.md
  lib/axioms/honest-epistemics.md
  lib/axioms/judgment-non-delegable.md
  lib/axioms/launch-claim.md
  lib/axioms/one-way-door.md
  lib/axioms/probe-uncertainty.md
  lib/axioms/pull-over-push.md
  lib/axioms/single-source-of-truth.md
  lib/axioms/synthesize-not-accrete.md
  plugins/ida/hooks/citation_enforcement.py
  plugins/rbg/manifest/plugin.toml
  plugins/rbg/skills/axioms/SKILL.md
  tests/test_build.py
  tests/test_cope.py
Due: dprint, check-framework-integrity

Remove config-mirror tests; add the anti-pattern rule to TDD instructions
  .agents/rules/RULES.md
  .github/agents/qa.agent.md
  plugins/aops/templates/wf-tdd.md
  tests/polecat/test_pc_agent_dispatch.py
  tests/test_build.py
  tests/test_cope.py
  tests/test_hooks.py
  tests/test_pkb_handlers.py
  tests/test_rbg_stop_gate.py
Due: dprint

Drop ts session-end-sync: never built, delete its spec-only tests
  .claude/setup.sh
  lib/py/transcripts/domain/context.py
  plugins/ts/README.md
  tests/test_shipped_hooks.py
Due: dprint

fix(pkb): relocate wf-tdd.md to where /brief actually resolves it
  plugins/pkb/workflows/wf-tdd.md
Due: dprint, check-framework-integrity

fix(docs): resolve 55 broken documentation references on v0.10
  plugins/aops/skills/learn/SKILL.md
  plugins/pkb/skills/brief/SKILL.md
  plugins/tools/skills/new-project/instructions/init.md
  plugins/ts/README.md
  pyproject.toml
  specs/ARCHITECTURE.md
  specs/README.md
  specs/agents/ida-supervision-migration.md
  specs/agents/prompt-hydration.md
  specs/agents/reify.md
  specs/agents/sara.md
  specs/agents/sleep-cycle.md
  specs/build-and-install.md
  specs/enforcement/enforcement.md
  specs/enforcement/evidence-contract.md
  specs/enforcement/workflow.md
  specs/future/session-insights-metrics-schema.md
  specs/future/session-insights-prompt.md
  specs/polecat/polecat-system.md
  specs/polecat/spec-image-staleness-detection.md
  specs/polecat/spec-partial-work-tight-loop-delivery.md
  specs/transcript-pipeline.md
  specs/workflows/conceptual-review-workflow.md
  specs/workflows/research-decomposition.md
  tests/test_skill_status_vocabulary.py
Due: dprint, check-framework-integrity

ci(v0.10): auto-merge PRs on green checks plus a recorded review
  .github/workflows/automerge-v010.yml
  specs/enforcement/sign-off.md
Due: dprint

fix(docs): repoint 3 citations left dangling by the ARCHITECTURE.md recreation
  specs/build-and-install.md
  specs/enforcement/auto-mode-classifier.md
  specs/enforcement/evidence-contract.md
Due: dprint

fix(automerge-v010): close self-approval and stale-approval-retraction bypass
  .github/workflows/automerge-v010.yml
  specs/enforcement/sign-off.md
Due: dprint

Gate v0.10 auto-merge on mechanical checks alone, drop review requirement
  .github/workflows/automerge-v010.yml
  specs/enforcement/sign-off.md
Due: dprint

Gate v0.10 auto-merge on mechanical checks alone (no review requirement) (#2639)
  .github/workflows/automerge-v010.yml
  specs/enforcement/sign-off.md
Due: dprint

Fix automerge-v010.yml: use AOPS_BOT_GH_TOKEN, not GITHUB_TOKEN, for merges
  .github/workflows/automerge-v010.yml
Due: none

Path conditions:
  dprint: any of: \.(md|markdown|mdown)$, \.json$, \.toml$
  check-framework-integrity: any of: (WORKFLOWS|SKILLS)\.md$|workflows/.*\.md$|skills/.*/SKILL\.md$|commands/.*\.md$
