Repository nicsuzor/academicOps: changes, and which pre-commit hooks are due for each by the changed paths.
All: dprint, check-framework-integrity

.pre-commit-config.yaml:

# Pre-commit hooks for academicOps framework governance
# See https://pre-commit.com for more info

repos:
  # Markdown/JSON/TOML validation (dprint - check-only, no auto-fix)
  # Ruff check --fix auto-fixes what it can; ruff-format checks formatting
  - repo: local
    hooks:
      - id: dprint
        name: dprint check
        entry: uv run dprint check
        language: system
        types_or: [markdown, json, toml]
        pass_filenames: true

  # Markdown linting (catches issues dprint doesn't fix)
  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.12.1
    hooks:
      - id: markdownlint-cli2
        exclude: '^archived/'

  # Standard hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: '\.excalidraw$'
      - id: end-of-file-fixer
        exclude: '\.excalidraw$'
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
        args: ['--maxkb=500']

  # Python linting (auto-fix enabled)
  # Ruff check --fix auto-fixes what it can; ruff-format checks formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.4
    hooks:
      - id: ruff
        args: [--fix]
        exclude: '^archived/'
      - id: ruff-format
        args: [--check]
        exclude: '^archived/'

  # Framework integrity checks (index wikilinks, skill entries, workflow length)
  # Consolidates check-workflow-length + new index integrity validation
  - repo: local
    hooks:
      - id: check-framework-integrity
        name: framework integrity check
        entry: uv run python scripts/check_framework_integrity.py
        language: system
        pass_filenames: false
        files: '(WORKFLOWS|SKILLS)\.md$|workflows/.*\.md$|skills/.*/SKILL\.md$|commands/.*\.md$'

  # Type checking and full framework health checks run in CI only
  # (see .github/workflows/framework-health.yml)
  #
  # Moved to CI:
  # - basedpyright: full type analysis too slow for every commit
  # - check-skill-line-count: whole-repo scan, not file-scoped
  # - check-orphan-files: whole-repo scan, not file-scoped
  # - check-framework-integrity --full: slow full codebase wikilink scan
  # - audit_framework_health: comprehensive audit

forward polecat env vars extra
  aops-core/lib/polecat_config.py
Due: none

dry/hook docs consolidation (#2200)
  specs/CLIENT-TRANSLATION.md
  specs/enforcement/GATES.md
Due: dprint

update configs and axioms and defaults
  aops-core/hooks/gate_config.py
  polecat/bootstrap.py
Due: none

clarify makefile doesn't push docker image
  Makefile
Due: none

use most recent sonnet
  polecat/defaults/claude-settings.json
  polecat/defaults/polecat.yaml.example
  tests/README.md
Due: dprint

refactor(polecat): move PKB config injection from entrypoint to host+build time
  Dockerfile
  aops-pkb/mcp.json.template
  polecat/cli.py
  polecat/entrypoint.sh
  tests/polecat/test_cli_docker.py
Due: none

enable missing gate
  polecat/defaults/claude-settings.json
Due: dprint

feat(gates): remove sentinel, non-blocking warn-mode Stop delivery
  README.md
  aops-core/hooks/gate_config.py
  aops-core/hooks/router.py
  aops-core/hooks/schemas.py
  aops-core/hooks/session_env_setup.py
  aops-core/hooks/templates/sentinel-policy-context.md
  aops-core/hooks/templates/sentinel-policy-message.md
  aops-core/lib/gates/custom_conditions.py
  aops-core/lib/gates/definitions.py
  aops-core/lib/template_registry.py
  aops-core/lib/tool_categories.py
  aops-core/lib/tool_registry.py
  aops-core/policies/deny-extension-writes.toml
  polecat/cli.py
  specs/CLIENT-TRANSLATION.md
  specs/ENFORCEMENT-MAP.md
  specs/adhd/surface-contract.md
  specs/agents/rbg.md
  specs/enforcement/GATES.md
  specs/enforcement/pyramid.md
  tests/hooks/test_agy_toolcall_extraction_1800.py
  tests/hooks/test_gate_config.py
  tests/hooks/test_gate_lifecycle.py
  tests/hooks/test_gate_verdict_logic.py
  tests/hooks/test_ida_askuserquestion_gate.py
  tests/hooks/test_ida_denyreason_1798.py
  tests/hooks/test_message_path_leak_coverage.py
  tests/hooks/test_pty_capabilities_agree_with_client_spec.py
  tests/hooks/test_rbg_review_gate.py
  tests/hooks/test_sentinel_gate.py
  tests/hooks/test_subagent_gate_dispatch_regression.py
  tests/test_subagent_gates.py
Due: dprint

fix(polecat): address review findings from PKB config injection refactor
  Dockerfile
  aops-pkb/mcp.json.template
  polecat/cli.py
  polecat/entrypoint.sh
  tests/polecat/test_cli_docker.py
  tests/polecat/test_entrypoint_pkb_seed.py
Due: none

docs: remove stale merge-prep-cron/agent-merge-prep cross-repo-shim examples (#2198)
  examples/cross-repo-shim/agent-merge-prep.yml
  examples/cross-repo-shim/merge-prep-cron.yml
  examples/cross-repo-shim/pr-pipeline.yml
Due: none

refactor(mcp): move pkb stdio launcher ownership from aops-core to aops-pkb
  aops-core/mcp.json.template
  aops-pkb/scripts/ensure-path.sh
  aops-pkb/scripts/run-mcp.sh
Due: none

fix(gates): reset handover turn_did_work per-turn instead of session-wide
  aops-core/hooks/router.py
  aops-core/lib/gates/custom_actions.py
  aops-core/lib/gates/custom_conditions.py
  aops-core/lib/gates/definitions.py
  aops-core/lib/session_state.py
  specs/enforcement/GATES.md
  tests/hooks/fixtures/gate_scenarios.json
  tests/hooks/gate_helpers.py
  tests/hooks/test_agy_worker_gate_posture.py
  tests/hooks/test_gate_context_injection.py
  tests/hooks/test_gate_lifecycle.py
  tests/hooks/test_gate_verdict_logic.py
  tests/hooks/test_handover_gate_latch.py
  tests/hooks/test_qa_gate_close_trigger.py
Due: dprint

fix(ci): kill pipeline-v1 static-tag drift — point consumers at @dist
  .github/workflows/build-extension.yml
  examples/cross-repo-shim/pr-pipeline.yml
  specs/workflows/pr-pipeline.md
Due: dprint, check-framework-integrity

fix: clear dev-red pytest + type-check failures blocking PR pipeline
  scripts/pty_hook_probe.py
  tests/lib/test_polecat_config.py
  tests/polecat/test_bootstrap.py
Due: none

fix: clear dev-red pytest + type-check failures blocking PR pipeline (#2207)
  scripts/pty_hook_probe.py
  tests/lib/test_polecat_config.py
  tests/polecat/test_bootstrap.py
Due: none

fix(hooks): restore aops-core/scripts/ensure-path.sh as a tracked exception
  .agents/skills/aops/references/hooks.md
  aops-core/BUILD.md
  aops-core/scripts/ensure-path.sh
  scripts/build.py
Due: dprint

feat(gates): remove sentinel, non-blocking warn-mode Stop delivery (#2202)
  README.md
  aops-core/hooks/gate_config.py
  aops-core/hooks/router.py
  aops-core/hooks/schemas.py
  aops-core/hooks/session_env_setup.py
  aops-core/hooks/templates/sentinel-policy-context.md
  aops-core/hooks/templates/sentinel-policy-message.md
  aops-core/lib/gates/custom_conditions.py
  aops-core/lib/gates/definitions.py
  aops-core/lib/template_registry.py
  aops-core/lib/tool_categories.py
  aops-core/lib/tool_registry.py
  aops-core/policies/deny-extension-writes.toml
  polecat/cli.py
  specs/CLIENT-TRANSLATION.md
  specs/ENFORCEMENT-MAP.md
  specs/adhd/surface-contract.md
  specs/agents/rbg.md
  specs/enforcement/GATES.md
  specs/enforcement/pyramid.md
  tests/hooks/test_agy_toolcall_extraction_1800.py
  tests/hooks/test_gate_config.py
  tests/hooks/test_gate_lifecycle.py
  tests/hooks/test_gate_verdict_logic.py
  tests/hooks/test_ida_askuserquestion_gate.py
  tests/hooks/test_ida_denyreason_1798.py
  tests/hooks/test_message_path_leak_coverage.py
  tests/hooks/test_pty_capabilities_agree_with_client_spec.py
  tests/hooks/test_rbg_review_gate.py
  tests/hooks/test_sentinel_gate.py
  tests/hooks/test_subagent_gate_dispatch_regression.py
  tests/test_subagent_gates.py
Due: dprint

fix(polecat): address review findings from PKB config injection refactor (#2204)
  .agents/skills/aops/references/hooks.md
  Dockerfile
  aops-core/BUILD.md
  aops-core/mcp.json.template
  aops-pkb/mcp.json.template
  aops-pkb/scripts/ensure-path.sh
  aops-pkb/scripts/run-mcp.sh
  polecat/cli.py
  polecat/entrypoint.sh
  scripts/build.py
  scripts/format.sh
  tests/polecat/test_cli_docker.py
  tests/polecat/test_entrypoint_pkb_seed.py
Due: dprint

fix(gates): reset handover turn_did_work per-turn instead of session-wide (#2205)
  aops-core/hooks/router.py
  aops-core/lib/gates/custom_actions.py
  aops-core/lib/gates/custom_conditions.py
  aops-core/lib/gates/definitions.py
  aops-core/lib/session_state.py
  specs/enforcement/GATES.md
  tests/hooks/fixtures/gate_scenarios.json
  tests/hooks/gate_helpers.py
  tests/hooks/test_agy_worker_gate_posture.py
  tests/hooks/test_gate_context_injection.py
  tests/hooks/test_gate_lifecycle.py
  tests/hooks/test_gate_verdict_logic.py
  tests/hooks/test_handover_gate_latch.py
  tests/hooks/test_qa_gate_close_trigger.py
Due: dprint

fix(ci): kill pipeline-v1 static-tag drift — point consumers at @dist (#2206)
  .github/workflows/build-extension.yml
  examples/cross-repo-shim/pr-pipeline.yml
  specs/workflows/pr-pipeline.md
Due: dprint, check-framework-integrity

fix(gates): finalise migration to session_mode_key evaluation
  aops-core/hooks/router.py
  aops-core/hooks/session_env_setup.py
  aops-core/lib/gate_types.py
  aops-core/lib/gates/definitions.py
  aops-core/lib/gates/engine.py
  aops-core/lib/session_state.py
  tests/hooks/test_agy_worker_gate_posture.py
  tests/hooks/test_gate_hygiene_engine.py
Due: none

fix(gates): dedupe gate-mode var list, drop dead fallback, complete session-anchoring
  aops-core/hooks/gate_config.py
  aops-core/hooks/router.py
  aops-core/hooks/session_env_setup.py
  aops-core/lib/gates/custom_conditions.py
Due: none

refactor(docker): extract inline heredocs, drop cache-bust every build
  Dockerfile
  Makefile
  polecat/defaults/docker_gemini_fixups.py
Due: none

fix(gates): migrate to dynamic SessionState evaluation (#2199)
  aops-core/hooks/gate_config.py
  aops-core/hooks/router.py
  aops-core/hooks/session_env_setup.py
  aops-core/lib/gate_types.py
  aops-core/lib/gates/custom_conditions.py
  aops-core/lib/gates/definitions.py
  aops-core/lib/gates/engine.py
  aops-core/lib/session_state.py
  tests/hooks/test_agy_worker_gate_posture.py
  tests/hooks/test_gate_hygiene_engine.py
Due: none

feat(docker): build from local dist/ for dev, keep remote dist branch for CI
  .dockerignore
  Dockerfile
  Makefile
Due: none

chore(dev): release 0.3.78
  .release-please-manifest.json
  CHANGELOG.md
  pyproject.toml
  templates/aops-core.gemini-extension.json
  templates/aops-core.plugin.json
  templates/aops-tools.gemini-extension.json
  templates/aops-tools.plugin.json
Due: dprint

chore(dev): release 0.3.78 (#2186)
  .release-please-manifest.json
  CHANGELOG.md
  pyproject.toml
  templates/aops-core.gemini-extension.json
  templates/aops-core.plugin.json
  templates/aops-tools.gemini-extension.json
  templates/aops-tools.plugin.json
  uv.lock
Due: dprint

feat(aops): add polecat container certification track to E2E workflow
  .agents/skills/aops/SKILL.md
  .agents/skills/aops/workflows/12-agentic-e2e-certification.md
Due: dprint, check-framework-integrity

feat(aops): add polecat container certification track to E2E workflow (#2209)
  .agents/skills/aops/SKILL.md
  .agents/skills/aops/workflows/12-agentic-e2e-certification.md
Due: dprint, check-framework-integrity

docs(aops): pin Workflow 12 closing-pipeline evidence to an orchestrator-rendered transcript
  .agents/skills/aops/workflows/12-agentic-e2e-certification.md
Due: dprint, check-framework-integrity

symlink skills
  .claude/skills
Due: none

fix(aops-pkb): consolidate daily-note SSoT between /daily and /remember
  aops-pkb/skills/daily/SKILL.md
  aops-pkb/skills/remember/SKILL.md
Due: dprint, check-framework-integrity

docs(build): consolidate BUILD.md into specs/build-and-install.md, fix stale claims
  CONTRIBUTING.md
  Makefile
  aops-core/BUILD.md
  scripts/build.py
  specs/build-and-install.md
  specs/meta/doc-taxonomy.md
Due: dprint

docs(build): relocate RELEASING.md into specs/, fix cross-references
  specs/workflows/releasing.md
Due: dprint, check-framework-integrity

docs(build): fix cross-references after releasing.md relocation
  .github/workflows/build-extension.yml
  CONTRIBUTING.md
  scripts/check_no_new_orphan_md.py
  specs/build-and-install.md
  specs/workflows/pr-pipeline.md
  specs/workflows/releasing.md
Due: dprint, check-framework-integrity

read PR
  aops-core/scripts/transcript.py
Due: none

feat(polecat): add dev-loop harness for live plugin testing on claude+agy
  Dockerfile
  Makefile
  scripts/dev-crew.sh
  scripts/gen_dev_polecat_config.py
  tests/harness/README.md
Due: dprint
