Repository nicsuzor/academicOps: changes, and which pre-commit hooks are due for each by the changed paths.
All: radon-complexity, radon-maintainability, test-architecture, pytest

radon-complexity:
  name: Check code complexity
  entry: uv run radon cc --min B --total-average
  language: system
  pass_filenames: true

radon-maintainability:
  name: Check maintainability index
  entry: uv run radon mi --min B
  language: system
  pass_filenames: true

test-architecture:
  name: Enforce test architecture rules
  entry: uv run python scripts/check_test_architecture.py
  language: system
  pass_filenames: false

pytest:
  name: Run tests (parallel)
  entry: uv run pytest -n auto -m "not slow and not integration and not endtoend"
  language: system
  pass_filenames: false
  stages:
  - pre-commit

feat(hooks): Implement hook delegation to preserve project-specific hooks
  scripts/git-hooks/install-hooks.sh
  scripts/git-hooks/pre-commit-delegating
Due: none

Revert "feat(hooks): Implement hook delegation to preserve project-specific hooks"
  scripts/git-hooks/install-hooks.sh
  scripts/git-hooks/pre-commit-delegating
Due: none

fix(prompts): Clarify fail-fast axiom and add 'use standard tools' axiom
  .pre-commit-config.yaml
  ARCHITECTURE.md
  agents/_CORE.md
  dist/.pre-commit-config.yaml
  dist/bots/commands/example.sh
  dist/bots/docs/INSTRUCTIONS.md
  dist/bots/scripts/README.md
  docs/INSTRUCTIONS.md
  docs/TRAINER.md
  scripts/git-hooks/install-hooks.sh
  scripts/git-hooks/pre-commit
  scripts/install_bot.sh
  scripts/load_instructions.py
  tests/test_context_loading_integration.py
Due: radon-complexity, radon-maintainability, test-architecture, pytest

experiment: Failed to answer direct question - launched into solutions
  experiments/2025-10-20_failed-to-answer-direct-question.md
  experiments/INDEX.md
Due: none

fix(prompts): Remove repo verification from /log-failure, add 'answer direct questions' axiom
  .claude/commands/log-failure.md
  agents/_CORE.md
Due: none

feat(commands): Add /dev command for developer workflow
  .claude/commands/dev.md
Due: none

docs: Document /dev command and on-demand loading architecture
  ARCHITECTURE.md
Due: none

feat(prompts): Add 'DO ONE THING' axiom - prevent scope creep
  agents/_CORE.md
Due: none

docs: Document two-tier agent architecture (regular vs supervisor)
  ARCHITECTURE.md
Due: none

docs: Document 3-tier agent instruction loading architecture
  ARCHITECTURE.md
Due: none

feat(agents): Implement self-loading pattern for trainer agent
  .claude/commands/trainer.md
  ARCHITECTURE.md
  agents/trainer.md
  bots/agents/trainer.md
Due: none

test: Add integration tests for command/agent file integrity
  tests/test_command_file_integrity.py
Due: radon-complexity, radon-maintainability, test-architecture, pytest

refactor: Consolidate into ONE load_instructions.py script
  bots/agents/_CORE.md
  scripts/load_instructions.py
Due: radon-complexity, radon-maintainability, pytest

refactor: Delete read_instructions.py, fix integration tests
  scripts/read_instructions.py
  tests/test_command_file_integrity.py
Due: radon-complexity, radon-maintainability, test-architecture, pytest

fix: Use 'uv run python' in all command files
  .claude/commands/dev.md
  .claude/commands/ttd.md
Due: none

fix: Add uv run python to trainer command
  .claude/commands/trainer.md
Due: none

refactor: Move DEVELOPER.md to bots/agents/
  bots/agents/DEVELOPER.md
Due: none

fix(prompts): Add Axiom #6 - Fail-Fast for Agents, add git remote to startup
  bots/agents/_CORE.md
  scripts/load_instructions.py
Due: radon-complexity, radon-maintainability, pytest

fix(hooks): Implement safeguards to prevent catastrophic Stop hook failures (Issue #138)
  .claude/settings.json
  bots/hooks/hook_models.py
  bots/hooks/load_instructions.py
  bots/hooks/safe_hook_wrapper.sh
  bots/hooks/validate_stop.py
  bots/hooks/validate_tool.py
  scripts/validate_stop.py
  tests/test_stop_hook_resilience.py
Due: radon-complexity, radon-maintainability, test-architecture, pytest

experiment: Agent creates _new files instead of trusting git
  experiments/2025-10-21_agent-creates-new-file-instead-of-editing.md
  experiments/INDEX.md
Due: none

refactor(infrastructure): Standardize paths and simplify installation
  .claude/commands/dev.md
  .claude/commands/log-failure.md
  .claude/commands/ops.md
  .claude/commands/trainer.md
  .claude/commands/ttd.md
  .claude/settings.json
  .gemini/commands/task/complete.toml
  ARCHITECTURE.md
  agents/STRATEGIST.md
  bots/agents/_CORE.md
  bots/agents/trainer.md
  bots/hooks/safe_hook_wrapper.sh
  dist/.claude/settings.json
  docs/_UNUSED/AGENT-INSTRUCTIONS.md
  docs/_UNUSED/ARCHITECTURE.md
  docs/_UNUSED/base.md
  docs/_UNUSED/scripts.md
  scripts/code_review.py
  scripts/self-doc-template.sh
  scripts/setup_academicops.sh
  scripts/uninstall_academicops.sh
  tests/test_hook_models.py.skip
  tests/test_load_instructions_integration.py
Due: radon-complexity, radon-maintainability, test-architecture, pytest

change paths
  ARCHITECTURE.md
  agents/STRATEGIST.md
  bots/agents/trainer.md
Due: none

skills
  .claude/agent-optimization/SKILL.md
  .claude/git-commit/SKILL.md
  .claude/git-commit/references/conventional-commits.md
  .claude/git-commit/references/validation-rules.md
  .claude/python-dev/SKILL.md
  .claude/skill-creator/LICENSE.txt
  .claude/skill-creator/SKILL.md
  .claude/skill-creator/scripts/init_skill.py
  .claude/skill-creator/scripts/package_skill.py
  .claude/skill-creator/scripts/quick_validate.py
  .claude/skill-discovery/SKILL.md
  .claude/skill-discovery/scripts/detect_duplicates.py
  .claude/skill-discovery/scripts/generate_report.py
  .claude/skill-discovery/scripts/scan_repository.py
  .claude/skill-discovery/scripts/score_candidates.py
  .claude/skill-migration/SKILL.md
  .claude/skill-migration/references/migration-checklist.md
  .claude/skill-migration/scripts/cleanup_sources.py
  .claude/skill-migration/scripts/extract_workflow.py
  .claude/skill-migration/scripts/generalize_content.py
  .claude/task-management/SKILL.md
  .claude/task-management/scripts/task_add.py
  .claude/task-management/scripts/task_index.py
  .claude/task-management/scripts/task_view.py
  .claude/test-writing/SKILL.md
  dist/skills/agent-optimization.zip
  dist/skills/git-commit.zip
  dist/skills/python-dev.zip
  dist/skills/skill-discovery.zip
  dist/skills/skill-migration.zip
  dist/skills/task-management.zip
  dist/skills/test-writing.zip
  scripts/task_process.py
Due: radon-complexity, radon-maintainability, pytest

move skills
  .claude/agents.backup/academic_writer.md
  .claude/agents.backup/developer.md
  .claude/agents.backup/documenter.md
  .claude/agents.backup/mentor.md
  .claude/agents.backup/strategist.md
  .claude/agents.backup/test-readonly.md
  .claude/agents.backup/test-writer.md
  .claude/agents.backup/trainer.md
  .claude/skills/skill-creator/LICENSE.txt
  .claude/skills/skill-creator/SKILL.md
  .claude/skills/skill-creator/scripts/init_skill.py
  .claude/skills/skill-creator/scripts/package_skill.py
  .claude/skills/skill-creator/scripts/quick_validate.py
  .claude/skills/skill-discovery/SKILL.md
  .claude/skills/skill-discovery/scripts/detect_duplicates.py
  .claude/skills/skill-discovery/scripts/generate_report.py
  .claude/skills/skill-discovery/scripts/scan_repository.py
  .claude/skills/skill-discovery/scripts/score_candidates.py
  .claude/skills/skill-migration/SKILL.md
  .claude/skills/skill-migration/references/migration-checklist.md
  .claude/skills/skill-migration/scripts/cleanup_sources.py
  .claude/skills/skill-migration/scripts/extract_workflow.py
  .claude/skills/skill-migration/scripts/generalize_content.py
  .claude/skills/skill/SKILL.md
  .claude/skills/skill/git-commit/SKILL.md
  .claude/skills/skill/git-commit/references/conventional-commits.md
  .claude/skills/skill/git-commit/references/validation-rules.md
  .claude/skills/skill/python-dev/SKILL.md
  .claude/skills/task-management/SKILL.md
  .claude/skills/task-management/scripts/task_add.py
  .claude/skills/task-management/scripts/task_index.py
  .claude/skills/task-management/scripts/task_view.py
  .claude/skills/test-writing/SKILL.md
Due: radon-complexity, radon-maintainability, pytest

fix(infrastructure): Symlink entire .claude/skills/ directory instead of individual skills
  scripts/setup_academicops.sh
Due: none

feat(infrastructure): Add reinvented wheels detection and DataFog-based sanitization
  .claude/skills/experiment-tracker/SKILL.md
  .claude/skills/experiment-tracker/scripts/sanitize_github.py
  scripts/check_solved_problems.py
Due: radon-complexity, radon-maintainability, pytest

fix(infrastructure): Fix slash command paths to use correct load_instructions.py location
  .claude/commands/dev.md
  .claude/commands/trainer.md
  .claude/commands/ttd.md
Due: none

fix(infrastructure): Remove duplicate task scripts and restore task_process.py
  .claude/skills/task-management/scripts/task_add.py
  .claude/skills/task-management/scripts/task_index.py
  .claude/skills/task-management/scripts/task_view.py
  scripts/task_process.py
Due: radon-complexity, radon-maintainability, pytest

fix(infrastructure): Change python -c prohibition from block to warn
  bots/hooks/validate_tool.py
Due: radon-complexity, radon-maintainability, pytest

feat(skills): Split experiment-tracker and TRACKER.md into github-issue + aops-bug skills
  .claude/skills/aops-bug/SKILL.md
  .claude/skills/aops-bug/references/behavioral-patterns.md
  .claude/skills/aops-bug/references/framework-architecture.md
  .claude/skills/experiment-tracker/SKILL.md
  .claude/skills/experiment-tracker/scripts/sanitize_github.py
  .claude/skills/github-issue/SKILL.md
  agents/TRACKER.md
Due: radon-complexity, radon-maintainability, pytest

new skills
  .claude/commands/STRATEGIST.md
  .claude/commands/analyst.md
  .claude/commands/dev.md
  .claude/commands/log-failure.md
  .claude/commands/trainer.md
  .claude/skills/analyst/SKILL.md
  .claude/skills/analyst/references/context-discovery.md
  .claude/skills/analyst/references/dbt-workflow.md
  .claude/skills/analyst/references/streamlit-patterns.md
  .claude/skills/aops-bug/SKILL.md
  .claude/skills/aops-trainer/SKILL.md
  .claude/skills/git-commit/SKILL.md
  .claude/skills/git-commit/references/conventional-commits.md
  .claude/skills/git-commit/references/validation-rules.md
  .claude/skills/no-throwaway-code/SKILL.md
  .claude/skills/python-dev/SKILL.md
  .claude/skills/skill-discovery/SKILL.md
  .claude/skills/skill-discovery/scripts/detect_duplicates.py
  .claude/skills/skill-discovery/scripts/generate_report.py
  .claude/skills/skill-discovery/scripts/scan_repository.py
  .claude/skills/skill-discovery/scripts/score_candidates.py
  agents/DEV.md
  agents/REVIEW.md
  agents/TEST-CLEANER.md
  agents/TRAINER.md
  dist/skills/analyst.zip
  dist/skills/experiment-tracker.zip
  dist/skills/no-throwaway-code.zip
Due: radon-complexity, radon-maintainability, pytest

feat(prompts): Implement just-in-time CLAUDE.md documentation system
  bots/CLAUDE.md
  bots/agents/trainer.md
  scripts/CLAUDE.md
  tests/CLAUDE.md
  tests/integration/CLAUDE.md
Due: none

feat(tests): Add pre-release deployment architecture specification & test suite
  docs/DEPLOYMENT.md
  tests/integration/test_dogfooding.py
  tests/test_deployment_architecture.py
Due: radon-complexity, radon-maintainability, test-architecture, pytest

feat(deployment): Implement remaining deployment architecture requirements for Issue #128
  bots/hooks/validate_tool.py
  bots/scripts
  dist/.gitignore
  scripts/setup_academicops.sh
Due: radon-complexity, radon-maintainability, pytest

"Claude PR Assistant workflow"
  .github/workflows/claude.yml
Due: none

"Claude Code Review workflow"
  .github/workflows/claude-code-review.yml
Due: none

feat(agents): Add explicit "never declare success with failing tests" enforcement to SUPERVISOR
  agents/SUPERVISOR.md
  experiments/2025-10-22_supervisor-never-declare-success-with-failing-tests.md
  experiments/INDEX.md
Due: none

feat(agents): Add commit-before-return requirement to SUPERVISOR
  agents/SUPERVISOR.md
Due: none

feat(commands): Add diagnostics section to /ops command
  .claude/commands/ops.md
Due: none

dont hardcode skills
  .claude/commands/ops.md
Due: none

Path conditions:
  radon-complexity: any of: \.py$
  radon-maintainability: any of: \.py$
  test-architecture: any of: ^tests/.*\.py$
  pytest: any of: \.py$
