Repository nicsuzor/academicOps: changes, and which pre-commit hooks are due for each by the changed paths.
All: dprint, check-framework-integrity

dprint:
  name: dprint check
  entry: uv run dprint check
  language: system
  pass_filenames: true

check-framework-integrity:
  name: framework integrity check
  entry: uv run python scripts/check_framework_integrity.py
  language: system
  pass_filenames: false

fix(lint): sort imports in polecat/cli.py and tests/conftest.py
  polecat/cli.py
  tests/conftest.py
Due: none

fix(tests): unify run/crew paths on MEGA_PROMPT, remove PKB tool call
  tests/e2e/test_all_invocation_paths.py
Due: none

feat(james,daily): close task completion loop on PR merge
  aops-core/SKILLS.md
  aops-core/agents/james.md
  aops-core/skills/daily/SKILL.md
Due: dprint, check-framework-integrity

feat(james,daily): close task completion loop on PR merge (#479)
  aops-core/SKILLS.md
  aops-core/agents/james.md
  aops-core/skills/daily/SKILL.md
  polecat/cli.py
Due: dprint, check-framework-integrity

fix(polecat): switch pkb_bridge from stdio subprocess to HTTP transport
  polecat/cli.py
  polecat/pkb_bridge.py
  tests/e2e/test_polecat_run.py
Due: none

fix(docker): make .gemini/ world-writable for host-UID containers
  Dockerfile
Due: none

fix(tests): reset fixture task via PKB HTTP API, not local file
  tests/e2e/test_all_invocation_paths.py
Due: none

fix(polecat): split Docker -it into separate -i -t flags for interactive mode
  polecat/cli.py
  tests/polecat/test_cli_docker.py
Due: none

test: add test for extension clean install and fix validation errors
  aops-core/GEMINI.md
  aops-core/agents/marsha.md
  tests/test_extension_clean_install.py
Due: dprint

refactor(agents): unify agent names — custodiet→rbg, qa→marsha, critic→pauli
  aops-core/.claude-plugin/plugin.json
  aops-core/SKILLS.md
  aops-core/agents/critic.md
  aops-core/agents/pauli.md
  aops-core/agents/rbg.md
  aops-core/commands/critic.md
  aops-core/commands/retro.md
  aops-core/enforcement-map.md
  aops-core/hooks/gate_config.py
  aops-core/hooks/templates/custodiet-context.md
  aops-core/hooks/templates/custodiet-countdown.md
  aops-core/hooks/templates/custodiet-instruction.md
  aops-core/hooks/templates/custodiet-policy-context.md
  aops-core/lib/gates/definitions.py
  aops-core/lib/session_reader.py
  aops-core/skills/supervisor/instructions/decomposition-and-review.md
Due: dprint, check-framework-integrity

fix: update agent names in automode rules to match rename
  aops-core/.claude-plugin/plugin.json
  aops-core/config/automode-rules.json
  polecat/defaults/claude-settings.json
Due: dprint

test: add test for extension clean install and fix validation errors (#483)
  aops-core/GEMINI.md
  aops-core/agents/marsha.md
  aops-core/config/automode-rules.json
  polecat/defaults/claude-settings.json
  tests/test_extension_clean_install.py
Due: dprint

chore(main): release 0.3.18
  .release-please-manifest.json
  CHANGELOG.md
  aops-core/.claude-plugin/plugin.json
  gemini-extension.json
  pyproject.toml
Due: dprint

chore(main): release 0.3.18 (#410)
  .release-please-manifest.json
  CHANGELOG.md
  aops-core/.claude-plugin/plugin.json
  gemini-extension.json
  pyproject.toml
Due: dprint

Update /planner skill and workflows to use scope, uncertainty, and criticality
  aops-core/skills/planner/SKILL.md
  aops-core/skills/planner/workflows/decompose.md
  aops-core/skills/planner/workflows/strategic-intake.md
  uv.lock
Due: dprint, check-framework-integrity

fix(planner): restore detailed handoff quality and critical rules in decompose.md
  aops-core/skills/planner/workflows/decompose.md
Due: dprint, check-framework-integrity

Update /planner skill to use scope, uncertainty, and criticality properties (#484)
  aops-core/skills/planner/SKILL.md
  aops-core/skills/planner/workflows/decompose.md
  aops-core/skills/planner/workflows/strategic-intake.md
  uv.lock
Due: dprint, check-framework-integrity

fix(instructions): use correct update_task(updates={...}) object syntax
  .agents/skills/framework/SKILL.md
  .agents/skills/framework/references/decision-briefing-details.md
  aops-core/commands/pull.md
  aops-core/skills/daily/instructions/focus-and-recommendations.md
  aops-core/skills/remember/SKILL.md
  aops-core/skills/supervisor/instructions/decomposition-and-review.md
Due: dprint, check-framework-integrity

fix(hooks): fail fast on path resolution, fix transcript parser schema mismatch
  aops-core/hooks/router.py
  aops-core/hooks/schemas.py
  aops-core/hooks/unified_logger.py
  aops-core/lib/session_paths.py
  aops-core/lib/transcript_parser.py
  tests/e2e/test_all_invocation_paths.py
  tests/test_session_paths.py
Due: none

docs(framework): add hook forensics reference and enhance workflow 09
  .agents/skills/framework/references/forensics-details.md
  .agents/skills/framework/workflows/09-session-hook-forensics.md
Due: dprint, check-framework-integrity

fix(instructions): use correct update_task(updates={...}) object syntax (#488)
  .agents/skills/framework/SKILL.md
  .agents/skills/framework/references/decision-briefing-details.md
  aops-core/commands/pull.md
  aops-core/skills/daily/instructions/focus-and-recommendations.md
  aops-core/skills/remember/SKILL.md
  aops-core/skills/supervisor/instructions/decomposition-and-review.md
Due: dprint, check-framework-integrity

fix(tests): handle pre-patch Docker images in e2e hook assertions
  tests/e2e/test_all_invocation_paths.py
Due: none

fix(tests): match roundtrip entries by index, not event name
  tests/e2e/test_all_invocation_paths.py
Due: none

docs(framework): hook forensics reference and workflow 09 enhancement (#490)
  .agents/skills/framework/references/forensics-details.md
  .agents/skills/framework/workflows/09-session-hook-forensics.md
Due: dprint, check-framework-integrity

feat: use release_task for task completion in pull, dump, and polecat finish
  aops-core/commands/dump.md
  aops-core/commands/pull.md
  polecat/cli.py
  polecat/pkb_bridge.py
Due: dprint, check-framework-integrity

fix: add fallback guidance for release_task in agent instructions
  aops-core/commands/dump.md
  aops-core/commands/pull.md
Due: dprint, check-framework-integrity

feat: use release_task for task completion in pull, dump, and polecat finish (#491)
  aops-core/commands/dump.md
  aops-core/commands/pull.md
  polecat/cli.py
  polecat/pkb_bridge.py
Due: dprint, check-framework-integrity

docs(spec): formalize task lifecycle with release_task and canonical statuses
  specs/work-management.md
Due: dprint

fix(polecat): update prompt_template to use release_task for task handoff
  polecat/prompt_template.py
Due: none

Feat/release task (#496)
  .agents/skills/framework/SKILL.md
  .agents/skills/framework/references/decision-briefing-details.md
  .agents/skills/framework/references/forensics-details.md
  .agents/skills/framework/workflows/09-session-hook-forensics.md
  aops-core/commands/pull.md
  aops-core/skills/daily/instructions/focus-and-recommendations.md
  aops-core/skills/remember/SKILL.md
  aops-core/skills/supervisor/instructions/decomposition-and-review.md
  polecat/cli.py
  polecat/pkb_bridge.py
  tests/e2e/test_all_invocation_paths.py
Due: dprint, check-framework-integrity

Claude/pr 491 followup j rst5 (#495)
  .agents/skills/framework/references/forensics-details.md
  .agents/skills/framework/workflows/09-session-hook-forensics.md
  aops-core/commands/pull.md
  polecat/cli.py
  polecat/pkb_bridge.py
Due: dprint, check-framework-integrity

test gate
  tests/hooks/test_gates_unification.py
Due: none

Increase polecat headless max turns from 30 to 50
  polecat/cli.py
Due: none

fix(gates): respect GateConfig.initial_status in SessionState.create()
  aops-core/lib/session_state.py
Due: none

Increase polecat headless max turns from 30 to 50 (#498)
  polecat/cli.py
Due: none

fix(gates): respect GateConfig.initial_status in SessionState.create() (#497)
  aops-core/lib/session_state.py
  polecat/prompt_template.py
Due: none

delete old stuff
  aops-core/config/automode-rules.json
  aops-core/lib/archived/extract_labor.py
  aops-core/lib/archived/path_reconstructor.py
  aops-core/lib/archived/pipeline_metrics.py
  aops-core/lib/archived/session_analyzer.py
  aops-core/lib/archived/transcript_error_analyzer.py
Due: dprint

cleaning still
  aops-core/INDEX.md
  aops-core/SCRIPTS.md
  aops-core/TOOLS.md
  aops-core/hooks/generate_transcript.py
  aops-core/lib/binary_install.py
  aops-core/skills/planner/SKILL.md
  aops-core/skills/planner/WORKFLOWS.md
Due: dprint, check-framework-integrity

Path conditions:
  dprint: any of: \.(md|markdown|mdown)$, \.json$, \.toml$
  check-framework-integrity: any of: (WORKFLOWS|SKILLS)\.md$|workflows/.*\.md$|skills/.*/SKILL\.md$|commands/.*\.md$
