Repository nicsuzor/academicOps: changes, and which pre-commit hooks are due for each by the changed paths.
All: dprint, check-framework-integrity

dprint:
  name: dprint check
  entry: uv run dprint check
  language: system
  pass_filenames: true

check-framework-integrity:
  name: framework integrity check
  entry: uv run python scripts/check_framework_integrity.py
  language: system
  pass_filenames: false

refactor: consolidate gate hook tests into parameterised modules by concern
  .agents/context-map.json
  aops-core/skills/aops/references/authoring-discipline.md
  tests/hooks/__init__.py
  tests/hooks/conftest.py
  tests/hooks/gate_helpers.py
  tests/hooks/test_gate_lifecycle.py
  tests/hooks/test_gate_verdict_logic.py
  tests/hooks/test_gate_verdicts.py
  tests/hooks/test_output_channel_routing.py
  tests/hooks/test_router_subprocess.py
  tests/hooks/test_schema_conformance.py
  tests/hooks/test_silent_events.py
  tests/hooks/test_stop_hook_advisory_routing.py
  tests/hooks/test_subprocess_format.py
Due: dprint

feat(supervisor): auto-arm docker-events Monitor on first polecat dispatch
  aops-core/skills/supervisor/SKILL.md
Due: dprint, check-framework-integrity

fix: replace priority-based sorting/surfacing with focus_score; enforce priority-is-user-intent
  aops-core/commands/pull.md
  aops-core/hooks/templates/orchestrator-boundary-warn.md
  aops-core/skills/verify/SKILL.md
  polecat/manager.py
  polecat/pkb_bridge.py
Due: dprint, check-framework-integrity

docs: v0.4 integrity & security release notes section
  specs/releases/v0.4-integrity-and-security.md
Due: dprint

fix(polecat): coerce tags to strings before join to avoid TypeError
  polecat/prompt_template.py
Due: none

fix(docker): install Claude plugin and Gemini extension from single clone
  Dockerfile
Due: none

fix: replace triage:needs-judgment catch-all with triage:pipeline
  .agents/ENFORCEMENT-MAP.md
  .github/agents/merge-prep.agent.md
  aops-core/lib/triage_labels.py
  aops-core/scripts/dump_pr_state.py
  tests/lib/test_dump_pr_state.py
Due: dprint

fix: clarify human approval gate and request reviewer on merge-prep approve
  .github/agents/merge-prep.agent.md
Due: dprint

Update aops-core/skills/remember/references/maintenance-phases.md
  aops-core/skills/remember/references/maintenance-phases.md
Due: dprint

fix: cap basedpyright Node.js heap to prevent runner OOM in typecheck CI (#1373)
  .github/workflows/typecheck.yml
Due: none

fix(docker): trust source dir /tmp/aops-dist for gemini extensions install
  Dockerfile
Due: none

fix(e2e): replace dead -g flag with --model gemini in invocation tests
  tests/e2e/test_all_invocation_paths.py
Due: none

fix(docker): install gemini extensions from subdirectories, not repo root
  Dockerfile
Due: none

fix: remove 26 brittle mirror tests that break on legitimate changes
  tests/lib/test_triage_labels.py
  tests/test_aops_0f2235dc.py
  tests/test_daily_sev4_warning.py
  tests/test_junior_tools.py
  tests/test_plugin_structure.py
  tests/test_rbg_tools.py
  tests/test_workflow_files.py
Due: none

fix(gates): allow Stop/SubagentStop events through gates for subagent sessions
  aops-core/hooks/router.py
  aops-core/lib/gates/definitions.py
  tests/hooks/test_subagent_gate_dispatch_regression.py
Due: none

fix(build): strip Claude plugin namespace from Gemini MCP tool names and preserve env vars
  scripts/build.py
  scripts/transforms/agent_schema.py
  scripts/transforms/tool_translation.py
  tests/e2e/test_gemini_extension_validation.py
  tests/test_agent_tool_names.py
Due: none

fix(make): force-remove Gemini extensions on install-dev to handle broken uninstall
  Makefile
Due: none

fix(build): pass claude plugin validate --strict and add slow-tier CLI validation test
  aops-tools/skills/style/SKILL.md
  templates/aops-core.plugin.json
  tests/e2e/test_claude_extension_validation.py
Due: dprint, check-framework-integrity

Refactor gate hook tests into parameterised modules by concern (#1380)
  .agents/context-map.json
  aops-core/skills/aops/references/authoring-discipline.md
  tests/hooks/__init__.py
  tests/hooks/conftest.py
  tests/hooks/gate_helpers.py
  tests/hooks/test_gate_lifecycle.py
  tests/hooks/test_gate_verdict_logic.py
  tests/hooks/test_gate_verdicts.py
  tests/hooks/test_output_channel_routing.py
  tests/hooks/test_router_subprocess.py
  tests/hooks/test_schema_conformance.py
  tests/hooks/test_silent_events.py
  tests/hooks/test_stop_hook_advisory_routing.py
  tests/hooks/test_subprocess_format.py
  tests/lib/test_triage_labels.py
Due: dprint

feat: automatic scheduling for issue-sweep loop driver (#1376)
  .github/workflows/issue-sweep.yml
  aops-core/skills/survey/SKILL.md
Due: dprint, check-framework-integrity

fix(ci): pass force=true when dispatching re-qualified PRs
  .github/workflows/merge-prep-cron.yml
Due: none

fix(polecat): coerce tags to strings before join to avoid TypeError (#1386)
  polecat/prompt_template.py
Due: none

fix(tests): update test fixtures after AXIOMS/HEURISTICS relocation
  tests/polecat/test_bootstrap.py
  tests/test_lib_paths.py
Due: none

fix: remove external file references from aops-core plugin
  aops-core/agents/junior.md
  aops-core/hooks/templates/orchestrator-boundary-warn.md
  aops-core/skills/end_session/SKILL.md
  aops-core/skills/planner/SKILL.md
  aops-core/skills/strategic-review/review-contexts/execution-environments.md
  aops-core/skills/supervisor/SKILL.md
Due: dprint, check-framework-integrity

Fix E2E tests: replace dead -g flag with --model gemini (#1393)
  tests/e2e/test_all_invocation_paths.py
Due: none

fix(build): strip Claude plugin namespace from Gemini tool names, preserve env vars (#1399)
  Makefile
  aops-tools/skills/style/SKILL.md
  scripts/build.py
  scripts/transforms/agent_schema.py
  scripts/transforms/tool_translation.py
  templates/aops-core.plugin.json
  tests/e2e/test_claude_extension_validation.py
  tests/e2e/test_gemini_extension_validation.py
  tests/test_agent_tool_names.py
Due: dprint, check-framework-integrity

feat(supervisor): auto-arm docker-events Monitor on first polecat dispatch (#1381)
  aops-core/skills/supervisor/SKILL.md
Due: dprint, check-framework-integrity

Only read text if we have transforms
  scripts/generate.py
Due: none

docs: document hook session-scope policy in spec and enforcement map
  specs/ENFORCEMENT-MAP.md
  specs/GATES.md
  specs/enforcement/hook-router.md
Due: dprint

fix(docker): patch known_marketplaces.json after deleting /tmp/aops-dist
  Dockerfile
Due: none

fix(transcript): escape backticks in abridger truncations and error blocks
  aops-core/lib/transcript_parser.py
Due: none

fix(docker): copy marketplace.json to cache dir so CC validates plugins
  Dockerfile
Due: none

Document hook session-scope policy in hook-router spec and enforcement map (#1411)
  specs/ENFORCEMENT-MAP.md
  specs/GATES.md
  specs/enforcement/hook-router.md
Due: dprint

fix(transcript): replace backtick escaping with single-quote substitution
  aops-core/lib/transcript_parser.py
Due: none

feat(gates): handover gate session-type aware — polecat starts CLOSED, interactive stays OPEN
  aops-core/lib/gate_types.py
  aops-core/lib/gates/definitions.py
  aops-core/lib/gates/engine.py
  aops-core/lib/session_state.py
  tests/hooks/fixtures/handover_session_type.json
  tests/hooks/test_handover_gate_latch.py
  tests/hooks/test_handover_gate_regression.py
  tests/hooks/test_handover_session_type.py
Due: dprint

test(gates): replace synthetic handover fixtures with real hook log extracts
  tests/hooks/fixtures/handover_session_type.json
Due: dprint

fix(docker): copy marketplace.json to cache dir for CC plugin validation (#1414)
  Dockerfile
Due: none

Fix backtick and special character escaping in transcript abridger (#1413)
  aops-core/lib/transcript_parser.py
Due: none

Path conditions:
  dprint: any of: \.(md|markdown|mdown)$, \.json$, \.toml$
  check-framework-integrity: any of: (WORKFLOWS|SKILLS)\.md$|workflows/.*\.md$|skills/.*/SKILL\.md$|commands/.*\.md$
