Repository nicsuzor/academicOps: changes, and which pre-commit hooks are due for each by the changed paths.
All: dprint, check-framework-integrity

.pre-commit-config.yaml:

# Pre-commit hooks for academicOps framework governance
# See https://pre-commit.com for more info

repos:
  # Markdown/JSON/TOML validation (dprint - check-only, no auto-fix)
  # Ruff check --fix auto-fixes what it can; ruff-format checks formatting
  - repo: local
    hooks:
      - id: dprint
        name: dprint check
        entry: uv run dprint check
        language: system
        types_or: [markdown, json, toml]
        pass_filenames: true

  # Markdown linting (catches issues dprint doesn't fix)
  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.12.1
    hooks:
      - id: markdownlint-cli2
        exclude: '^archived/'

  # Standard hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: '\.excalidraw$'
      - id: end-of-file-fixer
        exclude: '\.excalidraw$'
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
        args: ['--maxkb=500']

  # Python linting (auto-fix enabled)
  # Ruff check --fix auto-fixes what it can; ruff-format checks formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.4
    hooks:
      - id: ruff
        args: [--fix]
        exclude: '^archived/'
      - id: ruff-format
        args: [--check]
        exclude: '^archived/'

  # Framework integrity checks (index wikilinks, skill entries, workflow length)
  # Consolidates check-workflow-length + new index integrity validation
  - repo: local
    hooks:
      - id: check-framework-integrity
        name: framework integrity check
        entry: uv run python scripts/check_framework_integrity.py
        language: system
        pass_filenames: false
        files: '(WORKFLOWS|SKILLS)\.md$|workflows/.*\.md$|skills/.*/SKILL\.md$|commands/.*\.md$'

  # Type checking and full framework health checks run in CI only
  # (see .github/workflows/framework-health.yml)
  #
  # Moved to CI:
  # - basedpyright: full type analysis too slow for every commit
  # - check-skill-line-count: whole-repo scan, not file-scoped
  # - check-orphan-files: whole-repo scan, not file-scoped
  # - check-framework-integrity --full: slow full codebase wikilink scan
  # - audit_framework_health: comprehensive audit

feat(docker): trust extension and config folders in worker image (#757)
  Dockerfile
  tests/test_gemini_accessibility.py
Due: none

fix(daily): anchor day-of-week and work-date on today's calendar date
  aops-core/skills/daily/SKILL.md
  aops-core/skills/daily/instructions/work-summary.md
Due: dprint, check-framework-integrity

fix(daily): reinforce per-event work-date assignment rule
  aops-core/skills/daily/SKILL.md
  aops-core/skills/daily/instructions/work-summary.md
Due: dprint, check-framework-integrity

fix(transcript): refresh insights JSON when source jsonl grows
  aops-core/scripts/transcript.py
  tests/test_transcript.py
Due: none

fix(cron): tie sync_gha_sessions.py into the local transcript cron
  scripts/repo-sync-cron.sh
Due: none

fix(daily): anchor day-of-week and work-date on today's calendar date (#759)
  aops-core/skills/daily/SKILL.md
  aops-core/skills/daily/instructions/work-summary.md
Due: dprint, check-framework-integrity

fix(transcript): refresh insights JSON when source jsonl grows (#764)
  aops-core/scripts/transcript.py
  tests/test_transcript.py
Due: none

new planned spec
  specs/areas-not-projects.md
Due: dprint

formatting changes
  CHANGELOG.md
  aops-core/skills/planner/SKILL.md
Due: dprint, check-framework-integrity

fix(mcp): resolve PKB_MCP_URL in run-mcp.sh, drop broken env block
  aops-core/mcp.json.template
  aops-core/scripts/run-mcp.sh
  gemini-extension.json
  scripts/build.py
  scripts/patch-aops-core-mcp.sh
  scripts/patch-cowork-mcp.sh
Due: dprint

fix(cron): tie sync_gha_sessions.py into the local transcript cron (#766)
  scripts/repo-sync-cron.sh
Due: none

docs(polecat): align run command spec with self-contained-prompt reality
  specs/polecat-system.md
Due: dprint

docs(polecat): remove out-of-date Crew Merge Workflow section
  specs/polecat-system.md
Due: dprint

docs(polecat): align spec with reality + drop out-of-date crew merge section (#769)
  specs/polecat-system.md
Due: dprint

feat(spec): ratify prototype nodes and inherits_from edge field
  specs/multi-parent-edges.md
Due: dprint

Amend specs/multi-parent-edges.md with prototype nodes and inherits_from (#771)
  specs/multi-parent-edges.md
Due: dprint

chore: add timeout-minutes: 45 to all GHA jobs
  .github/workflows/agent-merge-prep.yml
  .github/workflows/build-extension.yml
  .github/workflows/claude.yml
  .github/workflows/lint.yml
  .github/workflows/merge-prep-cron.yml
  .github/workflows/pr-pipeline.yml
  .github/workflows/pytest.yml
  .github/workflows/release-please.yml
  .github/workflows/typecheck.yml
Due: none

chore: add timeout-minutes: 45 to all GHA jobs (#772)
  .github/workflows/agent-merge-prep.yml
  .github/workflows/build-extension.yml
  .github/workflows/claude.yml
  .github/workflows/lint.yml
  .github/workflows/merge-prep-cron.yml
  .github/workflows/pr-pipeline.yml
  .github/workflows/pytest.yml
  .github/workflows/release-please.yml
  .github/workflows/typecheck.yml
Due: none

fix(daily): anchor day-of-week and work-date on today's calendar date
  aops-core/skills/daily/SKILL.md.conflict-remote-20260427T022608Z
  aops-core/skills/daily/instructions/work-summary.md.conflict-remote-20260427T022608Z
Due: none

feat(gha): reusable workflow refactor with defensive primitives
  .github/workflows/agent-merge-prep.yml
  .github/workflows/merge-prep-cron.yml
  .github/workflows/pr-pipeline.yml
  examples/cross-repo-shim/agent-merge-prep.yml
  examples/cross-repo-shim/merge-prep-cron.yml
  examples/cross-repo-shim/pr-pipeline.yml
  specs/pr-pipeline.md
Due: dprint

W3a: Reusable workflow refactor with defensive primitives (#773)
  .github/workflows/agent-merge-prep.yml
  .github/workflows/merge-prep-cron.yml
  .github/workflows/pr-pipeline.yml
  examples/cross-repo-shim/agent-merge-prep.yml
  examples/cross-repo-shim/merge-prep-cron.yml
  examples/cross-repo-shim/pr-pipeline.yml
  specs/pr-pipeline.md
Due: dprint

Move specs and VISION to brain PKB
  docs/VISION.md
Due: dprint

feat: consolidate CORE.md as SSoT with platform-conditional sections (with manual formatting)\n\nCloses aops-f8bb3517
  .agents/CORE.md
  CLAUDE.md
  GEMINI.md
  aops-tools/GEMINI.md
  scripts/build.py
  scripts/core-build.py
Due: dprint

feat(cowork): implement Cowork audit log ingestion and normalization
  aops-core/lib/session_reader.py
  aops-core/lib/transcript_parser.py
  aops-core/scripts/ingest_cowork.py
  aops-core/scripts/transcript.py
  scripts/repo-sync-cron.sh
  tests/lib/test_cowork_ingestion.py
Due: none

docs: update platform policy to multi-target parity framing
  scripts/build.py
  templates/marketplace.json
Due: dprint

supervisor: clarify MCP task-visibility lag is sync, not reindex
  aops-core/skills/supervisor/SKILL.md
  aops-core/skills/supervisor/instructions/worker-dispatch.md
Due: dprint, check-framework-integrity

feat: move maintenance routines to GHA and add daily-note workflow
  scripts/install-brain-workflows.sh
  templates/github-workflows/daily-note.yml
  templates/github-workflows/sleep-cycle.yml
Due: none

chore: plugin hygiene release - postfix, userConfig, plugin IDs, retire patch scripts
  Makefile
  README.md
  aops-core/lib/paths.py
  aops-core/lib/session_reader.py
  aops-core/scripts/run-mcp.sh
  scripts/build.py
  scripts/patch-aops-core-mcp.sh
  scripts/patch-cowork-mcp.sh
Due: dprint

feat(mcp): standardise transport on HTTP/SSE for non-local targets
  Makefile
  aops-core/agent-env-map.conf
  aops-core/docs/MCP-TRANSPORT.md
  aops-core/scripts/run-mcp.sh
Due: dprint

chore: stop packaging project-local CORE.md into plugin distributions
  scripts/build.py
  scripts/install.py
Due: none

supervisor: add third MCP-not-found cause — stale in-memory index
  aops-core/skills/supervisor/SKILL.md
  aops-core/skills/supervisor/instructions/worker-dispatch.md
Due: dprint, check-framework-integrity

supervisor: clarify MCP task-visibility lag is sync, not reindex (#778)
  aops-core/skills/supervisor/SKILL.md
  aops-core/skills/supervisor/instructions/worker-dispatch.md
Due: dprint, check-framework-integrity

Plugin hygiene release: postfix, userConfig, plugin IDs, retire patch scripts (#780)
  Makefile
  README.md
  aops-core/lib/paths.py
  aops-core/lib/session_reader.py
  aops-core/scripts/run-mcp.sh
  scripts/build.py
  scripts/patch-aops-core-mcp.sh
  scripts/patch-cowork-mcp.sh
Due: dprint

feat(mcp): standardise transport on HTTP/SSE for non-local targets (#781)
  aops-core/agent-env-map.conf
  aops-core/docs/MCP-TRANSPORT.md
  aops-core/scripts/run-mcp.sh
Due: dprint

hotfix: replace RUST_LOG with PKB_MCP_URL in gemini-extension.json env block
  gemini-extension.json
Due: dprint

Update scripts/install.py
  scripts/install.py
Due: none

chore: stop packaging project-local CORE.md into plugin distributions (#783)
  scripts/build.py
  scripts/install.py
Due: none

hotfix: add PKB_MCP_URL, drop RUST_LOG from gemini-extension.json (#784)
  aops-core/skills/aops/references/debug-details.md
  gemini-extension.json
Due: dprint

feat(skills): add aops:context skill for hookless runtimes
  aops-core/skills/context/SKILL.md
Due: dprint, check-framework-integrity
