Repository nicsuzor/academicOps: changes, and which pre-commit hooks are due for each by the changed paths.
All: dprint, check-framework-integrity

dprint:
  name: dprint check
  entry: uv run dprint check
  language: system
  pass_filenames: true

check-framework-integrity:
  name: framework integrity check
  entry: uv run python scripts/check_framework_integrity.py
  language: system
  pass_filenames: false

feat(polecat): push-or-fail integrity gates for A3/A8 (task-0e4d20a8)
  polecat/cli.py
  polecat/manager.py
  polecat/pkb_bridge.py
  polecat/validation.py
  tests/polecat/test_nuke_unpushed_gate.py
  tests/polecat/test_pkb_bridge.py
  tests/polecat/test_pr_url_validation.py
Due: none

spec: skill-delegation — invocation mechanics and authority propagation (#676)
  aops-core/agents/marsha.md
  specs/INDEX.md
  specs/agent-authority.md
  specs/enforcement-map.md
  specs/skill-delegation.md
Due: dprint

Simplify session filename and move machine/provider to frontmatter (#686)
  aops-core/hooks/router.py
  aops-core/hooks/schemas.py
  aops-core/lib/insights_generator.py
  aops-core/lib/session_naming.py
  aops-core/lib/session_summary.py
  aops-core/lib/transcript_parser.py
  aops-core/scripts/transcript.py
  specs/session-naming-convention.md
  tests/lib/test_session_paths.py
  tests/test_session_naming.py
Due: dprint

test(gemini): release-certification suite for built extension
  tests/e2e/test_gemini_extension_validation.py
Due: none

fix(polecat): install build-essential so cc can link in aops-crew image (#683)
  Dockerfile
  tests/polecat/test_aops_crew_image.py
Due: none

chore: delete synthesize_dashboard.py (#685)
  aops-core/lib/transcript_parser.py
  aops-core/scripts/transcript.py
  polecat/cli.py
  scripts/audit_framework_health.py
  scripts/repo-sync-cron.sh
  scripts/synthesize_dashboard.py
  specs/daily-briefing-bundle.md
  specs/framework-observability.md
  specs/session-handover-contract.md
  specs/session-insights-prompt.md
Due: dprint

feat(polecat): push-or-fail integrity gates for A3/A8 (#687)
  polecat/cli.py
  polecat/manager.py
  polecat/pkb_bridge.py
  polecat/validation.py
  tests/polecat/test_nuke_unpushed_gate.py
  tests/polecat/test_pkb_bridge.py
  tests/polecat/test_pr_url_validation.py
Due: none

Fix Gemini install bugs: agent schema, tool remap, router refs, context file
  aops-core/hooks/autocommit_state.py
  aops-core/hooks/router.py
  scripts/build.py
Due: none

Fix Gemini install bugs: agent schema, tool remap, router refs, context file (#689)
  aops-core/hooks/autocommit_state.py
  aops-core/hooks/router.py
  scripts/build.py
Due: none

feat(enforcement): orchestrator boundary Level 2 + Level 4 detection (#682)
  aops-core/HEURISTICS.md
  aops-core/hooks/router.py
  aops-core/hooks/templates/orchestrator-boundary-warn.md
  aops-core/hooks/templates/orchestrator-dispositor-reminder.md
  aops-core/lib/gates/custom_conditions.py
  aops-core/lib/gates/definitions.py
  aops-core/lib/gates/engine.py
  aops-core/lib/orchestrator_boundary.py
  aops-core/lib/template_registry.py
  specs/enforcement-map.md
  tests/hooks/test_orchestrator_boundary.py
Due: dprint

spec(agents): draft agent-permissions — tool allowlists, MCP scoping, deny-by-default
  specs/INDEX.md
  specs/agent-permissions.md
Due: dprint

test: add regression tests for Gemini RBG accessibility and parameter replacement
  tests/test_gemini_accessibility.py
Due: none

chore: audit CORE.md/GEMINI.md — remove absolute paths, add fail-fast halt rule
  .agents/CORE.md
  aops-tools/GEMINI.md
Due: dprint

fix(crew): make /ms-playwright writable so MCP Playwright can create session cache
  Dockerfile
  tests/polecat/test_aops_crew_image.py
Due: none

feat: design and implement context-map.json schema v1.1.0
  .agents/context-map.json
  aops-core/skills/project/workflows/context-map-audit.md
  specs/INDEX.md
  specs/context-map-schema.md
  specs/daily-briefing-bundle.md
  specs/enforcement-map.md
Due: dprint, check-framework-integrity

fix(polecat): friendly PKB_MCP_URL check at top of `polecat run`
  polecat/cli.py
  tests/polecat/test_bootstrap.py
Due: none

Codify 'always leave a loose thread' handover and task assignment rules
  .agents/CORE.md
  aops-core/skills/aops/SKILL.md
  aops-core/skills/dogfood/SKILL.md
  aops-core/skills/planner/SKILL.md
  aops-core/skills/supervisor/SKILL.md
  aops-core/skills/supervisor/instructions/worker-dispatch.md
Due: dprint, check-framework-integrity

refactor: move TAXONOMY.md into /remember skill
  .agents/context-map.json
  aops-core/commands/pull.md
  aops-core/skills/daily/instructions/focus-and-recommendations.md
  aops-core/skills/planner/SKILL.md
  aops-core/skills/planner/workflows/decompose.md
  aops-core/skills/remember/SKILL.md
  aops-core/skills/remember/references/TAXONOMY.md
  aops-core/skills/supervisor/instructions/decomposition-and-review.md
  aops-core/skills/supervisor/instructions/supervision-loop.md
  aops-tools/skills/analyst/SKILL.md
  aops-tools/skills/convert-to-md/SKILL.md
  aops-tools/skills/deep-research/SKILL.md
  aops-tools/skills/excalidraw/SKILL.md
  aops-tools/skills/extract/SKILL.md
  aops-tools/skills/flowchart/SKILL.md
  aops-tools/skills/pdf/SKILL.md
  scripts/build.py
  specs/effectual-planning-agent.md
  specs/non-interactive-agent-workflow-spec.md
  specs/pkb-server-spec.md
  specs/session-handover-contract.md
  specs/supervisor.md
  specs/work-management.md
  tests/lib/test_context_map.py
Due: dprint, check-framework-integrity

feat(project): add idempotency, partial failure, secrets & polecat decisions to init.md
  aops-core/skills/project/instructions/init.md
Due: dprint

fix(polecat): pre-authorize shell for autonomous workers via policy engine and settings
  aops-core/policies/allow-shell.toml
  aops-core/policies/deny-extension-writes.toml
  polecat/cli.py
  polecat/defaults/gemini-settings.json
  polecat/manager.py
  specs/daily-briefing-bundle.md
  specs/enforcement-map.md
Due: dprint

fix(polecat): branch fresh when re-dispatching squash-merged or stale-behind tasks
  polecat/manager.py
  tests/polecat/test_stale_branch_detection.py
Due: none

test: release-certification suites for Claude Code and Gemini extensions (#688)
  tests/e2e/test_claude_extension_validation.py
  tests/e2e/test_gemini_extension_validation.py
Due: none

Regression tests for Gemini RBG accessibility and parameter replacement (#693)
  tests/test_gemini_accessibility.py
Due: none

fix(crew): make /ms-playwright writable for Playwright MCP session cache (#694)
  Dockerfile
  tests/polecat/test_aops_crew_image.py
Due: none

Audit all CORE.md files: remove absolute paths, direct agents to context-map.json, add fail-fast halt rule (#695)
  .agents/CORE.md
  aops-tools/GEMINI.md
  specs/enforcement-map.md
Due: dprint

fix(polecat): friendly PKB_MCP_URL check at top of `polecat run` (#698)
  polecat/cli.py
  tests/polecat/test_bootstrap.py
Due: none

Codify 'always leave a loose thread' handover and task assignment rules (#699)
  .agents/CORE.md
  aops-core/skills/aops/SKILL.md
  aops-core/skills/dogfood/SKILL.md
  aops-core/skills/planner/SKILL.md
  aops-core/skills/supervisor/SKILL.md
  aops-core/skills/supervisor/instructions/worker-dispatch.md
Due: dprint, check-framework-integrity

refactor: move TAXONOMY.md into /remember skill (#700)
  .agents/context-map.json
  aops-core/commands/pull.md
  aops-core/skills/daily/instructions/focus-and-recommendations.md
  aops-core/skills/planner/SKILL.md
  aops-core/skills/planner/workflows/decompose.md
  aops-core/skills/remember/SKILL.md
  aops-core/skills/remember/references/TAXONOMY.md
  aops-core/skills/supervisor/instructions/decomposition-and-review.md
  aops-core/skills/supervisor/instructions/supervision-loop.md
  aops-tools/skills/analyst/SKILL.md
  aops-tools/skills/convert-to-md/SKILL.md
  aops-tools/skills/deep-research/SKILL.md
  aops-tools/skills/excalidraw/SKILL.md
  aops-tools/skills/extract/SKILL.md
  aops-tools/skills/flowchart/SKILL.md
  aops-tools/skills/pdf/SKILL.md
  scripts/build.py
  specs/effectual-planning-agent.md
  specs/non-interactive-agent-workflow-spec.md
  specs/pkb-server-spec.md
  specs/session-handover-contract.md
  specs/supervisor.md
  specs/work-management.md
  tests/lib/test_context_map.py
Due: dprint, check-framework-integrity

feat(project): add idempotency, partial failure, secrets & polecat decisions to init.md (#701)
  aops-core/skills/project/instructions/init.md
Due: dprint

fix(polecat): branch fresh when re-dispatching squash-merged or stale-behind tasks (#703)
  polecat/manager.py
  tests/polecat/test_stale_branch_detection.py
Due: none

spec(agent-permissions): rewrite as design document
  specs/agent-permissions.md
Due: dprint

docs: remove outdated 'lgtm' PR-merge references
  .agents/STATUS.md
  aops-core/skills/supervisor/SKILL.md
  aops-core/skills/supervisor/instructions/supervision-loop.md
Due: dprint, check-framework-integrity

feat(planner): show ASCII context tree after capture mode task creation
  aops-core/skills/planner/SKILL.md
Due: dprint, check-framework-integrity

feat(marsha): expand browser MCP toolset for runtime UX verification
  aops-core/agents/marsha.md
Due: dprint

spec: sessions as dashboard SSoT in session-handover-contract §6
  specs/session-handover-contract.md
Due: dprint

feat(session-summary): add hostname field to session metadata
  aops-core/lib/insights_generator.py
  aops-core/lib/session_naming.py
  aops-core/lib/session_summary.py
  aops-core/lib/transcript_parser.py
  aops-core/scripts/transcript.py
Due: none

feat: migrate framework architecture principles to dedicated framework skill
  aops-core/HEURISTICS.md
  aops-core/skills/framework/SKILL.md
  specs/daily-briefing-bundle.md
  specs/enforcement-map.md
Due: dprint, check-framework-integrity

Design and implement context-map.json schema v1.1.0 (#697)
  .agents/context-map.json
  aops-core/skills/project/workflows/context-map-audit.md
  specs/INDEX.md
  specs/context-map-schema.md
  specs/daily-briefing-bundle.md
  specs/enforcement-map.md
Due: dprint, check-framework-integrity

feat(gemini): add handover and dump to activate_skill enum
  gemini-extension.json
  tests/hooks/test_universal_router.py
Due: dprint

Remove outdated 'lgtm' PR-merge references from supervisor skill and STATUS (#704)
  .agents/STATUS.md
  aops-core/skills/supervisor/SKILL.md
  aops-core/skills/supervisor/instructions/supervision-loop.md
Due: dprint, check-framework-integrity

Path conditions:
  dprint: any of: \.(md|markdown|mdown)$, \.json$, \.toml$
  check-framework-integrity: any of: (WORKFLOWS|SKILLS)\.md$|workflows/.*\.md$|skills/.*/SKILL\.md$|commands/.*\.md$
