Repository nicsuzor/academicOps: changes, and which pre-commit hooks are due for each by the changed paths.
All: dprint, check-framework-integrity

dprint:
  name: dprint check
  entry: uv run dprint check
  language: system
  pass_filenames: true

check-framework-integrity:
  name: framework integrity check
  entry: uv run python scripts/check_framework_integrity.py
  language: system
  pass_filenames: false

fix: scope qa_verified to QA gate only, don't leak to handover
  aops-core/lib/gates/custom_conditions.py
  aops-core/lib/gates/definitions.py
  tests/hooks/test_qa_gate_close_trigger.py
Due: none

transcript parser gemini
  aops-core/lib/transcript_parser.py
Due: none

feat(gates): add sticky_until to GateTransition, replace ad-hoc latches
  aops-core/GATES.md
  aops-core/hooks/router.py
  aops-core/lib/gate_types.py
  aops-core/lib/gates/custom_actions.py
  aops-core/lib/gates/custom_conditions.py
  aops-core/lib/gates/definitions.py
  aops-core/lib/gates/engine.py
  tests/hooks/test_handover_gate_latch.py
  tests/hooks/test_handover_gate_regression.py
  tests/hooks/test_qa_gate_close_trigger.py
  tests/hooks/test_sticky_until.py
Due: dprint

fix: deduplicate PR state fetching and daily rendering by repo path
  CHANGELOG.md
  aops-core/lib/transcript_parser.py
  aops-core/scripts/dump_pr_state.py
  aops-core/skills/aops/references/claude-surfaces.md
  aops-core/skills/daily/instructions/workflow-monitor.md
Due: dprint

fix: guard create_task against invalid status values (active, draft)
  polecat/pkb_bridge.py
  tests/polecat/test_pkb_bridge.py
Due: none

Fix #939: Sync Gemini crew session hooks/transcripts immediately
  polecat/cli.py
Due: none

fix(polecat): add oauthAccount placeholder to claude-config.json seed
  polecat/defaults/claude-config.json
  tests/polecat/test_cli_docker.py
Due: dprint

fix(email): mandate full body reading for Re: messages and threads in triage
  CHANGELOG.md
  aops-core/commands/email.md
  aops-core/lib/transcript_parser.py
  aops-core/skills/aops/references/claude-surfaces.md
  aops-core/skills/hydrator/workflows/references/email-capture-details.md
  config/gemini/commands/.gitignore
Due: dprint, check-framework-integrity

fix(marsha): add algorithm-aware probe-region selection for visualisation QA
  aops-core/agents/marsha.md
Due: dprint

Fix DECIDE-class supersession deferral and strip internal taxonomy from user reports
  aops-core/skills/aops/SKILL.md
  aops-core/skills/planner/SKILL.md
  aops-core/skills/supervisor/SKILL.md
Due: dprint, check-framework-integrity

feat(survey): add PR search and cross-linking for findings
  aops-core/skills/survey/SKILL.md
Due: dprint, check-framework-integrity

perf: cache context-map injection per session, not per UserPromptSubmit
  aops-core/hooks/router.py
  tests/hooks/test_context_map_cache.py
Due: none

fix: reconcile parent close-out against children in release_task and end_session
  aops-core/skills/end_session/SKILL.md
  polecat/pkb_bridge.py
  tests/polecat/test_pkb_bridge.py
Due: dprint, check-framework-integrity

docs: codify pauli dispatch contract — strategist frames, doesn't investigate
  aops-core/agents/pauli.md
  aops-core/skills/aops/references/authoring-discipline.md
  aops-core/skills/planner/SKILL.md
Due: dprint, check-framework-integrity

Fix headless TTY error in polecat crew by dropping -i and -t
  polecat/cli.py
  tests/polecat/test_cli_docker.py
Due: none

fix: prevent /q capture from silently routing teaching tasks to wrong project (#1054)
  .agents/CORE.md
  aops-core/skills/planner/SKILL.md
  polecat/pkb_bridge.py
  tests/polecat/test_pkb_bridge.py
Due: dprint, check-framework-integrity

fix: enforce explicit project/parent mismatch in create_task (marsha REVISE)
  polecat/pkb_bridge.py
  tests/polecat/test_pkb_bridge.py
Due: none

fix: assert dispatch envelope fidelity to prevent silent tool reduction
  aops-core/commands/learn.md
  aops-core/commands/trend-review.md
  aops-core/lib/gates/custom_actions.py
  aops-core/lib/gates/custom_conditions.py
  aops-core/lib/gates/definitions.py
  aops-core/skills/remember/references/maintenance-phases.md
  tests/hooks/test_dispatch_fidelity.py
Due: dprint, check-framework-integrity

style: simplify dead-code tautology in create_task parent guard
  polecat/pkb_bridge.py
Due: none

fix(remember): close PKB quality gaps in sleep review
  aops-core/skills/remember/SKILL.md
  aops-core/skills/remember/procedures/capture.md
  aops-core/skills/remember/procedures/consolidate.md
  aops-core/skills/remember/references/maintenance-phases.md
Due: dprint, check-framework-integrity

docs: add path pre-flight guard for messages_download_attachments
  aops-core/skills/hydrator/workflows/references/email-capture-details.md
Due: dprint, check-framework-integrity

fix(gemini): pop CI in interactive sessions to avoid false headless mode
  polecat/cli.py
  tests/polecat/test_interactive_gemini_env.py
Due: none

feat: implement cross-session command center (aops sessions)
  .agents/CORE.md
  aops-core/bin/aops
  aops-core/hooks/unified_logger.py
  tests/hooks/test_gate_verdicts.py
Due: dprint

fix: register playwright MCP server for Gemini CLI agents; add ALLOW policy
  Dockerfile
  playwright-proof.png
  polecat/cli.py
  polecat/defaults/playwright-allow.toml
  templates/aops-core.gemini-extension.json
  tests/e2e/test_gemini_extension_validation.py
Due: dprint

fix: stop Ida gate leaking agent advisory text to user on Stop
  aops-core/hooks/templates/ida-policy-message.md
  aops-core/lib/gates/definitions.py
  aops-core/lib/template_registry.py
  tests/hooks/test_gate_context_injection.py
Due: dprint

fix(docker): correct ~/.config dir permissions blocked gh CLI auth
  Dockerfile
  polecat/entrypoint.sh
Due: none

revert: remove entrypoint belt-and-suspenders chmod (image rebuild preferred)
  polecat/entrypoint.sh
Due: none

feat(rbg): add 7 verdict-composition discipline rules + ENFORCEMENT-MAP rows
  .agents/ENFORCEMENT-MAP.md
  aops-core/agents/rbg.md
Due: dprint

fix: /sleep close-the-loop now routes closed-not-merged PRs via semantic judgment
  aops-core/skills/remember/references/maintenance-phases.md
Due: dprint

fix(enforcement-map): merge R1-R7 rows into axiom-keyed registry table
  .agents/ENFORCEMENT-MAP.md
Due: dprint

build scripts
  .github/aops-dist/build.yml
  scripts/generate.py
  scripts/manifest.py
  scripts/transforms/__init__.py
  scripts/transforms/agent_schema.py
  scripts/transforms/hooks.py
  scripts/transforms/tool_translation.py
Due: none

Fix corrupted merge artifact in consolidate.md
  aops-core/skills/remember/procedures/consolidate.md
Due: dprint

Trim verbose path pre-flight instructions in email-capture-details
  aops-core/skills/hydrator/workflows/references/email-capture-details.md
Due: dprint, check-framework-integrity

fix(lint): rename unused loop variable in transcript_parser.py
  aops-core/lib/transcript_parser.py
Due: none

Apply suggestions from code review
  polecat/pkb_bridge.py
Due: none

Apply suggestions from code review
  aops-core/scripts/dump_pr_state.py
Due: none

Update aops-core/lib/transcript_parser.py
  aops-core/lib/transcript_parser.py
Due: none

Apply suggestions from code review
  aops-core/commands/email.md
  aops-core/lib/transcript_parser.py
Due: dprint, check-framework-integrity

Apply suggestions from code review
  aops-core/skills/aops/references/authoring-discipline.md
  aops-core/skills/planner/SKILL.md
Due: dprint, check-framework-integrity

Apply suggestion from @gemini-code-assist[bot]
  aops-core/agents/pauli.md
Due: dprint

Path conditions:
  dprint: any of: \.(md|markdown|mdown)$, \.json$, \.toml$
  check-framework-integrity: any of: (WORKFLOWS|SKILLS)\.md$|workflows/.*\.md$|skills/.*/SKILL\.md$|commands/.*\.md$
