Repository nicsuzor/academicOps: changes, and which pre-commit hooks are due for each by the changed paths.
All: dprint, check-framework-integrity

.pre-commit-config.yaml:

# Pre-commit hooks for academicOps framework governance
# See https://pre-commit.com for more info

repos:
  # Markdown/JSON/TOML validation (dprint - check-only, no auto-fix)
  # Ruff check --fix auto-fixes what it can; ruff-format checks formatting
  - repo: local
    hooks:
      - id: dprint
        name: dprint check
        entry: uv run dprint check
        language: system
        types_or: [markdown, json, toml]
        pass_filenames: true

  # Markdown linting (catches issues dprint doesn't fix)
  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.12.1
    hooks:
      - id: markdownlint-cli2
        exclude: '^archived/'

  # Standard hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: '\.excalidraw$'
      - id: end-of-file-fixer
        exclude: '\.excalidraw$'
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
        args: ['--maxkb=500']

  # Python linting (auto-fix enabled)
  # Ruff check --fix auto-fixes what it can; ruff-format checks formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.4
    hooks:
      - id: ruff
        args: [--fix]
        exclude: '^archived/'
      - id: ruff-format
        args: [--check]
        exclude: '^archived/'

  # Framework integrity checks (index wikilinks, skill entries, workflow length)
  # Consolidates check-workflow-length + new index integrity validation
  - repo: local
    hooks:
      - id: check-framework-integrity
        name: framework integrity check
        entry: uv run python scripts/check_framework_integrity.py
        language: system
        pass_filenames: false
        files: '(WORKFLOWS|SKILLS)\.md$|workflows/.*\.md$|skills/.*/SKILL\.md$|commands/.*\.md$'

  # Type checking and full framework health checks run in CI only
  # (see .github/workflows/framework-health.yml)
  #
  # Moved to CI:
  # - basedpyright: full type analysis too slow for every commit
  # - check-skill-line-count: whole-repo scan, not file-scoped
  # - check-orphan-files: whole-repo scan, not file-scoped
  # - check-framework-integrity --full: slow full codebase wikilink scan
  # - audit_framework_health: comprehensive audit

docs: restructure deploy-bot guide for doc-taxonomy compliance
  aops-core/skills/project/workflows/deploy-bot-to-repo.md
  specs/DEPLOYMENTS.md
  specs/workflows/deploy-bot-to-repo.md
Due: dprint, check-framework-integrity

docs: deployment guide for aops bot to repos (#1377)
  aops-core/skills/project/workflows/deploy-bot-to-repo.md
  specs/DEPLOYMENTS.md
Due: dprint, check-framework-integrity

doctrine: subdivide base tiers into insistence/placement spectrum; bias against new hard gates (#1480)
  aops-core/skills/aops/references/enforcement-design.md
  specs/ENFORCEMENT-MAP.md
  specs/enforcement/enforcement.md
Due: dprint

feat(review-pr): launch James panel as a peer team, not a leaf subagent (#1481)
  aops-core/agents/james.md
  aops-core/commands/review-pr.md
  specs/review-dispatch-topology.md
Due: dprint, check-framework-integrity

docs: stop pinning claude-opus-4-7 in instructions — use opus-4-8 / family alias
  aops-core/skills/aops/SKILL.md
  aops-core/skills/supervisor/SKILL.md
  polecat/cli.py
  polecat/defaults/polecat.yaml.example
Due: dprint, check-framework-integrity

fix(polecat): create worktree branches with --no-track to stop spurious origin/main tracking
  polecat/manager.py
Due: none

fix(test): replace 105 git-commit subprocesses with single fast-import in stale-branch fixture
  tests/polecat/test_stale_branch_detection.py
Due: none

fix(dump_pr_state): stop creating [Action Required] issues for escalated PRs
  aops-core/scripts/dump_pr_state.py
  tests/lib/test_dump_pr_state.py
Due: none

fix(gates): pin gate-file slug to "session" — decouple from transcript naming
  aops-core/lib/session_paths.py
Due: none

fix(transcripts): stop excluding short polecat sessions; refactor batch loop
  aops-core/lib/session_reader.py
  aops-core/scripts/transcript.py
  tests/lib/test_gemini_chat_jsonl.py
  tests/test_claude_polecat_session_discovery.py
Due: none

fix(gemini): translate Claude built-in tool names to agy native vocabulary
  scripts/build.py
  scripts/transforms/agent_schema.py
Due: none

refactor(hooks): unify session-start self-diagnostics into new-style blocks (#1484)
  aops-core/hooks/session_env_setup.py
  aops-core/lib/diag_style.py
  aops-core/lib/env_provision.py
Due: none

fix(test): replace 105 git-commit subprocesses with single fast-import in stale-branch fixture (#1488)
  tests/polecat/test_stale_branch_detection.py
Due: none

fix(dump_pr_state): stop creating [Action Required] issues for escalated PRs (#1490)
  aops-core/scripts/dump_pr_state.py
  tests/lib/test_dump_pr_state.py
Due: none

fix(gemini): translate Claude built-in tool names to agy native vocabulary (#1494)
  scripts/build.py
  scripts/transforms/agent_schema.py
Due: none

fix(transcripts): stop excluding short polecat sessions; refactor batch loop (#1493)
  aops-core/lib/session_reader.py
  aops-core/scripts/transcript.py
  tests/lib/test_gemini_chat_jsonl.py
  tests/test_claude_polecat_session_discovery.py
Due: none

nics changes
  specs/ENFORCEMENT-MAP.md
Due: dprint

docs(enforcement): redevelop ENFORCEMENT-MAP.md routing table
  specs/ENFORCEMENT-MAP.md
  specs/enforcement/enforcement.md
Due: dprint

feat: add multi-surface retrieval gap workflow script
  scripts/retrieval_gap_workflow.py
Due: none

update hook messages
  aops-core/hooks/router.py
  aops-core/hooks/schemas.py
  aops-core/hooks/templates/ida-reminder.md
  aops-core/skills/aops/references/hooks.md
  specs/GATES.md
Due: dprint

[Phase A.6] ENFORCEMENT-MAP.md redevelopment (#1503)
  specs/ENFORCEMENT-MAP.md
  specs/enforcement/enforcement.md
Due: dprint

fix(gates): restore legacy custodiet environment variable aliases
  aops-core/hooks/gate_config.py
  polecat/defaults/polecat.yaml.example
  tests/hooks/test_gate_config.py
Due: none

feat(hooks): inject static PKB-search nudge on UserPromptSubmit (T0)
  aops-core/hooks/router.py
  aops-core/hooks/templates/pkb-nudge.md
  aops-core/lib/template_registry.py
Due: dprint

fix(enforcer): grant caller permissions so reusable enforcer workflow stops startup_failing
  .github/workflows/trigger-enforcer.yml
Due: none

ci: add low-friction force-trigger for Enforcer (RBG)
  .github/workflows/trigger-enforcer.yml
  specs/enforcement/enforcement.md
Due: dprint

fix(enforcer): use --no-cone sparse-checkout so prompt files materialise
  .github/workflows/agent-enforcer.yml
Due: none

fix(enforcer): only skip SHA on a genuine review, not on failed/skipped runs
  .github/agents/enforcer.agent.md
  .github/workflows/agent-enforcer.yml
Due: dprint

Update .github/agents/enforcer.agent.md
  .github/agents/enforcer.agent.md
Due: dprint

docs(planner): reference VoI in plan-mode; prompt for classification in capture/decompose
  aops-core/skills/planner/SKILL.md
Due: dprint, check-framework-integrity

ci: add id-token write permission to enforcer workflows
  .github/workflows/agent-enforcer.yml
  .github/workflows/trigger-enforcer.yml
Due: none

feat(observability): extract full categorical metadata in transcript.py
  aops-core/lib/transcript_parser.py
  aops-core/scripts/transcript.py
  polecat/defaults/polecat.yaml.example
Due: none

docs: clarify /sleep consolidation scope and search responsibilities
  aops-core/agents/junior.md
  aops-core/agents/pauli.md
  aops-core/skills/remember/SKILL.md
Due: dprint, check-framework-integrity

updated junior instructions
  aops-core/agents/junior.md
Due: dprint

refactor(polecat): AOPS_CC_OAUTH_TOKEN indirection, drop POLECAT_SESSION_TYPE, resolve+inject defaults at dispatch
  aops-core/agent-env-map.conf
  aops-core/lib/host_secrets.py
  aops-core/lib/session_naming.py
  aops-core/lib/session_paths.py
  aops-core/lib/session_state.py
  aops-core/scripts/transcript.py
  aops-core/skills/supervisor/SKILL.md
  aops-core/skills/supervisor/instructions/supervision-loop.md
  polecat/cli.py
  polecat/defaults/polecat.yaml.example
  specs/GATES.md
  specs/SURFACES.md
  tests/e2e/test_all_invocation_paths.py
  tests/hooks/test_client_type_logged.py
  tests/hooks/test_gate_lifecycle.py
  tests/hooks/test_gate_replay.py
  tests/hooks/test_handover_gate_latch.py
  tests/hooks/test_handover_gate_regression.py
  tests/hooks/test_handover_session_type.py
  tests/hooks/test_hook_logger.py
  tests/hooks/test_subprocess_format.py
  tests/lib/test_session_naming.py
  tests/lib/test_session_paths.py
  tests/polecat/test_cli_docker.py
  tests/polecat/test_cli_docker_integration.py
  tests/polecat/test_sandbox_hook_integrity.py
  tests/test_host_secrets.py
  tests/test_task_id_in_artifact_filenames.py
Due: dprint, check-framework-integrity

Consolidate portable junior doctrine into the agent-def
  aops-core/agents/junior.md
Due: dprint

Fold portable junior how-to into the canonical skills
  aops-core/skills/aops/references/authoring-discipline.md
  aops-core/skills/aops/references/feature-dev-details.md
Due: dprint

Apply suggestions from code review
  aops-core/lib/session_naming.py
  aops-core/lib/session_state.py
Due: none

Integrate Pass 3 Mac-orchestrator memories into junior and verify
  aops-core/agents/junior.md
  aops-core/skills/verify/SKILL.md
Due: dprint, check-framework-integrity

docs: clarify targets as invisible weight and remove task vs epic distinction
  aops-core/agents/junior.md
  aops-core/skills/planner/SKILL.md
  aops-core/skills/remember/references/TAXONOMY.md
Due: dprint, check-framework-integrity

feat: add in-flight intervention detectors to existing surfaces
  aops-core/agents/rbg.md
  aops-core/skills/daily/SKILL.md
  polecat/prompt_template.py
Due: dprint, check-framework-integrity
