Repository nicsuzor/academicOps: changes, and which pre-commit hooks are due for each by the changed paths.
All: dprint, check-framework-integrity

dprint:
  name: dprint check
  entry: uv run dprint check
  language: system
  pass_filenames: true

check-framework-integrity:
  name: framework integrity check
  entry: uv run python scripts/check_framework_integrity.py
  language: system
  pass_filenames: false

refactor(polecat): consolidate claim + extract finalize, remove _sync_working_repo from dispatch (Step 2 of Polecat v2 epic-4234682b)
  polecat/claim.py
  polecat/cli.py
  polecat/finalize.py
  tests/polecat/test_no_sync_working_repo_in_run.py
Due: none

feat(sessions): align task ID across all session-artifact filenames (#882)
  aops-core/lib/insights_generator.py
  aops-core/scripts/transcript.py
  tests/test_task_id_in_artifact_filenames.py
Due: none

docs: reference new list_tasks project filter in skills (#849)
  aops-core/skills/aops/SKILL.md
  aops-core/skills/planner/SKILL.md
  aops-core/skills/planner/workflows/decompose.md
  aops-core/skills/sleep/SKILL.md
Due: dprint, check-framework-integrity

refactor(polecat): consolidate claim + extract finalize, remove _sync_working_repo from dispatch (Step 2 of Polecat v2 epic-4234682b) (#884)
  polecat/claim.py
  polecat/cli.py
  polecat/finalize.py
  tests/polecat/test_no_sync_working_repo_in_run.py
Due: none

fix(pkb): default new tasks to priority 3 instead of 2 (task-2b01a9e4) (#851)
  aops-core/commands/review-pr.md
  aops-core/skills/aops/SKILL.md
  aops-core/skills/planner/SKILL.md
  polecat/pkb_bridge.py
  tests/polecat/test_pkb_bridge.py
Due: dprint, check-framework-integrity

docs(remember): clarify confidence is numeric and synthesized/sources required for knowledge (partial Closes task-2e8b1498) (#883)
  aops-core/skills/remember/SKILL.md
  tests/test_remember_skill_confidence_schema.py
Due: dprint, check-framework-integrity

fix(polecat): retry pkb_bridge _post once on chunked-read TimeoutError (aops-aaa98cf7) (#852)
  polecat/pkb_bridge.py
  tests/polecat/test_pkb_bridge_retry.py
Due: none

refactor(polecat): extract swarm/watch/analyze/reset_stalled/summary into modules (Step 1 of Polecat v2 epic-4234682b) (#880)
  polecat/cli.py
  polecat/diagnostics.py
  polecat/summary.py
  polecat/watch.py
Due: none

fix(rbg): criterion-substitution + unverified-keystone + sensitive-data scan (#853)
  aops-core/agents/rbg.md
  aops-core/skills/strategic-review/review-contexts/pr-code.md
  aops-core/skills/strategic-review/review-contexts/pr-framework.md
  tests/test_rbg_pr_review_rules.py
Due: dprint

feat(supervisor,rbg): A8 composition-time enforcement (#877)
  .agents/ENFORCEMENT-MAP.md
  aops-core/agents/rbg.md
  aops-core/skills/supervisor/SKILL.md
  aops-core/skills/supervisor/instructions/decomposition-and-review.md
  tests/agents/test_rbg_a8_pre_response_scan.py
  tests/agents/test_supervisor_a8_blacklist.py
Due: dprint, check-framework-integrity

Transcript & observability hook fixes (P3 group): 5 tasks (#854)
  aops-core/hooks/router.py
  aops-core/lib/transcript_parser.py
  tests/hooks/test_normalize_input_regression.py
  tests/lib/test_transcript_parser_hooks.py
  tests/test_transcript.py
Due: none

feat(core): point agents at PKB specs first (#876)
  .agents/CORE.md
  .agents/ENFORCEMENT-MAP.md
  tests/test_core_md_pkb_first.py
Due: dprint

fix(tests): F-group fixture race in temp_polecat_home (#856)
  tests/conftest.py
  tests/e2e/test_polecat_run.py
  tests/integration/test_deny_rules.py
Due: none

test(transcript): add test coverage for thoughts/thinking rendering (task-df03f1d9) (#874)
  tests/lib/test_transcript_thoughts_rendering.py
Due: none

feat(pull): dispatch to specialist agent when assignee names one (Closes #733) (#857)
  aops-core/HEURISTICS.md
  aops-core/commands/pull.md
  tests/test_pull_specialist_dispatch.py
Due: dprint, check-framework-integrity

docs(planner): default new tasks to P3 unless user indicates urgency (Closes task-e410b794) (#873)
  aops-core/skills/planner/SKILL.md
  tests/test_planner_default_priority.py
Due: dprint, check-framework-integrity

feat(enforcer): block (not defer) PRs that add gates without updating enforcement-map (Closes #803) (#859)
  aops-core/HEURISTICS.md
  aops-core/agents/rbg.md
  tests/test_enforcer_p65_blocking.py
Due: dprint

feat(polecat): surface real transcript path in task body and PR (#872)
  polecat/cli.py
  polecat/finalize.py
  tests/polecat/test_finish_surfaces_transcript.py
Due: none

feat(polecat): add --force flag to run command (#861)
  polecat/cli.py
  tests/polecat/test_cli_run_force.py
Due: none

docs: remove stale references to non-existent session-insights skill (Closes task-c5fa4dd6) (#869)
  specs/session-log-observability-gaps.md
Due: dprint

fix(session-writer): resolve worktree paths to main repo (Closes task-ea880699) (#862)
  aops-core/lib/transcript_parser.py
  tests/lib/test_infer_project_worktree.py
Due: none

feat(hooks): log client_type to distinguish claude vs gemini sessions (Closes task-c5d2e2da) (#867)
  tests/hooks/test_client_type_logged.py
Due: none

docs(priority): canonicalize P0–P4 in TAXONOMY (#863)
  aops-core/commands/pull.md
  aops-core/lib/transcript_parser.py
  aops-core/skills/aops/templates/spec.md
  aops-core/skills/daily/SKILL.md
  aops-core/skills/daily/instructions/status-snapshot.md
  aops-core/skills/hydrator/workflows/email-capture.md
  aops-core/skills/hydrator/workflows/references/email-capture-details.md
  aops-core/skills/planner/SKILL.md
  aops-core/skills/remember/references/TAXONOMY.md
  tests/test_priority_definition_canonical.py
Due: dprint, check-framework-integrity

chore(epic-319a8797): seed shared branch for coordinated dispatch
  .epic-319a8797-marker
Due: none

polecat sync: skip files >95 MB to prevent push failures
  polecat/cli.py
Due: none

feat(observability): improve session JSON metadata for downstream analytics
  aops-core/lib/insights_generator.py
  aops-core/lib/transcript_parser.py
  aops-core/scripts/transcript.py
Due: none

feat(epic-319a8797): Phase A — handoff architecture + RBG surgery
  .github/workflows/merge-prep-ready-label.yml
  aops-core/agents/rbg.md
  aops-core/agents/rbg/past-judgments.md
  aops-core/agents/rbg/replay-matrix.md
  aops-core/skills/daily/instructions/workflow-monitor.md
  aops-core/skills/supervisor/SKILL.md
  aops-core/skills/supervisor/instructions/supervision-loop.md
  dotfiles/cron/state/.gitkeep
  dotfiles/cron/user-side-pr-review.sh
Due: dprint, check-framework-integrity

feat(epic-319a8797): Phase B — supervisor template generalisation
  aops-core/skills/supervisor/SKILL.md
  aops-core/skills/supervisor/instructions/code-deliverable.md
  aops-core/skills/supervisor/instructions/decomposition-and-review.md
  aops-core/skills/supervisor/instructions/supervision-loop.md
Due: dprint, check-framework-integrity

chore(epic-319a8797): remove seed marker on integration
  .epic-319a8797-marker
Due: none

enforcement map
  .agents/ENFORCEMENT-MAP.md
  aops-core/agents/rbg.md
  aops-core/skills/end_session/SKILL.md
  aops-core/skills/remember/references/TAXONOMY.md
Due: dprint, check-framework-integrity

revert(epic-319a8797): remove cron, GHA label workflow, RBG case-law
  .github/workflows/merge-prep-ready-label.yml
  aops-core/agents/rbg.md
  aops-core/agents/rbg/past-judgments.md
  aops-core/agents/rbg/replay-matrix.md
  aops-core/skills/daily/instructions/workflow-monitor.md
  aops-core/skills/supervisor/SKILL.md
  aops-core/skills/supervisor/instructions/code-deliverable.md
  aops-core/skills/supervisor/instructions/supervision-loop.md
  dotfiles/cron/state/.gitkeep
  dotfiles/cron/user-side-pr-review.sh
Due: dprint, check-framework-integrity

get rid of dumb rule tests
  tests/agents/__init__.py
  tests/agents/test_rbg_a2_class_coverage.py
  tests/agents/test_rbg_a8_pre_response_scan.py
  tests/agents/test_rbg_structured_exemption.py
  tests/agents/test_supervisor_a8_blacklist.py
Due: none

clean up aops
  .agents/AGENTS.md
  .agents/ENFORCEMENT-MAP.md
  .agents/PATHS.md
  .agents/STATUS.md
  .agents/rules/HEURISTICS.md
  .agents/rules/RULES.md
  .agents/rules/project-rules.md
  .pre-commit-config.yaml
  aops-core/AXIOMS.md
  aops-core/HEURISTICS.md
  aops-core/PRIORITY.md
  aops-core/SCRIPTS.md
  aops-core/agents/rbg/past-judgments.md
  aops-core/agents/rbg/replay-matrix.md
  aops-core/commands/trend-review.md
  aops-core/docs/MCP-TRANSPORT.md
  aops-core/lib/lint_axiom_refs.py
  aops-core/lib/session_paths.py
  aops-core/old_axioms.md
  aops-core/scripts/sync_gha_sessions.py
  aops-core/scripts/transcript.py
  aops-core/skills/aops/references/forensics-details.md
  aops-core/skills/aops/workflows/09-session-hook-forensics.md
  aops-core/skills/dogfood/SKILL.md
  specs/session-id-alignment.md
  specs/session-log-observability-gaps.md
Due: dprint, check-framework-integrity

add self test instructions workflow
  aops-core/skills/aops/workflows/11-self-test.md
Due: dprint, check-framework-integrity

fix: stop RBG enforcer running when no PR is found on workflow_run
  .github/workflows/agent-enforcer.yml
Due: none

remove axiom lint
  .agents/ENFORCEMENT-MAP.md
  .github/workflows/lint.yml
  aops-core/HEURISTICS.md
  tests/lib/test_axiom_lint.py
Due: dprint

update env var gemini
  aops-core/lib/session_paths.py
  tests/test_session_paths.py
Due: none

Update condition for propagating agent exit status
  .github/workflows/agent-enforcer.yml
Due: none

agents: formalise four-axes permissions schema + lint + CI + remediation
  .github/agents/merge-prep.agent.md
  .github/agents/pr-reviewer.agent.md
  .github/agents/qa.agent.md
  .github/workflows/agent-compliance-lint.yml
  aops-core/AGENT-COMPLIANCE-MATRIX.md
  aops-core/agents/james.md
  aops-core/agents/jr.md
  aops-core/agents/marsha.md
  aops-core/agents/pauli.md
  aops-core/agents/rbg.md
  aops-core/scripts/agent_compliance_lint.py
  tests/scripts/__init__.py
  tests/scripts/test_agent_compliance_lint.py
Due: dprint

fix(merge-prep): load prompt from academicOps, not caller's repo
  .github/workflows/agent-merge-prep.yml
Due: none

Path conditions:
  dprint: any of: \.(md|markdown|mdown)$, \.json$, \.toml$
  check-framework-integrity: any of: (WORKFLOWS|SKILLS)\.md$|workflows/.*\.md$|skills/.*/SKILL\.md$|commands/.*\.md$
