Repository nicsuzor/academicOps: changes, and which pre-commit hooks are due for each by the changed paths.
All: dprint, check-framework-integrity

dprint:
  name: dprint check
  entry: uv run dprint check
  language: system
  pass_filenames: true

check-framework-integrity:
  name: framework integrity check
  entry: uv run python scripts/check_framework_integrity.py
  language: system
  pass_filenames: false

fix(ida): restore PostToolBatch hook wiring and update assertions
  plugins/ida/hooks/handlers.py
  plugins/ida/manifest/hooks.template.json
  tests/test_ida_stop_gate_built.py
  tests/test_plugin_manifests.py
  tests/test_shipped_hooks.py
Due: dprint

remove monitor from james
  plugins/orchestrate/agents/james.md
Due: dprint

add pkb to james
  plugins/orchestrate/agents/james.md
Due: dprint

docs(core): update agy defect note to MCP issue #2422 and fix test docstrings
  .agents/CORE.md
  tests/test_ida_stop_gate_built.py
Due: dprint

docs(debug): update agy diagnostic advice for frontmatter tools and retire defect #2387 reference
  .agents/skills/debug/SKILL.md
Due: dprint, check-framework-integrity

fix posttoolbatch hook call
  plugins/ida/manifest/hooks.template.json
Due: dprint

add bash for tmux
  plugins/ida/agents/ida.md
  plugins/orchestrate/agents/james.md
Due: dprint

docs(ida): warn against briefing findings instead of the user's task
  plugins/ida/agents/ida.md
Due: dprint

docs(ida): correct agy wrapper invocation, MCP and skill forms
  plugins/ida/agents/agy.md
Due: dprint

ignore gemini agent team files
  .gitignore
Due: none

fix(polecat): do not install ida plugin in polecat containers
  Dockerfile
  lib/polecat/cli.py
  tests/polecat/test_container_invocation.py
  tests/polecat/test_container_smoke.py
Due: none

fix(orchestrate): add doc/diagram QA criteria to marsha and strategic-review
  plugins/orchestrate/agents/marsha.md
  plugins/orchestrate/skills/strategic-review/SKILL.md
Due: dprint, check-framework-integrity

feat(orchestrate): import Claude Code OTel gRPC tracer into orchestrate plugin
  Makefile
  build/marketplace.toml
  lib/hooks/dispatch.py
  plugins/aops-debug/hooks/handlers.py
  plugins/aops-debug/manifest/hooks.template.json
  plugins/aops-debug/manifest/plugin.template.json
  plugins/aops-debug/manifest/plugin.toml
  plugins/orchestrate/agents/james.md
  plugins/orchestrate/claude_code_tracer.py
  plugins/orchestrate/hooks/handlers.py
  plugins/orchestrate/manifest/hooks.template.json
  plugins/orchestrate/pyproject.template.toml
  plugins/orchestrate/pyproject.toml
  plugins/orchestrate/tests/test_live_collector.py
  plugins/orchestrate/tests/test_tracer.py
  pyproject.toml
  tests/test_shipped_hooks.py
  uv.lock
Due: dprint

docs(reconcile): add concise task status reconciliation instruction
  plugins/pkb/skills/reconcile/SKILL.md
Due: dprint, check-framework-integrity

update transcript rendering
  .agents/skills/debug/SKILL.md
  lib/hooks/dispatch.py
  lib/py/transcripts/adapters/claude.py
  lib/py/transcripts/domain/renderer.py
  lib/py/transcripts/model.py
  pyproject.toml
  specs/transcript-pipeline.md
  tests/test_build.py
  tests/transcripts/test_challenger_m4_r2.py
  tests/transcripts/test_m2_challenger_probes.py
  tests/transcripts/test_m2_enhancements.py
  tests/transcripts/test_r4_renderer_hardening.py
  tests/transcripts/test_subagents.py
Due: dprint, check-framework-integrity

update source_fingerprint call
  lib/py/transcripts/runner.py
Due: none

fix(orchestrate): address strategic review feedback for OTel tracer PR #2425
  Makefile
  build/marketplace.toml
  lib/hooks/dispatch.py
  plugins/aops-debug/hooks/handlers.py
  plugins/aops-debug/manifest/hooks.template.json
  plugins/aops-debug/manifest/plugin.template.json
  plugins/aops-debug/manifest/plugin.toml
  plugins/orchestrate/hooks/claude_code_tracer.py
  plugins/orchestrate/hooks/handlers.py
  plugins/orchestrate/pyproject.template.toml
  plugins/orchestrate/pyproject.toml
  specs/ENFORCEMENT-MAP.md
  tests/test_build.py
  tests/test_shipped_hooks.py
Due: dprint

update transcript generation
  lib/py/transcripts/domain/renderer.py
  lib/py/transcripts/runner.py
  tests/transcripts/test_subagents.py
Due: none

parallel transcripts
  lib/py/transcripts/runner.py
Due: none

add statusline configs
  Dockerfile
  build/docker/antigravity-cli-settings.json
  specs/polecat/polecat-system.md
Due: dprint

use fewer cpus
  lib/polecat/defaults/agystatusline-settings.json
  lib/py/transcripts/runner.py
Due: dprint

halt if pkb not available
  plugins/pkb/skills/hydrate/SKILL.md
Due: dprint, check-framework-integrity

feat(transcripts): implement content hash skip-cache, 15m mtime buffer, 30d expiry, and sidecar hash
  lib/py/transcripts/adapters/claude.py
  lib/py/transcripts/domain/cache.py
  lib/py/transcripts/domain/renderer.py
  lib/py/transcripts/runner.py
  tests/transcripts/test_claude_adapter.py
  tests/transcripts/test_skip_cache.py
Due: none

fix(transcripts): add ROUTINE_AGY_TYPES to quiet routine agy entry warnings
  lib/py/transcripts/adapters/agy.py
Due: none

fix(transcripts): mark rendered sessions in skip_cache for instant skip on repeat runs
  lib/py/transcripts/domain/cache.py
  lib/py/transcripts/runner.py
Due: none

update permissions for mcp tools
  build/tool_map.toml
  plugins/ida/agents/ida.md
  plugins/orchestrate/agents/james.md
  plugins/pkb/agents/pauli.md
Due: dprint

fix(transcripts): quiet routine AGY log entry warnings
  lib/py/transcripts/adapters/agy.py
Due: none

add cache, no lag
  lib/py/transcripts/runner.py
  tests/transcripts/test_skip_cache.py
Due: none

add ida and agy instructions for dispatching
  .agents/rules/polling.md
  .agents/skills/debug/SKILL.md
  Dockerfile
  build/tool_map.toml
  lib/hooks/dispatch.py
  plugins/ida/agents/agy.md
  plugins/ida/agents/ida.md
  plugins/ida/hooks/handlers.py
  tests/test_build.py
Due: dprint, check-framework-integrity

general purpose
  plugins/ida/agents/ida.md
Due: dprint

don't run honesty hook on Ida stop
  plugins/orchestrate/hooks/handlers.py
Due: none

scale down to save costs
  plugins/ida/agents/ida.md
Due: dprint

fire the honesty advisory at every Claude Code stop, not just subagents
  plugins/orchestrate/hooks/handlers.py
  plugins/orchestrate/manifest/hooks.template.json
  specs/ARCHITECTURE.md
  specs/ENFORCEMENT-MAP.md
  tests/policy.toml
  tests/test_stop_gates.py
Due: dprint

dispatch instructions -- but overspecified
  plugins/ida/agents/ida.md
  plugins/orchestrate/agents/james.md
Due: dprint

refactor(agents): collapse ida to one conversational register
  plugins/ida/agents/ida.md
  plugins/orchestrate/agents/james.md
Due: dprint

Supersedes #2421: Port metadata inference and passthrough entry types
  lib/py/transcripts/adapters/claude.py
  lib/py/transcripts/domain/correlation.py
  lib/py/transcripts/domain/renderer.py
  tests/transcripts/test_domain.py
  tests/transcripts/test_user_prompt_fidelity.py
Due: none

add pauli mcp services
  plugins/pkb/agents/pauli.md
Due: dprint

feat(polecat): default to --agent james and support --base commit branching
  lib/polecat/cli.py
  lib/polecat/defaults/polecat.yaml.example
  plugins/orchestrate/skills/dispatch/SKILL.md
  specs/polecat/polecat-system.md
  tests/polecat/test_container_invocation.py
  tests/polecat/test_workspace_isolation.py
Due: dprint, check-framework-integrity

test(transcripts): stop ledger fixture expiring, cover routine raw types
  tests/transcripts/test_claude_adapter.py
  tests/transcripts/test_user_prompt_fidelity.py
Due: none

refactor(agents): redistribute dispatch procedure, formalise rbg verdicts
  plugins/ida/agents/ida.md
  plugins/orchestrate/agents/james.md
  plugins/pkb/skills/dump/SKILL.md
  plugins/pkb/skills/pull/SKILL.md
  plugins/rbg/agents/rbg.md
Due: dprint, check-framework-integrity

Path conditions:
  dprint: any of: \.(md|markdown|mdown)$, \.json$, \.toml$
  check-framework-integrity: any of: (WORKFLOWS|SKILLS)\.md$|workflows/.*\.md$|skills/.*/SKILL\.md$|commands/.*\.md$
