Repository nicsuzor/academicOps: changes, and which pre-commit hooks are due for each by the changed paths.
All: dprint, check-framework-integrity

dprint:
  name: dprint check
  entry: uv run dprint check
  language: system
  pass_filenames: true

check-framework-integrity:
  name: framework integrity check
  entry: uv run python scripts/check_framework_integrity.py
  language: system
  pass_filenames: false

change hooks on ida to warn only
  plugins/ida/hooks/handlers.py
  plugins/ida/hooks/messages/hearsay.md
  plugins/ida/hooks/messages/quiet.md
Due: dprint

update rule against hearsay to allow passing on of evidence
  plugins/ida/hooks/messages/hearsay.md
  plugins/ida/manifest/hooks.template.json
  plugins/rbg/manifest/hooks.template.json
Due: dprint

Collapse the duplicate stop-loop guard to one, drop superseded block tests
  lib/hooks/dispatch.py
  tests/test_dispatch_gate.py
  tests/test_ida_stop_gate_built.py
  tests/test_stop_gates.py
Due: none

test: restore ida Stop-gate message-fidelity coverage, warn-shaped
  tests/test_dispatch_gate.py
  tests/test_ida_stop_gate_built.py
Due: none

docs: update ida's quiet gate docs to warn-shaped, not blocking
  plugins/ida/hooks/handlers.py
  specs/ARCHITECTURE.md
  specs/enforcement/enforcement.md
Due: dprint

Give the hook runtime one module object, not two
  lib/hooks/dispatch.py
  tests/test_dispatch_gate.py
Due: none

update ida
  plugins/ida/agents/ida.md
Due: dprint

remove plugin config
  plugins/rbg/manifest/plugin.template.json
Due: dprint

Ship marsha and verify from ida; fail loudly on unreadable shared declarations
  build/shared.py
  plugins/ida/README.md
  plugins/ida/agents/james.md
  plugins/ida/agents/marsha.md
  plugins/ida/skills/verify/SKILL.md
  specs/ARCHITECTURE.md
  specs/agents/agent-authority.md
  specs/enforcement/enforcement.md
  templates/plugin/manifest/plugin.toml
  tests/test_build.py
Due: dprint, check-framework-integrity

add james and prohibit accretion
  lib/axioms/synthesize-not-accrete.md
  plugins/ida/agents/james.md
  plugins/ida/skills/dispatch/SKILL.md
  plugins/orchestrate/agent/james.md
  plugins/orchestrate/agent/marsha.md
  plugins/orchestrate/hooks/handlers.py
  plugins/orchestrate/hooks/messages/hearsay.md
  plugins/orchestrate/hooks/messages/hearsay.user.md
  plugins/orchestrate/manifest/hooks.template.json
  plugins/orchestrate/manifest/plugin.template.json
  plugins/orchestrate/manifest/plugin.toml
  plugins/orchestrate/pyproject.template.toml
  plugins/orchestrate/skills/strategic-review/SKILL.md
  plugins/orchestrate/skills/verify/SKILL.md
  plugins/pkb/README.md
  plugins/pkb/agents/pauli.md
  plugins/pkb/skills/dump/SKILL.md
  plugins/pkb/skills/learn/SKILL.md
  plugins/pkb/skills/remember/SKILL.md
  plugins/pkb/skills/situate/SKILL.md
  plugins/pkb/skills/workflow/SKILL.md
  plugins/pkb/workflows/INDEX.md
  templates/plugin/agents/name.md
Due: dprint, check-framework-integrity

simplify task bodies
  plugins/orchestrate/hooks/handlers.py
  plugins/pkb/README.md
  plugins/pkb/skills/remember/SKILL.md
  plugins/pkb/skills/situate/SKILL.md
Due: dprint, check-framework-integrity

Finish reverting james/marsha into ida; fix dead agy hook commands
  build/clients/agy.py
  plugins/ida/agents/james.md
  plugins/ida/agents/marsha.md
  plugins/ida/skills/dispatch/SKILL.md
  plugins/ida/skills/strategic-review/SKILL.md
  plugins/ida/skills/verify/SKILL.md
  plugins/orchestrate/hooks/handlers.py
  plugins/orchestrate/hooks/messages/hearsay.md
  plugins/orchestrate/hooks/messages/hearsay.user.md
  plugins/orchestrate/manifest/hooks.template.json
  plugins/orchestrate/manifest/plugin.template.json
  plugins/orchestrate/manifest/plugin.toml
  plugins/orchestrate/pyproject.template.toml
  tests/test_ida_stop_gate_built.py
  tests/test_shipped_hooks.py
Due: dprint, check-framework-integrity

Sync ida's plugin description with its post-reversion scope
  plugins/ida/manifest/plugin.template.json
Due: dprint

Make rbg's configuration docs and test true of the manifest as it is
  lib/polecat/cli.py
  plugins/rbg/README.md
  plugins/rbg/hooks/evaluator.py
  pyproject.toml
  tests/polecat/test_container_config.py
  tests/test_cope.py
Due: dprint

Stop the shim logging an abandoned request as a fault, and say what a CPU build costs
  plugins/rbg/README.md
  scripts/cope_eval_shim.py
  tests/test_cope_eval_shim.py
Due: dprint

Correct the local-model measurements: there is a GPU, and concurrency moves the verdicts
  plugins/rbg/README.md
Due: dprint

rbg: surface an unreachable rule evaluator to the agent once per session
  plugins/rbg/hooks/evaluator.py
  plugins/rbg/hooks/handlers.py
  plugins/rbg/hooks/messages/evaluator-outage.md
  plugins/rbg/hooks/messages/evaluator-outage.user.md
  tests/test_cope.py
Due: dprint

correct evaluator
  plugins/rbg/README.md
  plugins/rbg/hooks/messages/evaluator-outage.md
Due: dprint

rbg: durably trace every rule evaluation as an input/rule/verdict tuple
  plugins/rbg/README.md
  plugins/rbg/hooks/evaluator.py
  plugins/rbg/hooks/evaluator_trace.py
  plugins/rbg/hooks/handlers.py
  tests/test_cope.py
  tests/test_shipped_hooks.py
Due: dprint

Measure the CUDA build, and correct two over-claims about the local stack
  plugins/rbg/README.md
Due: dprint

State the latency figures with the rule set they were measured over
  plugins/rbg/README.md
Due: dprint

rbg: emit rule-evaluation traces as OTel spans in OTLP JSON, alongside JSON Lines
  plugins/rbg/README.md
  plugins/rbg/hooks/evaluator_otel_trace.py
  plugins/rbg/hooks/evaluator_trace.py
  plugins/rbg/hooks/handlers.py
  plugins/rbg/pyproject.toml
  plugins/rbg/uv.lock
  pyproject.toml
  specs/ARCHITECTURE.md
  tests/test_cope.py
  uv.lock
Due: dprint

add diet to james
  plugins/ida/agents/james.md
Due: dprint

Revert "Finish reverting james/marsha into ida; fix dead agy hook commands"
  build/clients/agy.py
  plugins/ida/skills/dispatch/SKILL.md
  plugins/orchestrate/agent/james.md
  plugins/orchestrate/agent/marsha.md
  plugins/orchestrate/hooks/handlers.py
  plugins/orchestrate/hooks/messages/hearsay.md
  plugins/orchestrate/hooks/messages/hearsay.user.md
  plugins/orchestrate/manifest/hooks.template.json
  plugins/orchestrate/manifest/plugin.template.json
  plugins/orchestrate/manifest/plugin.toml
  plugins/orchestrate/pyproject.template.toml
  plugins/orchestrate/skills/strategic-review/SKILL.md
  plugins/orchestrate/skills/verify/SKILL.md
  tests/test_ida_stop_gate_built.py
  tests/test_shipped_hooks.py
Due: dprint, check-framework-integrity

rbg: parent rule-evaluation OTel spans under Claude Code's trace context, share sweep_id across both trace sinks
  plugins/rbg/README.md
  plugins/rbg/hooks/evaluator_otel_trace.py
  plugins/rbg/hooks/evaluator_trace.py
  plugins/rbg/hooks/handlers.py
  tests/test_cope.py
Due: dprint

add hearsay rule to james
  plugins/ida/hooks/handlers.py
  plugins/ida/hooks/messages/hearsay.md
  plugins/ida/hooks/messages/hearsay.user.md
  plugins/ida/hooks/messages/honesty.md
  plugins/ida/hooks/messages/honesty.user.md
  plugins/ida/manifest/plugin.template.json
  plugins/ida/manifest/plugin.toml
  plugins/orchestrate/hooks/handlers.py
  plugins/orchestrate/hooks/messages/hearsay.md
  plugins/orchestrate/hooks/messages/hearsay.user.md
  plugins/orchestrate/hooks/messages/honesty.md
  plugins/orchestrate/hooks/messages/honesty.user.md
  plugins/orchestrate/manifest/hooks.template.json
  plugins/orchestrate/manifest/plugin.template.json
  plugins/orchestrate/manifest/plugin.toml
Due: dprint

add hooks, remove old plugin
  plugins.disabled/aops/README.md
  plugins.disabled/aops/hooks/handlers.py
  plugins.disabled/aops/hooks/messages/answer-evidence.md
  plugins.disabled/aops/hooks/messages/answer-evidence.user.md
  plugins.disabled/aops/hooks/messages/headless-interactive-prompt.md
  plugins.disabled/aops/hooks/messages/headless-interactive-prompt.user.md
  plugins.disabled/aops/hooks/messages/session-start-isolated.md
  plugins.disabled/aops/hooks/messages/session-start-isolated.user.md
  plugins.disabled/aops/hooks/messages/session-start.md
  plugins.disabled/aops/hooks/messages/session-start.user.md
  plugins.disabled/aops/manifest/hooks.template.json
  plugins.disabled/aops/manifest/plugin.template.json
  plugins.disabled/aops/manifest/plugin.toml
  plugins/orchestrate/hooks/handlers.py
Due: dprint

noverify
  plugins/orchestrate/hooks/messages/hearsay.md
Due: dprint

fix(build): clean install-dev agy plugin handling and repoint specs to orchestrate
  Makefile
  plugins/orchestrate/skills/dispatch/SKILL.md
  specs/ARCHITECTURE.md
  specs/agents/agent-authority.md
  specs/enforcement/enforcement.md
  specs/polecat/polecat-system.md
  specs/polecat/supervisor.md
Due: dprint, check-framework-integrity

add orchestrate
  build/marketplace.toml
Due: dprint

update references to plugins/agents
  plugins.disabled/skills.disabled/brief/SKILL.md
  plugins.disabled/skills.disabled/decompose/SKILL.md
  plugins.disabled/skills.disabled/graph-maintenance/SKILL.md
  plugins.disabled/skills.disabled/planner/SKILL.md
  plugins.disabled/skills.disabled/reconcile/SKILL.md
  plugins/ida/agents/ida.md
  plugins/orchestrate/agent/marsha.md
  plugins/orchestrate/skills/strategic-review/SKILL.md
  plugins/pkb/agents/pauli.md
  plugins/pkb/skills/hydrate/SKILL.md
  plugins/pkb/skills/learn/SKILL.md
  plugins/pkb/skills/remember/SKILL.md
  plugins/pkb/skills/situate/SKILL.md
  plugins/pkb/skills/workflow/SKILL.md
  plugins/rbg/agents/rbg.md
Due: dprint, check-framework-integrity

limit hook to agent tool
  plugins/orchestrate/hooks/handlers.py
Due: none

ensure dir exists on logging
  plugins/aops-debug/hooks/handlers.py
Due: none

rename plugin dir
  plugins/orchestrate/agents/james.md
  plugins/orchestrate/agents/marsha.md
Due: dprint

update debug logger
  plugins/aops-debug/hooks/handlers.py
Due: none

Restore cognitive-load framing in ida's user model
  plugins/ida/agents/ida.md
Due: dprint

fail loud
  plugins/aops-debug/hooks/handlers.py
Due: none

fix: satisfy ruff import ordering in orchestrate hooks
  plugins/orchestrate/hooks/handlers.py
Due: none

Path conditions:
  dprint: any of: \.(md|markdown|mdown)$, \.json$, \.toml$
  check-framework-integrity: any of: (WORKFLOWS|SKILLS)\.md$|workflows/.*\.md$|skills/.*/SKILL\.md$|commands/.*\.md$
