Repository nicsuzor/academicOps: changes, and which pre-commit hooks are due for each by the changed paths.
All: dprint, check-framework-integrity

.pre-commit-config.yaml:

# Pre-commit hooks for academicOps framework governance
# See https://pre-commit.com for more info

repos:
  # Markdown/JSON/TOML validation (dprint - check-only, no auto-fix)
  # Ruff check --fix auto-fixes what it can; ruff-format checks formatting
  - repo: local
    hooks:
      - id: dprint
        name: dprint check
        entry: uv run dprint check
        language: system
        types_or: [markdown, json, toml]
        pass_filenames: true

  # Markdown linting (catches issues dprint doesn't fix)
  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.12.1
    hooks:
      - id: markdownlint-cli2
        exclude: '^archived/'

  # Standard hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: '\.excalidraw$'
      - id: end-of-file-fixer
        exclude: '\.excalidraw$'
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
        args: ['--maxkb=500']

  # Python linting (auto-fix enabled)
  # Ruff check --fix auto-fixes what it can; ruff-format checks formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.4
    hooks:
      - id: ruff
        args: [--fix]
        exclude: '^archived/'
      - id: ruff-format
        args: [--check]
        exclude: '^archived/'

  # Framework integrity checks (index wikilinks, skill entries, workflow length)
  # Consolidates check-workflow-length + new index integrity validation
  - repo: local
    hooks:
      - id: check-framework-integrity
        name: framework integrity check
        entry: uv run python scripts/check_framework_integrity.py
        language: system
        pass_filenames: false
        files: '(WORKFLOWS|SKILLS)\.md$|workflows/.*\.md$|skills/.*/SKILL\.md$|commands/.*\.md$'

  # Type checking and full framework health checks run in CI only
  # (see .github/workflows/framework-health.yml)
  #
  # Moved to CI:
  # - basedpyright: full type analysis too slow for every commit
  # - check-skill-line-count: whole-repo scan, not file-scoped
  # - check-orphan-files: whole-repo scan, not file-scoped
  # - check-framework-integrity --full: slow full codebase wikilink scan
  # - audit_framework_health: comprehensive audit

fix(premise-test): collapse §2a to novel-sentence + cross-reference (clears enforcer SSoT finding)
  aops-core/skills/strategic-review/references/premise-test.md
Due: dprint

fix(ci): revive admission gate + delete zombie merge-prep-cron
  .github/workflows/admit-on-review.yml
  .github/workflows/merge-prep-cron.yml
  specs/workflows/pr-pipeline.md
Due: dprint, check-framework-integrity

test: throwaway draft to prove admission gate builds (delete)
  .github/GATE-PROOF-THROWAWAY.md
Due: dprint

fix(install-pr-pipeline): address Gemini review comments
  scripts/install-pr-pipeline.sh
Due: none

fix(enforcer): resolve PR #1881 axiom violations (judgment/SSoT/map-currency)
  aops-core/hooks/templates/enforcer-instruction.md
  specs/ENFORCEMENT-MAP.md
  tests/hooks/test_gate_verdict_logic.py
Due: dprint

fix(install-pr-pipeline): revert enforcer/qa refs to @pipeline-v1
  scripts/install-pr-pipeline.sh
Due: none

fix(ssot): reduce planner epistemic-humility to link+cue; soften 'binds rbg' claim
  aops-core/skills/planner/SKILL.md
  aops-core/skills/strategic-review/SKILL.md
Due: dprint, check-framework-integrity

fix(polecat): narrow AC, add env-file regression tests, drop umask dance
  polecat/cli.py
  tests/polecat/test_cli_docker.py
Due: none

feat(scripts): add install-pr-pipeline.sh for §9 satellite-repo install (#1889)
  scripts/install-pr-pipeline.sh
Due: none

feat(enforcement): make enforcement-change process discoverable; add response-density rule (#1873)
  aops-core/agents/junior.md
  aops-core/hooks/templates/ida-reminder.md
  aops-core/skills/aops/SKILL.md
  specs/ENFORCEMENT-MAP.md
Due: dprint, check-framework-integrity

feat(aops): inject PKB-HALT floor into polecat worker briefs (#1890)
  aops-core/agents/junior.md
  polecat/prompt_template.py
  tests/polecat/test_prompt_template.py
  tests/test_plugin_structure.py
Due: dprint

feat(polecat): off-argv --env-file delivery for conf-driven secrets (#1887)
  polecat/cli.py
  tests/polecat/test_cli_docker.py
Due: none

skills: build epistemic-humility / no-negative-from-absence into strategic-review + planner (fixes #1891) (#1893)
  aops-core/skills/planner/SKILL.md
  aops-core/skills/strategic-review/SKILL.md
  aops-core/skills/strategic-review/references/premise-test.md
Due: dprint, check-framework-integrity

feat(pr-pipeline): PASS reviews emit marker-only body; reasoning moves to status description
  .github/agents/enforcer.agent.md
  .github/agents/qa.agent.md
  .github/workflows/agent-enforcer.yml
  .github/workflows/agent-qa.yml
  specs/workflows/pr-pipeline.md
Due: dprint, check-framework-integrity

fix(pipeline): re-point install-pr-pipeline.sh shims from @pipeline-v1 to @dev
  scripts/install-pr-pipeline.sh
  specs/workflows/pr-pipeline.md
Due: dprint, check-framework-integrity

chore(host_secrets): move secret SSoT to host-agnostic secrets/ path
  aops-core/lib/host_secrets.py
Due: none

docs: update buttermilk deployment row to canonical aops Full pipeline (qut-dmrc/buttermilk#442)
  specs/DEPLOYMENTS.md
Due: dprint

fix(pr-1911): address all review comments before merge
  .github/workflows/agent-qa.yml
  .github/workflows/merge-prep-cron.yml
  polecat/cli.py
  polecat/finalize.py
  tests/polecat/test_finalize_ci_gate.py
Due: none

fix(tests): restore test_default_finish_still_targets_merge_ready assertion
  tests/polecat/test_finalize_partial.py
Due: none

refactor(host_secrets): env-only secret resolution, fail loud; remove sops/.env.local file fallbacks (#1918)
  aops-core/hooks/session_env_setup.py
  aops-core/lib/env_provision.py
  aops-core/lib/host_secrets.py
  aops-core/lib/polecat_config.py
  polecat/cli.py
  polecat/defaults/polecat.yaml.example
  tests/hooks/test_session_env_setup.py
  tests/polecat/test_cli_docker.py
  tests/test_host_secrets.py
Due: none

chore: remove internal DEPLOYMENTS.md from public repo
  aops-core/skills/project/workflows/deploy-bot-to-repo.md
  specs/CONNECTIVITY.md
  specs/DEPLOYMENTS.md
Due: dprint, check-framework-integrity

feat(check_no_fallbacks): detect dict-merge backfill, except-return-empty, get-or-get chains (#1918)
  scripts/check_no_fallbacks.py
  scripts/check_no_fallbacks_baseline.json
  tests/hooks/test_check_no_fallbacks.py
Due: dprint

chore(host_secrets): drop unused required-check scaffolding
  aops-core/lib/host_secrets.py
  polecat/cli.py
  tests/test_host_secrets.py
Due: none

test(env_provision): drop stale ~/.env.local assertion left red by #1919
  tests/test_env_provision.py
Due: none

chore: remove internal DEPLOYMENTS.md from public repo (#1921)
  aops-core/skills/project/workflows/deploy-bot-to-repo.md
  specs/CONNECTIVITY.md
  specs/DEPLOYMENTS.md
Due: dprint, check-framework-integrity

fix(enforcement): bounce deterministic-rig-as-TRIGGER in premise test (#1903)
  aops-core/agents/rbg.md
  aops-core/skills/strategic-review/references/premise-test.md
  aops-core/skills/supervisor/references/dispatch-rules.md
  specs/ENFORCEMENT-MAP.md
Due: dprint

feat(gates): rbg-review Stop gate — per-turn axiom review must RUN before Stop
  aops-core/hooks/gate_config.py
  aops-core/hooks/templates/rbg-review-complete.md
  aops-core/hooks/templates/rbg-review-context.md
  aops-core/hooks/templates/rbg-review-degraded.md
  aops-core/hooks/templates/rbg-review-policy-context.md
  aops-core/hooks/templates/rbg-review-policy-message.md
  aops-core/lib/gate_types.py
  aops-core/lib/gates/custom_actions.py
  aops-core/lib/gates/custom_conditions.py
  aops-core/lib/gates/definitions.py
  aops-core/lib/gates/engine.py
  aops-core/lib/template_registry.py
  specs/ENFORCEMENT-MAP.md
  specs/GATES.md
  tests/hooks/gate_helpers.py
  tests/hooks/test_message_path_leak_coverage.py
  tests/hooks/test_rbg_review_gate.py
Due: dprint

feat(cache): static-prefix/variable-tail rule for prompt-cache prefix (aops-85e8af92)
  aops-core/hooks/templates/enforcer-context.md
  aops-core/skills/craft/SKILL.md
Due: dprint, check-framework-integrity

docs: surface summaries JSON corpus in agent-facing guidance for prompt mining
  aops-core/skills/remember/references/maintenance-phases.md
  aops-core/skills/survey/SKILL.md
  specs/CAPABILITIES.md
Due: dprint, check-framework-integrity

feat(sessions): automate user-prompts-YYYY-MM.txt freshness via cron (aops-ec29df30)
  aops-core/scripts/user_prompts.py
  scripts/repo-sync-cron.sh
  tests/test_user_prompts_catchup.py
Due: none

feat(gates): rework rbg-review to end-of-session backstop (polecat-scoped)
  aops-core/hooks/templates/rbg-review-complete.md
  aops-core/hooks/templates/rbg-review-context.md
  aops-core/hooks/templates/rbg-review-degraded.md
  aops-core/hooks/templates/rbg-review-policy-context.md
  aops-core/hooks/templates/rbg-review-policy-message.md
  aops-core/lib/gates/definitions.py
  specs/ENFORCEMENT-MAP.md
  specs/GATES.md
  tests/hooks/test_rbg_review_gate.py
Due: dprint

feat(transcript): add system_injected flag on timeline_events + user_prompts array
  aops-core/lib/transcript_parser.py
  aops-core/scripts/transcript.py
  specs/session-insights-metrics-schema.md
  tests/lib/test_system_injected_prompts.py
Due: dprint

feat(sessions): consolidate PRs #1931/#1932/#1933 — schema + redaction + corrected docs, remove .txt
  aops-core/lib/transcript_parser.py
  aops-core/skills/remember/references/maintenance-phases.md
  aops-core/skills/survey/SKILL.md
  specs/CAPABILITIES.md
  tests/lib/test_system_injected_prompts.py
Due: dprint, check-framework-integrity

docs(dispatch): add related-work-to-one-PR rule; generalize cohesive-pr-epic scope
  aops-core/skills/supervisor/references/cohesive-pr-epic.md
  aops-core/skills/supervisor/references/dispatch-rules.md
Due: dprint

docs(review): make content-quality QA scope explicit for Marsha + James
  aops-core/agents/james.md
  aops-core/agents/marsha.md
Due: dprint

docs(review): repo-agnostic QA content check + aops /craft rule
  .agents/rules/RULES.md
  aops-core/agents/james.md
  aops-core/agents/marsha.md
Due: dprint

docs(agents): instruct PR-commenting agents to escape content in gh calls
  .github/agents/shared-error-handling.md
Due: dprint

fix(premise): require establishing current-state/prior-decisions before judging a new-mechanism premise
  aops-core/skills/remember/references/premise-gate.md
  aops-core/skills/strategic-review/references/premise-test.md
Due: dprint
