Repository nicsuzor/academicOps: changes, and which pre-commit hooks are due for each by the changed paths.
All: dprint, check-framework-integrity

.pre-commit-config.yaml:

# Pre-commit hooks for academicOps framework governance
# See https://pre-commit.com for more info

repos:
  # Markdown/JSON/TOML validation (dprint - check-only, no auto-fix)
  # Ruff check --fix auto-fixes what it can; ruff-format checks formatting
  - repo: local
    hooks:
      - id: dprint
        name: dprint check
        entry: uv run dprint check
        language: system
        types_or: [markdown, json, toml]
        pass_filenames: true

  # Markdown linting (catches issues dprint doesn't fix)
  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.12.1
    hooks:
      - id: markdownlint-cli2
        exclude: '^archived/'

  # Standard hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: '\.excalidraw$'
      - id: end-of-file-fixer
        exclude: '\.excalidraw$'
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
        args: ['--maxkb=500']

  # Python linting (auto-fix enabled)
  # Ruff check --fix auto-fixes what it can; ruff-format checks formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.4
    hooks:
      - id: ruff
        args: [--fix]
        exclude: '^archived/'
      - id: ruff-format
        args: [--check]
        exclude: '^archived/'

  # Framework integrity checks (index wikilinks, skill entries, workflow length)
  # Consolidates check-workflow-length + new index integrity validation
  - repo: local
    hooks:
      - id: check-framework-integrity
        name: framework integrity check
        entry: uv run python scripts/check_framework_integrity.py
        language: system
        pass_filenames: false
        files: '(WORKFLOWS|SKILLS)\.md$|workflows/.*\.md$|skills/.*/SKILL\.md$|commands/.*\.md$'

  # Type checking and full framework health checks run in CI only
  # (see .github/workflows/framework-health.yml)
  #
  # Moved to CI:
  # - basedpyright: full type analysis too slow for every commit
  # - check-skill-line-count: whole-repo scan, not file-scoped
  # - check-orphan-files: whole-repo scan, not file-scoped
  # - check-framework-integrity --full: slow full codebase wikilink scan
  # - audit_framework_health: comprehensive audit

feat(premise-check): clear premise check gate with 3 required elements and runnable command
  plugins/aops-debug/hooks/dispatch.py
  plugins/ida/hooks/dispatch.py
  plugins/ida/hooks/premise_check_gate.py
  plugins/ida/skills/premise-check/SKILL.md
  plugins/rbg/hooks/dispatch.py
  tests/test_ida_hooks.py
  tests/test_premise_check_gate.py
Due: dprint, check-framework-integrity

feat(settings): single owner for session startup settings and session-scoped git isolation
  plugins/ida/hooks/handlers.py
  scripts/macos-launchd/launchd-env.sh
  tests/test_aops_session_id_export.py
Due: none

fix(premise-check): anchor peer envelopes and ensure absolute script path resolution
  plugins/ida/hooks/premise_check_gate.py
  tests/test_premise_check_gate.py
Due: none

feat(premise-check): clear premise check gate with 3 required elements and runnable command (#2829)
  plugins/aops-debug/hooks/dispatch.py
  plugins/ida/hooks/dispatch.py
  plugins/ida/hooks/premise_check_gate.py
  plugins/ida/skills/premise-check/SKILL.md
  plugins/rbg/hooks/dispatch.py
  tests/test_ida_hooks.py
  tests/test_premise_check_gate.py
Due: dprint, check-framework-integrity

feat(diagram): require faithful SVG/PNG render and visual QA step
  .agents/templates/wf-design-conversation.md
  plugins/tools/skills/diagram/SKILL.md
Due: dprint, check-framework-integrity

feat(diagram): document connect limitation, boundary trim, and arrow binding schema
  .agents/templates/wf-design-conversation.md
  plugins/tools/skills/diagram/SKILL.md
Due: dprint, check-framework-integrity

feat(diagram): validate fractional index keys and document add-node/connect defect
  .agents/templates/wf-design-conversation.md
  plugins/tools/skills/diagram/SKILL.md
Due: dprint, check-framework-integrity

docs(specs): tools:diagram -- drawing PKB graphs in Excalidraw (draft)
  specs/README.md
  specs/tools/diagram-pkb-graphs.md
Due: dprint

feat(instructions): remove proactive helpfulness drivers and emphasise eagerness axiom
  .agents/CORE.md
  plugins/ida/agents/ida.md
  plugins/ida/skills/gather/SKILL.md
Due: dprint, check-framework-integrity

docs(ida): add proportionality test to premise-check skill
  plugins/ida/skills/premise-check/SKILL.md
Due: dprint, check-framework-integrity

docs: state PKB rules inline instead of pointing at instance-specific notes
  plugins/ida/agents/pauli.md
  plugins/ida/skills/remember/SKILL.md
  specs/workflows/capture-intake.md
Due: dprint, check-framework-integrity

docs(reconcile): drop the PKB taxonomy note citation; the status table is the rule
  plugins/ida/skills/reconcile/SKILL.md
Due: dprint, check-framework-integrity

fix(ida): state the eagerness rule once per scope; keep the option-fit constraint
  .agents/CORE.md
  plugins/ida/agents/ida.md
Due: dprint

fix(gather): bring decisions as options and costs, not an unasked recommendation
  plugins/ida/skills/gather/SKILL.md
Due: dprint, check-framework-integrity

fix(wf-handover): drop the resume pointer from the user summary
  .agents/templates/wf-handover.md
Due: dprint

fix(diagram): describe screenshot as a geometry render; drop task-id provenance
  plugins/tools/skills/diagram/SKILL.md
Due: dprint, check-framework-integrity

fix(wf-design-conversation): point to the diagram skill instead of restating its checks
  .agents/templates/wf-design-conversation.md
Due: dprint

feat(ida): auto-hydrate user prompts, unwrap channel envelopes, and skip peer reports
  plugins/ida/hooks/handlers.py
Due: none

docs(specs): document prompt hydration mechanics and peer report gate triggers
  specs/agents/prompt-hydration.md
  specs/enforcement/enforcement.md
  specs/enforcement/report-verification.md
Due: dprint

test(ida): add regression tests for user prompt hydration, channel unwrapping, and peer report skipping
  tests/test_ida_hooks.py
  tests/test_pkb_handlers.py
Due: none

docs(ida): make premise-check proportionality operative
  plugins/ida/skills/premise-check/SKILL.md
Due: dprint, check-framework-integrity

docs(specs): diagram-pkb-graphs -- cite mem GV ids, renumber open decisions, fix DG-K2/DG-T1 wording
  specs/tools/diagram-pkb-graphs.md
Due: dprint

fix(ida): PKB hook takes headers from env only, bounds HTTP search by timeout, no unauthenticated retry
  plugins/ida/hooks/handlers.py
  specs/agents/prompt-hydration.md
  specs/enforcement/enforcement.md
  specs/enforcement/report-verification.md
  tests/test_pkb_handlers.py
Due: dprint

fix(ida): forward PKB credentials through launchd; call pkb_search on the CLI path
  plugins/ida/hooks/handlers.py
  scripts/macos-launchd/com.aops.envvars.plist
  scripts/macos-launchd/launchd-env.sh
  scripts/measure_pkb_injection.py
  tests/test_pkb_handlers.py
Due: none

docs(specs): correct stale plugins/pkb paths and premise-check verdicts/gate
  .agents/templates/wf-brief-composition-verify.md
  specs/ARCHITECTURE.md
  specs/agents/reify.md
  specs/agents/sleep-cycle.md
  specs/enforcement/enforcement.md
  specs/enforcement/report-verification.md
  specs/polecat/polecat-system.md
  specs/workflows/conceptual-review-workflow.md
  specs/workflows/strategic-review.md
Due: dprint, check-framework-integrity

docs(scripts): measure_pkb_injection names the ida hooks path
  scripts/measure_pkb_injection.py
Due: none

fix(scripts): measure_pkb_injection loads hooks from plugins/ida
  scripts/measure_pkb_injection.py
Due: none

fix(scripts): measure_pkb_injection stages ida hooks and stubs fastmcp
  scripts/measure_pkb_injection.py
Due: none

docs: state PKB rules inline instead of citing instance-specific notes (#2760)
  plugins/ida/agents/pauli.md
  plugins/ida/skills/reconcile/SKILL.md
  plugins/ida/skills/remember/SKILL.md
  specs/workflows/capture-intake.md
Due: dprint, check-framework-integrity

feat(ida): add morning-decisions skill for walking through decisions one card at a time
  plugins/ida/skills/morning-decisions/SKILL.md
Due: dprint, check-framework-integrity

fix(ida): state Nic's rule on fixing defects; replace lines contradicting eagerness
  plugins/ida/agents/ida.md
Due: dprint

feat(settings): source session gitconfig path from AOPS_GIT_CONFIG_GLOBAL
  plugins/ida/hooks/handlers.py
  scripts/macos-launchd/launchd-env.sh
  tests/test_aops_session_id_export.py
Due: none

fix(reconcile): exempt principal closures from worker completion receipts (#2840)
  plugins/ida/agents/ida.md
  plugins/ida/skills/reconcile/SKILL.md
  tests/test_reconcile_rules.py
Due: dprint, check-framework-integrity

feat(ida): add thinking-with-the-user register beside briefing on returned work
  plugins/ida/agents/ida.md
  plugins/ida/skills/telegram/SKILL.md
Due: dprint, check-framework-integrity

feat(ida): name armed premise reports by short id and validate on verdict
  plugins/ida/hooks/premise_check_gate.py
  plugins/ida/hooks/premise_check_verdict.py
  specs/enforcement/report-verification.md
  tests/test_premise_check_gate.py
Due: dprint

feat(diagram): require mem>=v0.3.101 and cut boundary-trim and reindex workarounds
  plugins/tools/skills/diagram/SKILL.md
Due: dprint, check-framework-integrity

fix(review): remove prohibited wording test and align reconcile status rules (#2840)
  plugins/ida/agents/sara.md
  plugins/ida/skills/reconcile/SKILL.md
  tests/test_reconcile_rules.py
Due: dprint, check-framework-integrity

feat(premise-check): require relayed directions to cite user authority and check derivation
  plugins/ida/agents/ida.md
  plugins/ida/agents/james.md
  plugins/ida/agents/sara.md
  plugins/ida/hooks/messages/hearsay.md
  plugins/ida/skills/premise-check/SKILL.md
  plugins/rbg/axioms/cite-sources.md
  specs/enforcement/enforcement.md
  specs/enforcement/report-verification.md
Due: dprint, check-framework-integrity

fix(tracer): match tool_input in _find_tool_use_id to avoid Agent span collisions
  plugins/ida/hooks/claude_code_tracer.py
  tests/test_tracer_parent_cycles.py
Due: none

feat(instruction-text): replace verbatim-relay rules with recomposed asks and message-id citations
  plugins/ida/agents/ida.md
  plugins/ida/agents/james.md
  plugins/ida/agents/pauli.md
  plugins/ida/agents/sara.md
  plugins/ida/skills/mine/SKILL.md
  plugins/ida/skills/premise-check/SKILL.md
  plugins/ida/skills/q/SKILL.md
  plugins/ida/skills/reify/SKILL.md
  plugins/rbg/axioms/cite-sources.md
  specs/enforcement/report-verification.md
Due: dprint, check-framework-integrity
