Repository nicsuzor/academicOps: changes, and which pre-commit hooks are due for each by the changed paths.
All: dprint, check-framework-integrity

dprint:
  name: dprint check
  entry: uv run dprint check
  language: system
  pass_filenames: true

check-framework-integrity:
  name: framework integrity check
  entry: uv run python scripts/check_framework_integrity.py
  language: system
  pass_filenames: false

docs(pull): sharpen freshness pre-check — judgment-based path detection, workspace guard, heuristic-honest supersession
  aops-core/commands/pull.md
Due: dprint, check-framework-integrity

docs(specs): register agent-definition-content in specs INDEX
  specs/INDEX.md
Due: dprint

fix(enforcer): always clone prompt files from main for self-runs (#1650)
  .github/workflows/agent-enforcer.yml
Due: none

Remove framework-integrity pre-commit hook (blocks local commits, not a required check) (#1655)
  .pre-commit-config.yaml
  scripts/format.sh
  specs/enforcement/enforcement.md
Due: dprint

/pull freshness pre-check — flag a candidate task whose brief no longer matches reality (#1654)
  aops-core/commands/pull.md
Due: dprint, check-framework-integrity

Add opt-in sessions RO mount to polecat so crew workers can read transcripts (#1648)
  polecat/cli.py
  polecat/defaults/polecat.yaml.example
  polecat/manager.py
  tests/polecat/test_cli_docker.py
Due: none

docs(aops): self-test doctrine — liveness check before polling + caller-class check before extending (#1029, #1213) (#1647)
  aops-core/agents/junior.md
  aops-core/skills/aops/workflows/11-self-test.md
Due: dprint, check-framework-integrity

Instruction-only fix for bound-task handover — point at the in-context task id (#1258) (#1646)
  aops-core/commands/pull.md
  aops-core/skills/end_session/SKILL.md
Due: dprint, check-framework-integrity

feat(remember): add routing hint — axioms go to /framework, not brain/context (#1636)
  aops-core/skills/remember/SKILL.md
Due: dprint, check-framework-integrity

Spec: agent-definition content boundary (skill matter & docs out) (#1639)
  specs/INDEX.md
  specs/agents/agent-definition-content.md
Due: dprint

sesoin reader
  aops-core/lib/session_reader.py
Due: none

cowork build
  .github/workflows/build-extension.yml
  Makefile
  scripts/build.py
  templates/aops-core.cowork-plugin.json
  templates/marketplace-cowork.json
  tests/lib/test_cowork_ingestion.py
Due: dprint

exten
  .github/workflows/build-extension.yml
  .pre-commit-config.yaml
  Dockerfile
  specs/releases/release-publish-pipeline.md
Due: dprint

fix(release): drop orphaned nicsuzor/aops mirror step; reconcile spec
  .github/workflows/build-extension.yml
  specs/releases/release-publish-pipeline.md
Due: dprint

docs(spec): complete release/merge/publish/version-sync pipeline contract
  specs/releases/release-publish-pipeline.md
Due: dprint

junior.md: name the confirmation tail + raw-tool-output anti-patterns
  aops-core/agents/junior.md
Due: dprint

feat(user_prompts): filter automated sessions from catch-up timeline
  aops-core/lib/session_naming.py
  aops-core/lib/transcript_parser.py
  aops-core/scripts/user_prompts.py
  tests/test_user_prompts_catchup.py
Due: none

feat(peer-review): v3.0.0 — 5-stage adaptive loop, 11 verbatim probes, de-Nic-ify
  aops-core/skills/peer-review/SKILL.md
  aops-core/skills/peer-review/references/external-feedback.md
  aops-core/skills/peer-review/references/probes.md
  aops-core/skills/peer-review/references/reading-notes-format.md
  aops-core/skills/peer-review/references/review-guidance.md
  aops-core/skills/peer-review/references/review-template.md
  aops-core/skills/peer-review/references/reviewer-roles.md
  aops-core/skills/peer-review/references/verification.md
  aops-core/skills/peer-review/references/voice-and-detemplating.md
Due: dprint, check-framework-integrity

Push testing releases to dist too.
  .github/workflows/build-extension.yml
Due: none

docs(conventions): forbid merge-gate/do-not-merge banners in PR bodies
  aops-core/skills/aops/conventions-summary.md
  aops-core/skills/end_session/SKILL.md
  aops-core/skills/program/SKILL.md
  aops-core/skills/supervisor/SKILL.md
Due: dprint, check-framework-integrity

docs(spec): consolidate PR-pipeline specs into one target-state SSoT
  .github/rulesets/pr-review-and-merge.yml
  .github/workflows/agent-enforcer.yml
  .github/workflows/agent-qa.yml
  .github/workflows/pr-pipeline.yml
  .github/workflows/stage2-admission.yml
  .github/workflows/trigger-enforcer.yml
  .github/workflows/trigger-qa.yml
  specs/ENFORCEMENT-MAP.md
  specs/INDEX.md
  specs/enforcement/enforcement.md
  specs/releases/release-publish-pipeline.md
  specs/workflows/pr-pipeline-v2.md
  specs/workflows/pr-pipeline.md
Due: dprint, check-framework-integrity

test(build): align cowork-marketplace tests with build_coworklocal_plugin contract
  tests/test_cowork_marketplace_isolation.py
Due: none

docs(release): note dev/testing builds now publish to dist (client opts in)
  .github/workflows/build-extension.yml
  Makefile
  specs/releases/release-publish-pipeline.md
Due: dprint

docs(daily): trim draft-status/sibling-specs header from architecture spec
  specs/workflows/daily/00-architecture.md
Due: dprint, check-framework-integrity

polecat: normalize SSH GitHub remotes to HTTPS before working-repo sync
  polecat/cli.py
Due: none

ci(agents): allow claude[bot]/github-actions[bot] on enforcer + qa self-runs
  .github/workflows/agent-enforcer.yml
  .github/workflows/agent-qa.yml
Due: none

polecat: robust SSH→HTTPS remote normalization + full test coverage
  polecat/cli.py
  tests/polecat/test_normalize_origin_https.py
Due: none

docs(spec): reconcile enforcement.md with consolidated pr-pipeline SSoT
  specs/enforcement/enforcement.md
  specs/workflows/pr-pipeline.md
Due: dprint, check-framework-integrity

ci: revert comment-only edits to trigger-{enforcer,qa}.yml (unblock App token exchange)
  .github/workflows/trigger-enforcer.yml
  .github/workflows/trigger-qa.yml
Due: none

ci: revert all workflow-file comment edits to dev (unblock App token exchange)
  .github/workflows/agent-enforcer.yml
  .github/workflows/agent-qa.yml
  .github/workflows/pr-pipeline.yml
  .github/workflows/stage2-admission.yml
Due: none

polecat: consolidate SSH→HTTPS converter to single source of truth
  polecat/cli.py
  polecat/manager.py
  tests/polecat/test_normalize_origin_https.py
Due: none

fix(transcript): extract thinking + tool_calls from antigravity PLANNER_RESPONSE
  aops-core/lib/transcript_parser.py
  tests/lib/fixtures/antigravity_brain_sample.jsonl
  tests/lib/test_antigravity_transcript.py
Due: none

docs(release): record @dist rolling-latest decision (dev builds overwrite marketplace by design)
  specs/releases/release-publish-pipeline.md
Due: dprint

fix(agents): append explicit task directive to enforcer + qa prompts
  .github/workflows/agent-enforcer.yml
  .github/workflows/agent-qa.yml
Due: none

feat: P6 in-repo — alignment queue surface (pr-pipeline.yml + spec sync)
  .github/workflows/pr-pipeline.yml
  specs/ENFORCEMENT-MAP.md
  specs/enforcement/enforcement.md
  specs/releases/release-publish-pipeline.md
  specs/workflows/pr-pipeline.md
Due: dprint, check-framework-integrity

fix(agents): append explicit task directive to enforcer + qa prompts (#1674)
  .github/workflows/agent-enforcer.yml
  .github/workflows/agent-qa.yml
Due: none

P6 in-repo — alignment queue surface (advisory; queue LIVE, host dispatch SPEC-ONLY) (#1675)
  .github/workflows/pr-pipeline.yml
  specs/ENFORCEMENT-MAP.md
  specs/enforcement/enforcement.md
  specs/releases/release-publish-pipeline.md
  specs/workflows/pr-pipeline.md
Due: dprint, check-framework-integrity

P5 revise: spec footnote + dead-code test + workflow count
  .github/copilot-instructions.md
  specs/workflows/pr-pipeline.md
  tests/test_merge_prep_cron.py
Due: dprint, check-framework-integrity

Path conditions:
  dprint: any of: \.(md|markdown|mdown)$, \.json$, \.toml$
  check-framework-integrity: any of: (WORKFLOWS|SKILLS)\.md$|workflows/.*\.md$|skills/.*/SKILL\.md$|commands/.*\.md$
