Repository nicsuzor/academicOps: changes, and which pre-commit hooks are due for each by the changed paths.
All: dprint, check-framework-integrity

dprint:
  name: dprint check
  entry: uv run dprint check
  language: system
  pass_filenames: true

check-framework-integrity:
  name: framework integrity check
  entry: uv run python scripts/check_framework_integrity.py
  language: system
  pass_filenames: false

remove test
  tests/conftest.py
  tests/polecat/test_observability_standalone.py
Due: none

peer review skill
  aops-core/skills/peer-review/SKILL.md
  aops-core/skills/peer-review/references/platform-instructions.md
  aops-core/skills/peer-review/references/reading-notes-format.md
  aops-core/skills/peer-review/references/review-guidance.md
  aops-core/skills/peer-review/references/review-template.md
  aops-core/skills/peer-review/references/reviewer-roles.md
Due: dprint, check-framework-integrity

supervisor improvements
  aops-core/skills/supervisor/SKILL.md
  aops-core/skills/supervisor/instructions/code-deliverable.md
  aops-core/skills/supervisor/instructions/supervision-loop.md
Due: dprint, check-framework-integrity

docs(taxonomy): narrow project to polecat slug; collapse hierarchy; formalize contributes_to edges
  aops-core/skills/remember/references/TAXONOMY.md
Due: dprint

feat(session-summary): enrich metadata with surface/client/crew + subagent names
  aops-core/lib/insights_generator.py
  aops-core/lib/session_naming.py
  aops-core/lib/transcript_parser.py
  aops-core/scripts/transcript.py
  tests/lib/test_reviewer_verdicts.py
  tests/lib/test_session_naming.py
Due: none

feat: extend P#42 axiom and update /project scaffold output
  aops-core/AXIOMS.md
  aops-core/skills/project/instructions/init.md
  aops-core/skills/research/axioms.md
Due: dprint

feat(polecat): implement mounts support, worker prompt verification, and pc finish error improvement
  polecat/cli.py
  polecat/finalize.py
  polecat/manager.py
  polecat/prompt_template.py
Due: none

extract session info better
  aops-core/lib/session_naming.py
  aops-core/lib/session_reader.py
  aops-core/lib/transcript_parser.py
  aops-core/scripts/transcript.py
  tests/lib/test_session_naming.py
Due: none

Skill + axiom: P#42 extension + /project scaffold output (#948)
  aops-core/AXIOMS.md
  aops-core/lib/automode.py
  aops-core/skills/project/instructions/init.md
  aops-core/skills/research/axioms.md
Due: dprint

Add dump skill
  aops-core/hooks/templates/stop-gate-handover-block.md
  aops-core/lib/gates/definitions.py
  aops-core/scripts/transcript.py
  aops-core/skills/dump/SKILL.md
  aops-core/skills/end_session/SKILL.md
  aops-core/skills/end_session/transcript-metadata-schema.md
Due: dprint, check-framework-integrity

fix(merge-prep): use consumer repo's default branch, not hardcoded 'main'
  .github/workflows/agent-merge-prep.yml
Due: none

fix(vocab): align gate/lens/consolidate/audit usage in sleep and rbg
  aops-core/agents/rbg.md
  aops-core/skills/sleep/SKILL.md
Due: dprint, check-framework-integrity

fix(docker): tag aops-crew image under ghcr.io/nicsuzor namespace
  Makefile
  aops-core/skills/aops/references/debug-details.md
  polecat/defaults/polecat.yaml.example
  tests/conftest.py
  tests/e2e/test_crew_mandatory_args.py
  tests/e2e/test_docker_tooling.py
  tests/e2e/test_polecat_run.py
  tests/lib/test_polecat_config.py
  tests/polecat/conftest.py
  tests/polecat/test_aops_crew_image.py
  tests/polecat/test_gemini_sandbox.py
  tests/test_conftest_redaction.py
Due: dprint

refactor(ida): compress stop-hook reminder to 3-sentence cue
  aops-core/hooks/templates/ida-reminder.md
Due: dprint

chore(hooks): strip ceremonial preamble from stop-gate-handover-block.md
  aops-core/hooks/templates/stop-gate-handover-block.md
Due: dprint

feat(axioms): split reviewer questions into AXIOMS-REVIEW.md
  .agents/context-map.json
  aops-core/AXIOMS-REVIEW.md
  aops-core/AXIOMS.md
  aops-core/agents/rbg.md
  scripts/build.py
Due: dprint

fix(issue-sweep): reconcile step 5 with halt-after-one-cycle (#829)
  aops-core/commands/issue-sweep.md
Due: dprint, check-framework-integrity

A7: merge authority + responsible-automation axiom; add cost ladder to ENFORCEMENT-MAP
  .agents/ENFORCEMENT-MAP.md
  .github/agents/pr-reviewer.agent.md
  aops-core/AXIOMS.md
  aops-core/commands/retro.md
  aops-core/skills/aops/SKILL.md
  aops-core/skills/dogfood/SKILL.md
  aops-core/skills/end_session/SKILL.md
  aops-core/skills/planner/SKILL.md
  aops-core/skills/strategic-review/review-contexts/pr-framework.md
  aops-core/skills/supervisor/SKILL.md
  templates/github-agent/worker.agent.md
Due: dprint, check-framework-integrity

refactor(transcript): unify hook rendering across all event types
  aops-core/lib/transcript_parser.py
  tests/lib/test_session_context_section.py
  tests/lib/test_token_tracking.py
Due: none

fix: replace aops binary references with pkb
  .github/ISSUE_TEMPLATE/bug_report.yml
  aops-core/skills/supervisor/WORKERS.md
  aops-core/skills/supervisor/instructions/code-deliverable.md
  aops-core/skills/supervisor/instructions/worker-dispatch.md
  scripts/audit_framework_health.py
  scripts/build.py
  scripts/setup-machine.sh
  tests/e2e/test_all_invocation_paths.py
Due: dprint

fix(polecat): label stale worktrees in polecat list via Docker liveness check
  aops-core/skills/supervisor/instructions/worker-dispatch.md
  polecat/cli.py
  tests/polecat/test_cli_list.py
Due: dprint

feat(skills): merge /critic into /strategic-review as mode=critic
  aops-core/commands/critic.md
  aops-core/skills/aops/references/feature-dev-details.md
  aops-core/skills/dogfood/SKILL.md
  aops-core/skills/strategic-review/SKILL.md
Due: dprint, check-framework-integrity

feat(extract): absorb convert-to-md as docs-to-md route
  .agents/CORE.md
  README.md
  aops-tools/GEMINI.md
  aops-tools/SKILLS.md
  aops-tools/skills/extract/SKILL.md
  aops-tools/skills/extract/scripts/pdf2md.py
  aops-tools/skills/extract/workflows/docs-to-md.md
  scripts/audit_framework_health.py
Due: dprint, check-framework-integrity

feat(diagram): consolidate flowchart + excalidraw into unified diagram skill
  .agents/CORE.md
  README.md
  aops-tools/GEMINI.md
  aops-tools/SKILLS.md
  aops-tools/skills/diagram/SKILL.md
  aops-tools/skills/diagram/libraries/awesome-icons.excalidrawlib
  aops-tools/skills/diagram/libraries/data-processing.excalidrawlib
  aops-tools/skills/diagram/libraries/data-viz.excalidrawlib
  aops-tools/skills/diagram/libraries/hearts.excalidrawlib
  aops-tools/skills/diagram/libraries/stick-figures-collaboration.excalidrawlib
  aops-tools/skills/diagram/libraries/stick-figures.excalidrawlib
  aops-tools/skills/diagram/references/color-and-styling.md
  aops-tools/skills/diagram/references/common-patterns.md
  aops-tools/skills/diagram/references/graph-layouts.md
  aops-tools/skills/diagram/references/icon-integration.md
  aops-tools/skills/diagram/references/json-format.md
  aops-tools/skills/diagram/references/library-guide.md
  aops-tools/skills/diagram/references/mcp-server-setup.md
  aops-tools/skills/diagram/references/mermaid-techniques.md
  aops-tools/skills/diagram/references/mind-mapping-principles.md
  aops-tools/skills/diagram/references/productivity-tips.md
  aops-tools/skills/diagram/references/quality-and-anti-patterns.md
  aops-tools/skills/diagram/references/technical-details.md
  aops-tools/skills/diagram/references/templates-and-examples.md
  aops-tools/skills/diagram/references/text-container-pattern.md
  aops-tools/skills/diagram/references/theme-colors.md
  aops-tools/skills/flowchart/SKILL.md
Due: dprint, check-framework-integrity

feat(skills): replace /qa with bundled /verify skill (m:n dispatch)
  .agents/ENFORCEMENT-MAP.md
  aops-core/agents/junior.md
  aops-core/agents/marsha.md
  aops-core/commands/issue-sweep.md
  aops-core/hooks/templates/qa-policy-context.md
  aops-core/lib/gates/definitions.py
  aops-core/skills/aops/SKILL.md
  aops-core/skills/aops/references/enforcement-design.md
  aops-core/skills/aops/references/learning-log-details.md
  aops-core/skills/dogfood/SKILL.md
  aops-core/skills/remember/procedures/consolidate.md
  aops-core/skills/sleep/SKILL.md
  aops-core/skills/strategic-review/review-contexts/execution-environments.md
  aops-core/skills/verify/SKILL.md
  aops-core/skills/verify/references/acceptance-testing.md
  aops-core/skills/verify/references/integration-validation.md
  aops-core/skills/verify/references/qa-planning.md
  aops-core/skills/verify/references/qualitative-assessment.md
  aops-core/skills/verify/references/quick-verification.md
  aops-core/skills/verify/references/system-design-qa.md
  aops-core/skills/verify/references/visual-analysis.md
Due: dprint, check-framework-integrity

fix(sandbox): gracefully fall back to /tmp when home is not writable in hook
  aops-core/lib/session_paths.py
  tests/lib/test_session_paths.py
Due: none

feat(security): add credential path protection to policy enforcer
  aops-core/hooks/policy_enforcer.py
  aops-core/hooks/router.py
  tests/hooks/test_dist_protection.py
Due: none

feat(memory): merge /remember + /sleep into unified memory skill
  aops-core/skills/remember/SKILL.md
  aops-core/skills/remember/references/maintenance-phases.md
  aops-core/skills/sleep/SKILL.md
  templates/github-workflows/pkb-quality-review.yml
  templates/github-workflows/sleep-cycle.yml
  templates/github-workflows/transcript-extraction.yml
Due: dprint, check-framework-integrity

fix(transcript): skip empty hook payload blocks
  aops-core/lib/transcript_parser.py
Due: none

feat(survey): merge /retro + /trend-review + /issue-sweep into unified /survey skill
  aops-core/commands/issue-sweep.md
  aops-core/commands/learn.md
  aops-core/commands/retro.md
  aops-core/commands/trend-review.md
  aops-core/skills/dogfood/SKILL.md
  aops-core/skills/survey/SKILL.md
Due: dprint, check-framework-integrity

A7 review fixes: spelling, cost-ladder framing, move meta-commentary to ENFORCEMENT-MAP
  .agents/ENFORCEMENT-MAP.md
  aops-core/AXIOMS.md
Due: dprint

fix: trust polecats as full-judgment in-repo agents (GH #957)
  aops-core/agents/pauli.md
  aops-core/skills/supervisor/REPLAY-90f7db64.md
  aops-core/skills/supervisor/SKILL.md
  aops-core/skills/supervisor/WORKERS.md
  aops-core/skills/supervisor/instructions/worker-dispatch.md
Due: dprint, check-framework-integrity

skill script
  aops-core/skills/supervisor/SKILL.md
Due: dprint, check-framework-integrity

feat(survey): merge /retro + /trend-review + /issue-sweep into unified /survey skill (#972)
  aops-core/commands/issue-sweep.md
  aops-core/commands/learn.md
  aops-core/commands/retro.md
  aops-core/commands/trend-review.md
  aops-core/skills/dogfood/SKILL.md
  aops-core/skills/survey/SKILL.md
Due: dprint, check-framework-integrity

refactor(ida): compress stop-hook reminder to 3-sentence cue (#958)
  aops-core/hooks/templates/ida-reminder.md
Due: dprint

Strip ceremonial preamble from stop-gate-handover-block.md (#959)
  aops-core/hooks/templates/stop-gate-handover-block.md
Due: dprint

fix(docker): tag aops-crew image under ghcr.io/nicsuzor namespace (#955)
  Makefile
  aops-core/skills/aops/references/debug-details.md
  polecat/defaults/polecat.yaml.example
  tests/conftest.py
  tests/e2e/test_crew_mandatory_args.py
  tests/e2e/test_docker_tooling.py
  tests/e2e/test_polecat_run.py
  tests/lib/test_polecat_config.py
  tests/polecat/conftest.py
  tests/polecat/test_aops_crew_image.py
  tests/polecat/test_gemini_sandbox.py
  tests/test_conftest_redaction.py
Due: dprint

fix(vocab): align gate/lens/consolidate/audit usage in sleep and rbg (#954)
  aops-core/agents/rbg.md
  aops-core/skills/sleep/SKILL.md
Due: dprint, check-framework-integrity

improve cli
  polecat/cli.py
Due: none

fix: remove extant references to 'aops' as a binary (renamed to pkb) (#963)
  .github/ISSUE_TEMPLATE/bug_report.yml
  aops-core/skills/supervisor/WORKERS.md
  aops-core/skills/supervisor/instructions/code-deliverable.md
  aops-core/skills/supervisor/instructions/worker-dispatch.md
  scripts/audit_framework_health.py
  scripts/build.py
  scripts/setup-machine.sh
  tests/e2e/test_all_invocation_paths.py
Due: dprint

Path conditions:
  dprint: any of: \.(md|markdown|mdown)$, \.json$, \.toml$
  check-framework-integrity: any of: (WORKFLOWS|SKILLS)\.md$|workflows/.*\.md$|skills/.*/SKILL\.md$|commands/.*\.md$
