Repository nicsuzor/academicOps: changes, and which pre-commit hooks are due for each by the changed paths.
All: dprint, check-framework-integrity

.pre-commit-config.yaml:

# Pre-commit hooks for academicOps framework governance
# See https://pre-commit.com for more info

repos:
  # Markdown/JSON/TOML validation (dprint - check-only, no auto-fix)
  # Ruff check --fix auto-fixes what it can; ruff-format checks formatting
  - repo: local
    hooks:
      - id: dprint
        name: dprint check
        entry: uv run dprint check
        language: system
        types_or: [markdown, json, toml]
        pass_filenames: true

  # Markdown linting (catches issues dprint doesn't fix)
  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.12.1
    hooks:
      - id: markdownlint-cli2
        exclude: '^archived/'

  # Standard hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: '\.excalidraw$'
      - id: end-of-file-fixer
        exclude: '\.excalidraw$'
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
        args: ['--maxkb=500']

  # Python linting (auto-fix enabled)
  # Ruff check --fix auto-fixes what it can; ruff-format checks formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.4
    hooks:
      - id: ruff
        args: [--fix]
        exclude: '^archived/'
      - id: ruff-format
        args: [--check]
        exclude: '^archived/'

  # Framework integrity checks (index wikilinks, skill entries, workflow length)
  # Consolidates check-workflow-length + new index integrity validation
  - repo: local
    hooks:
      - id: check-framework-integrity
        name: framework integrity check
        entry: uv run python scripts/check_framework_integrity.py
        language: system
        pass_filenames: false
        files: '(WORKFLOWS|SKILLS)\.md$|workflows/.*\.md$|skills/.*/SKILL\.md$|commands/.*\.md$'

  # Type checking and full framework health checks run in CI only
  # (see .github/workflows/framework-health.yml)
  #
  # Moved to CI:
  # - basedpyright: full type analysis too slow for every commit
  # - check-skill-line-count: whole-repo scan, not file-scoped
  # - check-orphan-files: whole-repo scan, not file-scoped
  # - check-framework-integrity --full: slow full codebase wikilink scan
  # - audit_framework_health: comprehensive audit

Add credential isolation for agent sessions (GH_TOKEN + SSH)
  aops-core/agent-env-map.conf
  aops-core/hooks/session_env_setup.py
  aops-core/lib/agent_env.py
  tests/conftest.py
  tests/integration/test_credential_isolation.py
Due: none

Remove deny-rule sandbox test (deny takes precedence over allow)
  tests/polecat/test_sandbox.py
Due: none

fix: recognize Agent tool name in gate config (#662)
  aops-core/hooks/gate_config.py
  aops-core/hooks/router.py
  aops-core/hooks/templates/custodiet-instruction.md
  aops-core/hooks/templates/hydration-gate-block.md
  aops-core/hooks/templates/hydration-gate-warn.md
  aops-core/hooks/templates/prompt-hydration-instruction.md
  aops-core/lib/extract_labor.py
  aops-core/lib/gates/definitions.py
  aops-core/lib/session_reader.py
  aops-core/lib/transcript_error_analyzer.py
  aops-core/lib/transcript_parser.py
  polecat/manager.py
  tests/hooks/test_hydration_never_deny.py
Due: dprint

fix: use qualified imports to prevent dual sys.modules entries (#664)
  aops-core/hooks/internal_models.py
  aops-core/hooks/router.py
  aops-core/lib/gates/definitions.py
  tests/hooks/test_gate_verdicts.py
Due: none

fix gatekeeper workflow for permissions
  .github/workflows/agent-gatekeeper.yml
Due: none

refactor: restructure cron pipeline and move graph outputs to $AOPS_SESSIONS
  .agent/skills/session-insights/scripts/find_pending.py
  aops-core/lib/session_reader.py
  lib/overwhelm/dashboard.py
  scripts/generate-viz.sh
  scripts/repo-sync-cron.sh
Due: none

fix: remove hallucinated /commit skill example from hydrator, bump to sonnet
  aops-core/agents/prompt-hydrator.md
  aops-core/hooks/templates/prompt-hydrator-context.md
Due: dprint

fix: remove refinery cron job from installer
  scripts/install.py
  tests/test_install_cron_idempotency.py
Due: none

fix: cron pipeline non-login shell compatibility
  scripts/generate-viz.sh
  scripts/repo-sync-cron.sh
Due: none

Update scripts/repo-sync-cron.sh
  scripts/repo-sync-cron.sh
Due: none

Update tests/test_install_cron_idempotency.py
  tests/test_install_cron_idempotency.py
Due: none

add treemap
  lib/overwhelm/d3_component/index.html
  lib/overwhelm/dashboard.py
  lib/overwhelm/task_graph_d3.py
Due: none

update dogfooding workflow with findings from PR 658 review
  aops-core/workflows/dogfooding.md
Due: dprint, check-framework-integrity

fix: use uv run for PyYAML dependency in repo-sync
  scripts/repo-sync.sh
Due: none

add docs-as-code orchestration to review workflow spec
  specs/research-decomposition.md
Due: dprint

docs: add layout view reading guide to task-map spec
  specs/task-map.md
Due: dprint

docs: action dogfood findings from PR 658 review of issue 676
  specs/research-decomposition.md
Due: dprint

refactor: simplify generate-viz to consume mem output directly
  scripts/generate-viz.sh
Due: none

feat: replace gatekeeper with advisory conceptual review agent
  .github/agents/conceptual-review.agent.md
  .github/agents/gatekeeper.agent.md
  .github/agents/merge-prep.agent.md
  .github/agents/strategic-review.agent.md
  .github/copilot-instructions.md
  .github/rulesets/pr-review-and-merge.yml
  .github/workflows/agent-conceptual-review.yml
  .github/workflows/agent-gatekeeper.yml
  .github/workflows/merge-prep-cron.yml
Due: dprint

fix: restore commit status to conceptual review agent
  .github/workflows/agent-conceptual-review.yml
Due: none

fix: merge-prep cron — drop lgtm requirement, 15min window, check all SHAs
  .github/workflows/merge-prep-cron.yml
Due: none

remove corrupt dir
  ${ACA_DATA}/pkb_vectors.bin
  ${ACA_DATA}/pkb_vectors.graph.json
Due: dprint

fix: update remaining Gatekeeper references to Conceptual Review
  .github/agents/merge-prep.agent.md
  .github/agents/worker.agent.md
  .github/copilot-instructions.md
  .github/workflows/code-quality.yml
Due: dprint

fix: categorize all MCP tool names to prevent gate blocking under deny mode
  aops-core/hooks/gate_config.py
  aops-core/lib/gates/definitions.py
  tests/hooks/fixtures/gate_scenarios.json
  tests/hooks/test_gate_replay.py
  tests/hooks/test_gate_verdicts.py
  tests/hooks/test_hydration_never_deny.py
Due: dprint

fix: preserve layouts in viz and strip quotes in env sourcing
  scripts/generate-viz.sh
  scripts/repo-sync-cron.sh
Due: none

fix: detect plugin version from pyproject.toml instead of importlib.metadata
  aops-core/lib/session_state.py
Due: none

add status
  ${ACA_DATA}/pkb_vectors.bin
  ${ACA_DATA}/pkb_vectors.graph.json
  .agent/STATUS.md
Due: dprint

fix: clear VIRTUAL_ENV when installing pre-commit hooks in crew worktrees
  polecat/manager.py
Due: none

fix: resolve basedpyright type errors in session_state._get_plugin_version
  aops-core/lib/session_state.py
Due: none

feat: layout-specific node shapes and edge routing in task graph
  lib/overwhelm/d3_component/index.html
Due: none

feat: grant effectual-planner PKB memory tools and make all PKB ops always_available
  aops-core/agents/effectual-planner.md
  aops-core/hooks/gate_config.py
  tests/hooks/fixtures/gate_scenarios.json
  tests/hooks/test_gate_replay.py
Due: dprint

test: parameterize gate mode env var tests across all gates
  tests/hooks/test_gate_verdicts.py
Due: none

fix: clear VIRTUAL_ENV for crew worktree pre-commit install (#691)
  aops-core/lib/session_state.py
  polecat/manager.py
Due: none

fix: review agents set honest outcomes, merge-prep resolves conflicts
  .github/agents/conceptual-review.agent.md
  .github/agents/merge-prep.agent.md
  .github/rulesets/copilot-review.yml
  .github/rulesets/pr-review-and-merge.yml
  .github/workflows/agent-conceptual-review.yml
  .github/workflows/agent-merge-prep.yml
  scripts/sync-ruleset.sh
Due: dprint

fix: address review comments on PR #697
  .github/workflows/agent-conceptual-review.yml
  .github/workflows/agent-merge-prep.yml
  scripts/sync-ruleset.sh
Due: none

feat: fix drag behavior, visual encoding, and UX for precomputed layouts
  lib/overwhelm/d3_component/index.html
  lib/overwhelm/dashboard.py
  lib/overwhelm/task_graph_d3.py
Due: none
