Repository nicsuzor/academicOps: changes, and which pre-commit hooks are due for each by the changed paths.
All: dprint, check-framework-integrity

.pre-commit-config.yaml:

# Pre-commit hooks for academicOps framework governance
# See https://pre-commit.com for more info

repos:
  # Markdown/JSON/TOML validation (dprint - check-only, no auto-fix)
  # Ruff check --fix auto-fixes what it can; ruff-format checks formatting
  - repo: local
    hooks:
      - id: dprint
        name: dprint check
        entry: uv run dprint check
        language: system
        types_or: [markdown, json, toml]
        pass_filenames: true

  # Markdown linting (catches issues dprint doesn't fix)
  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.12.1
    hooks:
      - id: markdownlint-cli2
        exclude: '^archived/'

  # Standard hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: '\.excalidraw$'
      - id: end-of-file-fixer
        exclude: '\.excalidraw$'
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
        args: ['--maxkb=500']

  # Python linting (auto-fix enabled)
  # Ruff check --fix auto-fixes what it can; ruff-format checks formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.4
    hooks:
      - id: ruff
        args: [--fix]
        exclude: '^archived/'
      - id: ruff-format
        args: [--check]
        exclude: '^archived/'

  # Framework integrity checks (index wikilinks, skill entries, workflow length)
  # Consolidates check-workflow-length + new index integrity validation
  - repo: local
    hooks:
      - id: check-framework-integrity
        name: framework integrity check
        entry: uv run python scripts/check_framework_integrity.py
        language: system
        pass_filenames: false
        files: '(WORKFLOWS|SKILLS)\.md$|workflows/.*\.md$|skills/.*/SKILL\.md$|commands/.*\.md$'

  # Type checking and full framework health checks run in CI only
  # (see .github/workflows/framework-health.yml)
  #
  # Moved to CI:
  # - basedpyright: full type analysis too slow for every commit
  # - check-skill-line-count: whole-repo scan, not file-scoped
  # - check-orphan-files: whole-repo scan, not file-scoped
  # - check-framework-integrity --full: slow full codebase wikilink scan
  # - audit_framework_health: comprehensive audit

feat(supervisor+review): plan-review gate + context-map spec_dirs + /pull queued drift fix (#638)
  .agents/context-map.json
  aops-core/agents/pauli.md
  aops-core/commands/pull.md
  aops-core/commands/review-pr.md
  aops-core/skills/aops/references/enforcement-map.md
  aops-core/skills/daily/instructions/focus-and-recommendations.md
  aops-core/skills/project/workflows/context-map-audit.md
  aops-core/skills/supervisor/SKILL.md
  aops-core/skills/supervisor/instructions/decomposition-and-review.md
  aops-core/skills/supervisor/instructions/supervision-loop.md
Due: dprint, check-framework-integrity

fix(learn) + feat(observability): RCA quality guard + GHA session artifact collection (#637)
  .github/workflows/agent-enforcer.yml
  .github/workflows/agent-merge-prep.yml
  .github/workflows/claude.yml
  aops-core/commands/learn.md
  specs/pr-pipeline.md
Due: dprint, check-framework-integrity

fix(polecat/sync): remove bootstrap guard from sync; --check stops before mirrors
  polecat/cli.py
Due: none

fix(polecat/sync): remove bootstrap guard; --check stops before mirrors (#647)
  polecat/cli.py
Due: none

feat(review-pr): batch preflight, prior-review consolidation, halt conditions (#634)
  aops-core/commands/review-pr.md
Due: dprint, check-framework-integrity

supervisor: codify dogfood findings from 2026-04-20 run (#642)
  aops-core/skills/supervisor/SKILL.md
  aops-core/skills/supervisor/instructions/supervision-loop.md
  aops-core/skills/supervisor/instructions/worker-dispatch.md
Due: dprint, check-framework-integrity

fix(docker): add gcc so cargo check works in polecat environment
  Dockerfile
Due: none

refactor(framework): rewrite AXIOMS.md as 10 judicial-voice axioms
  aops-core/AXIOMS.md
  aops-core/HEURISTICS.md
  aops-core/skills/research/axioms.md
Due: dprint

refactor(framework): drop stale validate_docs + tombstone map + Absorbs lines
  aops-core/AXIOMS.md
  aops-core/skills/aops/scripts/validate_docs.py
  aops-core/skills/aops/tests/test_framework_integrity.sh
Due: dprint

recover: axiom rework (lost commits 9841e951 + cleanup) (#649)
  aops-core/AXIOMS.md
  aops-core/HEURISTICS.md
  aops-core/skills/aops/scripts/validate_docs.py
  aops-core/skills/aops/tests/test_framework_integrity.sh
  aops-core/skills/research/axioms.md
Due: dprint

fix(docker): add gcc so cargo check works in polecat environment (#648)
  Dockerfile
Due: none

fix(commands): /pull and consumers pull from queued (taxonomy drift fix) (#644)
  aops-core/commands/pull.md
Due: dprint, check-framework-integrity

feat(review-pipeline): context-map spec_dirs convention for spec-awar… (#645)
  aops-core/commands/review-pr.md
Due: dprint, check-framework-integrity

feat(supervisor): plan-review gate — halt on non-queued, dispatch on queued (#646)
  aops-core/skills/supervisor/instructions/supervision-loop.md
Due: dprint

feat(skills): add deep-research skill for Gemini Deep Research → PKB capture
  aops-tools/skills/deep-research/SKILL.md
  aops-tools/skills/deep-research/procedures/pkb-capture.md
  aops-tools/skills/deep-research/procedures/prompt-authoring.md
  aops-tools/skills/deep-research/scripts/fetch.sh
  aops-tools/skills/deep-research/scripts/rewrite.py
Due: dprint, check-framework-integrity

spec(graph): multi-parent edges and target-node severity propagation
  specs/multi-parent-edges.md
Due: dprint

feat(aops-core): add end_session skill as default session close
  aops-core/hooks/templates/handover-complete.md
  aops-core/hooks/templates/stop-gate-handover-block.md
  aops-core/lib/gates/definitions.py
  aops-core/lib/template_registry.py
  aops-core/skills/end_session/SKILL.md
Due: dprint, check-framework-integrity

spec(graph): add prototype nodes and inherits_from edge semantics
  specs/multi-parent-edges.md
Due: dprint

spec: multi-parent edges + target-node severity propagation (#651)
  aops-core/HEURISTICS.md
  aops-core/skills/aops/references/enforcement-map.md
  specs/INDEX.md
  specs/multi-parent-edges.md
  tests/test_plugin_structure.py
Due: dprint

feat: /deep-research skill — Gemini Deep Research → PKB capture (#650)
  aops-tools/skills/deep-research/SKILL.md
  aops-tools/skills/deep-research/procedures/pkb-capture.md
  aops-tools/skills/deep-research/procedures/prompt-authoring.md
  aops-tools/skills/deep-research/scripts/fetch.sh
  aops-tools/skills/deep-research/scripts/rewrite.py
Due: dprint, check-framework-integrity

feat(aops-core): add end_session skill as default session close (#652)
  aops-core/hooks/templates/handover-complete.md
  aops-core/hooks/templates/stop-gate-handover-block.md
  aops-core/lib/gates/definitions.py
  aops-core/lib/template_registry.py
  aops-core/skills/end_session/SKILL.md
Due: dprint, check-framework-integrity

add extra config fields to pauli agent
  aops-core/agents/pauli.md
Due: dprint

Update RBG + Enforcer agents to be silent on OK verdicts
  .github/workflows/agent-enforcer.yml
  aops-core/agents/enforcer.md
  aops-core/agents/rbg.md
  aops-core/commands/review-pr.md
  aops-core/hooks/templates/enforcer-verified.md
  aops-core/skills/supervisor/instructions/decomposition-and-review.md
  specs/ultra-vires-enforcer.md
Due: dprint, check-framework-integrity

dont run mirrors on check
  polecat/cli.py
Due: none

chore: Update RBG + Enforcer agents to output minimal OK verdict
  aops-core/agents/enforcer.md
  aops-core/agents/rbg.md
Due: dprint

fix(tests): accept Claude Code built-in tool names in agent validator
  tests/test_extension_clean_install.py
Due: none

Update RBG + Enforcer agents: no output when no violations found (#653)
  .github/workflows/agent-enforcer.yml
  aops-core/agents/enforcer.md
  aops-core/agents/pauli.md
  specs/ultra-vires-enforcer.md
Due: dprint

spec: agent authority — permissions + skill delegation + compliance audit
  aops-core/agents/enforcer.md
  aops-core/agents/james.md
  aops-core/agents/jr.md
  aops-core/agents/marsha.md
  aops-core/agents/pauli.md
  aops-core/agents/rbg.md
  specs/INDEX.md
  specs/agent-authority.md
  specs/agent-compliance-matrix.md
Due: dprint

feat(taxonomy): add paused/someday statuses and align drift across specs
  aops-core/TAXONOMY.md
  aops-core/skills/aops/SKILL.md
  aops-core/skills/aops/references/decision-briefing-details.md
  aops-core/skills/aops/references/enforcement-map.md
  aops-core/skills/aops/references/learning-log-details.md
  aops-core/skills/daily/instructions/focus-and-recommendations.md
  aops-core/skills/dump/SKILL.md
  aops-core/skills/planner/SKILL.md
  aops-core/skills/planner/workflows/strategic-intake.md
  aops-core/skills/sleep/SKILL.md
  aops-core/skills/supervisor/SKILL.md
  aops-core/skills/supervisor/instructions/decomposition-and-review.md
  aops-core/skills/supervisor/instructions/supervision-loop.md
  aops-core/skills/supervisor/instructions/worker-dispatch.md
  polecat/cli.py
  specs/effectual-planning-agent.md
  specs/future/predicate-registry.md
  specs/mcp-decomposition-tools.md
  specs/non-interactive-agent-workflow-spec.md
  specs/orchestrator-boundary.md
  specs/pkb-server-spec.md
  specs/polecat-system.md
  specs/supervisor.md
  specs/work-management.md
  specs/workflow-constraints.md
  tests/e2e/test_all_invocation_paths.py
Due: dprint, check-framework-integrity

keep the /dump name
  aops-core/hooks/templates/stop-gate-handover-block.md
  aops-core/skills/dump/SKILL.md
  aops-core/skills/end_session/SKILL.md
  specs/session-handover-contract.md
Due: dprint, check-framework-integrity

Update aops-core/agents/pauli.md
  aops-core/agents/pauli.md
Due: dprint

Update aops-core/agents/marsha.md
  aops-core/agents/marsha.md
Due: dprint

Update specs/agent-authority.md
  specs/agent-authority.md
Due: dprint

spec: agent authority — permissions + skill delegation + compliance audit (#655)
  aops-core/agents/enforcer.md
  aops-core/agents/james.md
  aops-core/agents/jr.md
  aops-core/agents/marsha.md
  aops-core/agents/pauli.md
  aops-core/agents/rbg.md
  specs/INDEX.md
  specs/agent-authority.md
  specs/agent-compliance-matrix.md
Due: dprint

tooling: pin actionlint to pre-built binary hook
  .gitignore
  .pre-commit-config.yaml
  scripts/run-actionlint.sh
Due: none

fix(tests): repair e2e integration test suite for v0.3.18
  polecat/cli.py
  tests/e2e/test_all_invocation_paths.py
  tests/e2e/test_polecat_run.py
  tests/integration/test_gemini_agent_definitions.py
  tests/integration/test_skill_script_discovery.py
Due: none

test(e2e): enable test_workspace_writes_visible_on_host for run paths
  tests/e2e/test_all_invocation_paths.py
Due: none

fix(tests): repair e2e integration test suite for v0.3.18 (#659)
  polecat/cli.py
  tests/e2e/test_all_invocation_paths.py
  tests/e2e/test_polecat_run.py
  tests/integration/test_gemini_agent_definitions.py
  tests/integration/test_skill_script_discovery.py
Due: none

fix(tests): repair e2e integration test suite for v0.3.18
  tests/e2e/test_all_invocation_paths.py
Due: none
