Repository nicsuzor/academicOps: changes, and which pre-commit hooks are due for each by the changed paths.
All: dprint, check-framework-integrity

.pre-commit-config.yaml:

# Pre-commit hooks for academicOps framework governance
# See https://pre-commit.com for more info

repos:
  # Markdown/JSON/TOML validation (dprint - check-only, no auto-fix)
  # Ruff check --fix auto-fixes what it can; ruff-format checks formatting
  - repo: local
    hooks:
      - id: dprint
        name: dprint check
        entry: uv run dprint check
        language: system
        types_or: [markdown, json, toml]
        pass_filenames: true

  # Markdown linting (catches issues dprint doesn't fix)
  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.12.1
    hooks:
      - id: markdownlint-cli2
        exclude: '^archived/'

  # Standard hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: '\.excalidraw$'
      - id: end-of-file-fixer
        exclude: '\.excalidraw$'
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
        args: ['--maxkb=500']

  # Python linting (auto-fix enabled)
  # Ruff check --fix auto-fixes what it can; ruff-format checks formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.4
    hooks:
      - id: ruff
        args: [--fix]
        exclude: '^archived/'
      - id: ruff-format
        args: [--check]
        exclude: '^archived/'

  # Framework integrity checks (index wikilinks, skill entries, workflow length)
  # Consolidates check-workflow-length + new index integrity validation
  - repo: local
    hooks:
      - id: check-framework-integrity
        name: framework integrity check
        entry: uv run python scripts/check_framework_integrity.py
        language: system
        pass_filenames: false
        files: '(WORKFLOWS|SKILLS)\.md$|workflows/.*\.md$|skills/.*/SKILL\.md$|commands/.*\.md$'

  # Type checking and full framework health checks run in CI only
  # (see .github/workflows/framework-health.yml)
  #
  # Moved to CI:
  # - basedpyright: full type analysis too slow for every commit
  # - check-skill-line-count: whole-repo scan, not file-scoped
  # - check-orphan-files: whole-repo scan, not file-scoped
  # - check-framework-integrity --full: slow full codebase wikilink scan
  # - audit_framework_health: comprehensive audit

spec: task focus scoring — hot/cold classification and prioritization algorithm
  specs/task-focus-scoring.md
Due: dprint

docs: update framework workflows for bazaar review model
  aops-core/skills/framework/workflows/05-feature-development.md
  aops-core/skills/framework/workflows/06-develop-specification.md
  aops-core/workflows/framework-gate.md
Due: dprint, check-framework-integrity

feat: auto-detect layouts, fix z-order, add dashboard runbook
  .agent/CORE.md
  lib/overwhelm/d3_component/index.html
  lib/overwhelm/dashboard.py
Due: dprint

fix(framework): resolve integrity check failures (line limits, missing refs)
  aops-core/commands/email.md
  aops-core/workflows/base-handover.md
  aops-core/workflows/base-tdd.md
  aops-core/workflows/constraint-check.md
  aops-core/workflows/decompose.md
  aops-core/workflows/email-capture.md
  aops-core/workflows/external-batch-submission.md
  aops-core/workflows/feature-dev.md
  aops-core/workflows/peer-review.md
  aops-core/workflows/references/batch-submission-details.md
  aops-core/workflows/references/decomposition-patterns.md
  aops-core/workflows/references/email-capture-details.md
  aops-core/workflows/references/feature-dev-details.md
  aops-core/workflows/references/handover-details.md
  aops-core/workflows/references/meta-details.md
  aops-core/workflows/references/peer-review-details.md
  aops-core/workflows/reflect.md
  aops-core/workflows/worktree-merge.md
Due: dprint, check-framework-integrity

fix(framework): fix integrity script root detection and workflow wikilinks
  aops-core/workflows/base-handover.md
  aops-core/workflows/decompose.md
  aops-core/workflows/email-capture.md
  aops-core/workflows/external-batch-submission.md
  aops-core/workflows/feature-dev.md
  aops-core/workflows/peer-review.md
  aops-core/workflows/reflect.md
  scripts/check_framework_integrity.py
Due: dprint, check-framework-integrity

docs: add task-commit-PR cross-referencing to base workflows
  aops-core/workflows/base-commit.md
  aops-core/workflows/base-handover.md
  aops-core/workflows/base-task-tracking.md
Due: dprint, check-framework-integrity

fix(spec): address review comments on task focus scoring spec
  specs/task-focus-scoring.md
Due: dprint

fix(docs): address review comments on bazaar workflow PR
  aops-core/skills/framework/workflows/05-feature-development.md
  aops-core/skills/framework/workflows/06-develop-specification.md
  aops-core/workflows/framework-gate.md
Due: dprint, check-framework-integrity

fix: review agents set honest outcomes, merge-prep resolves conflicts (#697)
  .github/agents/conceptual-review.agent.md
  .github/agents/merge-prep.agent.md
  .github/rulesets/copilot-review.yml
  .github/rulesets/pr-review-and-merge.yml
  .github/workflows/agent-conceptual-review.yml
  .github/workflows/agent-merge-prep.yml
  scripts/sync-ruleset.sh
Due: dprint

fix(status): major accuracy update to STATUS.md
  .agent/STATUS.md
Due: dprint

Update .agent/STATUS.md
  .agent/STATUS.md
Due: dprint

fix(status): major accuracy update to STATUS.md (#702)
  .agent/STATUS.md
Due: dprint

fix(spec): address review feedback on signal definitions
  specs/task-focus-scoring.md
Due: dprint

feat: SVG generation, fix D3 hang, prepare for per-layout graph files
  lib/overwhelm/d3_component/index.html
  lib/overwhelm/dashboard.py
  scripts/generate-viz.sh
Due: none

refactor: consolidate review agents — dynamic axioms, effectual reasoning, delete dead agents
  .github/agents/conceptual-review.agent.md
  .github/agents/qa.agent.md
  .github/agents/strategic-review.agent.md
  aops-core/agents/custodiet-reviewer.md
Due: dprint

fix(paths): respect POLECAT_HOME in get_local_cache_root()
  aops-core/lib/paths.py
Due: none

fix(paths): remove all hardcoded ~/.aops references, use $POLECAT_HOME
  .agent/STATUS.md
  .agent/skills/session-insights/scripts/find_pending.py
  .gitignore
  .markdownlint-cli2.jsonc
  aops-core/GLOSSARY.md
  aops-core/commands/pull.md
  aops-core/lib/paths.py
  aops-core/lib/transcript_parser.py
  aops-core/skills/daily/instructions/progress-sync.md
  archived/specs/parallel-batch-command.md
  docs/ACCEPTANCE_TESTING.md
  docs/repo-sync-setup.md
  docs/walkthrough.md
  lib/overwhelm/dashboard.py
  lib/overwhelm/task_manager_ui.py
  polecat/cli.py
  polecat/manager.py
  polecat/swarm.py
  polecat/validation.py
  scripts/generate-viz.sh
  scripts/repo-sync-cron.sh
  scripts/repo-sync.sh
  scripts/setup-machine.sh
  scripts/systemd/README.md
  scripts/systemd/brain-sync.service
  specs/polecat-swarms.md
  specs/polecat-system.md
Due: dprint, check-framework-integrity

refactor: remove legacy graph loader, use per-layout JSONs only
  lib/overwhelm/dashboard.py
  scripts/generate-viz.sh
Due: none

fix(scripts): auto-resolve git conflicts in graph files
  scripts/generate-viz.sh
Due: none

fix: Gemini hydration gate trigger + live-provenance test fixtures (#710, #712)
  aops-core/hooks/gate_config.py
  aops-core/hooks/router.py
  scripts/extract_fixtures.py
  tests/hooks/fixtures/gate_scenarios.json
  tests/hooks/fixtures/gate_scenarios_live.json
  tests/hooks/test_gate_verdicts.py
Due: dprint

fix: apply critic review — remove provenance-less fixtures, add heredoc bypass tests
  scripts/extract_fixtures.py
  tests/hooks/fixtures/gate_scenarios.json
  tests/hooks/test_gate_verdicts.py
Due: dprint

update load fn
  lib/overwhelm/dashboard.py
Due: none

fix(scripts): repo-sync.sh --check --quiet exiting non-zero when repos clean
  scripts/repo-sync.sh
Due: none

feat(core): enforce parent linkage in task creation workflows
  aops-core/TASK_FORMAT_GUIDE.md
  aops-core/commands/dump.md
  aops-core/commands/learn.md
  aops-core/commands/pull.md
  aops-core/commands/q.md
  aops-core/hooks/templates/prompt-hydrator-context.md
  aops-core/skills/daily/instructions/briefing-and-triage.md
  aops-core/skills/daily/instructions/mobile-capture-triage.md
  aops-core/skills/email-triage/SKILL.md
  aops-core/skills/framework/SKILL.md
  aops-core/skills/framework/workflows/05-feature-development.md
  aops-core/skills/garden/SKILL.md
  aops-core/skills/hdr/workflows/reference-letter.md
  aops-core/skills/remember/SKILL.md
  aops-core/workflows/base-handover.md
  aops-core/workflows/email-capture.md
  aops-core/workflows/references/handover-details.md
  aops-core/workflows/references/hierarchy-quality-rules.md
Due: dprint, check-framework-integrity

Update scripts/repo-sync.sh
  scripts/repo-sync.sh
Due: none

fix(ci): fix type check and pytest isolation failures
  aops-core/hooks/router.py
  tests/conftest.py
Due: none

fix(polecat): prevent auto-finish from overriding manual task completion
  polecat/cli.py
Due: none

feat(overwhelm): support new precomputed layouts and focus scope in task graph
  lib/overwhelm/d3_component/index.html
  lib/overwhelm/dashboard.py
  lib/overwhelm/task_graph_d3.py
Due: none

'Follow instructions'
  aops-core/framework/enforcement-map.md
  aops-core/hooks/templates/hydration-gate-block.md
  aops-core/hooks/templates/hydration-gate-warn.md
  aops-core/hooks/templates/prompt-hydration-instruction.md
  aops-core/lib/gates/definitions.py
  aops-core/skills/handover/SKILL.md
Due: dprint, check-framework-integrity

fix: remove --check flag so repo-sync-cron actually pulls behind repos
  scripts/repo-sync-cron.sh
Due: none

Apply suggestions from code review
  .agent/workflows/evaluate-dashboard.md
Due: dprint, check-framework-integrity

fix: remove blanket deny rules from polecat sandbox settings
  .agent/workflows/evaluate-dashboard.md
  polecat/manager.py
  tests/polecat/test_sandbox.py
Due: dprint, check-framework-integrity

fix: resolve systemic CI failures and update test infrastructure
  .agent/workflows/evaluate-dashboard.md
  .github/workflows/pytest.yml
  aops-core/agents/prompt-hydrator.md
  aops-core/hooks/gate_config.py
  aops-core/hooks/router.py
  aops-core/hooks/session_env_setup.py
  aops-core/hooks/templates/prompt-hydration-instruction.md
  aops-core/hooks/unified_logger.py
  aops-core/lib/gates/custom_actions.py
  aops-core/lib/hydration/builder.py
  aops-core/lib/hydration/context_loaders.py
  aops-core/lib/session_paths.py
  lib/overwhelm/dashboard.py
  polecat/cli.py
  pyproject.toml
  tests/conftest.py
  tests/demo/test_hook_sequence.py
  tests/e2e/test_gates_enforcement_e2e.py
  tests/integration/test_custodiet_e2e.py
  tests/integration/test_hydrator.py
Due: dprint, check-framework-integrity

docs: add report-finalization and review-response workflows
  aops-core/workflows/report-finalization.md
  aops-core/workflows/review-response.md
Due: dprint, check-framework-integrity

fix: resolve systemic CI failures blocking all PRs
  aops-core/tests/lib/test_session_paths.py
  aops-core/workflows/report-finalization.md
  aops-core/workflows/review-response.md
  polecat/cli.py
  pyproject.toml
  tests/hooks/fixtures/gate_scenarios_live.json
  tests/test_session_paths.py
Due: dprint, check-framework-integrity

Add conceptual review workflow spec (Layer 1)
  specs/conceptual-review-workflow.md
Due: dprint

Add research decomposition spec (Layer 2)
  specs/research-decomposition.md
Due: dprint
