Repository nicsuzor/academicOps: changes, and which pre-commit hooks are due for each by the changed paths.
All: dprint, check-framework-integrity

dprint:
  name: dprint check
  entry: uv run dprint check
  language: system
  pass_filenames: true

check-framework-integrity:
  name: framework integrity check
  entry: uv run python scripts/check_framework_integrity.py
  language: system
  pass_filenames: false

project local settings
  .claude/settings.json
Due: dprint

feat(install): local dev installs aops-extras/aops-pkb too; hard-fail all plugins
  Makefile
  scripts/install.py
Due: none

CI check: agent frontmatter MCP tool names must resolve against live plugin manifest (#2228)
  scripts/build.py
  specs/ENFORCEMENT-MAP.md
  specs/build-and-install.md
Due: dprint

remove cruft and move things
  aops-core/agents/james.md
  aops-core/agents/marsha.md
  aops-core/agents/rbg.md
  aops-core/hooks/hooks.json
  aops-core/skills/narrative-digest/SKILL.md
  aops-core/skills/new-project/SKILL.md
  aops-core/skills/new-project/instructions/init.md
  aops-core/skills/new-project/workflows/deploy-bot-to-repo.md
  aops-core/skills/strategic-review/SKILL.md
  aops-core/skills/strategic-review/references/dispatch-topology.md
  aops-core/skills/strategic-review/references/premise-test.md
  aops-core/skills/strategic-review/review-contexts/execution-environments.md
  aops-core/skills/strategic-review/review-contexts/pr-code.md
  aops-core/skills/strategic-review/review-contexts/pr-framework.md
  aops-core/skills/verify/SKILL.md
  aops-core/skills/verify/references/merge-close-ac-check.md
  aops-core/skills/verify/references/qa-planning.md
  aops-core/skills/verify/references/qualitative-assessment.md
  aops-core/skills/verify/references/visual-analysis.md
  aops-pkb/skills/continue/SKILL.md
  aops-pkb/skills/end_session/transcript-metadata-schema.md
  aops-pkb/skills/task-lifecycle/SKILL.md
  specs/workflows/conceptual-review-workflow.md
Due: dprint, check-framework-integrity

deep research updates a
  aops-tools/skills/deep-research/procedures/prompt-authoring.md
Due: dprint

deep research updates b
  aops-tools/skills/deep-research/procedures/prompt-authoring.md
Due: dprint

RBG charter
  aops-extras/agents/rbg.md
Due: dprint

move skills and cleanup review instructions
  aops-core/skills/strategic-review/references/dispatch-topology.md
  aops-core/skills/strategic-review/review-contexts/execution-environments.md
  aops-core/skills/strategic-review/review-contexts/pr-code.md
  aops-core/skills/strategic-review/review-contexts/pr-framework.md
  aops-extras/new-project/SKILL.md
  aops-extras/new-project/instructions/init.md
  aops-extras/new-project/workflows/deploy-bot-to-repo.md
Due: dprint, check-framework-integrity

move skills
  aops-extras/agents/james.md
  aops-extras/agents/marsha.md
  aops-extras/skills/strategic-review/SKILL.md
  aops-extras/skills/strategic-review/references/premise-test.md
  aops-extras/skills/verify/SKILL.md
  aops-extras/skills/verify/references/merge-close-ac-check.md
  aops-extras/skills/verify/references/qa-planning.md
  aops-extras/skills/verify/references/visual-analysis.md
  aops-pkb/agents/pauli.md
Due: dprint, check-framework-integrity

move skills and cleanup review instructions
  aops-tools/skills/dbt/SKILL.md
  aops-tools/skills/dbt/dbt-patterns.md
  aops-tools/skills/dbt/dbt-workflow.md
  aops-tools/skills/python-viz/SKILL.md
  aops-tools/skills/python-viz/matplotlib.md
  aops-tools/skills/python-viz/seaborn.md
  aops-tools/skills/python-viz/statsmodels.md
  aops-tools/skills/streamlit/SKILL.md
  aops-tools/skills/streamlit/streamlit-patterns.md
  aops-tools/skills/streamlit/streamlit-workflow.md
  aops-tools/skills/streamlit/streamlit.md
Due: dprint, check-framework-integrity

fix(aops-extras): address adversarial evaluation findings (WS8)
  aops-extras/skills/brief/SKILL.md
  aops-extras/skills/decompose/SKILL.md
  aops-extras/skills/decompose/references/regime-composition.md
  aops-extras/skills/graph-maintenance/SKILL.md
  aops-extras/skills/hydrate/SKILL.md
  aops-extras/skills/situate/SKILL.md
  aops-extras/skills/strategic-review/SKILL.md
Due: dprint, check-framework-integrity

pipeline graph
  aops-extras/PIPELINE.md
Due: dprint

disable workflows
  .github/workflows/auto-retarget-pr.yml
  .github/workflows/conflict-admission-sweep.yml
  .github/workflows/force-review.yml
  .github/workflows/pr-pipeline.yml
  .github/workflows/trigger-enforcer.yml
  .github/workflows/trigger-qa.yml
Due: none

build
  scripts/build.py
Due: none

add scripts for clean and install
  scripts/clean_plugins.py
  scripts/install.py
Due: none

trim docs
  CONTRIBUTING.md
  README.md
  aops/skills/strategic-review/SKILL.md
Due: dprint, check-framework-integrity

fix(build): remove quotes from antigravity hook paths
  Makefile
  scripts/build.py
Due: none

change uvx command
  aops/scripts/run-mcp.sh
Due: none

fix(build): replace Makefile sed hack with bash -c workaround for agy mcp
  Makefile
  scripts/build.py
Due: none

fix(build): remove env block override from antigravity mcp template to inherit PKB_MCP_URL
  Makefile
  aops/templates/mcp.template.json
Due: dprint

add dep
  aops/scripts/run-mcp.sh
Due: none

fix install
  .agents/CORE.md
  Makefile
  aops/axioms/AXIOMS-REVIEW.md
  aops/axioms/HEURISTICS.md
  aops/axioms/RULES.md
  aops/axioms/bounded-execution.md
  aops/axioms/categorical-imperative.md
  aops/axioms/cite-sources.md
  aops/axioms/closure.md
  aops/axioms/costly-ops-approval.md
  aops/axioms/data-boundaries.md
  aops/axioms/do-one-thing.md
  aops/axioms/evidence-immutable.md
  aops/axioms/exercise-authority.md
  aops/axioms/full-observability.md
  aops/axioms/halt-on-failure.md
  aops/axioms/honest-epistemics.md
  aops/axioms/judgment-non-delegable.md
  aops/axioms/pull-over-push.md
  aops/axioms/single-source-of-truth.md
  polecat/cli.py
  scripts/build.py
  scripts/install.py
Due: dprint

feat(polecat): add lightweight containerized agent wrapper polecat/cli_lite.py
  asymptote_beacon_instructions.md
  polecat/cli_lite.py
Due: dprint

update polecat and logging
  scripts/transcript_stack.sh
Due: none

update polecat and logging
  polecat/cli.py
  pyproject.toml
  tests/conftest.py
  tests/paths.py
Due: dprint

fix(build): claude hooks.json location, consolidate install-dev, wire axioms
  Makefile
  scripts/build.py
  scripts/install_automode.py
Due: none

fix(commands): repoint /q and /maintain to situate and graph-maintenance skills
  aops/commands/maintain.md
  aops/commands/q.md
Due: dprint, check-framework-integrity

fix(docker): dist-only local build, drop aops-core/pkb/extras, fix enablement
  Dockerfile
  Makefile
  polecat/defaults/claude-settings.json
  polecat/defaults/docker_gemini_fixups.py
Due: dprint

fix hook
  aops/hooks/router.py
Due: none

fix hook invocation and add test harness
  .agents/skills/aops/workflows/11-self-test.md
  .agents/skills/aops/workflows/12-agentic-e2e-certification.md
  .gitignore
  aops/templates/hooks.template.json
  aops/templates/mcp.template.json
  scripts/build.py
  scripts/dev-crew.sh
  tests/harness/README.md
  tests/harness/dev-polecat.yaml
Due: dprint, check-framework-integrity

docs(enforcement): rewrite enforcement.md + siblings for v0.4 ratified plan
  .agents/rules/RULES.md
  README.md
  aops/skills/remember/references/premise-gate.md
  specs/enforcement/auto-mode-classifier.md
  specs/enforcement/enforcement.md
  specs/enforcement/evidence-contract.md
  specs/enforcement/sign-off.md
  specs/enforcement/task-contract.md
  specs/enforcement/workflow.md
Due: dprint

Path conditions:
  dprint: any of: \.(md|markdown|mdown)$, \.json$, \.toml$
  check-framework-integrity: any of: (WORKFLOWS|SKILLS)\.md$|workflows/.*\.md$|skills/.*/SKILL\.md$|commands/.*\.md$
