Repository nicsuzor/academicOps: changes, and which pre-commit hooks are due for each by the changed paths.
All: dprint, check-framework-integrity

.pre-commit-config.yaml:

# Pre-commit hooks for academicOps framework governance
# See https://pre-commit.com for more info

repos:
  # Markdown/JSON/TOML validation (dprint - check-only, no auto-fix)
  # Ruff check --fix auto-fixes what it can; ruff-format checks formatting
  - repo: local
    hooks:
      - id: dprint
        name: dprint check
        entry: uv run dprint check
        language: system
        types_or: [markdown, json, toml]
        pass_filenames: true

  # Markdown linting (catches issues dprint doesn't fix)
  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.12.1
    hooks:
      - id: markdownlint-cli2
        exclude: '^archived/'

  # Standard hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: '\.excalidraw$'
      - id: end-of-file-fixer
        exclude: '\.excalidraw$'
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
        args: ['--maxkb=500']

  # Python linting (auto-fix enabled)
  # Ruff check --fix auto-fixes what it can; ruff-format checks formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.4
    hooks:
      - id: ruff
        args: [--fix]
        exclude: '^archived/'
      - id: ruff-format
        args: [--check]
        exclude: '^archived/'

  # Framework integrity checks (index wikilinks, skill entries, workflow length)
  # Consolidates check-workflow-length + new index integrity validation
  - repo: local
    hooks:
      - id: check-framework-integrity
        name: framework integrity check
        entry: uv run python scripts/check_framework_integrity.py
        language: system
        pass_filenames: false
        files: '(WORKFLOWS|SKILLS)\.md$|workflows/.*\.md$|skills/.*/SKILL\.md$|commands/.*\.md$'

  # Type checking and full framework health checks run in CI only
  # (see .github/workflows/framework-health.yml)
  #
  # Moved to CI:
  # - basedpyright: full type analysis too slow for every commit
  # - check-skill-line-count: whole-repo scan, not file-scoped
  # - check-orphan-files: whole-repo scan, not file-scoped
  # - check-framework-integrity --full: slow full codebase wikilink scan
  # - audit_framework_health: comprehensive audit

fix(email): address PR review — remove attachment downloads, add semantic chunking format
  aops-core/commands/email.md
  aops-core/skills/daily/instructions/briefing-and-triage.md
  aops-core/skills/hydrator/workflows/email-capture.md
  aops-core/skills/hydrator/workflows/references/email-capture-details.md
Due: dprint, check-framework-integrity

fix(email): delegate /daily email processing to /email skill, enforce task body quality
  aops-core/commands/email.md
  aops-core/skills/daily/SKILL.md
  aops-core/skills/daily/instructions/briefing-and-triage.md
  aops-core/skills/hydrator/workflows/email-capture.md
  aops-core/skills/hydrator/workflows/references/email-capture-details.md
Due: dprint, check-framework-integrity

test: add failing tests for Gemini CLI command TOML generation
  tests/test_gemini_commands.py
Due: none

fix(hooks): call dprint directly instead of via uv run
  .pre-commit-config.yaml
Due: none

fix: unarchive convert_commands_to_toml.py so Gemini build finds it
  scripts/convert_commands_to_toml.py
  tests/test_gemini_commands.py
Due: none

add submodule for omcp
  .gitmodules
Due: none

feat(skills): update planner + sleep for goal-metadata hierarchy model
  README.md
  aops-core/skills/planner/SKILL.md
  aops-core/skills/sleep/SKILL.md
  dist/aops-claude/skills/planner/SKILL.md
  specs/effectual-planning-agent.md
Due: dprint, check-framework-integrity

fix: remove phantom CORE.md from build.py items_to_copy
  scripts/build.py
Due: none

feat(daily): add qualitative narrative generation to synthesis pipeline
  CHANGELOG.md
  aops-core/skills/daily/instructions/progress-sync.md
  aops-core/skills/daily/instructions/work-summary.md
Due: dprint

fix(polecat): use PKB MCP server for task ops when storage is None
  polecat/cli.py
  polecat/pkb_bridge.py
Due: none

fix(polecat): migrate all commands from TaskStorage to PKB MCP bridge
  polecat/cli.py
  polecat/manager.py
  polecat/pkb_bridge.py
Due: none

chore(polecat): delete dead code from TaskStorage era
  polecat/cli.py
  polecat/engineer.py
  polecat/github.py
  polecat/supervisor_loop.py
  scripts/refinery.py
Due: none

fix(hooks): count subagent invocation as single tool call (aops-d8ee59cc)
  aops-core/lib/gates/engine.py
  tests/hooks/test_subagent_gate_dispatch_regression.py
Due: none

feat(axioms): add P#27 corollary for problem creation
  .agent/rules/AXIOMS.md
  aops-core/AXIOMS.md
Due: dprint

fix(polecat): add explicit instruction to NOT wait for CI after filing PR
  aops-core/skills/swarm-supervisor/SKILL.md
  dist/aops-claude/skills/butler/SKILL.md
  polecat/prompt_template.py
Due: dprint, check-framework-integrity

style: apply formatting to .agent skills
  aops-core/skills/butler/SKILL.md
Due: dprint, check-framework-integrity

[Burst] aops-framework: academicops-d8ee59cc (#154)
  aops-core/lib/gates/engine.py
  tests/hooks/test_subagent_gate_dispatch_regression.py
Due: none

chore(polecat): delete github.py and supervisor_loop.py
  polecat/cli.py
  polecat/github.py
  polecat/supervisor_loop.py
  tests/polecat/test_github.py
Due: none

fix(polecat): address PR #290 review comments — consolidate storage routing
  polecat/cli.py
  polecat/manager.py
  polecat/pkb_bridge.py
Due: none

[Burst] aops-framework: academicops-448724d3 (#150)
  aops-core/skills/butler/SKILL.md
  aops-core/skills/swarm-supervisor/SKILL.md
  dist/aops-claude/.claude-plugin/plugin.json
  dist/aops-claude/commands/email.md
  dist/aops-claude/indices/FILES.md
  dist/aops-claude/pyproject.toml
  dist/aops-claude/skills/butler/SKILL.md
  dist/aops-claude/skills/daily/SKILL.md
  dist/aops-claude/skills/daily/instructions/briefing-and-triage.md
  dist/aops-claude/skills/daily/instructions/progress-sync.md
  dist/aops-claude/skills/daily/instructions/work-summary.md
  dist/aops-claude/skills/hydrator/workflows/email-capture.md
  dist/aops-claude/skills/hydrator/workflows/references/email-capture-details.md
  dist/aops-claude/skills/sleep/SKILL.md
  dist/aops-claude/skills/swarm-supervisor/SKILL.md
  polecat/prompt_template.py
Due: dprint, check-framework-integrity

delete specs
  specs/planning-web-spec.md
  specs/planning-web-theme-guide.md
Due: dprint

fix(polecat): resolve all basedpyright type errors in cli.py
  polecat/cli.py
Due: none

update pr pipeline
  .github/workflows/agent-merge-prep.yml
  .github/workflows/merge-prep-cron.yml
  .github/workflows/pr-pipeline.yml
  specs/pr-pipeline-v2.md
Due: dprint

rename pr-pipeline-v2.md to pr-pipeline.md and update all references
  .github/workflows/agent-autofix.yml
  .github/workflows/agent-merge-prep.yml
  .github/workflows/lint.yml
  .github/workflows/merge-prep-cron.yml
  .github/workflows/summary-and-merge.yml.disabled
  .github/workflows/typecheck.yml
  specs/AUDIT-specs-2026-03-07.md
  specs/INDEX.md
  specs/conceptual-review-workflow.md
  specs/pr-pipeline.md
Due: dprint

add /retro command: critical transcript review with /learn integration
  aops-core/SKILLS.md
  aops-core/commands/retro.md
  dist/aops-claude/commands/retro.md
Due: dprint, check-framework-integrity

redesign sleep graph maintenance as data quality reconciliation
  aops-core/skills/hydrator/workflows/email-capture.md
  aops-core/skills/hydrator/workflows/references/email-capture-details.md
  aops-core/skills/planner/SKILL.md
  aops-core/skills/sleep/SKILL.md
  specs/sleep-cycle.md
  templates/github-workflows/sleep-cycle.yml
Due: dprint, check-framework-integrity

remove intentions infrastructure, improve planner decomposition
  aops-core/SKILLS.md
  aops-core/commands/intend.md
  aops-core/commands/pull.md
  aops-core/skills/butler/SKILL.md
  aops-core/skills/daily/instructions/focus-and-recommendations.md
  aops-core/skills/daily/instructions/reflect.md
  aops-core/skills/planner/SKILL.md
  aops-core/skills/planner/workflows/decompose.md
  dist/aops-claude/.claude-plugin/plugin.json
  dist/aops-claude/SKILLS.md
  dist/aops-claude/commands/intend.md
  dist/aops-claude/commands/pull.md
  dist/aops-claude/indices/FILES.md
  dist/aops-claude/pyproject.toml
  dist/aops-claude/skills/butler/SKILL.md
  dist/aops-claude/skills/daily/instructions/focus-and-recommendations.md
  dist/aops-claude/skills/daily/instructions/reflect.md
  dist/aops-claude/skills/planner/SKILL.md
  dist/aops-claude/skills/planner/workflows/decompose.md
  specs/INDEX.md
  specs/effectual-planning-agent.md
  specs/intentions.md
Due: dprint, check-framework-integrity

fix: add P#119 to bound subagent scope before dispatch (#356)
  aops-core/HEURISTICS.md
  aops-core/agents/custodiet.md
  aops-core/skills/butler/enforcement-map.md
Due: dprint

update /retro with batch mode guidelines from 21-session retro run
  aops-core/commands/retro.md
Due: dprint, check-framework-integrity

fix(e2e): separate timeout skips from assertion failures in binaries test
  tests/e2e/test_docker_session.py
Due: none

feat(research): move /research skill from aops-tools to aops-core
  aops-core/SKILLS.md
  aops-core/skills/research/SKILL.md
  aops-core/skills/research/instructions/experiment-logging.md
  aops-core/skills/research/instructions/methodology-files.md
  aops-core/skills/research/instructions/methods-vs-methodology.md
  aops-core/skills/research/references/assumptions_and_diagnostics.md
  aops-core/skills/research/references/bayesian_statistics.md
  aops-core/skills/research/references/effect_sizes_and_power.md
  aops-core/skills/research/references/reporting_standards.md
  aops-core/skills/research/references/statistical-analysis.md
  aops-core/skills/research/references/test_selection_guide.md
  aops-tools/SKILLS.md
Due: dprint, check-framework-integrity

refactor: remove intentions infrastructure — consolidate to priority-only ranking
  aops-core/SKILLS.md
  aops-core/commands/intend.md
  aops-core/commands/pull.md
  aops-core/skills/daily/instructions/focus-and-recommendations.md
  aops-core/skills/daily/instructions/reflect.md
  specs/INDEX.md
  specs/effectual-planning-agent.md
  specs/intentions.md
Due: dprint, check-framework-integrity

remove intentions infrastructure, improve planner decomposition
  aops-core/SKILLS.md
  aops-core/commands/intend.md
  aops-core/commands/pull.md
  aops-core/skills/butler/SKILL.md
  aops-core/skills/daily/instructions/focus-and-recommendations.md
  aops-core/skills/daily/instructions/reflect.md
  aops-core/skills/planner/SKILL.md
  aops-core/skills/planner/workflows/decompose.md
  specs/INDEX.md
  specs/effectual-planning-agent.md
  specs/intentions.md
Due: dprint, check-framework-integrity

fix: address gemini review feedback on reflect.md
  aops-core/skills/daily/instructions/reflect.md
Due: dprint

update VISION.md with intentions cut, rebuild dist/
  dist/aops-claude/.claude-plugin/plugin.json
  dist/aops-claude/SKILLS.md
  dist/aops-claude/commands/intend.md
  dist/aops-claude/commands/pull.md
  dist/aops-claude/commands/retro.md
  dist/aops-claude/indices/FILES.md
  dist/aops-claude/pyproject.toml
  dist/aops-claude/skills/butler/SKILL.md
  dist/aops-claude/skills/daily/instructions/focus-and-recommendations.md
  dist/aops-claude/skills/daily/instructions/reflect.md
  dist/aops-claude/skills/planner/SKILL.md
  dist/aops-claude/skills/planner/workflows/decompose.md
  docs/VISION.md
Due: dprint, check-framework-integrity

rebuild dist/ after merging PR #254
  dist/aops-claude/skills/planner/SKILL.md
  dist/aops-claude/skills/planner/workflows/decompose.md
Due: dprint, check-framework-integrity

move /research skill to aops-core, narrow triggers
  aops-core/SKILLS.md
  aops-core/skills/research/SKILL.md
  aops-core/skills/research/instructions/experiment-logging.md
  aops-core/skills/research/instructions/methodology-files.md
  aops-core/skills/research/instructions/methods-vs-methodology.md
  aops-core/skills/research/references/assumptions_and_diagnostics.md
  aops-core/skills/research/references/bayesian_statistics.md
  aops-core/skills/research/references/effect_sizes_and_power.md
  aops-core/skills/research/references/reporting_standards.md
  aops-core/skills/research/references/statistical-analysis.md
  aops-core/skills/research/references/test_selection_guide.md
  aops-tools/SKILLS.md
Due: dprint, check-framework-integrity

rebuild dist/ after research skill move
  dist/aops-claude/SKILLS.md
  dist/aops-claude/indices/FILES.md
  dist/aops-claude/skills/research/SKILL.md
  dist/aops-claude/skills/research/instructions/experiment-logging.md
  dist/aops-claude/skills/research/instructions/methodology-files.md
  dist/aops-claude/skills/research/instructions/methods-vs-methodology.md
  dist/aops-claude/skills/research/references/assumptions_and_diagnostics.md
  dist/aops-claude/skills/research/references/bayesian_statistics.md
  dist/aops-claude/skills/research/references/effect_sizes_and_power.md
  dist/aops-claude/skills/research/references/reporting_standards.md
  dist/aops-claude/skills/research/references/statistical-analysis.md
  dist/aops-claude/skills/research/references/test_selection_guide.md
Due: dprint, check-framework-integrity
