Repository nicsuzor/academicOps: changes, and which pre-commit hooks are due for each by the changed paths.
All: dprint, check-framework-integrity

.pre-commit-config.yaml:

# Pre-commit hooks for academicOps framework governance
# See https://pre-commit.com for more info

repos:
  # Markdown/JSON/TOML validation (dprint - check-only, no auto-fix)
  # Ruff check --fix auto-fixes what it can; ruff-format checks formatting
  - repo: local
    hooks:
      - id: dprint
        name: dprint check
        entry: uv run dprint check
        language: system
        types_or: [markdown, json, toml]
        pass_filenames: true

  # Markdown linting (catches issues dprint doesn't fix)
  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.12.1
    hooks:
      - id: markdownlint-cli2
        exclude: '^archived/'

  # Standard hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: '\.excalidraw$'
      - id: end-of-file-fixer
        exclude: '\.excalidraw$'
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
        args: ['--maxkb=500']

  # Python linting (auto-fix enabled)
  # Ruff check --fix auto-fixes what it can; ruff-format checks formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.4
    hooks:
      - id: ruff
        args: [--fix]
        exclude: '^archived/'
      - id: ruff-format
        args: [--check]
        exclude: '^archived/'

  # Framework integrity checks (index wikilinks, skill entries, workflow length)
  # Consolidates check-workflow-length + new index integrity validation
  - repo: local
    hooks:
      - id: check-framework-integrity
        name: framework integrity check
        entry: uv run python scripts/check_framework_integrity.py
        language: system
        pass_filenames: false
        files: '(WORKFLOWS|SKILLS)\.md$|workflows/.*\.md$|skills/.*/SKILL\.md$|commands/.*\.md$'

  # Type checking and full framework health checks run in CI only
  # (see .github/workflows/framework-health.yml)
  #
  # Moved to CI:
  # - basedpyright: full type analysis too slow for every commit
  # - check-skill-line-count: whole-repo scan, not file-scoped
  # - check-orphan-files: whole-repo scan, not file-scoped
  # - check-framework-integrity --full: slow full codebase wikilink scan
  # - audit_framework_health: comprehensive audit

revamp neon
  overwhelm-dashboard/src/app.css
  overwhelm-dashboard/src/lib/components/DetailPanel.svelte
  overwhelm-dashboard/src/lib/components/Sidebar.svelte
  overwhelm-dashboard/src/lib/components/dashboard/ActiveSessions.svelte
  overwhelm-dashboard/src/lib/components/dashboard/PathTimeline.svelte
  overwhelm-dashboard/src/lib/components/dashboard/ProjectDashboard.svelte
  overwhelm-dashboard/src/lib/components/dashboard/QuickCapture.svelte
  overwhelm-dashboard/src/lib/components/dashboard/SynthesisPanel.svelte
  overwhelm-dashboard/src/lib/components/dashboard/WhereYouLeftOff.svelte
  overwhelm-dashboard/src/lib/components/shared/NodeShapes.ts
  overwhelm-dashboard/src/lib/components/views/ForceView.svelte
  overwhelm-dashboard/src/lib/stores/selection.ts
  overwhelm-dashboard/src/routes/+page.svelte
Due: none

prepare for stitch
  download_stitch.py
  lib/overwhelm/test_dump.py
  overwhelm-dashboard/src/app.html
  overwhelm-dashboard/static/assets/stitch/10_The_Operator_System_PRD.html
  overwhelm-dashboard/static/assets/stitch/11_Holographic_Flow_Interface_PRD.html
  overwhelm-dashboard/static/assets/stitch/12_Deep_Storage_Backlog.html
  overwhelm-dashboard/static/assets/stitch/12_Deep_Storage_Backlog.png
  overwhelm-dashboard/static/assets/stitch/13_The_Graph_Network_View.html
  overwhelm-dashboard/static/assets/stitch/13_The_Graph_Network_View.png
  overwhelm-dashboard/static/assets/stitch/14_The_Void_Home.html
  overwhelm-dashboard/static/assets/stitch/14_The_Void_Home.png
  overwhelm-dashboard/static/assets/stitch/15_Deep_Dive_Project_View.html
  overwhelm-dashboard/static/assets/stitch/15_Deep_Dive_Project_View.png
  overwhelm-dashboard/static/assets/stitch/16_The_Stream_Inbox.html
  overwhelm-dashboard/static/assets/stitch/16_The_Stream_Inbox.png
  overwhelm-dashboard/static/assets/stitch/17_Tactical_Overview_Dashboard.html
  overwhelm-dashboard/static/assets/stitch/17_Tactical_Overview_Dashboard.png
  overwhelm-dashboard/static/assets/stitch/18_Surface_Layer_Task_Mode.html
  overwhelm-dashboard/static/assets/stitch/18_Surface_Layer_Task_Mode.png
  overwhelm-dashboard/static/assets/stitch/1_Generated_Screen.html
  overwhelm-dashboard/static/assets/stitch/1_Generated_Screen.png
  overwhelm-dashboard/static/assets/stitch/2_Theme_Switcher_Interface.html
  overwhelm-dashboard/static/assets/stitch/2_Theme_Switcher_Interface.png
  overwhelm-dashboard/static/assets/stitch/3_Operator_ForceAtlas2_Topology.html
  overwhelm-dashboard/static/assets/stitch/3_Operator_ForceAtlas2_Topology.png
  overwhelm-dashboard/static/assets/stitch/4_Holographic_ForceAtlas2_Topology.html
  overwhelm-dashboard/static/assets/stitch/4_Holographic_ForceAtlas2_Topology.png
  overwhelm-dashboard/static/assets/stitch/5_Operator_Project_Tree_Map.html
  overwhelm-dashboard/static/assets/stitch/5_Operator_Project_Tree_Map.png
  overwhelm-dashboard/static/assets/stitch/6_Holographic_Project_Tree_Map.html
  overwhelm-dashboard/static/assets/stitch/6_Holographic_Project_Tree_Map.png
  overwhelm-dashboard/static/assets/stitch/7_Operator_TUI_CRUD_Console.html
  overwhelm-dashboard/static/assets/stitch/7_Operator_TUI_CRUD_Console.png
  overwhelm-dashboard/static/assets/stitch/8_Holographic_CRUD_Interface.html
  overwhelm-dashboard/static/assets/stitch/8_Holographic_CRUD_Interface.png
  overwhelm-dashboard/static/assets/stitch/9_Session_Output_Focus_Mode.html
  overwhelm-dashboard/static/assets/stitch/9_Session_Output_Focus_Mode.png
  overwhelm-dashboard/svelte.config.js
Due: none

two themes
  overwhelm-dashboard/src/app.html
  overwhelm-dashboard/src/lib/components/DetailPanel.svelte
  overwhelm-dashboard/src/lib/components/Sidebar.svelte
  overwhelm-dashboard/src/routes/+layout.svelte
  overwhelm-dashboard/src/routes/+page.svelte
Due: none

feat(dashboard): implement Operator System UI from Stitch PRD
  dashboard_view.png
  download_stitch.py
  editor_view.png
  overwhelm-dashboard/src/lib/components/Sidebar.svelte
  overwhelm-dashboard/src/lib/components/dashboard/ActiveSessions.svelte
  overwhelm-dashboard/src/lib/components/dashboard/DashboardView.svelte
  overwhelm-dashboard/src/lib/components/dashboard/PathTimeline.svelte
  overwhelm-dashboard/src/lib/components/dashboard/ProjectDashboard.svelte
  overwhelm-dashboard/src/lib/components/dashboard/QuickCapture.svelte
  overwhelm-dashboard/src/lib/components/dashboard/SynthesisPanel.svelte
  overwhelm-dashboard/src/lib/components/dashboard/WhereYouLeftOff.svelte
  overwhelm-dashboard/src/lib/components/shared/ZoomContainer.svelte
  overwhelm-dashboard/src/lib/components/views/ArcView.svelte
  overwhelm-dashboard/src/lib/components/views/CirclePackView.svelte
  overwhelm-dashboard/src/lib/components/views/TaskEditorView.svelte
  overwhelm-dashboard/src/lib/components/views/ThreadedTasksView.svelte
  overwhelm-dashboard/src/lib/components/views/TreemapView.svelte
  overwhelm-dashboard/src/lib/data/prepareGraphData.ts
  overwhelm-dashboard/src/lib/stores/viewSettings.ts
  overwhelm-dashboard/src/routes/+layout.svelte
  overwhelm-dashboard/src/routes/+page.svelte
  overwhelm-dashboard/static/assets/stitch/19_Operator_Threaded_CRUD_Console.html
  overwhelm-dashboard/static/assets/stitch/19_Operator_Threaded_CRUD_Console.png
  overwhelm-dashboard/static/assets/stitch/20_Holographic_Threaded_Task_List.html
  overwhelm-dashboard/static/assets/stitch/20_Holographic_Threaded_Task_List.png
  overwhelm-dashboard/static/assets/stitch/21_Operator_Task_Editor.html
  overwhelm-dashboard/static/assets/stitch/21_Operator_Task_Editor.png
  overwhelm-dashboard/static/assets/stitch/22_Holographic_Task_Inspector.html
  overwhelm-dashboard/static/assets/stitch/22_Holographic_Task_Inspector.png
  specs/overwhelm-dashboard.md
  threaded_tasks_view.png
Due: dprint

docs: save enhanced Stitch prompt for Overwhelm Dashboard UX refinement
  overwhelm_dashboard_ux_refinement.md
Due: dprint

fix(dashboard): use relative paths and remove hardcoded Mac paths
  overwhelm-dashboard/src/lib/data/prepareGraphData.ts
  overwhelm-dashboard/src/lib/server/dump_dashboard_data.py
  overwhelm-dashboard/src/routes/+page.server.ts
  overwhelm-dashboard/vite.config.ts
Due: none

feat(dashboard): refine UI styling and add QA screenshots
  overwhelm-dashboard/qa/screenshots/01-cold-open-dashboard.png
  overwhelm-dashboard/qa/screenshots/02-treemap-view.png
  overwhelm-dashboard/src/app.css
  overwhelm-dashboard/src/lib/components/shared/Legend.svelte
  overwhelm-dashboard/src/lib/components/views/ArcView.svelte
  overwhelm-dashboard/src/lib/components/views/CirclePackView.svelte
  overwhelm-dashboard/src/lib/components/views/ThreadedTasksView.svelte
  overwhelm-dashboard/src/lib/components/views/TreemapView.svelte
  overwhelm-dashboard/src/routes/+layout.svelte
  overwhelm-dashboard/src/routes/+page.svelte
Due: none

feat(dashboard): update test_dump and add QA screenshots
  lib/overwhelm/test_dump.py
  overwhelm-dashboard/qa/screenshots/03-treemap-rendering.png
  overwhelm-dashboard/qa/screenshots/04-circlepack-view.png
  overwhelm-dashboard/qa/screenshots/05-force-atlas2-view.png
  overwhelm-dashboard/qa/screenshots/06-sfdp-view.png
  overwhelm-dashboard/qa/screenshots/07-arc-diagram-view.png
  overwhelm-dashboard/qa/screenshots/08-node-click-detail-panel.png
  overwhelm-dashboard/qa/screenshots/09-node-selected-detail.png
  overwhelm-dashboard/qa/screenshots/10-holographic-theme.png
Due: none

feat(dashboard): update app.css and add QA screenshots
  overwhelm-dashboard/qa/screenshots/11-amber-theme-fresh.png
  overwhelm-dashboard/qa/screenshots/12-amber-theme-fn.png
  overwhelm-dashboard/qa/screenshots/13-amber-restored.png
  overwhelm-dashboard/qa/screenshots/14-holographic-theme-cyan.png
  overwhelm-dashboard/qa/screenshots/15-filter-active-unchecked.png
  overwhelm-dashboard/qa/screenshots/16-filter-completed-checked.png
  overwhelm-dashboard/qa/screenshots/17-threaded-tasks-view.png
  overwhelm-dashboard/src/app.css
Due: none

docs(qa): add Svelte dashboard QA results 2026-03-07
  overwhelm-dashboard/qa/svelte-dashboard-qa-results-2026-03-07.md
Due: dprint

spec: add Planning Web Svelte application spec
  specs/planning-web-spec.md
Due: dprint

Remove UV_CACHE_DIR Seatbelt workaround from Gemini hooks
  scripts/build.py
  scripts/lib/build_utils.py
Due: none

docs: add data pipeline architecture spec for SvelteKit dashboard
  overwhelm-dashboard/docs/data-pipeline.md
Due: dprint

feat(dashboard): wire SvelteKit dashboard to existing data files
  overwhelm-dashboard/package.json
  overwhelm-dashboard/src/routes/+page.server.ts
Due: dprint

chore: remove lib/fast-indexer (moved to nicsuzor/mem)
  lib/fast-indexer/Cargo.lock
  lib/fast-indexer/Cargo.toml
  lib/fast-indexer/README.md
  lib/fast-indexer/examples/pre-commit
  lib/fast-indexer/src/main.rs
Due: dprint

fix(learn): record incidents to PKB instead of GitHub issues
  aops-core/commands/learn.md
Due: dprint, check-framework-integrity

chore: reset version to 0.2.0 for clean-slate release
  .claude-plugin/marketplace.json
  .release-please-manifest.json
  CHANGELOG.md
  aops-core/.claude-plugin/plugin.json
  gemini-extension.json
Due: dprint

fix(ci): use PAT instead of SSH deploy key for dist repo clone
  .github/workflows/build-extension.yml
Due: none

fix(ci): use OAuth token for iOS note capture instead of API key
  .github/workflows/ios-note-capture.yml
Due: none

auto: sync 2026-03-11 15:47
  .github/rulesets/pr-review-and-merge.yml
  scripts/sync-ruleset.sh
Due: none

auto: sync 2026-03-11 15:51
  aops-core/hooks/hooks.json
Due: dprint

auto: sync 2026-03-11 16:01
  .github/workflows/agent-axiom-review.yml
  .github/workflows/agent-review-and-fix.yml
  aops-core/INSTALLATION.md
  aops-core/hooks/autocommit_state.py
  aops-core/hooks/generate_transcript.py
  aops-core/hooks/policy_enforcer.py
  aops-core/hooks/router.py
  aops-core/hooks/session_end_commit_check.py
  aops-core/hooks/session_env_setup.py
  aops-core/hooks/unified_logger.py
  aops-core/hooks/user_prompt_submit.py
  aops-core/lib/ascii_tree.py
  aops-core/lib/paths.py
  aops-core/lib/task_index.py
  aops-core/lib/task_model.py
  aops-core/lib/task_storage.py
  aops-core/lib/task_sync.py
  aops-core/scripts/assess_samples.py
  aops-core/scripts/custodiet_block.py
  aops-core/scripts/pipeline_status.py
  aops-core/scripts/show_path.py
  aops-core/scripts/transcript.py
  aops-core/skills/framework/procedures/01-design-new-component.md
  aops-core/skills/framework/references/hooks.md
  scripts/build.py
  scripts/install.py
  setup.sh
Due: dprint

"Update Claude PR Assistant workflow"
  .github/workflows/claude.yml
Due: none

"Claude Code Review workflow"
  .github/workflows/claude-code-review.yml
Due: none

auto: sync 2026-03-11 16:12
  aops-core/hooks/session_env_setup.py
Due: none

auto: sync 2026-03-11 16:17
  aops-core/INSTALLATION.md
  aops-core/hooks/hooks.json
  aops-core/skills/framework/references/hooks.md
  scripts/build.py
Due: dprint

auto: sync 2026-03-11 16:26
  .github/workflows/agent-assessor.yml
  .github/workflows/agent-auditor.yml
  aops-core/hooks/router.sh
Due: none

chore: use 'uv run python' in hooks and scripts (v0.2.1)
  gemini-extension.json
  scripts/audit_framework_health.py
  scripts/automated_test_harness.py
  scripts/build_hydrator_test_input.py
  scripts/bump_version.py
  scripts/check_framework_integrity.py
  scripts/check_no_fallbacks.py
  scripts/check_orphan_files.py
  scripts/check_skill_line_count.py
  scripts/convert_commands_to_toml.py
  scripts/convert_mcp_to_gemini.py
  scripts/dropbox_monitor.py
  scripts/extract_fixtures.py
  scripts/generate-viz.sh
  scripts/refinery.py
  scripts/repo-sync-cron.sh
  scripts/repo-sync.sh
  scripts/scan_session_summaries.py
  scripts/setup-machine.sh
  scripts/sync-ruleset.sh
  scripts/sync_brain_to_memory.py
  scripts/synthesize_dashboard.py
  scripts/task_graph.py
  scripts/task_graph_d3.py
  scripts/task_graph_elk.py
  scripts/task_graph_gt.py
  scripts/task_graph_ogdf.py
  scripts/task_graph_sfdp.py
Due: dprint

add data
  overwhelm-dashboard/src/lib/data/constants.ts
  overwhelm-dashboard/src/lib/data/prepareGraphData.ts
Due: none

auto: sync 2026-03-11 06:22
  overwhelm-dashboard/src/lib/components/views/TaskEditorView.svelte
  overwhelm-dashboard/src/lib/components/views/ThreadedTasksView.svelte
  overwhelm-dashboard/src/routes/+page.svelte
Due: none

auto: sync 2026-03-11 06:16
  overwhelm-dashboard/src/lib/components/shared/ZoomContainer.svelte
  overwhelm-dashboard/src/lib/components/views/TaskEditorView.svelte
Due: none

fix: restrict auto-commit to ACA_DATA and sessions only
  scripts/repo-sync-cron.sh
  scripts/repo-sync.sh
Due: none

auto: sync 2026-03-11 07:26
  overwhelm-dashboard/src/lib/components/views/TaskEditorView.svelte
  overwhelm-dashboard/src/lib/data/prepareGraphData.ts
  overwhelm-dashboard/src/routes/+page.svelte
Due: none

auto: sync 2026-03-11 07:41
  overwhelm-dashboard/src/lib/components/views/TaskEditorView.svelte
Due: none

auto: sync 2026-03-11 07:46
  overwhelm-dashboard/src/routes/+layout.svelte
Due: none

auto: sync 2026-03-11 07:51
  overwhelm-dashboard/holographic.html
  overwhelm-dashboard/operator.html
  overwhelm-dashboard/src/app.css
  overwhelm-dashboard/src/lib/stores/viewSettings.ts
  overwhelm-dashboard/src/routes/+layout.svelte
  overwhelm-dashboard/src/routes/+page.svelte
  overwhelm-dashboard/treemap_operator.html
Due: none

fix: update test to check claude_code_oauth_token instead of anthropic_api_key
  tests/test_ios_note_capture_workflow.py
Due: none

auto: sync 2026-03-11 08:11
  overwhelm-dashboard/src/lib/components/shared/NodeShapes.ts
  overwhelm-dashboard/src/lib/components/views/ForceView.svelte
  overwhelm-dashboard/src/lib/components/views/TaskEditorView.svelte
  overwhelm-dashboard/src/lib/data/prepareGraphData.ts
  overwhelm-dashboard/src/lib/stores/viewSettings.ts
  overwhelm-dashboard/src/routes/+page.svelte
Due: none

update dash
  overwhelm-dashboard/src/routes/api/task/+server.ts
Due: none
