Repository nicsuzor/academicOps: changes, and which pre-commit hooks are due for each by the changed paths.
All: dprint, check-framework-integrity

dprint:
  name: dprint check
  entry: uv run dprint check
  language: system
  pass_filenames: true

check-framework-integrity:
  name: framework integrity check
  entry: uv run python scripts/check_framework_integrity.py
  language: system
  pass_filenames: false

fix: restore ARCHITECTURE.md, update axioms path to plugins/rbg/axioms, fix pyright
  .agents/CORE.md
  .agents/rules/RULES.md
  .github/copilot-instructions.md
  pyproject.toml
  specs/ARCHITECTURE.md
  templates/github-agent/worker.agent.md
Due: dprint

chore(dev): release 0.10.2
  .release-please-manifest.json
  CHANGELOG.md
  pyproject.toml
Due: dprint

spec(capture-intake): convert Task captures in place; directory is the only unprocessed marker
  specs/workflows/capture-intake.md
Due: dprint, check-framework-integrity

feat(workflow-library): add wf-research-and-implement composite workflow and components
  plugins/ida/skills/workflow-library/workflows/wf-human-approval.md
  plugins/ida/skills/workflow-library/workflows/wf-research-and-implement.md
  plugins/ida/skills/workflow-library/workflows/wf-research.md
  plugins/ida/skills/workflow-library/workflows/wf-spec.md
Due: dprint, check-framework-integrity

fix(workflow-library): templates state contracts, not neighbours, and end in review at human gates
  plugins/ida/skills/workflow-library/SKILL.md
  plugins/ida/skills/workflow-library/workflows/wf-human-approval.md
  plugins/ida/skills/workflow-library/workflows/wf-research-and-implement.md
  plugins/ida/skills/workflow-library/workflows/wf-research.md
  plugins/ida/skills/workflow-library/workflows/wf-spec.md
Due: dprint, check-framework-integrity

fix(workflow-library): drop git-history rule and scope/non-goals steps per review
  plugins/ida/skills/workflow-library/SKILL.md
  plugins/ida/skills/workflow-library/workflows/wf-research-and-implement.md
  plugins/ida/skills/workflow-library/workflows/wf-research.md
  plugins/ida/skills/workflow-library/workflows/wf-spec.md
Due: dprint, check-framework-integrity

chore(dev): release 0.10.3
  .release-please-manifest.json
  CHANGELOG.md
  pyproject.toml
Due: dprint

session-trace: drop direct Phoenix access instructions
  plugins/ida/skills/session-trace/SKILL.md
Due: dprint, check-framework-integrity

learn: point to ida:session-trace
  plugins/ida/skills/learn/SKILL.md
Due: dprint, check-framework-integrity

fix(debug): repoint skill at Phoenix via services MCP proxy
  .agents/skills/debug/SKILL.md
  .agents/skills/debug/references/sql-recipes.md
Due: dprint, check-framework-integrity

dispatch: read project finish template and mint QA follow-up when required
  .agents/templates/wf-finish.md
  plugins/ida/skills/dispatch/SKILL.md
  plugins/ida/skills/workflow-library/workflows/wf-finish.md
  specs/workflows/finish-template.md
  specs/workflows/workflow.md
Due: dprint, check-framework-integrity

refactor(reconcile): peer-Ida evidence check, remove merge_ready and reconcile systemd trigger
  .agents/templates/wf-handover.md
  plugins/ida/skills/dump/SKILL.md
  plugins/ida/skills/gather/SKILL.md
  plugins/ida/skills/reconcile/SKILL.md
  scripts/systemd-user/aops-reconcile-run.sh
  scripts/systemd-user/aops-reconcile.service
  scripts/systemd-user/aops-reconcile.timer
  specs/agents/sara.md
  specs/future/session-insights-prompt.md
  specs/polecat/spec-partial-work-tight-loop-delivery.md
  specs/workflows/capture-intake.md
  specs/workflows/reconcile.md
  tests/policy.toml
Due: dprint, check-framework-integrity

feat(ida): add message hard cap to user interaction rules (aops_1a79f494)
  plugins/ida/agents/ida.md
Due: dprint

update language for hooks
  plugins/ida/hooks/messages/hearsay.md
  plugins/ida/hooks/messages/quiet.md
Due: dprint

specs: independent review revisions to report-verification proposal
  specs/enforcement/report-verification.md
Due: dprint

specs: propose claim-ledger reports and arrival-time premise-check (aops_89015fc6)
  specs/enforcement/report-verification.md
Due: dprint

specs(enforcement): revise report-verification design for aops_90ee4118
  specs/enforcement/report-verification.md
Due: dprint

feat(ida): re-enable hearsay, honesty and quiet hooks (aops_89015fc6)
  plugins/aops-debug/hooks/dispatch.py
  plugins/ida/hooks/dispatch.py
  plugins/ida/hooks/handlers.py
  plugins/ida/manifest/hooks.json
  plugins/rbg/hooks/dispatch.py
  specs/enforcement/enforcement.md
  specs/enforcement/report-verification.md
  tests/policy.toml
  tests/test_ida_hooks.py
  tests/test_plugin_manifests.py
Due: dprint

fix(ida): use gender-neutral language in user interaction rules (aops_01aec230)
  plugins/ida/agents/ida.md
Due: dprint

refactor(dispatch): generalize workflow composition and target version branch
  .agents/templates/wf-finish.md
  plugins/ida/skills/dispatch/SKILL.md
  plugins/ida/skills/workflow-library/workflows/wf-finish.md
  specs/workflows/finish-template.md
  specs/workflows/workflow.md
Due: dprint, check-framework-integrity

fix(reconcile): add remediation clause, clarify review escalation, and update worker pull/reconcile specs
  plugins/ida/skills/pull/SKILL.md
  plugins/ida/skills/reconcile/SKILL.md
  plugins/ida/skills/remember/references/consolidation.md
  specs/agents/sara.md
  specs/workflows/capture-intake.md
  specs/workflows/reconcile.md
Due: dprint, check-framework-integrity

fix(ida): expand channel reply tools to ask_question, robustify agent_type resolution, record §9 resolutions
  plugins/aops-debug/hooks/dispatch.py
  plugins/ida/hooks/dispatch.py
  plugins/ida/hooks/handlers.py
  plugins/rbg/hooks/dispatch.py
  specs/enforcement/report-verification.md
  tests/test_ida_hooks.py
Due: dprint

fix(reconcile): remove hardcoded agent names to keep reconcile modular per review
  plugins/ida/skills/reconcile/SKILL.md
  specs/workflows/reconcile.md
Due: dprint, check-framework-integrity

refactor(dispatch): bring workflow assembly ordering and scope rules into dispatch
  plugins/ida/skills/dispatch/SKILL.md
  plugins/ida/skills/workflow-library/SKILL.md
Due: dprint, check-framework-integrity

fix(reconcile): report unreadable repositories as unreadable in ida:reconcile (aops_3cb6b3fc)
  plugins/ida/skills/reconcile/SKILL.md
Due: dprint, check-framework-integrity

refactor(reconcile): make inspection checks modular and execution runner-agnostic
  plugins/ida/skills/reconcile/SKILL.md
  specs/workflows/reconcile.md
Due: dprint, check-framework-integrity

feat(hooks): turn on automatic PKB hydration on UserPromptSubmit for Ida (aops_7433bc81)
  plugins/ida/hooks/handlers.py
  tests/policy.toml
  tests/test_ida_hooks.py
  tests/test_pkb_handlers.py
Due: dprint

feat(dispatch,pull): count fact-check and qa only in separate run after release (aops_42bf192c)
  plugins/ida/skills/dispatch/SKILL.md
  plugins/ida/skills/pull/SKILL.md
  plugins/ida/skills/workflow-library/SKILL.md
  plugins/ida/skills/workflow-library/workflows/wf-fact-check.md
  plugins/ida/skills/workflow-library/workflows/wf-qa.md
Due: dprint, check-framework-integrity

spec(enforcement): define human delivery contract and follow-up decoupling
  followups.md
  specs/enforcement/human-delivery-contract.md
Due: dprint

fix(enforcement): address review fixes for human delivery contract
  followups.md
  plugins/ida/skills/workflow-library/workflows/wf-human-approval.md
  specs/enforcement/human-delivery-contract.md
Due: dprint, check-framework-integrity

fix(enforcement): address round 3 review fixes for human delivery contract
  specs/enforcement/human-delivery-contract.md
Due: dprint

feat(ida): extract Gemini token counts from Antigravity payloads into Phoenix traces
  plugins/ida/hooks/agy_tracer.py
  plugins/ida/hooks/token_extractor.py
  tests/test_agy_tracer_tokens.py
Due: none

fix(enforcement): address round 4 review fixes for human delivery contract
  specs/enforcement/human-delivery-contract.md
Due: dprint

fix(ida): typecheck errors in agy_tracer.py
  plugins/ida/hooks/agy_tracer.py
Due: none

fix(enforcement): address round 5 review fixes for workers-append rule wording
  specs/enforcement/human-delivery-contract.md
Due: dprint

Path conditions:
  dprint: any of: \.(md|markdown|mdown)$, \.json$, \.toml$
  check-framework-integrity: any of: (WORKFLOWS|SKILLS)\.md$|workflows/.*\.md$|skills/.*/SKILL\.md$|commands/.*\.md$
